._*
.agignore
.gitignore
*.swp
*.pyc
*.o
.project
Makefile
blib
pm_to_blib
MYMETA.json
MYMETA.yml
api.log
irodsEnv
irodsEnv_local
irodsA
irodsA_local
web/tmp
web/data
coge.conf
web/js/vendor
web/js/jbrowse/*
web/js/jbrowse/plugins/*
!web/js/jbrowse
!web/js/jbrowse/plugins/
!web/js/jbrowse/plugins/CoGe
web/js/jbrowsedev
web/js/jbrowsedev/*
\#*\#
modules/perl
/.externalToolBuilders/
/.ignorepath
/.includepath
bin/get_chr_start/get_chr_start
experiments
