*.pyc
*.o
.project
blib
pm_to_blib
MYMETA.json
MYMETA.yml
Makefile
irodsEnv
irodsA
web/tmp
web/data
web/coge.conf
web/js/vendor
web/js/jbrowse/*
web/js/jbrowse/plugins/*
!web/js/jbrowse
!web/js/jbrowse/plugins/
!web/js/jbrowse/plugins/CoGe
\#*\#
modules/perl
/.externalToolBuilders/
/.ignorepath
/.includepath
