._*
.agignore
.gitignore
*.swp
*.pyc
*.o
.project
Makefile
blib
pm_to_blib
MYMETA.json
MYMETA.yml
api.log
irods*
web/tmp
web/data
coge.conf
web/js/vendor
web/js/jbrowse/*
web/js/jbrowse/plugins/*
!web/js/jbrowse
!web/js/jbrowse/plugins/
!web/js/jbrowse/plugins/CoGe
web/js/JBrowse-1.12.1-dev/
JBrowse-1.12.3/
\#*\#
modules/perl
/.externalToolBuilders/
/.ignorepath
/.includepath
bin/get_chr_start/get_chr_start
experiments
.agignore
.DS_Store
._*
node_modules
.idea
tests
web/services/hypnotoad.pid
coge.conf.*
Cargo.lock
**/*.rs.bk
target
