<SCRIPT language="JavaScript">
// Begin Widget API -----------------------------------------------------------
// Required user-defined Perl AJAX functions:
//		add_annotation
//		update_annotation
// Must call init_annotation_dialog() on page load
// Need pageObj

$(function() {
    coge.services.init({
        baseUrl: '<TMPL_VAR NAME="API_BASE_URL">',
        userName: '<TMPL_VAR NAME="USER_NAME">',
        //debug: true
    });
});

class Annotations {
	constructor(div_id, api_path, parent_id, default_type) {
		this.div_id = div_id;
		this.api_path = api_path;
		this.parent_id = parent_id;
		this.default_type = default_type;
	}

	show_add_dialog() {
		$('#edit_annotation').val('');
		$('#edit_annotation_link').val('');
		$('#edit_annotation_type').val($('#annotation_edit_box').data('default_type'));
		$('#edit_annotation_type_group').val('');
		$('#edit_annotation_image').val('');

		$('#add_annotation_button').show();
		$('#update_annotation_button').hide();

		$("#annotation_edit_box").dialog({title: "Add Annotation", width: '32em'}).dialog('open');
	}

	show_edit_dialog(aid) {
		coge.services.fetch_annotation($('#annotation_edit_box').data('api_path'), $('#annotation_edit_box').data('parent_id'), aid).done(function(obj) {
			$('#edit_annotation').val(obj.annotation);
			$('#edit_annotation_link').val(obj.link);
			$('#edit_annotation_type').val(obj.type);
			$('#edit_annotation_type_group').val(obj.type_group);
			$('#edit_annotation_image').val('');
			$('#add_annotation_button').hide();
			$('#update_annotation_button').data({annotation_id: aid}).show();
			$("#annotation_edit_box").dialog({title: "Edit Annotation", width: '32em'}).dialog('open');
		});
	}

	add_annotation () {
		var annotation = $('#edit_annotation').val();
		var type = $('#edit_annotation_type').val();

		if (!annotation) {
			alert('Please enter some annotation text.');
		}
		else if(!type) {
			alert ('Please specify a type.');
		}
		else {
			var type_group = $('#edit_annotation_type_group').val();
			var link = $('#edit_annotation_link').val();

			var annotation_image_file = $('#edit_annotation_image')[0].files[0];

			if (annotation_image_file) {
				if (!verify_image_file(annotation_image_file)) {
					return;
				}

				$("#wait_annotation").animate({opacity:1});
			}
			else {
				annotation_image_file = '';
			}

			var parent_id = $('#annotation_edit_box').data('parent_id');
			$('#edit_annotation_image').fileupload('send', {
				files: annotation_image_file,
				formData: {
					fname: 'add_annotation',
					parent_id: parent_id,
					type_group: type_group,
					type: type,
					annotation: annotation,
					link: link
				}
			});
		}
	}

	update_annotation() {
		var annotation = $('#edit_annotation').val();
		var type = $('#edit_annotation_type').val();

		if (annotation && type) {
			var type_group = $('#edit_annotation_type_group').val();
			var link = $('#edit_annotation_link').val();
			var aid = $('#update_annotation_button').data('annotation_id');
			var annotation_image_file = $('#edit_annotation_image')[0].files[0];

			if (annotation_image_file) {
				if (!verify_image_file(annotation_image_file)) {
					return;
				}
				$("#wait_annotation").animate({opacity:1});
			}
			else {
				annotation_image_file = '';
			}

			$('#edit_annotation_image').fileupload('send', {
				files: annotation_image_file,
				formData: {
					fname: 'update_annotation',
					aid: aid,
					type_group: type_group,
					type: type,
					annotation: annotation,
					link: link
				}
			});
		}
	}

	image_preview(obj, preview) {
		var id = obj.src; // need a unique identifier for the obj
		if (pageObj.timers[id]) {
			clearInterval(pageObj.timers[id]);
			pageObj.timers[id] = null;
		}

		if (preview) {
			pageObj.timers[id] = setTimeout(
				function() {
					$(obj).animate({width:200, height:200});
					pageObj.timers[id] = null;
				},
				500
			);
		}
		else {
			pageObj.timers[id] = setTimeout(
				function() {
					$(obj).animate({width:40, height:40});
					pageObj.timers[id] = null;
				},
				500
			);
		}
	}
}

// End Widget API -------------------------------------------------------------

$(function() {
	$("#edit_annotation_type").autocomplete({source:[]});
	$("#edit_annotation_type_group").autocomplete({source: function() { get_annotation_type_groups(); }});

    $('#edit_annotation_image').fileupload({
        dataType: 'json',
        replaceFileInput: false,
        add:
            function(e, data) {
                return true;
            },
        done:
            function(e, data) {
                get_annotations();
                $("#wait_annotation").hide();
                $("#annotation_edit_box").dialog('close');
            }
    });
});

function wait_to_search (search_func) {
	if (pageObj.time) {
		clearTimeout(pageObj.time);
	}

	pageObj.time = setTimeout(function() { search_func(); }, 500);
}

function search_annotation_types () {
	type_group  = $("#edit_annotation_type_group").val();
	search_term = $("#edit_annotation_type").val();
	if (search_term.length > 2) {
		$.ajax({
			data: {
				fname: 'search_annotation_types',
				type_group: type_group,
				search_term: search_term,
			},
			success : function(val) {
				var items = jQuery.parseJSON(val);
				$("#edit_annotation_type").autocomplete("option", "source", items);
				$("#edit_annotation_type").autocomplete("search");
			},
		});
	}
}

function get_annotation_type_groups () {
	coge.services.fetch_annotation_type_groups().done(function(items){
		$("#edit_annotation_type_group").autocomplete("option", "source", items);
		$("#edit_annotation_type_group").autocomplete("search");
	});
}

function verify_image_file(file) {
	ext = file.name.split('.').pop().toLowerCase();
	if (ext != 'jpg' && ext != 'jpeg' && ext != 'gif' && ext != 'png' && ext != 'svg' ) {
		alert('Error: specified file is not an image');
		return false;
	}
	return true;
}
</SCRIPT>

<div id="annotation_edit_box" class="dialog_box hidden">
  <table class="small">
    <tr valign='top'>
      <td>Annotation:</td>
      <td><textarea id="edit_annotation" rows=5 style="width:380px;" ></textarea></td>
    </tr>
    <tr>
      <td>Link:</td>
      <td><input id="edit_annotation_link" type="textbox" style="width:380px;" /></td>
    </tr>
    <tr>
      <td>Type:</td>
      <td><input id="edit_annotation_type" onkeypress="wait_to_search(search_annotation_types, 0, this.value);" style="width:380px;" /></td>
    </tr>
    <tr>
      <td>Type&nbsp;Group:</td>
      <td><input id="edit_annotation_type_group" style="width:300px;" /> (optional)</td>
    </tr>
    <tr>
      <td valign='top'>Image:</td>
      <td>
        <input id="edit_annotation_image" name="edit_annotation_image" type="file" />
      </td>
    </tr>
  </table>
  <span id='add_annotation_button' onClick="add_annotation();" class='coge-button r'>Add</span>
  <span id='update_annotation_button' onClick="update_annotation();" class='hidden coge-button r'>Update</span>
  <img id="wait_annotation" src="picts/ajax-loader.gif" style="opacity: 0;" />
</div>
