<div id="certified_box" class="inline padded link hidden" style="display: none;" title="Click for more info on CoGe-certified genomes..." onclick="window.open('https://genomevolution.org/wiki/index.php/Certified_genomes');">
	<span class="glyphicon glyphicon-ok coge-certified-icon"></span>
	<span class="coge-small-text">Certified Genome<span>
</div>