<style>
.ui-resizable-helper {
	border: 1px solid gray;
    background-color: gray;
    opacity: .2;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: 1em !important;
}
table {
	border-collapse:collapse;
}
</style>
<TMPL_UNLESS NAME='DIR_SELECT'>
<script id="fileselect-template" type="text/template">
	<div>
	  <ul>
	    <li class="small"><a href="#fileselect-tab-1">CyVerse Data Store</a></li>
	    <li class="small"><a href="#fileselect-tab-2">FTP/HTTP</a></li>
	    <li class="small"><a href="#fileselect-tab-3">Upload</a></li>
	    <TMPL_IF NAME='ENABLE_NCBI'>
	    <li class="small"><a href="#fileselect-tab-4">GenBank</a></li>
	    </TMPL_IF>
	    <TMPL_IF NAME='ENABLE_SRA'>
	    <li class="small"><a href="#fileselect-tab-4">NCBI-SRA</a></li>
	    </TMPL_IF>
	  </ul>
</TMPL_UNLESS>
	
	  <div id="fileselect-tab-1" class="small">
		<div class="nowrap coge-border-bottom" style="min-height:1.6em;">
			<span id="ids_status" style="float:right;"></span>
			<input class="fileselect-filter r" type="search" placeholder="Search" size="25" style="margin-right:15px;min-height:1em;" />
			<span class='link fileselect-home'><span class='ui-icon ui-icon-home'></span>Home</span>&nbsp;&nbsp;
			<TMPL_UNLESS NAME='DIR_SELECT'>
			<span class='link fileselect-shared'><span class='ui-icon ui-icon-folder-collapsed'></span>Community Data</span>&nbsp;&nbsp;
			</TMPL_UNLESS>
			<span class='link fileselect-up'><span class='ui-icon ui-icon-arrowreturnthick-1-n'></span>Go Up</span>&nbsp;&nbsp;
			<span class='link fileselect-refresh'><span class='ui-icon ui-icon-refresh'></span>Refresh</span>&nbsp;&nbsp;
			<TMPL_UNLESS NAME='DISABLE_IRODS_GET_ALL'>
			<span class='link fileselect-getall'><span class='ui-icon ui-icon-transferthick-e-w'></span>Get All Files</span>&nbsp;&nbsp;
			</TMPL_UNLESS>
			<TMPL_IF NAME='DIR_SELECT'>
			<span class='link fileselect-mkdir'><span class='ui-icon ui-icon-plus'></span>Create Directory</span>
			</TMPL_IF>
		</div>
		<div id="ids_current_path" style="word-wrap:break-word; font-weight:bold; padding-top:10px;"></div>
	    <div id="ids_panel" style="overflow-y:auto;overflow-x:auto;height:154px;padding-top:4px;">
	    	<table id="ids_table" class="small" style="width:100%;"></table>
	    </div>
	  </div>
		
<TMPL_UNLESS NAME='DIR_SELECT'>
	  <div id="fileselect-tab-2" class="small">
	  	Enter the location of the file or directory to retrieve.<br><br>
	    URL: <input id="input_url" size="60" style="color:gray;"/>
	    <span class="link" onclick="$(this).hide(); $('#ftp_login').fadeIn();" style="padding-top:5px;">Login (optional)...</span>
	    <span id="ftp_login" style="display:none;padding-top:5px;">
	    	Username: <input id="input_username" size="15" style="color:gray;"/>
	    	Password: <input id="input_password" size="15" style="color:gray;"/>
	    </span>
	    <span id="ftp_get_button" class='ui-state-disabled coge-button coge-button-sm' style="margin-bottom:3px"> Go </span><br><br>
	    <div id="ftp_list_head" class="hidden nowrap coge-border-bottom" style="min-height:1.6em;">
				<span id="ftp_status" style="float:right;"></span>
				<input class="ftpselect-filter r" type="search" placeholder="Search" size="25" style="margin-right:15px;" />
				<span class='link ftpselect-home'><span class='ui-icon ui-icon-home'></span>Home</span>&nbsp;&nbsp;
				<span class='link ftpselect-up'><span class='ui-icon ui-icon-arrowreturnthick-1-n'></span>Go Up</span>&nbsp;&nbsp;
				<span class='link ftpselect-refresh'><span class='ui-icon ui-icon-refresh'></span>Refresh</span>&nbsp;&nbsp;
				<TMPL_UNLESS NAME='DISABLE_FTP_GET_ALL'>
				<span class='link ftpselect-getall'><span class='ui-icon ui-icon-transferthick-e-w'></span>Get All Files</span>&nbsp;&nbsp;
				</TMPL_UNLESS>
			</div>
			<div id="ftp_current_path" style="word-wrap:break-word; font-weight:bold; padding-top:10px;"></div>
			<div id="ftp_panel" style="overflow-y:auto;overflow-x:auto;height:154px;padding-top:4px;">
				<table id="ftp_table" class="small" style="width:100%;"></table>
			</div>
	  </div>

	  <div id="fileselect-tab-3" class="small" style="height:200px;">
		Select a file to upload from your computer.  This method is best for smaller files (less than 200MB, 2GB maximum).
		For larger files use the CyVerse Data Store. <br><br><br>
	    File: <input id="input_upload_file" name="input_upload_file" type="file" size="30" data-url='<TMPL_VAR NAME="PAGE_NAME">' />
	  </div>
	
	  <TMPL_IF NAME='ENABLE_NCBI'>
	  <div id="fileselect-tab-4" class="small" style="height:200px;">
	    Enter the NCBI GenBank accession number of the item to add.<br><br>
	    <div>
	      <span>Accession: <input id="input_accn" size="15" spellcheck="false"/></span>
	      <span id="ncbi_get_button" class='ui-state-disabled coge-button coge-button-sm'> Get </span>
	      <span id="ncbi_status" class="note" style="padding-left:15px;min-height:50px;"></span>
	    </div>
	    <div class="note" style="padding-top:20px">
	    	Note: The organism, version, type, and source fields do not need to be specified.  The restricted option
	    	is ignored, all data from NCBI is made public.
	    </div>
	  </div>
	  </TMPL_IF>

	  <TMPL_IF NAME='ENABLE_SRA'>
	  <div id="fileselect-tab-4" class="small" style="height:200px;">
		<div>Enter the NCBI Short Read Archive (SRA) accession number(s) that begin with the prefixes SRR, SRX, SRP, and PRJ:<br><br></div>
		<div style="width:25em;">
			<textarea id="input_accn" spellcheck="false" placeholder="For example, SRR292240" class="no-resize info" style="width:100%;height:10em;"></textarea>
			<div>
				<span id="sra_get_button" class='ui-state-disabled coge-button coge-button-sm r'> Get </span>
				<span id="sra_status" style="padding-left:15px;min-height:50px;"></span>
			</div>
		</div>
	  </div>
	  </TMPL_IF>
	</div>
</script>
</TMPL_UNLESS>

<div id="dirname_dialog" title="Create new directory" style="display:none">
  <form>
    <fieldset>
      <label for="name">Name:</label>
      <input id="dirname">
    </fieldset>
  </form>
</div>
<script type="text/javascript">
	function get_dirname(on_ok) {
		var dialog = $( "#dirname_dialog" ).dialog({
	      	autoOpen: true,
	      	height: 150,
	      	width: 300,
	      	modal: true,
	      	buttons: {
	        	Cancel: function() { dialog.dialog("close"); },
	        	OK: function() { on_ok($('#dirname').val());dialog.dialog("close"); }
	      	}
	    });
	}
</script>