<link rel="stylesheet" type="text/css" href="js/jbrowse/css/genome.css">
<style>
.coge-hist {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}
.background.bar {
  fill: #ccc;
}
.foreground.bar {
  fill: steelblue;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font: 10px sans-serif;
}
.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}
.brush .resize path {
  fill: #eee;
  stroke: #666;
}
tr.file {
	cursor: default !important;
}
.dijitSelectLabel {
	padding: 5px;
}
</style>
<TMPL_INCLUDE NAME="Progress.tmpl">
<script src="js/vendor/d3/d3.min.js"></script>
<script src="js/jbrowse/src/dojo/dojo.js" data-dojo-config="async: 1"></script>
<script src="js/jbrowse/src/JBrowse/init.js"></script>
<script>
    // Page constants
    const USER_NAME     = '<TMPL_VAR NAME="USER_NAME">';
    // File Select constants
    const MAX_IRODS_LIST_FILES     = '<TMPL_VAR NAME="MAX_IRODS_LIST_FILES">';
    const MAX_IRODS_TRANSFER_FILES = '<TMPL_VAR NAME="MAX_IRODS_TRANSFER_FILES">';

    window.onerror=function(msg){
        if( document.body )
            document.body.setAttribute("JSError",msg);
    }

    var JBrowse;
    var api_base_url;
    var gid;
    function init_JBrowse(id, apiBaseUrl, callback) { // mdb added apiBaseUrl, 2/3/15 COGE-289
    	api_base_url = apiBaseUrl;
	    require( { baseUrl: 'js/jbrowse/src',
	    		   packages: [ 'dojo', 'dijit', 'dojox', 'jszlib',
	    		               { name: 'lazyload', main: 'lazyload' },
	    		               'dgrid', 'xstyle', 'put-selector',
	    		               { name: 'jDataView', location: 'jDataView/src', main: 'jdataview' },
	    		               'JBrowse'
	    		             ]
	      		 },
	      	['JBrowse/Browser', 'dojo/io-query', 'dojo/json' ],
	        function (Browser,ioQuery,JSON) {
	      		var queryParams = ioQuery.queryToObject( window.location.search.slice(1) );
	            gid = queryParams.gid || queryParams.dsgid;
	            //var dataRoot = queryParams.data || 'data';
	            if (!apiBaseUrl) apiBaseUrl = '';
	            var track_config_url = apiBaseUrl + '/config/tracks/?gid=' + gid;
	            if (queryParams['user_id'])
	            	track_config_url += '&user_id=' + queryParams['user_id'];
	            if (queryParams['experiments'])
	            	track_config_url += '&experiments=' + queryParams['experiments'];
	            var config = {
	                containerID: id,
	                browserRoot: 'js/jbrowse/',
	                refSeqs: apiBaseUrl + '/config/refseq/?gid=' + gid, //'services/JBrowse/service.pl/config/refseq/?gid='+gid, //refSeqs: dataRoot + "/seq/refSeqs.json",
	                baseUrl: '/',//'js/jbrowse/',//dataRoot+'/', // mdb changed 1/15/14 for JBrowse-1.11.1
	                include: [track_config_url],
	                //nameUrl: dataRoot + "/names/root.json",
	                defaultTracks: "sequence,features",
	                queryParams: queryParams,
	                location: queryParams.loc || '1:1..150000',//queryParams.loc,
	                forceTracks: queryParams.tracks,
	                initialHighlight: queryParams.highlight,
	                datasets: null,
	                show_nav: 1,//queryParams.nav,
	                show_tracklist: 1,//queryParams.tracklist,
	                show_overview: 1,//queryParams.overview,
	                //stores: { url: { type: "JBrowse/Store/SeqFeature/FromConfig", features: [] } },
	                makeFullViewURL: function( browser ) {
	                    // the URL for the 'Full view' link
	                    // in embedded mode should be the current
	                    // view URL, except with 'nav', 'tracklist',
	                    // and 'overview' parameters forced to 1.
	                    return browser.makeCurrentViewURL({ nav: 1, tracklist: 1, overview: 1 });
	                },
	                updateBrowserURL: true,
	                refSeqDropdown: true,		// mdb added 12/11/14, issue COGE-567
	                refSeqSelectorMaxSize: 1000,	// mdb added 12/11/14, issue COGE-567
	                names: { type: 'REST', url: apiBaseUrl + '/genome/' + gid + '/genes' },
	            };

			    coge.services.init({
			    	baseUrl: api_base_url.substring(0, api_base_url.length - 7),
			    	userName: USER_NAME
			    });

	            JBrowse = new Browser( config );
	            if (callback) callback(JBrowse);
	      	}
	    );
    }
    $(function() {
        coge.progress.init({
	    	title: "Creating Experiment",
	    	baseUrl: api_base_url,
	    	userName: USER_NAME
	    });
	});
</script>
<script src="js/coge/services.js"></script>
<script src="js/coge/progress.js"></script>
<script src="js/coge/utils.js"></script>
<script src="js/coge/file-select.js"></script>