<!-- ChIP-seq Analysis -->
<script id="chipseq-template" type="text/template">
	<div class="form-section">
	    <h4>ChIP-seq Analysis</h4>
	    <div class="form-field">
	        <label class="col-md-2">Enable:</label>
	        <input id="chipseq" type="checkbox">
	    </div>
	
	    <div id="chipseq-container" class="form-field hidden">
	        <label class="col-md-2">Options:</label>
	        <div class="form-group">
		        <div class="form-entry" title="Select the file to be the input, the others will be treated as replicates">
		            <label>input file:</label>
		            <select id="chipseq-input">
	                </select>
		        </div>
	        	<div class="form-entry" title="Peak size">
		            <label>-size:</label>
		            <input id="-size" type="number" value="250"/>
		        </div>
	            <div class="form-entry" title="Effective mappable genome size">
		            <label>-gsize:</label>
		            <input id="-gsize" type="number" value="3000000000"/>
		        </div>
	            <div class="form-entry" title="Tag count to normalize to">
		            <label>-norm:</label>
		            <input id="-norm" type="number" value="10000000"/>
		        </div>
	            <div class="form-entry" title="False discovery rate">
		            <label>-fdr:</label>
		            <input id="-fdr" type="number" value="0.01"/>
		        </div>
	            <div class="form-entry" title="Fold enrichment over input tag count">
		            <label>-F:</label>
		            <input id="-F" type="number" value="3"/>
		        </div>
	        </div>
	    </div>
	</div>
</script>

<!-- Methylation Analysis -->
<script id="methyl-template" type="text/template">
    <div class="form-section">
	    <h4>Methylation Analysis</h4>

	    <div class="form-field">
            <label class="col-md-2">Enable:</label>
            <input id="methyl" type="checkbox">
        </div>

        <div id="methyl-container" class="hidden"></div>
    </div>
</script>

<!-- Methylation Pipeline Templates -->
<script id="bismark-methyl-template" type="text/template">
        <div class="form-field">
            <label class="col-md-2">Bismark:</label>
            <div class="form-group">
                <div class="form-entry" title="Remove PCR duplicates with bismark_deduplicate.">
                    <label>Deduplicate</label>
                    <input id="bismark-deduplicate" type="checkbox"/>
                </div>
                <div class="form-entry" title="Filter output methylation summary for this minimum coverage level.">
                    <label>Minimum Coverage</label>
                    <input id="bismark-min_coverage" type="number" value="5"/>
                </div>
                <div class="form-entry" title="Ignore bisulfite mismatches within this many nucleotides of the 5' end.">
                    <label>--ignore</label>
                    <input id="--ignore" type="number" value="0"/>
                </div>
                <div class="form-entry" title="Ignore bisulfite mismatches within this many nucleotides of the 3' end.">
                    <label>--ignore_3prime</label>
                    <input id="--ignore_3prime" type="number" value="0"/>
                </div>
                <div class="form-entry" title="Ignore bisulfite mismatches within this many nucleotides of the 5' end of read two of paired end data (only active if paired end data is specified).">
                    <label>--ignore_r2</label>
                    <input id="--ignore_r2" type="number" value="0"/>
                </div>
                <div class="form-entry" title="Ignore bisulfite mismatches within this many nucleotides of the 3' end of read two of paired end data (only active if paired end data is specified).">
                    <label>--ignore_3prime_r2</label>
                    <input id="--ignore_3prime_r2" type="number" value="0"/>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="bwameth-methyl-template" type="text/template">
    <div id="bwameth">
        <div class="form-field">
            <label class="col-md-2">BWA-meth/PileOMeth:</label>
            <div class="form-group">
                <div class="form entry" title="Remove PCR duplicates with picard tools.">
                    <label>Deduplicate</label>
                    <input id="picard-deduplicate" type="checkbox"/>
                </div>
                <div class="form-entry" title="Filter output methylation summary for this minimum coverage level.">
                    <label>Minimum Coverage</label>
                    <input id="pileometh-min_coverage" type="number" value="5"/>
                </div>
                <div class="form-entry" title="Inclusion regions for methylation calls from original top strand (default: entire read '0,0,0,0') (see documentation).">
                    <label>--OT</label>
                    <input id="--OT" type="text" value="0,0,0,0"/>
                </div>
                <div class="form-entry" title="Inclusion regions for methylation calls from original top bottom (default: entire read '0,0,0,0') (see documentation).">
                    <label>--OB</label>
                    <input id="--OB" type="text" value="0,0,0,0"/>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="metaplot-template" type="text/template">
	<div id="metaplot">
	    <div class="form-field">
	        <label class="col-md-2">Metaplot:</label>
	        <div class="form-group">
		        <div class="form entry" title="Generate plot of average methylation across all genes.">
		            <label>Enable</label>
		            <input id="metaplot-enable" type="checkbox"/>
		        </div>
		        <div id="metaplot-options" class="hidden">
			        <div class="form-entry" title="Distance outside of each gene (bp)">
	                    <label>Outer distance</label>
	                    <input id="metaplot-outer" type="number" value="2000"/>
	                </div>
	                <div class="form-entry" title="Distince inside of each gene (bp)">
	                    <label>Inner distance</label>
	                    <input id="metaplot-inner" type="number" value="5000"/>
	                </div>
	                <div class="form-entry" title="Window size (bp)">
	                    <label>Window size</label>
	                    <input id="metaplot-window" type="number" value="100"/>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</script>

<!-- SNP Analysis -->
<script id="snp-template" type="text/template">
    <div class="form-section">
        <h4>SNP Analysis</h4>

        <div class="form-field">
            <label class="col-md-2">Enable:</label>
            <input id="snps" type="checkbox">
        </div>

        <div id="snp-method-container" class="form-field hidden">
            <label class="col-md-2">Method:</label>
            <select id="snp-method" disabled>
                <option value="coge">CoGe Basic</option>
                <option value="samtools">SAMtools</option>
                <option value="platypus">Platypus</option>
                <option value="gatk">GATK</option>
            </select>
        </div>

        <div id="snp-container" class="hidden"></div>
    </div>
</script>

<script id="snp-template2" type="text/template">
<div class="form-section">
    <div class="form-field">
        <label class="col-md-2">Method:</label>
        <select id="snp-method" disabled>
            <option value="coge" selected>CoGe Basic</option>
            <option value="samtools">SAMtools</option>
            <option value="platypus">Platypus</option>
            <option value="gatk">GATK</option>
        </select>
    </div>

    <div id="snp-container" class="hidden"></div>
</div>
</script>

<!-- SNP Finder Method Templates -->
<script id="coge-snp-template" type="text/template">
    <div id="coge">
        <div class="form-field">
            <label class="col-md-2">CoGe:</label>
            <div class="form-group">
                <div class="form-entry">
                    <label>minimum read depth:</label>
                    <input id="min-read-depth" type="number" value="10"/>
                </div>
                <div class="form-entry">
                    <label>minimum base quality:</label>
                    <input id="min-base-quality" type="number" value="20"/>
                </div>
                <div class="form-entry">
                    <label>minimum high-quality allele count:</label>
                    <input id="min-allele-count" type="number" value="4"/>
                </div>
                <div class="form-entry">
                    <label>minimum allele frequency:</label>
                    <input id="min-allele-freq" type="number" step="0.1" value="0.1"/>
                </div>
                <div class="form-entry">
                    <label>scale for FAST quality encoding:</label>
                    <input id="scale" type="number" value="32"/>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="samtools-snp-template" type="text/template">
    <div id="samtools" class="form-field">
        <label class="col-md-2">Samtools:</label>
        <div class="form-group">
            <div class="form-entry">
                <label>minimum read depth:</label>
                <input id="min-read-depth" type="number" value="6"/>
            </div>
            <div class="form-entry">
                <label>maximum read depth:</label>
                <input id="max-read-depth" type="number" value="10"/>
            </div>
        </div>
    </div>
</script>

<script id="platypus-snp-template" type="text/template">
    <div id="platypus" class="form-field">
        <label class="col-md-2">Platypus:</label>
        <div class="form-group italic">
        	No options
        </div>
    </div>
</script>

<script id="gatk-snp-template" type="text/template">
    <div id="gatk" class="form-field">
        <label class="col-md-2">GATK (<a href="https://software.broadinstitute.org/gatk/gatkdocs/org_broadinstitute_gatk_tools_walkers_haplotypecaller_HaplotypeCaller.php" target="_blank" class="small link">docs</a>):</label>
        <div class="form-group">
            <div class="form-entry">
                <label>-stand_call_conf:</label>
                <input id="-stand_call_conf" type="number" value="30"/>
            </div>
            <div class="form-entry">
                <label>-stand_emit_conf:</label>
                <input id="-stand_emit_conf" type="number" value="10"/>
            </div>
        </div>
    </div>
</script>

<!-- Expression Analysis -->
<script id="expression-template" type="text/template">
	<div class="form-section">
	    <h4>Expression Analysis</h4>
	    <div class="form-field">
	        <label class="col-md-2">Enable:</label>
	        <input id="expression" type="checkbox">
	    </div>
	
	    <div id="expression-container" class="form-field hidden">
	        <label class="col-md-2">Cufflinks:</label>
	        <div class="form-group">
                <div class="form-entry" title="Only count reads with base quality greater than this value (samtools depth)">
                    <label>-q:</label>
                    <input id="-q" type="number" value="20">
                </div>
                <div class="form-entry" title="Use bias detection and correction algorithm which can significantly improve accuracy of transcript abundance estimates (cufflinks)">
                    <label>-frag-bias-correct:</label>
                    <input id="-frag-bias-correct" type="checkbox" checked>
                </div>
                <div class="form-entry" title="Use an initial estimation procedure to more accurately weight reads mapping to multiple locations in the genome (cufflinks)">
                    <label>-multi-read-correct:</label>
                    <input id="-multi-read-correct" type="checkbox" checked>
                </div>
            </div>

	    </div>
	</div>
</script>
