<script id="progress-template" type="text/template">
    <div class="log"></div>
    <div style="padding-top:0.75em;min-height:2em;">
        <span class="status hidden"></span>
        <span class="small progress-link r hidden"></span>
        <span class="buttons"></span>
        <span class="ok coge-button hidden r">OK</span>
    	<span class="cancel coge-button coge-button-danger hidden r">Cancel</span>
        <span class="logfile text hidden">... See <a href="" target="_blank">Log File</a> for details</span>
    </div>
</script>