<script id="wizard-template" type="text/template">
	<div id="wizard" class="wizard wizard-coge">
	    <div class="header">
	        <div class="sections">
	        </div>
	        <div class="r small link">Need help?</div>
	    </div>
	    <div id='error_help_text' class='alert-box alert-box-warn hidden'></div>
	    <div id="step-container"></div>
		<br>
	    <div class="nav-control coge-buttonset">
	        <div class="done coge-button r" style="width:5em;">Start</div>
	        <div class="next coge-button r" style="width:5em;">Next</div>
	        <div class="prev coge-button"   style="width:5em;" disabled>Previous</div>
	    </div>
	</div
</script>
