@import url(coge-spinner.css);
@import url(layout.css);
@import url(glyphicons.css);

.coge-dialog-content {
    height: 12.5em;
    width: 28.125em;
    text-align: center;
    color: dimgray;
}

.coge-dialog-status {
    padding-top: 1em;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, fixed;
  line-height: 1.125; /* 18/16 = 1.125 */
  font-size: 16px;
  background: #FFFFFF;
  margin: 0;
  height: 100%;
}

html {
    height: 100%;
}

select {
    background-color: white;
    border: 1px solid lightgray;
}

a, a:visited {
    color: #007000;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #009900;
    cursor: pointer;
}

.hidden {
	display: none;
}

.text {
    color: dimgray;
}

.note {
    color: gray;
    font-style: italic;
}

.italic {
    font-style: italic;
}

.info {
    color: gray;
}

.coge-nowrap {
    white-space: nowrap;
}

.coge-certified-icon {
    color: white;
    background-color: #e5c100;
    font-size: 0.70em;
    border-radius: 50%;
    border: 1px solid #b29600;
    padding: 3px;
}

.coge-small-text {
    font-family: 'Arial';
    font-size: 0.85em;
    color: dimgray;   
}

.highlighted {
    background-color: yellow;    
}

.coge-inlaid {
    text-shadow: 0px 1px 0px lightgray;
}

.coge-pill {
    padding-bottom: 1px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 15px;
    color: white;
}

.indent {
    padding-left: 20px;
}

.coge_link {
  color: #660066;
  font-size: 0.875em; /* 14/16 = 0.875 */
}

.coge-underline {
    text-decoration: underline;
}

.coge-bg { 
    background: #f5f5f5;
}

.coge-green {
    color: #119911;
}

.coge-bg-green {
    background-color: #119911;
}

.coge-bg-gray {
    background-color: gray;
}

.coge-gold {
    color: #e5c100;
}

.coge-bg-gold {
    background-color: #e5c100;
}

.coge-gray {
    color: gray;
}

.coge-bg-gray {
    color: gray;
}

.coge-white {
    color: white;
}

.coge-bg-white {
    background-color: white;
}

.alert {
  color: red;
}

.up {
  color: #660000;
}

.down {
  color: #003300;
}

.main {
  color: #000099;
}

div.box {
  padding: 10px;
  padding-bottom: 70px;
  margin-top: 3px;
  overflow-y: auto;
}

div.footer {
	position: relative;
	margin-top: -50px;
	padding-right: 7px;
	height: 50px;
	clear: both;
	border-top: 1px solid lightgray;
}

div.panel {
  padding: 5px;
}

select {
    font-size: 0.85em !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.prep {
  white-space: pre;
}

.title {
  color: #000099;
  font-style: oblique;
}

.title1 {
  font-size: 1.5em; /* 24/16 = 1.5 */
  color: #000099;
  font-style: oblique;
}

.title2 {
  font-size: 1.25em; /* 20/16 = 1.25 */
  color: #000099;
  font-style: oblique;
}

.title3 {
  font-size: 1.125em; /* 18/16 = 1.125 */
  color: #000099;
  font-style: oblique;
}

.title4 {
  color: #000099;
}

.title5 {
  font-size: 0.875em; /* 14/16 = 0.875 */
  color: #000099;
}

.title6 {
  font-size: 0.75em; /* 12/16 = 0.75 */
  color: #000099;
  font-style: oblique;
}

.data {
  color: #009900;
}

.data1 {
  font-size: 1.5em; /* 24/16 = 1.5 */
  color: #009900;
}

.data2 {
  font-size: 1.25em; /* 20/16 = 1.25 */
  color: #009900;
}

.data3 {
  font-size: 1.125em; /* 18/16 = 1.125 */
  color: #009900;
}

.data4 {
  color: #009900;
}

.data5 {
  font-size: 0.875em; /* 14/16 = 0.875 */
  color: #009900;
}
.data6 {
  font-size: 0.75em; /* 12/16 = 0.75 */
  color: #009900;
}

.error-box {
  border:1px solid lightgray;
  text-align:center;
  padding:5px;
  margin-left:auto;
  margin-right:auto;
  color:dimgray;
  background-color:mistyrose;
}

/* mdb removed 4/30/13 - conflict with jbrowse, doesn't appear to be used anyway */
/* .container{
  border: 1px solid red;
  overflow: auto;
} */

.inner{
  overflow:auto;
  display:none;
  color: #cc6600;
}

.xsmall {
  font-size: 0.75em; /* 12/16 = 0.75 */
}

.small {
  font-size: 0.875em; /*  14/16 = 0.875 */
}

.medium {
    font-size: 1.25em /* 18/16 = 1.125; */
}

.large {
  font-size: 1.5em; /* 24/16 = 1.5 */
}

.error {
  font-size: 1.5em; /* 24/16 = 1.5 */
  color: red;
  text-decoration: blink;
}

.alert {
  color: red;
}

.ital {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

.oblique_bold {
  font-style: oblique;
  font-weight: bold;
  font-size: 1.5em; /* 24/16 = 1.5 */
}

.annotation {
  font-style: oblique;
  font-weight: bold;
  font-size: 1.5em; /* 24/16 = 1.5 */
  color: #009900;
}

.backbox {
 color: #000099;
 background: #F7FFF7;
}

.seqbackbox
{
 width: 100%;
 background: #cbfecb;
 border:1px solid #00FF36;
}

.species {
  font-style: oblique;
  color: #009900;
}

.loading {
  font-style: oblique;
  color: #990000;
  font-size: 1.5em; /* 24/16 = 1.5 */
  text-decoration: blink;
}

.plain {
 border-top-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 0px;
 border-left-width: 0px;
 border-style: hidden;
 border-collapse: collapse;
 border: 0;
 width: 100%;
}

.bold {
  font-weight: bold;
}

.coge-outline {
    border:1px solid lightgray;
}

.te {
  float:left;
  width: 20%;
}

.l {
  float: left;
}

.r {
  float: right;
}

.tlh {
  float: left;
  width: 6px;
  height: 23px;
  background-image: url(/CoGe/picts/table/table_bg_head_tl.png);
}

.th {
  float: left;
  width: 6px;
  height: 23px;
  background-image: url(/CoGe/picts/table/table_bg_head_t.png);
}

.coge-table-header {
    color: dimgray;
    font-weight: bold;
}

.coge-code {
    font-family: "Courier New";
}

.tht {
  float: left;
  width: 90%;
  height: 23px;
  background-image: url(/CoGe/picts/table/table_bg_head_t.png);
  font-style: oblique;
  color: #009900;
}

.trh {
  float: left;
  width: 6px;
  height: 23px;
  background-image: url(/CoGe/picts/table/table_bg_head_tr.png);
}
.tlb {
  float: left;
  height: 9px;
  width: 6px;
  background-image: url(/CoGe/picts/table/table_bg_body_tl.png);
}

.tb {
  float: left;
  width: 90%;
  height: 9px;
  background-image: url(/CoGe/picts/table/table_bg_body_t.png);
}

.trb {
  float: left;
  width: 6px;
  height: 9px;
  background-image: url(/CoGe/picts/table/table_bg_body_tr.png);
}

.lh {
  float: left;
  width: 6px;
  height: 9px;
  background-image: url(/CoGe/picts/table/table_bg_head_l.png);
}

.lb {
  float: left;
  width: 6px;
  height: 9px;
  background-image: url(/CoGe/picts/table/table_bg_body_l.png);
}

.rh {
  float: left;
  width: 6px;
  height: 9px;
  background-image: url(/CoGe/picts/table/table_bg_head_r.png);
}

.rb {
  float: left;
  width: 6px;
  height: auto;
  background-image: url(/CoGe/picts/table/table_bg_body_r.png);
}

.blh {
  float: left;
  width: 6px;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_head_bl.png);
  text-align: left;
}

.bht {
  float: left;
  width: 90%;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_head_b.png);
  text-align: left;
}

.bh {
  float: left;
  width: 6px;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_head_b.png);
  text-align: left;
}

.brh {
  float: left;
  width: 6px;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_head_br.png);
  text-align: left;
}
.blb {
  float: left;
  width: 6px;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_body_bl.png);
  text-align: left;
}

.bb {
  float: left;
  width: 90%;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_body_b.png);
  text-align: left;
}

.brb {
  float: left;
  width: 6px;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_body_br.png);
  text-align: left;
}

.space {
  float: left;
  width: 6px;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/spacer-1x1.png);
  text-align: left;
}

.row2 {
 padding: 0;
 margin: 0px auto;
}

.cell {
  float:left;
  width:90%;
  padding: 0;
  margin: 0px auto;
}


.row {
  clear: both;
  }

#info {
  width:800px;
  height:200px;
  border:1px solid black;
  overflow:scroll;
}

.page {
  color: #EEFFEE;
}

table.basic {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-style: none;
	border-color: #000000; /* black */
	border-collapse: collapse;
	background-color: #FFFFFF; /* darker gray */
}

table.columns {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	background-color: #FFFFFF; /* darker gray */
	border-color: #000000; /* black */
}

tr.Aodd {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-collapse: collapse;
	border-color: #000000; /* black */
	border-style: solid;
	background-color: #AAAAAA; /* darker gray */
}

tr.Aeven {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-collapse: collapse;
	border-color: #000000; /* black */
	border-style: solid;
	background-color: #CCCCCC; /* lighter gray */
}

td.Atopcell {
	border-top-width: 1px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-style: solid;
	border-color: #000000; /* black */
}

td.Abotcell {
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-style: solid;
	border-color: #000000; /* black */
}

td.Amidcell {
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-style: solid;
	border-color: #000000; /* black */
}

td.Arightcell {
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: #000000; /* black */
}

td.Aleftcell {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 0px;
	border-style: solid;
	border-color: #000000; /* black */
}

tr.ltgreen {
	background-color: #CCFFCC;
        border-top-width: 1px;
        border-bottom-width: 1px;
}

tr.ltblue {
	background-color: #CCFFFF;
}

.topItem
{
  background: url(/CoGe/picts/menus/coge_gradient.png) repeat-x;
  padding-left:25px;
  height:22px;
  cursor:pointer;
  text-decoration: none;
  color: #009900;
  border: 1px solid #00FF36;
    font-size: 0.875em; /* 14/16 = 0.875 */
}


.topItemSelected
{
  background: url(/CoGe/picts/menus/coge_gradient-alt.png) repeat-x;
  padding-left:25px;
  height:22px;
  cursor:pointer;
  text-decoration: none;
  color: #000099;
  border: 1px solid #00FF36;
    font-size: 0.875em; /* 14/16 = 0.875 */
}

.boxarttop
{
  background: url(/CoGe/picts/table/coge_table_bkgd_top.png) repeat-x;
}

.boxartbottom
{
  background: url(/CoGe/picts/table/coge_table_bkgd_bottom.png) repeat-x;
}

.boxartleft
{
  background: url(/CoGe/picts/table/coge_table_bkgd_left.png) repeat-y;
}

.boxartright
{
  background: url(/CoGe/picts/table/coge_table_bkgd_right.png) repeat-y;
}

.topItemPlain
{
  padding-left:20px;
  cursor:pointer;
  text-decoration: none;
  color: #009900;
    font-size: 0.875em; /* 14/16 = 0.875 */
  border-bottom: 1px solid #00FF35;
}

.dropMenu
{
  background:#edffed;
  border:1px solid #00FF36;
}

.dropMenuPlain
{
  background:#edffed;
  border-bottom: 1px solid #00FF35;
  border-left: 1px solid #00FF35;
  border-right: 1px solid #00FF35;

}

.resultborder
{
  border: 2px solid #CCFFCC;
  background: #F7FFF7;
}

.blue {
    color:blue;
    size:13px;
}

.big {
    color:gray;
    size: 20px;
}

.dna {
  width: 300px;
  height: 182px;
  background-image: url(/CoGe/picts/animations/DNA_orbit_animated_small-side.gif);
  background-repeat: no-repeat;
}

.dna_small {
  float: left;
  height: 60px;
  background-image: url(/CoGe/picts/animations/DNA_orbit_animated_small_third.gif);
  background-repeat: no-repeat;
  background-position: left;
}


#carousel {
  width: 1000px;
  height: 225px;
	/*position: absolute;*/
  background-image: url(/CoGe/picts/animations/DNA_orbit_animated_small-side.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
	/*top: 200px;
	left: 100px;*/
}

#carousel a {
	position: absolute;
	width: 227px;
}

.carousel_background
{
  background-image: url(/CoGe/picts/carousel/carousel-background.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

span.infobox { /* mdb created 9/20/12 */
	background-color: #edffed;
	border-style:solid;
	border-width:1px;
	border-color:lightgray;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:5px;
	padding-right:5px;
}

th.header {
 /*background-image: url(/CoGe/picts/blast_table/small.gif);*/
 background-color: #edffed;
 background-repeat: no-repeat;
 background-position: center left;
 padding-left: 20px;
 padding-right: 12px;
 border-right: 1px solid #dad9c7;
 border-bottom: 2px solid #dad9c7;
 margin-left: -1px;
 cursor: pointer;
}

tfoot {
 background-color: #edffed;
 background-repeat: no-repeat;
 background-position: center left;
 padding-left: 20px;
 padding-right: 12px;
 border-right: 1px solid #dad9c7;
 border-top: 2px solid #dad9c7;
 margin-left: -1px;
 cursor: pointer;
}

tr.feat {
    font-size: 0.75em; /* 12/16 = 0.875 */
/* font-size-adjust:none;
 font-stretch:normal;
 font-style:normal;
 font-variant:normal;
 font-weight:normal;
 padding:3px 5px;*/
}

tr.feat:hover {
  background-color: #EEE8AA;
}

.even {
 background-color:#EEE;
}

th.headerSortUp {
 background-image: url(/CoGe/picts/blast_table/small_asc.gif);
 background-color: #cbfecb;
 border-right: 1px solid #c3c2b1;
 border-bottom: 2px solid #c3c2b1;
}

th.headerSortDown {
 background-image: url(/CoGe/picts/blast_table/small_desc.gif);
 background-color: #cbfecb;
 border-right: 1px solid #c3c2b1;
 border-bottom: 2px solid #c3c2b1;
}

.image_window {
	background-color: #FFF;
	position: absolute;
	top: 300px;
	border: 15px solid #cbfecb;
	outline: 1px solid #00ff36;
}

.genomeview_popup {
     background-color: #FFF;
	border: 5px solid #cbfecb;
	outline: 1px solid #00ff36;
	max-width: 250px;
	z-index: 1000;
	overflow: auto;
	max-height: 200px;
}

.imagemaplink {
 cursor: pointer;
}

tr.highlight {
 background-color: #90EE90;
}

#feature_count:hover {
  color: #009900;
  cursor: pointer;
}

#feature_count {
  color: #0000EE;
}

div.link:hover {
 color: #009900;
}

span.link:hover {
 color: #009900;
}

td.link:hover {
 color: #009900;
}

.link {
  color: #007000;
  cursor: pointer;
}

.hsp_image {
  background-color: #FFF;
  width: 400px;
}

.color_chooser {
  height: 16px;
  width: 16px;
  display: block;
  cursor: pointer;
  border: 1px solid black;
}

.annotation_table {
 line-height: .9;
 border-collapse: collapse;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
    clear:both;
}

/***Portlet css for user profile**/
.portlet {
  margin: 0 1em 1em 0;
  max-width: 452;
}

.portlet-header {
  margin: 0.3em;
  padding-bottom: 4px;
  padding-left: 0.2em;
  cursor: move;
  max-width: 452;
}

.portlet-footer {
  padding-bottom: 4px;
  padding-left: 0.2em;
}

.portlet-header .ui-icon {
  float: right;
  cursor: pointer;
}

.portlet-content {
  padding: 0.4em;
  display:none;
}

.ui-sortable-placeholder {
  border: 1px dotted black;
  visibility: visible !important;
  height: 50px !important;
}

.ui-sortable-placeholder * {
  visibility: hidden;
}

/***End user profile portlet ui***/

dt {
   float: left;
   clear: left;
   width: 165px;
   color: #006400;
   /*font-style: oblique;
   font-weight: bold;*/
   padding-left: 20px;
   padding-bottom: 5px;

}

dd {
   float: left;
   color: black;
   padding-bottom: 5px;
}

.profile-title {
   border-bottom: 1px solid #AAAAAA;
   background: transparent none repeat scroll 0 0;
   color: black;
}

.ui-menu-item a.ui-state-hover,
.ui-menu-item a.ui-state-active {
	border:none;
	margin:0px !important;
	background:greenyellow;
}

.coge-striped-even > :nth-child(even) {
    background-color: #f5f5f5;
}

section#tabs .ui-tabs-panel {
    padding: 1em;
}

section#results {
    margin: 0;
    padding: 1em;
}

fieldset {
    margin: 0.5em 0;
    padding: 5px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    vertical-align: top;
}

.horizontal li {
    display: inline-block;
    padding: 0 15px;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.padded {
    padding: 5px;
}

.coge-padded {
    padding: 0.625em;
}

.coge-padded-top {
    padding-top: 0.625em;
}

.coge-padded-bottom {
    padding-bottom: 0.625em;
}

.coge-padded-left {
    padding-left: 0.625em;
}

.coge-padded-large {
    padding: 10px;
}

.padded li {
    margin: 5px 0 5px 0;
}

/* mdb removed 3/4/14 for SynFind results table */
/* th {
    font-size: 1.25em;
    font-weight: normal;
    text-align: center;
} */

.inline {
    display: inline-block;
}

.block {
    display: block;
}

.coge-border {
    border: 1px solid lightgray;
}

.coge-border-top {
    border-top: 1px solid lightgray;
}

.coge-border-bottom {
    border-bottom: 1px solid lightgray;
}

/* Alignment */
.top {
    vertical-align: top;
}

.middle {
    vertical-align: middle;
}

.bottom {
    vertical-align: bottom;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

/* Main Page */
.welcome {
    color: #119911;
    text-shadow: #555555 1px 1px;
    font-size: 2.25em; /* 36/16 = 2.25 */
    font-weight: bold;
    display: block;
}

.coge-shaded {
    background-color: #beef9f;
}

.coge-shadow {
    border-bottom: solid lightgray 1px;
    -moz-box-shadow: 0px 5px 1px -3px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 5px 1px -3px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 1px -3px rgba(0,0,0,0.25);
}

.border-top {
    border-top: 2px solid lightgray;
}

.border-bottom {
    border-bottom: 2px solid lightgray;
}

.coge-tag {
    border-radius: 15px;
    border: 1px solid lightgray;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 6px;
    padding-left: 5px;
}

h2, h3 {
    color: dimgray;
}

h4 {
    margin: 0;
    padding: 5px;
}

h5 {
    font-size: 0.875em;
}

h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small {
    font-size: 80%;
    font-weight: 500;
    color: #4B4949;
}

#intro, #highlights {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.coge-fill-width {
    width: 100%;
}

.tagline {
    margin-left: 0.5em;
    white-space: nowrap;
    font-size: 1.75em; /* 26/16 = 1.75 */
    font-weight: bold;
    color: #c0c0c0;
}

.dev:after {
    content: " Development";
    font-size: 80%;
    color: red;
    position: absolute;
    top: 0;
    left: 0;
}

/* CoGepedia Wiki Feed */

#wikifeed {
    padding: 0 10px 5px;
}

#wikifeed > div h2 {
    padding: 5px;
}

#wikifeed .date {
    display: block;
    font-weight: normal;
}

#wikifeed > div div a {
    color: #1631BB;
}

#wikifeed ol {
    list-style-type: decimal;
}

#wikifeed ul {
    list-style-type: square;
}

#wikifeed ul li::-moz-list-bullet {
    font-size: inherit;
}

#wikifeed > div div > p,
#wikifeed > div div > pre,
#wikifeed > div div > ul,
#wikifeed > div div > ol {
    word-wrap: break-word;
}

#wikifeed > div div embed {
    max-width: 95%;
}

#wikifeed > div div img {
    max-width: 95%;
}

.coge-pane {
    border-radius: 0.375em;
    border: 1px solid black;
    padding: 0.125em;
}

.coge-summary-heading {
    padding: 0;
    margin: 0 0 0.3125em;
}

.coge-section {
    font-size: 0.85em;
    padding: 0 0.375em 0.625em;
    border-radius: 5px;
    background: #f0f0f0;
}

.coge-section-lg {
    padding-bottom: .5em;
}

.coge-section-lg h3 {
    background-color: #e8e8e8;
    border-radius: 3px;
    padding: 0.25em 0.5em 0.5em 0.5em;
}

.coge-section-lg div {
    padding: 0 0.5em 0 0.5em;
}

.coge-summary {
    box-sizing: border-box;
}

.coge-summary:after {
    content: "";
    display: table;
    clear: both;
}

.coge-summary > .l {
    margin-right: 1em;
}

.coge-summary .coge-summary-body {
    overflow: hidden;
}

.coge-summary > a img {
    width: 4em;
    height: 4em;
}

.coge-result {
    font-size: 0.85em;
    padding: 0 0.375em 0.625em;
    border-radius: 0.3125em;
}

.coge-section + .coge-section,
.coge-section + .coge-result,
.coge-result + .coge-result,
.coge-summary + .coge-summary {
    margin-top: 1em;
}

.wrapper {
    margin: 0 auto;
}

#stats {
    padding: 10px 0px;
    margin: -10px -10px 0 -10px;
}

.coge-scroll {
    overflow-y: scroll;
}


.coge-menubar .login {
    display: block;
    float: none;
    margin-top: 2.25em;
    color:gray;
    margin-right:50px;
}

/*
.box > div,
.box > section,
.box > span,
.box > form,
.box > table {
    margin: 10px 10px;
}
*/
@media (min-width: 480px) {
    #wikifeed > div h2 {
        padding: 5px;
    }

    #horizontal li {
        text-align: left;
        display: block;
    }
}

@media (min-width: 768px) {
}

/* Medium Devices, Desktop */
@media(min-width: 992px) {
    #intro, #highlights {
        width: 50%;
        float: left;
        box-sizing: border-box;
    }
}

/* Large Devices, Wide Screens */
@media(min-width: 1200px) {
    .coge-menubar .login {
        float: left;
        display: inline;
        margin-top: 0;
    }

    .coge-summary > a img {
        width: 4.5em;
        height: 4.5em;
    }
}

/*
 * Progress dialog component
 */

.progress {
    overflow: hidden;
}

.progress .log {
    overflow-y: auto;
    padding: 0.5em 1.5em 0 1.5em;
    margin-left:-16px;
    margin-right:-16px;
    color: dimgray;
    height: 400px;
    font-size: 0.875em;
    border-bottom: 1px solid lightgray;
}

.progress .error {
    color: red;
    font-size: 1em;
}

.progress li {
    padding: 0.15em;
}

.progress .link {
    font-size: 0.875em;
}

.progress table {
    border-collapse: collapse;
    width: 100%;
}

.progress td {
    padding-top:    0.25em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid #E0E0E0;
}

.progress tr:last-child > td { /* FIXME not working :( */
    border: 0 !important;
}

.progress .result {
    padding-top: 0.5em;
}

.progress .result img {
    vertical-align: bottom;
}

.progress .header {
    font-size: 1.1em;
    font-weight: bold;
}

.progress .completed {
    color: #009933;
}

.progress .skipped {
    color: dimgray;
}

.progress .running {
    color: #3366FF;
}

/*
 * ???
 *
 */

.toolbar {
    padding: 10px 5px 10px 5px;
    background-color: whitesmoke;
    border: 1px solid lightgray;

    border-radius: 5px
    -moz-border-radius: 5px;
    -webkit-border-radius:  5px;

    box-shadow: 1px 1px gray;
    -moz-box-shadow: 1px 1px gray;
    -webkit-box-shadow: 1px 1px gray;

    font-size: 0.875em; /* 14/16 = 0.875 */
}

.toolbar .seperator:after {
    content: " | ";
    padding-left: 5px;
    padding-right: 5px;
}

/*
 * Buttons & Icons
 *
 */

.coge-buttonset {
    padding: 5px;
}

.coge-buttonset .coge-button {
    margin-right: 5px;
}

.coge-button {
    display: inline-block;
    font-weight: 600;
    font-size: 0.875em;
    line-height: 1.0;
    background: #9ce76d;
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    min-height: 1em;
    padding: .5em 1em;
	margin-right: .1em;
	cursor: pointer;
	user-select: none;
	white-space: nowrap
}

.coge-button-danger {
    background: #ff7979;
}

.coge-button-sm {
    font-size: 0.75em;
    white-space: nowrap
}

.coge-button-lg {
    font-size: 1em;
    white-space: nowrap
}

.coge-button-left { /* for left-side icons */
    padding-left: 0.5em;
}

.coge-button-right { /* for right-side icons */
    padding-right: 0.5em;
}

.coge-button:hover {
    background: #65d022;
}

.coge-button.coge-button-danger:hover {
    background: #ff5252;
}

.coge-icon {
    color: #119911;
    font-size: 1.25em;
    padding: 1px;
    border: 1px solid lightgray;
    cursor: pointer;
}

.coge-icon:hover {
    border-color: #55ae1c;
    color: #65d022;
    outline: none;
}

.coge-disabled {
    opacity: .35;
}

/*
 * User Profile
 *
 */

.coge-highlight:hover {
    background-color: greenyellow;
}

.coge-selected {
    background-color: #9CE62A;
}

.coge-list-item {
    border-bottom: 1px solid lightgray;
    padding: 5px;
    color: blue;
    cursor: pointer;
}

.coge-unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Table of Contents panel */
.coge-side-menu {
    white-space: nowrap;
}

.coge-side-menu ul, li { margin: 0; padding: 0; }
.coge-side-menu ul li span { 
    display: block;
    font-size: 1.05em;
    color: dimgray;
    padding-top: 3px;
    padding-bottom: 3px;
}
.coge-side-menu ul li span:hover { background: greenyellow }
.coge-side-menu li span       { padding-left: 0 }
.coge-side-menu li li span    { padding-left: 1.5em }
.coge-side-menu li li li span { padding-left: 3em }
.coge-side-menu .selected { 
    font-weight: bold; 
    color: green;
}

/* Dropdown menu */
.coge-dropdown-menu {
    z-index: 100;
}

.coge-dropdown-menu ul {
    white-space:nowrap;
}

.coge-dropdown-menu li {
    padding: 3px;
    font-size: 0.85em;
}

.coge-dropdown-menu li:hover {
    background-color: greenyellow;
}

.coge-dropdown-menu li a:hover {
    color: green;
}

/*
 * DataTables customizations 
 *
 */
 
.dt-cell td {
    font-size: small;
}

.dt-cell th {
    text-align: left;
    font-size: small;
    color: dimgray !important;
}

div.dataTables_scrollBody {
    border-bottom: none !important;
}

/*
 * YouTube widget
 *
 */

#youtube-hack {
    position: relative;
}

#youtube-hack .overlay {
    position: absolute;
    top: 45%;
    left: 40%;
}

/*
 * Search bar widget
 */

.searchbar {
}

.searchbar > .search-header {
    float: left;
}

.searchbar > .search-button {
    float: right;
}

.searchbar > .search-field {
    width: auto;
    overflow: hidden;
    position: relative;
}

.search-button ~ .search-field {
    padding-right: 10px;
}

.search-header ~ .search-field {
    padding-left: 10px;
}

.searchbar > .search-field > input {
    box-sizing: border-box;
    width: 100%;
}


.alert-box {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-box-warn {
    color: #bf1e1e;
    background-color: #ed8c8c;
    border-color: #e34a4a;
}

/*
 * Wizard component
 */

.wizard {
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: transparent;
}

.wizard h1,
.wizard h2,
.wizard h3,
.wizard h4,
.wizard h5 {
    margin: 0;
}

.wizard-coge {
    border-color: #ccc;
    background-color: #f5f5f5;
}

.wizard .header:before,
.wizard .header:after {
    content: " ";
    clear: both;
    display: table;
}

.wizard .sections {
    float: left;
    font-weight: bold;
}

.wizard .sections div {
    display: inline-block;
    padding-right: 2em;
}

.wizard .sections {
    color: #999;
}

.wizard .title {
    float: left;
    margin: 0;
    padding: 0;
    color: #119911;
    font-style: normal;
    font-size: 1.5em;
}

.wizard .step {
}

.wizard .header  {
    line-height: 2.5em;
    height: 2.5em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.header .active {
    color: #119911;
    font-size: larger;
}

.wizard .step .required:after {
    float: right;
    content: " * ";
    color: red;
}

.wizard .nav-control {
    padding-top: 10px;
}

.wizard .nav-control:before,
.wizard .nav-control:after {
    clear: both;
    content: " ";
    display: table;
}

.form-field {
    margin-bottom: 15px;
}

.form-field > label {
    font-weight: 600;
}

.form-group:before, .form-group:after,
.form-field:before, .form-field:after {
    content: " ";
    display: table;
}

.form-group:after,
.form-field:after {
    content " ";
    clear: both;
}

.form-section {
    margin-bottom: 15px;
}

.form-section h4 {
    font-size: 125%;
    padding-left: 15px;
    margin-bottom: 15px;
}

.no-resize {
    resize: none;
}

.form-group {
    overflow: hidden;
}

.form-group .form-entry {
    margin-bottom: 15px;
}

.form-field .form-entry:last-of-type {
    margin-right: 0;
}

.form-entry {
    float: left;
    margin-right: 15px;
}

.form-entry label {
    margin-right: 5px;
}

/*
 * Header
 */

@media (min-width: 981px) {
	.coge-header {
        font-size: 16px;
		height: 3.1em;
		padding: 2px;
		margin-bottom: 1em;
		background-color: #f5f5f5;
		border-bottom: 1px solid lightgray;
	}
}

@media (max-width: 980px) {
	.coge-header {
		height: 6em;
		padding: 2px;
		margin-bottom: 1em;
		background-color: #f5f5f5;
		border-bottom: 1px solid lightgray;
	}
}

.coge-logo {
    font-family: impact;
    font-size: 3em;
    font-weight: bold;
    color: #41AD41;
}

.coge-header-main li {
	float: left;
}

.coge-header-menu > li {
	float: right;
	margin-left: 3em;
}

.coge-header-search-button {
	border-color: #65d022;
	margin-top: 0.55em;
	font-size: 1.25em;
	color: gray;
	padding: 0.2em !important;
}

.coge-header-searchbar {
    line-height: 1.125;
	margin-right: 0.25em;
	margin-top: 0.75em;
}

.coge-header-search input {
	width: 40vw;
	/*height: 3em;*/
	font-size:	1.2em;
	font-family: helvetica;
    padding: 1px;
}

.coge-header-menu {
    padding-top: 1em; /*0.90em;*/
}

.coge-user-image {
    /*background: url('image.pl');*/
    border-radius: 5px;
    width: 1.75em;
    height: 1.75em;
    background-size: 1.5em;
    background-position: right;
}

.coge-header-button {
    font-weight: 600;
    font-size: 0.875em;
    line-height: 1.5;
    /*border: 1px solid #7adf39;*/
    /*background: #beef9f;*/
    /*vertical-align: middle;*/
    height: 2.5em;
    /*margin-top: 1em;*/
    cursor: pointer;
}

.coge-header-button > div {
	font-size: 1.25em;
	font-family: helvetica;
	color: #41AD41;
}

.coge-header-button a {
  color: #41AD41;
}

.coge-login-button {
	max-width: 6em;
	margin-left: 5%;
}

.coge-login-button > div {
	/*font-family: impact;*/
	font-size: 12;
	color: #41AD41;
	text-align: center;
	white-space: nowrap;
}

#image_upload_info {
	position: absolute;
	right: 0.25em;
	top: 3em;
	border: 1px solid #ccc;
	display: none;
	font-size: 10px;
	margin-top: 10px;
	padding: 5px;
	z-index: 1000;
	background-color: #f5f5f5;
}

#user_image:hover {
	cursor: pointer;
}

#user_image_container:hover #image_upload_info {
	display: block;
}

.dropdown {
	position: relative;
}

.dropdown-arrow {
	width: 0.4em;
	height: 0.4em;
	padding-bottom: 0.15em;
}

.dropdown-menu {
	position: absolute;
	z-index: 1000;
	min-width: 6em;
	font-size: 14px;
	background-color: #f5f5f5;
	/*border: 1px solid rgba(0, 0, 0, .15);*/
	border-left: 1px solid rgba(0, 0, 0, .15);
	border-right: 1px solid rgba(0, 0, 0, .15);
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.dropdown-item {
	font-weight: normal;
	padding: 3px 13px;
	white-space: nowrap;
}

.dropdown-item:hover {
	background-color: #E7F5E7;
}

.dropdown-label {
	display: inline-block;
    height: 37px;
}

.dropdown-link {
	color: #41AD41;
	display: block;
}
