  

.topItem
{
  background: #cbfecb;
  background-image: url(/CoGe/picts/close.png);
  background-position:left center;
  background-repeat:no-repeat;
  padding-left:25px;
  height:22px;
  cursor:pointer;
  text-decoration: none;
  color: #009900; 
  border: 1px solid #00FF36;
  font-size: small;
}


.topItemOver
{
  padding-left:25px;
  background: #cbfecb;
  background-image: url(/CoGe/picts/open.png);
  background-position:left center;
  background-repeat:no-repeat;
  height:22px;
  cursor:pointer;
  text-decoration: none;
  color: #009900; 
  border: 1px solid #00FF36;
  font-size: small;
}




.dropMenu
{
  background:#edffed;
  border:1px solid #00FF36;

}

.subMenu
{
   display:block;
}
.subItem
{
   height:21px;
   padding-left:10px;
   cursor:pointer;
   text-decoration:none;
   color:#6D929B;
}

.subItem a
{
   text-decoration:none;
   color:#6D929B;
}

.subItemOver
{
   
   height:21px;
   padding-left:10px;
   cursor:pointer;
}

.subItemOver  a
{
   color:#485C5A;
   text-decoration:none;
}


.drop
{
   border-left:1px solid black;
   border-right:1px solid black;	
}

.topItem1
{
  background: #3366CC;
  background-image: url(close.gif);
  background-position:right center;
  background-repeat:no-repeat;
  padding-left:3px;
  height:22px;
  cursor:pointer;
  text-decoration: none;
  color: #FFFFFF; 
  font-weight:bold;
  font-family:"GOTHIC";
}


.topItem1Over
{
  padding-left:3px;
  background: #3366CC;
  background-image: url(open.gif);
  background-position:right center;
  background-repeat:no-repeat;
  height:22px;
  cursor:pointer;
  text-decoration: none;
  color: #FFFFFF; 
  font-weight:bold;
  font-family:"GOTHIC";
}



.dropMenu1
{
  background:#6699FF;
  border:1px solid #3366CC;

}

.subMenu1
{
   display:block;
}
.subItem1
{
   height:21px;
   padding-left:10px;
   cursor:pointer;
   font-weight:bold;
   text-decoration:none;
   color:#FFFFFF;
}

.subItem1 a
{
   text-decoration:none;
   color:#FFFFFF;
}

.subItem1Over
{
   
   height:21px;
   padding-left:10px;
   cursor:pointer;
   font-weight:bold;
}

.subItem1Over  a
{
   color:#003399;
   text-decoration:none;
}


.topItem2
{
  background: #84596B;
  background-image: url(close.gif);
  background-position:right center;
  background-repeat:no-repeat;
  padding-left:3px;
  height:22px;
  cursor:pointer;
  text-decoration: none;
  color: #FFFFFF; 
  font-weight:bold;
  font-family:"GOTHIC";
}


.topItem2Over
{
  padding-left:3px;
  background: #84596B;
  background-image: url(open.gif);
  background-position:right center;
  background-repeat:no-repeat;
  height:22px;
  cursor:pointer;
  text-decoration: none;
  color: #FFFFFF; 
  font-weight:bold;
  font-family:"GOTHIC";
}



.dropMenu2
{
  background:#B58AA5;
  border:1px solid #84596B;

}

.subMenu2
{
   display:block;
}
.subItem2
{
   height:21px;
   padding-left:10px;
   cursor:pointer;
   font-weight:bold;
   text-decoration:none;
   color:#CECFCE;
}

.subItem2 a
{
   text-decoration:none;
   color:#CECFCE;
}

.subItem2Over
{
   
   height:21px;
   padding-left:10px;
   cursor:pointer;
   font-weight:bold;
}

.subItem2Over  a
{
   color:#FFFFFF;
   text-decoration:none;
}

  




