BODY { 
  font-family: Arial, Helvetica, fixed;
  background: #FFFFFF;
}

a
{
  outline: none;
  text-decoration: none;
}


a:hover {
  color: #009900;
  cursor: pointer;
}

/*a:visited {
  color: #0000EE;
  cursor: pointer;
}*/

.note {
  color:gray;
  font-style:italic;
}

.coge_link {
  color:#660066;
  font-size:small;
}

.alert {
  color:#ff0000;
}

.up {
  color: #660000;
}

.down {
  color: #003300;
}

.main {
  color: #000099;
}

div.box {
  padding:10px;
}

div.panel {
  padding:5px;
}

.prep {
  white-space:pre;
}

.title {
  color: #000099;
  font-style: oblique;
}

.title1 {
  font-size:xx-large;
  color: #000099;
  font-style: oblique;
}

.title2 {
  font-size:x-large;
  color: #000099;
  font-style: oblique;
}

.title3 {
  font-size:large;
  color: #000099;
  font-style: oblique;
}

.title4 {
  color: #000099;
}

.title5 {
  font-size:small;
  color: #000099;
}

.title6 {
  font-size:x-small;	
  color: #000099;
  font-style: oblique;
}

.data {
  color: #009900;
}

.data1 {
  font-size:xx-large;		
  color: #009900;
}

.data2 {
  font-size:x-large;		
  color: #009900;
}

.data3 {
  font-size:large;		
  color: #009900;
}

.data4 {
  color: #009900;
}

.data5 {
  font-size:small;		
  color: #009900;
}
.data6 {
  font-size:x-small;		
  color: #009900;
}

.error-box {
  border:1px solid lightgray;
  padding:5px;
  color:dimgray;
  background-color:mistyrose;
}

.container{
  border: 1px solid red;
  overflow: auto;
}

.inner{
  overflow:auto;
  display:none;
  color: #cc6600;
}

.xsmall { 
  font-size: x-small;
}

.small { 
  font-size: small;
}

.medium { 
  font-size: medium;
}

.large { 
  font-size: large;
}

.error { 
  font-size: large;
  color: #FF0000;
  text-decoration: blink;
}

.alert {
  color:#FF0000;
  }

.ital { 
  font-style: italic;
}

.oblique { 
  font-style: oblique;
}

.oblique_bold { 
  font-style: oblique;
  font-weight: bold;
  font-size: large;
}

.annotation { 
  font-style: oblique;
  font-weight: bold;
  font-size: large;
  color: #009900;
}

.backbox {
 color: #000099;
 background: #F7FFF7; 
}

.seqbackbox
{
 width: 100%;
 background: #cbfecb; 
 border:1px solid #00FF36;
}
.species { 
  font-style: oblique;
  color: #009900;
}

.loading {
  font-style: oblique;
  color: #990000;
  font-size: large;
  text-decoration: blink;
}

.plain {
 border-top-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 0px;
 border-left-width: 0px;
 border-style: hidden; 
 border-collapse: collapse;
 border: 0;
 width: 100%;
}

.bold {
  font-weight: bold;
}


.te {
  float:left;
  width: 20%;
}


.l {
  float: left;
}

.r {
  float: right;
}

.tlh {
  float: left;
  width: 6px;
  height: 23px;
  background-image: url(/CoGe/picts/table/table_bg_head_tl.png);
}

.th {
  float: left;
  width: 6px;
  height: 23px;
  background-image: url(/CoGe/picts/table/table_bg_head_t.png);
}

.tht {
  float: left;
  width: 90%;
  height: 23px;
  background-image: url(/CoGe/picts/table/table_bg_head_t.png);
  font-style: oblique;
  color: #009900;
}

.trh {
  float: left;
  width: 6px;
  height: 23px;
  background-image: url(/CoGe/picts/table/table_bg_head_tr.png);
}
.tlb {
  float: left;
  height: 9px;
  width: 6px;
  background-image: url(/CoGe/picts/table/table_bg_body_tl.png);
}

.tb {
  float: left;
  width: 90%;
  height: 9px;
  background-image: url(/CoGe/picts/table/table_bg_body_t.png);
}

.trb {
  float: left;
  width: 6px;
  height: 9px;
  background-image: url(/CoGe/picts/table/table_bg_body_tr.png);
}

.lh {
  float: left;
  width: 6px;
  height: 9px;
  background-image: url(/CoGe/picts/table/table_bg_head_l.png);
}

.lb {
  float: left;
  width: 6px;
  height: 9px;
  background-image: url(/CoGe/picts/table/table_bg_body_l.png);
}

.rh {
  float: left;
  width: 6px;
  height: 9px;
  background-image: url(/CoGe/picts/table/table_bg_head_r.png);
}

.rb {
  float: left;
  width: 6px;
  height: auto;
  background-image: url(/CoGe/picts/table/table_bg_body_r.png);
}

.blh {
  float: left;
  width: 6px;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_head_bl.png);
  text-align: left;
}

.bht {
  float: left;
  width: 90%;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_head_b.png);
  text-align: left;
}

.bh {
  float: left;
  width: 6px;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_head_b.png);
  text-align: left;
}

.brh {
  float: left;
  width: 6px;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_head_br.png);
  text-align: left;
}
.blb {
  float: left;
  width: 6px;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_body_bl.png);
  text-align: left;
}

.bb {
  float: left;
  width: 90%;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_body_b.png);
  text-align: left;
}

.brb {
  float: left;
  width: 6px;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_body_br.png);
  text-align: left;
}

.space {
  float: left;
  width: 6px;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/spacer-1x1.png);
  text-align: left;
}

.row2 {
 padding: 0;
 margin: 0px auto;
}

.cell {
  float:left;
  width:90%;
  padding: 0;
  margin: 0px auto;
}


.row {
  clear: both;
  }

#info {
  width:800px; 
  height:200px;
  border:1px solid black;
  overflow:scroll;
}

.page {
  color: #EEFFEE;
}

table.basic {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-style: none; 
	border-color: #000000; /* black */
	border-collapse: collapse;
	background-color: #FFFFFF; /* darker gray */
	font-size: 16px
}

table.columns {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	background-color: #FFFFFF; /* darker gray */
	border-color: #000000; /* black */
	font-size: 16px
}

tr.Aodd {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-collapse: collapse;
	border-color: #000000; /* black */
	border-style: solid;
	background-color: #AAAAAA; /* darker gray */
}

tr.Aeven {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-collapse: collapse;
	border-color: #000000; /* black */
	border-style: solid;
	background-color: #CCCCCC; /* lighter gray */
}

td.Atopcell {
	border-top-width: 1px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-style: solid;
	border-color: #000000; /* black */
}

td.Abotcell {
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-style: solid;
	border-color: #000000; /* black */
}

td.Amidcell {
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-style: solid;
	border-color: #000000; /* black */
}

td.Arightcell {
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: #000000; /* black */
}

td.Aleftcell {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 0px;
	border-style: solid;
	border-color: #000000; /* black */
}

tr.ltgreen {
	background-color: #CCFFCC;
        border-top-width: 1px;
        border-bottom-width: 1px;
}

tr.ltblue {
	background-color: #CCFFFF;
}

.topItem
{
  background: url(/CoGe/picts/menus/coge_gradient.png) repeat-x;
  padding-left:25px;
  height:22px;
  cursor:pointer;
  text-decoration: none;
  color: #009900; 
  border: 1px solid #00FF36;
  font-size: small;
}


.topItemSelected
{
  background: url(/CoGe/picts/menus/coge_gradient-alt.png) repeat-x;
  padding-left:25px;
  height:22px;
  cursor:pointer;
  text-decoration: none;
  color: #000099;
  border: 1px solid #00FF36;
  font-size: small;
}

.boxarttop
{
  background: url(/CoGe/picts/table/coge_table_bkgd_top.png) repeat-x;
}

.boxartbottom
{
  background: url(/CoGe/picts/table/coge_table_bkgd_bottom.png) repeat-x;
}

.boxartleft
{
  background: url(/CoGe/picts/table/coge_table_bkgd_left.png) repeat-y;
}

.boxartright
{
  background: url(/CoGe/picts/table/coge_table_bkgd_right.png) repeat-y;
}

.topItemPlain
{
  padding-left:20px;
  cursor:pointer;
  text-decoration: none;
  color: #009900; 
  font-size: small;
  border-bottom: 1px solid #00FF35;
}

.dropMenu
{
  background:#edffed;
  border:1px solid #00FF36;
}

.dropMenuPlain
{
  background:#edffed;
  border-bottom: 1px solid #00FF35;
  border-left: 1px solid #00FF35;
  border-right: 1px solid #00FF35;

}

.resultborder
{
  border: 2px solid #CCFFCC;
  background: #F7FFF7; 
}

.blue {
    color:blue;
    size:13px;
}

.big {
    color:gray;
    size: 20px;
}

.dna {
  width: 300px;
  height: 182px;
  background-image: url(/CoGe/picts/animations/DNA_orbit_animated_small-side.gif);
  background-repeat: no-repeat;
}

.dna_small {
  float: left;
  height: 60px;
  background-image: url(/CoGe/picts/animations/DNA_orbit_animated_small_third.gif);
  background-repeat: no-repeat;
  background-position: left;
}


#carousel {
  width: 1000px;
  height: 225px;
	/*position: absolute;*/
  background-image: url(/CoGe/picts/animations/DNA_orbit_animated_small-side.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
	/*top: 200px;
	left: 100px;*/
}

#carousel a {
	position: absolute;
	width: 227px;
}

.carousel_background
{
  background-image: url(/CoGe/picts/carousel/carousel-background.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

span.infobox { /* mdb created 9/20/12 */
	background-color: #edffed;
	border-style:solid;
	border-width:1px;
	border-color:lightgray;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:5px;
	padding-right:5px;
}

th.header {
 /*background-image: url(/CoGe/picts/blast_table/small.gif);*/
 background-color: #edffed;
 font-weight: bold;
 font-size: 12;
 background-repeat: no-repeat;
 background-position: center left;
 padding-left: 20px;
 padding-right: 12px;
 border-right: 1px solid #dad9c7;
 border-bottom: 2px solid #dad9c7;
 margin-left: -1px;
 cursor: pointer;
}

tfoot {
 background-color: #edffed;
 font-weight: bold;
 font-size: 12;
 background-repeat: no-repeat;
 background-position: center left;
 padding-left: 20px;
 padding-right: 12px;
 border-right: 1px solid #dad9c7;
 border-top: 2px solid #dad9c7;
 margin-left: -1px;
 cursor: pointer;
}

tr.feat {
 font-size:10pt;
/* font-size-adjust:none;
 font-stretch:normal;
 font-style:normal;
 font-variant:normal;
 font-weight:normal;
 line-height:normal;
 padding:3px 5px;*/
}

tr.feat:hover {
  background-color: #EEE8AA;
}

.even {
 background-color:#EEE;
}

th.headerSortUp {
 background-image: url(/CoGe/picts/blast_table/small_asc.gif);
 background-color: #cbfecb;
 border-right: 1px solid #c3c2b1;
 border-bottom: 2px solid #c3c2b1;
}

th.headerSortDown {
 background-image: url(/CoGe/picts/blast_table/small_desc.gif);
 background-color: #cbfecb;
 border-right: 1px solid #c3c2b1;
 border-bottom: 2px solid #c3c2b1;
}

.image_window {
	background-color: #FFF;
	position: absolute;
	top: 300px;
	border: 15px solid #cbfecb;
	outline: 1px solid #00ff36;
}

.genomeview_popup {
     background-color: #FFF;
	border: 5px solid #cbfecb;
	outline: 1px solid #00ff36;
	max-width: 250px;
	z-index: 1000;
	overflow: auto;
	max-height: 200px;
}

.imagemaplink {
 cursor: pointer;
}

tr.highlight {
 background-color: #90EE90;
}

#feature_count:hover {
  color: #009900;
  cursor: pointer;
}

#feature_count {
  color: #0000EE;
}

div.link:hover {
 color: #009900;
}

span.link:hover {
 color: #009900;
}

td.link:hover {
 color: #009900;
}

.link {
  color: #0000EE;
  cursor: pointer;
}

.hsp_image {
  background-color: #FFF;
  width: 400px;
}

.color_chooser {
  height: 16px;
  width: 16px;
  display: block;
  cursor: pointer;
  border: 1px solid black;
}

.annotation_table {
 line-height: .9em;
 border-collapse: collapse;
}

/***Portlet css for user profile**/
.portlet { 
  margin: 0 1em 1em 0; 
  max-width: 452;
}

.portlet-header { 
  margin: 0.3em; 
  padding-bottom: 4px; 
  padding-left: 0.2em; 
  cursor: move; 
  max-width: 452;
}

.portlet-footer { 
  padding-bottom: 4px; 
  padding-left: 0.2em;
}

.portlet-header .ui-icon { 
  float: right; 
  cursor: pointer;
}

.portlet-content { 
  padding: 0.4em; 
  display:none;
}

.ui-sortable-placeholder { 
  border: 1px dotted black; 
  visibility: visible !important; 
  height: 50px !important; 
}

.ui-sortable-placeholder * { 
  visibility: hidden; 
}

/***End user profile portlet ui***/

dt {
   float: left;
   clear: left;
   width: 165px;
   color: #006400;
   /*font-style: oblique;
   font-weight: bold;*/
   padding-left: 20px;
   padding-bottom: 5px;
   
}

dd {
   float: left;
   color: black;
   padding-bottom: 5px;
}

.profile-title {
   border-bottom: 1px solid #AAAAAA;
   background: transparent none repeat scroll 0 0;
   color: black;
}

.ui-menu-item a.ui-state-hover,
.ui-menu-item a.ui-state-active {
	border:none;
	margin:0px !important;
	background:greenyellow;
}