BODY { 
  font-family: Arial, Geneva, Times, fixed;
  color: #000099;
  background: #FFFFFF;
}

a
{
  outline: none;
  text-decoration: none;
}


a:hover {
  color: #009900;
  cursor: pointer;
}

/*a:visited {
  color: #0000EE;
  cursor: pointer;
}*/



.up {
  font-family: fixed, monospace;
  color: #660000;
}

.down {
  font-family:fixed, monospace;
  color: #003300;
}

.main {
  font-family:fixed, monospace;
  color: #000099;
}

.prep {
  font-family:fixed, monospace;
  white-space:pre;
}

.title {
  color: #000099;
  font-style: oblique;
}

.title1 {
  font-size:xx-large;
  color: #000099;
  font-style: oblique;
}

.title2 {
  font-size:x-large;
  color: #000099;
  font-style: oblique;
}

.title3 {
  font-size:large;
  color: #000099;
  font-style: oblique;
}

.title4 {
  color: #000099;
  font-style: oblique;
}

.title5 {
  font-size:small;
  color: #000099;
  font-style: oblique;
}

.title6 {
  font-size:x-small;	
  color: #000099;
  font-style: oblique;
}

.data {
  color: #009900;
}

.data1 {
  font-size:xx-large;		
  color: #009900;
}

.data2 {
  font-size:x-large;		
  color: #009900;
}

.data3 {
  font-size:large;		
  color: #009900;
}

.data4 {
  color: #009900;
}

.data5 {
  font-size:small;		
  color: #009900;
}
.data6 {
  font-size:x-small;		
  color: #009900;
}



.container{
  border: 1px solid red;
  overflow: auto;
}

.inner{
  overflow:auto;
  display:none;
  color: #cc6600;
}

.xsmall { 
  font-family: fixed;
  font-size: x-small;
  color: #009900;
}

.small { 
  font-family: fixed;
  font-size: small;
  color: #000099;
}

.medium { 
  font-size: medium;
  color: #009900;
}

.large { 
  font-size: large;
  color: #009900;
}

.error { 
  font-size: large;
  color: #FF0000;
  text-decoration: blink;
}

.ital { 
  font-style: italic;
  color: #000099;
}

.oblique { 
  font-style: oblique;
  color: #009900;
}

.oblique_bold { 
  font-style: oblique;
  font-weight: bold;
  font-size: large;
  color: #009900;
}

.annotation { 
  font-style: oblique;
  font-weight: bold;
  font-size: large;
  color: #009900;
}

.backbox {
 color: #000099;
 background: #F7FFF7; 
 border:2px solid #CCFFCC;
}

.seqbackbox
{
 width: 100%;
 background: #cbfecb; 
 border:1px solid #00FF36;
}
.species { 
  font-style: oblique;
  color: #009900;
}

.loading {
  font-style: oblique;
  color: #990000;
  font-size: large;
  text-decoration: blink;
}

.plain {
 border-top-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 0px;
 border-left-width: 0px;
 border-style: hidden; 
 border-collapse: collapse;
 border: 0;
 width: 100%;
}

.bold {
  font-weight: bold;
}


.te {
  float:left;
  width: 20%;
}


.l {
  float: left;
}

.r {
  float: right;
}

.tlh {
  float: left;
  width: 6px;
  height: 23px;
  background-image: url(/CoGe/picts/table/table_bg_head_tl.png);
}

.th {
  float: left;
  width: 6px;
  height: 23px;
  background-image: url(/CoGe/picts/table/table_bg_head_t.png);
}

.tht {
  float: left;
  width: 90%;
  height: 23px;
  background-image: url(/CoGe/picts/table/table_bg_head_t.png);
  font-style: oblique;
  color: #009900;
}

.trh {
  float: left;
  width: 6px;
  height: 23px;
  background-image: url(/CoGe/picts/table/table_bg_head_tr.png);
}
.tlb {
  float: left;
  height: 9px;
  width: 6px;
  background-image: url(/CoGe/picts/table/table_bg_body_tl.png);
}

.tb {
  float: left;
  width: 90%;
  height: 9px;
  background-image: url(/CoGe/picts/table/table_bg_body_t.png);
}

.trb {
  float: left;
  width: 6px;
  height: 9px;
  background-image: url(/CoGe/picts/table/table_bg_body_tr.png);
}

.lh {
  float: left;
  width: 6px;
  height: 9px;
  background-image: url(/CoGe/picts/table/table_bg_head_l.png);
}

.lb {
  float: left;
  width: 6px;
  height: 9px;
  background-image: url(/CoGe/picts/table/table_bg_body_l.png);
}

.rh {
  float: left;
  width: 6px;
  height: 9px;
  background-image: url(/CoGe/picts/table/table_bg_head_r.png);
}

.rb {
  float: left;
  width: 6px;
  height: auto;
  background-image: url(/CoGe/picts/table/table_bg_body_r.png);
}

.blh {
  float: left;
  width: 6px;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_head_bl.png);
  text-align: left;
}

.bht {
  float: left;
  width: 90%;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_head_b.png);
  text-align: left;
}

.bh {
  float: left;
  width: 6px;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_head_b.png);
  text-align: left;
}

.brh {
  float: left;
  width: 6px;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_head_br.png);
  text-align: left;
}
.blb {
  float: left;
  width: 6px;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_body_bl.png);
  text-align: left;
}

.bb {
  float: left;
  width: 90%;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_body_b.png);
  text-align: left;
}

.brb {
  float: left;
  width: 6px;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/table_bg_body_br.png);
  text-align: left;
}

.space {
  float: left;
  width: 6px;
  height: 9px;
  padding: 0;
  margin: 0px auto;
  background-image: url(/CoGe/picts/table/spacer-1x1.png);
  text-align: left;
}

.row2 {
 padding: 0;
 margin: 0px auto;
}

.cell {
  float:left;
  width:90%;
  padding: 0;
  margin: 0px auto;
}


.row {
  clear: both;
  }

#info {
  width:800px; 
  height:200px;
  border:1px solid black;
  overflow:scroll;
}

.page {
  color: #EEFFEE;
}

table.basic {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-style: none; 
	border-color: #000000; /* black */
	border-collapse: collapse;
	background-color: #FFFFFF; /* darker gray */
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 16px
}

table.columns {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	background-color: #FFFFFF; /* darker gray */
	border-color: #000000; /* black */
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 16px
}

tr.Aodd {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-collapse: collapse;
	border-color: #000000; /* black */
	border-style: solid;
	background-color: #AAAAAA; /* darker gray */
}

tr.Aeven {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-collapse: collapse;
	border-color: #000000; /* black */
	border-style: solid;
	background-color: #CCCCCC; /* lighter gray */
}

td.Atopcell {
	border-top-width: 1px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-style: solid;
	border-color: #000000; /* black */
}

td.Abotcell {
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-style: solid;
	border-color: #000000; /* black */
}

td.Amidcell {
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-style: solid;
	border-color: #000000; /* black */
}

td.Arightcell {
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: #000000; /* black */
}

td.Aleftcell {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 0px;
	border-style: solid;
	border-color: #000000; /* black */
}

tr.ltgreen {
	background-color: #CCFFCC;
        border-top-width: 1px;
        border-bottom-width: 1px;
}

tr.ltblue {
	background-color: #CCFFFF;
}

.topItem
{
  background: url(/CoGe/picts/menus/coge_gradient.png) repeat-x;
  padding-left:25px;
  height:22px;
  cursor:pointer;
  text-decoration: none;
  color: #009900; 
  border: 1px solid #00FF36;
  font-size: small;
}


.topItemSelected
{
  background: url(/CoGe/picts/menus/coge_gradient-alt.png) repeat-x;
  padding-left:25px;
  height:22px;
  cursor:pointer;
  text-decoration: none;
  color: #000099;
  border: 1px solid #00FF36;
  font-size: small;
}

.boxarttop
{
  background: url(/CoGe/picts/table/coge_table_bkgd_top.png) repeat-x;
}

.boxartbottom
{
  background: url(/CoGe/picts/table/coge_table_bkgd_bottom.png) repeat-x;
}

.boxartleft
{
  background: url(/CoGe/picts/table/coge_table_bkgd_left.png) repeat-y;
}

.boxartright
{
  background: url(/CoGe/picts/table/coge_table_bkgd_right.png) repeat-y;
}

.topItemPlain
{
  padding-left:20px;
  cursor:pointer;
  text-decoration: none;
  color: #009900; 
  font-size: small;
  border-bottom: 1px solid #00FF35;
}

.dropMenu
{
  background:#edffed;
  border:1px solid #00FF36;
}

.dropMenuPlain
{
  background:#edffed;
  border-bottom: 1px solid #00FF35;
  border-left: 1px solid #00FF35;
  border-right: 1px solid #00FF35;

}

.resultborder
{
  border: 2px solid #CCFFCC;
  background: #F7FFF7; 
}

.blue {
    color:blue;
    size:13px;
}

.big {
    color:gray;
    size: 20px;
}

.dna {
  float: left;
  width: 300px;
  height: 182px;
  background-image: url(/CoGe/picts/animations/DNA_orbit_animated_small-side.gif);
}

.plus {
  background-image: url(/CoGe/picts/buttons/plus.png);
  background-repeat: no-repeat;
  background-position: left;
}

.minus {
  background-image: url(/CoGe/picts/buttons/minus.png);
  background-repeat: no-repeat;
  background-position: left;
}

#carousel {
  width: 1000px;
  height: 225px;
	/*position: absolute;*/
  background-image: url(/CoGe/picts/animations/DNA_orbit_animated_small-side.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
	/*top: 200px;
	left: 100px;*/
}

#carousel a {
	position: absolute;
	width: 227px;
}

.carousel_background
{
  background-image: url(/CoGe/picts/carousel/carousel-background.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

th.header {
 /*background-image: url(/CoGe/picts/blast_table/small.gif);*/
 background-color: #edffed;
 font-weight: bold;
 font-size: 12;
 background-repeat: no-repeat;
 background-position: center left;
 padding-left: 20px;
 padding-right: 12px;
 border-right: 1px solid #dad9c7;
 border-bottom: 2px solid #dad9c7;
 margin-left: -1px;
 cursor: pointer;
}

tr.feat {
 font-size:10pt;
/* font-size-adjust:none;
 font-stretch:normal;
 font-style:normal;
 font-variant:normal;
 font-weight:normal;
 line-height:normal;
 padding:3px 5px;*/
}

tr.feat:hover {
  background-color: #EEE8AA;
}

.even {
 background-color:#EEE;
}

th.headerSortUp {
 background-image: url(/CoGe/picts/blast_table/small_asc.gif);
 background-color: #cbfecb;
 border-right: 1px solid #c3c2b1;
 border-bottom: 2px solid #c3c2b1;
}

th.headerSortDown {
 background-image: url(/CoGe/picts/blast_table/small_desc.gif);
 background-color: #cbfecb;
 border-right: 1px solid #c3c2b1;
 border-bottom: 2px solid #c3c2b1;
}

#ncbi_blast {
	display: block;
  	width: 97px;
  	height: 26px;
	background: url(/CoGe/picts/buttons/CoGeBlast/ncbi_blast_new.png) 0 0 no-repeat;
}

#ncbi_blast:hover {
	background-position: -97px 0;
}

#ncbi_blast:active {
	background-position: -194px 0;
}

#ncbi_blast span {
	display: none;
}

#coge_blast_button {
	display: block;
  	width: 100px;
  	height: 25px;
	background: url(/CoGe/picts/buttons/CoGeBlast/coge_blast.png) 0 0 no-repeat;
}

#coge_blast_button:hover {
	background-position: -100px 0;
}

#coge_blast_button:active {
	background-position: -200px 0;
}

#coge_blast_button span {
	display: none;
}

#go_button {
	display: block;
  	width: 35px;
  	height: 26px;
	background: url(/CoGe/picts/buttons/GEvo/go_new.png) 0 0 no-repeat;
}

#go_button:hover {
	background-position: -35px 0;
}

#go_button:active {
	background-position: -70px 0;
}

#go_button span {
	display: none;
}

#clear_button {
	display: block;
  	width: 52px;
  	height: 26px;
	background: url(/CoGe/picts/buttons/GEvo/clear_new.png) 0 0 no-repeat;
}

#clear_button:hover {
	background-position: -52px 0;
}

#clear_button:active {
	background-position: -104px 0;
}

#clear_button span {
	display: none;
}

#add_button {
	display: block;
  	width: 42px;
  	height: 26px;
	background: url(/CoGe/picts/buttons/GEvo/add_new.png) 0 0 no-repeat;
}

#add_button:hover {
	background-position: -42px 0;
}

#add_button:active {
	background-position: -84px 0;
}

#add_button span {
	display: none;
}

#remove_button {
	display: block;
  	width: 72px;
  	height: 26px;
	background: url(/CoGe/picts/buttons/GEvo/remove_new.png) 0 0 no-repeat;
}

#remove_button:hover {
	background-position: -72px 0;
}

#remove_button:active {
	background-position: -144px 0;
}

#remove_button span {
	display: none;
}

/*.highlight_tablerows {
	background-color: #ADFF2F;
}*/

.image_window {
	background-color: #FFF;
	position: absolute;
	top: 300px;
	border: 15px solid #cbfecb;
	outline: 1px solid #00ff36;
}

.genomeview_popup {
     background-color: #FFF;
	border: 5px solid #cbfecb;
	outline: 1px solid #00ff36;
	max-width: 250px;
	z-index: 1000;
	overflow: auto;
	max-height: 200px;
}

.imagemaplink {
 cursor: pointer;
}

tr.highlight {
 background-color: #90EE90;
}


#feature_count:hover {
  color: #009900;
  cursor: pointer;
}

#feature_count {
  color: #0000EE;
}

#.link:hover {
#  color: #009900;
#  cursor: pointer;
#}

.link {
  color: #0000EE;
}


.hsp_image {
  background-color: #FFF;
  width: 400px; 
  height: 70px;
}
