<tmpl_if name="ADMIN_ONLY">
        YOU ARE NOT AN ADMIN!
</tmpl_if>

<TMPL_IF NAME='MAIN'>
<script type="text/javascript">
	//Page constants
	const API_BASE_URL  = '<TMPL_VAR NAME="API_BASE_URL">';
	const USER_NAME     = '<TMPL_VAR NAME="USER">';
</script>
<script type="text/javascript" src="js/coge/utils.js"></script>
<script type="text/javascript" src="js/coge/services.js"></script>
<!--<script src="js/coge/colors.js"</script>-->
<script type="text/javascript" src="js/pages/admin.js"></script>
<script type="text/javascript" src="js/jquery.fileupload.js"></script>
<script type="text/javascript" src="js/vendor/d3/d3.min.js"></script>
<script type="text/javascript" src="js/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/vendor/plotly/dist/plotly.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/dataTables.css"/>

<style type="text/css">
circle.node {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

circle.tree_node {
	cursor: pointer;
	stroke: #119911;
	stroke-width: 1.5px;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

div.legend {
  border: 'solid 1px lightgray';
  margin: 1px;
  padding: 2px;
  text-align: center;
}

.bar rect {
	fill: steelblue;
	shape-rendering: crispEdges;
}

.bar text {
	fill: #fff;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

svg {
	font: 10px sans-serif;
}

.area {
	fill: steelblue;
	clip-path: url(#clip);
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.brush .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

table#history_table tbody tr td {
	white-space: nowrap;
}

table#jobs_table tbody tr td {
	white-space: nowrap;
}
table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
</style>

<div id="tabs" class="hidden">
	<ul>
		<li><a href="#tabs-1">Search</a></li>
		<li><a href="#tabs-2">Jobs</a></li>
		<li><a href="#tabs-3">History</a></li>
		<li><a href="#tabs-4">Graph</a></li>
		<li><a href="#tabs-5">Reports</a></li>
		<li><a href="#tabs-6">Taxonomy</a></li>
		<li><a href="#tabs-7">System Load</a></li>
		<li><a href="#tabs-8">Analytics</a></li>
		<li><a href="#tabs-9">Database</a></li>
	</ul>
	<div id="tabs-1">
		<div id="master" style="position:relative;">
	
			<div id="searchBar" class="coge-bg inline padded ui-widget-content ui-corner-all">
	
	    	<td>Search:</td>
	    	<td>
	        	<input id="search_token" type="search" placeholder="Search" onkeyup="wait_to_search(search_stuff, this.value);" size="50" spellcheck="false" />
			<!--<input id="search_token" type="search" placeholder="Search" onkeyup="search_stuff(this.value);" size="50" spellcheck="false" />-->
	    	</td>
	    	</div>
	    	<input type=button onClick="location.href='https://genomevolution.org/wiki/index.php/Admin#Search'" value='?'>
	    	<img id="loading" src="picts/ajax-loader.gif" width='18' height='18' class="link" style="padding:1px;display:none;" />
	
		    <div id="masterTable" style="position:relative;left:20px;padding-top:10px;padding-bottom:10px;" class="hidden result">
		
				<div id="organism" class= "hidden" style="padding-top:10px;">
					<span id='orgCount' class='coge-table-header' style='color:119911;' onclick="toggle_arrow('#orgArrow');show_table('#orgList')"></span>
					<div id="orgArrow" onclick="toggle_arrow('#orgArrow');show_table('#orgList')" style='display:inline;'>
						<img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
					</div>
				<table cellspacing="5" class="hidden" id='orgList' style="border-top:0px solid green; padding-left:20px; padding-bottom:10px;"></table>
				</div>
			
				<div id="genome" class= "hidden" style="padding-top:10px;">
					<span id='genCount' class='coge-table-header' style='color:119911;' onclick="toggle_arrow('#genArrow');show_table('#genList')"></span>
					<div id="genArrow" onclick="toggle_arrow('#genArrow');show_table('#genList')" style='display:inline;'>
			        	<img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
			        </div>
				<table cellspacing="5" class="hidden" id='genList' style="border-top:0px solid green; padding-left:20px; padding-bottom:10px;"></table>
				</div>
			
				<div id="user" class= "hidden" style="padding-top:10px;">
					<span id='userCount' class='coge-table-header' style='color:119911;' onclick="toggle_arrow('#userArrow');show_table('#userList')"></span>
					<div id="userArrow" onclick="toggle_arrow('#userArrow');show_table('#userList')" style='display:inline;'>
			    		<img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
			    	</div>
				<table cellspacing="5" class="hidden" id='userList' style="border-top:0px solid green; padding-left:20px; padding-bottom:10px;"></table>
				</div>
			
				<div id="user_group" class= "hidden" style="padding-top:10px;">
					<span id='usrgroupCount' class='coge-table-header' style='color:119911;' onclick="toggle_arrow('#usrGArrow');show_table('#usrgroupList')"></span>
					<div id="usrGArrow" onclick="toggle_arrow('#usrGArrow');show_table('#usrgroupList')" style='display:inline;'>
			    		<img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
			   		</div>
				<table cellspacing="5" class="hidden" id='usrgroupList' style="border-top:0px solid green; padding-left:20px; padding-bottom:10px;"></table>
				</div>
			
				<div id="notebook" class= "hidden" style="padding-top:10px;">
					<span id='noteCount' class='coge-table-header' style='color:119911;' onclick="toggle_arrow('#noteArrow');show_table('#noteList')"></span>
					<div id="noteArrow" onclick="toggle_arrow('#noteArrow');show_table('#noteList')" style='display:inline;'>
			        	<img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
			    	</div>
				<table cellspacing="5" class="hidden" id='noteList' style="border-top:0px solid green; padding-left:20px; padding-bottom:10px;"></table>
				</div>
			
				<div id="experiment" class= "hidden" style="padding-top:10px;">
					<span id='expCount' class='coge-table-header' style='color:119911;' onclick="toggle_arrow('#expArrow');show_table('#expList')"></span>
					<div id="expArrow" onclick="toggle_arrow('#expArrow');show_table('#expList')" style='display:inline;'>
			        	<img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
			        </div>
				<table cellspacing="5" class="hidden" id='expList' style="border-top:0px solid green; padding-left:20px; padding-bottom:10px;"></table>
			</div>
			</div>
		</div>
	
		<div id="userInfo" class="hidden" style"position:relative;">
			<div id="userHeader" style="padding-left:20px;">
				<button onclick="toggle_master()">Back to Search</button>
				<button onclick="refresh_data()">Refresh Data</button>
			</div>

			<div><img id="loading2" src="picts/ajax-loader.gif" width='18' height='18' class="link" style="padding-top:10px;padding-left:25px;display:none;" /></div>
				<div id="userResults" style="position:relative;left:20px;padding-top:10px;padding-bottom:10px;" class="hidden result">
				</div>
			</div>
			
			<div id="user_dialog" class="hidden dialog_box" title="Select User">
			
			<input id="user_field" type="search" placeholder="Search" onkeyup="wait_to_search(search_users, this.value);" size="50" spellcheck="false" class="ui-autocomplete-input" autocomplete="on" role="textbox" aria-autocomplete="list" aria-haspopup="true">
			
			<!--<div id="load_log" class="small padded ui-widget-content ui-corner-all" style="overflow-y:auto;width:450px;height:200px;color:dimgray;">
			</div>
			<br>-->
			<!--<div id="loading_msg">
				<span class="small" style="float:right;">Link: <a></a></span>
				Please wait ... <img src="picts/ajax-loader.gif"/>
			</div>-->
				<div class="coge-buttonset">
			    	<span id="ok_button" style="float:right;" class="coge-button">Ok</span>
			</div>
		</div>
		
		<div id="share_dialog" class="dialog_box hidden" title="Share Items"></div>
		<div id="group_dialog" class="dialog_box hidden" title="Edit Group"></div>
	</div>
	<div id="tabs-2">
		<div>
			<input type="checkbox" id="jobs_update_checkbox" checked>
			<span> Auto-Update</span>
			<input type="checkbox" id="jobs_running_checkbox" style="margin-left:20px;" checked>
			<span> Running</span>
			<img id='jobs_loading' style="padding-left:1em" src="picts/ajax-loader.gif" />
		</div>
		<div style="padding-top:1em">
			<span id="jobs_cancel" class="coge-button">Cancel selected job</span>
			<span id="jobs_restart" class="coge-button coge-button-danger">Restart selected job</span>
		</div>
		<div id="jobs" style="padding-top:1em;max-width:95%;height:70%;"></div>
	</div>
	<div id="tabs-3">
		<div class="small" style="padding-top:15px;padding-bottom:5px;height:27px;">
			<input type="checkbox" id="history_update_checkbox" checked>
			<span> Auto-Update</span>
		</div>
		
		<img id="history_loading" src="picts/ajax-loader.gif" width='18' height='18' class="link" style="padding:1px;display:none;" />
		
		<div id="history" style="max-width:95%;height:70%;display:none;"></div>
	</div>
	<div id="tabs-4">
		<div>
			<select style="margin-left:100px;margin-right:20px;" onchange="init_graph(this.selectedIndex)">
			  <option value="Default">Select View</option>
			  <option value="Users">Users</option>
			  <option value="Groups">Groups</option>
			</select>
			<img id="loading4" src="picts/ajax-loader.gif" width='18' height='18' class="link" style="padding:1px;display:none;" />
		</div>
		<div>
			<span id="user_legend" style="float:left;"></span>
			<span id="group_legend" style="float:left;"></span>
			<span id="user_chart"></span>
			<span id="group_chart"></span>
		</div>
	</div>
	<div class="small" id="tabs-5">
		<div>
			<span>Report: </span>
			<select id="report_type" style="margin-right:20px;" onchange="change_report(this.options[this.selectedIndex].value)">
				<option value="Data Summary" selected>Data Summary</option>
				<option value="Jobs Summary">Jobs Summary</option>
				<option value="Users Data">Users Data</option>
				<option value="Users Jobs">Users Jobs</option>
				<option value="Groups">Groups</option>
			</select>
			<span>Filter: </span>
			<select id="report_filter" style="margin-right:20px;" onchange="filter_report(this.selectedIndex)">
				<option value="none">None</option>
				<option value="restricted">Restricted Only</option>
				<option value="deleted">Deleted Only</option>
				<option value="public">Public</options>
				<option value="shared">Restricted but Shared</option>
			</select>
			<div id="histogram_button" class="coge-button" style="margin-right:20px;" onclick="init_histogram('histogram')">Histogram</div>
			<img id="reports_loading"  src="picts/ajax-loader.gif" style="visiblity:hidden;" />
		</div>
		<div id="reports"></div>
		<div id="histogram" class="dialog_box hidden" title="Histogram"></div>
	</div>
	<div id="tabs-6">
		<span style="margin-right:20px;">
			Please wait for the root tree to load below before entering search text.
		<br />
		<br />
			Filter:
            <td>
	        	<input id="tree_filter" type="search" placeholder="Search" onkeyup="wait_to_search(filter_tree, this.value);" size="50" spellcheck="false" />
			<!--<input id="tree_filter" type="search" placeholder="Search" onkeyup="filter_tree(this.value);" size="50" spellcheck="false" />-->
	    	</td>
            <img id="loading6" src="picts/ajax-loader.gif" width='18' height='18' class="link" style="padding:1px;display:none;" />
			<p id="not" style="display:none;">No results found</p>
		</span>
		<span id="taxonomic_tree"></span>
	</div>
	<div id="tabs-7">
		<select style="margin-left:10px;margin-right:20px;margin-bottom:20px" onchange="init_line_graph(this.selectedIndex)">
			<option value="CoGe">CoGe</option>
			<option value="GeCo">GeCo</option>
		</select>
		<span id="system_graph"></span>
		<span id="system_graph2" class="hidden"></span>
	</div>
	<div id="tabs-8">
		<!--<iframe src="https://genomevolution.org/greentea/" height="100%" width="100%"></iframe>-->
	</div>
	<div id="tabs-9">
		<div id="database_total"></div>
		<div id="database_per_second"></div>
		<div id="database_uptime"></div>
	</div>
</div>

</TMPL_IF>

<TMPL_IF NAME='SHARE_DIALOG'>
<script>
$(function(){
	$("#share_input").autocomplete({
		source: [],
		focus: function() { return false; },
		select:
	    	function(event, ui) {
	    		$("#share_input")
	    			.val( ui.item.label )
	    			.data('select_id', ui.item.value);
	    		if (ui.item.value.split(':')[1] == ITEM_TYPE_USER) {
	    			$('#share_role_select').show();
	    		}
	    		else {
	    			$('#share_role_select').hide();
	    		}
	    		return false;
	    	},
	});
});
</script>
<div style="margin:20px;margin-left:5px;">
	<span class="small" style="font-weight:bold;color:dimgray;">Who Has Access</span>
	<div class="small" style="overflow:auto;max-height:120px;padding-left:30px;padding-bottom:10px;border-top:1px solid lightgray;">
		<div style="padding-top:10px;">
			<TMPL_LOOP NAME="USER_LOOP">
				<div>
					<img src="picts/user-icon.png" width="11" height="11"/>
					<span style="color:dimgray;"><TMPL_VAR NAME="USER_FULL_NAME"> (<TMPL_VAR NAME="USER_NAME">) - <TMPL_VAR NAME="USER_ROLE"><span>
					<TMPL_IF NAME="USER_DELETE">
						<span onClick="$(this.parentNode).fadeOut('slow'); remove_items_from_user_or_group('<TMPL_VAR NAME=USER_ITEM>', '<TMPL_VAR NAME=ITEM_ID>', '<TMPL_VAR NAME=ITEM_TYPE>');" class="link ui-icon ui-icon-close"></span>
					</TMPL_IF>
					<br>
				</div>
			</TMPL_LOOP>
			<TMPL_LOOP NAME="GROUP_LOOP">
				<div>
					<img src="picts/group-icon.png" width="11" height="11"/>
					<span style="color:dimgray;"><TMPL_VAR NAME="GROUP_NAME"> (group) - <TMPL_VAR NAME="GROUP_ROLE"></span>
					<TMPL_IF NAME="GROUP_DELETE">
						<span onClick="$(this.parentNode).fadeOut('slow'); remove_items_from_user_or_group('<TMPL_VAR NAME=GROUP_ITEM>', '<TMPL_VAR NAME=ITEM_ID>', '<TMPL_VAR NAME=ITEM_TYPE>');" class="link ui-icon ui-icon-close"></span>
					</TMPL_IF>
					<br>
					<TMPL_LOOP NAME="GROUP_USER_LOOP">
						<span style="color:dimgray;padding:5px;padding-left:20px;">
						<img src="picts/user-icon.png" width="11" height="11"/>
						<TMPL_VAR NAME="GROUP_USER_FULL_NAME"> (<TMPL_VAR NAME="GROUP_USER_NAME">)<span><br>
					</TMPL_LOOP>
				</div>
			</TMPL_LOOP>
			<TMPL_LOOP NAME="NOTEBOOK_LOOP">
				<div>
					<img src="picts/notebook-icon.png" width="11" height="11"/>
					<span style="color:dimgray;"><TMPL_VAR NAME="NOTEBOOK_NAME"> (notebook)</span>
					<br>
					<TMPL_LOOP NAME="NOTEBOOK_USER_LOOP">
						<span style="color:dimgray;padding:5px;padding-left:20px;">
						<img src="picts/user-icon.png" width="11" height="11"/>
						<TMPL_VAR NAME="NOTEBOOK_USER_FULL_NAME"> (<TMPL_VAR NAME="NOTEBOOK_USER_NAME">)<span><br>
					</TMPL_LOOP>
				</div>
			</TMPL_LOOP>
			<TMPL_IF NAME="ACCESS_MSG">
				<div style="color:dimgray;font-style:italic;">
					<TMPL_VAR NAME="ACCESS_MSG">
				</div>
			</TMPL_IF>
		</div>
	</div>
	<br>
	<span class="small" style="font-weight:bold;color:dimgray;">Add Access</span>
	<div class="small" style="padding:20px;padding-left:30px;border-top:1px solid lightgray;">
		<TMPL_IF NAME="IS_EDITABLE">
			<span style="color:dimgray">Enter names or groups:</span><br>
			<input id="share_input" type="search" maxlength="40" spellcheck="false" style="width:20em;border:1px solid lightgray;" onclick='$(this).autocomplete("search");' onkeyup="wait_to_search(search_share, this.value);" />
			<select id="share_role_select" class="hidden"><TMPL_VAR NAME="ROLES"></select>
			<span href="javascript:void(0)" onClick="edit_access(<TMPL_VAR NAME=ITEM_ID>, <TMPL_VAR NAME=ITEM_TYPE>);" class='coge-button'>Add</span>
			<div style="padding-top:20px;">
				<input type="checkbox" id="restrict_checkbox">
				<span> Make Public</span>
			</div>
		<TMPL_ELSE>
			<span style="color:dimgray">
				You don't have permission to modify the selected item(s).
			</span>
		</TMPL_IF>
	</div>
</div>
</TMPL_IF>

<TMPL_IF NAME='GROUP_DIALOG'>
<script>
$(function(){
	$("#group_input")
		.autocomplete({
			source: [],
			focus: function() { return false; },
			select:
		    	function(event, ui) {
		    		$("#group_input")
		    			.val( ui.item.label )
		    			.data('select_id', ui.item.value);
		    		return false;
		    	},
		});
	$("#group_input").focus();
});
</script>
<div style="margin:20px;margin-left:5px;">
	<div style="padding-bottom:10px;">
		<span class="small" style="font-weight:bold;color:dimgray;">Group Role:</span>
		<select id="group_role_select" onchange="change_group_role('<TMPL_VAR NAME=ITEM_ID>', '<TMPL_VAR NAME=ITEM_TYPE>');"><TMPL_VAR NAME="ROLES"></select>
	</div>
	<br>
	<span class="small" style="font-weight:bold;color:dimgray;">Group Members</span>
	<div class="small" style="overflow:auto;max-height:120px;padding-left:30px;padding-bottom:10px;border-top:1px solid lightgray;">
		<div style="padding-top:10px;">
			<TMPL_LOOP NAME="USER_LOOP">
				<div>
					<img src="picts/user-icon.png" width="11" height="11"/>
					<span style="color:dimgray;"><TMPL_VAR NAME="USER_FULL_NAME"> (<TMPL_VAR NAME="USER_NAME">) <TMPL_VAR NAME="USER_ROLE"><span>
					<TMPL_IF NAME="USER_DELETE">
						<span onClick="$(this.parentNode).fadeOut('slow'); remove_user_from_group('<TMPL_VAR NAME=USER_ITEM>', '<TMPL_VAR NAME=ITEM_ID>', '<TMPL_VAR NAME=ITEM_TYPE>');" class="link ui-icon ui-icon-close"></span>
					</TMPL_IF>
					<br>
				</div>
			</TMPL_LOOP>
			<TMPL_IF NAME="ACCESS_MSG">
				<div style="color:dimgray;font-style:italic;">
					<TMPL_VAR NAME="ACCESS_MSG">
				</div>
			</TMPL_IF>
		</div>
	</div>
	<br>
	<span class="small" style="font-weight:bold;color:dimgray;">Add Member</span>
	<div class="small" style="padding:20px;padding-left:30px;border-top:1px solid lightgray;">
		<TMPL_IF NAME="IS_EDITABLE">
			<span style="color:dimgray">Enter names or groups:</span><br>
			<input id="group_input" type="search" maxlength="40" spellcheck="false" style="width:270px;border:1px solid lightgray;" onclick='$(this).autocomplete("search");' onkeyup="wait_to_search(search_group, this.value);" />
			<span href="javascript:void(0)" onClick="add_users_to_group('<TMPL_VAR NAME=ITEM_ID>', '<TMPL_VAR NAME=ITEM_TYPE>');" class='coge-button'>Add</span>
		<TMPL_ELSE>
			<span style="color:dimgray">
				You don't have permission to modify this group.
			</span>
		</TMPL_IF>
	</div>
	<!--<br>
	<span href="javascript:void(0)" onClick="$('#group_dialog').dialog('close');" class='ui-button ui-corner-all'>Done</span>-->
</div>
</TMPL_IF>

<!--<TMPL_IF NAME='Histogram'>
	<div>Nothing to see here.</div>
</TMPL_IF>-->

<TMPL_IF NAME='ERROR_DIALOG'>
<div class="small" align='center'>
	<br>
	<TMPL_VAR NAME='ERROR_MESSAGE'>
	<br>
	<br>
	<span style="font-size:.75em;" class='coge-button' onClick="$(this.parentNode.parentNode).dialog('close');">&nbsp&nbsp;OK&nbsp&nbsp;</span>
</div>
</TMPL_IF>

<TMPL_IF NAME='LOGIN'>
	<TMPL_INCLUDE NAME="widgets/Login.tmpl">
</TMPL_IF>

<TMPL_IF NAME='ADMIN_AREA'>
<!--
<hr>
Admin Functions:<br>
none at the moment
-->
</TMPL_IF>

<div id="group_dialog" class="dialog_box hidden" title="Edit Group"></div>