<TMPL_IF NAME="MAIN">
<script src="./js/coge/utils.js"></script>
<script src="./js/coge/services.js"></script>
<script src="./js/coge/progress.js"></script>
<script src="./js/pages/experiment-view.js"></script>
<script type="text/javascript" src="./js/jquery.tablesorter.2.0.3.js"></script>
<script type="text/javascript" src="./js/jquery.tablesorter.pager.js"></script>
<script type="text/javascript" src="./js/jquery.fileupload.js"></script>
<script type="text/javascript">

const API_BASE_URL  = '<TMPL_VAR NAME="API_BASE_URL">';
const STATUS_URL    = '<TMPL_VAR NAME="STATUS_URL">';
const PAGE_NAME     = '<TMPL_VAR NAME="PAGE_NAME">';
const SUPPORT_EMAIL = '<TMPL_VAR NAME="SUPPORT_EMAIL">';
const USER_NAME     = '<TMPL_VAR NAME="USER_NAME">';
const IRODS_HOME    = '<TMPL_VAR NAME=IRODS_HOME>';
const DISCOVERY_ENVIRONMENT = "https://de.iplantcollaborative.org/de/?type=data&folder=";
const POPGEN_RESULT_URL = '<TMPL_VAR NAME="POPGEN_RESULT_URL">';

var EXPERIMENT_ID = '<TMPL_VAR NAME="EXPERIMENT_ID">';
var WORKFLOW_ID = '<TMPL_VAR NAME="WORKFLOW_ID">';
var newLoad = false;
var annotations;

$(document).ready(function() {
    pageObj = new Object();
    pageObj.timers = new Array();

    $.ajaxSetup({
        type: "GET",
        url: PAGE_NAME,
        dataType: "html",
        cache: false,
    });

    $(".dialog_box").dialog({ autoOpen: 0 });
    $("#experiment_tag_edit_box").dialog({ width: '28em' });

    $("#edit_tag_name").autocomplete({
        source: function() { get_experiment_tags(); }
    });

    set_annotation_table();

    annotations = new Annotations('experiment_annotations', 'experiments', EXPERIMENT_ID, '<TMPL_VAR NAME="DEFAULT_TYPE">');

    // Initialize CoGe packages
    coge.services.init({
    	baseUrl: API_BASE_URL,
    	userName: USER_NAME
    });
    
    coge.progress.init({
    	baseUrl: API_BASE_URL,
    	userName: USER_NAME,
    	supportEmail: SUPPORT_EMAIL,
    	onReset: reset_location,
    	onSuccess: get_annotations // for Metaplot
    });
    
    // Initialize analysis dialogs
    snpMenu.init();
    expressionMenu.init();
    metaplotMenu.init();
    diversityMenu.init();
    
    // Open status dialog
    if (WORKFLOW_ID) {
    	coge.progress.begin();
    	coge.progress.update(WORKFLOW_ID);
    }
});
</SCRIPT>

<TMPL_UNLESS NAME="EMBED">
<div style="font-size:1em;">
    <TMPL_IF NAME="LOGON">
	<div class="inline link" title="Favorite this experiment">
		<img src=<TMPL_IF NAME="FAVORITED">"./picts/star-full.png"<TMPL_ELSE>"./picts/star-hollow.png"</TMPL_IF> style="width:1em;height:1em;" onclick="toggle_favorite(this);" />
	</div>
	</TMPL_IF>
	<span class="bold text coge-green"><TMPL_VAR NAME="EXPERIMENT_TITLE"></span>
</div>
</TMPL_UNLESS>

<br>
<table>
	<tr style="vertical-align:top">
		<td>
			<div>
			    <div class="bold text">Info</div>
			    <div id='experiment_info' class="inline">
			        <TMPL_VAR NAME="EXPERIMENT_INFO">
			    </div>
			</div>
		</td>
		<td>
			<div style="padding-left:2em; padding-bottom:2em;">
			    <div class="bold text">Statistics</div>
			    <table class="inline top border-top coge-nowrap">
			        <tr style="padding:3px;">
			            <td>
			                <span class="title5">Items:</span>
			            </td>
			            <td>
			                <span class="data5"><TMPL_VAR NAME="ITEMS"><span>
			            </td>
			        </tr>
			        <tr style="padding:3px;">
			            <td>
		                	<span class="title5">Data size:</span>
		                </td>
		                <td>
		                	<span class="data5"><TMPL_VAR NAME="FILE_SIZE"> bytes<span>
		                </td>
			        </tr>
			    </table>
			</div>
			<div style="padding-left:2em;">
			    <div class="bold text">Tools</div>
			    <table class="inline top border-top coge-nowrap">
			    	<tr class="" style="padding:3px;">
			    		<td>
			    			<span class="title5">Export data to:</span>
			    		</td>
			    		<td>
		            		<span class="data5 link" ondblclick="download_files();" onclick="download_files();">Download</span>
		            		<TMPL_UNLESS NAME="PUBLIC">
		            		|&nbsp;<span class="data5 link" ondblclick="export_data();" onclick="export_data();">CyVerse Data Store</span>
		            		</TMPL_UNLESS>
		            	</td>
		            </tr>
		            <TMPL_IF NAME="ALIGNMENT_TYPE">
		            <TMPL_UNLESS NAME="PUBLIC">
		            <tr style="padding:3px;">
                    	<td>
                    		<span class="title5">Analyze:</span>
                    	</td>
                    	<td>
                    		<span class="data5 link" ondblclick="snpMenu.open();" onclick="snpMenu.open();">SNPs</span> |
                    		<span class="data5 link" ondblclick="expressionMenu.open();" onclick="expressionMenu.open();">Expression</span> |
                    		<span class="data5 link" ondblclick="metaplotMenu.open();" onclick="metaplotMenu.open();">Metaplot</span>
                    	</td>
			        </tr>
			        </TMPL_UNLESS>
			        </TMPL_IF>
			        <TMPL_IF NAME="POLYMORPHISM_TYPE">
		            <tr style="padding:3px;">
                    	<td>
                    		<span class="title5">Analyze:</span>
                    	</td>
                    	<td>
                    		<span class="data5 link" ondblclick="analyze_diversity();" onclick="analyze_diversity();">Diversity</span>
                    	</td>
			        </tr>
			        </TMPL_IF>
			    </table>
		    </div>
		</td>
	</tr>
</table>

<TMPL_IF NAME="EXPERIMENT_ANNOTATIONS">
<div style="padding-top:2em;">
 <div class="bold text">Metadata</div>
 <div id="experiment_annotations">
  <TMPL_VAR NAME="EXPERIMENT_ANNOTATIONS">
 </div>
</div>
</TMPL_IF>

<div id="experiment_info_edit_box" class="dialog_box hidden" title="Edit Experiment Info"></div>

<div id="experiment_tag_edit_box" class="dialog_box hidden" title="Add Experiment Tag">
  <br>
  <table class="small">
   <tr>
    <td>Tag:</td>
    <td><input id="edit_tag_name" size="53" value=""></td>
   </tr>
  </table>
  <br><span onClick="add_tag_to_experiment();" class='coge-button r'>Add</span>
</div>

<div id="find_snps_dialog" class="dialog_box hidden" title="Find SNPs">
	<div class="info coge-padded-top">
		Select a method for determining SNPs.
	</div>
	<br>
	<table class="small">
		<tr>
			<td>Method: </td>
			<td>
				<select id="find_snps_method">
				    <option value="coge" selected>CoGe SNP-finder</option>
				    <option value="samtools">SAMtools</option>
				    <option value="platypus">Platypus</option>
				    <option value="gatk" disabled>GATK -- coming soon!</option>
			    </select>
			</td>
		</tr>
	</table>
	<br><br>
	<span onClick="find_snps();" class='coge-button'>Identify SNPs</span>
</div>

<TMPL_INCLUDE NAME="widgets/Progress.tmpl">

<TMPL_INCLUDE NAME='widgets/Annotations.tmpl'>

<TMPL_INCLUDE "widgets/pipeline-options.tmpl">

</TMPL_IF> <!-- MAIN -->

<TMPL_IF NAME="EDIT_EXPERIMENT_INFO">
	<script>
	$(function() {
	    $("#edit_source").autocomplete({
	        source:
	            function() {
	                get_sources();
	            },
	        select:
	            function(event, ui) {
	                $("#edit_source").val( ui.item.label );
	                $("#edit_source_id").val( ui.item.value );
	                return false;
	            }
	    });
	});
	</script>
	<table class="small">
	 <tr>
	  <td>Name:</td>
	  <td><input id="edit_name" type="textbox" size="53" value="<TMPL_VAR NAME='NAME'>"></td>
	 </tr>
	 <tr>
	  <td>Description:</td>
	  <td><textarea id="edit_desc" rows="5" cols="50"><TMPL_VAR NAME='DESC'></textarea></td>
	 </tr>
	 <tr>
	  <td>Source:</td>
	  <td>
	   <input id="edit_source" size="53" value="<TMPL_VAR NAME='SOURCE'>">
	   <input id="edit_source_id" type="hidden" value="<TMPL_VAR NAME='SOURCE_ID'>">
	  </td>
	 </tr>
	 <tr>
       <td>Link</td>
       <td><input id="edit_link" size="50" value="<TMPL_VAR NAME='LINK'>" /></td>
     </tr>
	 <tr>
	  <td>Version:</td>
	  <td><input id="edit_version" type="textbox" size="53" value="<TMPL_VAR NAME='VERSION'>"></td>
	 </tr>
	</table>
	<br>
	<span onClick="update_experiment_info();" class='coge-button r'>Update</span>
</TMPL_IF>

<TMPL_IF NAME='ADMIN_AREA'>
	<br><br><hr>
	<div class="bold text padded">Admin Functions</div>
	<div class="small padded">
		<span>Load Log:</span>
	    <span id="log_button" onclick="toggle_load_log();" class='coge-button' style="width:3em; margin-bottom:1em; overflow:auto;">Show</span>
	    <img id="log_spinner" src="picts/ajax-loader.gif" style="opacity: 0;"/>
	    <div id="log_contents" class="border hidden padded coge-code" style="border:1px solid gray; color: navy;"></div>
	</div>
</TMPL_IF>
