<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.2.0.3.js"></SCRIPT>
<SCRIPT language="JavaScript">
function show_feature_info(fid){
//alert(fid);
  generate_feat_info(['args__'+fid],['feat_info','genome_img']);
}

$(document).ready(function(){
wait_til_table_is_populated();
  });

function wait_til_table_is_populated(){
if (ajax.length)
   {
    setTimeout("wait_til_table_is_populated()",100);
    return;
   }
   var table_height = $('#featlist_body').height();
   var max_height = 400;
  if (table_height > max_height) $('#featlist_body').height(max_height);
  init_table();
}

function init_table () {
$(function(){
 $("#featlist").tablesorter({
// 		sortColumn: 'HSP No.',			// Integer or String of the name of the column to sort by.
		sortClassAsc: 'headerSortUp',		// Class name for ascending sorting action to header
		sortClassDesc: 'headerSortDown',	// Class name for descending sorting action to header
		headerClass: 'header',			// Class name for headers (th's)
		widgets: ['zebra'],
		textExtraction: 'complex',
		headers: {0: {sorter: false}},
		sortList: [[2,0],[3,0]],
		});
 });
}
function show_feature_info(featid){
if ($('#feat_info').is(':hidden')) $('#overlap_box').slideDown(pageObj.speed);
  generate_feat_info(['args__'+featid],['feat_info']);
}

jQuery.fn.getCheckboxes = function()
{
	var str = ",";
	this.each(
			function()
			{
				jQuery("input[@type=checkbox]",this).each(
					function() {
					  //alert(this.value);
					  if (this.checked == true) str = str + this.id +",";
					}
				);
			}
		);
	return str;
};

jQuery.fn.checkCheckboxes = function()
{
	//var returnWhat = jQuery([]);
	this.each(
		function()
		{
			jQuery("input[@type=checkbox]", this).each(
				function()
				{
					this.checked = true;
				}
			);
			//returnWhat = checked;
		}
	);
	//returnWhat = this;
};

jQuery.fn.unCheckCheckboxes = function()
{
	//var returnWhat = jQuery([]);
	this.each(
		function()
		{
			jQuery("input[@type=checkbox]", this).each(
				function()
				{
					this.checked = false;
				}
			).filter(":not(:checked)");
		}
	);
};

</SCRIPT>

<div id=chr_img style="overflow: auto;max-height: 800px;">
<table>
<TMPL_LOOP NAME=CHROMOSOME_LOOP>
	 <tr>
		 <td valign="top">
		 <TMPL_VAR NAME=ORG_NAME>
		 </td>
		 <td>
         <TMPL_VAR NAME=CHR_IMAGE>
         </td>
   </tr>
</TMPL_LOOP>
</table>
</div>
<br>
<div class="seqbackbox" style="width: 100%;height: 12px;"></div>
<br>
<div id=feat_table style="float: left; clear:none">
<form id=feature_list>
 <table id="featlist">
  <thead>
   <tr>
   <th> </th>
    <th>Color</th>
    <th>Org</th>
    <th>Feature</th>
    <th>Chr</th>
    <th>Loc</th>
   </tr>
  </thead>
  <tbody id="featlist_body" style="overflow: auto;">
   <TMPL_LOOP NAME=FEAT_TABLE>
    <tr>
    <td><input type=checkbox id=check_<TMPL_VAR NAME=FID> value="<TMPL_VAR NAME=FID>"</td>
     <td align=middle><div id=color_<TMPL_VAR NAME=FID> class="gevo_sample_color" style="background-color: <TMPL_VAR NAME=COLOR>"></td>
     <td><TMPL_VAR NAME=ORG></td>
     <td><TMPL_VAR NAME=FEAT_NAME></td>
     <td><TMPL_VAR NAME=CHR></td>
     <td><TMPL_VAR NAME=LOC></td>
    </tr>
   </TMPL_LOOP>
  </tbody>
 </table>
 </form>
 Select color:
 <select id=color_select>
 <option value='red'>Red</option>
 <option value='blue'>Blue</option>
 <option value='green'>Green</option>
 <option value='orange'>Orange</option>
 <option value='yellow'>Yellow</option>
 <option value='purple'>Purple</option>
 <option value='brown'>Brown</option>
  <option value='gray'>Gray</option>
  </select>
  <input type=button value="Go" onclick=update_color_scheme();>
</div>
<div id=genome_img style="float: left"></div>
<div id=feat_info style="float: right;"></div>
