<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_VAR NAME="PREBOX">
<TMPL_IF NAME="NO_BOX">
	<TMPL_VAR NAME="BODY">
<TMPL_ELSE>
	<TMPL_INCLUDE NAME="box.tmpl">
</TMPL_IF>
<TMPL_VAR NAME="POSTBOX">
</div>
<TMPL_INCLUDE NAME="footer.tmpl">
