<TMPL_IF NAME='MAIN'>
<link rel="stylesheet" type="text/css" href="js/vendor/datatables/media/css/jquery.dataTables.min.css"/>
<script type="text/javascript" src="js/vendor/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/jquery.tablesorter.2.0.3.js"></script>
<script type="text/javascript" src="js/jquery.tablesorter.pager.js"></script>
<script type="text/javascript" src="js/jquery.fileupload.js"></script>
<script type="text/javascript" src="js/coge/utils.js"></script>
<script type="text/javascript" src="js/pages/genome-info.js"></script>
<script type="text/javascript" src="js/vendor/moment/moment.js"></script>
<script type="text/javascript" src="js/vendor/moment-timezone-data/index.js"></script>
<script src="js/coge/progress.js"></script>
<script src="js/coge/services.js"></script>
<style>
#chr_list_table {
  white-space: nowrap;
}
#chr_list_table td {
  font-size: small;
}
#chr_list_table th {
	color: dimgray !important;
	font-size: small;
	text-align: left;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	color:#0000EE !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color:#009900!important;
    border:1px solid transparent !important;
    background:none !important;
}
.dataTables_info{ font-size: small; }
</style>

<script language="javascript">

// Export general global vars
var job_id = "<TMPL_VAR NAME=JOB_ID>",
    GENOME_ID = "<TMPL_VAR NAME=GID>",
    load_id = "<TMPL_VAR NAME=LOAD_ID>",
    irods_home_path = "<TMPL_VAR NAME=IRODS_HOME>",
    CERTIFIED = "<TMPL_VAR NAME='CERTIFIED'>",
    PAGE_NAME = "<TMPL_VAR NAME=PAGE_NAME>",
    DISCOVERY_ENVIRONMENT = "https://de.iplantcollaborative.org/de/?type=data&folder=",
    API_BASE_URL = '<TMPL_VAR NAME="API_BASE_URL">';
    newLoad = false;

// Export dialog global vars
var irods_home = $("<p>Sending to: " + irods_home_path + "</p>");
var export_error = $("<p></p>")
    .text("Failed to export to the CyVerse Data Store.")
    .addClass("alert");
var download_error = $("<p></p>")
    .text("The file could not be fetched")
    .addClass("alert");
var spinner = $("<img></img>").attr("src", "picts/ajax-loader.gif");
var message = $("<div></div>").text("Please wait...  ").append(spinner.clone());
var note = $("<p></p>").addClass("small").text("(This may take several minutes)");
var annotations;

$(document).ready(function() {
    pageObj = new Object();
    pageObj.timers = new Array();

    pageObj.user = "<TMPL_VAR NAME=USER>";

    $.ajaxSetup({
        type: "GET",
        url: PAGE_NAME,
        dataType: "html",
        cache: false,
        timeout: 5*60*60*1000 // 5 hours -- mdb added 7/22/15 for AA usage, codon usage, etc.
    });

    $(".dialog_box").dialog({ autoOpen: false, width: '30em' });

    $("#status_dialog").dialog({modal: true});

    $("#export_dialog").dialog({modal: true});

    $("#edit_user").autocomplete({
        source:[],
        focus: function() { return false; },
    });
    
    if (CERTIFIED == '1')
    	$('#certified_box').show();
    
    // Open status dialog
    if (job_id) {
        reset_log();
        $('#loading_msg').hide();
        $('#load_dialog').dialog('open');
        update_dialog("api/v1/jobs/" + job_id, pageObj.user, $("#load_dialog"), progress_formatter);
    }
    
    // Change creation timestamp to local time
    var creation = $('#creation').html();
    if (creation) {
    	var localized = coge.utils.timeToLocal(creation);
    	if (localized != creation)
    		$('#creation').html(localized);
    }
    coge.services.init({
        baseUrl: API_BASE_URL,
    	userName: pageObj.user
    });
    coge.progress.init({
    	baseUrl: API_BASE_URL,
    	userName: pageObj.user
    });
    annotations = new Annotations('genome_annotations', 'genome', GENOME_ID, '<TMPL_VAR NAME="USER_CAN_EDIT">', '<TMPL_VAR NAME="DEFAULT_TYPE">');
});

</script>

<div class="dialog_box hidden" id="chromosome_hist" title="Chromosome Size"></div>
<div class="dialog_box hidden" id="chromosome_list" title="Chromosome List">
	<div id="chr_list_loading">Loading...</div>
	<div id="chr_list" style="display:none;">
		<table id="chr_list_table" class="display">
			<thead><tr><th>Chromosome</th><th>Length</th><th></th><th style="text-align:center;">Files</th><th></th></thead>
			<tbody></tbody>
		</table>
		<span onclick="export_chr_file()" class="r coge-button" style="margin-left:10px;margin-top:10px;">Send to CyVerse</span>
		<span onclick="download_chr_file()" class="r coge-button" style="margin-top:10px;">Download</span>
	</div>
</div>
<div class="dialog_box hidden" id="gc_histogram" title="Chromosome Size"></div>
<div class="dialog_box hidden" id="wobble_gc_histogram" title="Histogram of Wobble GC Content for CDS"></div>
<div class="dialog_box hidden" id="wobble_gc_diff_histogram" title="(CDS GC - wobble GC) Content Histogram"></div>
<div class="dialog_box hidden" id="codon_usage_table" title="Codon Usage Table"></div>
<div class="dialog_box hidden" id="aa_usage_table" title="Amino Acid Usage Table"></div>
<div class="dialog_box hidden" id="edit_genome_info" title="Edit Genome Information"></div>

<TMPL_UNLESS NAME="EMBED">
<div style="font-size:1em;">
    <TMPL_IF NAME="LOGON">
	<div class="inline link" title="Favorite this genome">
		<img src=<TMPL_IF NAME="FAVORITED">"./picts/star-full.png"<TMPL_ELSE>"./picts/star-hollow.png"</TMPL_IF> style="width:1em;height:1em;" onclick="toggle_favorite(this);" />
	</div>
	</TMPL_IF>
	<span class="bold text coge-green"><TMPL_VAR NAME="GENOME_TITLE"></span>&nbsp;&nbsp;&nbsp;
	<TMPL_INCLUDE NAME="widgets/Certified.tmpl">
</div>
</TMPL_UNLESS>

<br>
<table style="overflow:hidden;">
    <tr class="top">
        <td>
            <span class="bold text">Info</span>
            <div id='genome_info' style="width:400px;"><TMPL_VAR NAME="GENOME_INFO"></div>

            <div class="panel">
                <TMPL_IF NAME='USER_CAN_EDIT'>
                    <span class='coge-button' onClick="edit_genome_info();">Edit Info</span>
                </TMPL_IF>
                <TMPL_IF NAME='USER_CAN_DELETE'>
                    <TMPL_IF NAME='DELETED'>
                        <span class='coge-button' onClick="delete_genome();">Undelete</span>
                    <TMPL_ELSE>
                        <span class='coge-button coge-button-danger' onClick="$('#genome_delete_box').dialog('open');">Delete</span>
                    </TMPL_IF>
                </TMPL_IF>
                <span class='coge-button' onclick='location.href="GenomeView.pl?embed=<TMPL_VAR NAME=EMBED>&gid=<TMPL_VAR NAME=GID>"'>Browse</span>
            </div>

            <div style="padding-top:1em;">
	            <div class="bold text">Metadata</div>
	            <div id="genome_annotations"></div>
            </div>

            <div class="bold text" style="padding-top:1em;">Sequence & Gene Annotation</div>
            <TMPL_IF NAME='DATASETS'>
                <table id="datasets" class="small border-top border-bottom" style="color:gray;">
                    <TMPL_VAR NAME='DATASETS'>
                </table>
            </TMPL_IF>
            <TMPL_IF NAME='USER_CAN_EDIT'>
                <div class="panel">
                    <span class='coge-button' onclick="location.href='LoadAnnotation.pl?embed=<TMPL_VAR NAME=EMBED>&gid=<TMPL_VAR NAME=GID>'">Load Gene Annotation</span>
                </div>
            </TMPL_IF>
        </td>

        <td style="padding-left:2em;">
            <TMPL_VAR NAME="GENOME_DATA">
            <div class="left coge-table-header">Tools</div>
            <table class="border-top">
                <tr>
                    <td class='title5'>Download:</td>
                    <td class='data5'>	
                        <a class='link' href='<TMPL_VAR NAME="DOWNLOAD_URL">'>FASTA</a>&nbsp|
                        <span class='link' onclick="get_gff()">GFF</span>&nbsp|
                        <span class='link' onclick="get_tbl()">TBL</span>&nbsp|
                        <span class='link' onclick="get_bed()">BED</span>
                    </td>
                </tr>
                <TMPL_IF NAME="LOGON">
                <tr>
                    <td class='title5'>Export to CyVerse Data Store:</td>
                    <td class='data5'>
                        <span class='link' ondblclick="export_fasta()" onclick="export_fasta()">FASTA</span>
                        &nbsp|
                        <span class='link' ondblclick="export_gff()" onclick="export_gff()">GFF</span>&nbsp|
                        <span class='link' ondblclick="export_tbl()" onclick="export_tbl()">TBL</span>&nbsp|
                        <span class='link' ondblclick="export_bed()" onclick="export_bed()">BED</span>
                    </td>
                </tr>
                <tr>
                    <td class='title5'>Duplicate:</td>
                    <td class='data5'>
                        <span class='link' onDblClick="copy_genome(0,0);" onClick="copy_genome(0,0);">Copy</span>&nbsp|
                        <span class='link' onDblClick="copy_genome(0,1);" onClick="copy_genome(0,1);">Copy (No Annotations)</span>&nbsp|
                        <span class='link' onDblClick="copy_genome(1,0);" onClick="copy_genome(1,0);">Copy & Mask</span>&nbsp|
                        <span class='link' onClick="window.open('LoadGenome.pl?oid=<TMPL_VAR NAME=OID>')">Load new version</span>
                    </td>
                </tr>
                </TMPL_IF>
                <tr>
                    <td class='title5'>Analyze:</td>
                    <td class='data5'>
                        <a href='OrganismView.pl?dsgid=<TMPL_VAR NAME=GID>' target=_new>OrganismView</a>&nbsp|
                        <a href='CodeOn.pl?dsgid=<TMPL_VAR NAME=GID>' target=_new>CodeOn</a>&nbsp|
                        <span class='link' onclick="window.open('SynMap.pl?dsgid1=<TMPL_VAR NAME=GID>;dsgid2=<TMPL_VAR NAME=GID>');">SynMap</span>&nbsp|
                        <span class='link' onclick="window.open('CoGeBlast.pl?dsgid=<TMPL_VAR NAME=GID>');">CoGeBlast</span>
                        <TMPL_IF NAME="TRANSCRIPTOME">
                        &nbsp|&nbsp<span class='link' onclick="annotate();">Annotate</span>
                        </TMPL_IF>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<div class="bold text" style="padding-top:1em;">Experiments <span id="exp_count" <TMPL_UNLESS NAME="EXP_COUNT">class="hidden"</TMPL_UNLESS> >(<TMPL_VAR NAME="EXP_COUNT">)</span></div>
<TMPL_IF NAME='EXPERIMENTS'>
    <table class="small border-top border-bottom">
        <tr>
            <td>
                <TMPL_VAR NAME='EXPERIMENTS'>
            </td>
        </tr>
    </table>
</TMPL_IF>
<TMPL_IF NAME='USER_CAN_ADD'>
    <div class="panel">
        <span class='coge-button' onclick="location.href='LoadExperiment.pl?embed=<TMPL_VAR NAME=EMBED>&gid=<TMPL_VAR NAME=GID>'">Load Experiment</span>
    </div>
</TMPL_IF>
<br><br>

<div id="genome_info_edit_box" class="dialog_box hidden" title="Edit Genome Info"></div>
<div id="genome_notebooks_edit_box" class="dialog_box hidden" title="Add to Notebook"></div>
<div id="genome_users_edit_box" class="dialog_box hidden" title="Add Users"></div>
<div id="genome_groups_edit_box" class="dialog_box hidden" title="Add Groups"></div>

<div id="gff_export" class="dialog_box hidden" title="GFF Exporter">
	<table class=small>
	 <tr>
	   <td>Do not generate features for ncRNA genes (CDS genes only)</td>
	   <td><input type="checkbox" name="cds_only" id="cds_only"></td>
	 </tr>
	 <tr>
	   <td>Include feature annotations (descriptive text; Geneontology; etc)</td>
	   <td><input type="checkbox" name="annos" id="annos" checked></td>
	 </tr>
	 <tr>
	   <td>Ensure that GFF Name tag is unique for each feature</td>
	   <td><input type="checkbox" name="name_unique" id="name_unique" checked></td>
	 </tr>
	 <tr>
	   <td>Do not propagate duplicate annotations to children</td>
	   <td><input type="checkbox" name="upa" id="upa" checked></td>
	 </tr>
	 <tr>
	   <td>For GFF "ID" and "Parent" tags, use unique:
	   <td>
	     <select id="gff_id_type">
	      <option value="name" selected>Name</option>
	      <option value="num">Number</option>
	     </select>
	 </tr>
	</table>
	<span id="gff_submit" class="coge-button" style="margin-top:1em;" onClick="$('#gff_export').dialog('close');">Export GFF File</span>
	<br><br><span class="small" id="export_gff_link"></span>
</div>

<div id="genome_delete_box" class="dialog_box hidden" title="Delete genome?" align='center'>
Are you sure you want to move this genome into your trash?<p>
 <div>
  <span style="font-size:.75em" class='coge-button coge-button-danger' onClick="delete_genome();">Yes</span>
  <span style="font-size:.75em" class='coge-button' onClick="$('#genome_delete_box').dialog('close');">No</span>
 </div>
</div>

<div id="status_dialog" class="hidden dialog_box">
    <div id="status_log" class="small text padded ui-widget-content ui-corner-all" style="overflow-y:auto;width:450px;height:200px;">
    </div>
    <br>
    <div id="status_msg">
      <!--<span class="small" style="float:right;">Link: <a href='<TMPL_VAR NAME="LINK">'><TMPL_VAR NAME="LINK"></a></span>-->
      Please wait ... <img src="picts/ajax-loader.gif"/>
    </div>
    <span id="finished_msg" class="hidden">Finished! <img src="picts/thumbs_up.png"></span>
    <input id="new_genome_id" type="hidden" />
    <span id="ok_button" onClick="$('#status_dialog').dialog('close');" style="float:right;" class="hidden coge-button">OK</span>
    <span id="finish_button" onClick="continue_to_view();" style="float:right;" class="hidden coge-button">Go to new genome</span>
    <span id="cancel_button" onClick="$('#status_dialog').dialog('close');" style="float:right;" class="hidden coge-button coge-button-danger">Cancel</span>
</div>

<div id="export_dialog" class="hidden dialog_box" title="Exporting ...">
    <div id="export_log" class="center text ui-widget-content ui-corner-all" style="overflow-y:auto;width:450px;height:200px;">
    </div>
    <br>
    <span id="export_loading_msg">Please wait ... <img src="picts/ajax-loader.gif"/></span>
    <span id="export_finished_msg" class="hidden">Finished! <img src="picts/thumbs_up.png"></span>
    <span id="export_error_msg" class="hidden">An error occurred <img style="vertical-align:text-top" src="picts/thumbs_down.png"></span>
    <span id="export_ok_button" onClick="$('#export_dialog').dialog('close');" style="float:right;" class="hidden coge-button">OK</span>
</div>

<div id="load_dialog" class="hidden dialog_box" title="Copying Genome">
	<div id="load_log" class="small text padded ui-widget-content ui-corner-all" style="overflow-y:auto;width:450px;height:200px;">
	</div>
	<br>
	<div id="loading_msg">
	  <span class="small" style="float:right;">Link: <a></a></span>
	  Please wait ... <img src="picts/ajax-loader.gif"/>
	</div>
    <div class="coge-buttonset">
        <span id="finished_msg" class="hidden">Finished! <img src="picts/thumbs_up.png"></span>
        <span id="error_msg" class="hidden">An error occurred <img style="vertical-align:text-top" src="picts/thumbs_down.png"></span>
        <span id="ok_button" onClick="reset_load();" style="float:right;" class="hidden coge-button">OK</span>
        <span id="finish_button" onClick="continue_to_view();" style="float:right;" class="hidden coge-button">Continue to new copy</span>
        <span id="cancel_button" onClick="reset_load();" style="float:right;" class="hidden coge-button coge-button-danger">Cancel</span>
    </div>
</div>

<div id="annotate_dialog" class="hidden dialog_box" title="Annotate">
    <div id="annotate_log" class="center text ui-widget-content ui-corner-all" style="overflow-y:auto;width:450px;height:200px;">
    </div>
    <br>
    <span id="annotate_loading_msg">Please wait ... <img src="picts/ajax-loader.gif"/></span>
    <span id="annotate_finished_msg" class="hidden">Finished! <img src="picts/thumbs_up.png"></span>
    <span id="annotate_error_msg" class="hidden">An error occurred <img style="vertical-align:text-top" src="picts/thumbs_down.png"></span>
    <span id="annotate_ok_button" onClick="$('#annotate_dialog').dialog('close');" style="float:right;" class="hidden coge-button">OK</span>
</div>

<TMPL_INCLUDE NAME='widgets/Annotations.tmpl'>
<TMPL_INCLUDE NAME="widgets/Overlay.tmpl">
<TMPL_INCLUDE NAME="widgets/Progress.tmpl">
</TMPL_IF>

<TMPL_IF NAME="DO_GENOME_INFO">
    <table class="border-top border-bottom">
        <tr>
            <td class='title5' style='white-space:nowrap;'>Genome ID:</td>
            <td class='data5'><TMPL_VAR NAME="GID"></td>
        </tr>
        <tr>
            <td class='title5' style='white-space:nowrap;'>Organism:</td>
            <td class='data5'><span class="link" onclick="window.open('OrganismView.pl?gid=<TMPL_VAR NAME=GID>')"><TMPL_VAR NAME="ORGANISM"></span></td>
        </tr>
        <tr>
            <td class='title5' style='white-space:nowrap;'>Version:</td>
            <td class='data5'><TMPL_VAR NAME="VERSION"></td>
        </tr>
        <tr>
            <td class='title5' style='white-space:nowrap;'>Type:</td>
            <td class='data5'><TMPL_VAR NAME="TYPE"></td>
        </tr>
        <tr>
            <td class='title5' style='white-space:nowrap;'>Source:</td>
            <td class='data5'><TMPL_VAR NAME="SOURCE"></td>
        </tr>
        <tr>
            <td class='title5' style='white-space:nowrap;'>Link:</td>
            <td class='data5'><span class="link" onclick="window.open('<TMPL_VAR NAME=LINK>')"><TMPL_VAR NAME="LINK"></span></td>
        </tr>
        <tr>
            <td class='title5' style='white-space:nowrap;'>Name:</td>
            <td class='data5'><TMPL_VAR NAME="NAME"></td>
        </tr>
        <tr>
            <td class='title5' style='white-space:nowrap;'>Description:</td>
            <td class='data5'><TMPL_VAR NAME="DESCRIPTION"></td>
        </tr>
        <tr>
            <td class='title5' style='white-space:nowrap;'>Restricted:</td>
            <td class='data5'><TMPL_VAR NAME="RESTRICTED"></td>
        </tr>
        <tmpl_if name="creator">
        <tr>
            <td class='title5' style='white-space:nowrap;'>Creation:</td>
            <td class='data5'><TMPL_VAR NAME="CREATOR"> <span id="creation"><TMPL_VAR NAME="CREATION_DATE"></span></td>
        </tr>
        </tmpl_if>
        <tmpl_if name="owner">
        <tr>
            <td class='title5' style='white-space:nowrap;'>Owner:</td>
            <td class='data5'><tmpl_var name="owner"></td>
        </tr>
        </tmpl_if>
        <tr>
            <td class='title5' valign='top' style='white-space:nowrap;'>Users with access:</td>
            <td class='data5'><TMPL_VAR NAME="USERS_WITH_ACCESS"></td>
        </tr>
        <tmpl_if name="groups_with_access">
        <tr>
            <td class='title5' valign='top' style='white-space:nowrap;'>Groups with access:</td>
            <td class='data5'><tmpl_var name="groups_with_access"></td>
        </tr>
        </tmpl_if>
        <TMPL_IF NAME="DELETED">
        <tr>
            <td class='alert' style='white-space:nowrap;'>Note:</td>
            <td class='alert'>This genome is deleted</td>
        </tr>
        </TMPL_IF>
    </table>
</TMPL_IF>

<TMPL_IF NAME="EDIT_GENOME_INFO">
    <script>
    $(function() {
        $("#edit_source").autocomplete({source: <TMPL_VAR NAME='SOURCES'>});
    });
    </script>

    <table class="small">
      <tr>
        <td>Organism:</td>
        <td>
          <input id="edit_organism" type="search" onkeyup="debounce_search(search_organisms, this.value);" size="50" value="<TMPL_VAR NAME='ORGANISM'>"/>
          <!--<span id="new_organism_button" onClick="$('#create_new_organism_dialog').dialog('open'); activate_on_input('edit_organism_name', 'create_organism_button');" class='coge-button'>New</span>-->
        </td>
      </tr>
      <tr>
        <td>Version:</td>
        <td><input id="edit_version" type="textbox" size="10" value="<TMPL_VAR NAME='VERSION'>" /></td>
      </tr>
      <tr>
        <td>Type:</td>
        <td>
          <select id="select_type" style="width:230px;" value="<TMPL_VAR NAME='TYPES'>"></select>
          <!-- <span id="new_type_button" onClick="$('#create_new_type_dialog').dialog('open'); activate_on_input('edit_type_name', 'create_type_button');" class='coge-button'>New</span> -->
        </td>
      </tr>
      <tr>
        <td>Source:</td>
        <td>
          <input id="edit_source" type="search" size="50" value="<TMPL_VAR NAME='SOURCE'>"/>
          <!-- <span id="new_source_button" onClick="$('#create_new_source_dialog').dialog('open'); activate_on_input('edit_source_name', 'create_source_button');" class='coge-button'>New</span> -->
        </td>
      </tr>
      <tr>
        <td>Link</td>
        <td><input id="edit_link" size="50" value="<TMPL_VAR NAME='LINK'>" /></td>
      </tr>
      <tr>
        <td>Restricted?</td>
        <td><input id="restricted" type="checkbox" <TMPL_IF NAME='RESTRICTED'>checked</TMPL_IF>></td>
      </tr>
      <tr>
        <td>Name:</td>
        <td><input id="edit_name" type="textbox" placeholder="Optional" size="50" value="<TMPL_VAR NAME='NAME'>" /></td>
      </tr>
      <tr>
        <td>Description:</td>
        <td><textarea id="edit_description" placeholder="Optional" rows="5" cols="50" ><TMPL_VAR NAME='DESCRIPTION'></textarea></td>
      </tr>
    </table>
    <br>
    <span onClick="update_genome_info();" class='coge-button r'>Update</span>
</TMPL_IF>

<TMPL_IF NAME='DO_EXPERIMENTS'>
    <TMPL_LOOP NAME="EXPERIMENT_LOOP">
        <TMPL_VAR NAME="EXPERIMENT_INFO"><br>
    </TMPL_LOOP>
</TMPL_IF>

<TMPL_IF NAME='NOEXPERIMENTS'>
    <div id="experiments" class="padded">
        <a onclick="get_experiments();" ondblclick="get_experiments();">Click to display all Experiments</a>
    </div>
</TMPL_IF>


<TMPL_IF NAME='DO_DATASETS'>
    <TMPL_LOOP NAME="DATASET_LOOP">
        <tr>
            <td>
                <TMPL_VAR NAME="DATASET_INFO">
            </td>
            <!--
            <td>
                <span onClick='$(this).parent("tr").fadeOut("fast"); delete_dataset("<TMPL_VAR NAME=DATASET_ID>");' class='link ui-icon ui-icon-trash'></span>
            </td>
            -->
        </tr>
    </TMPL_LOOP>
</TMPL_IF>

<TMPL_IF NAME='POWER_USER'>
    <hr>
    <div class="bold text">Admin Functions</div>
    
    <div class="small padded">
		<div class="padded" title="Selecting this option will cause this genome to be shown first in search results">
		    Mark genome as "certified":
		    <input type="checkbox" <TMPL_IF NAME='CERTIFIED'>checked</TMPL_IF> onclick="update_certified($(this).is(':checked'));" />
		</div>
		<TMPL_IF NAME='ADMIN_USER'>
    	<div class="padded">
	        Assign to user:
	        <input id="edit_user" type="search" placeholder="Search" onkeyup="wait_to_search(search_users, this.value);" size="10" />
	        <span onClick="update_owner();" class='coge-button'>Go</span>
        </div>
        <div class="padded">
			<span>Load Log:</span>
		    <span id="log_button" onclick="toggle_load_log();" class='coge-button' style="width:3em; margin-bottom:1em; overflow:auto;">Show</span>
		    <img id="log_spinner" src="picts/ajax-loader.gif" style="opacity: 0;"/>
		    <div id="log_contents" class="border hidden padded coge-code" style="border:1px solid gray; color: navy;"></div>
	    </div>
	    </TMPL_IF>
	</div>
</TMPL_IF>
