<style>
body {
  font-size: 16px !important;
}
</style>
<TMPL_INCLUDE NAME="widgets/JBrowse.tmpl">

<SCRIPT type="text/javascript">
var un='<TMPL_VAR NAME="USER_NAME">';
var gid='<TMPL_VAR NAME=GENOME_ID>';
if (gid)
  $(function() { 
    $('#jbrowse').html('<img src="picts/ajax-loader.gif"> Loading ...');
    $('#jbrowse').css('display', '');
    init_JBrowse('jbrowse', '<TMPL_VAR NAME="API_BASE_URL">');
  });
</SCRIPT>

<TMPL_UNLESS NAME="EMBED">
<div style="padding-bottom:0.5em;">
<TMPL_IF NAME="GENOME_INFO">
  <div id="genome_link" class="top">
    <span class="link" style="font-size:1.25em" onclick="window.open('GenomeInfo.pl?gid='+gid);"><TMPL_VAR NAME="GENOME_INFO"></span>&nbsp;&nbsp;
    <button onclick="dojo.byId('genome_link').style.display='none';dojo.byId('change_genome').style.display='';">change</button>
  </div>
  <span id="change_genome" style="display:none;">
<TMPL_ELSE>
  <span id="change_genome">
</TMPL_IF>
    Genome:
    <input type="search" placeholder="Search" spellcheck="false" size="85" />
    <img id="spinner" src="picts/ajax-loader.gif" style="visibility:hidden;" />
<TMPL_IF NAME="GENOME_INFO">
    <button onclick="dojo.byId('change_genome').style.display='none';dojo.byId('genome_link').style.display='';">cancel</button>
</TMPL_IF>
  </span>
</div>
<script>
var change_genome = $('#change_genome input');
function search_genomes(search_term) {
	change_genome.autocomplete("close");
  $('#spinner').css('visibility', 'visible');
	coge.services.search_genomes(search_term, { fast: true })
		.done(function(response) { // success
			if (response && response.genomes) {
				var results = response.genomes.map(function(obj) {
					var label = obj.info.replace(/&#x1f512;/g, "\uD83D\uDD12"); // Lock symbol
					//TODO add certified and favorite icons
					return { label: label, value: obj.id };
				});
				change_genome
					.autocomplete({source: results})
					.autocomplete("search");
			}
			$('#spinner').css('visibility', 'hidden');
		})
		.fail(function() { // error
			$('#spinner').css('visibility', 'hidden');
		});
}
change_genome.autocomplete({
    source:[],
    select: function(event, ui) {
        $(this).val(ui.item.label);
        document.location = '?gid=' + ui.item.value;
        return false; // Prevent the widget from inserting the value.
    },
    focus: function(event, ui) {
        return false; // Prevent the widget from inserting the value.
    }
});
change_genome.keyup(function() {
    coge.utils.wait_to_search(search_genomes, change_genome.get(0));
});
change_genome.click(function() {
  $(this).autocomplete('search');
});
coge.services.init({
  userName: un
});
</script>
</TMPL_UNLESS>
<div id="jbrowse" style="display:none; font-size:12px; height:<TMPL_VAR NAME='HEIGHT'>; width:<TMPL_VAR NAME='WIDTH'>; padding:0; border:1px solid gray;">
</div>
