<script src="js/vendor/swfobject/2.2/swfobject.js"></script>
<script src="/CoGe/gobe/static/gobe.js" ></script>
<script language="JavaScript">
function prepare_update()
 {
   var num_seqs = $("#num_seqs").val();
   var args;
   for (var i=1; i<=num_seqs; i++)
     {
       if (i > 1) {args = args+":"+$('#display-'+i).val()+"-"+$('#image-'+i).val();}
       else {args = $('#display-'+i).val()+"-"+$('#image-'+i).val();}
 //      args[i-1] = 'args__'+$('#display-'+i).val()+"-"+$('#image-'+i).val();
     }
   update(['sqlite','args__'+args],[]);
   check_update();
   setTimeout("window.location.reload()",100);
 }

function check_update()
 {
   if (ajax.length) {setTimeout("check_update()",200);}
 }

$(function() {
 //substaniate dialog boxes
        $(".dialog_box").dialog({ autoOpen: false, width: 500 });
});

Gobe.handle_html= function (html) {
  html = "<span class='ui-button ui-corner-all coge-button' id='clear_lines' onclick='Gobe.clear()'>Clear Connectors</span><br>"+html;
  $('#results_info').html(html);

  if (html && !html.match(/multiple hits/)) {
   $('#results_info').dialog('open');
  }
  setup_button_states();
};

function update_line_width(val)
 {
   val = val+(1*$('#line_width_val').val());
   if (val <1) {val =1;}
   $('.line_width').each(function() {
    $(this).val(val);
   });
   Gobe.set_linewidth($('#line_width_val').val());
 }

</script>
<!--gobe buttons-->
<table>
<tr>
<td><span class='ui-button ui-corner-all coge-button-sm' id="clear_lines" onclick="Gobe.clear()">Clear Connectors</span>

<td><span class='ui-button ui-corner-all drawline coge-button' id="set_lines" onclick="$('.drawline').hide();$('#set_wedges').show();$('.lineopt').show();Gobe.set_connector('line')">Set connector as Lines</span>

<span style="display: none" class='ui-button ui-corner-all lineopt' id="set_wedges" onclick="$('.drawline').show();$('.lineopt').hide();Gobe.set_connector('wedge')">Set connector as Wedges</span>

<td><div class=lineopt style="float: left; display: none">
 <span class='ui-button ui-corner-all' id="">Line Width</span>
 <input type=textbox size=2 class="backbox line_width" id=line_width_val value=3 readonly>
 <span class='ui-button ui-corner-all' id="" onclick="update_line_width(1)">+</span>
 <span class='ui-button ui-corner-all' id="" onclick="update_line_width(-1)">-</span>
</div>
</table>
<DIV id="flashcontent"></DIV>
<!--gobe buttons-->
<table>
<tr>
<td><span class='ui-button ui-corner-all' id="clear_lines" onclick="Gobe.clear()">Clear Connectors</span>

<td><span class='ui-button ui-corner-all drawline' id="set_lines" onclick="$('.drawline').hide();$('#set_wedges').show();$('.lineopt').show();Gobe.set_connector('line')">Set connector as Lines</span>

<span style="display: none" class='ui-button ui-corner-all lineopt' id="set_wedges" onclick="$('.drawline').show();$('.lineopt').hide();Gobe.set_connector('wedge')">Set connector as Wedges</span>

<td><div class=lineopt style="float: left; display: none">
 <span class='ui-button ui-corner-all' id="">Line Width</span>
 <input type=textbox size=2 class="backbox line_width" id=line_width_val value=3 readonly>
 <span class='ui-button ui-corner-all' id="" onclick="update_line_width(1)">+</span>
 <span class='ui-button ui-corner-all' id="" onclick="update_line_width(-1)">-</span>
</div>
</table>

<DIV id="results_info" class="dialog_box" title="GEvo Results Info"></DIV>
<TMPL_VAR NAME="STUFF">
<script language="JavaScript">
    var getQueryParamValue = swfobject.getQueryParamValue;
    var width = getQueryParamValue('w') || <TMPL_VAR NAME="WIDTH">;
    var height = getQueryParamValue('h') || <TMPL_VAR NAME="HEIGHT">;
    var params = {'bgcolor': '#FFFFFF', 'wmode': "opaque"};
    var flashVars = {
            'n'        : getQueryParamValue('n') || <TMPL_VAR NAME="SEQ_NUM">,
            'freezable': getQueryParamValue('freezable') || 'false',
            'pad_gs'   : jQuery('#pad_gs') ? jQuery('#pad_gs').val()  : getQueryParamValue('pad_gs') || '0',
            'gsid'     : getQueryParamValue('gsid') || getQueryParamValue('genespace_id') || '0',
            'gobe_url' : getQueryParamValue('base_url')|| '/CoGe/gobe/',
            'img_url'  : getQueryParamValue('img_url')|| '/CoGe/tmp/GEvo/',
            'base_name': getQueryParamValue('base_name')|| '<TMPL_VAR NAME="BASE_NAME">'
        };
    swfobject.embedSWF("/CoGe/gobe/flash/gobe.swf?<TMPL_VAR NAME="GOBE_VERSION">", "flashcontent", width, height, "9.0.0"
                , "/CoGe/gobe/static/swfobject/expresssinstall.swf", flashVars, params, {}, function(){Gobe.swf=Gobe.get_movie();});

</script>
