<TMPL_UNLESS NAME="NO_DOCTYPE"><!DOCTYPE HTML></TMPL_UNLESS>
<HTML>
<HEAD>
<meta http-equiv="Pragma" content="no-cache" />
<TITLE>CoGe: <TMPL_VAR NAME="PAGE_TITLE"></TITLE>
<meta name="description" content="The CoGe Comparative Genomics Platform.  A software suite of interlinked and interconnected web-based tools for easily visualizing, comparing, and understanding the evolution, struture and dynamics of genomes." />
<meta name="keywords" content="Genetics, Genome, Genomics, Human Genome, Genome Project, Genomics, Homolog, Homologue, Homologous, Homology, Molecular Genetics, Genomes, bioinformatics, mirna, microrna, dna sequencing, computational biology, gene sequencing, shotgun sequencing, Genome Browser, Genetic Information, Biology Genetics, Genome Sequence, Genome Sequencing, Homologous Chromosomes, DNA Genetics, DNA, Genetics Research, Genome Research, Functional Genomics, Genetics Genes, Genetics Map, Genome Analysis, Comparative Genomics, Genome Biology, Genomics Genetics, Homologous Chromosome, Mouse Genome, Human Genome, Yeast Genome, Complete Genomics, Bioinformatics, Bioinformatics genomics, gene genome, homologs, structural genomics, genetic genome, yeast genetics, bioinformatics genome, genes, genome, synteny, syntenic, whole genome sequencing, comparative genome, genetic variations, genome sequences, genome genetics, homologous gene, snp genome" />
<meta name="google-site-verification" content="Pp2O8PKsZWc6dO67lYe2ONCofCYgMwQcoy6bWhkvbXs" />
<meta name="google-site-verification" content="voXZn_uzuPQj7YtCxw5ogRAW5PgalKg-8rA_VT7TooA" />
<meta name="google-site-verification" content="LFIw-oo_UpW85cg_ONvoPuH1IpWYjlfmipsWhOvo1kk" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<TMPL_INCLUDE NAME="header_includes.tmpl">

<TMPL_VAR NAME="HEAD">

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="shortcut icon" href="picts/urlicon/favicon.ico">
</HEAD>

<BODY <TMPL_VAR NAME="BODY_ONLOAD">>

<noscript>
We have detected that your browser currently has JavaScript disabled. 
In order for CoGe to function properly JavaScript must be enabled in your browser.
</noscript>

<div id="logout_dialog" class="hidden dialog_box" title="Log Out of CoGe">
    <div style="text-align:center;padding:30px;">
        <div class="info">Would you like to log out of all CyVerse applications?</div>
        <br><br>
		<div>
			<span onClick="location.href='index.pl?logout_coge=1';" class='coge-button'>Log out of CoGe only</span>&nbsp;&nbsp;&nbsp;&nbsp;
			<span onClick="location.href='index.pl?logout_all=1';" class='coge-button'>Log out of all CyVerse services</span>
		</div>
    </div>
</div>

<TMPL_VAR NAME="JAVASCRIPT">

<script>
jQuery(document).ready(function(){
    pageObj = new Object();

    // Display alert if Internet Explorer
    //if (jQuery.browser.msie) {browserAlert()}; // mdb removed 10/20/16

    setup_button_states();

    // Show indicator if not on main site
    if (   document.URL.indexOf('genomevolution.org') == -1 
    	&& document.URL.indexOf('genomeevolution.org') == -1
    	&& document.URL.indexOf('coge.iplantcollaborative.org') == -1)
    {
        $('#brand').addClass("dev");
    }
    
    $('.dropdown-menu').mouseleave(function(e){
		hideDropdowns();
   	});
    
	$('.dropdown-label').mouseenter(function(e){
		var target = $(e.target).closest('.dropdown-label');
		var id = target.attr('id');
		if (id)
			showDropdown('#' + id.slice(0,4) + '_drop');
	});

	$('#advanced_search').mouseenter(function(e){
		$('#coge-advanced-search').slideDown('fast');
		var e = $('#advanced_search').find('.dropdown-arrow');
		if (e.attr('src') == 'picts/arrow-right-icon.png')
			e.attr('src', 'picts/arrow-down-icon.png');
	});

    $('.dropdown-label').mouseleave(function(e){
       	if (e.relatedTarget && !e.relatedTarget.closest('.dropdown-menu'))
       	    hideDropdowns();
    });
    
    $('#advanced_search').mouseleave(function(e){
       	if (e.relatedTarget && !e.relatedTarget.closest('#coge-advanced-search'))
       	    hideDropdowns();
    });

    // Add logout detector -- mdb added 9/1/16 COGE-724
    if (coge.logout) { // coge.logout module will not be present if in embedded mode
        coge.logout.init({
            loginCookieName: '<TMPL_VAR NAME="COOKIE_NAME">', // should be set by page to enable logout detection
            loginCallback: login_cas
        });
    }

	updateAdvancedSearch();
});

function browserAlert(){
    $('#main_alert').html('IE is not supported.  Please use FireFox: http://www.mozilla.com/en-US/firefox/');
    alert('IE is not supported.  Please use FireFox: http://www.mozilla.com/en-US/firefox/');
}

//set up the jquery ui button behavior
function setup_button_states (id) {
    //button effects on events
	var item;

	if (id) { item='#'+id; }
	else { item = '.ui-button'; }
	$(item+':not(.ui-state-disabled)')
		.hover( function(){
			$(this).addClass("ui-state-hover");
		},
		function(){
			$(this).removeClass("ui-state-hover");
		});
	$(item+':not(.ui-button-toggle)') //buttons that aren't toggle-able
		.mousedown(function(){
			$(this).addClass("ui-state-active");
		})
		.mouseup(function(){
			$(this).removeClass("ui-state-active");
		});
	$(item+'.ui-button-toggle') // buttons that are toggle-able
		.click(function(){
			if( $(this).hasClass('ui-state-active') ){
				$(this).removeClass("ui-state-active");
			}
			else { $(this).addClass("ui-state-active"); }
		});

}

//add button behavior to new buttons, takes in array
function add_button_states (ids) {
    if (!ids)
		return;
    if (!(ids instanceof Array))
		ids = [ids]; //check if ids is an array, if not, make it one
    for (var i=0; i<ids.length; i++)
        setup_button_states(ids[i]);
}

function search() {
	var text = $('#header_search_text').val();
	if ($('#coge-advanced-search').css('display') == 'block') {
		var terms = [];
		if (text) {
			var index = text.indexOf('::');
			while (index != -1) {
				var start = index;
				while (start > 0 && text.charAt(start) != ' ' && text.charAt(start) != '"')
					--start;
				var c = start > 0 ? text.charAt(start) : ' ';
				while (start > 1 && text.charAt(start - 1) == ' ')
					--start;
				var end = index + 2;
				while (end < text.length && text.charAt(end) != c)
					++end;
				while (end < text.length && text.charAt(end) == ' ')
					++end;
				text = start > 0 && end < text.length ? text.substring(0, start) + ' ' + text.substring(end) : start > 0 ? text.substring(0, start) : text.substring(end);
				index = text.indexOf('::');
			}
			text = text.trim();
			if (text)
				terms.push(text);
		}
		var type = $('#search_type').val();
		if (type != 'any')
			terms.push('type::' + type);
		var certified = $('#search_certified').val();
		if (certified != 'any')
			terms.push('certified::' + (certified == 'yes' ? '1' : '0'));
<TMPL_IF NAME="LOGON">
		var deleted = $('#search_deleted').val();
		if (deleted == 'yes')
			terms.push('deleted::1');
		var favorite = $('#search_favorite').val();
		if (favorite != 'any')
			terms.push('favorite::1');
</TMPL_IF>
		var feature_type = $('#search_feature_type').val();
		if (feature_type)
			terms.push('feature_type::' + feature_type);
		var metadata_key = $('#search_metadata_key').val();
		if (metadata_key)
			terms.push('metadata_key::' + metadata_key);
		var metadata_value = $('#search_metadata_value').val();
		if (metadata_value)
			if (metadata_value.indexOf(' ') != -1)
				terms.push('"metadata_value::' + metadata_value + '"');
			else
				terms.push('metadata_value::' + metadata_value);
<TMPL_IF NAME="LOGON">
		var restricted = $('#search_restricted').val();
		if (restricted != 'any')
			terms.push('restricted::' + (restricted == 'yes' ? '1' : '0'));
		var role = $('#search_role').val();
		if (role != 'any')
			terms.push('role::' + role);
</TMPL_IF>
		var tag = $('#search_tag').val();
		if (tag)
			if (tag.indexOf(' ') != -1)
				terms.push('"tag::' + tag + '"');
			else
				terms.push('tag::' + tag);
		if (terms.length)
			window.location.href = 'SearchResults.pl?s=' + terms.join(' ');
		else
			alert('Search not specified');
	} else if (text)
		window.location.href = "SearchResults.pl?s=" + text;
	else
		alert('Search not specified');
}

function updateAdvancedSearch() {
	if (typeof QUERY == 'undefined')
		return;
	['certified', 'deleted', 'favorite', 'restricted', 'role'].forEach(function(opt) {
		if (QUERY[opt])
			$('#search_' + opt).val(QUERY[opt] == 1 ? 'yes' : 'no');
	});
	['feature_type', 'metadata_key', 'metadata_value', 'tag', 'type'].forEach(function(opt) {
		if (QUERY[opt])
			$('#search_' + opt).val(QUERY[opt]);
	});
}

function searchKey(event) {
	if (event.which == 13) {
		event.preventDefault(); //Without this, the page just reloads
		search();
	}
}

function showDropdown(id) {
	hideDropdowns();
	$(id).slideDown('fast');
	var e = $(id + '_label').find('.dropdown-arrow');
	if (e.attr('src') == 'picts/arrow-right-icon.png')
    	e.attr('src', 'picts/arrow-down-icon.png');
}

function hideDropdown(id) {
	var e = $(id + '_label').find('.dropdown-arrow');
	if (e.attr('src') == 'picts/arrow-down-icon.png')
    	e.attr('src', 'picts/arrow-right-icon.png');
}

function hideDropdowns() {
	$('.dropdown-menu').hide();
	hideDropdown('#help_drop');
	hideDropdown('#tool_drop');
	hideDropdown('#user_drop');
	hideDropdown('#advanced_search');
	$('#coge-advanced-search').hide();
}

</script>

<div style="min-height:100%">
<header class="coge-header">

	<!--Header contains logo and search bar-->
	<ul id="header_main" class="coge-header-main">
		<li id="brand"  style="float:left;margin-left:3px;margin-right:1em;line-height:1;">
			<a href="<TMPL_VAR NAME=HOME>">
				<span class="coge-logo">CoGe</span>
			</a>
		</li>
		
		<li>
			<ul class="coge-header-search">
				<li>
					<div class="coge-header-searchbar">
				    	<input id="header_search_text" type="text" class="text" placeholder="Search database" value="<TMPL_VAR NAME='SEARCH_TEXT'>" spellcheck="false" onkeypress="searchKey(event)">
				    </div>
				</li>
				<li>
				    <div id="header_search_button" class="glyphicon glyphicon-search coge-button coge-header-search-button" style="width:1em;" onclick="search();"></div>
			    </li>
				<li id="advanced_search" class="coge-header-button">
					<div id="advanced_search_label">
						<a>advanced</a>
						<img class="dropdown-arrow" src="picts/arrow-right-icon.png">
					</div>
					<div id="coge-advanced-search" class="text">
						<table>
							<tr><td>type:</td><td>
								<select id="search_type">
									<option>any</option>
									<option>experiment</option>
									<option>feature</option>
									<option>genome</option>
									<option>notebook</option>
									<option>organism</option>
								</select>
							</td></tr>
							<tr><td>certified:</td><td>
								<select id="search_certified">
									<option>any</option>
									<option>yes</option>
									<option>no</option>
								</select>
							</td></tr>
<TMPL_IF NAME="LOGON">
							<tr><td>deleted:</td><td>
								<select id="search_deleted">
									<option>no</option>
									<option>yes</option>
								</select>
							</td></tr>
							<tr><td>favorite:</td><td>
								<select id="search_favorite">
									<option>any</option>
									<option>yes</option>
								</select>
							</td></tr>
</TMPL_IF>
							<tr><td>feature type:</td><td>
								<input id="search_feature_type" />
							</td></tr>
							<tr><td>metadata key:</td><td>
								<input id="search_metadata_key" />
							</td></tr>
							<tr><td>metadata value:</td><td>
								<input id="search_metadata_value" />
							</td></tr>
<TMPL_IF NAME="LOGON">
							<tr><td>restricted:</td><td>
								<select id="search_restricted">
									<option>any</option>
									<option>yes</option>
									<option>no</option>
								</select>
							</td></tr>
							<tr><td>my role:</td><td>
								<select id="search_role">
									<option>any</option>
									<option>owner</option>
									<option>editor</option>
									<option>reader</option>
								</select>
							</td></tr>
</TMPL_IF>
							<tr><td>tag:</td><td>
								<input id="search_tag" />
							</td></tr>
						</table>
						<div>
							<button onclick="search();" style="float:right;">search</button>
						</div>
					</div>
				</li>
			</ul>
	    </li>
	</ul>
		
	<!--Buttons and links-->
	<ul id="header_menu" class="coge-header-menu">
		<li class="coge-header-button noselect"><div><a href="User.pl">My Data</a></div></li>
		<li id="tool" class="dropdown coge-header-button noselect">
			<div id="tool_drop_label" class="dropdown-label">Tools <img class="dropdown-arrow" src="picts/arrow-right-icon.png" class="link"></div>
			<ul id="tool_drop" class="dropdown-menu hidden">
				<li class="dropdown-item"><a class="dropdown-link" href="OrganismView.pl">OrganismView</a></li>
				<li class="dropdown-item"><a class="dropdown-link" href="CoGeBlast.pl">CoGeBlast</a></li>
				<li class="dropdown-item"><a class="dropdown-link" href="FeatView.pl">FeatView</a></li>
				<li class="dropdown-item"><a class="dropdown-link" href="SynFind.pl">SynFind</a></li>
				<li class="dropdown-item"><a class="dropdown-link" href="SynMap.pl">SynMap</a></li>
				<li class="dropdown-item"><a class="dropdown-link" href="SynMap3D.pl">SynMap3D</a></li>
				<li class="dropdown-item"><a class="dropdown-link" href="GEvo.pl">GEvo</a></li>
				<li class="dropdown-item"><a class="dropdown-link" href="LoadGenome.pl">Load Genome</a></li>
				<li class="dropdown-item"><a class="dropdown-link" href="LoadExperiment.pl">Load Experiment</a></li>
			</ul>
		</li>
		<li id="help" class="dropdown coge-header-button noselect">
			<div id="help_drop_label" class="dropdown-label">Help <img class="dropdown-arrow" src="picts/arrow-right-icon.png" class="link"></div>
			<ul id="help_drop" class="dropdown-menu hidden">
				<li class="dropdown-item"><a class="dropdown-link" href="<TMPL_VAR NAME=WIKI_URL>" target="_blank">CoGePedia</a></li>
				<li class="dropdown-item"><a class="dropdown-link" href="<TMPL_VAR NAME=WIKI_URL>/<TMPL_VAR NAME=HELP>" target="_blank">Page Docs</a></li>
				<li class="dropdown-item"><a class="dropdown-link" href="http://ask.iplantcollaborative.org/questions/scope%3Aall/sort%3Aactivity-desc/tags%3ACoGe/" target="_blank">Forums</a></li>
				<li class="dropdown-item"><a class="dropdown-link" href="<TMPL_VAR NAME=WIKI_URL>/FAQs" target="_blank">FAQ</a></li>
				<li class="dropdown-item"><a class="dropdown-link" href="<TMPL_VAR NAME=WIKI_URL>/Tutorials" target="_blank">Tutorials</a></li>
				<li class="dropdown-item"><a class="dropdown-link" href="<TMPL_VAR NAME=WIKI_URL>/Contact_Page#How_to_cite_CoGe.3F" target="_blank">Cite CoGe</a></li>
				<li class="dropdown-item"><a class="dropdown-link" href="<TMPL_VAR NAME=WIKI_URL>/System_Support" target="_blank">System Support</a></li>
				<!--<li class="dropdown-item"><a class="dropdown-link" href="<TMPL_VAR NAME=WIKI_URL>/CoGepedia:Current_events" target="_blank">Latest News</a><li>-->
			</ul>
		</li>
<TMPL_IF NAME="LOGON">
        <li class="dropdown coge-header-button noselect">
            <div id="user_drop_label" class="dropdown-label">
                <img src="image.pl" class="coge-user-image" style="margin-top:-5px;vertical-align:middle;" id="user_image" onerror="if (this.src != 'picts/default_user_image.png') this.src = 'picts/default_user_image.png';"\>
                <!--<div style="display:inline-block;vertical-align:middle;"><TMPL_VAR NAME="USER"></div>-->
                <img class="dropdown-arrow" src="picts/arrow-right-icon.png" class="link">
            </div>
            <ul id="user_drop" class="dropdown-menu hidden">
                <li class="dropdown-item"><a class="dropdown-link" href="Account.pl">My Account</a></li>
		        <TMPL_IF NAME="ADMIN_ONLY">
		            <li class="dropdown-item"><a class="dropdown-link" href="Admin.pl">Admin</a></li>
		        </TMPL_IF>
                <li class="dropdown-item"><a class="dropdown-link" onclick="$('#logout_dialog').dialog({modal: true, width: '33em'}).dialog('open');">Logout</a></li>
            </ul>
        </li>
<TMPL_ELSE>
		<li id="header_login_button" class="coge-header-button" onclick="login_cas();return true;">
			<div>Log in</div>
		</li>
</TMPL_IF>
	</ul>
</header>

<!--<div class="tagline"><TMPL_VAR NAME="TITLE"></div>-->
