<script type="text/javascript" src="js/vendor/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/vendor/js-cookie/src/js.cookie.js"></script>
<script type="text/javascript" src="js/coge/logout.js"></script>

<link rel="stylesheet" type="text/css" href="js/jquery-ui-1.12.1.custom/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="css/coge.css?version=2016.10.25" />