<TMPL_IF NAME='LOGIN'>
    <TMPL_INCLUDE NAME="widgets/Login.tmpl">
</TMPL_IF>

<TMPL_IF NAME='MAIN'>

<style>
.ui-autocomplete { max-height: 15em; max-width: 50em; overflow-y: scroll; overflow-x: scroll; }
</style>

<div id="wizard-container"></div>

<!-- DIALOGS -->
<div id="create_new_source_dialog" class="dialog_box hidden" title="Create New Source">
    <table class="small">
        <tr>
            <td>Name:</td>
            <td><input id="edit_source_name" type="textbox" size="53" onkeyup="activate_on_input(['edit_source_name'], 'create_source_button');" /></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><textarea id="edit_source_desc" rows="5" cols="50" ></textarea></td>
        </tr>
        <tr>
            <td>Link:</td>
            <td><input id="edit_source_link" type="textbox" size="53" /></td>
        </tr>
    </table>
    <br>
    <span id="create_source_button" onClick="create_source();" class="ui-state-disabled coge-button coge-button-sm r">Create</span>
</div>

<!-- Step Templates-->
<script id="description-template" type="text/template">
    <div class="step">

        <div id="sra_message" class="hidden form-field indent alert">
            Metadata fields Name, Description, Version, Link, and Source are automatically imported from SRA and cannot be modified.<br>
			SRA data are automatically made publicly accessible.<br><br>
        </div>

        <div class="form-field" title="Enter a unique name for the new experiment">
            <label class="col-md-2">Name:</label>
            <input id="edit_name" type="textbox" class="col-md-8" value="<TMPL_VAR NAME='NAME'>" spellcheck="false" />
            <span style="color: red; font-size: 0.75em" class="col-md-2 glyphicon glyphicon-asterisk"></span>
        </div>

        <div class="form-field" title="Enter a description for the new experiment">
            <label class="col-md-2">Description:</label>
            <textarea id="edit_description" class="col-md-8 no-resize" rows="5" cols="50" placeholder="Optional"><TMPL_VAR NAME='DESC'></textarea>
        </div>

        <div class="form-field" title="Enter whatever version info you would like for the new experiment. Note: the system will automatically prepend a 'v' to whatever you enter.">
            <label class="col-md-2">Version:</label>
            <input id="edit_version" type="textbox" class="col-md-2" size="10" value="<TMPL_VAR NAME='NAME'>" spellcheck="false" />
            &nbsp;&nbsp;<span class="small note">defaults to "1"</span>
        </div>

        <div class="form-field"  title="Enter the source for the data for the new experiment. Start typing to select an exisisting source or click 'New' to add a source.">
            <label class="col-md-2">Source:</label>
                <input id="edit_source" type="search" class="col-md-6" placeholder="Search" size="50" spellcheck="false" onclick='$(this).autocomplete("search");' />
                <div class="col-md-2">
                    <span id="new_source_button" title="Add a new source" onClick="$('#create_new_source_dialog').dialog('open').dialog({'width': '32em'}); activate_on_input(['edit_source_name'], 'create_source_button');" class='coge-button coge-button-sm'>New</span>
                    &nbsp;<span style="color: red; font-size: 0.75em" class="glyphicon glyphicon-asterisk"></span>
                </div>
        </div>

		<div class="form-field" title="Enter a link for the new experiment.">
            <label class="col-md-2">Link:</label>
            <input id="edit_link" type="textbox" class="col-md-6" size="50" value="<TMPL_VAR NAME='NAME'>" placeholder="Optional" spellcheck="false" />
        </div>

        <!--<div class="form-field" title="Leave unchecked to make the new experiment public, or check the box to make the new experiment private to the current user. Note: restricted experiments can be shared with other users on the Profile page.">
            <label class="col-md-2">Restricted?</label>
            <input id="restricted" type="checkbox" checked>
        </div>-->

		<div class="form-field" title="Enter the genome associated with the new experiment. Begin typing to narrow down the list of genomes to choose from.">
			<label class="col-md-2">Genome:</label>
			<input class="col-md-6" id="edit_genome" type="search" placeholder="Search" spellcheck="false" size="50" value="<TMPL_VAR NAME='GENOME_NAME'>" style="float:left;" />
			<img id="edit_genome_busy" src="picts/ajax-loader.gif" style="float:left;" class="hidden" />
			<span style="color: red; font-size: 0.75em" class="col-md-2 glyphicon glyphicon-asterisk"></span>
		</div>
    </div>
</script>

<script id="data-template" type="text/template">
    <div class="step">
		<div class="padded info">
			Select data to import from a variety of sources:
			<ul class="indent">
				<li>&#8226 CyVerse Data Store: ideal (very fast) for importing large files (>2GB)</li>
				<li>&#8226 FTP/HTTP: enables transfer from public repositories such as Ensembl</li>
				<li>&#8226 Upload: select small files (less than a few GB) from your computer</li>
				<li>&#8226 SRA (Short Read Archive): retrieve read data using an NCBI SRA accession number</li>
			</ul>
			<br>
			For information on supported input file types as well as a full user guide, click the "Need Help" link in the upper right corner.
		</div><br>
        <div id="selector_container"></div><br>
        <div id="files" class="hidden coge-padded">
            Selected file(s):<br>
            <table id="file_table" class="small" style="background-color:white;display:inline-table;"></table>
            <span id="select_file_type" class="hidden" style="padding-left:15px;vertical-align:5px;">
                File type:
                <select id="file_type_selector">
                    <option value="">Select a file type</option>
                    <optgroup label="Quantitative">
	                    <option value="csv">Comma-separated value (CSV)</option>
	                    <option value="tsv">Tab-separated value (TSV)</option>
	                    <option value="bed">BED/BedGraph</option>
	                    <option value="wig">WIG</option>
	                    <option value="bw" >BigWig</option>
	                    <option value="gff">GFF/GTF</option>
                    </optgroup>
                    <optgroup label="Polymorphism">
	                    <option value="vcf">VCF</option>
	                    <option value="gvcf">GVCF</option>
                    </optgroup>
	                    <optgroup label="Alignment">
	                    <option value="bam">BAM</option>
                    </optgroup>
	                    <optgroup label="Sequence">
	                    <option value="fastq">FASTQ, FQ</option>
	                    <option value="sra">SRA</option>
                    </optgroup>
                </select>
            </span>
        </div>
    </div>
</script>

<script id="options-layout-template" type="text/template">
	<div>
	    <div id="analysis-options"></div>
	    <hr>
	    <div id="general-options"></div>
	    <hr>
	    <div id="admin-options"></div>
	</div>
</script>

<script id="admin-options-template" type="text/template">
	<div class="form-section">
	    <h4>Admin</h4>
	    <div class="form-field">
	        <label class="col-md-2">Assign to user:</label>
	        <input id="edit_user" type="search" placeholder="Search" spellcheck="false"
	        	onkeyup="coge.utils.wait_to_search(search_users, this);" size="20" />
	    </div>
	    <!--
	    <div class="form-field">
	        <label>Ignore missing chromosomes?</label>
	        <input id="ignore_missing_chrs" type="checkbox" />
	    </div>
	    -->
	</div>
</script>

<script id="general-options-template" type="text/template">
	<div class="form-section">
	    <h4>General Options</h4>

	    <div class="form-field">
	        <label class="col-md-2">Add results to notebook:</label>
	        <input id="notebook" type="checkbox" style="float:left;margin-right:10px;">
	        
	        <div id="notebook-container" class="form-group hidden">
		    	<div style="padding-left:3em">
		    		<div>
						<input name="notebook" type="radio" value="new" checked>
						<label>Create new notebook</label>
					</div>
					<div title="Enter the notebook to add the new experiment(s) to. Start typing to narrow down the list of notebooks to choose from.">
						<input name="notebook" type="radio" value="existing">
						<label>Use existing notebook: </label>
						<input id="edit_notebook" type="search" placeholder="Search" spellcheck="false"
							onclick="$(this).autocomplete('search')";
							onkeyup="coge.utils.wait_to_search(search_notebooks, this);" size="20" disabled />
					</div>
				</div>
			</div>
	    </div>
	    
	    <div class="form-field">
	        <label class="col-md-2">Send email when finished:</label>
	        <input id="email" type="checkbox">
	    </div>
	
	    <!-- TODO: Add ability to share the genome
	    <div class="form-field">
	        <label class="col-md-2">Share:</label>
	        <input id="share" type="checkbox">
	    </div>
	    -->
	</div>
</script>

<script id="fastq-template" type="text/template">
    <div class="step">
    	<div id="read-view"></div>
    	<div id="trim-view"></div>
        <div id="align-view"></div>
        <div id="expression-view"></div>
        <div id="snp-view"></div>
        <div id="methylation-view"></div>
        <div id="chipseq-view"></div>
    </div>
</script>

<script id="align-option-template" type="text/template">
	<div>
	    <div id="expression-view"></div>
	    <div id="snp-view"></div>
	    <div id="methylation-view"></div>
	    <div id="chipseq-view"></div>
	</div>
</script>

<script id="poly-template" type="text/template">
	<div></div>
</script>

<script id="quant-template" type="text/template">
	<div class="form-section">
	    Please verify that your data file is formatted according to the requirements documented here:
	    <a href="<TMPL_VAR NAME=HELP_URL>#CSV_File_Format" target="_blank">Quantitative File Formats</a>.
	</div>
	<div class="form-section">
	    <h4>Normalizing Data Options</h4>
	
	    <div class="form-field">
	        <label class="col-md-2">Enable:</label>
	        <input id="normalize" type="checkbox">
	    </div>
	    <div id="normalize_method" class="form-field hidden">
	        <label class="col-md-2">Method:</label>
	        <input id="percentage" type="radio" name="normalize_method" checked> Percentage
	        <input id="log10" type="radio" name="normalize_method" style="margin-left:20px"> Log10
	        <input id="loge" type="radio" name="normalize_method" style="margin-left:20px"> Natural Log
	    </div>
	</div>
</script>

<script id="confirm-template" type="text/template">
    <div class="step info">
        <h3>Description</h3>
        <div class="confirm-description padded"></div>
        <h3>Data</h3>
        <div class="confirm-data padded"></div>
        <h3>Options</h3>
        <div class="confirm-options padded"></div>
    </div>
</script>

<!-- FASTQ Format Templates -->

<script id="format-template" type="text/template">
	<div class="form-section">
	    <h4>FASTQ Format</h4>
	
	    <div class="form-field">
	        <label class="col-md-2 coge-padded-top">Read Type:</label>
	        <div id="read_type" class="coge-padded-top">
			    <input name="read_type" type="radio" value="single" checked>
			    <label for="single">Single-ended</label>
			    <input name="read_type" type="radio" value="paired">
			    <label for="paired">Paired-end</label>
		    </div>
	    </div>
	    
	    <div class="form-field">
	        <label class="col-md-2 coge-padded-top">Encoding:</label>
	        <div id="encoding" class="coge-padded-top">
			    <input name="encoding" type="radio" value="33" checked>
			    <label for="phred33" title="Also known as Sanger encoding">phred33</label>
			    <input name="encoding" type="radio" value="64">
			    <label for="phred64">phred64 &nbsp;&nbsp;&nbsp;<span class="note">(if unsure select phred33)</span></label>
		    </div>
	    </div>
	
	    <div id="format-container" class="hidden"></div>
	</div>
</script>

<!-- Trimming Templates -->
<script id="trim-template" type="text/template">
	<div class="form-section">
	    <h4>Trimming</h4>
	
	    <div class="form-field">
	        <label class="col-md-2">Trimmer:</label>
	        <div id="trimming">
		        <input name="trimmer" type="radio" value="none">
				<label for="none">None</label>
	            <input name="trimmer" type="radio" value="cutadapt" checked>
	            <label for="cutadapt">CutAdapt</label>
	            <input name="trimmer" type="radio" value="trimgalore">
	            <label for="trimgalore">Trim Galore</label>
				<input name="trimmer" type="radio" value="trimmomatic">
	            <label for="trimmomatic">Trimmomatic</label>
				<input name="trimmer" type="radio" value="bbduk">
	            <label for="bbduk">BBDuk</label>
	        </div>
	    </div>
	
	    <div id="trim-container" class="hidden"></div>
	</div>
</script>

<script id="cutadapt-template" type="text/template">
	<div class="form-field">
		<label class="col-md-2">CutAdapt: (<a href="https://cutadapt.readthedocs.org/en/stable/guide.html" target="_blank" class="small link">docs</a>)</label>
		<div class="form-group">
		    <div class="form-entry" title="Used to trim low-quality ends from reads before adapter removal. For this to work correctly, the quality values must be encoded as ascii(phred quality + 33). If they are encoded as ascii(phred quality + 64), you need to set to 64.">
		        <label>-q:</label>
		        <input id="-q" type="number" value="25"/>
		    </div>
		    <div class="form-entry" title="Use this to throw away processed reads shorter than N bases">
		        <label>-m:</label>
		        <input id="-m" type="number" value="17"/>
		    </div>
		    <!--
		    <div class="form-entry" title="set to 64 for quality values that are encoded as ascii(phred quality + 64)">
		        <label>--quality-base:</label>
		        <input id="--quality-base" type="number" value="32"/>
		    </div>
		    -->
		</div>
	</div>
</script>

<script id="trimgalore-template" type="text/template">
	<div class="form-field">
		<label class="col-md-2">Trim Galore: (<a href="http://www.bioinformatics.babraham.ac.uk/projects/trim_galore/" target="_blank" class="small link">docs</a>)</label>
		<div class="form-group">
			<div class="form-entry" title="Used to trim low-quality ends from reads before adapter removal.">
		        <label>-q:</label>
		        <input id="-q" type="number" value="20"/>
		    </div>
			<div class="form-entry" title="Discard reads with a length shorter than indicated.">
				<label>--length</label>
				<input id="--length" type="number" value="20"/>
			</div>
			<div class="form-entry" title="Override automatic adapter detection with a nucleotide string of your choosing.">
				<label>-a</label>
				<input id="-a-chk" type="checkbox"/>
				<input id="-a" type="text"/>
			</div>
		</div>
	</div>
</script>

<script id="trimmomatic-template" type="text/template">
	<div class="form-field">
		<label class="col-md-2">Trimmomatic: (<a href="http://www.usadellab.org/cms/?page=trimmomatic" target="_blank" class="small link">docs</a>)</label>
		<div class="form-group">
			<div class="form-entry" title="Find and remove Illumina adapters.">
		        <label>ILLUMINACLIP</label>
		        <input id="ILLUMINACLIP"/>
		    </div>
			<div class="form-entry" title="Perform a sliding window trimming, cutting once the average quality within the window falls
below a threshold.">
		        <label>SLIDINGWINDOW</label>
		        <input id="SLIDINGWINDOW"/>
		    </div>
			<div class="form-entry" title="Performs an adaptive quality trim, balancing the benefits of retaining longer reads against the
costs of retaining bases with errors. ">
				<label>MAXINFO</label>
				<input id="MAXINFO"/>
			</div>
			<div class="form-entry" title="Remove low quality bases from the beginning.">
				<label>LEADING</label>
				<input id="LEADING"/>
			</div>
			<div class="form-entry" title="Remove low quality bases from the end.">
				<label>TRAILING</label>
				<input id="TRAILING"/>
			</div>
			<div class="form-entry" title="Remove bases regardless of quality from the end of the read, so that the read has maximally
the specified length after this step has been performed.">
				<label>CROP</label>
				<input id="CROP"/>
			</div>
			<div class="form-entry" title="Remove the specified number of bases, regardless of quality, from the beginning of the read.">
				<label>HEADCROP</label>
				<input id="HEADCROP"/>
			</div>
			<div class="form-entry" title="Remove reads that fall below the specified minimal length.">
				<label>MINLEN</label>
				<input id="MINLEN"/>
			</div>
		</div>
	</div>
</script>

<script id="bbduk-template" type="text/template">
	<div class="form-field">
		<label class="col-md-2">BBDuk: (<a href="http://jgi.doe.gov/data-and-tools/bbtools/bb-tools-user-guide/bbduk-guide/" target="_blank" class="small link">docs</a>)</label>
		<div class="form-group italic">
			No options
		</div>
	</div>
</script>

<script id="none-template" type="text/template">
	<div class="form-field">
	</div>
</script>

<!-- Alignment Templates -->

<script id="align-template" type="text/template">
	<div class="form-section">
	    <h4>Alignment</h4>
	
        <div class="form-field">
	        <label class="col-md-2">Aligner:</label>
	        <select id="alignment">
	            <option value="gsnap" selected>GSNAP</option>
				<option value="bwa">BWA-MEM</option>
	            <option value="bowtie2">Bowtie2</option>
	            <option value="tophat">TopHat2</option>
	            <option value="hisat2">HISAT2</option>
	            <option value="bismark">Bismark (methylation)</option>
	            <option value="bwameth">bwameth (methylation)</option>
	        </select>
	    </div>
	
	    <div id="align-container" class="hidden"></div>
	</div>
</script>

<script id="gsnap-template" type="text/template">
    <div id="gsnap">
        <div class="form-field">
            <label class="col-md-2">GSNAP: (<a href="http://research-pub.gene.com/gmap/" target="_blank" class="small link">docs</a>)</label>
            <div class="form-group">
                <div class="note" style="padding-bottom: 1em;">
                    These parameters are set for RNAseq data, not the GSNAP defaults.  Please consult the GSNAP docs for DNAseq data.
                </div>
	            <div class="form-entry" title="Look for novel splicing (0=no for DNAseq, 1=yes for RNAseq)">
		            <label>-N:</label>
		            <input id="-N" type="number" value="1"/>
		        </div>
            
                <div class="form-entry" title="Maximum number of paths to print">
                    <label>-n:</label>
                    <input id="-n" type="number" value="5"/>
                </div>

                <div class="form-entry" title="If more than maximum number of paths are found, then nothing is printed.">
                    <label>-Q:</label>
                    <input id="-Q" type="checkbox" checked/>
                </div>
                <div class="form-entry" title="Cases to use GMAP for complex alignments containing multiple splices or indels">
                    <label>--gap-mode:</label>
                    <select id="--gap-mode">
                        <option>none</option>
                        <option>all</option>
                        <option>pairsearch</option>
                        <option>indel_knownsplice</option>
                        <option>terminal</option>
                        <option>improve</option>
                    </select>
                </div>
                <div class="form-entry" title="Exclude printing of failed alignments">
                    <label>--nofails:</label>
                    <input id="--nofails" type="checkbox" checked/>
                </div>
                <div class="form-entry" title="Maximum number of mismatches allowed">
	                <label>--max-mismatches:</label>
	                <input id="--max-mismatches-chk" type="checkbox"/>
	                <input id="--max-mismatches" type="number" value="2"/>
	            </div>
            </div>
        </div>
    </div>
</script>

<script id="bwa-template" type="text/template">
	<div id="bwa">
		<div class="form-field">
			<label class="col-md-2">BWA-MEM: (<a href="http://bio-bwa.sourceforge.net/" target="_blank" class="small link">docs</a>)</label>
			<div class="form-group">
				<div class="form-entry" title="Mark shorter split hits as secondary">
                    <label>-M:</label>
                    <input id="-M" type="checkbox"/>
                </div>
				<div class="form-entry" title="Set read group line in header (such as '@RG\tID:foo\tSM:bar').  Leave blank to ignore.">
					<label>Read group line (-R):</label>
					<input id="-R" type="text"/>
					<span class="note">(optional)</span>
				</div>
			</div>
		</div>
	</div>
</script>

<script id="bowtie2-template" type="text/template">
	<div id="bowtie2">
		<div class="form-field">
			<label class="col-md-2">Bowtie2: (<a href="http://bowtie-bio.sourceforge.net/bowtie2/manual.shtml" target="_blank" class="small link">docs</a>)</label>
			<div class="form-group">
				<div class="form-entry" title="Use end-to-end preset settings to prioritize speed and sensitivity.  Default is 'sensitive'.">
					<label>Presets:</label>
					<select id="presets">
                        <option value="--very-fast">very-fast</option>
                        <option value="--fast">fast</option>
                        <option value="--sensitive" selected="selected">sensitive (default)</option>
                        <option value="--very-sensitive">very-sensitive</option>
                    </select>
				</div>
				<div class="form-entry" title="Set read group ID in header.  Leave blank to ignore.">
					<label>Read group ID (--rg-id):</label>
					<input id="--rg-id" type="text"/>
					<span class="note">(optional)</span>
				</div>
			</div>
		</div>
	</div>
</script>

<script id="tophat-template" type="text/template">
<div id="tophat">
    <div class="form-field" title="Instructs TopHat2 to allow up to this many alignments to the reference for a given read, and choose the alignments based on their alignment scores if there are more than this number.">
        <label class="col-md-2">TopHat2: (<a href="http://ccb.jhu.edu/software/tophat/manual.shtml" target="_blank" class="small link">docs</a>)</label>
        <div title="Maximum number of multiple hits reported.  Use '1' to report only the best hit.">
            <label>-g:</label>
            <input id="-g" type="number" value="1"/>
        </div>
    </div>
</div>
</script>

<script id="hisat2-template" type="text/template">
	<div id="hisat2">
	    <div class="form-field">
	        <label class="col-md-2">HISAT2: (<a href="http://ccb.jhu.edu/software/hisat2/manual.shtml#paired-end-example" target="_blank" class="small link">docs</a>)</label>
	        <div>
	        Default options
	        </div>
	    </div>
	</div>
</script>

<script id="bismark-template" type="text/template">
	<div id="bismark">
	    <div class="form-field">
			<label class="col-md-2">Bismark: (<a href="http://www.bioinformatics.babraham.ac.uk/projects/bismark/" target="_blank" class="small link">docs</a>)</label>
			<div class="form-group">
				<div class="form-entry" title="Number of mismatches allowed in the bowtie2 alignment seed region (only 0 or 1 allowed).">
					<label>-N</label>
					<input id="-N" type="number" value="0"/>
				</div>
				<div class="form-entry" title="Seed length for bowtie2 alignment.">
					<label>-L</label>
					<input id="-L" type="number" value="20"/>
				</div>
	        </div>
	    </div>
	</div>
</script>

<script id="bwameth-template" type="text/template">
	<div id="bwameth">
	    <div class="form-field">
	        <label class="col-md-2">bwameth: (<a href="https://github.com/brentp/bwa-meth" target="_blank" class="small link">docs</a>)</label>
	        <div>
	        Default options
	        </div>
	    </div>
	</div>
</script>

<TMPL_INCLUDE NAME="widgets/Splash.tmpl">

<TMPL_INCLUDE NAME='widgets/pipeline-options.tmpl'> 

<TMPL_INCLUDE NAME="widgets/Progress.tmpl">

<TMPL_INCLUDE NAME="widgets/FileSelect.tmpl">

<TMPL_INCLUDE NAME="widgets/Wizard.tmpl">

<script type="text/javascript">
// Page constants
const API_BASE_URL  = '<TMPL_VAR NAME="API_BASE_URL">';
const PAGE_NAME     = '<TMPL_VAR NAME="PAGE_NAME">';
const SUPPORT_EMAIL = '<TMPL_VAR NAME="SUPPORT_EMAIL">';
const HELP_URL      = '<TMPL_VAR NAME="HELP_URL">';
const USER_NAME     = '<TMPL_VAR NAME="USER">';
const IS_ADMIN      = Boolean('<TMPL_VAR NAME="ADMIN_AREA">');
const IS_POWERUSER  = Boolean('<TMPL_VAR NAME="IS_POWERUSER">');
const GENOME_ID     = '<TMPL_VAR NAME="GENOME_ID">';

var LOAD_ID = load_id = '<TMPL_VAR NAME="LOAD_ID">';
var WORKFLOW_ID 	  = '<TMPL_VAR NAME="WORKFLOW_ID">';
var EMBED 			  = '<TMPL_VAR NAME="EMBED">';

// File Select constants
const DEFAULT_TAB              = '<TMPL_VAR NAME="DEFAULT_TAB">';
const MAX_IRODS_LIST_FILES     = '<TMPL_VAR NAME="MAX_IRODS_LIST_FILES">';
const MAX_IRODS_TRANSFER_FILES = '<TMPL_VAR NAME="MAX_IRODS_TRANSFER_FILES">';
const MAX_FTP_FILES            = '<TMPL_VAR NAME="MAX_FTP_FILES">';
const FILE_SELECT_SINGLE       = '<TMPL_VAR NAME="FILE_SELECT_SINGLE">';

var newLoad = false;
var wizard;

$(function() {
	// Set jQuery AJAX defaults
    $.ajaxSetup({
        type: "GET",
        url: PAGE_NAME,
        dataType: "html",
        cache: false,
    });

    // Configure dialogs
    $(".dialog_box").dialog({autoOpen: false, minWidth: 400});
    
    // Initialize CoGe web services
    coge.services.init({
    	baseUrl: API_BASE_URL,
    	userName: USER_NAME,
    	//debug: true
    });
    
    // Intialize progress window
    coge.progress.init({
    	title: "Loading Experiment",
    	baseUrl: API_BASE_URL,
    	userName: USER_NAME,
    	supportEmail: SUPPORT_EMAIL,
    	onReset: reset_load
    });

	// Initialize wizard
    wizard = initialize_wizard({
    	admin: IS_ADMIN || IS_POWERUSER,
    	helpUrl: HELP_URL,
    	gid: GENOME_ID,
    	debug: true
    });
    
    // Open status dialog
    if (WORKFLOW_ID) {
    	coge.progress.begin();
    	coge.progress.update(WORKFLOW_ID);
    }
});
</script>

<script type="text/javascript" src="js/pages/load-experiment.js"></script>
<script type="text/javascript" src="js/coge/utils.js"></script>
<script type="text/javascript" src="js/coge/services.js"></script>
<script type="text/javascript" src="js/coge/progress.js"></script>
<script type="text/javascript" src="js/coge/wizard.js"></script>
<script type="text/javascript" src="js/coge/entrez.js"></script>
<script type="text/javascript" src="js/coge/file-select.js"></script>
<script type="text/javascript" src="js/jquery.fileupload.js"></script>
</TMPL_IF> <!-- MAIN -->
