<TMPL_IF NAME='LOGIN'>
	<TMPL_INCLUDE NAME="widgets/Login.tmpl">
</TMPL_IF>

<TMPL_IF NAME='MAIN'>

<div id="wizard-container"></div>

<!-- Step Templates-->
<script id="description-template" type="text/template">
<div class="step">

    <div class="form-field">
	    <label class="col-md-2">Genome:</label>
	    <input class="col-md-6" id="edit_genome" type="search" placeholder="Search"
	    	title="Enter the genome associated with the annotation. Start typing to narrow down the list of genomes to choose from." spellcheck="false"
	    	onclick="$(this).autocomplete('search');"
	    	onkeyup="coge.utils.wait_to_search(search_genomes, this);" size="50" value="<TMPL_VAR NAME='GENOME_NAME'>" />
	    <img id="edit_genome_busy" src="picts/ajax-loader.gif" style="float:left;" class="hidden" />
	    <span style="color: red; font-size: 0.75em" class="col-md-2 glyphicon glyphicon-asterisk"></span>
	</div>

    <div class="form-field">
        <label class="col-md-2">Version:</label>
        <input id="edit_version" type="textbox" class="col-md-2" size="10" title="Enter whatever version info you would like for the new experiment. Note: the system will automatically prepend a 'v' to whatever you enter." value="<TMPL_VAR NAME='NAME'>" spellcheck="false" />
        <span style="color: red; font-size: 0.75em" class="col-md-2 glyphicon glyphicon-asterisk"></span>
    </div>
    
    <div class="form-field">
        <label class="col-md-2">Source:</label>
        <input id="edit_source" type="search" class="col-md-4" placeholder="Search" title="Enter the source for the data for the new experiment. Start typing to select an exisisting source or click 'New' to add a source." size="50" spellcheck="false" onclick='$(this).autocomplete("search");' />
        <div class="col-md-2">
            <span id="new_source_button" title="Add a new source" onClick="$('#create_new_source_dialog').dialog('open'); activate_on_input('edit_source_name', 'create_source_button');" class='coge-button coge-button-sm'>New</span>
            <span style="color: red; font-size: 0.75em" class="glyphicon glyphicon-asterisk"></span>
        </div>
    </div>

    <div>
    	<div class="link" style="padding-left:1em;" onclick="$(this).hide().siblings().toggle();">more ...</div>
    
        <div class="form-field hidden">
	        <label class="col-md-2">Name:</label>
	        <input id="edit_name" type="textbox" class="col-md-8" title="Enter a unique name for the new experiment" value="<TMPL_VAR NAME='NAME'>" spellcheck="false" />
	    </div>
	
	    <div class="form-field hidden">
	        <label class="col-md-2">Description:</label>
	        <textarea id="edit_description" class="col-md-8 no-resize" title="Enter a description for the new experiment" rows="5" cols="50" ><TMPL_VAR NAME='DESC'></textarea>
	    </div>
	    
	    <div class="form-field hidden">
	        <label class="col-md-2">Link:</label>
	        <input id="edit_link" type="textbox" class="col-md-8" title="Enter a hyperlink for the source data or genome project" spellcheck="false" />
	    </div>
    </div>

</div>
</script>

<script id="data-template" type="text/template">
    <div class="step">
        <div id="selector_container"></div><br>
        <div id="files" class="hidden coge-padded">
            Selected file(s):<br>
            <table id="file_table" class="small" style="background-color:white;display:inline;"></table>
            <span id="select_file_type" class="hidden" style="padding-left:15px;vertical-align:5px;">
                File type:
                <select id="file_type_selector">
                    <option value="">Select a file type</option>
                    <option value="gff">GFF, GTF</option>
                </select>
            </span>
        </div>
    </div>
</script>

<script id="confirm-template" type="text/template">
	<div class="step info">
	    <h3>Description</h3>
	    <div class="confirm-description padded"></div>
	    <h3>Data</h3>
	    <div class="confirm-data padded"></div>
	</div>
</script>

<!-- DIALOGS -->

<div id="create_new_source_dialog" class="dialog_box" title="Create New Source" style="display:none;">
  <table class="small">
    <tr>
      <td>Name:</td>
      <td><input id="edit_source_name" type="textbox" size="53" onkeyup="activate_on_input('edit_source_name', 'create_source_button');" /></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><textarea id="edit_source_desc" rows="5" cols="50" ></textarea></td>
    </tr>
    <tr>
      <td>Link:</td>
      <td><input id="edit_source_link" type="textbox" size="53" /></td>
    </tr>
  </table>
  <br>
  <span id="create_source_button" onClick="create_source();" class="ui-state-disabled coge-button r">Create</span>
</div>

<TMPL_INCLUDE NAME="widgets/Splash.tmpl">

<TMPL_INCLUDE NAME="widgets/Progress.tmpl">

<TMPL_INCLUDE NAME="widgets/FileSelect.tmpl">

<TMPL_INCLUDE NAME="widgets/Wizard.tmpl">

<script type="text/javascript">
//Page constants
const API_BASE_URL  = '<TMPL_VAR NAME="API_BASE_URL">';
const PAGE_NAME     = '<TMPL_VAR NAME="PAGE_NAME">';
const SUPPORT_EMAIL = '<TMPL_VAR NAME="SUPPORT_EMAIL">';
const HELP_URL      = '<TMPL_VAR NAME="HELP_URL">';
const USER_NAME     = '<TMPL_VAR NAME="USER">';
const IS_ADMIN      = Boolean('<TMPL_VAR NAME="ADMIN_AREA">');
const GENOME_ID     = '<TMPL_VAR NAME="GENOME_ID">';

var LOAD_ID = load_id = '<TMPL_VAR NAME="LOAD_ID">';
var WORKFLOW_ID 	  = '<TMPL_VAR NAME="WORKFLOW_ID">';
var EMBED 			  = '<TMPL_VAR NAME="EMBED">';

// File Select constants
const DEFAULT_TAB              = '<TMPL_VAR NAME="DEFAULT_TAB">';
const MAX_IRODS_LIST_FILES     = '<TMPL_VAR NAME="MAX_IRODS_LIST_FILES">';
const MAX_IRODS_TRANSFER_FILES = '<TMPL_VAR NAME="MAX_IRODS_TRANSFER_FILES">';
const MAX_FTP_FILES            = '<TMPL_VAR NAME="MAX_FTP_FILES">';
const FILE_SELECT_SINGLE       = '<TMPL_VAR NAME="FILE_SELECT_SINGLE">';

var newLoad = false;
var wizard;

var timestamps = new Array();
var pageObj = {}; //FIXME get rid of this

$(function() {
	// Set jQuery AJAX defaults
    $.ajaxSetup({
        type: "GET",
        url: PAGE_NAME,
        dataType: "html",
        cache: false,
    });

    // Configure dialogs
    $(".dialog_box").dialog({autoOpen: false, minWidth: 400, width: 'auto'});
    
    // Initialize wizard
    wizard = initialize_wizard({ 
    	admin: IS_ADMIN,
    	helpUrl: HELP_URL,
    	gid: GENOME_ID
    });
    
    // Initialize web services
    coge.services.init({
    	baseUrl: API_BASE_URL,
    	userName: USER_NAME
    });
    
    // Intialize progress window
    coge.progress.init({
    	title: "Loading Annotation",
    	baseUrl: API_BASE_URL,
    	userName: USER_NAME,
    	supportEmail: SUPPORT_EMAIL,
    	onReset: reset_load
    });
    
    // Open status dialog
    if (WORKFLOW_ID) {
    	coge.progress.begin();
    	coge.progress.update(WORKFLOW_ID);
    }
});
function activate_on_input(element, target) {
	if (element && $('#'+element).val())
		$('#'+target).removeClass('ui-state-disabled');
}
</script>

<script type="text/javascript" src="js/pages/load-annotation.js"></script>
<script type="text/javascript" src="js/coge/utils.js"></script>
<script type="text/javascript" src="js/coge/services.js"></script>
<script type="text/javascript" src="js/coge/progress.js"></script>
<script type="text/javascript" src="js/coge/wizard.js"></script>
<script type="text/javascript" src="js/coge/file-select.js"></script>
<script type="text/javascript" src="js/jquery.fileupload.js"></script>
</TMPL_IF> <!-- MAIN -->
