<TMPL_IF NAME='LOGIN'>
    <TMPL_INCLUDE NAME="widgets/Login.tmpl">
</TMPL_IF>

<TMPL_IF NAME='MAIN'>
<style type="text/css">
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.eot');
	src: url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-asterisk:before {
    content: "\2a";
}
</style>

<div id="wizard-container"></div>

<!-- Step Templates-->
<script id="description-template" type="text/template">
<div class="step">
    <div class="form-field">
        <label class="col-md-2">Genome:</label>
        <input class="col-md-8" id="edit_genome" type="search" placeholder="Search"
        	title="Enter the genome associated with the new experiments. Start typing to narrow down the list of genomes to choose from." spellcheck="false"
        	onclick="$(this).autocomplete('search');"
        	onkeyup="coge.utils.wait_to_search(search_genomes, this);" size="50" value="<TMPL_VAR NAME='GENOME_NAME'>" />
        <span style="color: red; font-size: 0.75em" class="col-md-2 glyphicon glyphicon-asterisk"></span>
    </div>
</div>
</script>

<script id="data-template" type="text/template">
    <div class="step">
        <div id="selector_container"></div><br>
        <div id="files" class="hidden coge-padded">
            Selected file(s):<br>
            <table id="file_table" class="small" style="background-color:white;display:inline;"></table>
            <span id="select_file_type" class="hidden" style="padding-left:15px;vertical-align:5px;">
                File type:
                <select id="file_type_selector">
                    <option value="">Select a file type</option>
                    <option value="gz">Tarball</option>
                </select>
            </span>
        </div>
    </div>
</script>

<script id="options-layout-template" type="text/template">
<div>
    <div id="analysis-options"></div>
    <hr>
    <div id="general-options"></div>
    <hr>
    <div id="admin-options"></div>
</div>
</script>

<script id="admin-options-template" type="text/template">
<div class="form-section">
    <h4>Admin</h4>
    <div class="form-field">
        <label class="col-md-2">Assign to user:</label>
        <input id="edit_user" type="search" placeholder="Search" spellcheck="false"
        	onkeyup="coge.utils.wait_to_search(search_users, this);" size="20" />
    </div>
</div>
</script>

<script id="general-options-template" type="text/template">
<div class="form-section">
    <h4>General Options</h4>

    <div class="form-field">
        <label class="col-md-2">Add results to notebook:</label>
        <input id="notebook" type="checkbox" style="float:left;margin-right:10px;">
        
        <div id="notebook-container" class="form-group hidden">
	    	<div style="padding-left:3em">
	    		<div>
					<input name="notebook" type="radio" value="new" checked>
					<label>Create new notebook</label>
				</div>
				<div>
					<input name="notebook" type="radio" value="existing">
					<label>Use existing notebook: </label>
					<input id="edit_notebook" type="search" placeholder="Search" spellcheck="false"
						title="Enter the notebook to add the new experiment(s) to. Start typing to narrow down the list of notebooks to choose from."
						onclick="$(this).autocomplete('search')";
						onkeyup="coge.utils.wait_to_search(search_notebooks, this);" size="20" disabled />
				</div>
			</div>
		</div>
    </div>
    
    <div class="form-field">
        <label class="col-md-2">Send email when finished:</label>
        <input id="email" type="checkbox">
    </div>

    <!-- TODO: Add ability to share the genome
    <div class="form-field">
        <label class="col-md-2">Share:</label>
        <input id="share" type="checkbox">
    </div>
    -->
</div>
</script>

<script id="confirm-template" type="text/template">
	<div class="step info">
	    <h3>Description</h3>
	    <div class="confirm-description padded"></div>
	    <h3>Data</h3>
	    <div class="confirm-data padded"></div>
	    <h3>Options</h3>
	    <div class="confirm-options padded"></div>
	</div>
</script>


<TMPL_INCLUDE NAME="widgets/Splash.tmpl">

<TMPL_INCLUDE NAME="widgets/Progress.tmpl">

<TMPL_INCLUDE NAME="widgets/FileSelect.tmpl">

<TMPL_INCLUDE NAME="widgets/Wizard.tmpl">

<script type="text/javascript">
// Page constants
const API_BASE_URL  = '<TMPL_VAR NAME="API_BASE_URL">';
const PAGE_NAME     = '<TMPL_VAR NAME="PAGE_NAME">';
const SUPPORT_EMAIL = '<TMPL_VAR NAME="SUPPORT_EMAIL">';
const HELP_URL      = '<TMPL_VAR NAME="HELP_URL">';
const USER_NAME     = '<TMPL_VAR NAME="USER">';
const IS_ADMIN      = Boolean('<TMPL_VAR NAME="ADMIN_AREA">');
const GENOME_ID     = '<TMPL_VAR NAME="GENOME_ID">';

var LOAD_ID = load_id = '<TMPL_VAR NAME="LOAD_ID">';
var WORKFLOW_ID 	  = '<TMPL_VAR NAME="WORKFLOW_ID">';
var EMBED 			  = '<TMPL_VAR NAME="EMBED">';

// File Select constants
const DEFAULT_TAB              = '<TMPL_VAR NAME="DEFAULT_TAB">';
const MAX_IRODS_LIST_FILES     = '<TMPL_VAR NAME="MAX_IRODS_LIST_FILES">';
const MAX_IRODS_TRANSFER_FILES = '<TMPL_VAR NAME="MAX_IRODS_TRANSFER_FILES">';
const MAX_FTP_FILES            = '<TMPL_VAR NAME="MAX_FTP_FILES">';
const FILE_SELECT_SINGLE       = '<TMPL_VAR NAME="FILE_SELECT_SINGLE">';

var newLoad = false;
var wizard;

$(function() {
	// Set jQuery AJAX defaults
    $.ajaxSetup({
        type: "GET",
        url: PAGE_NAME,
        dataType: "html",
        cache: false,
    });

    // Configure dialogs
    $(".dialog_box").dialog({autoOpen: false, minWidth: 400});
    
    // Initialize wizard
    wizard = initialize_wizard({ 
    	admin: IS_ADMIN,
    	helpUrl: HELP_URL,
    	gid: GENOME_ID
    });
    
    // Initialize CoGe web services
    coge.services.init({
    	baseUrl: API_BASE_URL,
    	userName: USER_NAME
    });
    
    // Intialize progress window
    coge.progress.init({
    	title: "Loading Batch of Experiments",
    	baseUrl: API_BASE_URL,
    	userName: USER_NAME,
    	supportEmail: SUPPORT_EMAIL,
    	onReset: reset_load
    });
    
    // Open status dialog
    if (WORKFLOW_ID) {
    	coge.progress.begin();
    	coge.progress.update(WORKFLOW_ID);
    }
});
</script>

<script type="text/javascript" src="js/pages/load-batch.js"></script>
<script type="text/javascript" src="js/coge/utils.js"></script>
<script type="text/javascript" src="js/coge/services.js"></script>
<script type="text/javascript" src="js/coge/progress.js"></script>
<script type="text/javascript" src="js/coge/wizard.js"></script>
<script type="text/javascript" src="js/coge/file-select.js"></script>
<script type="text/javascript" src="js/jquery.fileupload.js"></script>
</TMPL_IF> <!-- MAIN -->
