<TMPL_IF NAME='LOGIN'>
	<TMPL_INCLUDE NAME="widgets/Login.tmpl">
</TMPL_IF>

<TMPL_IF NAME='MAIN'>

<link rel="stylesheet" type="text/css" href="js/vendor/jstree/dist/themes/default/style.min.css"/>
<style type="text/css">
.jstree i.jstree-themeicon { display:none !important; } /* remove folder icon from each node */
.jstree-clicked { background: #c4efaa !important; }
.jstree-hovered { background: #e4f9d6 !important; }
</style>

<style>
.ui-autocomplete { max-height: 15em; max-width: 50em; overflow-y: scroll; overflow-x: scroll; }
</style>

<div id="wizard-container"></div>

<!-- Step Templates -->
<script id="description-template" type="text/template">
    <div class="step">
    
	    <div class="form-field">
		    <label class="col-md-2">Organism:</label>
		    <input class="col-md-6" id="edit_organism" type="search" placeholder="Search"
		    	title="Enter the organism associated with the new genome. Start typing to narrow down the list of organisms to choose from." spellcheck="false" size="50" value="<TMPL_VAR NAME='ORGANISM_NAME'>" />
		    	<img id="edit_organism_busy" src="picts/ajax-loader.gif" style="visibility:hidden;" />
		    	<span id="new_organism_button" title="Add a new organism" class='coge-button coge-button-sm'>New</span>
		    	&nbsp;<span style="color: red; font-size: 0.75em" class="glyphicon glyphicon-asterisk"></span>
		</div>

        <div class="form-field">
            <label class="col-md-2">Version:</label>
            <input id="edit_version" type="textbox" class="col-md-2" size="10" title="Enter whatever version info you would like for the new experiment. Note: the system will automatically prepend a 'v' to whatever you enter." value="<TMPL_VAR NAME='NAME'>" spellcheck="false" /> 
            &nbsp;&nbsp;<span style="color:red; font-size:0.75em" class="glyphicon glyphicon-asterisk"></span>
        </div>
        
        <div class="form-field">
	        <label class="col-md-2">Type:</label>
        	<select id="select_type" class="col-md-6"></select>
            <div class="col-md-2">
                <span id="new_type_button" title="Add a new sequence type" class='coge-button coge-button-sm'>New</span>
                &nbsp;<span style="color: red; font-size: 0.75em" class="glyphicon glyphicon-asterisk"></span>
            </div>
        </div>

        <div class="form-field">
            <label class="col-md-2">Source:</label>
            <input id="edit_source" type="search" class="col-md-6" placeholder="Search" title="Enter the source for the data for the new experiment. Start typing to select an exisisting source or click 'New' to add a source." size="50" spellcheck="false" onclick='$(this).autocomplete("search");' />
            <div class="col-md-2">
                <span id="new_source_button" title="Add a new source" class='coge-button coge-button-sm'>New</span>
                &nbsp;<span style="color: red; font-size: 0.75em" class="glyphicon glyphicon-asterisk"></span>
            </div>
        </div>

        <div class="form-field">
            <label class="col-md-2">Restricted?</label>
            <input id="restricted" type="checkbox" title="Leave unchecked to make the new experiment public, or check the box to make the new experiment private to the current user. Note: restricted experiments can be shared with other users on the Profile page." checked>
        </div>

        <div>
        	<div class="link" style="padding-left:1em;" onclick="$(this).hide().siblings().toggle();">more ...</div>
        
	        <div class="form-field hidden">
		        <label class="col-md-2">Name:</label>
		        <input id="edit_name" type="textbox" class="col-md-8" title="Enter a unique name for the new experiment" value="<TMPL_VAR NAME='NAME'>" spellcheck="false" />
		    </div>
		
		    <div class="form-field hidden">
		        <label class="col-md-2">Description:</label>
		        <textarea id="edit_description" class="col-md-8 no-resize" title="Enter a description for the new experiment" rows="5" cols="50" ><TMPL_VAR NAME='DESC'></textarea>
		    </div>
		    
		    <div class="form-field hidden">
		        <label class="col-md-2">Link:</label>
		        <input id="edit_link" type="textbox" class="col-md-8" title="Enter a hyperlink for the source data or genome project" spellcheck="false" />
		    </div>
	    </div>

    </div>
</script>

<script id="data-template" type="text/template">
    <div class="step">
        <div id="selector_container"></div><br>
        <div id="files" class="hidden coge-padded">
            Selected file(s):<br>
            <table id="file_table" class="small" style="background-color:white;display:inline-table;"></table>
            <span id="select_file_type" class="hidden" style="padding-left:15px;vertical-align:5px;">
                File type:
                <select id="file_type_selector">
                    <option value="fasta,faa,fa">FASTA, FAA, FA</option>
                </select>
            </span>
        </div>
    </div>
</script>

<script id="confirm-template" type="text/template">
	<div class="step info">
	    <h3>Description</h3>
	    <div class="confirm-description padded"></div>
	    <h3>Data</h3>
	    <div class="confirm-data padded"></div>
	</div>
</script>

<script id="progress-buttons-custom" type="text/template">
    <div class="r inline">
        <span id="finish_actions" onClick="handle_action($(this).parent().find('select').val());" class="coge-button r">GO</span>
        <span class="text">Next Step:</span>
        <span style="padding-right:0.5em;">
            <select>
                <option value="genome">View Genome Info</option>
                <option value="annotation">Load Annotations</option>
                <option value="new">Load Another Genome</option>
            </select>
        </span>
    </div>
</script>

<!-- DIALOGS -->

<div id="create_new_type_dialog" class="hidden dialog_box" title="Create New Sequence Type">
  <table class="small">
    <tr>
      <br>
      <td>Name:</td>
      <td><input id="edit_type_name" type="textbox" size="53" onkeyup="activate_on_input(['edit_type_name'], 'create_type_button');" /></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><textarea id="edit_type_desc" rows="5" cols="50" ></textarea></td>
    </tr>
  </table>
  <br>
  <span id="create_type_button" onClick="create_sequence_type();" class="ui-state-disabled coge-button r">Create new type</span>
</div>

<div id="create_new_organism_dialog" class="hidden dialog_box" title="Create New Organism">
    <div class ="small text" style="padding-top:10px;">
		Please select an organism from NCBI's Taxonomy database.  If your organism does not exist,
		find the nearest relative and modify the name and description fields accordingly.
	</div>
	<div style="padding-top:10px;">
    	<span class="small">Search NCBI:</span>
    	<input type="textbox" size="50" spellcheck="false" onkeyup="coge.utils.wait_to_search(search_ncbi_taxonomy, this);" />
	    <img id="wait_ncbi" src="picts/ajax-loader.gif" style="opacity: 0;" />
	</div>
	<div id="tax_empty" class="hidden small note" style="margin-top:15px;margin-left:20px;">No matches</div>
	<div id="tax_tree" class="hidden small coge-border" style="margin-top:5px;max-height:18em;width:37em;max-width:37em;overflow:auto;"></div>
	<div id="edit_organism_info" class="hidden" style="padding-top:15px;">
		<span class="small">You have selected:</span><br>
		<table class="coge-gray">
			<tr>
				<td class="small bold">Name</td>
				<td>
					<input id="edit_organism_name" type="textbox" size="54" spellcheck="false" class="coge-bg-white" onkeyup="activate_on_input(['edit_organism_name', 'edit_organism_desc'], 'create_organism_button');" />
				</td>
			</tr>
			<tr>
				<td class="small bold">Description</td>
				<td>
					<textarea id="edit_organism_desc" rows="5" cols="53" spellcheck="false" class="coge-border no-resize" onkeyup="activate_on_input(['edit_organism_name', 'edit_organism_desc'], 'create_organism_button');"></textarea>
				</td>
			</tr>
		</table>
	</div>
  <br>
  <span id="create_organism_button" onClick="create_organism();" class="ui-state-disabled coge-button r">Create</span>
</div>

<div id="create_new_source_dialog" class="hidden dialog_box" title="Create New Source">
  <table class="small">
    <tr>
      <br>
      <td>Name:</td>
      <td><input id="edit_source_name" type="textbox" size="53" onkeyup="activate_on_input('edit_source_name', 'create_source_button');" /></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><textarea id="edit_source_desc" rows="5" cols="50" ></textarea></td>
    </tr>
    <tr>
      <td>Link:</td>
      <td><input id="edit_source_link" type="textbox" size="53" /></td>
    </tr>
  </table>
  <br>
  <span id="create_source_button" onClick="create_source();" class="ui-state-disabled coge-button r">Create</span>
</div>

<TMPL_INCLUDE NAME="widgets/Splash.tmpl">
<TMPL_INCLUDE NAME="widgets/FileSelect.tmpl">
<TMPL_INCLUDE NAME="widgets/Progress.tmpl">
<TMPL_INCLUDE NAME="widgets/Wizard.tmpl">

<TMPL_IF NAME='ADMIN_AREA'>
<script>
$(document).ready(function() {
	$("#edit_user").autocomplete({
		source:[],
		focus: function() { return false; },
	});
});
</script>
<br><br><hr>
<div class="bold text">Admin Functions</div>
<table class="padded small">
  <tr>
    <td>Assign to user</td>
    <td>
      <input id="edit_user" type="search" placeholder="search" onkeyup="coge.utils.wait_to_search(search_users, this);" size="15" />
    </td>
  </tr>
  <tr>
  	<td>Keep section headers</td>
  	<td>
  		<input id="keep_headers" type="checkbox" />
  	</td>
  </tr>
</table>
<br>
</TMPL_IF> <!-- ADMIN_AREA -->

<script type="text/javascript">
// Page constants
const API_BASE_URL  = '<TMPL_VAR NAME="API_BASE_URL">';
const PAGE_NAME     = '<TMPL_VAR NAME="PAGE_NAME">';
const SUPPORT_EMAIL = '<TMPL_VAR NAME="SUPPORT_EMAIL">';
const HELP_URL      = '<TMPL_VAR NAME="HELP_URL">';
const USER_NAME     = '<TMPL_VAR NAME="USER">';
const IS_ADMIN      = Boolean('<TMPL_VAR NAME="ADMIN_AREA">');
const ENTREZ_URL    = '//eutils.ncbi.nlm.nih.gov/entrez/eutils/';
const ORGANISM_ID   = '<TMPL_VAR NAME="ORGANISM_ID">';

var LOAD_ID = load_id = '<TMPL_VAR NAME="LOAD_ID">';
var WORKFLOW_ID 	  = '<TMPL_VAR NAME="WORKFLOW_ID">';
var EMBED 			  = '<TMPL_VAR NAME="EMBED">';

// File Select constants
const DEFAULT_TAB              = '<TMPL_VAR NAME="DEFAULT_TAB">';
const MAX_IRODS_LIST_FILES     = '<TMPL_VAR NAME="MAX_IRODS_LIST_FILES">';
const MAX_IRODS_TRANSFER_FILES = '<TMPL_VAR NAME="MAX_IRODS_TRANSFER_FILES">';
const MAX_FTP_FILES            = '<TMPL_VAR NAME="MAX_FTP_FILES">';
const FILE_SELECT_SINGLE       = '<TMPL_VAR NAME="FILE_SELECT_SINGLE">';

var timestamps = new Array();
var genome_id;
var pageObj = {}; //FIXME get rid of this
var newLoad = false;

$(function() {
	// Configure jQuery ajax
	$.ajaxSetup({
		type: "GET",
		url: PAGE_NAME,
		dataType: "html",
		cache: false
	});

	// Configure dialogs
    $(".dialog_box").dialog({autoOpen: false, width: '35em'});
    $('#load_dialog').dialog("widget").find('.ui-dialog-titlebar-close').hide();
    $('#load_dialog').dialog({modal: true, closeOnEscape: false});
    
    // Initialize wizard
    wizard = initialize_wizard({ 
    	admin: IS_ADMIN,
    	helpUrl: HELP_URL,
    	organism_id: ORGANISM_ID
    });
    
    // Initialize CoGe web services
    coge.services.init({
    	baseUrl: API_BASE_URL,
    	userName: USER_NAME
    });
    
    // Initialize progress dialog
    coge.progress.init({
    	title: "Loading Genome",
    	baseUrl: API_BASE_URL,
    	userName: USER_NAME,
    	supportEmail: SUPPORT_EMAIL,
    	onReset: reset_load,
    	onSuccess: function(results) {
    		if (results)
    			genome_id = results[0].id;
    	},
    	buttonTemplate: 'progress-buttons-custom' // replaces default buttons
    });

    // Set button handlers
    $('#new_organism_button').click(function() {
        $('#create_new_organism_dialog').dialog('open');
        activate_on_input(['edit_organism_name'], 'create_organism_button');
    });
    $('#new_source_button').click(function() {
        $('#create_new_source_dialog').dialog('open');
        activate_on_input(['edit_source_name'], 'create_source_button');
    });
    $('#new_type_button').click(function() {
        $('#create_new_type_dialog').dialog('open');
        activate_on_input(['edit_type_name'], 'create_type_button');
    });

	// Open status dialog
    if (WORKFLOW_ID) {
    	coge.progress.begin();
    	coge.progress.update(WORKFLOW_ID);
    }
});
</script>
<script type="text/javascript" src="js/pages/load-genome.js"></script>
<script type="text/javascript" src="js/coge/utils.js"></script>
<script type="text/javascript" src="js/coge/services.js"></script>
<script type="text/javascript" src="js/coge/progress.js"></script>
<script type="text/javascript" src="js/coge/wizard.js"></script>
<script type="text/javascript" src="js/coge/file-select.js"></script>
<script type="text/javascript" src="js/jquery.fileupload.js"></script>
<script type="text/javascript" src="js/vendor/jstree/dist/jstree.min.js"></script>
</TMPL_IF> <!-- MAIN -->
