<TMPL_IF NAME="MAIN">
<link rel="stylesheet" href="css/dataTables.css" type="text/css">

<TMPL_UNLESS NAME="EMBED">
<div style="font-size:1em;">
    <TMPL_IF NAME="LOGON">
	<div class="inline link" title="Favorite this notebook">
		<img src=<TMPL_IF NAME="FAVORITED">"./picts/star-full.png"<TMPL_ELSE>"./picts/star-hollow.png"</TMPL_IF> style="width:1em;height:1em;" onclick="toggle_favorite(this);" />
	</div>
	</TMPL_IF>
	<span class="bold text coge-green"><TMPL_VAR NAME="NOTEBOOK_TITLE"></span>
</div>
</TMPL_UNLESS>
<br>

<table>
	<tr class="top">
		<td>
			<div class="bold text">Info</div>
			<div id="list_info">
				<TMPL_VAR NAME="LIST_INFO">
			</div>
		</td>
		<td style="padding-left:20px;">
			<TMPL_IF NAME="LIST_ANNOTATIONS">
				<span class="bold text">Metadata</span><br>
				<div id='list_annotations'>
					<TMPL_VAR NAME="LIST_ANNOTATIONS">
				</div>
			</TMPL_IF>
		</td>
	</tr>
</table>

<br>

<TMPL_IF NAME="LIST_CONTENTS">
	<style>
		#list_contents tr {
			vertical-align: baseline;
		}
		#list_contents_table th {
			color: dimgray !important;
			font-size: small;
			text-align: left;
		}
	</style>
	<div style="padding-left:5px;">
		<span class="bold text">Contents</span><br>
		<div id="list_contents">
		</div>
	</div>
	<div class='small padded'>
		Send contents to:
		<select name="checked_action" id="checked_action">
			<option value="send_to_genomelist">GenomeList (genomes only)</option>
			<option value="send_to_experimentlist">ExperimentList (experiments only)</option>
			<option value="send_to_featlist">FeatList (features only)</option>
			<option value="send_to_blast">CoGeBlast (genomes only)</option>
			<option value="send_to_msa">CoGeAlign (features only)</option>
			<option value="send_to_gevo">GEvo (features only)</option>
			<option value="send_to_synfind">SynFind (genomes & first feature)</option>
			<option value="send_to_featmap">Genome Map (features only)</option>
			<option value="send_to_codeon">Coding Evolution (features only)</option>
			<option value="send_to_fasta">FASTA Sequences (genomes only)</option>
			<option value="send_to_tsv">Export TSV</option>
			<option value="send_to_xls">Export XLS (genomes only)</option>
		</select>
		<span class='coge-button coge-button-sm' onclick="send_list_to();">Go</span>
	</div>
	<script>
	$(function(){set_contents(<TMPL_VAR NAME="LIST_CONTENTS">);});
	</script>
</TMPL_IF>

<div id="list_info_edit_box" class="dialog_box hidden" title="Edit Notebook Info"></div>

<TMPL_INCLUDE NAME='widgets/AddAnnotation.tmpl'> <!-- Add/Edit Annotation Dialog -->

<div id="list_contents_edit_box" class="dialog_box hidden" title="Add Items to Notebook" style="height:auto !important;"></div>

<!--
<br><br>
<div id="newsfeed-section" style="padding-left:5px;">
	<span class="bold text">History</span><br>
	<table id="newsfeed" class="small border-top">
	</table>
</div>
-->

<script language="JavaScript">
const NOTEBOOK_ID   = '<TMPL_VAR NAME="NOTEBOOK_ID">';
const API_BASE_URL  = '<TMPL_VAR NAME="API_BASE_URL">';
const PAGE_NAME     = '<TMPL_VAR NAME="PAGE_NAME">';
const SUPPORT_EMAIL = '<TMPL_VAR NAME="SUPPORT_EMAIL">';
const HELP_URL      = '<TMPL_VAR NAME="HELP_URL">';
const USER_NAME     = '<TMPL_VAR NAME="USER">';
const IS_ADMIN      = Boolean('<TMPL_VAR NAME="ADMIN_AREA">');

$(function() {
	pageObj = new Object();
	pageObj.timestamp = new Array();
	pageObj.timers = new Array();

	$.ajaxSetup({
		type: "GET",
		url: "<TMPL_VAR NAME='PAGE_NAME'>",
		dataType: "html",
		cache: false,
	});

	$(".dialog_box").dialog({autoOpen: false, width: 450});

	// set_contents_table();
	// set_annotation_table();

	init_annotation_dialog(NOTEBOOK_ID, '<TMPL_VAR NAME="DEFAULT_TYPE">');
	
	// Initialize web services
    coge.services.init({
    	baseUrl: API_BASE_URL,
    	userName: USER_NAME
    });
	
    // Initialize newsfeed - not ready to deploy yet
//	coge.newsfeed.init({ 
//		element_id: 'newsfeed',
//		id: NOTEBOOK_ID,
//		type: "notebook"
//	});
});
</SCRIPT>

<script type="text/javascript" src="./js/pages/notebook-view.js"></script>
<script type="text/javascript" src="./js/coge/services.js"></script>
<script type="text/javascript" src="./js/jquery.fileupload.js"></script>
</TMPL_IF> <!-- MAIN -->

<TMPL_IF NAME='EDIT_LIST_INFO'>
<table class="small">
 <tr>
  <td>Name:</td>
  <td><input id="edit_name" type="textbox" size="50" value="<TMPL_VAR NAME=NAME>"></td>
 </tr>
 <tr>
  <td>Description:</td>
  <td><textarea id="edit_desc" rows="5" cols="50"><TMPL_VAR NAME=DESC></textarea></td>
 </tr>
<!--
 <tr>
  <td>Type:</td>
  <td><select id="edit_type">
   <TMPL_LOOP NAME="TYPE_LOOP">
    <OPTION <TMPL_VAR NAME="TYPE_SELECTED"> value=<TMPL_VAR NAME=TID>><TMPL_VAR NAME=NAME></OPTION>
   </TMPL_LOOP>
   </select>
  </td>
 </tr>
-->
</table>
<br>
<span onClick="update_list_info();" class='coge-button r'>Update</span>
</TMPL_IF> <!-- EDIT_LIST_INFO -->

<TMPL_IF NAME='ADD_LIST_ITEMS'>
<SCRIPT language="JavaScript">
$(document).ready(function() {
	$(function() { $("#tabs").tabs({selected:0}); });

	setTimeout(search_mystuff,     100);
	setTimeout(search_genomes,     500);
	setTimeout(search_experiments, 1000);
	setTimeout(search_features,    1500);
	//setTimeout(search_lists,       2000);
});
</SCRIPT>

<div id="tabs" style="height: calc(100% - 20px); margin-top: 0.5em;">
<ul>
 <li class="small"><a href="#tab-1">My Stuff</a></li>
 <li class="small"><a href="#tab-2">Genomes</a></li>
 <li class="small"><a href="#tab-3">Experiments</a></li>
 <li class="small"><a href="#tab-4">Features</a></li>
 <!--<li class="small"><a href="#tab-5">Notebooks</a></li>-->
</ul>

	<div id="tab-1" style="display: flex; flex-direction: column; height: calc(100% - 60px);">
		<div>
		    Search:
		    <input type="textbox" size="50" id="edit_mystuff_search" onkeyup="wait_to_search(search_mystuff, this.value);">
	    	<span class='coge-button' onclick="search_mystuff();"><span class="ui-icon ui-icon-arrowrefresh-1-w"></span></span>
	    	<img id="wait_mystuff" src="picts/ajax-loader.gif" style="opacity: 0;" />
	   	</div>
	    <select multiple id="select_mystuff_items" size="10" style="flex-grow: 1; min-width:500; max-width: 100%; margin-top: 10px; overflow-x: auto;"></select>
	   	<div style="padding-top:15px;"><span style="font-style:italic;color:gray;float:right;">Hold down SHIFT or CTRL to select multiple items</span>
	     	<span onClick="add_selected_items('select_mystuff_items');" class='coge-button'>Add Selected Items</span>
	   	</div>
	</div>
	
	<div id="tab-2" style="display: flex; flex-direction: column; height: calc(100% - 60px);">
		<div>
	    	Search:
	    	<input type="textbox" size="53" id="edit_genome_search" onkeyup="wait_to_search(search_genomes, this.value);">
	    	<span class='coge-button' onclick="search_genomes();"><span class="ui-icon ui-icon-arrowrefresh-1-w"></span></span>
	    	<img id="wait_genome" src="picts/ajax-loader.gif" style="opacity: 0;" />
		</div>
		<select multiple id="select_genome_items" size="10" style="flex-grow: 1; min-width:500; max-width: 100%; overflow-x: auto;"></select>
	    <div style="padding-top:10px;"><span style="font-style:italic;color:gray;float:right;">Hold down SHIFT or CTRL to select multiple items</span>
	    	<span onClick="add_selected_items('select_genome_items');" class='coge-button'>Add Selected Items</span>
	   	</div>
	</div>
	
	<div id="tab-3" style="display: flex; flex-direction: column; height: calc(100% - 60px);">
		<div>
		    Search:
		    <input type="textbox" size="53" id="edit_experiment_search" onkeyup="wait_to_search(search_experiments, this.value);">
	    	<span class='coge-button' onclick="search_experiments();"><span class="ui-icon ui-icon-arrowrefresh-1-w"></span></span>
	    	<img id="wait_experiment" src="picts/ajax-loader.gif" style="opacity: 0;" />
	   	</div>
	    <select multiple id="select_experiment_items" size="10" style="flex-grow: 1; min-width:500; max-width: 100%; overflow-x: auto;"></select>
	   	<div style="padding-top:10px;"><span style="font-style:italic;color:gray;float:right;">Hold down SHIFT or CTRL to select multiple items</span>
	     	<span onClick="add_selected_items('select_experiment_items');" class='coge-button'>Add Selected Items</span>
	   	</div>
	</div>
	
	<div id="tab-4" style="display: flex; flex-direction: column; height: calc(100% - 60px);">
		<div>
		    Search:
		    <input type="textbox" size="53" id="edit_feature_search" onkeyup="wait_to_search(search_features, this.value);">
	    	<span class='coge-button' onclick="search_features();"><span class="ui-icon ui-icon-arrowrefresh-1-w"></span></span>
	    	<img id="wait_feature" src="picts/ajax-loader.gif" style="opacity: 0;" />
	   	</div>
	    <select multiple id="select_feature_items" size="10" style="flex-grow: 1; min-width:500; max-width: 100%; overflow-x: auto;"></select>
	   	<div style="padding-top:10px;"><span style="font-style:italic;color:gray;float:right;">Hold down SHIFT or CTRL to select multiple items</span>
	     	<span onClick="add_selected_items('select_feature_items');" class='coge-button'>Add Selected Items</span>
      	</div>
	</div>
	
	<!--
	<div id="tab-5">
	 <table class="small">
	  <tr align='left'>
	   <td>
	    Search:
	    <input type="textbox" size="53" id="edit_list_search" onkeyup="wait_to_search(search_lists, this.value);">
	    <span class='ui-button ui-corner-all' onclick="search_lists();"><span class="ui-icon ui-icon-arrowrefresh-1-w"></span></span>
	    <img id="wait_list" src="picts/ajax-loader.gif" style="opacity: 0;" />
	   </td>
	  </tr>
	  <tr>
	   <td colspan='2'>
	    <select multiple id="select_list_items" size="10" style="min-width:500; max-width: 500px;">
	    </select>
	   </td>
	  </tr>
	  <tr>
	   <td colspan='2'><span style="font-style:italic;color:gray;float:right;">Hold down SHIFT or CTRL to select multiple items</span></td>
	  </tr>
	 </table>
	<span href="javascript:void(0)" onClick="add_selected_items('select_list_items');" class='ui-button ui-corner-all'>Add Selected Items</span>
	</div>
	-->

</div> <!-- tabs -->
</TMPL_IF> <!-- ADD_LIST_ITEMS -->

<script>
set_contents(<TMPL_VAR NAME="LIST_CONTENTS">);
</script>
<TMPL_IF NAME='ADMIN_AREA'>
<script>
$(document).ready(function() {
    $("#edit_user").autocomplete({
        source:[],
        focus: function() { return false; },
    });
});
function update_owner () {
    var user_name = $('#edit_user').val();
    if (!user_name) {
        alert('Please specify a user.');
        return;
    }

    $.ajax({
        data: {
            fname: 'update_owner',
            nid: "<TMPL_VAR NAME='NOTEBOOK_ID'>",
            user_name: user_name,
            timestamp: new Date().getTime()
        },
        success : function(data) {
            if (data) {
                alert(data);
            }
        }
    });
}
</script>

<br>
<hr>
<div class="bold text">Admin Functions</div>
<div class="small padded">
	<div>
        Assign notebook (including contents) to user:
        <input id="edit_user" type="search" placeholder="Search" onkeyup="wait_to_search(search_users, this.value);" size="10" />
        <span onClick="update_owner();" class='coge-button'>Go</span>
    </div>
</div>
</TMPL_IF> <!-- ADMIN_AREA -->
