<link rel="stylesheet" href="css/dataTables.css" type="text/css">
<script type="text/javascript" src="js/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/coge/datagrid.js"></script>
<script type="text/javascript" src="js/coge/infopanel.js"></script>
<script type="text/javascript" src="js/coge/tocpanel.js"></script>
<script type="text/javascript" src="js/coge/contentpanel.js"></script>
<script type="text/javascript" src="js/coge/utils.js"></script>
<script type="text/javascript" src="js/coge/services.js"></script>
<script type="text/javascript" src="js/pages/user-common.js"></script>
<script type="text/javascript" src="js/pages/search-results.js"></script>
<script type="text/javascript">
const API_BASE_URL  = '<TMPL_VAR NAME="API_BASE_URL">';
const USER_NAME     = '<TMPL_VAR NAME="USER_NAME">';
const SEARCH_TEXT	= '<TMPL_VAR NAME="SEARCH_TEXT">';
const QUERY         = <TMPL_VAR NAME="QUERY">;
const PAGE_NAME     = '<TMPL_VAR NAME="PAGE_NAME">';
const USER_ID       = '<TMPL_VAR NAME="USER_ID">';
</script>

<TMPL_INCLUDE NAME="partials/user_common.tmpl">

<div id="loading" class="spinner hidden" style="display:flex;justify-content:center;align-items:center;margin-top:10%;"></div>

<div id="bottom-panel" class="hidden" style="width:100%;">
	<div style="float:right;width:225px;">
		<span id="show_panel_button" onClick="show_top_panel();" class="link ui-icon ui-icon-plus hidden coge-border" style="float:right;margin-right:5px;"></span>

		<div id="info_panel" class="small panel coge-border-top" style="overflow:auto;margin-left:10px;margin-top:29px;color:gray;">
		</div>
	</div>

	<div style="float:left;margin-right:5px;">
	    <div id="toc_panel" class="small panel noselect hidden" style="overflow:auto;width:10em;cursor:pointer;">
            <div class="bold text" style="font-size:1.1em;">Search Results</div>
            <div class="indent">
				<ul>
					<li><span data-type="organism"><img src="picts/Organism.svg" width="15" height="15"/> Organisms</span></li>
					<li><span data-type="genome"><img src="picts/dna-icon.png" width="15" height="15"/> Genomes</span></li>
					<li><span data-type="feature"><img src="picts/feature-icon.png" width="15" height="15"/> Features</span></li>
					<li><span data-type="experiment"><img src="picts/testtube-icon.png" width="15" height="15"/> Experiments</span></li>
					<li><span data-type="notebook"><img src="picts/notebook-icon.png" width="15" height="15"/> Notebooks</span></li>
					<li><span data-type="group"><img src="picts/group-icon.png" width="15" height="15"/> User Groups</span></li>
				</ul>
            </div>
		</div>
	</div>

	<div class="noselect" style="height:24px">
		<span id="contents_title" style="float:left;min-width:130px;font-weight:bold;margin-right:20px;"></span>
		<span id="add_button" onClick="add_dialog();" class="add coge-icon glyphicon glyphicon-plus item-button invisible" style="margin-right:5px;" title="Create New Item"></span>
		<span id="share_button" onClick="share_dialog();" class="share coge-icon coge-disabled glyphicon glyphicon-user item-button invisible" style="margin-right:5px;" title="Share Selected Items"></span>
		<span id="notebook_button" onClick="add_to_notebook_dialog();" class="organize coge-icon coge-disabled glyphicon glyphicon-folder-open item-button invisible" style="margin-right:5px;" title="Add Selected Items to Notebook"></span>
		<span id="edit_button" onClick="edit_dialog();" class="edit coge-icon coge-disabled glyphicon glyphicon-cog item-button invisible" style="margin-right:5px;" title="Edit Selected Items"></span>
		<span id="favorite_button" onClick="favorite_items();" class="favorite coge-icon coge-disabled glyphicon glyphicon-star item-button invisible" style="margin-right:5px;" title="Favorite Selected Items"></span>
		<span id="delete_button" onClick="delete_items();" class="delete coge-icon coge-disabled glyphicon glyphicon-trash item-button invisible" style="margin-right:5px;" title="Delete Selected Items"></span>
		<span id="send_button" onClick="send_menu();" class="sendto coge-icon coge-disabled glyphicon glyphicon-arrow-right item-button invisible" style="margin-right:5px;" title="Send Selected Items to ..."></span>
		<span id="undelete_button" onClick="undelete_items();" class="undelete coge-icon coge-disabled glyphicon glyphicon-asterisk item-button invisible" style="margin-right:5px;" title="Undelete Selected Items"></span>
		<ul id="send_menu" class="coge-dropdown-menu hidden">
			<li><a onclick="send_items_to('CoGeBlast', 2);">CoGeBlast</a></li>
			<li><a onclick="send_items_to('SynMap', 1);">SynMap</a></li>
			<li><a onclick="send_items_to('SynMap3D', 1);">SynMap3D</a></li>
			<li><a onclick="send_items_to('SynFind');">SynFind</a></li>
			<li><a onclick="send_items_to('GEvo', 1);">GEvo</a></li>
		</ul>
		<input id="search_input" type="search" placeholder="Filter" size="25" class="coge-border" style="float:right;margin-right:15px;vertical-align:top;" />
		<span id="refresh_label" class="xsmall hidden info" style="float:right;padding-right:25px;">Refreshing...</span>
	</div>

	<div id="contents_panel" class="small panel">
		<div class="grid hidden noselect coge-border-top" style="overflow:auto;border-bottom:none !important;"></div>
		<div class="html hidden coge-border-top" style="overflow:auto;border-bottom:none !important;"></div>
	</div>
</div>

