<link rel="stylesheet" href="css/dataTables.css" type="text/css">
<script type="text/javascript" src="js/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/coge/services.js"></script>
<script type="text/javascript" src="js/pages/search-results.js"></script>
<script type="text/javascript">
const API_BASE_URL  = '<TMPL_VAR NAME="API_BASE_URL">';
const USER_NAME     = '<TMPL_VAR NAME="USER_NAME">';
const SEARCH_TEXT	= '<TMPL_VAR NAME="SEARCH_TEXT">';
const QUERY         = <TMPL_VAR NAME="QUERY">;
</script>
<div>
	<div id="loading" class="spinner hidden" style="display:flex;justify-content:center;align-items:center;margin-top:40px;"></div>
	<div id="msg" class="note hidden"></div>
	<div id="masterTable" style="display:none;" class="collapse result">
		<div id="Experiment" class="collapse" style="display:none;padding-top:10px;margin-bottom:10px;">
			<span onclick="toggle_results(this,$('#exp_table'))">
				<span class='coge-table-header' style='color:119911;cursor:pointer;'></span>
	        	<img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
	        </span>
			<div style="display:none">
		        <table class="dataTable display compact dt-cell" id='exp_table' style="width:100%"></table>
			</div>
		</div>
	
		<div id="Feature" class="collapse" style="display:none;padding-top:10px;margin-bottom:10px;">
			<span onclick="toggle_results(this,$('#feature_table'))">
				<span class='coge-table-header' style='color:119911;cursor:pointer;'></span>
	        	<img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
	        </span>
			<div style="display:none">
		        <table class="dataTable display compact dt-cell" id='feature_table' style="width:100%"></table>
			</div>
		</div>	
	
		<div id="Genome" class="collapse" style="display:none;padding-top:10px;margin-bottom:10px;">
			<span onclick="toggle_results(this,$('#gen_table'))">
				<span class='coge-table-header' style='color:119911;cursor:pointer;'></span>
	        	<img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
	    	</span>
			<div style="display:none">
		    	<table class="dataTable display compact dt-cell" id='gen_table' style="width:100%"></table>
			</div>
		</div>
	
		<div id="Notebook" class="collapse" style="display:none;padding-top:10px;margin-bottom:10px;">
			<span onclick="toggle_results(this,$('#note_table'))">
				<span class='coge-table-header' style='color:119911;cursor:pointer;'></span>
	        	<img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
	    	</span>
			<div style="display:none">
		    	<table class="dataTable display compact dt-cell" id='note_table' style="width:100%"></table>
			</div>
		</div>
	
		<div id="Organism" class="collapse" style="display:none;padding-top:10px;margin-bottom:10px;">
			<span onclick="toggle_results(this,$('#org_table'))">
				<span class='coge-table-header' style='color:119911;cursor:pointer;'></span>
				<img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
			</span>
			<div style="display:none">
				<table class="dataTable display compact dt-cell" id="org_table" style="width:100%"></table>
			</div>
		</div>
	
		<div id="User_Group" class="collapse" style="display:none;padding-top:10px;margin-bottom:10px;">
			<span onclick="toggle_results(this,$('#user_group_table'))">
				<span class='coge-table-header' style='color:119911;cursor:pointer;'></span>
	    		<img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
	    	</span>
			<div style="display:none">
		    	<table class="dataTable display compact dt-cell" id='user_group_table' style="width:100%"></table>
			</div>
		</div>
	</div>
</div>
