<TMPL_IF NAME="JS">
<SCRIPT language="JavaScript">

$(document).ready(function(){
$('#maketable').html('<div id ="annotation" style = "overflow: auto; height: 300px; width: auto;"></DIV>');
  var featid = "<TMPL_VAR NAME=FEATID>";
  if (featid){
    myObj = new generate_seq_obj_with_featid(featid,'<TMPL_VAR NAME=FEATNAME>','<TMPL_VAR NAME=DSID>','<TMPL_VAR NAME=DSGID>','<TMPL_VAR NAME=CHR>','<TMPL_VAR NAME=FEAT_START>','<TMPL_VAR NAME=FEAT_STOP>','<TMPL_VAR NAME=GSTID>', '<TMPL_VAR NAME=REL>');
   }
  else{
    myObj = new generate_seq_obj('<TMPL_VAR NAME=DSID>','<TMPL_VAR NAME=DSGID>', '<TMPL_VAR NAME=CHR>','<TMPL_VAR NAME=GSTID>');}

  redefine(<TMPL_VAR NAME=RC>);
  $(".dialog_box").dialog({ autoOpen: false, width: 500 });
//  get_sequence(<TMPL_VAR NAME=RC>);
});

function generate_seq_obj(dsid,dsgid, chr,gstid, rel){
  this.start=$('#upstream').val()*1;
  this.stop=$('#downstream').val()*1;
  this.orig_start=$('#upstream').val()*1;
  this.orig_stop=$('#downstream').val()*1;
  this.dsid=dsid;
  this.dsgid=dsgid;
  this.chr=chr;
  this.rel=rel;
  this.pro=0;
  this.gstid=gstid;
}

function generate_seq_obj_with_featid(featid,featname, dsid, dsgid, chr, feat_start, feat_stop,gstid){
  this.featid=featid;
  this.start=feat_start*1;//-$('#upstream').val()*1;
  this.stop=feat_stop*1; //+$('#downstream').val()*1;
  this.orig_start=feat_start*1;
  this.orig_stop=feat_stop*1;
  this.featname=featname;
  this.dsid=dsid;
  this.dsgid=dsgid;
  this.chr=chr;
  this.pro=0;
  this.gstid=gstid;
}

function reset_updown() {
  $('#upstream').val(0);
  $('#downstream').val(0);
}

function dynamic_buttons(button){
 //alert(button);
 $('.seqview_button').hide(0);
 if (button == "dna_button"){
   $('#rc_button').show(0);
   $('#pro_button').show(0);}
 else if (button == "rc_button"){
   $('#dna_button').show(0);
   $('#pro_button').show(0);}
 else{
  $('#dna_button').show(0);
  $('#rc_button').show(0);
  }
}

function onEnter(e){
  if (!e){
   var e = window.event;}
  if(e.which == 13){
    redefine();}
}
function display_feat_info(html){
 $('#feature_info').html(html).show(pageObj.speed);
}

function display_gc_info(html){
 $('#gc_info').html(html).show(pageObj.speed);
}

function get_blast_info(){
  var url = location.href;
  parse_url(['args__url','args__'+url],[blastSeq]);
}

function blastSeq() {
  dsid = myObj.dsid || 0;
  dsgid = myObj.dsgid || 0;
  chr=myObj.chr || 0;
  featid=myObj.featid || 0;
  gstid = myObj.gstid || 1;
  up = $('#upstream').val() || 0;
  down = $('#downstream').val() || 0;
  var locations = '<TMPL_VAR NAME="LOCATIONS">';
  rc = 0;

  if ($('.rc_button').is(':hidden')==true) {
    rc = 1;
  }
  if (featid) {
    window.open('CoGeBlast.pl?featid='+featid+'&upstream='+up+'&downstream='+down+'&rc='+rc+'&gstid='+gstid);}
  else if (dsid) {
    window.open('CoGeBlast.pl?chr='+chr+'&upstream='+up+'&downstream='+down+'&dsid='+dsid+'&rc='+rc+'&gstid='+gstid);
  }
  else if (dsgid) {
    window.open('CoGeBlast.pl?chr='+chr+'&upstream='+up+'&downstream='+down+'&dsgid='+dsgid+'&rc='+rc+'&gstid='+gstid);
  }
  else if (locations) {
    window.open('CoGeBlast.pl?upstream='+up+'&downstream='+down+'&locations='+locations);
  }
}

function RNAFold() {
 dsid = myObj.dsid || 0;
 chr=myObj.chr || 0;
 featid=myObj.featid || 0;
 start = $('#upstream').val() || 0;
 stop = $('#downstream').val() || 0;
 up = $('#addup').val() || 0;
 down = $('#adddown').val() || 0;
 rc = 0;
 if ($('.rc_button').is(':hidden')==true){
   rc = 1;}
 if (featid) {
 window.open('ViennaFold.pl?featid='+featid+'&upstream='+up+'&downstream='+down+'&rc='+rc);}
 else {
 window.open('ViennaFold.pl?chr='+chr+'&upstream='+up+'&downstream='+down+'&start='+start+'&stop='+stop+'&dsid='+dsid+'&rc='+rc);
 }
}

function AragornSeq() {
 dsid = myObj.dsid || 0;
 chr=myObj.chr || 0;
 featid=myObj.featid || 0;
 up = $('#upstream').val() || 0;
 down = $('#downstream').val() || 0;
 rc = 0;
 if ($('.rc_button').is(':hidden')==true){
   rc = 1;}
 if (featid) {
 window.open('tRNAView.pl?featid='+featid+'&upstream='+up+'&downstream='+down+'&rc='+rc);}
 else {
 window.open('tRNAView.pl?chr='+chr+'&upstream='+up+'&downstream='+down+'&dsid='+dsid+'&rc='+rc);
 }
}

/*
function waiting(tag,rc) {
  var seq_length;
  if (typeof rc == 'undefined'){
    rc = myObj.rc || 0;}
  if(myObj.featid){
      seq_length = ((myObj.stop)*1 - (myObj.start)*1);}
  else{
      seq_length = ((myObj.stop)*1 + (myObj.start)*1);}
  //else{
  //html = html.replace(/<.+>/g,"");
  //html = html.replace(/<\/pre>$/,"");
    //seq_length = html.length;}
  //alert(seq_length);
  if ((rc==2)&&(seq_length > 80000)){
     $('#'+tag).html('<font class="loading dna">Loading. . .</font>');}
  else if (seq_length > 400000){
  //alert(html+' is '+seq_length+' chars long');
  //if (
    $('#'+tag).html('<font class="loading dna">Loading. . .</font>');}
  else{
    return;}
}

*/
function redefine(rc){
  $('#gc_info').html('');
  $('#seq_text').val('loading. . .');
  var up;
  var down;
  myObj.rc=rc;
  up = $('#upstream').val().replace(/,|\./g,"");
  $('#upstream').val(up);
  down = $('#downstream').val().replace(/,|\./g,"");
  $('#downstream').val(down);
  if ($('#addup').val()) {
   up = $('#addup').val().replace(/,|\./g,"");
   $('#addup').val(up);
  }
  if ($('#adddown').val()) {
   down = $('#adddown').val().replace(/,|\./g,"");
   $('#adddown').val(down);
  }

  if(! isNaN($('#addup').val())) {
   up = ($('#upstream').val()*1)-($('#addup').val()*1);
   down = ($('#downstream').val())*1+($('#adddown').val()*1);
   $('#upstream').val(up);
   $('#downstream').val(down);
   myObj.start=$('#upstream').val();
   myObj.stop=$('#downstream').val();

  }
  else {
   myObj.start = (myObj.orig_start*1) - ($('#upstream').val()*1);
   myObj.stop  = (myObj.orig_stop *1) + ($('#downstream').val()*1);
  }
  get_sequence(myObj.rc,myObj.pro,1);
  $('#addup').val(0);
  $('#adddown').val(0);
//  find_feats(['args__dsid','args__'+myObj.dsid,'args__start','args__'+myObj.start,'args__stop','args__'+myObj.stop,'args__chr','args__'+myObj.chr,'args__gstid','args__'+myObj.gstid],['find_feats_button','feat_type_list']);
}

function get_sequence(rc,pro,add){
  if (typeof pro == 'undefined') {
    pro=myObj.pro || 0;
  }
  else {
    myObj.pro=pro;
  }

  if (typeof rc == 'undefined') {
    rc = myObj.rc || 0;
  }
  else {
    myObj.rc=rc;
  }

  var wrap = 0;
  if($('#wrap')[0].checked) {
	  wrap=1;
	}

  get_seq([
    'args__featid', 'args__'+myObj.featid,
    'args__pro', 'args__'+pro,
    'args__rc', 'args__'+rc,
    'args__chr', 'args__'+myObj.chr,
    'args__dsid', 'args__'+myObj.dsid,
    'args__dsgid', 'args__'+myObj.dsgid,
    'args__featname', 'args__'+myObj.featname,
    'args__upstream', 'upstream',
    'args__downstream', 'downstream',
    'args__locations', 'args__' + '<TMPL_VAR NAME=LOCATIONS>',
    'args__start', 'args__'+myObj.start,
    'args__stop', 'args__'+myObj.stop,
    'args__add', 'args__'+add,
    'args__wrap','args__'+wrap,
    'args__gstid','args__'+myObj.gstid,
    'args__rel','args__'+myObj.rel],['seq_text']
  );
}

function featlist (link) {
 var type = $('#feature_type').val();
 if (type) {
  link += ';ftid=';
  link += type;
 }
 window.open(link);

}

//Set up radio behavior for sequence buttons
$(function(){
		$(".seq_button")
		.click(function(){
				$(this).parents('.ui-buttonset-single:first').find(".ui-button.ui-state-active").removeClass("ui-state-active");
				if( $(this).is('.ui-state-active') ){ $(this).removeClass("ui-state-active"); }
				else { $(this).addClass("ui-state-active"); }
		if(! $(this).is('.ui-buttonset-single .ui-button') ){
				$(this).removeClass("ui-state-active");
			}
		});
});

</SCRIPT>
</TMPL_IF>
<TMPL_IF NAME=SEQ_BOX>
  <div id="seq">
    <table>
      <tr>
        <td>
          <textarea id=seq_text name=seq_text readonly ondblclick="this.select();" class="ui-widget-content ui-corner-all backbox" style="height: 400px; width: 750px; overflow: auto;"></textarea>
          <br>
	      </td>
        <td valign="top">
          <TMPL_IF NAME=FEATURE>
          <span class='ui-button ui-corner-all' onClick="generate_feat_info(['args__<TMPL_VAR NAME=FEATID>'],['feature_info']); $('#feature_info').dialog('open');">Get Feature Info</span>
          </TMPL_IF>
        </td>
        <td valign="top">
          <span class='ui-button ui-corner-all'  onClick="generate_gc_info(['seq_text','args__'+myObj.pro],[display_gc_info],'POST')">Calculate GC Content</span>
          <div id="gc_info" class="small" style="display:none;margin-top:5px;"></div>
        </td>
      </tr>
    </table>
 </div>
<div id="feature_info" class="dialog_box" title="Feature Information"></div>

<div id="seq_buttons" class="ui-buttonset ui-buttonset-single">
  <button id="dna_button" class="ui-button ui-corner-left seq_button ui-state-active" onClick="get_sequence(0,0); gen_title(['args__rc','args__0','args__pro','args__0'],['box_name']);">Genomic DNA</button>
  <button id="rc_button" class="ui-button seq_button" onClick="get_sequence(1,0); gen_title(['args__rc','args__1','args__pro','args__0'],['box_name']);">Reverse Complement</button>
  <button id="pro_button" class="ui-button ui-corner-right seq_button" onClick="$('#seq_text').val('Loading. . .'); get_sequence(0,1); gen_title(['args__rc','args__0','args__pro','args__1','args__sixframe','args__<TMPL_VAR NAME=SIXFRAME>'],['box_name']);">Protein (Translated)</button>
</div>

<!--
       <DIV class="seqview_button dna_button" style="display: none; float: left" id="dna_button"><input type=button value="DNA Sequence" onClick="dynamic_buttons('dna_button');get_sequence(0,0);gen_title(['args__rc','args__0','args__pro','args__0'],['box_name']);"></DIV>
      <DIV class="seqview_button rc_button" style="float: left" id="rc_button"><input type=button value="Reverse Complement" onClick="dynamic_buttons('rc_button');get_sequence(1,0);gen_title(['args__rc','args__1','args__pro','args__0'],['box_name']);"></DIV>
      <DIV class="seqview_button pro_button" style="float: left" id="pro_button"><input type=button value="<TMPL_VAR NAME=PROTEIN>" onClick="dynamic_buttons('pro_button');$('#seq_text').val('Loading. . .');get_sequence(0,1);gen_title(['args__rc','args__0','args__pro','args__1','args__sixframe','args__<TMPL_VAR NAME=SIXFRAME>'],['box_name']);"></DIV> -->
 <input type="checkbox" id="wrap" checked onclick="  get_sequence(myObj.rc,myObj.pro,1);"><span class="small">Wrap sequence?</span>

</TMPL_IF>

<TMPL_IF NAME="ADDITION">
<DIV id="feat_annos" style="display: none" align=center>
<TABLE>
 <TR>
  <TD>
  <div id = "maketable"></div>
</Table>
</DIV>
<table>
 <TR >
  <TD  class=small>
   <TMPL_VAR NAME = "UPSTREAM">
   </td>
   <td  class=small>
   <INPUT type="text" id="upstream"  onkeypress="onEnter(event);" value= "<TMPL_VAR NAME="UPVALUE">" size=6>
   </td>
   <TD  class=small>
   <TMPL_VAR NAME="DOWNSTREAM">
   </td>
   <td  class=small>
   <INPUT type="text" id="downstream" onkeypress="onEnter(event);" value= "<TMPL_VAR NAME="DOWNVALUE">" size=6>
  </TD>
  <TMPL_IF NAME=ADD_EXTRA>
  <TR >
  </td>
   <TD  class=small>
     Add 5':
    </td>
   <td>
   <INPUT type="text" id="addup"  onkeypress="onEnter(event,1);" value= "<TMPL_VAR NAME="ADDUP">"  size=6>
     </td>
     <TD  class=small>
     Add 3':
    </td>
   <td>
     <INPUT type="text" id="adddown" onkeypress="onEnter(event,1);" value= "<TMPL_VAR NAME="ADDDOWN">" size=6>
   </td>
  </TMPL_IF>
<td><span class='ui-button ui-button-icon-left ui-corner-all' id = "add_to" onClick="redefine(myObj.rc);"><span class="ui-icon ui-icon-arrowrefresh-1-s"></span>Redefine Sequence</span>
   <TMPL_IF NAME="FEATURE">
   <TD align>
   <span class='ui-button ui-button-icon-left ui-corner-all' id="reset" onClick="reset_updown();get_sequence();"><span class="ui-icon ui-icon-refresh"></span>Reset</span>
   </TMPL_IF>
 </TABLE>
<table>
     <TR>
     <TD align=right valign="top">
     <span class='ui-button ui-corner-all' id="blast_button" style="float: left" onClick="blastSeq()">CoGeBlast</span>
     <span class='ui-button ui-corner-all' id="trna_button" style="float: left" onClick="AragornSeq()">Scan for tRNAs</span>
     <span class='ui-button ui-corner-all' id="rnafold_button" style="float: left" onClick="RNAFold()">RNA Fold</span>
    </TD>
   </TR>
     <tr>
     <TD valign="top">
     <DIV id="find_feats_button" style="float:left"> <TMPL_VAR NAME=FEATLISTLINK></div> <div id="feat_type_list" style="float:left"> <TMPL_VAR NAME="FEAT_TYPE_LIST"></DIV>
</table>

</TMPL_IF>

<TMPL_IF NAME=BOTTOM_BUTTONS>
</TMPL_IF>

<TMPL_IF NAME="FEATUREBOX">
 <TABLE>
   <TR>
   <TD align=right valign="top">
    <TMPL_VAR NAME="LISTFEATURES">
   </TR>
 </TABLE>
</TMPL_IF>
