<TMPL_IF NAME="FRONT_PAGE">
<tmpl_if name="beta">
    <div class="small" style="padding-bottom: 5px; color: dimgray;">
        <span class="large">Welcome to the <span class="alert">new beta version</span> of SynFind.</span><br>If you experience any difficulties
        or prefer to use the old version, please <a id="beta_link" href="SynFind_old.pl">click here</a>.
        <br>
    </div>
</tmpl_if>

<aside class="info">
    <p><a class="bold" href="http://genomevolution.org/wiki/index.php/SynFind" target="_blank">SynFind</a> identifies syntenic regions against any set of genomes given a gene in one genome.
        <span class="link" onClick="$(this).remove(); $('#getting_started').fadeIn();">More...</span>
    </p>

    <div id="getting_started" class="hidden" style="max-width:90%;">
        <p>Complete syntenic gene-sets can be downloaded, and syntenic depth tables are
        generated to access the polyploidy level between the query genome and each
        target genome.</p>
    </div>
</aside>

<div id="tabs" class="hidden" style='margin-top: 0.5em'>
    <ul>
        <li class="small">
            <a href="#tab1"><span>Search</span></a>
        </li>
        <li class="small">
            <a href="#tab2"><span>Parameters</span></a>
        </li>
    </ul>

<div id="tab1">
    <TMPL_INCLUDE NAME='widgets/GenomeSelect.tmpl'>
    <br>

    <div class="bold text">Specify Feature</div>
    <table class="ui-widget-content ui-corner-all coge-section" style="padding-right:5px;">
        <tr>
            <td nowrap style="padding-left:5px;padding-top:1px;">Name:</td>
            <td>
                <input type="search" name="accn" id="accn" tabindex="1"  size="20" placeholder="Search" value="<TMPL_VAR NAME=ACCN>" onkeypress="onEnter(event);"/>
            </td>
        </tr>
        <tr>
            <td nowrap style="padding-left:5px;padding-bottom:1px;">Annotation:</td>
            <td nowrap>
                <input type="search" name="annosearch" id="annosearch" tabindex="1"  size="20" placeholder="Search" value="<TMPL_VAR NAME=ANNO>" onkeypress="onEnter(event);"/>
            </td>
        </tr>
        <tr>
            <td valign="top" nowrap style="padding-left:5px;">Organism:</td>
            <td>
                <input type="search" size="20" placeholder="Search" name="org_name_desc_feat" id="org_name_desc_feat" onKeyUp='get_orgs_feat();'><br>
                <DIV id="org_list_feat" style="padding-top:5px;"><TMPL_VAR NAME="ORG_LIST_FEAT"></DIV>
            </td>
        </tr>
        <tr>
            <td><span class="coge-button" onclick="search_chain(1)">Search</span></td>
        </tr>
    </table>

    <br>

    <table id="data_table" class="hidden">
     <thead style="text-align:left;">
      <th>Matches</th>
      <th style="min-width:60px">Types</th>
      <th>Genomes</th>
     </thead>
     <tbody class="small">
     <tr valign="top">
      <td valign="top">
       <DIV id="accn_list"><input type="hidden" id="accn_select"></DIV>
      </td>
      <td valign="top">
        <DIV id="FeatType"></DIV>
      </td>
      <td valign="top">
       <DIV id="Source"><TMPL_VAR NAME="FEAT_DSGID"></DIV>
     </tbody>
    </table>

    <br>

    <DIV id="fid" class="hidden"><TMPL_VAR NAME="FID"></div>

    <DIV id="anno" class="hidden"></DIV>

</div> <!--close tab 1-->

<div id="tab2">
    <div class="bold text">General parameters</div>
    <TABLE class='small'>
        <TR>
            <TD>Comparison Algorithm: </TD>
            <TD>
                <select id='algo'>
                    <option value='last' <TMPL_VAR NAME=LAST>>Last</option>
                    <option value='lastz' <TMPL_VAR NAME=LASTZ>>LastZ</option>
                </select>
            </TD>
        </TR>
        </table>
        <br>

        <div class="bold text">Syntney finding parameters</div>
        <table class='small'>
            <TR>
                <TD>Gene window size: </TD>
                <TD><input id='ws' type='text' size='3' value='<TMPL_VAR NAME=WS>'></TD>
            </TR>
            <TR>
                <TD>Minimum number of genes: </TD>
                <TD><input id='co' type='text' size='3' value='<TMPL_VAR NAME=CO>'></TD>
            </TR>
            <TR>
                <TD>Scoring Funciton: </TD>
                <TD>
                    <select id='sf'>
                        <option value='1' <TMPL_VAR NAME=SF_COLLINEAR> >Collinear</option>
                        <option value='2' <TMPL_VAR NAME=SF_DENSITY> >Density</option>
                    </select>
                </TD>
            <TR>
                <TD>Max Syntenic Depth: <br><span class='small note'>(leave blank for unlimited)</span></TD>
                <TD><input id='sd' type='text' size='3' value='<TMPL_VAR NAME=SD>'></TD>
            </TR>
        </TABLE>
        </TR>
    </TABLE>
</div> <!--close tab 2-->

</div> <!--close all tabs-->
<div class="padded">
    <span id="run_synfind_button" class='coge-button coge-button-danger coge-button-lg'>Run SynFind</span><BR><br>
</div>

</TMPL_IF>

<TMPL_IF NAME="RESULTS_DIV">
  <DIV id="results" class="hidden" style="padding:15px;border-top:1px solid lightgray;"></DIV>
 <div id="feature_info_popup" class="hidden dialog_box" title="Feature Information"></div>
</TMPL_IF>

<div id="status_dialog" class="dialog_box hidden">
    <div class="dialog-text small ui-widget-content ui-corner-all inline" style="overflow-y:auto;width:450px;height:200px;color:dimgray;padding: 5px;">
    </div>

    <ul class="dialog-error horizontal padded hidden">
        <li id="error_msg">An error occurred <img src="picts/thumbs_down.png"></li>
        <li class="dialog-log small"></li>
        <li id="cancel_button" class="r coge-button coge-button-danger">
            <span onClick="$('#status_dialog').dialog('close');" >
                Close
            </span>
        </li>
    </ul>

    <ul class="dialog-complete horizontal padded hidden">
        <li>
            <span>Finished!</span>
            <img src="picts/thumbs_up.png">
        </li>
        <li id="ok_button" class="r">
            <span class="coge-button" onClick="$('#status_dialog').dialog('close');" >
                OK
            </span>
        </li>
    </ul>

    <ul class="dialog-running padded">
        <li class="bottom">
            <span id="loading_msg">Please wait ...</span>
            <img src="picts/ajax-loader.gif"/>
        </li>
    </ul>
    <div class="dialog-link link small text" style="padding-left: 5px;"></div>
</div>

<tmpl_include name="/widgets/Overlay.tmpl">

<tmpl_if name="JAVASCRIPT">
<script type="text/javascript" src="js/jquery.tablesorter.2.0.3.js"></script>
<script type="text/javascript" src="js/coge/utils.js"></script>
<script type="text/javascript" src="js/pages/synfind.js"></script>
<script>
$(function() {
    $.ajaxSetup({
        type: "GET",
        url: '<TMPL_VAR NAME="PAGE_NAME">',
        dataType: "html",
        cache: false,
    });

    $(".dialog_box").dialog({ autoOpen: false, width: 500 });

    $("#tabs").tabs().show();

    $("#run_synfind_button").on("click", schedule);

    setTimeout(function() { <TMPL_VAR NAME="DOCUMENT_READY"> }, 100 );

    if (+"<tmpl_var name=RUN>") {
        var fid = "<tmpl_var name=FID>",
            targets = "<tmpl_var name=TARGETS>";

        schedule(null, fid, targets);
    }
});

function schedule(event, fid, targets) {
    var feat = $('#feat_dsgid').val();
    if (!feat) {
        alert('Please search and select a feature for this analysis.')
        return;
    }

    var options = {
        dsgids: $('#genome_choice').getLength(1),
        fid: $('#fid').html(),
        qdsgid: feat[0],
        window_size: $('#ws').val(),
        cutoff: $('#co').val(),
        scoring_function: $('#sf').val(),
        algo: $('#algo').val(),
        depth: $('#sd').val()
    };

    if (options.fid === '') {
        options.fid = fid || '';
    }

    if (options.fid === '') {
        alert('Please search and select a feature for this analysis.')
        return;
    }

    if (options.dsgids === 'blank') {
        options.dsgids = targets || '';
    }

    if (options.dsgids === '') {
        alert('Please select at least one genome to search.');
        return;
    }

    $('html, body').animate({scrollTop: 0}, 500);
    var results = $("#results").slideUp().html('');
    var overlay = $("#overlay").show();

    query_results(options).then(function(response) {
        overlay.hide();

        if (response.success) {
            handle_results("#results", response.html);
            results.slideDown();
        } else {
            launch('#status_dialog', '#results', options);
        }
    });

    ga('send', 'event', 'synfind', 'run'); // for analytics
}
</script>
</tmpl_if>
