<TMPL_IF NAME='LOGIN'>
    <TMPL_INCLUDE NAME="widgets/Login.tmpl">
</TMPL_IF>

<TMPL_IF NAME='MAIN'>
<style type="text/css">
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.eot');
	src: url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.glyphicon-asterisk:before {
	content: "\2a";
}

.contentBox {
    background-color: #F5F5F5;
    height: auto;
    border: 1px solid #119911;
    border-radius: 0px;
    margin: 0px;
    box-sizing: border-box;
    padding: .1em;
    position: relative;
}

.contentBox h3 {
    margin: 0;
    margin-top: .1em;
    margin-bottom: .2em;
}

#rendering {
    margin: 0px;
    padding: 0px;
    margin-left: 0.5%;
    margin-right: 0.25%;
    margin-bottom: .2em;
    float: left;
    width: 70%;
}

#ptcounter {
    position: absolute;
    font-size: large;
    top: 8px;
    left: 8px;
}

#vrlogo {
    position: absolute;
    bottom: 8px;
    right: 8px;
    opacity: 0.4;
}

#vrlogo:hover {
    opacity: 1.0;
}

#axislabels {
    position: absolute;
    top: 8px;
    left: 300px;
}

.label {
    border-radius: 4px;
    padding: 2px;
    opacity: 0.65;
    font-weight: bold;
}

#xlabel {
    border: 3px solid #8B0000;
    background-color: #FF6464;
}

#ylabel {
    border: 3px solid #00008B;
    background-color: #0064FF;
}

#zlabel {
    border: 3px solid #008000;
    background-color: #90EE90;
}

.redtxt {
    color: red;
}
.bluetxt {
    color: blue;
}
.greentxt {
    color: green;
}

#instruct {
    position: absolute;
    padding: 8px;
    top: 30px;
    left: 30px;
    background-color: #FFFFFF;
    opacity: 0.95;
    border: 1px solid #119911;
    border-radius: 6px;
}

#right {
    margin-top: 0px;
    margin-bottom: 0.2em;
    margin-right: 0.5%;
    margin-left: 0.25%;
    float: right;
    width: 28.5%;
}

#histos {
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    background-color: #F5F5F5;
    border: 1px solid #119911;
}

#hKs, #hKn, #hKnKs{
    height: auto;
    zoom: 1;
    text-align: center;
}

.bar rect {
    shape-rendering: crispEdges;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#gene_info h5 {
    margin-top: .2em;
    margin-bottom: .05em;
}

.gene-info-display p {
    margin: 0em;
    margin-left: .6em;
    font-size: 0.875em;
}

.brush .extent {
  stroke: rgb(108, 122, 168);
  fill: rgb(68, 104, 168);
  fill-opacity: .25;
  shape-rendering: crispEdges;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

</style>

<div id="analysis" style="display:none">
    <div id="rendering" class="contentBox">
        <canvas id="canvas"></canvas>

        <div id="ptcounter">
            <span style="font-weight:bold;">Point Count:</span> <span id="pt_ct"></span>
        </div>

        <div id="axislabels" class="hidden">
            <span id="xlabel" class="label">X Axis Label</span>
            <span id="ylabel" class="label">Y Axis Label</span>
            <span id="zlabel" class="label">Z Axis Label</span>
        </div>

        <div id="instruct" class="ui-draggable hidden">
            <span style="font-weight: bold">Welcome to the new SynMapN Viewer!</span><br>
            <div style="padding: 6px">
                SynMap Navigation Instructions:<br>
                <ul>
                    <li> - Zoom: Scroll wheel</li>
                    <li> - Rotate: Click & drag</li>
                    <li> - Select points: Click</li>
                </ul><br>
                Histogram Navigation:<br>
                <ul>
                    <li> - View log(value) limits and point count for each histogram bin: hover on bar</li>
                    <li> - Display point subsets: Click and drag to select histogram region</li>
                    <li> - Moving subset: Click and drag on brush selection</li>
                    <li> - Clear subset: Click empty, unselected space on histogram</li>
                </ul><br>
                For more help, see the <a target="_blank" href="https://genomevolution.org/wiki/index.php/SynMap3D">SynMap3D Wiki</a>
            </div><br>
            <input type="checkbox" /> <span class="small">Don't show this message again</span>
            <span onClick="if ($(this).siblings('input:checkbox').prop('checked')) Cookies.set('instruct_synmap3d','true', {expires:10000});$(this).parent('div').hide();" class="r coge-button">OK, got it!</span>


        </div>
    </div>

    <div id="right">
        <div id="histos">
            <div id="hKs" style="">
                <button type="button" onclick="rotateHistogram('L')">&lsaquo;</button>
                Synonymous Mutations (Ks) Histogram
                <button type="button" onclick="rotateHistogram('R')">&rsaquo;</button>
            </div>
            <div id="hKn" style="display: none;">
                <button type="button" onclick="rotateHistogram('L')">&lsaquo;</button>
                Non-synonymous Mutations (Kn) Histogram
                <button type="button" onclick="rotateHistogram('R')">&rsaquo;</button>
            </div>
            <div id="hKnKs" style="display: none;">
                <button type="button" onclick="rotateHistogram('L')">&lsaquo;</button>
                Kn/Ks Histogram
                <button type="button" onclick="rotateHistogram('R')">&rsaquo;</button>
            </div>
        </div>
        <div id="opts" class="contentBox">
            <span style="text-align: center; font-weight: bold;">Controls</span><br>
            <div style="padding-bottom: 5px">
                <span id="xylabel">XY</span><br>
                <button type="button" id="viewXY" onclick="resetCamera('xy')">Orient Camera</button>
                <button type="button" onclick="launchSynmap2('xy')">View in SynMap&rsaquo;&rsaquo;</button><br>
            </div>

            <div style="padding-bottom: 5px">
                <span id="xzlabel">XZ</span><br>
                <button type="button" id="viewXZ" onclick="resetCamera('xz')">Orient Camera</button>
                <button type="button" onclick="launchSynmap2('xz')">View in SynMap&rsaquo;&rsaquo;</button><br>
            </div>

            <div style="padding-bottom: 5px">
                <span id="yzlabel">YZ</span><br>
                <button type="button" id="viewYZ" onclick="resetCamera('yz')">Orient Camera</button>
                <button type="button" onclick="launchSynmap2('yz')">View in SynMap&rsaquo;&rsaquo;</button><br>
            </div>

            <div style="padding-bottom: 5px">
                <label>Toggle Point Style: </label>
                <button id="ptShapeSelect" type="button" onclick="togglePtShape()">Show Flat</button><br>
                <label>Adjust Point Size: </label>
                <input id="ptSizeSelect" type="range" min="2" max="18" step="1" value="8"/> <!--<span id="slideDisplay"></span>--><br>
            </div>

            <div style="padding-bottom: 5px">
                <label>Toggle Projection: </label>
                <button id="camTypeSelect" type="button" onclick="toggleCamera()">Show Orthographic</button>
            </div>

            <div style="padding-bottom: 5px">
                <span>Additional Controls</span><br>
                <button type="button" onclick="resetCamera('reset')">Reset Camera</button>
                <button type="button" onclick="toggleRotate()">Toggle Auto-Rotate</button>
                <button type="button" onclick="toggleGrid()">Toggle Grid</button>
                <button type="button" onclick="toggleLabels()">Toggle Axis Labels</button><br>
            </div>

            <br><span style="text-align: center; font-weight: bold;">Color Options</span><br>
            <label>Color Scheme: </label>
            <select id="color_scheme">
                <option value="Jet" selected>Rainbow</option>
                <option value="Bluered">Blue-Red</option>
                <option value="Portland">Portland</option>
                <option value="Viridis">Viridis</option>
                <option value="Auto">Auto</option>
            </select>
            <span id="autoscale" class="hidden">
                <input id="slide" type="range" /> <span id="slideDisplay"></span>
            </span>

            <br>
            <label>Color By Mutation Ratio: </label>
            <select id="color_by">
                <option value="xy">XY</option>
                <option value="xz">XZ</option>
                <option value="yz">YZ</option>
                <option value="xyz">XYZ</option>
            </select>

            <div id="pt_selection">
                <br><span style="text-align: center; font-weight: bold;">Point Selection</span><br>
                <div id="pt_display"><span style="font-style: italic;">No Point Selected</span></div>
            </div>

            <div id="regen">
                <br><span style="text-align: center; font-weight: bold;">Regenerate Analysis</span><br>
                <div id="tiny"></div>
            </div>

            <div id="down">
                <br><span style="text-align: center; font-weight: bold;">Download Results</span><br>
                <div id="download"></div>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
</div>

<!-- Error Message (Empty Results) Div -->
<div id="error_empty-results" style="display:none">
    <h2><span style="color:red">The submitted analysis returned no results</span></h2>
    <span style="font-weight:bold"> This could be to reasons such as:</span>
    <ul>
        <li><span style="font-weight:bold">- Too distant comparison:</span> distant species may not share three-way synteny.</li>
        <li><span style="font-weight:bold">- Genome lacking information:</span> sometimes genomes are loaded that lack the information needed to effectively perform the calculations.</li>
    </ul><br>
    Try re-running your analysis with different genomes. If you believe this message is in error, please contact CoGe support.
    <br>
    <div style="clear:both"></div>
</div>

<!-- Error Message (Too Many Points) Div -->
<div id="error_too-many-pts" style="display:none">
    <h2><span style="color:red">The submitted analysis has too many hits for the SynMap3D renderer! </span></h2>

    <span style="font-weight:bold">Your raw results are still available for download:</span><br>
    <div id="error_too-many-pts_download"></div><br>

    <span style="font-weight:bold">To visualize your data, please return to the wizard and adjust options to limit point count:</span>
    <ul>
        <li><span style="font-weight:bold">- Limit by mutation value:</span> adjust these options to only return points with Kn, Ks, or Kn/Ks values between user-designated cutoffs.</li>
        <li><span style="font-weight:bold">- Limit by DBSCAN clustering:</span> enabling this option will remove outlier (non-clustered) points. Options can be to increase/decrease stringency of cluster calling.</li>
    </ul><br>

    <div style="clear:both"></div>
</div>

<div id="wizard-container"></div>

<!-- Step Templates-->
<script id="genomes-template" type="text/template">
    <div class="step">

        <div class="form-field">
            <label class="col-md-2">Add Genome:</label>
            <input class="col-md-6" id="edit_genome" type="search" placeholder="Search"
            	title="Enter a genome to add. Start typing to narrow down the list of genomes to choose from." spellcheck="false"
            	size="50" value="<TMPL_VAR NAME='GENOME_NAME'>"
            	style="float:left;" />
            <img id="edit_genome_busy" src="picts/ajax-loader.gif" style="float:left;" class="hidden" />
        </div>

        <div id="genomes" style="display:inline-grid;grid-template-columns:auto 20px;grid-gap:20px;padding-left:1em;"></div>
    </div>
</script>

<script id="options-layout-template" type="text/template">
	<div>
	    <div id="general-options"></div>
	</div>
</script>

<script id="general-options-template" type="text/template">
	<div class="form-section">
        <fieldset class="ui-widget-content ui-corner-all coge-section">
            <legend style="color:#009900">Blast Algorithm</legend>
            <select id="blast" name="blast" onchange="update_blast_option($(this).val())">
                <option value="6" <tmpl_var name="LAST_SELECT">>Last (fastest)
                <option value="4" <tmpl_var name="LASTZ_SELECT">>(B)lastZ (fast)
                <option value="0" <tmpl_var name="MEGA_SELECT">>MegaBlast
                <option value="1" <tmpl_var name="DCMEGA_SELECT">>Discontinuous MegaBlast
                <option value="2" <tmpl_var name="BLASTN_SELECT">>BlastN (slow)
                <option value="3" <tmpl_var name="TBLASTX_SELECT">>TBlastX (very slow)
                <option value="5" <tmpl_var name="BLASTP_SELECT">>BlastP (slow)
            </select>
            <br>
            <label id="blast_option" style="display:none;">
                <span></span>
                <input />
                <span></span>
            </label>
        </fieldset>
    
        <fieldset class="ui-widget-content ui-corner-all coge-section">
            <legend style="color:#009900;">DAGChainer Options</legend>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li>
                    <label>Relative Gene Order</label>
                    <input id="dagchainer_type" name="dagchainer_type" checked="true" type="radio" value="geneorder" <tmpl_var dag_gene_select>  onClick="display_dagchainer_settings()">
                    <label>Nucleotide Distance</label>
                    <input id="dagchainer_type" name="dagchainer_type" type="radio" value="distance"
                    onClick="display_dagchainer_settings();" <TMPL_VAR DAG_DISTANCE_SELECT> >
                    <span class="small">We recommend using "Relative Gene Order"</span>
                </li>
    
                <li>
                    <span id="dagchainer_distance">Default distance settings for:
                        <select id="dagchainer_default" name="dagchainer_defaults" onChange="set_dagchainer_defaults();">
                            <option value="1">Plant
                            <option value="2">Microbe
                        </select>
                    </span>
                </li>
                <li>
                    <label>Maximum distance between two matches (-D):</label>
                    <input type="number" size="8" name="D" id="D" value="">
                    <span class=distance_type></span>
                </li>
                <li>
                    <label>Minimum number of aligned pairs (-A):</label>
                    <input type="number" size="8" name="A" id="A" value=""> genes
                </li>
            </ul>
        </fieldset>

        <fieldset class="ui-widget-content ui-corner-all coge-section">
            <legend style="color:#009900">Merge Syntenic Blocks</legend>
                <label>Algorithm:</label>
                <select id="merge_algo" name="merge_algo" onchange="merge_select_check()">
                    <option VALUE="0"> --None--
                    <option VALUE="1" <tmpl_var name="quota_merge_select">>Quota Align Merge
                    <option VALUE="2" <tmpl_var name="dag_merge_select">>Interative DAGChainer
                </select>
                <small>
                    These settings will merge neighboring syntenic blocks.  We recommend "Quota Align".
                </small>
    
            <ul style="list-style-type:none;padding:0; margin: 0" id="merge_algo_options">
                <li id="max_dist_merge">
                    <label>Average distance expected between syntenic blocks (-gm):</td>
                    <input type="text" size="8" name="gm" id="gm" value="">
                    <span class="distance_type"></span>
                </li>
                <li id="merge_algo_options">
                    <label>Maximum distance between two blocks (-Dm):</label>
                    <input type="text" size="8" name="Dm" id="Dm" value="">
                    <span class="distance_type"></span>
                </li>
            </ul>
        </fieldset>
    
        <fieldset class="ui-widget-content ui-corner-all coge-section">
            <legend style="color:#009900">Syntenic Depth</legend>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li>
                    <label>Algorithm:</label>
                    <select id="depth_algo" name="depth_algo" onchange="depth_algo_check()">
                        <option value="0"> --None--
                        <option value="1" <TMPL_VAR NAME="QUOTA_ALIGN_SELECT">>Quota Align
                    </select>
                </li>
                <li id="depth_options" style="display:none;">
                    <label>Ratio of coverage depth:</label>
    
                    <span style="color:#009900" name="depth_org_1" id="depth_org_1"></span>
                    <input type="text" size="2" name="depth_org_1_ratio" id="depth_org_1_ratio" value="<tmpl_var name=depth_org_1_ratio>">
                    -to-
                    <input type="text" size="2" name="depth_org_2_ratio" id="depth_org_2_ratio" value="<tmpl_var name=depth_org_2_ratio>">
                    <span style="color:#009900" name="depth_org_2" id=depth_org_2></span><br>
    
                    <label>Overlap distance:</label>
                    <input type="text" size="8" name="depth_overlap" id="depth_overlap" value="<tmpl_var name=depth_overlap>">
                </li>
            </ul>
        </fieldset>
    
        <fieldset class="ui-widget-content ui-corner-all coge-section">
            <legend style="color:#009900">Fractionation Bias</legend>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li>
                    <label>Run:</label>
                    <input type="checkbox" id="frac_bias" name="frac_bias" <tmpl_var name=frac_bias> />
                </li>
                <li>
                    <label>Window size (genes):</label>
                    <input type="text" id="fb_window_size" name="fb_window_size" value="<tmpl_var name=fb_window_size>" />
                </li>
                <li>
                    <label>Restrict maximum number of chromosomes in analysis:</label>
                </li>
                <li>
                    <label style="padding-left: 20px">Max query chromosomes:</label>
                    <input type="text" id="fb_numquerychr" name="fb_numquerychr" value="<tmpl_var name=fb_numquerychr>" />
                </li>
                <li>
                    <label style="padding-left: 20px">Max target chromosomes:</label>
                    <input type="text" id="fb_numtargetchr" name="fb_numtargetchr" value="<tmpl_var name=fb_numtargetchr>" />
                </li>
                <li>
                    <label>Skip Random/Unknown Chromosomes:</label>
                    <input type="checkbox" id="fb_remove_random_unknown" name="fb_remove_random_unknown" <tmpl_var name=fb_remove_random_unknown> />
                </li>
                Fractionation bias calculation:
                <li>
                    &nbsp<input type="radio" id="fb_all_genes" name="fb_genes" value="all_genes" <tmpl_var name=fb_all_genes> /> Use all genes in target genome<br />
                    &nbsp<input type="radio" id="fb_target_genes" name="fb_genes" value="target_genes" <tmpl_var name=fb_target_genes> /> Use only syntenic genes in target genome (inceases fractionation signal)
                </li>
            </ul>
        </fieldset>
    
        <fieldset class="ui-widget-content ui-corner-all coge-section">
            <legend style="color:#009900;">CodeML</legend>
            <ul style="padding: 0; margin: 0;">
                <li>
                    <label>Calculate syntenic CDS pairs and color dots:</label>
                    <select name="ks_type" id="ks_type">
                        <option value="0" <tmpl_var name=ks0>>--None--</option>
                        <option value="ks" <tmpl_var name=ks1> >Synonymous (Ks)</option>
                        <option value="kn" <tmpl_var name=ks2> >Non-synonymous (Kn)</option>
                        <option value="kn_ks" <tmpl_var name=ks3>>Kn/Ks</option>
                    </select> substitution rates <small style="color:red">(SLOW)</small>
                </li>
                <li>
                    <label>Color scheme:</label>
                    <select name="color_scheme" id="color_scheme">
                        <option value ="0" <tmpl_var name="CS0"> >Rainbow 1</option>
                        <option value ="1" <tmpl_var name="CS1"> >Rainbow 2</option>
                        <option value ="5" <tmpl_var name="CS5"> >2.1xRainbow</option>
                        <option value ="7" <tmpl_var name="CS7"> >2.2xRainbow</option>
                        <option value ="6" <tmpl_var name="CS6"> >3.1xRainbow</option>
                        <option value ="8" <tmpl_var name="CS8"> >3.2xRainbow</option>
                        <option value ="2" <tmpl_var name="CS2"> >RYB</option>
                        <option value ="3" <tmpl_var name="CS3"> >RYBG</option>
                        <option value ="4" <tmpl_var name="CS4"> >Black-Red</option>
                        <option value ="9" <tmpl_var name="CS9"> >3xRed-Blue</option>
                        <option value ="10" <tmpl_var name="CS10"> >3xBlue-Orange</option>
                    </select>
                </li>
                <li>
                    <label>Min Val:</label>
                    <input type="text" size="4" name="codeml_min" id="codeml_min" value="<tmpl_var name=codeml_min>">
    
                    <label>Max Val:</label>
                    <input type="text" size="4" name="codeml_max" id="codeml_max" value="<tmpl_var name=codeml_max>">
    
                    <label>Log10 Transform:</label>
                    <input type="checkbox" name="logks" value="true" id="logks" <tmpl_var name=logks> >
                </li>
                <li>
                    <small style="color:red">&nbsp;&nbsp;&nbsp;&nbsp; Only applicable to protein coding sequences (CDS vs. CDS)</small>
                </li>
            </ul>
        </fieldset>
    
        <fieldset class="ui-widget-content ui-corner-all coge-section">
            <legend style="color:#009900">Advanced Options (
            <a href="../wiki/index.php/SynMap#Advanced_Options">see page docs</a>)</legend>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li>
                    <label>Tandem duplication distance</label>
                    <input type="number" size="2" id="tdd" name="tdd" value="<tmpl_var name=dupdist>">
                </li>
                <li>
                    <label>C-score (filters low quality hits: value [0-1])</label>
                    <input type="range" size="2" id="csco" name="csco" value="<tmpl_var name=cscore>"
                        min="0" max="1" step="0.01" onchange="cs_display.value=value">
                    <output id="cs_display" for="csco"><tmpl_var name="cscore"></output>
                </li>
            </ul>
        </fieldset>
    </div>
</script>

<script id="confirm-template" type="text/template">
    <div class="step info">
        <h3>Genomes</h3>
        <div class="confirm-description padded"></div>
        <h3>Options</h3>
        <div class="confirm-options padded"></div>
    </div>
</script>

<!-- Alignment Templates -->
<TMPL_INCLUDE NAME="widgets/Splash.tmpl">
<TMPL_INCLUDE NAME='widgets/pipeline-options.tmpl'>
<TMPL_INCLUDE NAME="widgets/Progress.tmpl">
<TMPL_INCLUDE NAME="widgets/FileSelect.tmpl">
<TMPL_INCLUDE NAME="widgets/Wizard.tmpl">

<script type="text/javascript">
// Page constants
const API_BASE_URL  = '<TMPL_VAR NAME="API_BASE_URL">';
const SERVER_URL    = '<TMPL_VAR NAME="SERVER_URL">';
const DATA_LOC      = '<TMPL_VAR NAME="DATA_LOC">';
const PAGE_NAME     = '<TMPL_VAR NAME="PAGE_NAME">';
const SUPPORT_EMAIL = '<TMPL_VAR NAME="SUPPORT_EMAIL">';
const HELP_URL      = '<TMPL_VAR NAME="HELP_URL">';
const USER_NAME     = '<TMPL_VAR NAME="USER">';
const IS_ADMIN      = Boolean('<TMPL_VAR NAME="ADMIN_AREA">');

// Form options
const GENOME_IDS   = '<TMPL_VAR NAME="GENOME_IDS">';
const SORTBY  	    = '<TMPL_VAR NAME="SORTBY">';
const MIN_SYN       = '<TMPL_VAR NAME="MIN_SYN">';
const MIN_LEN       = '<TMPL_VAR NAME="MIN_LEN">';
const C_EPS         = '<TMPL_VAR NAME="C_EPS">';
const C_MIN         = '<TMPL_VAR NAME="C_MIN">';
const RATIO         = '<TMPL_VAR NAME="RATIO">';
const R_BY          = '<TMPL_VAR NAME="R_BY">';
const R_MIN         = '<TMPL_VAR NAME="R_MIN">';
const R_MAX         = '<TMPL_VAR NAME="R_MAX">';

const VR            = '<TMPL_VAR NAME="VR">';

var LOAD_ID = load_id = '<TMPL_VAR NAME="LOAD_ID">';
var WORKFLOW_ID       = '<TMPL_VAR NAME="WORKFLOW_ID">';
var EMBED 	      = '<TMPL_VAR NAME="EMBED">';

// File Select constants
const DEFAULT_TAB              = '<TMPL_VAR NAME="DEFAULT_TAB">';
const MAX_IRODS_LIST_FILES     = '<TMPL_VAR NAME="MAX_IRODS_LIST_FILES">';
const MAX_IRODS_TRANSFER_FILES = '<TMPL_VAR NAME="MAX_IRODS_TRANSFER_FILES">';
const MAX_FTP_FILES            = '<TMPL_VAR NAME="MAX_FTP_FILES">';
const FILE_SELECT_SINGLE       = '<TMPL_VAR NAME="FILE_SELECT_SINGLE">';

var newLoad = false;
var wizard;

$(function() {
	// Set jQuery AJAX defaults
    $.ajaxSetup({
        type: "GET",
        url: PAGE_NAME,
        dataType: "html",
        cache: false
    });

    // Configure dialogs
    $(".dialog_box").dialog({autoOpen: false, minWidth: 400});
    
    // Initialize wizard
    wizard = initialize_wizard({ 
    	admin: IS_ADMIN,
    	helpUrl: HELP_URL,
	    sortby: SORTBY,
        min_syn: MIN_SYN,
        min_len: MIN_LEN,
        c_eps: C_EPS,
        c_min: C_MIN,
        ratio: RATIO,
        r_by: R_BY,
        r_min: R_MIN,
        r_max: R_MAX,
	    vr: VR
    });

    // Initialize CoGe web services
    coge.services.init({
    	baseUrl: API_BASE_URL,
    	userName: USER_NAME
    });
    
    // Intialize progress window
    coge.progress.init({
    	title: "Loading Experiment",
    	baseUrl: API_BASE_URL,
    	userName: USER_NAME,
    	supportEmail: SUPPORT_EMAIL,
    	onReset: reset_launch
    });
    
    // Open status dialog
    if (WORKFLOW_ID) {
    	coge.progress.begin();
    	coge.progress.update(WORKFLOW_ID);
    }
});
</script>

<!-- Overlay -->
<tmpl_include name="/widgets/Overlay.tmpl">

<!-- SynMap3D Page Dynamics -->
<script type="text/javascript" src="js/pages/synmapn.js"></script>

<!-- SynMap3D Requirements -->
<script type="text/javascript" src="js/syn3d/three-77.min.js"></script>
<script type="text/javascript" src="js/syn3d/threex.domevent.js"></script>
<script type="text/javascript" src="js/syn3d/modified_FlatOrbitControls.js"></script>
<script type="text/javascript" src="js/syn3d/WebVR_modified.js"></script>
<script type="text/javascript" src="js/syn3d/VREffect_modified.js"></script>
<script type="text/javascript" src="js/vendor/d3/d3.min.js"></script>
<script type="text/javascript" src="js/vendor/d3-tip/index.js"></script>
<script type="text/javascript" src="js/vendor/lodash/dist/lodash.min.js"></script>

<!-- CoGe Utilities -->
<script type="text/javascript" src="js/coge/utils.js"></script>
<script type="text/javascript" src="js/coge/services.js"></script>
<script type="text/javascript" src="js/coge/progress.js"></script>
<script type="text/javascript" src="js/coge/wizard.js"></script>
<script type="text/javascript" src="js/coge/file-select.js"></script>
<script type="text/javascript" src="js/jquery.fileupload.js"></script>

</TMPL_IF> <!-- MAIN -->
