<TMPL_IF NAME='LOGIN'>
    <TMPL_INCLUDE NAME="widgets/Login.tmpl">
</TMPL_IF>

<TMPL_IF NAME='MAIN'>
<style type="text/css">
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.eot');
	src: url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.glyphicon-asterisk:before {
	content: "\2a";
}

.jstree li a ins { display:none !important; }
.jstree.jstree-focused { background:white; }

.contentBox {
    background-color: #F5F5F5;
    height: auto;
    border: 1px solid #119911;
    border-radius: 0px;
    margin: 0px;
    box-sizing: border-box;
    padding: .1em;
    position: relative;
}

.contentBox h3 {
    margin: 0;
    margin-top: .1em;
    margin-bottom: .2em;
}

#rendering {
    margin: 0px;
    padding: 0px;
    margin-left: 0.5%;
    float: left;
    width: 69%;
}

#right {
    margin-top: 0px;
    margin-bottom: 2px;
    margin-right: 0.5%;
    margin-left: 0;
    float: right;
    width: 29.5%;
}

#gene_info h5 {
    margin-top: .2em;
    margin-bottom: .05em;
}

.gene-info-display p {
    margin: 0em;
    margin-left: .6em;
    font-size: 0.875em;
}

</style>

<div id="analysis" style="display:none">
    <div id="rendering" class="contentBox">
        <canvas id="canvas"></canvas>
    </div>
    <div id="right">
        <div id="opts" class="contentBox">
            <h3>Visualization Options</h3>
            <div class="option_tag"><label for="color_select">Color Scheme:</label></div>
            <div class="option_select">
                <select id="color_select" disabled>
                    <option value="Jet" selected>Rainbow</option>
                    <option value="Bluered">Blue-Red</option>
                    <option value="Portland">Portland</option>
                    <option value="Viridis">Viridis</option>
                </select>
            </div>

            <div class="option_tag"><label for="knks_select">Color Points By:</label></div>
            <div class="option_select">
                <select id="knks_select" disabled>
                    <option value="Ks" selected="selected">Synonymouse Mutation (Ks)</option>
                    <option value="Kn">Non-Synonymous Mutation (Kn)</option>
                </select>
                <select id="comparison_select" disabled>
                    <option value="xy">XY</option>
                    <option value="xz">XZ</option>
                    <option value="yz">YZ</option>
                    <option value="mean" selected="selected">Mean</option>
                </select>
            </div><br>

            <div class="option_tag"><label for="grid_toggle">Toggle Grid:</label></div>
            <div class="option_select">
                <input type="checkbox" id="grid_toggle" checked>
            </div><br>

            <div class="option_tag"><label for="bgslider">Adjust Background Color:</label></div>
            <input class="option_select" id=bgslider type="range" min="1" value="1" max="10" step="1" autocomplete="on">
        </div>

        <div id="histogram"></div>

        <div id="gene_info" class="contentBox">
            <h3>Information</h3>

            <h5 style="color:red">X Axis:
                <span style="font-weight:lighter"><TMPL_VAR NAME='X_GENOME_NAME'></span>
            </h5>
            <div id="x-gene-display" class="gene-info-display" style="display:none"></div>

            <h5 style="color:blue">Y Axis:
                <span style="font-weight:lighter"><TMPL_VAR NAME='Y_GENOME_NAME'></span>
            </h5>
            <div id="y-gene-display" class="gene-info-display" style="display:none"></div>

            <h5 style="color:green">Z Axis:
                <span style="font-weight:lighter"><TMPL_VAR NAME='Z_GENOME_NAME'></span>
            </h5>
            <div id="z-gene-display" class="gene-info-display" style="display:none"></div>

            <div id="gevo_div" style="text-align:center; display:none">
                <input type="button" id="gevo_button" class="ui-button ui-corner-all" value="Compare in GEvo">
            </div>
        </div>

    </div><br>
    <div style="clear:both"></div>
</div><br>

<div id="wizard-container"></div>

<!-- Step Templates-->
<script id="genomes-template" type="text/template">
    <div class="step">

        <div class="form-field">
            <label class="col-md-2">X-Axis Genome:</label>
            <input class="col-md-6" id="edit_xgenome" type="search" placeholder="Search"
            	title="Enter the genome associated with the x-axis. Start typing to narrow down the list of genomes to choose from." spellcheck="false"
            	size="50" value="<TMPL_VAR NAME='X_GENOME_NAME'>"
            	style="float:left;" />
            <img id="edit_xgenome_busy" src="picts/ajax-loader.gif" style="float:left;" class="hidden" />
            <span style="color: red; font-size: 0.75em" class="col-md-2 glyphicon glyphicon-asterisk"></span>
        </div>

        <div class="form-field">
            <label class="col-md-2">Y-Axis Genome:</label>
            <input class="col-md-6" id="edit_ygenome" type="search" placeholder="Search"
            	title="Enter the genome associated with the y-axis. Start typing to narrow down the list of genomes to choose from." spellcheck="false"
            	size="50" value="<TMPL_VAR NAME='Y_GENOME_NAME'>"
            	style="float:left;" />
            <img id="edit_ygenome_busy" src="picts/ajax-loader.gif" style="float:left;" class="hidden" />
            <span style="color: red; font-size: 0.75em" class="col-md-2 glyphicon glyphicon-asterisk"></span>
        </div>

        <div class="form-field">
            <label class="col-md-2">Z-Axis Genome:</label>
            <input class="col-md-6" id="edit_zgenome" type="search" placeholder="Search"
            	title="Enter the genome associated with the z-axis. Start typing to narrow down the list of genomes to choose from." spellcheck="false"
            	size="50" value="<TMPL_VAR NAME='Z_GENOME_NAME'>"
            	style="float:left;" />
            <img id="edit_zgenome_busy" src="picts/ajax-loader.gif" style="float:left;" class="hidden" />
            <span style="color: red; font-size: 0.75em" class="col-md-2 glyphicon glyphicon-asterisk"></span>
        </div>

    </div>
</script>

<script id="options-layout-template" type="text/template">
	<div>
            <!--<div id="admin-options"></div>-->
	    <div id="general-options"></div>
	    <div id="advanced-options"></div>
	</div>
</script>

<script id="admin-options-template" type="text/template">
	<!--
	<div class="form-section">
	    <h4>Admin</h4>
	    <div class="form-field">
	    </div>
	</div>
	<hr>
	-->
</script>

<script id="general-options-template" type="text/template">
	<div class="form-section">
	    <h4>General Options</h4>

        <!-- Sort contigs by. -->
        <div class="form-field">
		<label class="col-md-2">Sort contigs by:</label>
		<select id="sortby" value="length">
            <option value="name">Name</option>
		    <option value="length">Length</option>
		</select>
	    </div>

        <!-- Minimum contig synteny. -->
        <div class="form-field">
            <label class="col-md-2">Minimum syntenic points per contig:</label>
            <input id="min_synteny" type="number" value="1">
	    </div>

        <!-- Minimum contig length. -->
	    <div class="form-field">
            <label class="col-md-2">Minimum contig length (bp):</label>
            <input id="min_length" type="number" value="10000">
	    </div>

        <!-- Mutation ratio options. -->
        <div class="form-field">
	        <label class="col-md-2">Limit by mutation ratio:</label>
	        <input id="enable_ratio" type="checkbox" style="float:left;margin-right:10px;">

	        <div id="ratio-container" class="form-group hidden">
		    	<div style="padding-left:3em">
                    <div>
                        <label>Mutation Ratio: </label>
                        <select id="ratio">
                            <option value="kn">Non-Synonymous (Kn)</option>
                            <option value="ks">Synonymous (Ks)</option>
                            <option value="knks">Kn/Ks</option>
                        </select>
					</div>
                    <div>
                        <label>Comparison: </label>
                        <select id="ratio_by">
                            <option value="xy">XY</option>
                            <option value="xz">XZ</option>
                            <option value="yz">YZ</option>
                            <option value="mean">mean</option>
                            <option value="median">median</option>
                        </select>
					</div>
		    		<div>
                        <label>Minimum log10(ratio): </label>
                        <input id="ratio_min" type="number" step="0.001" value="-1">
					</div>
					<div>
                        <label>Maximum log10(ratio): </label>
                        <input id="ratio_max" type="number" step="0.001" value="1">
					</div>
				</div>
			</div>
	    </div>

        <!-- Clustering options. -->
        <div class="form-field">
	        <label class="col-md-2">Limit by DBSCAN clustering:</label>
	        <input id="enable_cluster" type="checkbox" style="float:left;margin-right:10px;">

	        <div id="cluster-container" class="form-group hidden">
		    	<div style="padding-left:3em">
		    		<div>
                        <label>Maximum Neighborhood Distance(EPS): </label>
                        <input id="cluster_eps" type="number" step="0.01" value="0.50">
					</div>
					<div>
                        <label>Minimum Samples per Cluster: </label>
                        <input id="cluster_min" type="number" step="1" value="10">
					</div>
				</div>
			</div>
	    </div>

    </div>
	<hr>
</script>

<script id="advanced-options-template" type="text/template">
	<div class="form-section">
	    <h4>Experimental Options</h4>

	    <div class="form-field">
		<label class="col-md-2">Enable VR mode:</label>
		<input id="vr" type="checkbox" disabled>
        <span style="color: red; font-size: 0.75em; font-style: italic">Coming Soon!</span>
	   </div>
	</div>	
</script>


<script id="confirm-template" type="text/template">
    <div class="step info">
        <h3>Genomes</h3>
        <div class="confirm-description padded"></div>
        <h3>Options</h3>
        <div class="confirm-options padded"></div>
    </div>
</script>

<!-- Alignment Templates -->


<TMPL_INCLUDE NAME="widgets/Splash.tmpl">

<TMPL_INCLUDE NAME='widgets/pipeline-options.tmpl'> 

<TMPL_INCLUDE NAME="widgets/Progress.tmpl">

<TMPL_INCLUDE NAME="widgets/FileSelect.tmpl">

<TMPL_INCLUDE NAME="widgets/Wizard.tmpl">

<script type="text/javascript">
// Page constants
const API_BASE_URL  = '<TMPL_VAR NAME="API_BASE_URL">';
const PAGE_NAME     = '<TMPL_VAR NAME="PAGE_NAME">';
const SUPPORT_EMAIL = '<TMPL_VAR NAME="SUPPORT_EMAIL">';
const HELP_URL      = '<TMPL_VAR NAME="HELP_URL">';
const USER_NAME     = '<TMPL_VAR NAME="USER">';
const IS_ADMIN      = Boolean('<TMPL_VAR NAME="ADMIN_AREA">');

// Form options
const X_GENOME_ID   = '<TMPL_VAR NAME="X_GENOME_ID">';
const Y_GENOME_ID   = '<TMPL_VAR NAME="Y_GENOME_ID">';
const Z_GENOME_ID   = '<TMPL_VAR NAME="Z_GENOME_ID">';
const SORTBY  	    = '<TMPL_VAR NAME="SORTBY">';
const MIN_SYN       = '<TMPL_VAR NAME="MIN_SYN">';
const MIN_LEN       = '<TMPL_VAR NAME="MIN_LEN">';
const C_EPS         = '<TMPL_VAR NAME="C_EPS">';
const C_MIN         = '<TMPL_VAR NAME="C_MIN">';
const RATIO         = '<TMPL_VAR NAME="RATIO">';
const R_BY          = '<TMPL_VAR NAME="R_BY">';
const R_MIN         = '<TMPL_VAR NAME="R_MIN">';
const R_MAX         = '<TMPL_VAR NAME="R_MAX">';

const VR            = '<TMPL_VAR NAME="VR">';

var LOAD_ID = load_id = '<TMPL_VAR NAME="LOAD_ID">';
var WORKFLOW_ID       = '<TMPL_VAR NAME="WORKFLOW_ID">';
var EMBED 	      = '<TMPL_VAR NAME="EMBED">';

// File Select constants
const DEFAULT_TAB              = '<TMPL_VAR NAME="DEFAULT_TAB">';
const MAX_IRODS_LIST_FILES     = '<TMPL_VAR NAME="MAX_IRODS_LIST_FILES">';
const MAX_IRODS_TRANSFER_FILES = '<TMPL_VAR NAME="MAX_IRODS_TRANSFER_FILES">';
const MAX_FTP_FILES            = '<TMPL_VAR NAME="MAX_FTP_FILES">';
const FILE_SELECT_SINGLE       = '<TMPL_VAR NAME="FILE_SELECT_SINGLE">';

var newLoad = false;
var wizard;

$(function() {
	// Set jQuery AJAX defaults
    $.ajaxSetup({
        type: "GET",
        url: PAGE_NAME,
        dataType: "html",
        cache: false
    });

    // Configure dialogs
    $(".dialog_box").dialog({autoOpen: false, minWidth: 400});
    
    // Initialize wizard
    wizard = initialize_wizard({ 
    	admin: IS_ADMIN,
    	helpUrl: HELP_URL,
	    x_gid: X_GENOME_ID,
	    y_gid: Y_GENOME_ID,
	    z_gid: Z_GENOME_ID,
	    sortby: SORTBY,
        min_syn: MIN_SYN,
        min_len: MIN_LEN,
        c_eps: C_EPS,
        c_min: C_MIN,
        ratio: RATIO,
        r_by: R_BY,
        r_min: R_MIN,
        r_max: R_MAX,
	    vr: VR
    });

    // Initialize CoGe web services
    coge.services.init({
    	baseUrl: API_BASE_URL,
    	userName: USER_NAME
    });
    
    // Intialize progress window
    coge.progress.init({
    	title: "Loading Experiment",
    	baseUrl: API_BASE_URL,
    	userName: USER_NAME,
    	supportEmail: SUPPORT_EMAIL,
    	onReset: reset_launch
    });
    
    // Open status dialog
    if (WORKFLOW_ID) {
    	coge.progress.begin();
    	coge.progress.update(WORKFLOW_ID);
    }
});
</script>

<!-- SynMap3D Page Dynamics -->
<script type="text/javascript" src="js/pages/synmap-3d.js"></script>

<!-- SynMap3D Requirements -->
<script type="text/javascript" src="js/syn3d/three.min.js"></script>
<script type="text/javascript" src="js/syn3d/threex.domevent.js"></script>
<script type="text/javascript" src="js/syn3d/modified_FlatOrbitControls.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script type="text/javascript" src="js/plotly-latest.min.js"></script>

<!-- CoGe Utilities -->
<script type="text/javascript" src="js/coge/utils.js"></script>
<script type="text/javascript" src="js/coge/services.js"></script>
<script type="text/javascript" src="js/coge/progress.js"></script>
<script type="text/javascript" src="js/coge/wizard.js"></script>
<script type="text/javascript" src="js/coge/file-select.js"></script>
<script type="text/javascript" src="js/jquery.fileupload.js"></script>

</TMPL_IF> <!-- MAIN -->
