<TMPL_IF NAME="MAIN">

<link rel="stylesheet" href="css/dataTables.css" type="text/css"/>

<div id="add_to_notebook_dialog" class="dialog_box hidden" title="Add Items to Notebook">
	<table class="small">
		<tr align='left'>
			<td>
				<br>
				<div style="float:right;">
					Search: <input type="textbox" size="49" id="notebook_search_input" onkeyup="wait_to_search(search_notebooks, this.value);" />
					<span class='coge-button' onclick="search_notebooks();"><span class="ui-icon ui-icon-arrowrefresh-1-w"></span></span>
					<img id="wait_notebook" src="picts/ajax-loader.gif" style="opacity: 0;" />
				</div>
				<div style="float:left;font-weight:bold;">Notebooks</div>
			</td>
		</tr>
		<tr>
			<td colspan='2'>
				<select id="notebook_select" size="10" style="width:450px;">
				</select>
			</td>
		</tr>
	</table>
	<br>
	<span href="javascript:void(0)" onClick="add_items_to_notebook();" class='coge-button r'>Add Items</span>
</div>

<div id="create_group_dialog" class="dialog_box hidden" title="Create New Group">
	<table class="small">
		<tr>
			<td colspan="2" style="padding-bottom: 10px;">
				<span style="color: red;">
				<span class="glyphicon glyphicon-asterisk"></span> denotes a required field</span>
			</td>
		</tr>
		<tr>
			<td>Name:</td>
			<td class="nowrap"><input id="edit_group_name" type="textbox" size="48" value="" />&nbsp;&nbsp;<span class="glyphicon glyphicon-asterisk" style="color: red;"></span></td>
		</tr>
		<tr>
			<td>Description:</td>
			<td><textarea id="edit_group_desc" rows="5" cols="50"></textarea></td>
		</tr>
		<tr>
			<td>Role:</td>
			<td>
				<select id="edit_group_role" style="max-width:265px;">
					<TMPL_VAR NAME="ROLES">
				</select>
			</td>
		</tr>
	</table><br>
	<div onClick="create_new_group();" class="r coge-button">Create Group</div>
</div>

<div id="create_notebook_dialog" class="dialog_box hidden" title="Create New Notebook">
	<table class="small">
		<tr>
            <td colspan="2" style="padding-bottom: 10px;">
                <span style="color: red;"><span class="glyphicon glyphicon-asterisk"></span> denotes a required field</span>
            </td>
        </tr>
		<tr>
			<td>Name:</td>
			<td class="nowrap"><input id="edit_notebook_name" type="textbox" size="48" value="" />&nbsp;&nbsp;<span style="color: red;" class="glyphicon glyphicon-asterisk"></span></td>
		</tr>
		<tr>
			<td>Description:</td>
			<td><textarea id="edit_notebook_desc" rows="5" cols="50"></textarea></td>
		</tr>
		<tr>
			<td>Type:</td>
			<td>
				<select id="edit_notebook_type" style="max-width:265px;">
					<TMPL_VAR NAME="NOTEBOOK_TYPES">
				</select>
			</td>
		</tr>
	</table>
	<br>
	<div onClick="create_new_notebook();" class="r coge-button">Create Notebook</div>
</div>

<div id="upload_metadata_dialog" class="dialog_box hidden" title="Upload Metadata">
	<table class="small padded">
		<tr>
			<td colspan="2" style="padding-bottom: 10px;">
				<br>Select the tab delimited file containing the metadata. The first row must contain the names for the columns. The first column of the following rows must contain a comma delimited list of IDs indicating to which object(s) (experiment, genome or notebook) the metadata for that row will be added.<br><br>
			</td>
		</tr>
		<tr>
			<td class="center"><input id="metadata_file" name="metadata_file" type="file" required/><br><br></td>
		</tr>
	</table>
</div>

<div id="share_dialog" class="dialog_box hidden" title="Share Items"></div>

<div id="group_dialog" class="dialog_box hidden" title="Edit Group"></div>

<div id="cancel_dialog" class="dialog_box hidden" title="Cancel analysis">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Are you sure you want to cancel this analysis?</p>
</div>

<div id="comment_dialog" class="dialog_box hidden" title="Add comment to analysis">
	<p>Comment:<br><input type='text' size="45" maxlength="255" spellcheck="false"/></p>
</div>


<script type="text/javascript" src="./js/jquery.fileupload.js"></script>

<style>
div.deleted { display: none; }
</style>

<!--
<div id="top_panel">
	<div style="width:100%;float:left;border-bottom:1px solid lightgray;">
		<span id="hide_panel_button" onClick="hide_top_panel();" class="link ui-icon ui-icon-minus" style="float:right;margin-left:20px;margin-right:5px;border:1px solid lightgray;"></span>

		<table style="float:left;white-space:nowrap;text-align:center;padding-right:15px;">
			<tr><td>
				<img id='user_image' src="<TMPL_VAR NAME='USER_IMAGE'>" width='55' height='55' class="link" style="padding:1px;border:1px solid lightgray;" onclick="select_image_file();" />
			</td></tr>
			<tr><td>
				<input id="input_upload_file" name="input_upload_file" type="file" data-url='<TMPL_VAR NAME="PAGE_NAME">' class="hidden" />
			</td></tr>
		</table>

		<div style="float:left;color:gray;padding-top:5px;">
			<div><b><TMPL_VAR NAME='FULL_NAME'></b></div>
			<div class="small">username <i><TMPL_VAR NAME='USER_NAME'></i>, id<TMPL_VAR NAME='USER_ID'></div>
			<div class="small"><TMPL_VAR NAME='EMAIL'></div>
		</div>
	</div>
	<div style="clear:both;height:13px;"></div>
</div>
-->

<div id="bottom-panel" style="width:100%;">
	<div style="float:right;width:225px;">
		<span id="show_panel_button" onClick="show_top_panel();" class="link ui-icon ui-icon-plus hidden" style="float:right;margin-right:5px;border:1px solid lightgray;"></span>

		<div id="info_panel" class="small panel" style="overflow:auto;margin-left:10px;margin-top:29px;border-top:1px solid lightgray;color:gray;">
		</div>
	</div>

	<div style="float:left;float:left;margin-right:5px;">
	    <div id="create_button" class='coge-button' style="font-size:1em;padding-top:.6em;padding-bottom:.6em;width:6em;" onclick="create_menu();">NEW</div>
	    <div id="toc_panel" class="small panel noselect hidden" style="overflow:auto;padding-top:1em;width:10em;cursor:pointer;">
			<ul>
				<li><span data-type="mine">My Data</span>
					<ul>
						<li><span data-type="genome"><img src="picts/dna-icon.png" width="15" height="15"/> Genomes</span></li>
						<li><span data-type="experiment"><img src="picts/testtube-icon.png" width="15" height="15"/> Experiments</span></li>
						<li><span data-type="notebook"><img src="picts/notebook-icon.png" width="15" height="15"/> Notebooks</span></li>
					</ul>
				</li>
				<li><span data-type="shared">Shared with me</span></li>
				<li><span data-type="favorite">Favorites</span></li>
				<li><span data-type="metadata">Metadata</span></li>
				<li><span data-type="group">User Groups</span></li>
				<li><span data-type="activity">Activity</span>
					<ul>
						<li><span data-type="analyses">Analyses</span></li>
						<li><span data-type="loads">Data loading</span></li>
						<!--<li><span data-type="graph">Graph</span></li>-->
					</ul>
				</li>
				<li><span data-type="trash">Trash</span></li>
			</ul>
		</div>
		<ul id="create_menu" class="coge-dropdown-menu hidden">
			<li><a onclick="create_group_dialog();"><img src="picts/group-icon.png" width="15" height="15"/> New User Group</a></li>
			<li><a onclick="create_notebook_dialog();"><img src="picts/notebook-icon.png" width="15" height="15"/> New Notebook</a></li>
			<li><a onclick="open_item(-1, 'Create New Genome', 'LoadGenome.pl?');"><img src="picts/dna-icon.png" width="15" height="15"/> New Genome</a></li>
			<li><a onclick="open_item(-1, 'Create New Experiment', 'LoadExperiment.pl?');"><img src="picts/testtube-icon.png" width="15" height="15"/> New Experiment</a></li>
		</ul>
	</div>

	<div class="noselect" style="height:24px">
		<span id="contents_title" style="float:left;min-width:130px;font-weight:bold;margin-right:20px;"></span>
		<span id="add_button" onClick="add_dialog();" class="add coge-icon glyphicon glyphicon-plus item-button invisible" style="margin-right:5px;" title="Create New Item"></span>
		<span id="share_button" onClick="share_dialog();" class="share coge-icon coge-disabled glyphicon glyphicon-user item-button invisible" style="margin-right:5px;" title="Share Selected Items"></span>
		<span id="notebook_button" onClick="add_to_notebook_dialog();" class="organize coge-icon coge-disabled glyphicon glyphicon-folder-open item-button invisible" style="margin-right:5px;" title="Add Selected Items to Notebook"></span>
		<span id="edit_button" onClick="edit_dialog();" class="edit coge-icon coge-disabled glyphicon glyphicon-cog item-button invisible" style="margin-right:5px;" title="Edit Selected Items"></span>
		<span id="favorite_button" onClick="favorite_items();" class="favorite coge-icon coge-disabled glyphicon glyphicon-star item-button invisible" style="margin-right:5px;" title="Favorite Selected Items"></span>
		<span id="delete_button" onClick="delete_items();" class="delete coge-icon coge-disabled glyphicon glyphicon-trash item-button invisible" style="margin-right:5px;" title="Delete Selected Items"></span>
		<span id="send_button" onClick="send_menu();" class="sendto coge-icon coge-disabled glyphicon glyphicon-arrow-right item-button invisible" style="margin-right:5px;" title="Send Selected Items to ..."></span>
		<span id="undelete_button" onClick="undelete_items();" class="undelete coge-icon coge-disabled glyphicon glyphicon-asterisk item-button invisible" style="margin-right:5px;" title="Undelete Selected Items"></span>
		<ul id="send_menu" class="coge-dropdown-menu hidden">
			<li><a onclick="send_items_to('CoGeBlast', 2);">CoGeBlast</a></li>
			<li><a onclick="send_items_to('SynMap', 1);">SynMap</a></li>
			<li><a onclick="send_items_to('SynMap3D', 1);">SynMap3D</a></li>
			<li><a onclick="send_items_to('SynFind');">SynFind</a></li>
			<li><a onclick="send_items_to('GEvo', 1);">GEvo</a></li>
		</ul>
		<input id="search_input" type="search" placeholder="Search" size="25" style="float:right;margin-right:15px;vertical-align:top;border:1px solid lightgray;" />
		<span id="refresh_label" class="xsmall hidden info" style="float:right;padding-right:25px;">Refreshing...</span>
	</div>

	<div id="contents_panel" class="small panel">
		<div class="grid hidden noselect" style="overflow:auto;border-top:1px solid lightgray;border-bottom:none !important;"></div>
		<div class="html hidden" style="overflow:auto;border-top:1px solid lightgray;border-bottom:none !important;"></div>
	</div>
</div>

<script type="text/javascript">
//const ITEM_TYPE = <TMPL_VAR NAME="ITEM_TYPE">;
//const ITEM_TYPE = {
//	all: 				'<TMPL_VAR NAME="ITEM_TYPE.ALL">',
//	mine: 				'<TMPL_VAR NAME="ITEM_TYPE.MINE">',
//	shared: 			'<TMPL_VAR NAME="ITEM_TYPE.SHARED">',
//	activity_summary:	'<TMPL_VAR NAME="ITEM_TYPE.ACTIVITY_SUMMARY">',
//	trash: 				'<TMPL_VAR NAME="ITEM_TYPE.TRASH">',
//	activity_viz: 		'<TMPL_VAR NAME="ITEM_TYPE.ACTIVITY_VIZ">',
//	activity_analyses: 	'<TMPL_VAR NAME="ITEM_TYPE.ACTIVITY_ANALYSES">',
//	activity_loads: 	'<TMPL_VAR NAME="ITEM_TYPE.ACTIVITY_LOADS">',
//	user: 				'<TMPL_VAR NAME="ITEM_TYPE.USER">',
//	group: 				'<TMPL_VAR NAME="ITEM_TYPE.GROUP">',
//	notebook: 			'<TMPL_VAR NAME="ITEM_TYPE.NOTEBOOK">',
//	genome: 			'<TMPL_VAR NAME="ITEM_TYPE.GENOME">',
//	experiment: 		'<TMPL_VAR NAME="ITEM_TYPE.EXPERIMENT">',
//	metadata: 			'<TMPL_VAR NAME="ITEM_TYPE.METADATA">'
//};
const PAGE_NAME = '<TMPL_VAR NAME="PAGE_NAME">';
const USER_ID = '<TMPL_VAR NAME="USER_ID">';
</script>

<script type="text/javascript" src="js/pages/user.js"></script>
<script type="text/javascript" src="js/coge/utils.js"></script>
<script type="text/javascript" src="js/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/vendor/moment/moment.js"></script>
<script type="text/javascript" src="js/vendor/moment-timezone-data/index.js"></script>

</TMPL_IF> <!-- MAIN -->

<TMPL_IF NAME='SHARE_DIALOG'>
	<script>
	$(function(){
		$("#share_input").autocomplete({
			source: [],
			focus: function() { return false; },
			select:
		    	function(event, ui) {
		    		$("#share_input")
		    			.val( ui.item.label )
		    			.data('select_id', ui.item.value);
		    		if (ui.item.value.split(':')[1] == 'user') { //ITEM_TYPE.user) {
		    			$('#share_role_select').show();
		    		}
		    		else {
		    			$('#share_role_select').hide();
		    		}
		    		return false;
		    	},
		});
	});
	</script>
	<div style="margin:20px;margin-left:5px;">
		<span class="small" style="font-weight:bold;color:dimgray;">Who Has Access</span>
		<div class="small" style="overflow:auto;max-height:120px;padding-left:30px;padding-bottom:10px;border-top:1px solid lightgray;">
			<div style="padding-top:10px;">
				<TMPL_LOOP NAME="USER_LOOP">
					<div>
						<img src="picts/user-icon.png" width="11" height="11"/>
						<span style="color:dimgray;"><TMPL_VAR NAME="USER_FULL_NAME"> (<TMPL_VAR NAME="USER_NAME">) - <TMPL_VAR NAME="USER_ROLE"><span>
						<TMPL_IF NAME="USER_DELETE">
							<span onClick="$(this.parentNode).fadeOut('slow'); remove_items_from_user_or_group('<TMPL_VAR NAME=USER_ITEM>');" class="link ui-icon ui-icon-close"></span>
						</TMPL_IF>
						<br>
					</div>
				</TMPL_LOOP>
				<TMPL_LOOP NAME="GROUP_LOOP">
					<div>
						<img src="picts/group-icon.png" width="11" height="11"/>
						<span style="color:dimgray;"><TMPL_VAR NAME="GROUP_NAME"> (group) - <TMPL_VAR NAME="GROUP_ROLE"></span>
						<TMPL_IF NAME="GROUP_DELETE">
							<span onClick="$(this.parentNode).fadeOut('slow'); remove_items_from_user_or_group('<TMPL_VAR NAME=GROUP_ITEM>');" class="link ui-icon ui-icon-close"></span>
						</TMPL_IF>
						<br>
						<TMPL_LOOP NAME="GROUP_USER_LOOP">
							<span style="color:dimgray;padding:5px;padding-left:20px;">
							<img src="picts/user-icon.png" width="11" height="11"/>
							<TMPL_VAR NAME="GROUP_USER_FULL_NAME"> (<TMPL_VAR NAME="GROUP_USER_NAME">)<span><br>
						</TMPL_LOOP>
					</div>
				</TMPL_LOOP>
				<TMPL_LOOP NAME="NOTEBOOK_LOOP">
					<div>
						<img src="picts/notebook-icon.png" width="11" height="11"/>
						<span style="color:dimgray;"><TMPL_VAR NAME="NOTEBOOK_NAME"> (notebook)</span>
						<br>
						<TMPL_LOOP NAME="NOTEBOOK_USER_LOOP">
							<span style="color:dimgray;padding:5px;padding-left:20px;">
							<img src="picts/user-icon.png" width="11" height="11"/>
							<TMPL_VAR NAME="NOTEBOOK_USER_FULL_NAME"> (<TMPL_VAR NAME="NOTEBOOK_USER_NAME">)<span><br>
						</TMPL_LOOP>
					</div>
				</TMPL_LOOP>
				<TMPL_IF NAME="ACCESS_MSG">
					<div style="color:dimgray;font-style:italic;">
						<TMPL_VAR NAME="ACCESS_MSG">
						<span onClick="$(this.parentNode).fadeOut('slow'); make_items_public(0);" class="link ui-icon ui-icon-close"></span>
					</div>
				</TMPL_IF>
			</div>
		</div>
		<br>
		<span class="small" style="font-weight:bold;color:dimgray;">Add Access</span>
		<div class="small" style="padding:20px;padding-left:30px;border-top:1px solid lightgray;">
			<TMPL_IF NAME="IS_EDITABLE">
				<span style="color:dimgray">Enter user or group names:</span><br>
				<input id="share_input" type="search" maxlength="40" spellcheck="false" style="width:18em;border:1px solid lightgray;" onclick='$(this).autocomplete("search");' onkeyup="wait_to_search(search_share, this.value);" />
				<select id="share_role_select" class="hidden"><TMPL_VAR NAME="ROLES"></select>&nbsp;
				<span href="javascript:void(0)" onClick="add_items_to_user_or_group();" class='coge-button'>Add</span>
				<TMPL_IF NAME="IS_RESTRICTED">
					<div style="padding-top:1.25em;">
						<div class="info">Or make available to everyone:</div>
						<span onClick="make_items_public();" class='coge-button' style='margin-top:5px;'>Make Public</span>
					</div>
				</TMPL_IF>
			<TMPL_ELSE>
				<span style="color:dimgray">
					You don't have permission to modify the selected item(s).
				</span>
			</TMPL_IF>
		</div>
	</div>
</TMPL_IF>

<TMPL_IF NAME='GROUP_DIALOG'>
<script>
$(function(){
	$("#group_input")
		.autocomplete({
			source: [],
			focus: function() { return false; },
			select:
		    	function(event, ui) {
		    		$("#group_input")
		    			.val( ui.item.label )
		    			.data('select_id', ui.item.value);
		    		return false;
		    	},
		});
	$("#group_input").focus(); // why no work!?
});
</script>
<div style="margin:20px;margin-left:5px;">
	<div style="padding-bottom:10px;">
		<span class="small" style="font-weight:bold;color:dimgray;">Group Role:</span>
		<select id="group_role_select" onchange="change_group_role();"><TMPL_VAR NAME="ROLES"></select>
	</div>
	<br>
	<span class="small" style="font-weight:bold;color:dimgray;">Group Members</span>
	<div class="small" style="overflow:auto;max-height:120px;padding-left:30px;padding-bottom:10px;border-top:1px solid lightgray;">
		<div style="padding-top:10px;">
			<TMPL_LOOP NAME="USER_LOOP">
				<div>
					<img src="picts/user-icon.png" width="11" height="11"/>
					<span style="color:dimgray;"><TMPL_VAR NAME="USER_FULL_NAME"> (<TMPL_VAR NAME="USER_NAME">) <TMPL_VAR NAME="USER_ROLE"><span>
					<TMPL_IF NAME="USER_DELETE">
						<span onClick="$(this.parentNode).fadeOut('slow'); remove_user_from_group('<TMPL_VAR NAME=USER_ITEM>');" class="link ui-icon ui-icon-close"></span>
					</TMPL_IF>
					<br>
				</div>
			</TMPL_LOOP>
			<TMPL_IF NAME="ACCESS_MSG">
				<div style="color:dimgray;font-style:italic;">
					<TMPL_VAR NAME="ACCESS_MSG">
				</div>
			</TMPL_IF>
		</div>
	</div>
	<br>
	<span class="small" style="font-weight:bold;color:dimgray;">Add Member</span>
	<div class="small border-top" style="padding:20px;padding-left:30px;">
		<TMPL_IF NAME="IS_EDITABLE">
			<span style="color:dimgray">Enter names or groups:</span><br>
			<input id="group_input" type="search" maxlength="40" spellcheck="false" style="width:270px;border:1px solid lightgray;" onclick='$(this).autocomplete("search");' onkeyup="wait_to_search(search_group, this.value);" />
			<span href="javascript:void(0)" onClick="add_users_to_group();" class='coge-button coge-button-sm'>Add</span>
		<TMPL_ELSE>
			<span style="color:dimgray">
				You don't have permission to modify this group.
			</span>
		</TMPL_IF>
	</div>
</div>
</TMPL_IF>

<TMPL_IF NAME='ERROR_DIALOG'>
<div class="small" align='center'>
	<br>
	<TMPL_VAR NAME='ERROR_MESSAGE'>
	<br>
	<br>
	<span style="font-size:.75em;" class='coge-button' onClick="$(this.parentNode.parentNode).dialog('close');">&nbsp&nbsp;OK&nbsp&nbsp;</span>
</div>
</TMPL_IF>

<TMPL_IF NAME='ACTIVITY_SUMMARY'>
	<br>
	<TMPL_IF NAME='NUM_ANALYSES'>
		<div>
			<div class="bold text">Total analyses run: <TMPL_VAR NAME="NUM_ANALYSES"></div><br>
			<table class="text indent">
				<tr>
					<td class="right">CoGeBlast</td>
					<td class="indent"><TMPL_VAR NAME="NUM_COGEBLAST"></td>
				</tr>
				<tr>
					<td class="right">GEvo</td>
					<td class="indent"><TMPL_VAR NAME="NUM_GEVO"></td>
				</tr>
				<tr>
					<td class="right">SynFind</td>
					<td class="indent"><TMPL_VAR NAME="NUM_SYNFIND"></td>
				</tr>
				<tr>
					<td class="right">SynMap</td>
					<td class="indent"><TMPL_VAR NAME="NUM_SYNMAP"></td>
				</tr>
			</table>
		</div>
	<TMPL_ELSE>
		<div class='padded'>You haven't run any analyses yet.</div>
	</TMPL_IF>
	<br>
</TMPL_IF>

<TMPL_IF NAME='LOGIN'>
	<TMPL_INCLUDE NAME="widgets/Login.tmpl">
</TMPL_IF>

<TMPL_IF NAME='METADATA'>
	<br>
	<table style="table-layout:fixed;width:100%;">
		<tr>
			<td id="experiment_metadata" style="vertical-align:top">
				<div>
					<div class="bold text padded">Experiments</div>
					<span onclick="upload_metadata_dialog('Experiment');" class="coge-button">Upload</span>
				</div>
				<br>
			</td>
			<td id="genome_metadata" style="vertical-align:top">
				<div>
					<div class="bold text padded">Genomes</div>
					<span onclick="upload_metadata_dialog('Genome');" class="coge-button">Upload</span>
				</div>
				<br>
			</td>
			<td id="notebook_metadata" style="vertical-align:top">
				<div>
					<div class="bold text padded">Notebooks</div>
					<span onclick="upload_metadata_dialog('Notebook');" class="coge-button">Upload</span>
				</div>
				<br>
			</td>
		</tr>
	</table>
	<br>
	<script>
		let experiment_stats = <TMPL_VAR NAME="EXPERIMENT_METADATA_STATS">;
		let genome_stats = <TMPL_VAR NAME="GENOME_METADATA_STATS">;
		let notebook_stats = <TMPL_VAR NAME="NOTEBOOK_METADATA_STATS">;
		function build_table(type, div, rows) {
			if (!rows)
				return;
			let table = $('<table class="border-top border-bottom"></table>').appendTo(div);
			let odd_even = 1;
			rows.forEach(function(row){
				$('<tr></tr>')
					.addClass(odd_even ? 'odd' : 'even')
					.css('cursor', 'pointer')
					.click(function(){
						search_metadata(type, encodeURIComponent(row[0]));
					})
					.appendTo(table)
					.append($('<td class="title5" style="padding-right:10px;white-space:nowrap;">' + row[0] + '</td>'))
					.append($('<td class="data5">' + row[1] + '</td>'));
				odd_even ^= 1;
			});
		}
		build_table('experiment', $('#experiment_metadata'), experiment_stats);
		build_table('genome', $('#genome_metadata'), genome_stats);
		build_table('notebook', $('#notebook_metadata'), notebook_stats);
	</script>
</TMPL_IF>
