<TMPL_INCLUDE NAME="header.tmpl">
<script>
jQuery(document).ready(function(){
    // Initialize fileupload plugin
    $('#input_upload_file').fileupload({
        dataType: 'json',
        type: "GET",
        url: "User.pl",
        cache: false,
        formData: {
            fname: 'upload_image_file',
        },
        add: function(e, data) {
            if ( verify_image_file(data.files[0]) ) {
                $('#user_image').attr('src', 'picts/ajax-loader-large.gif');
                data.submit();
            }
        },
        done: function(e, data) {
            if (data.result && data.result.link) {
                $('#user_image').attr('src', data.result.link);
                $('#account_image').attr('src', data.result.link);
                $('#big_image').attr('src', data.result.link);
            }
        }
    });
});

function select_image_file() {
    $('#input_upload_file').click();
}

function verify_image_file(file) {
    var ext = file.name.split('.').pop();
    if (ext != 'jpg' && ext != 'jpeg' && ext != 'gif' && ext != 'png') {
        alert('Error: specified file is not an image');
        return 0;
    }

    if (file.size > 2*1024*1024) {
        alert('Error: image file is too large (>2MB)');
        return 0;
    }

    return 1;
}
</script>
<table align="center" style="margin-top:20px;"><tr><td>
<div style="display:inline-block;margin-right:20px;vertical-align:top;">
    <img src="image.pl?id=<TMPL_VAR NAME="IMAGE">" class="coge-user-image" style="min-width:230px;min-height:230px;" id="big_image" onerror="if (this.src != 'picts/default_user_image.png') this.src = 'picts/default_user_image.png';"\>
</div>
<div style="display:inline-block;vertical-align:top;">
<div class="bold text">Account Info</div>
<table class="border-top border-bottom" style="border-spacing:10px;">
    <tr>
        <td class="title5">name</td>
        <td class="data5"><TMPL_VAR NAME="USER"></td>
    </tr>
    <tr>
        <td class="title5">username</td>
        <td class="data5"><TMPL_VAR NAME="USERNAME"></td>
    </tr>
    <tr>
        <td class="title5">email</td>
        <td class="data5"><TMPL_VAR NAME="EMAIL"></td>
    </tr>
    <tr>
        <td class="title5">image</td>
        <td class="data5">
            <img src="image.pl?id=<TMPL_VAR NAME="IMAGE">" class="coge-user-image" style="vertical-align:middle;" id="account_image" onerror="if (this.src != 'picts/default_user_image.png') this.src = 'picts/default_user_image.png';"\>
            <button onclick="select_image_file();">replace</button>
            <input id="input_upload_file" name="input_upload_file" type="file" data-url='User.pl' class="hidden" />
        </td>
    </tr>
    <tr>
        <td class="title5">date added</td>
        <td class="data5"><TMPL_VAR NAME="DATE"></td>
    </tr>
    <tr>
        <td class="title5">description</td>
        <td class="data5"><TMPL_VAR NAME="DESCRIPTION"></td>
    </tr>
</table>
</div>
</div>
</td></tr></table>
<TMPL_INCLUDE NAME="footer.tmpl">
