<tmpl_if name="ADMIN_ONLY">
        YOU ARE NOT AN ADMIN!
</tmpl_if>

<TMPL_IF NAME='MAIN'>
<script type="text/javascript" src="js/coge/utils.js"></script>
<!--<script src="js/coge/colors.js"</script>-->
<!--<script lanaguage="javascript" type="text/javascript" src="./js/admin.js"></script>-->
<SCRIPT type="text/javascript" src="./js/jquery.fileupload.js"></SCRIPT>
<SCRIPT type="text/javascript" src="./js/jstree/jquery.jstree.js"></SCRIPT>

<style type="text/css">

@font-face {
        font-family: 'Glyphicons Halflings';
        src: url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.eot');
	src: url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');}

.glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

.glyphicon-asterisk:before {
        content: "\2a";
}

.jstree li a ins { display:none !important; }
.jstree.jstree-focused { background:white; }
</style>

<script>
var timestamps = new Array();

function search_stuff (search_term) {
	if(search_term.length > 2) {
	//if(search_term[0].search_term.length > 2) {
		//console.log("Submit");
		//for(var i = 0; i < search_term.length; i++) {
			//console.log(search_term[i]);
		//}

        	timestamps['search_stuff'] = new Date().getTime();
        	$.ajax({
			//type: "POST",
			//dataType: "json",
			//contentType: "application/json; charset=utf8",
        		data: {
                        	fname: 'search_stuff',
                        	search_term: search_term,
                        	timestamp: timestamps['search_stuff']
                        },
                        success : function(data) {
                                //console.log(data);
                                var obj = jQuery.parseJSON(data);
				//console.log(obj.items[0].type);

				var userCounter = 0, orgCounter = 0, genCounter = 0, expCounter = 0, noteCounter = 0, usrgroupCounter = 0;
				var userList = "", orgList = "", genList = "", expList = "", noteList = "", usrgroupList = "";

				for (var i = 0; i < obj.items.length; i++) {

					if (obj && obj.items && obj.timestamp == timestamps['search_stuff']) {

		                                if (obj.items[i].type == "user") {
	                                	        userList = userList + "<tr><td><span>" + (obj.items[i].label) + " (ID: " + (obj.items[i].id) + ")</span></td></tr>";
	                                        	userCounter++;
		              	                }

						if (obj.items[i].type == "organism") {
                                           		orgList = orgList + "<tr><td><span>" + (obj.items[i].label) + " (ID: " + (obj.items[i].id) + ")"  + "</span></td></tr>";
                                           		orgCounter++;
						}

						if (obj.items[i].type == "genome") {
							genList = genList + "<tr><td><span>" + (obj.items[i].label) + " <a href=\"GenomeInfo.pl?gid=" + (obj.items[i].id) + "\">Info</a></span></td></tr>"
							genCounter++;
						}

						if (obj.items[i].type == "experiment") {
                                                        expList = expList + "<tr><td><span>" + (obj.items[i].label) + " (ID: " + (obj.items[i].id) + ")</span></td></tr>";
                                                        expCounter++;
                                                }

						if (obj.items[i].type == "notebook") {
                                                        noteList = noteList + "<tr><td><span>" + (obj.items[i].label) + " (ID: " + (obj.items[i].id) + ")</span></td></tr>";
                                                        noteCounter++;
                                                }
						
						if (obj.items[i].type == "user_group") {
                                                        usrgroupList = usrgroupList + "<tr><td><span>" + (obj.items[i].label) + " (ID: " + (obj.items[i].id) + ")</span></td></tr>";
                                                        usrgroupCounter++;
                                                }
					}
				}

				//Populate the html with the results
				$(".result").fadeIn( 'slow');

				//user
                                $('#userCount').html("Users: " + userCounter);
				$('#userList').html(userList);
				if(userCounter <= 10) {
                                        $( "#userList" ).show();
					$( "#userArrow" ).find('img').toggle();
                                }

				//organism
				$('#orgCount').html("Organisms: " + orgCounter);
                                $('#orgList').html(orgList);
				if(orgCounter <= 10) {
                                        $( "#orgList" ).show();
					$( "#orgArrow" ).find('img').toggle();
                                }

				//genome
				$('#genCount').html("Genomes: " + genCounter);
                                $('#genList').html(genList);
				if(genCounter <= 10) {
                                        $( "#genList" ).show();
					$( "#genArrow" ).find('img').toggle();
                                }

				//experiment
				$('#expCount').html("Experiments: " + expCounter);
                                $('#expList').html(expList);
				if(expCounter <= 10) {
                                        $( "#expList" ).show();
					$( "#expArrow" ).find('img').toggle();
                                }

				//notebook
				$('#noteCount').html("Notebooks: " + noteCounter);
                                $('#noteList').html(noteList);
				if(noteCounter <= 10) {
                                        $( "#noteList" ).show();
					$( "#noteArrow" ).find('img').toggle();
                                }

				//user group
				$('#usrgroupCount').html("User Groups: " + usrgroupCounter);
                                $('#usrgroupList').html(usrgroupList);
				if(usrgroupCounter <= 10) {
                                        $( "#usrgroupList" ).show();
					$( "#usrGArrow" ).find('img').toggle();
                                }

                       	},
                });
	}
}

function show_table(id) {
	$(id).fadeToggle('fast');	
}

function toggle_arrow(id) {
	$(id).find('img').toggle();
}


function update_dialog(request, user, identifier, formatter) {
    var get_status = function () {
        $.ajax({
            type: 'GET',
            url: request,
            dataType: 'json',
            data: {
                username: user
            },
            success: update_callback,
            error: update_callback,
            xhrFields: {
                withCredentials: true
            }
        });
    };

    var update_callback = function(json) {
        var dialog = $(identifier);
        var workflow_status = $("<p></p>");
        var data = $("<ul></ul>");
        var results = [];
        var current_status;
        var timeout = 2000;

        var callback = function() {
            update_dialog(request, user, identifier, formatter);
        }

        if (json.error) {
            pageObj.error++;
            if (pageObj.error > 3) {
                workflow_status.html('<span class=\"alert\">The job engine has failed.</span>');
                load_failed();
                return;
            }
        } else {
            pageObj.error = 0;
        }

        if (json.status) {
            current_status = json.status.toLowerCase();
            workflow_status.html("Workflow status: ");
            workflow_status.append($('<span></span>').html(json.status));
            workflow_status.addClass('bold');
        } else {
            setTimeout(callback, timeout);
            return;
        }

        if (json.tasks) {
            var jobs = json.tasks;
            for (var index = 0; index < jobs.length; index++) {
                var item = formatter(jobs[index]);
                if (item) {
                    results.push(item);
                }
            }
        }

        if (!dialog.dialog('isOpen')) {
            return;
        }

        //FIXME Update when a workflow supports elapsed time
        if (current_status == "completed") {
            var total = json.tasks.reduce(function(a, b) {
                if (!b.elapsed) return a;

                return a + b.elapsed;
            }, 0);

            var duration = coge.utils.toPrettyDuration(total);

            workflow_status.append("<br>Finished in " + duration);
            workflow_status.find('span').addClass('completed');
            get_load_log(function(result) {
                load_succeeded(result);
            });

        }
        else if (current_status == "failed"
                || current_status == "error"
                || current_status == "terminated"
                || current_status == "cancelled")
        {
            workflow_status.find('span').addClass('alert');
            get_load_log(function(result) {
                load_failed(result);
            });
        }
        else if (current_status == "notfound") {
            setTimeout(callback, timeout);
            return;
        }
        else {
            workflow_status.find('span').addClass('running');
            setTimeout(callback, timeout);
        }

        results.push(workflow_status);
        data.append(results);
        dialog.find('#load_log').html(data);
    };

    get_status();
}

function wait_to_search (search_func, search_term) {
	//console.log(search_term);
	pageObj.search_term = search_term;

	if (pageObj.time) {
		clearTimeout(pageObj.time);
	}

	// FIXME: could generalize by passing select id instead of separate search_* functions
	pageObj.time = setTimeout(
		function() {
			search_func(pageObj.search_term);
		},
		500
	);
}

</script>

<section id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all" style="margin-top: 0.5em; min-width: 645px;">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li class="small ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tab-1">Search</a></li>
        <li class="small ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tab-2">Analysis Options</a></li>
        <li class="small ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tab-3">Display Options</a></li>
    </ul>

    <div id="tab-1">
        <div class="alert"><tmpl_var name=error></div>
        <ul>
            <li style="display:inline-block; padding: 5px 0 5px 0; vertical-align:top;">
                    <tmpl_var name=org_menu1>
            </li>
            <li style="display:inline-block; padding: 5px 0 5px 0; vertical-align:top;">
                    <tmpl_var name=org_menu2>
            </li>
        </ul>
    </div>
    <!--close tab-1 -->

</section>

<div class="coge-bg inline padded ui-widget-content ui-corner-all">

	    <td>Search:</td>
	    <td>
	        <input id="search_token" type="search" placeholder="Search" onkeyup="wait_to_search(search_stuff, this.value);" size="50" spellcheck="false" />
		<!--<input id="search_token" type="search" placeholder="Search" onkeyup="search_stuff(this.value);" size="50" spellcheck="false" />-->
	    </td>
</div>

<div style="padding-top:10px;" class="hidden result">
	
	<div style="padding-top:10px;">
	<span id='orgCount' class='coge-table-header' style='color:119911;'></span>
		<div id="orgArrow" onclick="toggle_arrow('#orgArrow');show_table('#orgList')" style='display:inline;'>
                	<img src="picts/arrow-down-icon.png" class="link" style="width:10px;height:10px;display:none;"/>
			<img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
		</div>
	<table cellspacing="5" class="hidden" id='orgList' style="border-top:0px solid green; padding-left:20px; padding-bottom:10px;"></table>
	</div>

	<div style="padding-top:10px;">
	<span id='genCount' class='coge-table-header' style='color:119911;'></span>
		<div id="genArrow" onclick="toggle_arrow('#genArrow');show_table('#genList')" style='display:inline;'>
                        <img src="picts/arrow-down-icon.png" class="link" style="width:10px;height:10px;display:none;"/>
                        <img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
                </div>
	<table cellspacing="5" class="hidden" id='genList' style="border-top:0px solid green; padding-left:20px; padding-bottom:10px;"></table>
	</div>

	<div style="padding-top:10px;">
	<span id='userCount' class='coge-table-header' style='color:119911;'></span>
		<div id="userArrow" onclick="toggle_arrow('#userArrow');show_table('#userList')" style='display:inline;'>
                        <img src="picts/arrow-down-icon.png" class="link" style="width:10px;height:10px;display:none;"/>
                        <img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
                </div>
	<table cellspacing="5" class="hidden" id='userList' style="border-top:0px solid green; padding-left:20px; padding-bottom:10px;"></table>
	</div>

	<div style="padding-top:10px;">
	<span id='usrgroupCount' class='coge-table-header' style='color:119911;'></span>
		<div id="usrGArrow" onclick="toggle_arrow('#usrGArrow');show_table('#usrgroupList')" style='display:inline;'>
                        <img src="picts/arrow-down-icon.png" class="link" style="width:10px;height:10px;display:none;"/>
                        <img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
                </div>
	<table cellspacing="5" class="hidden" id='usrgroupList' style="border-top:0px solid green; padding-left:20px; padding-bottom:10px;"></table>
	</div>

	<div style="padding-top:10px;">
	<span id='noteCount' class='coge-table-header' style='color:119911;'></span>
		<div id="noteArrow" onclick="toggle_arrow('#noteArrow');show_table('#noteList')" style='display:inline;'>
                        <img src="picts/arrow-down-icon.png" class="link" style="width:10px;height:10px;display:none;"/>
                        <img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
                </div>
	<table cellspacing="5" class="hidden" id='noteList' style="border-top:0px solid green; padding-left:20px; padding-bottom:10px;"></table>
	</div>

	<div style="padding-top:10px;">
	<span id='expCount' class='coge-table-header' style='color:119911;'></span>
		<div id="expArrow" onclick="toggle_arrow('#expArrow');show_table('#expList')" style='display:inline;'>
                        <img src="picts/arrow-down-icon.png" class="link" style="width:10px;height:10px;display:none;"/>
                        <img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
                </div>
	<table cellspacing="5" class="hidden" id='expList' style="border-top:0px solid green; padding-left:20px; padding-bottom:10px;"></table>
	</div>
</div>

</TMPL_IF>
