<tmpl_if name="ADMIN_ONLY">
        YOU ARE NOT AN ADMIN!
</tmpl_if>

<TMPL_IF NAME='MAIN'>
<script type="text/javascript" src="js/coge/utils.js"></script>
<!--<script src="js/coge/colors.js"</script>-->
<script lanaguage="javascript" type="text/javascript" src="js/admin.js"></script>
<SCRIPT type="text/javascript" src="./js/jquery.fileupload.js"></SCRIPT>
<SCRIPT type="text/javascript" src="./js/jstree/jquery.jstree.js"></SCRIPT>

<style type="text/css">

@font-face {
        font-family: 'Glyphicons Halflings';
        src: url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.eot');
	src: url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');}

.glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

.glyphicon-asterisk:before {
        content: "\2a";
}

.jstree li a ins { display:none !important; }
.jstree.jstree-focused { background:white; }
</style>

<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
</script>

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Search</a></li>
		<li><a href="#tabs-2">Jobs</a></li>
		<li><a href="#tabs-3">History</a></li>
	</ul>
	<div id="tabs-1">
		<div id="master" style="position:relative;">
	
			<div id="searchBar" class="coge-bg inline padded ui-widget-content ui-corner-all">
	
	    	<td>Search:</td>
	    	<td>
	        	<input id="search_token" type="search" placeholder="Search" onkeyup="wait_to_search(search_stuff, this.value);" size="50" spellcheck="false" />
			<!--<input id="search_token" type="search" placeholder="Search" onkeyup="search_stuff(this.value);" size="50" spellcheck="false" />-->
	    	</td>
	    	</div>
	    	<img id="loading_gears" src="picts/large_gears.gif" width='30' height='30' class="link" style="padding:1px;display:none;" />
	
		    <div id="masterTable" style="position:relative;left:20px;padding-top:10px;padding-bottom:10px;" class="hidden result">
		
				<div id="organism" class= "hidden" style="padding-top:10px;">
				<span id='orgCount' class='coge-table-header' style='color:119911;'></span>
					<div id="orgArrow" onclick="toggle_arrow('#orgArrow');show_table('#orgList')" style='display:inline;'>
						<img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
					</div>
				<table cellspacing="5" class="hidden" id='orgList' style="border-top:0px solid green; padding-left:20px; padding-bottom:10px;"></table>
				</div>
			
				<div id="genome" class= "hidden" style="padding-top:10px;">
				<span id='genCount' class='coge-table-header' style='color:119911;'></span>
					<div id="genArrow" onclick="toggle_arrow('#genArrow');show_table('#genList')" style='display:inline;'>
			                    	<img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
			            	</div>
				<table cellspacing="5" class="hidden" id='genList' style="border-top:0px solid green; padding-left:20px; padding-bottom:10px;"></table>
				</div>
			
				<div id="user" class= "hidden" style="padding-top:10px;">
				<span id='userCount' class='coge-table-header' style='color:119911;'></span>
					<div id="userArrow" onclick="toggle_arrow('#userArrow');show_table('#userList')" style='display:inline;'>
			                    	<img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
			            	</div>
				<table cellspacing="5" class="hidden" id='userList' style="border-top:0px solid green; padding-left:20px; padding-bottom:10px;"></table>
				</div>
			
				<div id="user_group" class= "hidden" style="padding-top:10px;">
				<span id='usrgroupCount' class='coge-table-header' style='color:119911;'></span>
					<div id="usrGArrow" onclick="toggle_arrow('#usrGArrow');show_table('#usrgroupList')" style='display:inline;'>
			    	                <img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
			   		        </div>
				<table cellspacing="5" class="hidden" id='usrgroupList' style="border-top:0px solid green; padding-left:20px; padding-bottom:10px;"></table>
				</div>
			
				<div id="notebook" class= "hidden" style="padding-top:10px;">
				<span id='noteCount' class='coge-table-header' style='color:119911;'></span>
					<div id="noteArrow" onclick="toggle_arrow('#noteArrow');show_table('#noteList')" style='display:inline;'>
			                    	<img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
			            	</div>
				<table cellspacing="5" class="hidden" id='noteList' style="border-top:0px solid green; padding-left:20px; padding-bottom:10px;"></table>
				</div>
			
				<div id="experiment" class= "hidden" style="padding-top:10px;">
				<span id='expCount' class='coge-table-header' style='color:119911;'></span>
					<div id="expArrow" onclick="toggle_arrow('#expArrow');show_table('#expList')" style='display:inline;'>
			                    	<img src="picts/arrow-right-icon.png" class="link" style="width:10px;height:10px;"/>
			            	</div>
				<table cellspacing="5" class="hidden" id='expList' style="border-top:0px solid green; padding-left:20px; padding-bottom:10px;"></table>
			</div>
			</div>
		</div>
	
		<div id="userInfo" class="hidden" style"position:relative;">
			<div id="userHeader" style="padding-left:20px;">
				<button onclick="toggle_master()">Back to Search</button>
				<button onclick="refresh_data()">Refresh Data</button>
			</div>

			<div><img id="loading_gears2" src="picts/large_gears.gif" width='30' height='30' class="link" style="padding-top:10px;padding-left:25px;display:none;" /></div>
			
			<div id="userResults" style="position:relative;left:20px;padding-top:10px;padding-bottom:10px;" class="hidden result">
			
			</div>
			</div>
			
			<div id="user_dialog" class="hidden dialog_box" title="Select User">
			
			<input id="user_field" type="search" placeholder="Search" onkeyup="wait_to_search(search_users, this.value);" size="50" spellcheck="false" class="ui-autocomplete-input" autocomplete="on" role="textbox" aria-autocomplete="list" aria-haspopup="true">
			
			<!--<div id="load_log" class="small padded ui-widget-content ui-corner-all" style="overflow-y:auto;width:450px;height:200px;color:dimgray;">
			</div>
			<br>-->
			<!--<div id="loading_msg">
				<span class="small" style="float:right;">Link: <a></a></span>
				Please wait ... <img src="picts/ajax-loader.gif"/>
			</div>-->
				<div class="coge-buttonset">
			    	<span id="ok_button" style="float:right;" class="ui-button ui-corner-all coge-button">Ok</span>
			</div>
		</div>
		
		<div id="share_dialog" class="dialog_box hidden" title="Share Items"></div>
		<div id="group_dialog" class="dialog_box hidden" title="Edit Group"></div>
	</div>
	<div id="tabs-2">
		<div class="small" style="padding-top:15px;height:27px;">
			Filter:
			<input type="text" id="job_search_bar">
		 	<select id="job_search_type">
		 	<option value="1">Contains</option>
		 	<option value="0">Does NOT contain</option>
		 	</select>
		 	<span id='job_filter_count' style="margin-left:20px;"></span>
		 	<img id='filter_busy' src="picts/ajax-loader.gif" />
		</div>
		<div style="padding-bottom:10px;">
			<input type="checkbox" id="update_checkbox" checked>
			<span> Auto-Update</span>
		</div>
			
		<span id="test" class="ui-button ui-corner-all" onclick="cancel_job()">Cancel selected jobs</span>
		<span class="ui-button ui-button-go ui-corner-all" onclick="restart_job()">Restart selected jobs</span>
	
		<div id="jobs" style="max-width:95%; height: 900px; display:true; font-size: 0.8em; margin-top: 5px;">
		</div>
	
		<link rel="stylesheet" href="js/slickgrid/slick.grid.css" type="text/css"/>
		<link rel="stylesheet" href="js/slickgrid/controls/slick.pager.css" type="text/css"/>
		<!--<link rel="stylesheet" href="js/slickgrid/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css"/> -->
		<link rel="stylesheet" href="js/slickgrid/controls/slick.columnpicker.css" type="text/css"/>
		  <style>
		    .cell-centered {
				text-align: center;
				vertical-align: middle;
				font-size: small;
		    }
		    .cell-normal {
				vertical-align: middle;
				font-size: small;
		    }
		    .slick-cell-checkbox-sel {
		        background: #f0f0f0;
		        border-right-color: silver,
		        border-right-style: solid;
		    }
		  </style>
		<script src="js/slickgrid/lib/jquery-ui-1.8.16.custom.min.js"></script>
		<script src="js/slickgrid/lib/jquery.event.drag-2.0.min.js"></script>
		<script src="js/slickgrid/slick.core.js"></script>
		<script src="js/slickgrid/slick.formatters.js"></script>
		<script src="js/slickgrid/slick.editors.js"></script>
		<script src="js/slickgrid/plugins/slick.rowselectionmodel.js"></script>
		<script src="js/slickgrid/plugins/slick.checkboxselectcolumn.js"></script>
		<script src="js/slickgrid/slick.grid.js"></script>
		<script src="js/slickgrid/slick.dataview.js"></script>
		<script src="js/slickgrid/controls/slick.pager.js"></script>
		<script src="js/slickgrid/controls/slick.columnpicker.js"></script>
	
		<script src="js/coge/utils.js"></script>
		<script src="js/coge/grid.js"></script>
		<!--<p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>-->
	</div>
	<div id="tabs-3">
		<div class="small" style="padding-top:15px;padding-bottom:5px;height:27px;">
			<span style="padding-right:10px">
				Show:
				<select id="hist_show_select">
					<option value="0">All</option>
					<TMPL_IF NAME="OPTION_ALL"><option selected='selected' value="-3">Mine</option></TMPL_IF>
					<option value="-1">Starred</option>
					<option value="-2">Comments</option>
					<option value="1">Last hour</option>
					<option value="12">Last 12 hrs</option>
					<option value="24">Last 24 hrs</option>
					<option value="168">Last week</option>
					<option value="720">Last month</option>
				</select>
			</span>
			<span>
				Filter:
				<input id="hist_search_input" type="text">
				<select id="hist_search_type">
					<option value="1">Contains</option>
					<option value="0">Does NOT contain</option>
				</select>
				<span id='hist_filter_count' style="margin-left:20px;color:darkgray;font-style:italic;"></span>
			</span>
		</div>
	
		<div id="history" style="max-width:95%;height:80%;display:none;"></div>
	</div>
</div>

</TMPL_IF>

<TMPL_IF NAME='SHARE_DIALOG'>
<script>
$(function(){
	$("#share_input").autocomplete({
		source: [],
		focus: function() { return false; },
		select:
	    	function(event, ui) {
	    		$("#share_input")
	    			.val( ui.item.label )
	    			.data('select_id', ui.item.value);
	    		if (ui.item.value.split(':')[1] == ITEM_TYPE_USER) {
	    			$('#share_role_select').show();
	    		}
	    		else {
	    			$('#share_role_select').hide();
	    		}
	    		return false;
	    	},
	});
});
</script>
<div style="margin:20px;margin-left:5px;">
	<span class="small" style="font-weight:bold;color:dimgray;">Who Has Access</span>
	<div class="small" style="overflow:auto;max-height:120px;padding-left:30px;padding-bottom:10px;border-top:1px solid lightgray;">
		<div style="padding-top:10px;">
			<TMPL_LOOP NAME="USER_LOOP">
				<div>
					<img src="picts/user-icon.png" width="11" height="11"/>
					<span style="color:dimgray;"><TMPL_VAR NAME="USER_FULL_NAME"> (<TMPL_VAR NAME="USER_NAME">) - <TMPL_VAR NAME="USER_ROLE"><span>
					<TMPL_IF NAME="USER_DELETE">
						<span onClick="$(this.parentNode).fadeOut('slow'); remove_items_from_user_or_group('<TMPL_VAR NAME=USER_ITEM>', '<TMPL_VAR NAME=ITEM_ID>', '<TMPL_VAR NAME=ITEM_TYPE>');" class="link ui-icon ui-icon-close"></span>
					</TMPL_IF>
					<br>
				</div>
			</TMPL_LOOP>
			<TMPL_LOOP NAME="GROUP_LOOP">
				<div>
					<img src="picts/group-icon.png" width="11" height="11"/>
					<span style="color:dimgray;"><TMPL_VAR NAME="GROUP_NAME"> (group) - <TMPL_VAR NAME="GROUP_ROLE"></span>
					<TMPL_IF NAME="GROUP_DELETE">
						<span onClick="$(this.parentNode).fadeOut('slow'); remove_items_from_user_or_group('<TMPL_VAR NAME=GROUP_ITEM>', '<TMPL_VAR NAME=ITEM_ID>', '<TMPL_VAR NAME=ITEM_TYPE>');" class="link ui-icon ui-icon-close"></span>
					</TMPL_IF>
					<br>
					<TMPL_LOOP NAME="GROUP_USER_LOOP">
						<span style="color:dimgray;padding:5px;padding-left:20px;">
						<img src="picts/user-icon.png" width="11" height="11"/>
						<TMPL_VAR NAME="GROUP_USER_FULL_NAME"> (<TMPL_VAR NAME="GROUP_USER_NAME">)<span><br>
					</TMPL_LOOP>
				</div>
			</TMPL_LOOP>
			<TMPL_LOOP NAME="NOTEBOOK_LOOP">
				<div>
					<img src="picts/notebook-icon.png" width="11" height="11"/>
					<span style="color:dimgray;"><TMPL_VAR NAME="NOTEBOOK_NAME"> (notebook)</span>
					<br>
					<TMPL_LOOP NAME="NOTEBOOK_USER_LOOP">
						<span style="color:dimgray;padding:5px;padding-left:20px;">
						<img src="picts/user-icon.png" width="11" height="11"/>
						<TMPL_VAR NAME="NOTEBOOK_USER_FULL_NAME"> (<TMPL_VAR NAME="NOTEBOOK_USER_NAME">)<span><br>
					</TMPL_LOOP>
				</div>
			</TMPL_LOOP>
			<TMPL_IF NAME="ACCESS_MSG">
				<div style="color:dimgray;font-style:italic;">
					<TMPL_VAR NAME="ACCESS_MSG">
				</div>
			</TMPL_IF>
		</div>
	</div>
	<br>
	<span class="small" style="font-weight:bold;color:dimgray;">Add Access</span>
	<div class="small" style="padding:20px;padding-left:30px;border-top:1px solid lightgray;">
		<TMPL_IF NAME="IS_EDITABLE">
			<span style="color:dimgray">Enter names or groups:</span><br>
			<input id="share_input" type="search" maxlength="40" spellcheck="false" style="width:20em;border:1px solid lightgray;" onclick='$(this).autocomplete("search");' onkeyup="wait_to_search(search_share, this.value);" />
			<select id="share_role_select" class="hidden"><TMPL_VAR NAME="ROLES"></select>
			<span href="javascript:void(0)" onClick="edit_access(<TMPL_VAR NAME=ITEM_ID>, <TMPL_VAR NAME=ITEM_TYPE>);" class='ui-button ui-corner-all coge-button'>Add</span>
		<TMPL_ELSE>
			<span style="color:dimgray">
				You don't have permission to modify the selected item(s).
			</span>
		</TMPL_IF>
	</div>
</div>
</TMPL_IF>

<TMPL_IF NAME='GROUP_DIALOG'>
<script>
$(function(){
	$("#group_input")
		.autocomplete({
			source: [],
			focus: function() { return false; },
			select:
		    	function(event, ui) {
		    		$("#group_input")
		    			.val( ui.item.label )
		    			.data('select_id', ui.item.value);
		    		return false;
		    	},
		});
	$("#group_input").focus(); // why no work!?
});
</script>
<div style="margin:20px;margin-left:5px;">
	<div style="padding-bottom:10px;">
		<span class="small" style="font-weight:bold;color:dimgray;">Group Role:</span>
		<select id="group_role_select" onchange="change_group_role('<TMPL_VAR NAME=ITEM_ID>', '<TMPL_VAR NAME=ITEM_TYPE>');"><TMPL_VAR NAME="ROLES"></select>
	</div>
	<br>
	<span class="small" style="font-weight:bold;color:dimgray;">Group Members</span>
	<div class="small" style="overflow:auto;max-height:120px;padding-left:30px;padding-bottom:10px;border-top:1px solid lightgray;">
		<div style="padding-top:10px;">
			<TMPL_LOOP NAME="USER_LOOP">
				<div>
					<img src="picts/user-icon.png" width="11" height="11"/>
					<span style="color:dimgray;"><TMPL_VAR NAME="USER_FULL_NAME"> (<TMPL_VAR NAME="USER_NAME">) <TMPL_VAR NAME="USER_ROLE"><span>
					<TMPL_IF NAME="USER_DELETE">
						<span onClick="$(this.parentNode).fadeOut('slow'); remove_user_from_group('<TMPL_VAR NAME=USER_ITEM>', '<TMPL_VAR NAME=ITEM_ID>', '<TMPL_VAR NAME=ITEM_TYPE>');" class="link ui-icon ui-icon-close"></span>
					</TMPL_IF>
					<br>
				</div>
			</TMPL_LOOP>
			<TMPL_IF NAME="ACCESS_MSG">
				<div style="color:dimgray;font-style:italic;">
					<TMPL_VAR NAME="ACCESS_MSG">
				</div>
			</TMPL_IF>
		</div>
	</div>
	<br>
	<span class="small" style="font-weight:bold;color:dimgray;">Add Member</span>
	<div class="small" style="padding:20px;padding-left:30px;border-top:1px solid lightgray;">
		<TMPL_IF NAME="IS_EDITABLE">
			<span style="color:dimgray">Enter names or groups:</span><br>
			<input id="group_input" type="search" maxlength="40" spellcheck="false" style="width:270px;border:1px solid lightgray;" onclick='$(this).autocomplete("search");' onkeyup="wait_to_search(search_group, this.value);" />
			<span href="javascript:void(0)" onClick="add_users_to_group('<TMPL_VAR NAME=ITEM_ID>', '<TMPL_VAR NAME=ITEM_TYPE>');" class='ui-button ui-corner-all coge-button'>Add</span>
		<TMPL_ELSE>
			<span style="color:dimgray">
				You don't have permission to modify this group.
			</span>
		</TMPL_IF>
	</div>
	<!--<br>
	<span href="javascript:void(0)" onClick="$('#group_dialog').dialog('close');" class='ui-button ui-corner-all'>Done</span>-->
</div>
</TMPL_IF>

<TMPL_IF NAME='ERROR_DIALOG'>
<div class="small" align='center'>
	<br>
	<TMPL_VAR NAME='ERROR_MESSAGE'>
	<br>
	<br>
	<span style="font-size:.75em;" class='ui-button ui-corner-all coge-button' onClick="$(this.parentNode.parentNode).dialog('close');">&nbsp&nbsp;OK&nbsp&nbsp;</span>
</div>
</TMPL_IF>

<TMPL_IF NAME='LOGIN'>
	<TMPL_INCLUDE NAME="widgets/Login.tmpl">
</TMPL_IF>

<TMPL_IF NAME='ADMIN_AREA'>
<!--
<hr>
Admin Functions:<br>
none at the moment
-->
</TMPL_IF>