<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.2.0.3.js"></SCRIPT>
<SCRIPT language="JavaScript">
$(document).ready(function(){
	$.ajaxSetup({
		type: "POST",
		url: "<TMPL_VAR NAME=PAGE_NAME>",
		dataType: "html",
		cache: false,
	});
});

function run_ajax(opts){
      if (!opts){opts={};}
      divid = opts.divid; //were results will be displayed in page
      stuff = opts.stuff; //example of passing in some stuff

      // create a new closure who's scope does *not*
      // include the `divid` value so that callback will 
      // not clobber the `divid` variable 
      var create_callback = function(divid) {
              var local_divid = divid;
              return function (data) {
                  $('#'+local_divid).html(data);
              };
          }; 

      $.ajax({
        data: {
     	   jquery_ajax: 1,
	   fname: 'test_ajax',
   	   stuff: stuff
           },
        success : create_callback(divid)
      });
}

</SCRIPT>

This is a blank page.  Use it to create a new page for CoGe!
<div id=stuff>LALA</div>
<DIV class = link id=output onclick="run_ajax({stuff: $('#stuff').html(), divid: 'stuff'});">Click here!</DIV>

