<TMPL_IF NAME="ADJUST_BOX">
	<div class="ui-widget-content ui-corner-all">
<TMPL_ELSE>
	<div class="ui-widget-content ui-corner-all">
</TMPL_IF>

<TMPL_IF NAME="BOX_NAME">
	<h3 class="ui-helper-reset ui-corner-top" aria-expanded="true">
		<TMPL_VAR NAME="BOX_NAME">
	</h3>
	<hr>
</TMPL_IF>

<TMPL_IF NAME="BODY">
	<div style="padding:10px;">
		<TMPL_VAR NAME="BODY">
	</div>
</TMPL_IF>

</div>

