<TMPL_IF NAME=INITIALIZE>

<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.2.0.3.js"></SCRIPT>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.pager.js"></SCRIPT>
<SCRIPT language="JavaScript">

$(document).ready(function(){
		$('#feat_table').tablesorter({
		cssAsc: 'headerSortUp',		// Class name for ascending sorting action to header
		cssDesc: 'headerSortDown',	// Class name for descending sorting action to header
//		cssHeader: 'header',			// Class name for headers (th's)
		widgets: ['zebra'],
		headers: {0: {sorter: false},},
		});
		$("#search_bar").keyup( function() { filter_rows( $(this).val() ); });
		$('#search_type').mouseup( function() { filter_rows( $('#search_bar').val() ); });
		if ($('#accn').val() ) {run_mama();}
		if ($('#anno').val() ) {run_mama();}
});

//set up the jquery ui
$(function() {
	     //substaniate dialog box
	     $("#table_opts_dialog").dialog({ height: 150,
	       				     width: 627,
					     autoOpen: false,
	});
	var page_url = document.location;
	     $("#save_form").dialog({ autoOpen: false,
	     			      height: 331,
				      width: 461,
	     			      buttons: { "Cancel": function() { $(this).dialog("close"); },
				      	        "Save": function() {
						add_to_user_history(['args__work_name','work_name',
								     'args__description','description',
								     'args__archive','args__'+1,
								     'args__url','args__'+page_url,
								     'args__note','note'],[]);
						$(this).dialog("close"); }
						}
	});
	     //button effects on events
	     $('#table_opts').click(function() {
					$('#table_opts_dialog').dialog('open');
			});
	     $('#history_dialog_button').click(function() {
					$('#save_form').dialog('open');
			});

});

function onEnter(e){
  if (!e){
   var e = window.event;}
  if(e.which == 13){
  run_mama();
 }
}
function timing(val){
  namere = /name/;
  descre = /desc/;
  if (namere.exec(val))
   {
    $('#org_desc').val("Search").css({fontStyle: "italic"});
    searchterm = $('#'+val).val();
   }
  else if (descre.exec(val))
   {
    $('#org_name').val("Search").css({fontStyle: "italic"}); ;
    searchterm = $('#'+val).val();
   }
  var searchterm;
  if (!searchterm) {val=0;}
  if(searchterm == "Search")
  {
    searchterm = "";
  }
  if (pageObj.search && pageObj.search+val == searchterm+val)
   {
    return;
   }
  pageObj.search=searchterm+val;
  if (pageObj.time){
   clearTimeout(pageObj.time);
  }
  re = /(\d+)/;
  i = re.exec(val);
  if (namere.exec(val))
   {
     pageObj.time = setTimeout("get_orgs(['args__type','args__name','args__search','org_name'],['org_list'])",500);
   }
  else if (descre.exec(val))
   {
     pageObj.time = setTimeout("get_orgs(['args__type','args__desc','args__search','org_desc'],['org_list'])",500);
   }
}

function search_bar(div_id){
  if($('#'+div_id).val() == "Search") $('#'+div_id).val("").css({fontStyle: "normal"});
}

function run_mama () {
$('#results').html('<img src=./picts/animations/DNA_orbit_animated_small_third.gif >');
 go(['args__accn','accn', 'args__anno','annosearch', 'args__oid','org_id', 'args__org_name','org_name','args__org_desc','org_desc'],['results']);
}

</SCRIPT>

<TABLE class="ui-widget-content ui-corner-all">
       <TR>
         <TD nowrap>
           Name:
         <tD>
          <input type="text" name="accn" id="accn" tabindex="1"  size="10" value="<TMPL_VAR NAME=ACCN>" onkeypress="onEnter(event);"/>
       <TR>
         <TD nowrap>
          Annotation:
         <tD nowrap>
          <input type="text" name="annosearch" id="annosearch" tabindex="1"  size="10" value="<TMPL_VAR NAME=ANNO>" onkeypress="onEnter(event);"/>
        <TR>
         <tD valign="top" nowrap>
          Organism:
         <TD>
         Name: <input type="text" size=11 onFocus="search_bar('org_name')" style="font-style:italic" value="Search" name="org_name" id="org_name" onKeyUp='timing("org_name");'><br>
         Description: <input type="text" size=11 value="Search" name = "org_desc" id="org_desc" style="font-style:italic" onFocus="search_bar('org_desc')" onKeyUp='timing("org_desc");'>
          <DIV id="org_list"><TMPL_VAR NAME="ORG_LIST"><input type=hidden id='org_id'></DIV>
        <tr>
        <td><span class="ui-button ui-corner-all" onclick="run_mama()">Search</span>
</TABLE>

<div id='results'><TMPL_VAR NAME="RESULTS"></div>

</TMPL_IF>

<TMPL_IF NAME=RESULTS>
<TMPL_IF NAME="FEAT_COUNT"><div class ="small"> Feature Count: <TMPL_VAR NAME="FEAT_COUNT"></div></TMPL_IF>
<span class="ui-button ui-corner-all" onclick="window.open('<TMPL_VAR NAME=FEATLISTLINK>')">Generate Feature List</span><br>
<TABLE id='gc_table' class="ui-widget-content ui-corner-all">
 <THEAD align=left>
   <tr><TMPL_VAR NAME=GC_HEAD>
 </THEAD>
 <tbody align=left valign="top" id="feat_table_body">
   <TMPL_LOOP NAME=INFO>
    <TR>
     <TMPL_VAR NAME=RESULTS_ROW>
    </TR>
   </TMPL_LOOP>
  </tbody>
 </TABLE>
 <TMPL_VAR NAME=GENOME_INFO>
</TMPL_IF>
