<SCRIPT language="JavaScript">
$(document).ready(function(){
	pageObj=new Object();
	pageObj.fids = "<TMPL_VAR NAME=FIDS>";
});

function update_options(type){
	if(type == 'dna')
	{
		$('#prot_matrix').hide(0);
		$('#dna_matrix').show(0);
		$('#gap_open').val(15);
		$('#gap_ext').val(6.66);
	}
	else
	{
		$('#dna_matrix').hide(0);
		$('#prot_matrix').show(0);
		$('#gap_open').val(10);
		$('#gap_ext').val(0.2);
	}
	
}

function prepare_run(){
	$('#results').hide(0);
	var type;
	
	if($('#seq_type:checked').val()) type='DNA';
	else type="PROTEIN";
	
	var gap_open = $('#gap_open').val();
	var gap_ext = $('#gap_ext').val();
	var iteration = $('#iteration').val();
	var format = $('#results_format').val();
	
	var matrix;
	
	if(type == 'DNA') matrix = $('#dna_matrix').val();
	else matrix = $('#prot_matrix').val();
	
	run([
	'args__seq_type','args__'+type,
	'args__gap_open','args__'+gap_open,
	'args__gap_ext','args__'+gap_ext,
	'args__seq','seq_box',
	'args__matrix','args__'+matrix,
	'args__format','args__'+format,
	'args__iteration','args__'+iteration],[gather_results],['POST']);
}

function gather_results(html){
	$('#results').html(html).show(0);
	var size = $('.resultborder').width();
	$('#max_height').width(size+30);
}

</SCRIPT>
<TMPL_IF NAME=MAIN>
<font >Sequences to be Aligned:</font>
<br>
<textarea class="backbox" type="textarea" name="seq_box" id ="seq_box" wrap=off cols=80 rows=15><TMPL_VAR NAME="SEQUENCE"></textarea>
<br>
<input type=button value="Run Alignment" onclick="prepare_run()">
<br>
Basic Alignment Options
<div id=basic_opts>
Sequence Type<br><label><input type=radio id=seq_type checked name=seq_type value="dna" onclick="update_options('dna');refresh_seq(['args__fids','args__'+pageObj.fids,'args__seq_type','seq_type'],['seq_box']);">DNA</label><label><input type=radio id=seq_type name=seq_type value="prot" onclick="update_options('prot');refresh_seq(['args__fids','args__'+pageObj.fids,'args__seq_type','seq_type'],['seq_box']);">Protein</label>
</div>
Advanced Alignment Options
<div id=adv_opts>

Select Data Matrix: 
<select name=dna_matrix id=dna_matrix>
<option value=IUB>IUB
<option value=CLUSTALW>CLUSTALW
</select>

<select name=prot_matrix id=prot_matrix style="display:none">
<option value=BLOSUM>BLOSUM
<option value=PAM>PAM
<option value=GONNET>GONNET
<option value=ID>ID
</select>
Gap Open: <input type=text size="6" id=gap_open value="15">
Gap Extend: <input type=text size="6" id=gap_ext value="6.66">
Iteration: 
<select id=iteration>
<option value=NONE>None
<option value=TREE>Tree
<option value=ALIGNMENT>Alignment
</select>

</div>
Results Options
<div id=results_opts>
Results Format:
<select id=results_format>
<option value=coge>CoGe Default
<option value=coge_nocolor>CoGe (No Color)
<option value=clustal>Clustal Default
<option value=GDE>GDE
<option value=PHYLIP>Phylip
<option value=PIR>PIR
<option value=NEXUS>NEXUS
</select>
</div>
</TMPL_IF>

<TMPL_IF NAME="RESULTS_DIV">
<table align=center style="overflow:auto;width:90%;"><tr><td>
<pre ><div align=center id=results></div></pre>
</table>
</TMPL_IF>