<TMPL_IF NAME="MAIN">
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.2.0.3.js"></SCRIPT>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.pager.js"></SCRIPT>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.fileupload.js"></SCRIPT>
<SCRIPT language="JavaScript">

$(document).ready(function(){
	$.ajaxSetup({
		type: "GET",
		url: "<TMPL_VAR NAME='PAGE_NAME'>",
		dataType: "html",
		cache: false,
	});
	
	$(".dialog_box").dialog({autoOpen: 0, width: 450});

	$("#edit_type_name").autocomplete({
		source: function() { get_experiment_types(); },
		select: function(event, ui) { get_type_description( ui.item.label ); }
	});

	set_annotation_table();

	pageObj.timers = new Array();
});

function set_annotation_table() {
	$('#experiment_annotation_table').tablesorter({widgets: ['zebra']});
}

function get_experiment_info() {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'get_experiment_info',
			eid: "<TMPL_VAR NAME='EID'>",
		},
		success : function (data) {
			$('#experiment_info').html(data);
		}
	});
}

function edit_experiment_info() {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'edit_experiment_info',
			eid: "<TMPL_VAR NAME='EID'>",
		},
		success : function(data) {
			var obj = jQuery.parseJSON(data);
			$("#experiment_info_edit_box").html(obj.output).dialog('open');
		},
	});
}

function update_experiment_info (){
	var name = $('#edit_name').val();
	if (!name) {
		alert('Error: Must have a name');
		return;
	}
	
	var version = $('#edit_version').val();
	if (!version) {
		alert('Error: Must have a version');
		return;	
	}	
	
	var source_id = parseInt( $('#edit_source_id').val() );
	if (!source_id) {
		alert('Error: Must have a source');
		return;	
	}	
	
	var desc = $('#edit_desc').val();
	
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'update_experiment_info',
			eid: "<TMPL_VAR NAME='EID'>",
			name: name,
			desc: desc,
			source_id: source_id,
			version: version
		},
		success : function(val) {
			get_experiment_info();
			$("#experiment_info_edit_box").dialog('close');
		}
	});
}

function get_sources () {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'get_sources'
		},
		success : function(data) {
			var items = jQuery.parseJSON(data);
			$("#edit_source").autocomplete("option", "source", items).autocomplete("search");
		}
	});
}

function make_experiment_public () {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'make_experiment_public',
			eid: "<TMPL_VAR NAME='EID'>"
		},
		success : function(val) {
			get_experiment_info();
		}
	});
}

function make_experiment_private () {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'make_experiment_private',
			eid: "<TMPL_VAR NAME='EID'>"
		},
		success : function(val) {
			get_experiment_info();
		}
	});
}

function add_experiment_type () {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'add_experiment_type',
			eid: "<TMPL_VAR NAME='EID'>"
		},
		success : function(data) {
			$("#experiment_type_edit_box").dialog({
				beforeClose:
					function() {
						$("#edit_type_name").autocomplete('close');
					}
			});
			$("#experiment_type_edit_box").html(data).dialog('open');
		}
	});
}

function add_type_to_experiment () {
	var name = $('#edit_type_name').val();
	var description = $('#edit_type_description').val();
	
	if (name) {
		$.ajax({
			data: {
				jquery_ajax: 1,
				fname: 'add_type_to_experiment',
				eid: "<TMPL_VAR NAME='EID'>",
				name: name,
				description: description
			},
			success : function(val) {
				get_experiment_info();
				$("#experiment_type_edit_box").dialog('close');
			},
		});
	}
	else { alert ('Error: Must have type name specified!');}
}

function remove_experiment_type (opts) {
	etid = opts.etid;
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'remove_experiment_type',
			eid: "<TMPL_VAR NAME='EID'>",
			etid: etid,
		},
		success : function(val) {
			get_experiment_info();
		},
	});
}

function add_annotation_dialog() {
	$('#edit_annotation').val('');
	$('#edit_link').val('');
	$('#edit_annotation_type').val('');
	$('#edit_annotation_type_group').val('');
	$('#edit_image').val('');
	
	$('#add_annotation_button').show();
	$('#update_annotation_button').hide();
	
	$("#experiment_annotation_edit_box").dialog({title: "Add Annotation"}).dialog('open');
}

function add_annotation () {
	var annotation = $('#edit_annotation').val();
	var type = $('#edit_annotation_type').val();
	
	if (!annotation) {
		alert('Please enter some annotation text.');
	}
	else if(!type) {
		alert ('Please specify a type.');
	}
	else {	
		var type_group = $('#edit_annotation_type_group').val();
		var link = $('#edit_link').val();
	
		var annotation_image_file = $('#edit_annotation_image')[0].files[0];
		if (annotation_image_file) {		
			if (!verify_image_file(annotation_image_file)) { 
				return; 
			}
			$("#wait_annotation").animate({opacity:1});
		}
		else {
			annotation_image_file = '';
		}
		
		$('#edit_annotation_image').fileupload({
        	dataType: 'json',
			done: 
				function(e, data) {
					get_annotations();
					$("#wait_annotation").hide();
					$("#experiment_annotation_edit_box").dialog('close');
				}
		});

		$('#edit_annotation_image').fileupload('send', {
			files: annotation_image_file,
			formData: {
				fname: 'add_annotation',
				eid: "<TMPL_VAR NAME='EID'>",
				type_group: type_group,
				type: type,
				annotation: annotation,
				link: link
			}
		});			
	}
}

function edit_annotation_dialog(aid) {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'get_annotation',
			aid: aid
		},
		success : function(data) {
			var obj = jQuery.parseJSON(data);
			if (obj) {
				$('#edit_annotation').val(obj.annotation);
				$('#edit_link').val(obj.link);
				$('#edit_annotation_type').val(obj.type);
				$('#edit_annotation_type_group').val(obj.type_group);
				$('#edit_image').val('');
				
				$('#add_annotation_button').hide();
				$('#update_annotation_button').data({annotation_id: aid}).show();
				
				
				$("#experiment_annotation_edit_box").dialog({title: "Edit Annotation"}).dialog('open');
			}
		}
	});
}

function update_annotation() {
	var annotation = $('#edit_annotation').val();
	var type = $('#edit_annotation_type').val();
	
	if (annotation && type) {
		var type_group = $('#edit_annotation_type_group').val();
		var link = $('#edit_link').val();
		var aid = $('#update_annotation_button').data('annotation_id');
		var annotation_image_file = $('#edit_annotation_image')[0].files[0];
		if (annotation_image_file) {		
			if (!verify_image_file(annotation_image_file)) {
				return;
			}
			$("#wait_annotation").animate({opacity:1});
		}
		else {
			annotation_image_file = '';
		}
		
		$('#edit_annotation_image').fileupload({
        	dataType: 'json',
			done: 
				function(e, data) {
					get_annotations();
					$("#wait_annotation").hide();
					$("#experiment_annotation_edit_box").dialog('close');
				}
		});

		$('#edit_annotation_image').fileupload('send', {
			files: annotation_image_file,
			formData: {
				fname: 'update_annotation',
				aid: aid,
				type_group: type_group,
				type: type,
				annotation: annotation,
				link: link
			}
		});			
	}
}

function get_annotations() {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'get_annotations',
			eid: "<TMPL_VAR NAME='EID'>",
		},
		success : function(data) {
			$('#experiment_annotations').html(data);
			set_annotation_table();
		}
	});
}

function remove_annotation (eaid) {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'remove_annotation',
			eid: "<TMPL_VAR NAME='EID'>",
			eaid: eaid,
		},
		success : function() {
			get_annotations();
		},
	});
}

function get_experiment_types () {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'get_experiment_types'
		},
		success : function(val) {
			var items = jQuery.parseJSON(val);
			$("#edit_type_name").autocomplete("option", "source", items).autocomplete("search");
		},
	});
}

function get_type_description (name) {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'get_type_description',
			name: name
		},
		success : function(data) {
			$("#edit_type_description").html(data);
		},
	});
}

function image_preview(obj, preview) {
	var id = obj.src; // need a unique identifier for the obj
	if (pageObj.timers[id]) {
		clearInterval(pageObj.timers[id]);
		pageObj.timers[id] = null;
	}
	
	if (preview) {
		pageObj.timers[id] = setTimeout( 
			function() { 
				$(obj).animate({width:200, height:200});
				pageObj.timers[id] = null; 
			}, 
			500 
		);
	}
	else {
		pageObj.timers[id] = setTimeout( 
			function() { 
				$(obj).animate({width:40, height:40});
				pageObj.timers[id] = null;  
			}, 
			500 
		);
	}
}
</SCRIPT>

<div>
 <span style="color:dimgray;font-weight:bold;">Experiment Info</span><br>
 <div id='experiment_info'>
  <TMPL_VAR NAME="EXPERIMENT_INFO">
 </div>
</div>

<br>

<div>
 <span style="color:dimgray;font-weight:bold;">Experiment Annotations</span><br>
 <div id="experiment_annotations">
  <TMPL_VAR NAME="EXPERIMENT_ANNOTATIONS">
 </div>
</div>

<div id="experiment_info_edit_box" class="dialog_box" title="Edit Experiment Info"></div>

<div id="experiment_type_edit_box" class="dialog_box" title="Add Experiment Type">
  <table class="small">
   <tr>
    <td>Name:</td>
    <td><input id="edit_type_name" size="53" value=""></td>
   </tr>
   <tr valign="top">
    <td>Description:</td>
    <td><textarea id="edit_type_description" rows="5" cols="50"></textarea></td>
   </tr>
  </table>
  <span onClick="add_type_to_experiment();" class='ui-button ui-corner-all ui-button-go'>Add</span>
</div>

<div id="experiment_annotation_edit_box" class="dialog_box">
  <TMPL_INCLUDE NAME='widgets/AddAnnotation.tmpl'>
</div>

</TMPL_IF> <!-- MAIN -->



<TMPL_IF NAME="EDIT_EXPERIMENT_INFO">
<SCRIPT>
$(function() {
	$("#edit_source").autocomplete({
	    source: 
	    	function() {
	    		get_sources();
	    	},
	    select:	
	    	function(event, ui) {
	    		$("#edit_source").val( ui.item.label );
	    		$("#edit_source_id").val( ui.item.value );
	    		return false;
	    	}
	});
});
</SCRIPT>
<table class="small">
 <tr>
  <td>Name:</td>
  <td><input id="edit_name" type="textbox" size="53" value="<TMPL_VAR NAME='NAME'>"></td>
 </tr>
 <tr>
  <td>Description:</td>
  <td><textarea id="edit_desc" rows="5" cols="50"><TMPL_VAR NAME='DESC'></textarea></td>
 </tr>
 <tr>
  <td>Source:</td>
  <td>
   <input id="edit_source" size="53" value="<TMPL_VAR NAME='SOURCE'>">
   <input id="edit_source_id" type="hidden" value="<TMPL_VAR NAME='SOURCE_ID'>">
  </td>
 </tr>
 <tr>
  <td>Version:</td>
  <td><input id="edit_version" type="textbox" size="53" value="<TMPL_VAR NAME='VERSION'>"></td>
 </tr>
</table>
<br>
<span onClick="update_experiment_info();" class='ui-button ui-corner-all ui-button-go'>Update</span>
</TMPL_IF> <!-- EDIT_EXPERIMENT_INFO -->
