<SCRIPT language="JavaScript">

function update_seqs(prot, text)
 {
  if (prot)
   {
    if (text)
     {
       var url=window.location+";prot=1;text=1";
       window.location =url;
     }
    get_seqs(['args__fids','fids', 'args__textbox','args__1','args__prot','args__1'],['seq']);
    $('#prot_button').hide();
    $('#prot_text_button').show();
    $('#dna_button').show();
    $('#dna_text_button').hide();
   }
  else
   {
    if (text)
     {
       var url=window.location+";text=1";
       window.location =url;
     }
    get_seqs(['args__fids','fids', 'args__textbox','args__1','args__prot','args__0'],['seq']);
    $('#prot_button').show();
    $('#prot_text_button').hide();
    $('#dna_button').hide();
    $('#dna_text_button').show();
   }
 }

$(document).ready(function()
  {
   update_seqs(<TMPL_VAR NAME=PROT>);
  });
</script>


<TABLE>
 <TR>
  <TD><div id=seq>	
   <TMPL_VAR NAME="SEQ">
   </div>
</TABLE>
<TMPL_VAR NAME="FIDS">


<TMPL_IF NAME=BOTTOM_BUTTONS>
  <DIV id="dynamic_button">
  <TABLE>
   <TR>
   <td><input type=button id="prot_button" value="Protein Sequence" onclick="update_seqs(1)">
   <td><input type=button id="dna_button" value="DNA Sequence" onclick="update_seqs(0)">
   <td><input type=button id="prot_text_button" value="Plain Text" onclick="update_seqs(1,1)">
   <td><input type=button id="dna_text_button" value="Plain Text" onclick="update_seqs(0,1)">

   </TR>
  </TABLE>
  </DIV>

</TMPL_IF>


