<SCRIPT language="JavaScript">

function update_seqs(prot, text)
 {
  var name_only = 0;
  if ($('#name_only')[0].checked) {name_only = 1};
  pageObj.prot=prot;
  if (prot)
   {
    if (text)
     {
       var url=window.location+";prot=1;text=1";
       window.location =url;
     }
    get_seqs(['args__fids','fids', 'args__textbox','args__1','args__prot','args__1','args__name_only','args__'+name_only, 'args__gstid','gstid'],['seq']);
    $('#prot_button').hide();
    $('#prot_text_button').show();
    $('#dna_button').show();
    $('#dna_text_button').hide();
    $('.prot_option').show();
   }
  else
   {
    if (text)
     {
       var url=window.location+";text=1";
       window.location =url;
     }
    get_seqs(['args__fids','fids', 'args__textbox','args__1','args__prot','args__0','args__name_only','args__'+name_only, 'args__gstid','gstid'],['seq']);
    $('#prot_button').show();
    $('#prot_text_button').hide();
    $('#dna_button').hide();
    $('#dna_text_button').show();
    $('.prot_option').hide();
   }
 }

function post_to_target () {
 seq = $('#seq_text').val().replace(/\n/g,":::");
// seq = escape(seq);
 var url;
 if (pageObj.prot) {url="http://target.iplantcollaborative.org/v3.3_TATE_protein_CoGe_start.php"}
 else {url = "http://target.iplantcollaborative.org/v3.3_TATE_dna_CoGe_start.php";} 
 var myForm = document.createElement("form");
 myForm.method="post" ;
 myForm.action=url;
 myForm.setAttribute("target", "_blank");
 var myInput = document.createElement("input");
 myInput.setAttribute("name", "coge_query");
 myInput.setAttribute("value",seq);
 myForm.appendChild(myInput);
 document.body.appendChild(myForm);
 myForm.submit();
 document.body.removeChild(myForm);
}

function post_to_prosite () {
 var seq = $('#seq_text').val();
 var seqs=seq.split("\n");
 seqs.shift();
 seq = seqs.join("\n");
 var url = "http://ca.expasy.org/cgi-bin/prosite/PSScan.cgi";
 var myForm = document.createElement("form");
 myForm.method="post" ;
 myForm.action=url;
 myForm.setAttribute("target", "_blank");
 var myInput = document.createElement("input");
 myInput.name="seq";
 myInput.value=seq;
 
 myForm.appendChild(myInput);
 document.body.appendChild(myForm);
 myForm.submit();
 document.body.removeChild(myForm);
}


$(document).ready(function()
  {
    prot = <TMPL_VAR NAME=PROT>;
    pageObj.prot=prot; 
    if (prot)
     {
      $('#prot_button').hide();
      $('#dna_text_button').hide();
      $('.prot_option').show();
      $('.dna_option').hide();
     }
    else
     {
      $('#prot_text_button').hide();
      $('#dna_button').hide();
      $('.prot_option').hide(); 
      $('.dna_option').show();
     }
  });
</script>


<TABLE>
 <TR>
  <TD><div id=seq>	
   <TMPL_VAR NAME="SEQ">
   </div>
</TABLE>
<TMPL_VAR NAME="FIDS">


<TMPL_IF NAME=BOTTOM_BUTTONS>
  <input type="checkbox" name="name_only" id="name_only" value=0 onclick="update_seqs(0);"/>&nbsp&nbsp Only use feature names in header.
  <DIV id="dynamic_button">
  <TABLE>
   <TR>
   <td><span class='ui-button ui-state-default ui-corner-all'id="prot_button" onclick="update_seqs(1)">Protein Sequence</span>
   <td><span class='ui-button ui-state-default ui-corner-all'id="dna_button" onclick="update_seqs(0)">DNA Sequence</span>
   <td><span class='ui-button ui-state-default ui-corner-all'id="prot_text_button" onclick="update_seqs(1,1)">Plain Text</span>
   <td><span class='ui-button ui-state-default ui-corner-all'id="dna_text_button" onclick="update_seqs(0,1)"> Plain Text</span>
   <td><span class='ui-button ui-state-default ui-corner-all'id="blast_button"onclick="window.open('CoGeBlast.pl?featid='+$('#fids').val())">CoGe Blast</span> 
  </TABLE><br>
   Off site tools:<br>
    <span class="link" onclick ="window.open('http://target.iplantcollaborative.org/');"> Tree Analysis of Related Genes and Transposons</span>
   <span onClick="post_to_target();" class='ui-button ui-state-default ui-corner-all'>Send to TARGeT</span> <br>
   <div class="prot_option">
   Scan for protein domains at <span class=link onclick="window.open('http://www.expasy.ch/prosite/')">ProSite</span>.  <span class=alert>Warning:</span>  this option works for only one protein sequence <span onClick="post_to_prosite();" class='ui-button ui-state-default ui-corner-all'>Send to ProSite</span>
   </div>
   <div class="prot_option">
   </DIV>
  </DIV>

</TMPL_IF>


