<HTML>
<HEAD>
 <TITLE><TMPL_VAR NAME=TITLE></TITLE>
 <link rel="stylesheet" type="text/css" href="/CoGe/css/styled.css" />


 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</HEAD>
<SCRIPT language="JavaScript">

$(document).ready(function(){
  $('#accn').focus();
});

function search_chain(val) {
 $('#data_table').show(0);
 accnminlen = 4;
 annominlen = 8;
 $('#anno').hide();	
 $('#accn_list').hide();
 $('#Source').hide();
 $('#FeatType').hide();
 var searched = 0;
 if ((val == 1)){
   $('#anno').html('<img src="./picts/animations/DNA_orbit_animated_small_third.gif" >'); 
   $('#anno').show();
   searched=1;	
   go_cogesearch();
    
 } 
 else if ($('#accn').val().length > accnminlen) {
   $('#anno').html('<img src="./picts/animations/DNA_orbit_animated_small_third.gif" >'); 
   $('#anno').show();
   searched=1;	
   go_cogesearch();
 }
 else if ($('#annosearch').val().length > annominlen) {
   $('#anno').html('<img src="./picts/animations/DNA_orbit_animated_small_third.gif" >'); 
   $('#anno').show();
   searched=1;	
   go_cogesearch();
 }

 if (!searched)
  {
    $('anno').html('Search not run.');
  }

}

function go_cogesearch () {
 cogesearch(['args__accn','accn', 'args__anno','annosearch','args__type','type', 'args__org_id','org_id', 'args__feat_name_wild','feat_name_wild', 'args__feat_anno_wild', 'feat_anno_wild'],[source_search_chain]);
}

function source_search_chain (val) {
// $('#Source').html('<input type="hidden" id="dsid"><font class="loading">Loading. . .</font>');	
// $('#FeatType').html('<input type="hidden" id="Type_name">');	
// $('#anno').hide();
 if (val) {$('#accn_list').html(val);$('#accn_list').show()}
 source_search(['args__accn','accn_select', 'args__org_id','org_id'], [get_types_chain]);
}

function get_types_chain (val1, val2) {
// $('#FeatType').html('<input type="hidden" id="Type_name"><font class="loading">Loading. . .</font>');	
// $('#anno').hide();	
 if (val1) {$('#Source').html(val1);$('#Source').show();}
 get_types(['accn_select', 'dsid'],[get_anno_chain]);	
}

function get_anno_chain (val1, val2) {	
//$('#anno').html('<font class="loading">Loading. . .</font>');
 if (val1) {
   $('#FeatType').html(val1);
   $('#FeatType').show();
   if ($('#remove').is(":hidden")) {$('#remove').show(0);}
   if ($('#send').is(":hidden")) {$('#send').show(0);}
   if($('#feat_list').is(":hidden")) {$('#feat_list').show(0);}
 }
 as = $('#accn_select').val();
 tn = $('#Type_name').val();
 get_anno(['accn_select', 'Type_name', 'dsid'],[show_anno]);
}

function show_anno (anno)
 {
 $('#anno').hide(); 
 $('#anno').html(anno);
 $('#anno').slideDown(pageObj.speed); 
 }


function timing(){
  if (pageObj.time){
   clearTimeout(pageObj.time);
  }
   pageObj.time = setTimeout("get_orgs(['org_text'],['org_list'])",500);
   //pageObj.time = setTimeout("search_chain(0)",500);
}

$(document).ready(function(){
    if ($('#accn').val()) {search_chain(0);}
});

function add_to_featlist(featname, featid){
  //alert(featname+","+featid);
  var check = $('#'+featid).val();
  if (check){
   alert('You have already added '+featname+'.');
   return;
  }
  var html = '<option id='+featid+' value='+featid+'>'+featname+'</option>';
  //alert(html);
  $('#blank').remove();
  $('#featlist_choice').append(html).sortSelect();
  counting();
}

$.fn.sortSelect = function(){
  this.each(
	  function()
	  {
	  	if(this.nodeName.toLowerCase() != "select"){
	  	  return;}
	  	var opts = this.options;
	  	var sortArray = [];
	  	for(var i=0;i<opts.length;i++)
	  	{
	  		sortArray[i] = {
	  				v: opts[i].value,
	  				t: opts[i].text,
	  				d: opts[i].id,
	  				}
	  	}
	  	sortArray.sort(
	  			function(obj1,obj2)
	  			{
	  				obj1t = obj1.t.toLowerCase(),
	  				obj2t = obj2.t.toLowerCase();
	  				if(obj1t == obj2t){
	  				  return 0;}
	  				return obj1t < obj2t ? -1 : 1;
	  			}
	  	);
	  	for(var i=0;i<opts.length;i++)
	  	{
	  		opts[i].id = sortArray[i].d;
	  		opts[i].text = sortArray[i].t;
	  		opts[i].value = sortArray[i].v;
	  	}
	  }
	);
	return this;
};

function send_to_FeatList(){
  var check = $('#featlist_choice').getLength();
  if(($('#blank').val())||(check==0)){
    alert('You have not selected any features to examine. You must select at least one.');
    return;
  }
  var featlist = $('#featlist_choice').getLength(1);
  parse_for_FeatList(['args__'+featlist],[send_to_url]);
}
  
function send_to_url(url){
  window.open(url);
}

function counting(){
  var count;
  if($('#blank').val()) {count = 0;}
  else {count = $('#featlist_choice').getLength();}
  if (count == 0) {$('#featlist_choice').html('<option id=blank value=null>No Feature Selected</option>');}
  $('.count').html('Feature Count: '+count);
}

$.fn.getLength = function(val){
  var opt_length;
  var blastable;
  this.each(
  	function()
  	{
  		var opts = this.options;
  		opt_length = opts.length;
  		if (opt_length == 0) {return opt_length;}
  		blastable = opts[0].id;
  		if (val){
  		  for(var i=1;i<opts.length;i++)
	  	  {
	  		blastable += ","+opts[i].id;
	  		//need to chopoff last comma
	  	  }
  		}
  	}
  );
  if(val) return blastable;
  else return opt_length;
};


function onEnter(e){
  if (!e){ 
   var e = window.event;}
  if(e.which == 13){
search_chain(1);
 }
}

function search_bar(div_id){
  if($('#'+div_id).val() == "Search") $('#'+div_id).val("").css({fontStyle: "normal"});
}


</SCRIPT>
<TABLE>
 <TR>
  <TD valign=top>
   <DIV class="">
     <TABLE>
       <TR>
         <TD nowrap>
           Feature Name:
         <tD>
          <input type="text" name="accn" id="accn" tabindex="1"  size="10" value="<TMPL_VAR NAME=ACCN>" onkeypress="onEnter(event);"/>
	Add wildcard to <select id="feat_name_wild" >
	<option>neither</option>
	<option>left</option>
	<option>right</option>
	<option>both</option>
 	</select>
	side(s) of the name.
       <TR>
         <TD nowrap>
           Feature Annotation:
         <tD>
          <input type="text" name="annosearch" id="annosearch" tabindex="1"  size="10" value="<TMPL_VAR NAME=ANNO>" onkeypress="onEnter(event);"/>
	Add wildcard to <select id="feat_anno_wild" >
	<option>neither</option>
	<option>left</option>
	<option>right</option>
	<option selected>both</option>
 	</select>
	side(s) of the annotation.
	<tr><td><span class=small>Note: wildcards may slow search substantially</span>
        <TR>
	 <tD nowrap>
          Feature Type:
         <TD><div id=search_type><TMPL_VAR NAME=FEAT_TYPE></div>
        <TR>
	 <tD valign="top" nowrap>
          Organism:
         <TD>
         Name: <input type="text" size=11 onFocus="search_bar('org_text')" style="font-style:italic" value="Search" name="org_text" id="org_text" onKeyUp='timing();'><br>
	  <DIV id="org_list"><TMPL_VAR NAME="ORG_LIST"></DIV>
<!--          <select  name="org" id="org" onchange="get_feature_types(['args__orgid','org'],['search_type']);"/>
          <TMPL_LOOP NAME="ORG_LOOP">
          <TMPL_VAR NAME=ORG> 
          </TMPL_LOOP>
         </SELECT>-->
        <tr>
	<td><input type="button" value="Search" onclick="search_chain(1)">
     </TABLE>
   </DIV>
  </TD>
 </table>
 <table id="data_table" style="display:none">
 <thead align=left>
  <th>Annotation</th>
  <th>Datasets</th>
  <th>Type</th>
  <th>Selected Features List</th>
 </thead>
 <tbody>
 <TR valign=top>
  <TD valign=top>
   <DIV class="" id="accn_list"><input type="hidden" id="accn_select" ></DIV>
  </TD>
  <TD valign=top>
   <DIV class="" id="Source"></DIV>
  <TD valign=top>
    <DIV class="" id="FeatType"></DIV>
  </td>
  <TD >
    <div id="feat_list" style="display:none">
    <font class="small count">Feature Count: 0</font>
              <DIV id=featlist_select><SELECT id="featlist_choice" SIZE="10" MULTIPLE >
              <option id=blank value=null>No Feature Selected</option>
              </SELECT>
    </div>
    <input type="button" style="display: none" id=remove value="Remove" onClick="$('#'+$('#featlist_choice').val()).remove();counting();">
    <input type="button" style="display: none" id=send value="Send to Feature List Viewer" onClick="send_to_FeatList()">
   </td>
   <!-- <td valign=middle<
     <input type="button" style="display: none" id=send value="Send to Feature List Viewer" onClick="send_to_FeatList()"> --> 
 </TR>
 </tbody>
</TABLE>
<DIV id="anno"></DIV>
