<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.2.0.1.js"></SCRIPT>
<SCRIPT language="JavaScript">

$(document).ready(function(){
		$('#feat_table').tablesorter({		
		sortClassAsc: 'headerSortUp',		// Class name for ascending sorting action to header
		sortClassDesc: 'headerSortDown',	// Class name for descending sorting action to header
		headerClass: 'header',			// Class name for headers (th's)
		widgets: ['zebra'],
		textExtraction: 'complex',
		headers: {0: {sorter: false},10: {sorter: false},11: {sorter: false}},					
		});
});

/*
$(document).ready(function()
	{
		init_table();
	}
);
*/
function init_table() {
	if (ajax.length)
   {
    setTimeout("init_table()",100);
    return;
   }
	$('#feat_table').trigger('update');
}

function feature_checkboxes(){
  var action = $('#checked_action').val();
  var accn = $('#feature_list').getCheckboxes();
  
  if (accn == ",") {
    alert("You have not checked any features.");
    return;
  }
  if(action == "gevo") {
    gevo(['args__'+accn],[export_url]);
  }
  else if (action == "fasta"){
    get_fasta_seqs(['args__'+accn],[export_url]);
  }
  else if (action == "xls"){
    generate_excel_file(['args__'+accn],[export_url]);
  }
  else if (action == "blast"){
    blast(['args__'+accn],[export_url]);
  }
  else if (action == "featmap"){
  	send_to_featmap(['args__'+accn],[export_url]);
  }
  else if (action == "msa"){
    send_to_msa(['args__'+accn],[export_url]);
  }
  else {
    alert("We will get this working ... soon.");
  }
}

function export_url(url,num_accns) {
  if (url == "alert") {
    var remove = num_accns - 10;
    alert("You have exceeded the number of features you can send to GEvo ( 10 Max ). You currently have "+num_accns+" selected. Please uncheck "+remove+" of your checked item(s).");
  }
  else {
    window.open(url);
  }
}

jQuery.fn.getCheckboxes = function()
{
	var str = ",";
	this.each(
			function()
			{
				jQuery("input[@type=checkbox]",this).each(
					function() {
					  //alert(this.value);
					  if (this.checked == true) str = str + this.id +",";
					}
				);
			}
		);
	return str;
};

jQuery.fn.checkCheckboxes = function()
{
	//var returnWhat = jQuery([]);
	this.each(
		function()
		{
			jQuery("input[@type=checkbox]", this).each(
				function()
				{
					this.checked = true;
				}
			);
			//returnWhat = checked;
		}
	);
	//returnWhat = this;
};


jQuery.fn.unCheckCheckboxes = function()
{
	//var returnWhat = jQuery([]);
	this.each(
		function()
		{
			jQuery("input[@type=checkbox]", this).each(
				function()
				{
					this.checked = false;
				}
			).filter(":not(:checked)");
		}
	);
};

function show_all_codon_tables(num) {
 for (var i=1; i<=num; i++)
  {
   $('#codon_usage'+i).removeClass('link');
   gen_data(['args__loading'],['codon_usage'+i]);
   get_codon_table(i);
  }
  $('#show_all_codon').remove();
}

function get_codon_table (num) {
if (ajax.length)
   {
    setTimeout("get_codon_table("+num+")",100);
    return;
   }
   var fid =    $('#CDS'+num).val();
   codon_table(['args__featid','args__'+fid],['codon_usage'+num]);

}

function toggle_column(index) {
 $('#feat_table tr').each(function() {
  $('td:eq('+index+')',this).toggle();
  $('th:eq('+index+')',this).toggle();
 });
}


</SCRIPT>

<div id="j"></div>
<form id=feature_list>
<input type = checkbox onclick="$('#show_columns').slideToggle();"><span class = "small" >Show table Column display options?</span>
    <table class = "small resultborder" id="show_columns" style="display :none">
     <tr>
       <td><input type = checkbox onclick="toggle_column(1);" checked>Feature Name
       <td><input type = checkbox onclick="toggle_column(2);" checked>Type
       <td><input type = checkbox onclick="toggle_column(3);" checked>Chromosome
       <td><input type = checkbox onclick="toggle_column(4);" checked>Start
       <td><input type = checkbox onclick="toggle_column(5);" checked>Stop
     <tr>
       <td><input type = checkbox onclick="toggle_column(6);" checked>Strand
       <td><input type = checkbox onclick="toggle_column(7);" checked>Lenght
       <td><input type = checkbox onclick="toggle_column(8);" checked>Total GC%
       <td><input type = checkbox onclick="toggle_column(9);" checked>Total AT%
       <td><input type = checkbox onclick="toggle_column(10);" checked>Wobble Codon GC%
     <tr>
       <td><input type = checkbox onclick="toggle_column(11);" checked>Wobble Codon  AT%
       <td><input type = checkbox onclick="toggle_column(12);" checked>Organism (version)
       <td><input type = checkbox onclick="toggle_column(13);" checked>Annotation
       <td><input type = checkbox onclick="toggle_column(14);" checked>Other
    </table>

<TABLE id=feat_table>
 <THEAD align=left>
  <tr>
   <TH> </TH>
   <TH class=header>Feature Name</TH>
   <TH class=header>Type</TH>
   <TH class=header>Chr</TH>
   <TH class=header>Start</TH>
   <TH class=header>Stop</TH>
   <TH class=header>Strand</TH>
   <TH class=header>Length</TH>
   <TH class=header>GC%</TH>
   <TH class=header>AT%</TH>
   <TH class=header>Wobble GC%</TH>
   <TH class=header>Wobble AT%</TH>
   <th class=header>Organism(version)</th>
   <th>Annotation</th>
   <th>Other Information
<TMPL_IF NAME=SHOW_ALL_CODON_TABLES>
<br><span id="show_all_codon" class="link small" onclick="show_all_codon_tables(<TMPL_VAR NAME="CDS_COUNT">)">Show all codon table</span>
</TMPL_IF>
   </th>
   </tr>
 </THEAD>
 <tbody align=left valign="top">
  <TMPL_LOOP NAME=INFO>
    <TR>
      <TD><input type=checkbox id='<TMPL_VAR NAME=FEATID>'></TD>
      <TD><TMPL_VAR NAME=NAME></TD>
      <TD><TMPL_VAR NAME=TYPE></TD>
      <TD><TMPL_VAR NAME=CHR></TD>
      <TD><TMPL_VAR NAME=START></TD>
      <TD><TMPL_VAR NAME=STOP></TD>
      <TD><TMPL_VAR NAME=STRAND></TD>
      <TD><TMPL_VAR NAME=LENGTH></TD>
      <TD><TMPL_VAR NAME=GC></TD>
      <TD><TMPL_VAR NAME=AT></TD>
      <TD><TMPL_VAR NAME=WGC></TD>
      <TD><TMPL_VAR NAME=WAT></TD>
      <TD><TMPL_VAR NAME=ORG></TD>
      <TD><TMPL_VAR NAME=HPP></TD>
      <TD nowrap><TMPL_VAR NAME=OTHER></TD>
    </TR>
   </TMPL_LOOP>
  </tbody>
 </TABLE>
 </form>
<input type=button value="Check All" onclick="$('#feature_list').checkCheckboxes();">
<input type=button value="Uncheck All" onclick="$('#feature_list').unCheckCheckboxes();">
 <div id='gevo_button' style="float:left">
 			Do Following to Checked Features:  
 			<select name=checked_action id=checked_action>
	                 <option value = "blast">Send to CoGeBlast</option>
	                 <option value = "gevo">Send to GEvo</option>
           		 <option value = "msa">Send to CoGeAlign</option>
           		 <option value = "fasta">Get FASTA Sequences</option>
           		 <option value = "featmap">Get Feature Genome Map</option>
           		 <option value = "xls">Export to Excel</option>
          </selected>  
          <input type=button value="Go" onClick="feature_checkboxes()">    
  </div>