<SCRIPT language="JavaScript">

function feature_checkboxes(){
  var action = $('#checked_action').val();
  var accn = $('#feature_list').getCheckboxes();
  
  if (accn == ",") {
    alert("You have not checked any features.");
    return;
  }
  if(action == "gevo") {
    gevo(['args__'+accn],[export_url]);
  }
  else if (action == "fasta"){
    get_fasta_seqs(['args__'+accn],[export_url]);
  }
  else if (action == "xls"){
    generate_excel_file(['args__'+accn],[export_url]);
  }
  else if (action == "blast"){
    blast(['args__'+accn],[export_url]);
  }
  else if (action == "featmap"){
  	send_to_featmap(['args__'+accn],[export_url]);
  }
  else {
    alert("We will get this working ... soon.");
  }
}

function export_url(url,num_accns) {
  if (url == "alert") {
    var remove = num_accns - 10;
    alert("You have exceeded the number of features you can send to GEvo ( 10 Max ). You currently have "+num_accns+" selected. Please uncheck "+remove+" of your checked item(s).");
  }
  else {
    window.open(url);
  }
}

jQuery.fn.getCheckboxes = function()
{
	var str = ",";
	this.each(
			function()
			{
				jQuery("input[@type=checkbox]",this).each(
					function() {
					  //alert(this.value);
					  if (this.checked == true) str = str + this.id +",";
					}
				);
			}
		);
	return str;
};

jQuery.fn.checkCheckboxes = function()
{
	//var returnWhat = jQuery([]);
	this.each(
		function()
		{
			jQuery("input[@type=checkbox]", this).each(
				function()
				{
					this.checked = true;
				}
			);
			//returnWhat = checked;
		}
	);
	//returnWhat = this;
};


jQuery.fn.unCheckCheckboxes = function()
{
	//var returnWhat = jQuery([]);
	this.each(
		function()
		{
			jQuery("input[@type=checkbox]", this).each(
				function()
				{
					this.checked = false;
				}
			).filter(":not(:checked)");
		}
	);
};

function show_all_codon_tables(num) {
 for (var i=1; i<=num; i++)
  {
   $('#codon_usage'+i).removeClass('link');
   gen_data(['args__loading'],['codon_usage'+i]);
   get_codon_table(i);
  }
}

function get_codon_table (num) {
if (ajax.length)
   {
    setTimeout("get_codon_table("+num+")",100);
    return;
   }
   var fid =    $('#CDS'+num).val();
   codon_table(['args__featid','args__'+fid],['codon_usage'+num]);

}

</SCRIPT>

<div id="j"></div>
<form id=feature_list>
<TABLE width=100%>
 <THEAD align=left>
   <TH> </TH>
   <TH>Feature Name</TH>
   <TH>Type</TH>
   <TH>Location</TH>
   <TH>Length</TH>
   <TH>GC%</TH>
   <TH>AT%</TH>
   <TH>Wobble GC%</TH>
   <TH>Wobble AT%</TH>
   <th>Organism(version)</th>
   <th>Annotation</th>
   <th>Other Information
<TMPL_IF NAME=SHOW_ALL_CODON_TABLES>
<br><span class="link small" onclick="show_all_codon_tables(<TMPL_VAR NAME="CDS_COUNT">)">Show all codon table</span>
</TMPL_IF>
   </th>
 </THEAD>
 <tbody align=left valign="top">
  <TMPL_LOOP NAME=INFO>
    <TR class="<TMPL_VAR NAME=TABLE_ROW>">
      <TD><input type=checkbox id='<TMPL_VAR NAME=FEATID>'></TD>
      <TD><TMPL_VAR NAME=NAME></TD>
      <TD><TMPL_VAR NAME=TYPE></TD>
      <TD><TMPL_VAR NAME=LOC></TD>
      <TD><TMPL_VAR NAME=LENGTH></TD>
      <TD><TMPL_VAR NAME=GC></TD>
      <TD><TMPL_VAR NAME=AT></TD>
      <TD><TMPL_VAR NAME=WGC></TD>
      <TD><TMPL_VAR NAME=WAT></TD>
      <TD><TMPL_VAR NAME=ORG></TD>
      <TD><TMPL_VAR NAME=HPP></TD>
      <TD nowrap><TMPL_VAR NAME=OTHER></TD>
    </TR>
   </TMPL_LOOP>
  </tbody>
 </TABLE>
 </form>
<input type=button value="Check All" onclick="$('#feature_list').checkCheckboxes();">
<input type=button value="Uncheck All" onclick="$('#feature_list').unCheckCheckboxes();">
 <div id='gevo_button' style="float:left">
 			Do Following to Checked Features:  
 			<select name=checked_action id=checked_action>
	                 <option value = "blast">Send to CoGeBlast</option>
	                 <option value = "gevo">Send to GEvo</option>
           		 <option value = "fasta">Get FASTA Sequences</option>
           		 <option value = "featmap">Get Feature Genome Map</option>
           		 <option value = "xls">Export to Excel</option>
          </selected>  
          <input type=button value="Go" onClick="feature_checkboxes()">    
  </div>