<HTML>
<HEAD>
 <TITLE><TMPL_VAR NAME=TITLE></TITLE>
 <link rel="stylesheet" type="text/css" href="/CoGe/css/styled.css" />


 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</HEAD>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.js"></SCRIPT>
<SCRIPT language="JavaScript">

function search_chain(val) {
 minlen = 4;
 if ((val == 1) && ($('#accn').val().length < minlen)){
   return;
 } 
 //$('#accn_list').html('<input type="hidden" id="accn_select">');	
 //$('#Source').html('<input type="hidden" id="dsid">');	
 //$('#FeatType').html('<input type="hidden" id="Type_name">');	
 $('#anno').hide();	
 if (val == 1 || $('#accn').val().length > minlen) {
   cogesearch(['accn', 'type', 'org'],[source_search_chain]);

 }
}

function source_search_chain (val) {
// $('#Source').html('<input type="hidden" id="dsid"><font class="loading">Loading. . .</font>');	
// $('#FeatType').html('<input type="hidden" id="Type_name">');	
// $('#anno').hide();	
 if (val) {$('#accn_list').html(val);}
 source_search(['accn_select'], [get_types_chain]);
}

function get_types_chain (val1, val2) {
// $('#FeatType').html('<input type="hidden" id="Type_name"><font class="loading">Loading. . .</font>');	
// $('#anno').hide();	
 if (val1) {$('#Source').html(val1);}
 get_types(['accn_select', 'dsid'],[get_anno_chain]);	
}

function get_anno_chain (val1, val2) {	
//$('#anno').html('<font class="loading">Loading. . .</font>');
 if (val1) {$('#FeatType').html(val1)};
 as = $('#accn_select').val();
 tn = $('#Type_name').val();
 get_anno(['accn_select', 'Type_name', 'dsid'],[show_anno]);
}

function show_anno (anno)
 {
 $('#anno').hide(); 
 $('#anno').html(anno);
 $('#anno').slideDown("slow"); 
 }

</SCRIPT>
<TABLE>
 <TR>
  <TD valign=top>
   <DIV class="">
     <TABLE>
       <TR>
         <TD nowrap>
           Feature Name:
         <tD>
          <input type="text" name="accn" id="accn" tabindex="1"  size="10" onKeyup ="search_chain(0);"  onBlur="search_chain(1);" value="<TMPL_VAR NAME=ACCN>"/>
        <TR>
	 <tD nowrap>
          Feature Type:
         <TD>
          <select  name="type" id="type" onchange="search_chain(1);"/>
          <TMPL_LOOP NAME="TYPE_LOOP">
          <TMPL_VAR NAME=TYPE> 
          </TMPL_LOOP>
         </SELECT>
        <TR>
	 <tD nowrap>
          Organism:
         <TD>
          <select  name="org" id="org" onchange="search_chain(1);"/>
          <TMPL_LOOP NAME="ORG_LOOP">
          <TMPL_VAR NAME=ORG> 
          </TMPL_LOOP>
         </SELECT>
     </TABLE>
   </DIV>
  </TD>
 <TR valign=top>
  <TD valign=top>
   <DIV class="" id="accn_list"><input type="hidden" id="accn_select" ></DIV>
  </TD>
  <TD valign=top>
   <DIV class="" id="Source"></DIV>
  <TD valign=top>
    <DIV class="" id="FeatType"></DIV>
 </TR>
</TABLE>
<DIV id="anno"></DIV>
<SCRIPT language="Javascript">
  if ($('#accn')) {search_chain(0);};
</SCRIPT>

