<br>
<HR>
<DIV>
<font class = "small">Currently logged in as: <TMPL_VAR NAME=USER> </font><font class="xsmall"><TMPL_VAR NAME=DATE></font>
</DIV>
<script language="JavaScript" type="text/javascript" src="/CoGe/js/menu.js"></script>
</form>
</BODY>
</HTML>
