<TMPL_IF NAME='MAIN'>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.2.0.3.js"></SCRIPT>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.pager.js"></SCRIPT>
<SCRIPT TYPE="text/javascript" SRC="./js/filterlist.js"></SCRIPT>

<SCRIPT language="JavaScript">
$(document).ready(function(){
	$.ajaxSetup({
		type: "GET",
		url: '<TMPL_VAR NAME="PAGE_NAME">',
		dataType: "html",
		cache: false,
	});
	
	$(".dialog_box").dialog({
		autoOpen: false, 
		width: 500, 
  	});
});

function set_input(id, text) {
	var obj = $('#'+id);
	var val = obj.val();
	if (!text) {
		text = 'Search';
	}	
	
	if ( val && val != text ) {
		obj.css({"font-style": "normal", "color": "black"});
	}
	else {
		if (obj.is(":focus")) {
			obj.val('');
			obj.css({"font-style": "normal", "color": "black"});
		}
		else {
			obj.val(text);
			obj.css({"font-style": "italic", "color": "gray"});
		}
	}

	// Init event handlers
	$('#'+id).unbind('blur').bind('keypress', 	function() { set_input(id, text); })
			 .unbind('blur').bind('blur', 		function() { set_input(id, text); })
			 .unbind('focus').bind('focus', 	function() { set_input(id, text); });
}

function wait_to_search (search_func, search_term) {
	pageObj.search_term = search_term;
		
	if (pageObj.time) {
		clearTimeout(pageObj.time);
	}
	
	// FIXME: could generalize by passing select id instead of separate search_* functions
	pageObj.time = setTimeout(
		function() { 
			search_func(pageObj.search_term); 
		},
		500
	);
}

function search_organisms (search_term) {
	if (search_term.length > 2) {
		$.ajax({
			data: {
				jquery_ajax: 1,
				fname: 'search_organisms',
				search_term: search_term,
				timestamp: new Date().getTime()
			},
			success : function(data) {
				var obj = jQuery.parseJSON(data);
				if (obj && obj.items) {
					$("#edit_organism").autocomplete({source: obj.items});
					$("#edit_organism").autocomplete("search");
				}
			}
		});
	}
}

function search_users (search_term) {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'search_users',
			search_term: search_term,
			timestamp: new Date().getTime()
		},
		success : function(data) {
			var obj = jQuery.parseJSON(data);
			if (obj && obj.items) {
				$("#edit_user").autocomplete({source: obj.items});
				$("#edit_user").autocomplete("search");
			}
		},
	});
}

function get_genome_info () {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'get_genome_info',
			gid: <TMPL_VAR NAME='GID'>
		},
		success : function(data) {
			if (data) {
				$("#genome_info").html(data);
			}
		}
	});
}

function edit_genome_info () {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'edit_genome_info',
			gid: <TMPL_VAR NAME='GID'>
		},
		success : function(data) {
			if (data) {
				$("#genome_info_edit_box").html(data).dialog('open');
			}
		}
	});
}

function update_genome_info (){
	var org_name = $('#edit_organism').val();
	if (!org_name || org_name == 'Search') {
		alert('Please select an organism.');
		return;
	}

	var version = $('#edit_version').val();
	if (!version) {
		alert('Please specify a genome version.');
		return;
	}

	var source_name = $('#edit_source').val();
	if (!source_name || source_name == 'Search') {
		alert('Please specify a data source.');
		return;
	}

	var name = $('#edit_name').val();
	if (name == 'Optional') { name = ''; }

	var description = $('#edit_description').val();
	if (description == 'Optional') { description = ''; }

	var type_id = $('#select_type').val();
	var restricted = $('#restricted').is(':checked');

	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'update_genome_info',
			gid: "<TMPL_VAR NAME='GID'>",
			name: name,
			description: description,
			version: version,
			type_id: type_id,
			restricted: restricted,
			org_name: org_name,
			source_name: source_name,
			timestamp: new Date().getTime()
		},
		success : function(val) {
			if (val) {
				alert(val);
			}
			else {
				get_genome_info();
				$("#genome_info_edit_box").dialog('close');
			}
		}
	});
}

function export_gff (gid) {
	var server = '<TMPL_VAR NAME="SERVER">';
	var link = server+"bin/export/coge_gff.pl?dsgid=";
	link += gid;
	if ($('#cds_only')[0].checked) {link += ";cds=1";}
	if ($('#annos')[0].checked) {link += ";annos=1";}
	if ($('#name_unique')[0].checked) {link += ";nu=1";}
	if ($('#upa')[0].checked) {link += ";upa=1";}
	link += ";id_type="+$('#gff_id_type').val();
	$('#export_gff_link').html("<a href="+link+" target=_new>Link: "+ link+"<\a>");
	window.open(link);
}

function export_tbl (gid) {
	var server = '<TMPL_VAR NAME="SERVER">';
	var link = server+"bin/export/export_NCBI_TBL.pl?dsgid=";
	link += gid;
	window.open(link);
}

function export_bed (gid) {
	var server = '<TMPL_VAR NAME="SERVER">';
	var link = server+"bin/export/coge2bed.pl?gid=";
	link += gid;
	window.open(link);
}

</SCRIPT>


<table style="overflow:hidden;">
	<tr style="vertical-align:top;">
		<td>
			<span style="color:dimgray;font-weight:bold;">Genome Info</span>
			<div id='genome_info' class="small ui-widget-content ui-corner-all" style="width:400px;"><TMPL_VAR NAME="GENOME_INFO"></div>
			<TMPL_IF NAME='USER_CAN_EDIT'>
				<span class='ui-button ui-corner-all' onClick="edit_genome_info();">Edit Info</span>
			</TMPL_IF>
		</td>
		<td style="padding-left:10px;">
			<span id='genome_data' style="color:dimgray;font-weight:bold;"><!--Genome Data-->&nbsp;</span>
			<div class="small ui-widget-content ui-corner-all"><TMPL_VAR NAME="GENOME_DATA"></div>
			<span class='ui-button ui-corner-all ui-button-icon-right' onclick="window.open('GenomeView.pl?gid=<TMPL_VAR NAME=GID>')"><span class="ui-icon ui-icon-extlink"></span>Genome View</span>
		</td>
	</tr>
</table>
<br>

<span style="color:dimgray;font-weight:bold;">Sequence & Annotation</span><br>
<TMPL_IF NAME='ANNOTATION'>
	<table class="small ui-widget-content ui-corner-all" style="color:gray;">
		<tr>
			<td>
				<TMPL_VAR NAME='ANNOTATION'>
			</td>
		</tr>
	</table>
</TMPL_IF>
<TMPL_IF NAME='USER_CAN_EDIT'>
	<span class='ui-button ui-corner-all ui-button-icon-right' onclick="window.open('LoadAnnotation.pl?gid=<TMPL_VAR NAME=GID>')"><span class="ui-icon ui-icon-extlink"></span>Load Annotation</span>
</TMPL_IF>
<br><br>

<span style="color:dimgray;font-weight:bold;">Experiments</span><br>
<TMPL_IF NAME='EXPERIMENTS'>
	<table class="small ui-widget-content ui-corner-all">
		<tr>
			<td>
				<TMPL_VAR NAME='EXPERIMENTS'>
			</td>
		</tr>
	</table>
</TMPL_IF>
<TMPL_IF NAME='USER_CAN_EDIT'>
	<span class='ui-button ui-corner-all ui-button-icon-right' onclick="window.open('LoadExperiment.pl?gid=<TMPL_VAR NAME=GID>')"><span class="ui-icon ui-icon-extlink"></span>Load Experiment</span>
</TMPL_IF>
<br><br>

<div id="genome_info_edit_box" class="dialog_box" title="Edit Genome Info" style="display:none;"></div>
<div id="genome_notebooks_edit_box" class="dialog_box" title="Add to Notebook" style="display:none;"></div>
<div id="genome_users_edit_box" class="dialog_box" title="Add Users" style="display:none;"></div>
<div id="genome_groups_edit_box" class="dialog_box" title="Add Groups" style="display:none;"></div>

<!--Added by Eric: 1/31/2013: dialog box for GFF exporter-->
<div class="dialog_box" title="GFF Exporter" id="gff_export" style="display:none;">
<table class=small>
 <tr>
   <td>Do not generate features for ncRNA genes (CDS genes only)</td>
   <td><input type=checkbox name="cds_only" id="cds_only"></td>
 </tr>
 <tr>
   <td>Include feature annotations (descriptive text; Geneontology; etc)</td>
   <td><input type=checkbox name="annos" id="annos" checked></td>
 </tr>
 <tr>
   <td>Ensure that GFF Name tag is unique for each feature</td>
   <td><input type=checkbox name="name_unique" id="name_unique" checked></td>
 </tr>
 <tr>
   <td>Do not propagate duplicate annotations to children</td>
   <td><input type=checkbox name="upa" id="upa" checked></td>
 </tr>
 <tr>
   <td>For GFF "ID" and "Parent" tags, use unique:
   <td>
     <select id="gff_id_type">
      <option value="name" selected>Name</option>
      <option value="num">Number</option>
     </select>
 </tr>
</table>
<span class="ui-button ui-corner-all" onClick="export_gff(<TMPL_VAR NAME=GID>)">Export GFF File</span>
<br><br><span class="small" id="export_gff_link"></span>
</div>

</TMPL_IF>



<TMPL_IF NAME="DO_GENOME_INFO">
	<table class="small">
		<tr>
	 		<td class='title5' style='white-space:nowrap;'>Genome ID:</td>
			<td class='data5'><TMPL_VAR NAME="GID"></td>
		</tr>	
		<tr>
	 		<td class='title5' style='white-space:nowrap;'>Organism:</td>
			<td class='data5'><span class="link" onclick="window.open('OrganismView.pl?gid=<TMPL_VAR NAME=GID>')"><TMPL_VAR NAME="ORGANISM"></span></td>
		</tr>
		<tr>
			<td class='title5' style='white-space:nowrap;'>Version:</td>
			<td class='data5'><TMPL_VAR NAME="VERSION"></td>
		</tr>
		<tr>
			<td class='title5' style='white-space:nowrap;'>Type:</td>
			<td class='data5'><TMPL_VAR NAME="TYPE"></td>
		</tr>
		<tr>
			<td class='title5' style='white-space:nowrap;'>Source:</td>
			<td class='data5'><TMPL_VAR NAME="SOURCE"></td>
		</tr>
		<tr>
			<td class='title5' style='white-space:nowrap;'>Restricted:</td>
			<td class='data5'><TMPL_VAR NAME="RESTRICTED"></td>
		</tr>
		<tr>
			<td class='title5' style='white-space:nowrap;'>Name:</td>
			<td class='data5'><TMPL_VAR NAME="NAME"></td>
		</tr>
		<tr>
			<td class='title5' style='white-space:nowrap;'>Description:</td>
			<td class='data5'><TMPL_VAR NAME="DESCRIPTION"></td>
		</tr>
		<TMPL_IF NAME="DELETED">
		<tr>
			<td class='alert' style='white-space:nowrap;'>Note:</td>
			<td class='alert'>This genome is deleted</td>
		</tr>
		</TMPL_IF>
	</table>
</TMPL_IF>



<TMPL_IF NAME="EDIT_GENOME_INFO">
	<script>
	$(function() {
		$("#edit_source").autocomplete({source: <TMPL_VAR NAME='SOURCES'>});
	});
	set_input('edit_organism');
	set_input('edit_source');
	set_input('edit_name', 'Optional');
	set_input('edit_description', 'Optional');
	</script>
	
	<table class="small">
	  <tr>
	    <td>Organism:</td>
	    <td>
	      <input id="edit_organism" onkeyup="wait_to_search(search_organisms, this.value);" size="45" value="<TMPL_VAR NAME='ORGANISM'>"/>
	      <!--<span id="new_organism_button" onClick="$('#create_new_organism_dialog').dialog('open'); activate_on_input('edit_organism_name', 'create_organism_button');" class='ui-button ui-corner-all'>New</span>-->
	    </td>
	  </tr>	
	  <tr>
	    <td>Version:</td>
	    <td><input id="edit_version" type="textbox" size="10" value="<TMPL_VAR NAME='VERSION'>" /></td>
	  </tr>
	  <tr>
	    <td>Type:</td>
	    <td>
	      <select id="select_type" style="width:230px;" value="<TMPL_VAR NAME='TYPES'>"></select>
	      <!-- <span id="new_type_button" onClick="$('#create_new_type_dialog').dialog('open'); activate_on_input('edit_type_name', 'create_type_button');" class='ui-button ui-corner-all'>New</span> -->
	    </td>
	  </tr>
	  <tr>
	    <td>Source:</td>
	    <td>
	      <input id="edit_source" size="45" value="<TMPL_VAR NAME='SOURCE'>"/>
	      <!-- <span id="new_source_button" onClick="$('#create_new_source_dialog').dialog('open'); activate_on_input('edit_source_name', 'create_source_button');" class='ui-button ui-corner-all'>New</span> -->
	    </td>
	  </tr>
	  <tr>
	    <td>Restricted?</td>
	    <td><input id="restricted" type="checkbox" <TMPL_IF NAME='RESTRICTED'>checked</TMPL_IF>></td>
	  </tr>
	  <tr>
	    <td>Name:</td>
	    <td><input id="edit_name" type="textbox" size="58" value="<TMPL_VAR NAME='NAME'>" /></td>
	  </tr>
	  <tr>
	    <td>Description:</td>
	    <td><textarea id="edit_description" rows="5" cols="50" ><TMPL_VAR NAME='DESCRIPTION'></textarea></td>
	  </tr>
	</table>
	<br>
	<span onClick="update_genome_info();" class='ui-button ui-corner-all ui-button-go'>Update</span>
</TMPL_IF>



<TMPL_IF NAME="DO_GENOME_DATA">
	<table class="small">
		<tr>
	 		<td class='title5'>Chromosomes:</td>
			<td class='data5'><TMPL_VAR NAME="CHROMOSOME_COUNT"></td>
		</tr>
		<tr>
			<td class='title5'>Length:</td>
			<td class='data5'><TMPL_VAR NAME="LENGTH"></td>
		</tr>
		<tr>
			<td class='title5'>Download:</td>
			<td class='data5'><TMPL_VAR NAME="DOWNLOAD"></td>
		</tr>
		<tr>
			<td class='title5'>Links:</td>
			<td class='data5'><TMPL_VAR NAME="LINKS"></td>
		</tr>
	</table>
</TMPL_IF>



<TMPL_IF NAME='DO_EXPERIMENTS'>
	<TMPL_LOOP NAME="EXPERIMENT_LOOP">
		<TMPL_VAR NAME="EXPERIMENT_INFO"><br>
	</TMPL_LOOP>
</TMPL_IF>



<TMPL_IF NAME='DO_DATASETS'>
	<TMPL_LOOP NAME="DATASET_LOOP">
		<TMPL_VAR NAME="DATASET_INFO"><br>
	</TMPL_LOOP>
</TMPL_IF>



<TMPL_IF NAME='ADMIN_AREA'>
	<script>
	$(document).ready(function() {
		set_input('edit_user');
		$("#edit_user").autocomplete({
			source:[], 
			focus: function() { return false; },
		});	
	});
	function update_owner () {
		var user_name = $('#edit_user').val();
		if (!user_name || user_name == 'Search') {
			alert('Please specify a user.');
			return;
		}

		$.ajax({
			data: {
				jquery_ajax: 1,
				fname: 'update_owner',
				gid: "<TMPL_VAR NAME='GID'>",
				user_name: user_name,
				timestamp: new Date().getTime()
			},
			success : function(data) {
				if (data) {
					alert(data);
				}
			}
		});
	}
	</script>
	<br><br><hr>
	<span style="color:dimgray;font-weight:bold;">Admin Functions</span><br>
	<div class="small">
		Assign to user:
	    <input id="edit_user" onkeyup="wait_to_search(search_users, this.value);" size="10" />
	    <span onClick="update_owner();" class='ui-button ui-corner-all ui-button-go'>Go</span>
	  	<div>
	  	  Datasets:
	  	  <div style="padding-left:20px;">
	  		<TMPL_VAR NAME="DATASETS">
	  	  </div>
	  	</div>
	</div>
	<br>
</TMPL_IF> <!-- ADMIN_AREA -->


