<TMPL_INCLUDE NAME="widgets/JBrowse.tmpl">

<SCRIPT type="text/javascript">
$(function() {
	// Initialize JBrowse widget
	init_JBrowse('jbrowse', '<TMPL_VAR NAME="API_BASE_URL">');
});
</SCRIPT>

<TMPL_IF NAME="GENOME_INFO">
<div class="link" style="font-size:1.25em" onclick="window.open('GenomeInfo.pl?gid=<TMPL_VAR NAME=GENOME_ID>');">
  <TMPL_VAR NAME="GENOME_INFO">
</div>
</TMPL_IF>
<div id="jbrowse" style="height:<TMPL_VAR NAME='HEIGHT'>; width:<TMPL_VAR NAME='WIDTH'>; padding:0; border:1px solid gray;">
  <img src="picts/ajax-loader.gif"> Loading ...
</div>
