<TMPL_INCLUDE NAME="widgets/JBrowse.tmpl">

<SCRIPT type="text/javascript">
$(function() {
	// Initialize JBrowse widget
	init_JBrowse('jbrowse');
});
</SCRIPT>

<div class="link" style="font-size:1.25em" onclick="window.open('GenomeInfo.pl?gid=<TMPL_VAR NAME=GENOME_ID>');">
  <TMPL_VAR NAME="GENOME_INFO">
</div>
<div id="jbrowse" style="height:80%; width:100%; padding:0; border:1px solid gray;">
  <img src="picts/ajax-loader.gif"> Loading ...
</div>
