<TMPL_IF NAME=SEQ_RETRIEVAL>
<HTML>
<HEAD>
 <TITLE><TMPL_VAR NAME=TITLE></TITLE>
 <link rel="stylesheet" type="text/css" href="/CoGe/css/styled.css" />
 <link rel="stylesheet" type="text/css" href="/CoGe/css/sddm.css" />
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</HEAD>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.js"></SCRIPT>
<script language="JavaScript" type="text/javascript" src="/CoGe/js/menu.js"></script>
<script src="/CoGe/gobe/static/swfobject.js" ></script>
<SCRIPT language="JavaScript">


function submitform() {
  document.main_form.submit();
}
function change( info ) {
        document.getElementById("info").innerHTML = info;        
}

function changeColor(id, color) {
  document.getElementById(id).style.color = color;
}

function setup(){

$(".location").keyup(function(){
     if($('#apply_all')[0].checked){
        var self = this;
        $('.location').val(self.value)
     }
});
<TMPL_VAR NAME="AUTOSEARCH">
}

function rset () {
var num_seqs = $("#num_seqs").val();
$("#results").html(" ");

for (var i =1; i<= num_seqs; i++)
  {
    
    $('#accn'+i).val("");
    dataset_search(['accn'+i,'args__'+i],[feat_search_chain]);
    $('#gbaccn'+i).val("");
    $('#dirseq'+i).val("");
    
  }

}

function feat_search_chain(stuff, num) {
 if (stuff) {
  $("#source"+num).html(stuff);
  feat_search(['accn'+num,'dsid'+num, 'args__'+num],['feat'+num]);
 }
}

//this func switching the "left" and "right" sequence values when reverse region display is selected
function rev_locs (val) {
  up = $('#'+'drup'+val).val();
  down = $('#'+'drdown'+val).val();
  $('#'+'drup'+val).val(down);
  $('#'+'drdown'+val).val(up);

}

function displayAnchor(){
var checkbox = $('#use_anchor')[0].checked;
var anchor_program = $('#anchor_program').val();
if (checkbox)
{
 $('#anchor_menu').show();
 $('#anchor_options').show();
 anchor_placement([anchor_program],[anchor_options]);
}
else{
 $('#anchor_menu').hide();
 $('#anchor_options').hide();
 }
}

function check_anchor_program (){
var anchor_program = $('#anchor_program').val();
anchor_placement([anchor_program],[anchor_options]);
}
  
function check_alignment_program (){

var alignment = $("#alignment_program").val();
  $("#blast_options").hide();
  $("#tblastx_options").hide();
  $("#lagan_options").hide();
  $("#blastz_options").hide();
  $("#chaos_options").hide();
  $("#spike_sequence").hide();
  $("#dialign_options").hide();
  $("#dialign_motif_options").hide();
  $("#dialign_parameters").hide();
  $('#anchor_menu').hide();
  $('#anchor_options').hide();

  var spike = $("#spike").val();
  $("#spike").val(0);

if (alignment == "blastz")
 {
  $("#blastz_options").show();	
 }
else if (alignment == "lagan")
 {
  $("#lagan_options").show();
 }
else if (alignment == "chaos")
 {
  $("#chaos_options").show();
 }
else if (alignment == "dialign")
 {
  $("#dialign_options").show();
  $("#dialign_parameters").show();
 } 
else if (alignment == "tblastx")
 {
  $("#blast_options").show();
  $("#blastn_options").hide();
  $("#blast_wordsize").val(3);
  $("#blast_gapopen").val(11);
  $("#blast_gapextend").val(1);
  $("#blast_eval").val(10);
  $("#blast_mismatch").hide();
  $("#blast_match").hide();
  $("#tblastx_options").show();	
 }	
else if (alignment == 'blastn')
 {
  $("#blast_options").show();
  $("#blastn_options").show();
  $("#spike_sequence").show();
  $("#blast_wordsize").val(7);
  $("#blast_gapopen").val(5);
  $("#blast_gapextend").val(2);
  $("#blast_eval").val(100);
  $("#blast_mismatch").show();    
  if (spike == "undefined" || spike == 0) {spike = 15;} 	
  $("#spike").val(spike);		
 }

 }


$(document).ready(function(){

check_alignment_program();
setup();

 });


function handle_results (html,w, h, img_base, n_images) {
 //clearInterval(interval);
 $('#results').html(html);
 var so = new SWFObject("/CoGe/gobe/flash/gobe.swf", "gobe", w, h, "9", "#FFFFFF");
 so.useExpressInstall('/CoGe/gobe/flash/expressinstall.swf');
 so.addVariable('n', n_images);
 so.addVariable('base_url', '/CoGe/gobe/');
 so.addVariable('tmp_dir', 'tmp/');
 so.addVariable('img', img_base );
 so.write("flashdiv");
 

}



</SCRIPT>
<div id="message"><TMPL_VAR NAME="MESSAGE"></div>
<table>
<tr>
<td>
<div id="go_button"><TMPL_VAR NAME="GO_BUTTON"></div>
<td>
<input type="button" value="Clear" onClick="rset()">
</table>
<form>
<table>
 <tr>
  <td>
Number of sequences: 
  <td>
<input class="backbox" name=num_seqs id=num_seqs type="textbox" size=2 value=<TMPL_VAR NAME ="NUM_SEQS">>
  <td>
<input type="submit" value="reload">
  <td>
<DIV id ="add_button"> <TMPL_VAR NAME="ADD_BUTTON"><DIV>
 </table>
</form>


<form method="post" enctype="multipart/form-data" name="main_form" onSubmit="">
<TABLE class="basic" width=100%>
 <TR>
  <TH colspan="<TMPL_VAR NAME="NUM_SEQS">" align=left>
   <DIV class="mainDiv">
   <DIV id = "dr" class="topItem" onMouseOver="Init(this); changeColor('dr','#000099'); " onMouseOut="changeColor('dr','#009900');">CoGe Database Retrieval:</DIV>
   <DIV class="dropMenu">
     <DIV class="subMenu" style="display:<TMPL_VAR NAME=DRMENU>;">
     <TMPL_VAR NAME="COGE_SEQS">
     <Div class ="small" align = "left">Apply distance to all?<input type="checkbox" name="apply_all" id="apply_all" value="0" /></div>

     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     </DIV>
  </DIV>
  </DIV>
 </TR>

 <TR>
  <TH colspan="<TMPL_VAR NAME="NUM_SEQS">" align=left>
   <DIV class="mainDiv" >
   <DIV id="isr" class="topItem" onMouseOver="Init(this);changeColor('isr','#000099'); " onMouseOut="changeColor('isr','#009900');" >NCBI Sequence Retrieval:</DIV>
   <DIV class="dropMenu">
     <DIV class="subMenu" style="display:<TMPL_VAR NAME=GBMENU>;" >
     <TMPL_VAR NAME="NCBI_SEQS">	
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     </DIV>
  </DIV>
  </DIV>		
 </TR>
 <TR>
  <TH colspan="<TMPL_VAR NAME="NUM_SEQS">" align=left>
   <DIV class="mainDiv" >
   <DIV id="dss" class="topItem" onMouseOver="Init(this);  changeColor('dss','#000099'); " onMouseOut="changeColor('dss','#009900');" >Direct Sequence Submission:</DIV>
   <DIV class="dropMenu">
     <DIV class="subMenu" style="display:<TMPL_VAR NAME=DIRMENU>;" >
     <TMPL_VAR NAME="DIRECT_SEQS">		
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     </DIV>
  </DIV>
  </DIV>		
 </TR>
</TABLE>
</TMPL_IF>

<TMPL_IF NAME=OPTIONS>
<TABLE class="basic" width=100%>
 <TR>
  <TH colspan="2" align=left>
  <DIV class="mainDiv">
   <DIV id="bp" class="topItem" onMouseOver="Init(this);changeColor('bp','#000099'); " onMouseOut="changeColor('bp','#009900');" >Comparison Parameters and Options:</DIV>
   <DIV class="dropMenu">
     <DIV class="subMenu" style="display:none;">
     <TABLE style="width: 100%;">
      <TR valign=top>
      <TD>
      <TABLE class=small>
  <TR>
  <Th>Sequence and Algorithm Options: </TD>
  <TD>
  <select class="backbox" id="alignment_program" size="1" onchange='check_alignment_program()'>
       <TMPL_VAR NAME=ALIGNMENT_PROGRAMS>
      </select>
   </TD>
 </TR>
   </Table>    




 <DIV id = "blast_options">
 <Table class=small>    

 <TR>
  <TD>Match Score (-r): </TD>
  <TD><input class="backbox" type="text" name="blast_match" id="blast_match" tabindex="1" size="3" value="1" /></TD>
 </TR>    
 <TR>
  <TD>Mismatch Penalty (-q): </TD>
  <TD><input class="backbox" type="text" name="blast_mismatch" id="blast_mismatch" tabindex="1" size="3" value="-2" /></TD>
 </TR> 
 <TR>
  <TD>Gap Open Penalty (-G): </TD>
  <TD><input class="backbox" type="text" name="blast_gapopen" id="blast_gapopen" tabindex="1" size="3" value="5" /></TD>
 </TR>    
 <TR>
  <TD>Gap Extension Penalty (-E): </TD>
  <TD><input class="backbox" type="text" name="blast_gapextend" id="blast_gapextend" tabindex="1" size="3" value="2" /></TD>
 </TR>    
  <TR>
  <TD>Word Size (-W):</TD>
  <TD><input class="backbox" type="text" name="blast_wordsize" id="blast_wordsize" tabindex="1" size="3" value="7" /></TD>
 </TR>
 <TR>
  <TD>Filter query sequence (DUST/SEG) (-F): </TD>
  <TD>
    <select class="backbox" name="blast_filter" id="blast_filter" tabindex="1" >
     <option value="T">Yes</option>
     <option value="F" selected>No</option>
    </select>
  </TD>
 </TR>    
 <TR>
  <TD>Expectation value (E) (-e): </TD>
  <TD><input class="backbox" type="text" name="blast_eval" id="blast_eval" tabindex="1" size="3" value="100" /></TD>
 </TR>
 <TR>
  <TD>Other Blast Parameters: </TD>
  <TD><input class="backbox" type="text" name="blastparams" id="blastparams" tabindex="1" size="10"/></TD>
 </TR>
</TABLE>
</DIV>


 <DIV id="tblastx_options" class="small">
 <font class="small">Hide HSPs with stop codons in a coding sequence?<label><input class="backbox" type="radio" name="show_hsps_with_stop_codon" id="show_hsps_with_stop_codon" tabindex="1" value="1" />Yes</label><label><input class="backbox" type="radio" name="show_hsps_with_stop_codon" id="show_hsps_with_stop_codon" tabindex="1" value="0" checked />No</label></font>
<br>Note: Word size limited to 3 for tblastx
</DIV> 


 <DIV id="spike_sequence">
  <table class=small>
  <tr colspan>
  <th> HSP filter by spike sequence
  <td>(set to 0 to turn off):
  <tr align=left class=small>
  <td><li>Spike sequence length:
  <td><input type="text" size="3" class="backbox" id="spike" value=<TMPL_VAR NAME=SPIKE_LEN>> nucleotides
   </TR>
  </table>
 </DIV>

 <DIV id="chaos_options" class="small">
<table class = small>
   <TR>
  <TD>Word size: </TD>
  <TD><input class="backbox" type="text" name="chaos_word_length" id="chaos_word_length" tabindex="1" size="3" value="8" /></TD>
 </TR>    
 <TR>
  <TD>Score cutoff: </TD>
  <TD><input class="backbox" type="text" name="chaos_score_cutoff" id="chaos_score_cutoff" tabindex="1" size="3" value="25" /></TD>
 </TR>    
 <TR>
  <TD>Rescore cutoff: </TD>
  <TD><input class="backbox" type="text" name="chaos_rescore_cutoff" id="chaos_rescore_cutoff" tabindex="1" size="3" value="0" /></TD>
 </TR>    
 <TR>
  <TD>Lookback distance:<br><font class=small>(length between seed alignments for chaining)</font></TD>
  <TD><input class="backbox" type="text" name="chaos_lookback" id="chaos_lookback" tabindex="1" size="3" value="20" /></TD>
 </TR>    
 <TR>
  <TD>Maximum gap length between seeds for chaining: </TD>
  <TD><input class="backbox" type="text" name="chaos_gap_length" id="chaos_gap_length" tabindex="1" size="3" value="5" /></TD>
 </TR>    
 <TR>
  <TD>Gap start penality: </TD>
  <TD><input class="backbox" type="text" name="chaos_gap_start" id="chaos_gap_start" tabindex="1" size="3" value="0" /></TD>
 </TR>    
 <TR>
  <TD>Gap extend penality: </TD>
  <TD><input class="backbox" type="text" name="chaos_gap_extension" id="chaos_gap_extension" tabindex="1" size="3" value="-1" /></TD>
 </TR>    
  <TR>
  <TD>Other Chaos parameters: </TD>
  <TD><input class="backbox" type="text" name="chaos_params" id="chaos_params" tabindex="1" size="10" /></TD>
 </TR>         

</table>

</DIV>

 <DIV id="blastz_options" class="small">
<table class = small>
   <TR>
  <TD>Word size: </TD>
  <TD><input class="backbox" type="text" name="blastz_wordsize" id="blastz_wordsize" tabindex="1" size="4" value="8" /></TD>
 </TR>    
<TR>
  <TD>Gap start penality: </TD>
  <TD><input class="backbox" type="text" name="blastz_gap_start" id="blastz_gap_start" tabindex="1" size="4" value="400" /></TD>
 </TR>    
 <TR>
  <TD>Gap extend penality: </TD>
  <TD><input class="backbox" type="text" name="blastz_gap_extension" id="blastz_gap_extension" tabindex="1" size="4" value="30" /></TD>
 </TR>    
 <TR>
  <TD>Chaining: </TD>
  <TD><select class="backbox" id="blastz_chaining" tabindex="1" />
      <option value=0>no chaining</option>
      <option value=1>just output chain</option>
      <option value=2>chain and extend</option>
      <option value=3>just output HSPs</option>
      </select></TD>
 </TR>    
 <TR>
  <TD>Score threshold: </TD>
  <TD><input class="backbox" type="text" name="blastz_threshold" id="blastz_threshold" tabindex="1" size="4" value="3000" /></TD>
 </TR>    
 <TR>
  <TD>Mask threshold: </TD>
  <TD><input class="backbox" type="text" name="blastz_mask" id="blastz_mask" tabindex="1" size="4" value="0" /></TD>
 </TR>    


  <TR>
  <TD>Other Blastz parameters: </TD>
  <TD><input class="backbox" type="text" name="blastz_params" id="blastz_params" tabindex="1" size="10" /></TD>
 </TR>         

</table>


</DIV>

 <DIV id="lagan_options" class="small">
   <Table class=small>    
  <TR>
  <TD>Min HSP Length: </TD>
  <TD><input class="backbox" type="text" name="lagan_min_length" id="lagan_min_length" tabindex="1" size="3" value="10" /></TD>
 </TR>    
 <TR>
  <TD>Max Contiguous Gaps in HSPs: </TD>
  <TD><input class="backbox" type="text" name="lagan_max_gap" id="lagan_max_gap" tabindex="1" size="3" value="4" /></TD>
 </TR>    
 <TR>
  <TD>Min Percent Identity: </TD>
  <TD><input class="backbox" type="text" name="lagan_percent_id" id="lagan_percent_id" tabindex="1" size="3" value="70" /></TD>
 </TR>    
 <TR>
  <TD>Other Lagan Parameters: </TD>
  <TD><input class="backbox" type="text" name="lagan_params" id="lagan_params" tabindex="1" size="10" /></TD>
 </TR>         

</TABLE>
</DIV>

<DIV id="dialign_options" class="small">
   <Table class=small>    
  <TR>
   <TD>Use Anchored Alignment
   <TD><input type="checkbox" value="0" id="use_anchor" name="use_anchor" onChange="displayAnchor()"></TD>
  </TR>
  <TR>
  <TD>Min Alignment Score: </TD>
  <TD><input class="backbox" type="text" name="dialign_min_score" id="dialign_min_score" tabindex="1" size="3" value="1" /></TD>
 </TR>    
 <TR>
  <TD>Max Contiguous Low Score Alignments in HSPs: </TD>
  <TD><input class="backbox" type="text" name="dialign_max_gap" id="dialign_max_gap" tabindex="1" size="3" value="4" /></TD>
 </TR> 
 <TR>
  <TD>Split HSPs on Different Alignment Scores</TD>
  <TD><input class="backbox" type="radio" name="dialign_split_score" id="dialign_split_score" tabindex="1" value="1" />Yes</label><label><input class="backbox" type="radio" name="dialign_split_score" id="dialign_split_score" tabindex="1" value="0" checked />No</label></TD>
 </TR>
 <TR>
  <TD>Use Translations in Alignment</TD>
  <TD><input class="backbox" type="radio" name="dialign_use_translation" id="dialign_use_translation" tabindex="1" value="1" onClick="$('#dialign_params').val('-nt -cs -ma')" />Yes</label><label><input class="backbox" type="radio" name="dialign_use_translation" id="dialign_use_translation" tabindex="1" value="0" onClick="$('#dialign_params').val('-n')" checked />No</label></TD>
 </TR>
  <TR>
  <TD>Use Motif in Alignment</TD>
  <TD><input class="backbox" type="radio" name="dialign_motif" id="dialign_motif" tabindex="1" value="1" onClick="$('#dialign_motif_options').show();" />Yes</label><label><input class="backbox" type="radio" name="dialign_motif" id="dialign_motif" tabindex="1" value="0" onClick="$('#dialign_motif_options').hide()" checked />No</label></TD>
 </TR>
 </TABLE>
  </DIV>
 <DIV id="dialign_motif_options" class="small">
 <Table class=small>  
 <TR>
 <TD> Motif </TD>
  <TD><input class="backbox" type="text" name="dialign_motif_motif" id="dialign_motif_motif" tabindex="1" size="5" /></TD>
 </TR>
 <TR>
 <TD> Weighting Factor (Assigns bonus) </TD>
  <TD><input class="backbox" type="text" name="dialign_motif_weight" id="dialign_motif_weight" tabindex="1" size="5" /></TD>
 </TR>
 <TR>
 <TD> Distance Penalty </TD>
  <TD><input class="backbox" type="text" name="dialign_motif_penalty" id="dialign_motif_penalty" tabindex="1" size="5" /></TD>
 </TR>
 </TABLE>
 </DIV>
 <DIV id="dialign_parameters"  class="small">
 <Table class=small>
 <TR>
  <TD>Long Sequence Alignment</TD>
  <TD><input class="backbox" type="radio" name="dialign_lsa" id="dialign_lsa" tabindex="1" value="1" onClick="$('#dialign_params').val('-ds -n -thr 2 -lmax 30')" />Yes</label><label><input class="backbox" type="radio" name="dialign_lsa" id="dialign_lsa" tabindex="1" value="0" onClick="$('#dialign_params').val('-n')" checked />No</label></TD>
 </TR>
 <TR>
  <TD>Other Dialign Parameters: </TD>
  <TD><input class="backbox" type="text" name="dialign_params" id="dialign_params" tabindex="1" size="20"  value="-n"/></TD>
 </TR>         
</TABLE>
<b>Note</b>: Using Translation Increases CDS Alignment Accuracy at Cost of Speed - Not Recommended for Sequences > 10 kb
</DIV>

<TD>
<DIV id="anchor_menu" class="small">
<TABLE class=small>
 <TR>
  <TD>Select Anchor Program </TD>
  <TD><select class="backbox" id="anchor_program" size="1" onchange='check_anchor_program()'>
       <option value="lagan_options">bl2seq</option>
       <option value="chaos_options" selected>chaos</option>
      </select>
  </TD>
 </TR>
</TABLE>
</DIV>
<DIV id="anchor_options" class="small">Hello!</DIV>
</TD>
<td width="2" bgcolor="#99FF99">


<td class=small> Select reference sequence(s) to which all other sequences will be compared:<br>
<TMPL_VAR NAME=REFERENCE_SEQUENCES>

<TABLE class=small>
 <TR align=left>
  <TH >
   <li>Mask Exons:
  <TD >
   <label><input class="backbox" type="radio" name="mask" id="mask_cds" tabindex="22" value="1" <TMPL_VAR NAME=EXON_MASK_ON> />On</label>
    <label><input class="backbox" type="radio" name="mask" id="mask_cds" tabindex="22" value="0" <TMPL_VAR NAME=EXON_MASK_OFF> />Off</label>
 </TR>
 <TR align=left>
  <TH>
   <li>Mask Non-coding Sequence:
  <TD >
   <label><input class="backbox" type="radio" name="mask_ncs" id="mask_ncs" tabindex="22" value="1" />On</label>
   <label><input class="backbox" type="radio" name="mask_ncs" id="mask_ncs" tabindex="22" value="0" checked />Off</label>
 </TR>
 </TABLE>
     </table>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     </DIV>
  </DIV>
  </DIV>
 </TR>
	  
 </TR>
</TABLE>

<TABLE class="basic" width=100%>
 <TR>
  <TH colspan="2" align=left>
  <DIV class="mainDiv">
   <DIV id="ip" class="topItem" onMouseOver="Init(this);changeColor('ip','#000099'); " onMouseOut="changeColor('ip','#009900');" >Image Parameters:</DIV>
   <DIV class="dropMenu">
     <DIV class="subMenu" style="display:none;">
     <TABLE style="width: 100%;">
      <TR>
      <TD>

<table valign>
<td valign=top>
<TABLE class="basic">
 <TR>
  <TD>
    <DIV class="small">
      Image Width (Pixels):
    </DIV>
  </TD>
  <TD>
    <DIV class="small">
	<input class="backbox" type="text" name="iw" id="iw" tabindex="1"  size="10" value="1000" />
    </DIV>
  </TD>
 </TR>
 <TR>
  <Td>
    <DIV class="small">
      Image Height (Pixels):
    </DIV>
  </Td>
  <TD>
    <DIV class="small">
	<input class="backbox" type="text" name="ih" id="ih" tabindex="1"  size="10" value="100" />
    </DIV>
  </TD>

 </TR>
 <TR>
  <Td>
    <DIV class="small">
      Feature Height (Pixels):
    </DIV>
  </Td>
  <TD>
    <DIV class="small">
	<input class="backbox" type="text" name="feat_h" id="feat_h" tabindex="1"  size="10" value="15" />
    </DIV>
  </TD>

 </TR>
 <TR>
  <Td>
    <DIV class="small">
      Padding between tracks (Pixels):
    </DIV>
  </Td>
  <TD>
    <DIV class="small">
	<input class="backbox" type="text" name="padding" id="padding" tabindex="1"  size="10" value="5" />
    </DIV>
  </TD>

 </TR>
 <TR>
  <Td>
<font class="small">Color GC content: green=GC, orange=N? (SLOW)</font>
  <td>
<label class="small"><input class="backbox" type="radio" name="show_gc" id="show_gc" tabindex="1" value="1" />Yes</label>
<label class=small><input class="backbox" type="radio" name="show_gc" id="show_gc" tabindex="1" value="0" checked />No</label>
    </DIV>
  </TD>
 <TR>
  <Td>
<font class="small">Color N orange? (SLOW)</font>
  <td>
<label class="small"><input class="backbox" type="radio" name="show_nt" id="show_nt" tabindex="1" value="1" />Yes</label>
<label class=small><input class="backbox" type="radio" name="show_nt" id="show_nt" tabindex="1" value="0" checked />No</label>
    </DIV>
  </TD>
 <TR>
  <Td>
<font class="small">Auto adjust overlapping features? </font>
  <td>
  <label class="small"><input class="backbox" type="radio" name="overlap_adjustment" id="overlap_adjustment" tabindex="1" value="0" />Yes</label>
  <label class="small"><input class="backbox" type="radio" name="overlap_adjustment" id="overlap_adjustment" tabindex="1" value="1"  checked />No</label>
    </DIV>
  </TD>
 <TR>
  <TD>
  <font class="small">Draw high-quality images? (~50% slower algorithm) </font>
  <td>
  <label class="small"><input class="backbox" type="radio" name="hiqual" id="hiqual" tabindex="1" value="1" />Yes</label>
  <label class="small"><input class="backbox" type="radio" name="hiqual" id="hiqual" tabindex="1" value="0" checked />No</label>
 </TR>
</TABLE>

<td width="3" bgcolor="#99FF99">
<td>
 <table>
 <Tr valign = top>
 <td>
 <table>
 <TR>
  <Td>
<font class="small">Color Matches in HSPs?</font>
 <td>
 <label class=small><input class="backbox" type="radio" name="color_hsp" id="color_hsp" tabindex="1" value="1" />Yes</label><label class=small><input class="backbox" type="radio" name="color_hsp" id="color_hsp" tabindex="1" value="0" checked />No</label>

 <TR>
  <Td>
<font class="small">HSP Label options: </font>
 <td>
<label class=small><input class="backbox" type="radio" name="hsp_labels" id="hsp_labels" tabindex="1" value="0" />Don't draw</label><br>
<label class=small><input class="backbox" type="radio" name="hsp_labels" id="hsp_labels" tabindex="1" value="staggered" checked />Draw Staggered</label><br>
<label class=small><input class="backbox" type="radio" name="hsp_labels" id="hsp_labels" tabindex="1" value="linear" />Draw Linear</label>
  </TD>
 <TR>
  <Td>
<font class="small">Limit HSP labels? </font>
 <td>
<font class=small>Show Top: <input class=backbox type=textbox size=3 id="hsp_limit_num" value="20"/></font><br>
 <label class="small"><input class="backbox" type="radio" name="hsp_limit" id="hsp_limit" tabindex="1" value="1" />Yes</label> 
<label class="small"><input class="backbox" type="radio" name="hsp_limit" id="hsp_limit" tabindex="1" value="0" checked />No</label> 

  </TD>
<!--  <tr>
   <TD> <font class="small">Preset colors: <label><input class="backbox" type="radio" name="hspcolor" onClick="set_hsp_colors('default');"/>Default</label><label><input class="backbox" type="radio" name="hspcolor" onClick="set_hsp_colors('cblind');"/>Color blind</label><label><input class="backbox" type="radio" name="hspcolor" onClick="set_hsp_colors('fire');"/>Fire</label><label><input class="backbox" type="radio" name="hspcolor" onClick="set_hsp_colors('rasta');"/>Rasta</label></font> -->
  </table>
<td width="3" bgcolor="#99FF99">
  <td class = "small">

   <DIV id="hsp_colors"><TMPL_VAR NAME="HSP_COLOR"></DIV>

  </table>
 </table>
</table>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     </DIV>
  </DIV>
  </DIV>
 </TR>
	  
 </TR>

</TABLE>

<TABLE class="basic" width=100%>
 <TR>
  <TH colspan="2" align=left>
  <DIV class="mainDiv">
   <DIV id="infor" class="topItem" onMouseOver="Init(this);changeColor('infor','#000099'); " onMouseOut="changeColor('infor','#009900');" >Information:</DIV>
   <DIV class="dropMenu">
     <DIV class="subMenu" style="display:none;">
     <TABLE style="width: 100%;">
      <TR>
      <TD>


<TABLE class="basic">
 <TR valign="top">
  <TH>
    <DIV>
	New:
    </DIV>
  </TD>
  <TD>
    <DIV>
	Looking for help?  Check out the <a href ="help/GEvo">GEvo help page</a>!
    </DIV>
  </TD>
 </TR>
        </TABLE>
     </table>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     </DIV>
  </DIV>
  </DIV>
 </TR>
	  
 </TR>

</TABLE>
<SCRIPT language="JavaScript"> InitAll();</script>




</form>
</BODY>
</HTML>
</TMPL_IF>

<TMPL_IF NAME="RESULTS_DIV">
<DIV id="results" ></DIV>
</TMPL_IF>


<TMPL_IF NAME="COGE_SEQ_SELECT">
<TABLE style="width: 100%;">
      <TR valign="top">

      <TMPL_LOOP NAME="COGE_SEQ_SELECT_LOOP">

      <TD>       
      <TABLE>
       <TR valign="top">
        <TD>Name <TMPL_VAR NAME="SEQ_NUM">:
        <TD><input class="backbox" type="text" name="accn<TMPL_VAR NAME="SEQ_NUM">" id="accn<TMPL_VAR NAME="SEQ_NUM">" tabindex="1"  size="20" onBlur="dataset_search(['accn<TMPL_VAR NAME="SEQ_NUM">','args__<TMPL_VAR NAME="SEQ_NUM">', 'args__<TMPL_VAR NAME="DSID">'],[feat_search_chain])" value="<TMPL_VAR NAME=DRACCN>" />
        <DIV id="source<TMPL_VAR NAME="SEQ_NUM">" nowrap><input type="hidden" id="dsid<TMPL_VAR NAME="SEQ_NUM">"></DIV>
        <DIV id="feat<TMPL_VAR NAME="SEQ_NUM">"><input type="hidden" id="featid<TMPL_VAR NAME="SEQ_NUM">"></DIV>
      <TR>
       <TD><DIV class="small">Left sequence:</DIV>
       <TD><DIV  id="up<TMPL_VAR NAME="SEQ_NUM">" ><input class="location" type="text" name="drup<TMPL_VAR NAME="SEQ_NUM">" id="drup<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" size="10" value="<TMPL_VAR NAME=DRUP>" /> </DIV>
      <TR>
       <TD><DIV class="small">Right sequence:</DIV>
       <TD><DIV  id="down<TMPL_VAR NAME="SEQ_NUM">"><input class="location" type="text" name="drdown<TMPL_VAR NAME="SEQ_NUM">" id="drdown<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" size="10"  value="<TMPL_VAR NAME=DRDOWN>" /></DIV>
      <TR>
	<TD colspan =2>
	<font class="small">Reverse complement: <label><input class="backbox" type="radio" name="drrev<TMPL_VAR NAME="SEQ_NUM">" id="drrev<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" value="1" <TMPL_VAR NAME=REV_YES> onclick='rev_locs("<TMPL_VAR NAME="SEQ_NUM">")' />Yes</label><label><input class="backbox" type="radio" name="drrev<TMPL_VAR NAME="SEQ_NUM">" id="drrev<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" value="0" <TMPL_VAR NAME=REV_NO> onclick='rev_locs("<TMPL_VAR NAME="SEQ_NUM">")' />No</label></font>
      </TABLE>

      </TMPL_LOOP>
      <TD><DIV id="new_drseq"></DIV>
     </table>

</TMPL_IF>

<TMPL_IF NAME="NCBI_SEQ_SELECT">
<TABLE style="width: 100%;">
      <TR valign="top">

      <TMPL_LOOP NAME="NCBI_SEQ_SELECT_LOOP">

      <TD>       
      <TABLE>
       <TR valign="top">
        <TD>Accession <TMPL_VAR NAME="SEQ_NUM">:
        <TD><input class="backbox" type="text" name="gbaccn<TMPL_VAR NAME="SEQ_NUM">" id="gbaccn<TMPL_VAR NAME="SEQ_NUM">" tabindex="1"  size="10" value="<TMPL_VAR NAME=GBACCN>" />
      <TR>
	<TD><DIV class="small">Start Position:</DIV>
      	<TD><input class="backbox" type="text" name="gbstart<TMPL_VAR NAME="SEQ_NUM">" id="gbstart<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" size="10" value="<TMPL_VAR NAME=GBSTART>" /></TD>
      <TR>
       <TD><DIV class="small">Sequence Length:</DIV>
       <TD><input class="backbox" type="text" name="gblength<TMPL_VAR NAME="SEQ_NUM">" id="gblength<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" size="10"  value="<TMPL_VAR NAME=GBLENGTH>"/>
      <TR>
       <TD colspan=2>
       <font class="small">Reverse Complement: <label><input class="backbox" type="radio" name="gbrev<TMPL_VAR NAME="SEQ_NUM">" id="gbrev<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" value="1" <TMPL_VAR NAME=REV_YES> onclick="$('#gbstart<TMPL_VAR NAME="SEQ_NUM">').val(1);$('#gblength<TMPL_VAR NAME="SEQ_NUM">').val(''); " />Yes</label><label><input class="backbox" type="radio" name="gbrev<TMPL_VAR NAME="SEQ_NUM">" id="gbrev<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" value="0" <TMPL_VAR NAME=REV_NO> onclick="$('#gbstart<TMPL_VAR NAME="SEQ_NUM">').val(1);$('#gblength<TMPL_VAR NAME="SEQ_NUM">').val(''); " />No</label><BR></font>
      </TABLE>

      </TMPL_LOOP>
      <TD><DIV id="new_gbseq"></DIV>
     </table>

</TMPL_IF>
<TMPL_IF NAME="DIRECT_SEQ_SELECT">
<TABLE style="width: 100%;">
      <TR valign="top">

      <TMPL_LOOP NAME="DIRECT_SEQ_SELECT_LOOP">

      <TD>       
      <DIV>
     Sequence <TMPL_VAR NAME="SEQ_NUM">:<BR> <textarea class="backbox" name="dirseq<TMPL_VAR NAME="SEQ_NUM">" id="dirseq<TMPL_VAR NAME="SEQ_NUM">" tabindex="1"  rows="5" cols="30"></textarea><BR>
     <font class="small">Start: <input class="backbox" type="text" name="dirstart<TMPL_VAR NAME="SEQ_NUM">" id="dirstart<TMPL_VAR NAME="SEQ_NUM">" tabindex="1"  size="5" value="1" /></font>
     <font class="small">Stop: <input class="backbox" type="text" name="dirstop<TMPL_VAR NAME="SEQ_NUM">" id="dirstop<TMPL_VAR NAME="SEQ_NUM">" tabindex="1"  size="5" value=""  /></font><br>
     <font class="small">Reverse Complement: <label><input class="backbox" type="radio" name="dirrev<TMPL_VAR NAME="SEQ_NUM">" id="dirrev<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" value="1" />Yes</label><label><input class="backbox" type="radio" name="dirrev<TMPL_VAR NAME="SEQ_NUM">" id="dirrev<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" value="0" checked />No</label><BR></font><br>

      </DIV>
      
      </TMPL_LOOP>
      <TD><DIV id="new_dirseq"></DIV>
     </table>

</TMPL_IF>


<TMPL_IF NAME=HSP_COLOR_FORM>
 <table>
  <tr valign = top>
   <td>
 <TMPL_LOOP NAME="HSP_COLOR_LOOP">
  <table>

  <tr>
   <td class="small" nowrap>
     HSP <TMPL_VAR NAME="HSP_NUM"> color:
   <TD class="small" nowrap>
     R:<input class="backbox" type="text" name="r<TMPL_VAR NAME="HSP_NUM">" id="r<TMPL_VAR NAME="HSP_NUM">" tabindex="1"  size="3" value="<TMPL_VAR NAME="RED">" />
   <TD class="small" nowrap>
     G:<input class="backbox" type="text" name="g<TMPL_VAR NAME="HSP_NUM">" id="g<TMPL_VAR NAME="HSP_NUM">" tabindex="1"  size="3" value="<TMPL_VAR NAME="GREEN">" />
   <TD class="small" nowrap>
     B:<input class="backbox" type="text" name="b<TMPL_VAR NAME="HSP_NUM">" id="b<TMPL_VAR NAME="HSP_NUM">" tabindex="1"  size="3" value="<TMPL_VAR NAME="BLUE">" />
  </table>
 </TMPL_LOOP>
 </table>
</TMPL_IF>

<TMPL_IF NAME=GEN_REFERENCE_SEQUENCES>
<TMPL_LOOP NAME="REF_SEQ">
<font class ="small">Sequence <TMPL_VAR NAME=SEQ_NUM>: 
<label><input class="backbox" type="radio" name="ref_seq<TMPL_VAR NAME=SEQ_NUM>" id="ref_seq<TMPL_VAR NAME=SEQ_NUM>" tabindex="22" value="1" checked />On</label>
<label><input class="backbox" type="radio" name="ref_seq<TMPL_VAR NAME=SEQ_NUM>" id="ref_seq<TMPL_VAR NAME=SEQ_NUM>" tabindex="22" value="0" />Off</label><br>
</TMPL_LOOP>
<div id="new_refseq"></div>

</TMPL_IF>

<TMPL_IF GEN_ADD_BUTTON>
<input type="button" value="add" onclick="add_seq(['num_seqs'],['message','new_drseq', 'new_gbseq', 'new_dirseq', 'num_seqs', 'add_button', 'go_button','new_refseq', 'hsp_colors'])">
</TMPL_IF>