<TMPL_IF NAME=SEQ_RETRIEVAL>
<HTML>
<HEAD>
 <TITLE><TMPL_VAR NAME=TITLE></TITLE>
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</HEAD>
<script src="/CoGe/gobe/static/swfobject.js" ></script>
<SCRIPT language="JavaScript">
/* e.g.  ('up', 1, 330) becomes: byId('drup1').value = 330; */
/* so up is the 'left', down is the 'right' bar.   */

function set_genespace(updown, idx, value, length, anchorlength){
//    console.log(updown+" "+value+" "+length+" "+anchorlength);
    value = parseFloat(value);
    var eid = 'dr' + updown + idx;
    document.getElementById(eid).value = value;
    value = value*-1;
    if (value < 1) {value = 1;}
//    if (value > length) {value = length;}

    if (updown == "up") 
     {
      var orig_gbstart = $('#gbstart'+idx).val();
      var orig_dirstart = $('#dirstart'+idx).val();
      $('#gbstart'+idx).val(value);
      $('#dirstart'+idx).val(value);
      //adjust length

       var gblength = $('#gblength'+idx).val();
       if (gblength == undefined || gblength == ""){gblength=length;}
       gblength = gblength-($('#gbstart'+idx).val()-orig_gbstart);
       $('#gblength'+idx).val(gblength);

       var dirlength = $('#dirlength'+idx).val();
       if (dirlength == undefined || dirlength == ""){dirlength=length;}
       dirlength = dirlength-($('#dirstart'+idx).val()-orig_dirstart);
       $('#dirlength'+idx).val(dirlength);	

     }
    else if (updown == "down")
     {
       var tmp = (anchorlength-value+1)-parseFloat($('#gbstart'+idx).val());
       if (tmp > length){tmp=length;}
       $('#gblength'+idx).val(tmp);
       var tmp = (anchorlength-value+1)-parseFloat($('#dirstart'+idx).val());
       $('#dirlength'+idx).val(tmp);	
     }
}


function setheight(){ 
    var g = jQuery('#gobe')
    if(g.height() < 360){
        g.height(360); 
    }
}

$(document).ready(function(){
 //prefetch button images
// if (document.images) {
//   go_inactive = new Image(); go_inactive.src = "/CoGe/picts/buttons/GEvo/go/inactive.png";
//   go_active = new Image(); go_active.src = "/CoGe/picts/buttons/GEvo/go/active.png";
//   go_pressed = new Image(); go_pressed.src = "/CoGe/picts/buttons/GEvo/go/pressed.png";
//   
//   clear_inactive = new Image(); clear_inactive.src = "/CoGe/picts/buttons/GEvo/clear/inactive.png";
//   clear_active = new Image(); clear_active.src = "/CoGe/picts/buttons/GEvo/clear/active.png";
//   clear_pressed = new Image(); clear_pressed.src = "/CoGe/picts/buttons/GEvo/clear/pressed.png";
//   
//   add_inactive = new Image(); add_inactive.src = "/CoGe/picts/buttons/GEvo/add/inactive.png";
//   add_active = new Image(); add_active.src = "/CoGe/picts/buttons/GEvo/add/active.png";
//   add_pressed = new Image(); add_pressed.src = "/CoGe/picts/buttons/GEvo/add/pressed.png";
//   
//   remove_inactive = new Image(); remove_inactive.src = "/CoGe/picts/buttons/GEvo/remove/inactive.png";
//   remove_active = new Image(); remove_active.src = "/CoGe/picts/buttons/GEvo/remove/active.png";
//   remove_pressed = new Image(); remove_pressed.src = "/CoGe/picts/buttons/GEvo/remove/pressed.png";
//  }

 //animate_section(".seq_submission_type","hide"); 
 check_seq_submit();

 autodistance_setup();
 //$("#image_parameters").hide();
 //$(".algo_options").hide();
 //$(".anchor").hide();

 check_alignment_program();
 check_dialign_anchor_program();
 if(window.location.toString().indexOf('autogo') != -1){
     jQuery('#go_button').trigger('click');
 }

 });

function populate_page_obj(basefile)
 {
  if (!basefile) {alert (basefile);}
  pageObj.basefile = basefile;
  pageObj.nolog = 0;
 }

function change( info ) {
        document.getElementById("info").innerHTML = info;        
}

function changeColor(id, color) {
  document.getElementById(id).style.color = color;
}

function switchPlusButton (check, change){
  if ($(check).is(':hidden')) {$(change).removeClass('plus').addClass('minus');}
  else {$(change).removeClass('minus').addClass('plus');}
}



function autodistance_setup(){

$(".location").keyup(function(){
     if($('#apply_all')[0].checked){
        var self = this;
        $('.location').filter('input[id^=dr]').val(self.value)
     }
});
<TMPL_VAR NAME="AUTOSEARCH">
}

function rset () {
var num_seqs = $("#num_seqs").val();
$("#results").html(" ");

for (var i =1; i<= num_seqs; i++)
  {
    
    $('#accn'+i).val("");
    $('#drup'+i).val("10000");
    $('#drdown'+i).val("10000");
    dataset_search(['args__accn','accn'+i,'args__num', 'args__'+i],[feat_search_chain]);
    $('#gbaccn'+i).val("");
    $('#gbstart'+i).val("1");
    $('#gblength'+i).val("");
    $('#dirseq'+i).val("");
    $('#dirstart'+i).val("1");
    $('#dirlength'+i).val("");
    
  }

}

function check_spike(tblastx) {
  var spike_val = $('#spike').val();
  if (spike_val == 0 || tblastx == 1)
  {
    $('#blast_eval').css({ background: "#F7FFF7", color: "#000099" }).removeAttr("readonly");
  }
  else
  {
    $('#blast_eval').css({ background: "#F5F5F5", color: "#808080" }).attr("readonly","readonly").val(30);
  }
}

function feat_search_chain(stuff, num, featid) {
 if (stuff) {
  $("#source"+num).html(stuff);
  feat_search(['args__accn', 'accn'+num,'args__dsid', 'dsid'+num, 'args__num', 'args__'+num, 'args__featid','args__'+featid],['feat'+num]);
 }
}

//this func switching the "left" and "right" sequence values when reverse region display is selected
function rev_locs (val) {
  up = $('#'+'drup'+val).val();
  down = $('#'+'drdown'+val).val();
  $('#'+'drup'+val).val(down);
  $('#'+'drdown'+val).val(up);

}

function check_dialign_anchor_program (){

if ($('#dialign_use_anchor').val() == 0) {
animate_section(".anchor", "fadeOut");
return;
}
var dialign_anchor_program = $('#dialign_anchor_program').val();
if (dialign_anchor_program == 'CHAOS'){
  var info = "Word size = "+$('#chaos_word_length').val()+"&#10;Score cutoff = "+$('#chaos_score_cutoff').val()+"&#10;Rescore cutoff = "+$('#chaos_rescore_cutoff').val()+"&#10;Lookback distance = "+$('#chaos_lookback').val()+"&#10;Maximum gap = "+$('#chaos_gap_length').val()+"&#10;Gap start penalty = "+$('#chaos_gap_start').val()+"&#10;Gap extend penalty = "+$('#chaos_gap_extension').val()+"&#10;Other CHAOS parameters = "+$('#chaos_params').val();}
else if (dialign_anchor_program == 'bl2seq'){
  var info = "Match Score = "+$('#blast_match').val()+"&#10;Mismatch Penalty = "+$('#blast_mismatch').val()+"&#10;Gap Open Penalty = "+$('#blast_gapopen').val()+"&#10;Gap Extension Penalty = "+$('#blast_gapextend').val()+"&#10;Word Size = "+$('#blast_wordsize').val()+"&#10;Filter query sequence = "+$('#blast_filter').val()+"&#10;Expect value = "+$('#blast_eval').val()+"&#10;Other Blast Parameters = "+$('#blastparams').val();}
else{
  var info = "Word size = "+$('#blastz_wordsize').val()+"&#10;Gap start penalty = "+$('#blastz_gap_start').val()+"&#10;Gap extend penalty = "+$('#blastz_gap_extension').val()+"&#10;Chaining = "+$('#blastz_chaining').val()+"&#10;Score threshold = "+$('#blastz_threshold').val()+"&#10;Mask threshold = "+$('#blastz_mask').val()+"&#10;Other blastz parameters = "+$('#blastz_params').val();}
var html = 'You are running '+dialign_anchor_program+' with the following options:<br/><textarea readonly rows=8 cols=24 class="backbox" name="anchor_info" id="anchor_info" tabindex="1">'+info+'</textarea><br/><i>If you wish to alter these options, please do so by selecting '+dialign_anchor_program+' from the drop-down menu to the left, and changing these options.</i>';
$('#anchor_options').html(html);
animate_section(".anchor", "fadeIn");

}
  
function check_alignment_program (){

 var alignment = $("#alignment_program").val();

 animate_section('.algo_options', 'hide',0);

  if ((alignment == "blastn")||(alignment == "tblastx")){
    var help_path = "\"http://www.ncbi.nlm.nih.gov/BLAST/Blast.cgi?CMD=Web&PAGE_TYPE=BlastDocs\"";}
  else{
    var help_path = "\"/CoGe/docs/alignment_help_files/README."+alignment+"\"";}
  var help = '<a href='+help_path+' target="_new">Help File for '+alignment+'</a>';
  $('.help').html(help);
  var spike = $("#spike").val();
  $("#spike").val(0);
  
if (alignment == "blastz")
 {
  
  animate_section("#blastz_options", "slideToggle");
 }
else if (alignment == "LAGAN")
 {
  animate_section("#lagan_options", "slideToggle");	
 }
else if (alignment == "CHAOS")
 {
  animate_section("#chaos_options", "slideToggle");	
  animate_section("#spike_sequence", "slideDown");
  if (spike == "undefined" || spike == 0) {spike = 15;} 	
  $("#spike").val(spike);
	
 }
else if (alignment == "DiAlign_2")
 {
  animate_section("#dialign_options", "slideToggle");	
  animate_section("#dialign_parameters", "slideToggle");	
  check_dialign_anchor_program();
 } 
else if (alignment == "tblastx")
 {
  $("#blast_wordsize").val(3);
  $("#blast_gapopen").val(11);
  $("#blast_gapextend").val(1);
  $("#blast_eval").val("1e-10");
  check_spike(1);
  animate_section(".blastn_options", "hide",0);
  animate_section("#blast_options", "slideDown");
  animate_section("#tblastx_options", "slideDown");
 }	
else if (alignment == 'blastn')
 {
  $("#blast_wordsize").val(7);
  $("#blast_gapopen").val(5);
  $("#blast_gapextend").val(2);
  $("#blast_eval").val(30);
  if (spike == "undefined" || spike == 0) {spike = 15;} 	
  $("#spike").val(spike);
  check_spike();		
  animate_section("#blast_options", "slideDown");
  animate_section(".blastn_options", "slideDown");
 }

 }



function handle_results (html,w, h, img_base, n_images,message) {
 alert_message(message);
 if (n_images >1)
   {
    $('#results').html(html);
    var so = new SWFObject("/CoGe/gobe/flash/gobe.swf?<TMPL_VAR NAME="GOBE_VERSION">", "gobe", w, h, "9", "#FFFFFF");
    so.useExpressInstall('/CoGe/gobe/flash/expressinstall.swf');
    so.addVariable('n', n_images);
    so.addVariable('base_url', '/CoGe/');
    so.addVariable('img_url', '/CoGe/tmp/GEvo/');
    so.addVariable('base_name', img_base );
    so.addVariable('freezable', getQueryParamValue('freezable') || 'false'); 
    so.addVariable('pad_gs', jQuery('#pad_gs') ? jQuery('#pad_gs').val()  : getQueryParamValue('pad_gs') || '0'); 
    so.addVariable('gsid', getQueryParamValue('gsid') || getQueryParamValue('genespace_id') || '0'); 
    so.write("flash_viewer");
   }
  else
  {
    $('#results').html('');
  }
}

function remove_seq () {
var num_seqs = $('#num_seqs').val();
if (num_seqs < 3){
 alert("You must have at least two sequences to perform an alignment. You cannot remove another sequence. Please click \"Clear\" to remove information from sequence entries.");
 return;
}
//$('#new_seq_submission').remove();
$('#refseq'+num_seqs).remove();
$('#seq_set'+num_seqs).remove();
//$('#new_seq_submission').html('');
num_seqs--;
$('#num_seqs').val(num_seqs);
gen_go_run(['num_seqs'],update_go_run);

gen_hsp_colors(['args__num_seqs','num_seqs'],['hsp_colors']);
}

function update_go_run (val){
if (val) $('#go_run').html(val);
}

function alert_message (message) {
if (message) alert(message);
} 

function check_seq_submit () {
var num_seqs = $("#num_seqs").val();
for (var i =1; i<= num_seqs; i++)
  {
    var selector = "db"+i;
    if ($('#accn'+i).val()) {selector='db'+i;}
    else if ($('#gbaccn'+i).val()) {selector='gb'+i;}
    else if ($('#dirseq'+i).val()) {selector='dir'+i;}
    else if ($('#pos'+i).val()) {selector='cogepos'+i;}
    $('#seq_submit'+i).val(selector);
    seq_submit_change(i);
  }

}

function seq_submit_change (seq_num) {
 animate_section(".seq_submission_type"+seq_num,"hide",0);
 var seq_set = $('#seq_submit'+seq_num).val();
 animate_section("#"+seq_set, "fadeIn");
 if (seq_set == "db"+seq_num || seq_set == "cogepos"+seq_num)
  {
    animate_section("#drcoge"+seq_num, "fadeIn");
  }
}

function process_add_seq (newseq, num_seqs, go_run, refseq, colors, message)
{
 $('#new_seq_submission').append(newseq);
 seq_submit_change(num_seqs);
 $('#num_seqs').val(num_seqs);
 $('#go_run').html(go_run);
 $('#new_refseq').html(refseq);
 $('#hsp_colors').html(colors);
 autodistance_setup();
 alert_message(message);
}

function monitor_log(log)
{
  var finished = 0;
  var sequence = 0;
  var algo = 0;
  var image = 0;
  var database = 0;
  var match;
  if (log) {
   if (log.match(/Finished!/))
    {
     database = database+"done!\n";
     finished=1;
    }

   if (log.match(/sequence/)) {
     sequence = "Generating sequence files. . .";
   }
   match=log.match(/running\s+(\(.*?\))/g);
   if (match && match[0]) {
     sequence = sequence +"done!<br/>";
     match.reverse();
     val = match[0];
     if (!val) val = "";
     algo = "Alignment algorithm "+val+". . .";
   }
  
   match=log.match(/image\s+(\(.*?\))/g);
   if (match && match[0]) {
     algo = algo+"done!<br/>";
     match.reverse();
     val = match[0];
     if (!val) val = "";
     image = "Rendering "+val+". . .";
   }
   if (log.match(/database/)) {
     image = image+"done!<br/>";
     database = "Generating annotation database. . .";
   }
  } else {pageObj.nolog += 1;}
  var message;
  if (sequence) message = sequence;
  if (algo) message += algo;
  if (image) message += image;
  if (database) message += database;
  
  if (!finished && pageObj.nolog<4)
  {
    setTimeout("read_log(['args__logfile', 'args__'+pageObj.basefile, 'args__prog','args__GEvo'], [monitor_log])", 4000);
  if (message) $('#loading').html("<div class=small>"+message+'</div>');
  }

}

function update_colors(hsp_num) {
  var r = $('#r'+hsp_num).val();
  var g = $('#g'+hsp_num).val();
  var b = $('#b'+hsp_num).val();
  $('#sample_color'+hsp_num).css("backgroundColor","rgb("+r+","+g+","+b+")");
}

function get_seq(seq_num)
 {
  var fid = $('#featid'+seq_num).val();

  var rc = $('input[name=rev1]:checked').val();
  var left = $('#drup'+seq_num).val();
  var right = $('#drdown'+seq_num).val();
  var dsid = $('#posdsid'+seq_num).val();
  var pos = $('#pos'+seq_num).val();
  var chr = $('#chr'+seq_num).val();
  //alert (fid+"::"+rc+"::"+left+"::"+right);
 window.open("SeqView.pl?featid="+fid+"&dsid="+dsid+"&chr="+chr+"&start="+pos+"&upstream="+left+"&downstream="+right+"&rc="+rc);
 }


</SCRIPT>

<div id="go_run"><TMPL_VAR NAME="GO_RUN"></div>

<div id="message"><TMPL_VAR NAME="MESSAGE"></div>
<table>
<tr align left>
<td>
<a href="#" id=go_button onClick="loading([],['results']); initialize_basefile(['args__prog','args__GEvo', 'args__return_name','args__1'],[populate_page_obj]); go_run();"><span>Go</span></a>
</TD>
<!--<div id="go_button" class="l"><a href="#" onMouseOver="activeButton('go')" onMouseOut="inactiveButton('go')" onMouseDown="pressedButton('go')" onMouseUp="inactiveButton('go')" onClick="loading([],['results']); go_run();"><img name="go" src="/CoGe/picts/buttons/GEvo/go/inactive.png" width="47" height="27" border="0" alt="javascript button"></a></div>-->
<TD>
<a href="#" id=clear_button onClick="rset()"><span>Clear</span></a>
</TD>
<!--<a href="#" onMouseOver="activeButton('clear')" onMouseOut="inactiveButton('clear')" onMouseDown="pressedButton('clear')" onMouseUp="inactiveButton('clear')" onClick="rset()">
         <img name="clear" src="/CoGe/picts/buttons/GEvo/clear/inactive.png" width="56" height="27" border="0" alt="javascript button">
         </a>-->
<td nowrap>
<td>Number of sequences: <input class="backbox" name=num_seqs id=num_seqs type="textbox" size=2 readonly value=<TMPL_VAR NAME ="NUM_SEQS">>
<td>
  <a href="#" id=add_button
  onClick="add_seq(['num_seqs'],[process_add_seq]); $('#new_drseq').remove;"><span>Add</span></a>
<!--<a href="#" onMouseOver="activeButton('add')" onMouseOut="inactiveButton('add')" onMouseDown="pressedButton('add')" onMouseUp="inactiveButton('add')" onclick="add_seq(['num_seqs'],[process_add_seq]); $('#new_drseq').remove;">
         <img name="add" src="/CoGe/picts/buttons/GEvo/add/inactive.png" width="43" height="27" border="0" alt="javascript button">-->
         </a>
<td>
<a href="#" id=remove_button onClick="remove_seq()"><span>Remove</span></a>
<!--<a href="#" onMouseOver="activeButton('remove')" onMouseOut="inactiveButton('remove')" onMouseDown="pressedButton('remove')" onMouseUp="inactiveButton('remove')" onclick="remove_seq()">
         <img name="remove" src="/CoGe/picts/buttons/GEvo/remove/inactive.png" width="55" height="27" border="0" alt="javascript button">
         </a>-->
</table>


<form method="post" enctype="multipart/form-data" name="main_form" onSubmit="">
<TABLE class="basic" width=100%>
 <TR>
  <TH colspan="<TMPL_VAR NAME="NUM_SEQS">" align=left>
   <DIV id="seq_submission" class="topItem"  onMouseOver="$('#seq_submission').removeClass('topItem').addClass('topItemSelected');" onMouseOut="$('#seq_submission').removeClass('topItemSelected').addClass('topItem');" onClick='animate_section("#seq_submission_menu","slideToggle")' >Sequence Submission:</DIV>
   <DIV class="dropMenu" id="seq_submission_menu">
    <table width="100%">
     <tr id = "new_seq_submission" valign="top">
     <TMPL_VAR NAME="SEQ_SUB">
    </div>
    </table>

     <Div class ="small" align = "left">
     Apply distance to all CoGe submissions?<input type="checkbox" name="apply_all" id="apply_all" value="0" />
     &nbsp&nbsp&nbsp&nbsp
     Pad CoGe Sequences with additional sequence: <input type="textbox" name="pad_gs" id="pad_gs" value="<TMPL_VAR NAME="PAD_GS">" size =8/></div>
     </DIV>
 </TR>
</TABLE>
</TMPL_IF>

<TMPL_IF NAME=OPTIONS>
<TABLE class="basic" width=100%>
 <TR>
  <TH colspan="2" align=left>
   <DIV id="bp" class="topItem" onMouseOver="$('#bp').removeClass('topItem').addClass('topItemSelected');" onMouseOut="$('#bp').removeClass('topItemSelected').addClass('topItem');" onClick='animate_section("#algo_options","slideToggle")'>Comparison Parameters and Options:</DIV>
   <DIV id = "algo_options" >
     <TABLE style="width: 100%;" class="dropMenu" >
      <TR valign=top align=left>
      <TD>
  <TABLE class=small>
  <TR>
  <Th>Alignment Algorithm: </TD>
  <TD>
  <select class="backbox" id="alignment_program" size="1" onchange='check_alignment_program()'>
       <TMPL_VAR NAME=ALIGNMENT_PROGRAMS>
      </select>
   </TD>
   <TD>
   <font class="xsmall help" style="cursor: help"></font>
   </TD>
 </TR>
   </Table>    


 <DIV id = "blast_options" class="algo_options">
 <Table class=small>    

 <TR class="blastn_options">
  <TD>Match Score (-r): </TD>
  <TD><input class="backbox" type="text" name="blast_match" id="blast_match" tabindex="1" size="3" value="1" /></TD>
 </TR>    
 <TR class="blastn_options">
  <TD>Mismatch Penalty (-q): </TD>
  <TD><input class="backbox" type="text" name="blast_mismatch" id="blast_mismatch" tabindex="1" size="3" value="-2" /></TD>
 </TR> 
 <TR>
  <TD>Gap Open Penalty (-G): </TD>
  <TD><input class="backbox" type="text" name="blast_gapopen" id="blast_gapopen" tabindex="1" size="3" value="5" /></TD>
 </TR>    
 <TR>
  <TD>Gap Extension Penalty (-E): </TD>
  <TD><input class="backbox" type="text" name="blast_gapextend" id="blast_gapextend" tabindex="1" size="3" value="2" /></TD>
 </TR>    
  <TR>
  <TD>Word Size (-W):</TD>
  <TD><input class="backbox" type="text" name="blast_wordsize" id="blast_wordsize" tabindex="1" size="3" value="7" /></TD>
 </TR>
 <TR>
  <TD>Filter query sequence (DUST/SEG) (-F): </TD>
  <TD>
    <select class="backbox" name="blast_filter" id="blast_filter" tabindex="1" >
     <option value="T" >Yes</option>
     <option value="F" selected>No</option>
    </select>
  </TD>
 </TR>    
 <TR>
  <TD>Expectation value (-e): </TD>
  <TD><input class="backbox" type="text" name="blast_eval" id="blast_eval" tabindex="1" size="4" value="30" /></TD>
 </TR>
 <TR>
  <TD>Other Blast Parameters: </TD>
  <TD><input class="backbox" type="text" name="blastparams" id="blastparams" tabindex="1" size="10"/></TD>
 </TR>
</TABLE>
</DIV>


 <DIV id="tblastx_options" class="small algo_options" style="display: none">
 <font class="small">Hide HSPs with stop codons in a coding sequence?<label><input class="backbox" type="radio" name="show_hsps_with_stop_codon" id="show_hsps_with_stop_codon" tabindex="1" value="1" />Yes</label><label><input class="backbox" type="radio" name="show_hsps_with_stop_codon" id="show_hsps_with_stop_codon" tabindex="1" value="0" checked />No</label></font>
<br>Note: Word size limited to 3 for tblastx
</DIV> 


 <DIV id="chaos_options" class="small  algo_options" style="display: none">
<table class = small>
   <TR>
  <TD>Word size: </TD>
  <TD><input class="backbox" type="text" name="chaos_word_length" id="chaos_word_length" tabindex="1" size="3" value="8" /></TD>
 </TR>    
 <TR>
  <TD>Score cutoff: </TD>
  <TD><input class="backbox" type="text" name="chaos_score_cutoff" id="chaos_score_cutoff" tabindex="1" size="3" value="10" /></TD>
 </TR>    
 <TR>
  <TD>Rescore cutoff: </TD>
  <TD><input class="backbox" type="text" name="chaos_rescore_cutoff" id="chaos_rescore_cutoff" tabindex="1" size="3" value="100" /></TD>
 </TR>    
 <TR>
  <TD>Lookback distance:<br><font class=small>(length between seed alignments for chaining)</font></TD>
  <TD><input class="backbox" type="text" name="chaos_lookback" id="chaos_lookback" tabindex="1" size="3" value="20" /></TD>
 </TR>    
 <TR>
  <TD>Maximum gap length between seeds for chaining: </TD>
  <TD><input class="backbox" type="text" name="chaos_gap_length" id="chaos_gap_length" tabindex="1" size="3" value="5" /></TD>
 </TR>    
 <TR>
  <TD>Gap start penality: </TD>
  <TD><input class="backbox" type="text" name="chaos_gap_start" id="chaos_gap_start" tabindex="1" size="3" value="0" /></TD>
 </TR>    
 <TR>
  <TD>Gap extend penality: </TD>
  <TD><input class="backbox" type="text" name="chaos_gap_extension" id="chaos_gap_extension" tabindex="1" size="3" value="-1" /></TD>
 </TR>    
  <TR>
  <TD>Other CHAOS parameters: </TD>
  <TD><input class="backbox" type="text" name="chaos_params" id="chaos_params" tabindex="1" size="10" /></TD>
 </TR>         

</table>
</DIV>

 <DIV id="spike_sequence" class ="algo_options blastn_options" style="display: none">
  <table class=small>
  <tr colspan>
  <th> HSP filter by spike sequence
  <td>(set to 0 to turn off):
  <tr align=left class=small>
  <td><li>Spike sequence length:
  <td><input type="text" size="3" class="backbox" id="spike" onkeyup="check_spike();" value=<TMPL_VAR NAME=SPIKE_LEN>> nucleotides
   </TR>
  <tr>
  <td><li>Show spike sequence in results?
  <TD>
    <select class="backbox" name="show_spike" id="show_spike" tabindex="1" >
     <option value="1" >Yes</option>
     <option value="0" selected>No</option>
    </select>
  </TD>
  </tr>
  </table>
 </DIV>



 <DIV id="blastz_options" class="small algo_options" style="display: none">
<table class = small>
   <TR>
  <TD>Word size: </TD>
  <TD><input class="backbox" type="text" name="blastz_wordsize" id="blastz_wordsize" tabindex="1" size="4" value="8" /></TD>
 </TR>    
<TR>
  <TD>Gap start penality: </TD>
  <TD><input class="backbox" type="text" name="blastz_gap_start" id="blastz_gap_start" tabindex="1" size="4" value="400" /></TD>
 </TR>    
 <TR>
  <TD>Gap extend penality: </TD>
  <TD><input class="backbox" type="text" name="blastz_gap_extension" id="blastz_gap_extension" tabindex="1" size="4" value="30" /></TD>
 </TR>    
 <TR>
  <TD>Chaining: </TD>
  <TD><select class="backbox" id="blastz_chaining" tabindex="1" />
      <option value=0>no chaining</option>
      <option value=1>just output chain</option>
      <option value=2>chain and extend</option>
      <option value=3>just output HSPs</option>
      </select></TD>
 </TR>    
 <TR>
  <TD>Score threshold: </TD>
  <TD><input class="backbox" type="text" name="blastz_threshold" id="blastz_threshold" tabindex="1" size="4" value="3000" /></TD>
 </TR>    
 <TR>
  <TD>Mask threshold: </TD>
  <TD><input class="backbox" type="text" name="blastz_mask" id="blastz_mask" tabindex="1" size="4" value="0" /></TD>
 </TR>    


  <TR>
  <TD>Other Blastz parameters: </TD>
  <TD><input class="backbox" type="text" name="blastz_params" id="blastz_params" tabindex="1" size="10" /></TD>
 </TR>         

</table>


</DIV>

 <DIV id="lagan_options" class="small algo_options" style="display: none">
   <Table class=small>    
  <TR>
  <TD>Min HSP Length: </TD>
  <TD><input class="backbox" type="text" name="lagan_min_length" id="lagan_min_length" tabindex="1" size="3" value="21" /></TD>
 </TR>    
 <TR>
  <TD>Max Contiguous Gaps in HSPs: </TD>
  <TD><input class="backbox" type="text" name="lagan_max_gap" id="lagan_max_gap" tabindex="1" size="3" value="3" /></TD>
 </TR>    
 <TR>
  <TD>Min Percent Identity: </TD>
  <TD><input class="backbox" type="text" name="lagan_percent_id" id="lagan_percent_id" tabindex="1" size="3" value="70" /></TD>
 </TR>    
 <TR>
  <TD>Other LAGAN Parameters: </TD>
  <TD><input class="backbox" type="text" name="lagan_params" id="lagan_params" tabindex="1" size="10" /></TD>
 </TR>         

</TABLE>
</DIV>

<DIV id="dialign_options" class="small algo_options" style="display: none">
   <Table class=small>    
  <TR>
   <TD>Use Anchored Alignment: </TD>
   <TD><select class="backbox" id="dialign_use_anchor" size="1" onchange="check_dialign_anchor_program();">
       <option value="1">Use Anchored Search</option>
       <option value="0" selected>Do NOT use Anchored Search</option>
      </select> 
   </TD>
  </TR>
  <TR>
  <TD>Min Alignment Score: </TD>
  <TD><input class="backbox" type="text" name="dialign_min_score" id="dialign_min_score" tabindex="1" size="3" value="1" /></TD>
 </TR>    
 <TR>
  <TD>Max Contiguous Low Score Alignments in HSPs: </TD>
  <TD><input class="backbox" type="text" name="dialign_max_gap" id="dialign_max_gap" tabindex="1" size="3" value="4" /></TD>
 </TR> 
 <TR>
  <TD>Split HSPs on Different Alignment Scores: </TD>
  <TD><input class="backbox" type="radio" name="dialign_split_score" id="dialign_split_score" tabindex="1" value="1" />Yes</label><label><input class="backbox" type="radio" name="dialign_split_score" id="dialign_split_score" tabindex="1" value="0" checked />No</label></TD>
 </TR>
 <TR>
  <TD>Aligment Method: </TD>
  <TD><select class="backbox" id="dialign_method" size="1" onchange="$('#dialign_params').val($('#dialign_method').val())">
       <option value="-n ">Short Sequence Alignment, No Translation</option>
       <option value="-nt -cs -ma ">Short Sequence Alignment with Translation</option>
       <option value="-ds -n -thr 2 -lmax 30 ">Long Sequence Alignment</option>
      </select> 
   </TD>
  </TR>
  <TR>
  <TD>Use Motif in Alignment: </TD>
  <TD><input class="backbox" type="radio" name="dialign_motif" id="dialign_motif" tabindex="1" value="1" onClick="$('#dialign_motif_options').show();" />Yes</label><label><input class="backbox" type="radio" name="dialign_motif" id="dialign_motif" tabindex="1" value="0" onClick="$('#dialign_motif_options').hide()" checked />No</label></TD>
 </TR>
 </TABLE>
  </DIV>
 <DIV id="dialign_motif_options" class="small  algo_options" style="display: none">
 <Table class=small>  
 <TR>
 <TD align=right> Motif:  </TD>
  <TD><input class="backbox" type="text" name="dialign_motif_motif" id="dialign_motif_motif" tabindex="1" size="5" /></TD>
 </TR>
 <TR>
 <TD align=right> Weighting Factor: </TD>
  <TD><input class="backbox" type="text" name="dialign_motif_weight" id="dialign_motif_weight" tabindex="1" size="5" /></TD>
 </TR>
 <TR>
 <TD align=right> Distance Penalty:  </TD>
  <TD><input class="backbox" type="text" name="dialign_motif_penalty" id="dialign_motif_penalty" tabindex="1" size="5" /></TD>
 </TR>
 </TABLE>
 </DIV>
 <DIV id="dialign_parameters"  class="small algo_options" style="display: none">
 <Table class=small>
 <TR>
  <TD>Other DiAlign Parameters: </TD>
  <TD><input class="backbox" type="text" name="dialign_params" id="dialign_params" tabindex="1" size="20"  value="-n"/></TD>
 </TR>         
</TABLE>
<b>Note</b>: Using Translation Increases CDS Alignment Accuracy at Cost of Speed - Not Recommended for Sequences > 10 kb
</DIV>

<TD>
<TABLE class="small anchor algo_options" style="display: none">
 <TR align=left>
  <TH>Select Anchor Program: 
  <select class="backbox" id="dialign_anchor_program" size="1" onchange='check_dialign_anchor_program()'>
       <option value="blastz">blastz</option>
       <option value="bl2seq">bl2seq</option>
       <option value="CHAOS" selected>CHAOS</option>
      </select>
  </TH>
 </TR>
 <tr>
  <td colspan=2>
   <DIV id="anchor_options" class="anchor small algo_options"></DIV>
 </TABLE>

</TD>
<td width="2" bgcolor="#99FF99">


 <TR class="small"><th align=left>Other options:
 <tr><td><Table>
 <tr class="small">
  <td>Minimum HSP length for finding overlapped features:
  <td><input class="backbox" type="text" name="hsp_overlap_length" id="hsp_overlap_length" tabindex="1" size="5" value="50"/></TD>
 </table>
 </table>
 </div>
 </TR>
  
</TABLE>



<TABLE class="basic" width=100%>
 <TR>
  <TH colspan="2" align=left>
  <DIV  id="ip" class="topItem" onMouseOver="$('#ip').removeClass('topItem').addClass('topItemSelected');" onMouseOut="$('#ip').removeClass('topItemSelected').addClass('topItem');"  onClick='animate_section("#image_parameters","slideToggle")'>Image and Interface Parameters:</DIV>

<div class="menu" id="image_parameters" >

<table valign class="dropmenu" width="100%">
<TR valign=top>
<td valign=top>
<TABLE>
 <TR valign=top>
  <TD>
    <DIV class="small">
      Image Width (Pixels):
    </DIV>
  </TD>
  <TD>
    <DIV class="small">
	<input class="backbox" type="text" name="iw" id="iw" tabindex="1"  size="10" value="<TMPL_VAR NAME="IMAGE_WIDTH">" />
    </DIV>
  </TD>
 </TR>
 <TR>
  <Td>
    <DIV class="small">
      Image Height (Pixels):
    </DIV>
  </Td>
  <TD>
    <DIV class="small">
	<input class="backbox" type="text" name="ih" id="ih" tabindex="1"  size="10" value="<TMPL_VAR NAME="IMAGE_HEIGHT">" />
    </DIV>
  </TD>

 </TR>
 <TR>
  <Td>
    <DIV class="small">
      Feature Height (Pixels):
    </DIV>
  </Td>
  <TD>
    <DIV class="small">
	<input class="backbox" type="text" name="feat_h" id="feat_h" tabindex="1"  size="10" value="<TMPL_VAR NAME="FEAT_HEIGHT">" />
    </DIV>
  </TD>

 </TR>
 <TR>
  <Td>
    <DIV class="small">
      Padding between tracks (Pixels):
    </DIV>
  </Td>
  <TD>
    <DIV class="small">
	<input class="backbox" type="text" name="padding" id="padding" tabindex="1"  size="10" value="<TMPL_VAR NAME="PADDING">" />
    </DIV>
  </TD>

 </TR>
 <TR>
  <Td>
<font class="small">Color GC content: green=GC, orange=N? (SLOW)</font>
  <td>
<label class="small"><input class="backbox" type="radio" name="show_gc" id="show_gc" tabindex="1" value="1" <TMPL_VAR NAME="GC_COLOR_YES"> />Yes</label>
<label class=small><input class="backbox" type="radio" name="show_gc" id="show_gc" tabindex="1" value="0" <TMPL_VAR NAME="GC_COLOR_NO"> />No</label>
    </DIV>
  </TD>
 <TR>
  <Td>
<font class="small">Color N orange? (SLOW)</font>
  <td>
<label class="small"><input class="backbox" type="radio" name="show_nt" id="show_nt" tabindex="1" value="1" <TMPL_VAR NAME="NT_COLOR_YES">/>Yes</label>
<label class=small><input class="backbox" type="radio" name="show_nt" id="show_nt" tabindex="1" value="0" <TMPL_VAR NAME="NT_COLOR_NO">/>No</label>
    </DIV>
  </TD>
 <TR>
  <Td>
<font class="small">Auto adjust overlapping features? </font>
  <td>
  <label class="small"><input class="backbox" type="radio" name="overlap_adjustment" id="overlap_adjustment" tabindex="1" value="1" <TMPL_VAR NAME="OVERLAP_YES">/>Yes</label>
  <label class="small"><input class="backbox" type="radio" name="overlap_adjustment" id="overlap_adjustment" tabindex="1" value="0" <TMPL_VAR NAME="OVERLAP_NO"> />No</label>
    </DIV>
  </TD>
 <TR>
  <TD>
  <font class="small">Draw high-quality images? (SLOW) </font>
  <td>
  <label class="small"><input class="backbox" type="radio" name="hiqual" id="hiqual" tabindex="1" value="1" <TMPL_VAR NAME="HIQUAL_YES">/>Yes</label>
  <label class="small"><input class="backbox" type="radio" name="hiqual" id="hiqual" tabindex="1" value="0" <TMPL_VAR NAME="HIQUAL_NO"> />No</label>
 </TR>
</TABLE>

<td width="3" bgcolor="#99FF99">
<td>
 <table>
 <Tr valign = top>
 <td>
 <table class="small">
 <TR>
  <td>Color features overlapped by HSPs?
 <td>
 <label class=small><input class="backbox" type="radio" name="color_overlapped_features" id="color_overlapped_features" tabindex="1" value="1" <TMPL_VAR NAME="COLOR_HSP_YES">/>Yes</label>
 <label class=small><input class="backbox" type="radio" name="color_overlapped_features" id="color_overlapped_features" tabindex="1" value="0" <TMPL_VAR NAME="COLOR_HSP_NO"> />No</label>
 <TR>
  <Td>
<font class="small">Color matches in HSPs?</font>
 <td>
 <label class=small><input class="backbox" type="radio" name="color_hsp" id="color_hsp" tabindex="1" value="1" <TMPL_VAR NAME="COLOR_HSP_YES">/>Yes</label>
 <label class=small><input class="backbox" type="radio" name="color_hsp" id="color_hsp" tabindex="1" value="0" <TMPL_VAR NAME="COLOR_HSP_NO"> />No</label>

 <TR>
  <Td>
<font class="small">HSP label options: </font>
 <td>
<select id="hsp_labels">
<option value="0" <TMPL_VAR NAME="HSP_LABELS_NO">>Don't draw</option>
<option value="staggered" <TMPL_VAR NAME="HSP_LABELS_STAG">>Draw Staggered</option>
<option value="linear" <TMPL_VAR NAME="HSP_LABELS_LIN">>Draw Linear</option>
</select>
  </TD>
 <TR>
  <Td>
<font class="small">Limit HSP labels? </font>
 <td>
<font class=small>Show Top: <input class=backbox type=textbox size=3 id="hsp_limit_num" value="<TMPL_VAR NAME="HSP_LIMIT_NUM">"/></font><br>
 <label class="small"><input class="backbox" type="radio" name="hsp_limit" id="hsp_limit" tabindex="1" value="1" <TMPL_VAR NAME="HSP_LIMIT_YES">/>Yes</label> 
<label class="small"><input class="backbox" type="radio" name="hsp_limit" id="hsp_limit" tabindex="1" value="0" <TMPL_VAR NAME="HSP_LIMIT_NO"> />No</label> 

  </TD>
 <tr>
  <td>Don't show HSPs with <input class=backbox type=textbox size=3 id="hsp_overlap_limit" value="<TMPL_VAR NAME="HSP_OVERLAP_LIMIT">"/> overlaps
 <Tr>
  <td>Draw:
  <select id="draw_model">
   <option value = "full" <TMPL_VAR NAME="DRAW_MODEL_FULL">>Complete</option>
   <option value = "gene" <TMPL_VAR NAME="DRAW_MODEL_GENE">>Gene</option>
   <option value = "mRNA" <TMPL_VAR NAME="DRAW_MODEL_mRNA">>mRNA</option>
   <option value = "CDS" <TMPL_VAR NAME="DRAW_MODEL_CDS">>CDS</option>
   <option value = "RNA" <TMPL_VAR NAME="DRAW_MODEL_RNA">>RNA</option>
   <option value = "0" <TMPL_VAR NAME="DRAW_MODEL_NO">>No</option>
  </select> Models



<!--  <tr>
   <TD> <font class="small">Preset colors: <label><input class="backbox" type="radio" name="hspcolor" onClick="set_hsp_colors('default');"/>Default</label><label><input class="backbox" type="radio" name="hspcolor" onClick="set_hsp_colors('cblind');"/>Color blind</label><label><input class="backbox" type="radio" name="hspcolor" onClick="set_hsp_colors('fire');"/>Fire</label><label><input class="backbox" type="radio" name="hspcolor" onClick="set_hsp_colors('rasta');"/>Rasta</label></font> -->
  </table>
<td width="3" bgcolor="#99FF99">
  <td class = "small">
   Change HSP colors <span class=small>(red, green, blue values between 0-255)</span>
   <DIV id="hsp_colors"><TMPL_VAR NAME="HSP_COLOR"></DIV>

  </table>
 </table>
</div>
<TMPL_IF NAME=SAVE_SETTINGS>
<input type=button value="Save Settings" name="SaveSettings" id="SaveSettings" onclick="<TMPL_VAR NAME="SAVE_SETTINGS">">
<input type=button value="Reset Settings" name="ResetSettings" id="ResetSettings" onclick="reset_settings_gevo([],[]);window.location.reload()">
</TMPL_IF>
</TABLE>





</form>
</BODY>
</HTML>
</TMPL_IF>

<TMPL_IF NAME="RESULTS_DIV">
<table><tr><td>
<DIV id="results" ></DIV><br>
</table>
</TMPL_IF>


<TMPL_IF NAME="SEQ_SELECT">
<TMPL_LOOP NAME="SEQ_SELECT_LOOP">
<th align=left id ="seq_set<TMPL_VAR NAME="SEQ_NUM">">Sequence <TMPL_VAR NAME="SEQ_NUM">: 

<select class="backbox" id="seq_submit<TMPL_VAR NAME="SEQ_NUM">" size="1" onchange='seq_submit_change(<TMPL_VAR NAME="SEQ_NUM">)'>
<TMPL_VAR NAME=COGEPOS>
<option value="db<TMPL_VAR NAME="SEQ_NUM">">CoGe Database Name</option>
<option value="gb<TMPL_VAR NAME="SEQ_NUM">">NCBI GenBank</option>
<option value="dir<TMPL_VAR NAME="SEQ_NUM">">Direct Submission</option>

</select>

<DIV id="db<TMPL_VAR NAME="SEQ_NUM">" style="display: none;" class="seq_submission_type<TMPL_VAR NAME="SEQ_NUM"> seq_submission_type">
<TABLE class="small">
       <TR valign="top">
        <TD>Name:
        <TD align=left><input class="backbox" type="text" name="accn<TMPL_VAR NAME="SEQ_NUM">" id="accn<TMPL_VAR NAME="SEQ_NUM">" tabindex="1"  size="20" onBlur="dataset_search(['args__accn','accn<TMPL_VAR NAME="SEQ_NUM">','args__num', 'args__<TMPL_VAR NAME="SEQ_NUM">', 'args__dsid', 'args__<TMPL_VAR NAME="DSID">'],[feat_search_chain])" value="<TMPL_VAR NAME=DRACCN>" />
      <tr>
       <td colspan=2>     
        <DIV id="source<TMPL_VAR NAME="SEQ_NUM">" nowrap><input type="hidden" id="dsid<TMPL_VAR NAME="SEQ_NUM">"></DIV>
        <DIV id="feat<TMPL_VAR NAME="SEQ_NUM">"><input type="hidden" id="featid<TMPL_VAR NAME="SEQ_NUM">"></DIV>
</table>
</DIV>      


<DIV id="cogepos<TMPL_VAR NAME="SEQ_NUM">" style="display: none;" class="seq_submission_type<TMPL_VAR NAME="SEQ_NUM"> seq_submission_type">	
<TABLE class="small">
      <TR valign="top">
       <TD>Position:
       <TD><input class="location backbox" type="text" id="pos<TMPL_VAR NAME="SEQ_NUM">" value="<TMPL_VAR NAME=POS>" size=10>
      <TR>
       <TD>Organism:
       <TD><TMPL_VAR NAME=DSINFO>
</table>
</DIV>

<div id="drcoge<TMPL_VAR NAME="SEQ_NUM">"  style="display: none;" class="seq_submisttion_type seq_submission_type<TMPL_VAR NAME="SEQ_NUM"> drcoge<TMPL_VAR NAME="SEQ_NUM"> ">
<table>

      <TR>
       <TD><DIV class="small">Left sequence:</DIV>
       <TD><DIV  id="up<TMPL_VAR NAME="SEQ_NUM">" ><input class="location backbox" type="text" name="drup<TMPL_VAR NAME="SEQ_NUM">" id="drup<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" size="10" value="<TMPL_VAR NAME=DRUP>" /> </DIV>
      <TR>
       <TD><DIV class="small">Right sequence:</DIV>
       <TD><DIV  id="down<TMPL_VAR NAME="SEQ_NUM">"><input class="location backbox" type="text" name="drdown<TMPL_VAR NAME="SEQ_NUM">" id="drdown<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" size="10"  value="<TMPL_VAR NAME=DRDOWN>" /></DIV>
   <tr>
    <TD class=small colspan=2 align=center><div id="get_seq<TMPL_VAR NAME=SEQ_NUM>" onclick="get_seq(<TMPL_VAR NAME=SEQ_NUM>)"  onMouseOver="changeColor('get_seq<TMPL_VAR NAME="SEQ_NUM">','#009900'); " onMouseOut="changeColor('get_seq<TMPL_VAR NAME="SEQ_NUM">','#000099');">Get Sequence</div>
     
</table>
</DIV>


<DIV id="gb<TMPL_VAR NAME="SEQ_NUM">" style="display: none;" class="seq_submission_type<TMPL_VAR NAME="SEQ_NUM"> seq_submission_type">
<TABLE style="width: 100%;" class="small">
       <TR valign="top">
        <TD>Accession:
        <TD><input class="backbox" type="text" name="gbaccn<TMPL_VAR NAME="SEQ_NUM">" id="gbaccn<TMPL_VAR NAME="SEQ_NUM">" tabindex="1"  size="10" value="<TMPL_VAR NAME=GBACCN>" />
      <TR>
	<TD><DIV class="small">Start Position:</DIV>
      	<TD><input class="backbox" type="text" name="gbstart<TMPL_VAR NAME="SEQ_NUM">" id="gbstart<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" size="10" value="<TMPL_VAR NAME=GBSTART>" /></TD>
      <TR>
       <TD><DIV class="small">Sequence Length:</DIV>
       <TD><input class="backbox" type="text" name="gblength<TMPL_VAR NAME="SEQ_NUM">" id="gblength<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" size="10"  value="<TMPL_VAR NAME=GBLENGTH>"/>
</TABLE>
</DIV>

<DIV id="dir<TMPL_VAR NAME="SEQ_NUM">" style="display: none;" class="seq_submission_type<TMPL_VAR NAME="SEQ_NUM"> seq_submission_type">	
<TABLE style="width: 100%;" class="small">
      <TR valign="top">
      <TD>       
     Paste fasta or genbank format sequence below:<BR> <textarea class="backbox" name="dirseq<TMPL_VAR NAME="SEQ_NUM">" id="dirseq<TMPL_VAR NAME="SEQ_NUM">" tabindex="1"  rows="5" cols="30"></textarea><BR>
     <font class="small">Start: <input class="backbox" type="text" name="dirstart<TMPL_VAR NAME="SEQ_NUM">" id="dirstart<TMPL_VAR NAME="SEQ_NUM">" tabindex="1"  size="5" value="1" /></font>
     <font class="small">Length: <input class="backbox" type="text" name="dirlength<TMPL_VAR NAME="SEQ_NUM">" id="dirlength<TMPL_VAR NAME="SEQ_NUM">" tabindex="1"  size="5" value=""  /></font><br>
</table>
</DIV>


<table>
<tr><td>

   <DIV id="seqopts<TMPL_VAR NAME="SEQ_NUM">" class="topItemPlain small plus" onMouseOver="changeColor('seqopts<TMPL_VAR NAME="SEQ_NUM">','#000099'); " onMouseOut="changeColor('seqopts<TMPL_VAR NAME="SEQ_NUM">','#009900');" onClick='switchPlusButton(".sequence_options"+<TMPL_VAR NAME="SEQ_NUM">, "#seqopts"+<TMPL_VAR NAME="SEQ_NUM">);animate_section(".sequence_options<TMPL_VAR NAME="SEQ_NUM">","slideToggle"); ' >Sequence <TMPL_VAR NAME="SEQ_NUM"> Options:</DIV>
   <Table class="small sequence_options<TMPL_VAR NAME="SEQ_NUM"> dropMenuPlain" style="display: none;">
      <TR>
	<TD>Reverse complement: 
	<td><label><input class="backbox" type="radio" name="rev<TMPL_VAR NAME="SEQ_NUM">" id="rev<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" value="1" <TMPL_VAR NAME=REV_YES> onclick='rev_locs("<TMPL_VAR NAME="SEQ_NUM">")' />Yes</label>
	    <label><input class="backbox" type="radio" name="rev<TMPL_VAR NAME="SEQ_NUM">" id="rev<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" value="0" <TMPL_VAR NAME=REV_NO> onclick='rev_locs("<TMPL_VAR NAME="SEQ_NUM">")' />No</label>
 <TR align=left>
  <Td>
   Mask Exons:
  <TD>
   <label><input class="backbox" type="radio" name="mask_cds<TMPL_VAR NAME="SEQ_NUM">" id="mask_cds<TMPL_VAR NAME="SEQ_NUM">" tabindex="22" value="1" <TMPL_VAR NAME=EXON_MASK_ON> />Yes</label>
    <label><input class="backbox" type="radio" name="mask_cds<TMPL_VAR NAME="SEQ_NUM">" id="mask_cds<TMPL_VAR NAME="SEQ_NUM">" tabindex="22" value="0" checked <TMPL_VAR NAME=EXON_MASK_OFF> />No</label>
 </TR>
 <TR align=left>
  <Td>
   Mask Non-coding Sequence:
  <TD>
   <label><input class="backbox" type="radio" name="mask_ncs<TMPL_VAR NAME="SEQ_NUM">" id="mask_ncs<TMPL_VAR NAME="SEQ_NUM">" tabindex="22" value="1" />Yes</label>
   <label><input class="backbox" type="radio" name="mask_ncs<TMPL_VAR NAME="SEQ_NUM">" id="mask_ncs<TMPL_VAR NAME="SEQ_NUM">" tabindex="22" value="0" checked />No</label>
 </TR>
 <TR align=left>
  <Td>
   RepeatMasker (SLOW):
  <TD>
	<label><input class="backbox" type="radio" name="repmask<TMPL_VAR NAME=SEQ_NUM>" id="repmask<TMPL_VAR NAME=SEQ_NUM>" tabindex="22" value="1" />Yes</label>
	<label><input class="backbox" type="radio" name="repmask<TMPL_VAR NAME=SEQ_NUM>" id="repmask<TMPL_VAR NAME=SEQ_NUM>" tabindex="22" value="0" checked />No</label><br>
 <TR align=left>
  <Td>
   Reference Sequence:
  <TD>
	<label><input class="backbox" type="radio" name="ref_seq<TMPL_VAR NAME=SEQ_NUM>" id="ref_seq<TMPL_VAR NAME=SEQ_NUM>" tabindex="22" value="1" <TMPL_VAR NAME=REF_YES> />Yes</label>
	<label><input class="backbox" type="radio" name="ref_seq<TMPL_VAR NAME=SEQ_NUM>" id="ref_seq<TMPL_VAR NAME=SEQ_NUM>" tabindex="22" value="0" <TMPL_VAR NAME=REF_NO> />No</label><br>
 <TR align=left>
  <Td>
   Skip Sequence:
  <TD>
	<label><input class="backbox" type="radio" name="skip_seq<TMPL_VAR NAME=SEQ_NUM>" id="skip_seq<TMPL_VAR NAME=SEQ_NUM>" tabindex="22" value="1" />Yes</label>
	<label><input class="backbox" type="radio" name="skip_seq<TMPL_VAR NAME=SEQ_NUM>" id="skip_seq<TMPL_VAR NAME=SEQ_NUM>" tabindex="22" value="0" checked/>No</label><br>
 </table>
</table>
</th>
</TMPL_LOOP>
</TMPL_IF>


<TMPL_IF NAME=HSP_COLOR_FORM>
 <table>
  <tr valign = top>
   <td>
 <TMPL_LOOP NAME="HSP_COLOR_LOOP">
  <table>

  <tr>
   <td class="small" nowrap>
     HSP <TMPL_VAR NAME="HSP_NUM"> color:
   <TD class="small" nowrap>
     R:<input class="backbox" type="text" onBlur="update_colors('<TMPL_VAR NAME="HSP_NUM">')" name="r<TMPL_VAR NAME="HSP_NUM">" id="r<TMPL_VAR NAME="HSP_NUM">" tabindex="1"  size="3" value="<TMPL_VAR NAME="RED">" />
   <TD class="small" nowrap>
     G:<input class="backbox" type="text" onBlur="update_colors('<TMPL_VAR NAME="HSP_NUM">')" name="g<TMPL_VAR NAME="HSP_NUM">" id="g<TMPL_VAR NAME="HSP_NUM">" tabindex="1"  size="3" value="<TMPL_VAR NAME="GREEN">" />
   <TD class="small" nowrap>
     B:<input class="backbox" type="text" onBlur="update_colors('<TMPL_VAR NAME="HSP_NUM">')" name="b<TMPL_VAR NAME="HSP_NUM">" id="b<TMPL_VAR NAME="HSP_NUM">" tabindex="1"  size="3" value="<TMPL_VAR NAME="BLUE">" />
   <TD class="small" nowrap>
     <div id="sample_color<TMPL_VAR NAME="HSP_NUM">" class="gevo_sample_color" style="background-color: rgb(<TMPL_VAR NAME="RED">,<TMPL_VAR NAME="GREEN">,<TMPL_VAR NAME="BLUE">)"></div>
  </table>
  </th>
 </TMPL_LOOP>
  </table>
</TMPL_IF>


<TMPL_IF NAME=GEN_REFERENCE_SEQUENCES>
<TMPL_LOOP NAME="REF_SEQ">
<div id="refseq<TMPL_VAR NAME=SEQ_NUM>">
<font class ="small">Sequence <TMPL_VAR NAME=SEQ_NUM>: 
<label><input class="backbox" type="radio" name="ref_seq<TMPL_VAR NAME=SEQ_NUM>" id="ref_seq<TMPL_VAR NAME=SEQ_NUM>" tabindex="22" value="1" checked />On</label>
<label><input class="backbox" type="radio" name="ref_seq<TMPL_VAR NAME=SEQ_NUM>" id="ref_seq<TMPL_VAR NAME=SEQ_NUM>" tabindex="22" value="0" />Off</label><br>
</div>
</TMPL_LOOP>
<div id="new_refseq"></div>
</TMPL_IF>


