<TMPL_IF NAME=SEQ_RETRIEVAL>
<HTML>
<HEAD>
 <TITLE><TMPL_VAR NAME=TITLE></TITLE>
 <link rel="stylesheet" type="text/css" href="/CoGe/css/styled.css" />
 <link rel="stylesheet" type="text/css" href="/CoGe/css/sddm.css" />
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</HEAD>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.js"></SCRIPT>
<script language="JavaScript" type="text/javascript" src="/CoGe/js/menu.js"></script>
<SCRIPT language="JavaScript">
function submitform() {
  document.main_form.submit();
}
function change( info ) {
        document.getElementById("info").innerHTML = info;        
}

function changeColor(id, color) {
  document.getElementById(id).style.color = color;
}

function setup(){

$(".location").keyup(function(){
     if($('#apply_all')[0].checked){
        var self = this;
        $('.location').val(self.value)
     }
});

  for (var i = 1; i <= <TMPL_VAR NAME="NUM_SEQS">; i++)
   {
     if ($('#draccn'+i).val()) {dataset_search(['draccn'+i,'args__'+i],[feat_search_chain]);}
   }
}

function rset (num_seqs) {
$("#results").html(" ");

for (var i =1; i<= num_seqs; i++)
  {
    
    $('#draccn'+i).val("");
    dataset_search(['draccn'+i,'args__'+i],[feat_search_chain]);
    $('#gbaccn'+i).val("");
    $('#dirseq'+i).val("");
    
  }

}


function set_hsp_colors (type)
 {
  if (type == "rasta")
   {
    $('#hsp1r').val(255)
    $('#hsp1g').val(0)
    $('#hsp1b').val(0)
    $('#hsp2r').val(255)
    $('#hsp2g').val(255)
    $('#hsp2b').val(0)
    $('#hsp3r').val(51)
    $('#hsp3g').val(102)
    $('#hsp3b').val(51)
   }
  else if (type == "cblind")
   {
    $('#hsp1r').val(110)
    $('#hsp1g').val(110)
    $('#hsp1b').val(110)
    $('#hsp2r').val(200)
    $('#hsp2g').val(200)
    $('#hsp2b').val(150)
    $('#hsp3r').val(220)
    $('#hsp3g').val(220)
    $('#hsp3b').val(220)
   }
  else if (type == "fire")
   {
    $('#hsp1r').val(255)
    $('#hsp1g').val(0)
    $('#hsp1b').val(0)
    $('#hsp2r').val(255)
    $('#hsp2g').val(125)
    $('#hsp2b').val(0)
    $('#hsp3r').val(255)
    $('#hsp3g').val(255)
    $('#hsp3b').val(0)
   }
  else 
   {
    $('#hsp1r').val(150)
    $('#hsp1g').val(150)
    $('#hsp1b').val(255)
    $('#hsp2r').val(100)
    $('#hsp2g').val(255)
    $('#hsp2b').val(100)
    $('#hsp3r').val(255)
    $('#hsp3g').val(100)
    $('#hsp3b').val(100)
   }
  
 }

function feat_search_chain(stuff, num) {
 if (stuff) {
  $("#source"+num).html(stuff);
  feat_search(['draccn'+num,'dsid'+num, 'args__'+num],['feat'+num]);
 }
}

//this func switching the "left" and "right" sequence values when reverse region display is selected
function rev_locs (val) {
  up = $('#'+'drup'+val).val();
  down = $('#'+'drdown'+val).val();
  $('#'+'drup'+val).val(down);
  $('#'+'drdown'+val).val(up);

}




function check_blast_program (){

var blast = $("#blast_program").val();
if (blast == "blastz")
 {
  
  $("#blast_options").hide();
  $("#blastzinfo").show();
 }
else
 {
  $("#blast_options").show();
  $("#blastzinfo").hide();	

 }
if (blast == "tblastx")
 {
  $("#wordsize").val(3);
  $("#gapopen").val(11);
  $("#gapextend").val(1);
  $("#eval").val(10);
  $("#mismatch").hide();
  $("#tblastninfo").show();		
 }
else
 {
  $("#tblastninfo").hide();		
 }
if (blast == "blastn")
 {
  $("#wordsize").val(7);
  $("#gapopen").val(5);
  $("#gapextend").val(2);
  $("#eval").val(100);
  $("#mismatch").show();
 }
 }


$(document).ready(function(){

check_blast_program();
setup();

 });

</SCRIPT>
<TMPL_VAR NAME="MESSAGE">
<TMPL_VAR NAME="GO_BUTTON">

&nbsp;&nbsp;

<input type="button" value="Clear" onClick="rset(<TMPL_VAR NAME="NUM_SEQS">)">
<form>
Number of sequences: 
<input class="backbox" name=num_seqs id=num_seqs type="textbox" size=2 value=<TMPL_VAR NAME ="NUM_SEQS">>
<input type="submit" value="reload">
</form>


<form method="post" enctype="multipart/form-data" name="main_form" onSubmit="">
<TABLE class="basic" width=100%>
 <TR>
  <TH colspan="<TMPL_VAR NAME="NUM_SEQS">">
   <DIV class="mainDiv">
   <DIV id = "dr" class="topItem" onMouseOver="Init(this); changeColor('dr','#000099'); " onMouseOut="changeColor('dr','#009900');">CoGe Database Retrieval:</DIV>
   <DIV class="dropMenu">
     <DIV class="subMenu" style="display:inline;">
     <TMPL_VAR NAME="COGE_SEQS">
     <Div class ="small" align = "left">Apply distance to all?<input type="checkbox" name="apply_all" id="apply_all" value="0" /></div>

     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     </DIV>
  </DIV>
  </DIV>
 </TR>

 <TR>
  <TH colspan="<TMPL_VAR NAME="NUM_SEQS">">
   <DIV class="mainDiv" >
   <DIV id="isr" class="topItem" onMouseOver="Init(this);changeColor('isr','#000099'); " onMouseOut="changeColor('isr','#009900');" >NCBI Sequence Retrieval:</DIV>
   <DIV class="dropMenu">
     <DIV class="subMenu" style="display:none;" >
     <TMPL_VAR NAME="NCBI_SEQS">	
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     </DIV>
  </DIV>
  </DIV>		
 </TR>
 <TR>
  <TH colspan="<TMPL_VAR NAME="NUM_SEQS">">
   <DIV class="mainDiv" >
   <DIV id="dss" class="topItem" onMouseOver="Init(this);  changeColor('dss','#000099'); " onMouseOut="changeColor('dss','#009900');" >Direct Sequence Submission:</DIV>
   <DIV class="dropMenu">
     <DIV class="subMenu" style="display:none;" >
     <TMPL_VAR NAME="DIRECT_SEQS">		
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     </DIV>
  </DIV>
  </DIV>		
 </TR>
</TABLE>
</TMPL_IF>

<TMPL_IF NAME=OPTIONS>
<TABLE class="basic" width=100%>
 <TR>
  <TH colspan="2">
  <DIV class="mainDiv">
   <DIV id="bp" class="topItem" onMouseOver="Init(this);changeColor('bp','#000099'); " onMouseOut="changeColor('bp','#009900');" >Comparison Parameters and Options:</DIV>
   <DIV class="dropMenu">
     <DIV class="subMenu" style="display:none;">
     <TABLE style="width: 100%;">
      <TR valign=top>
      <TD>
      <TABLE>
  <TR>
  <TD>Sequence and Algorithm Options: </TD>
  <TD><select class="backbox" id="blast_program" size="1" onchange='check_blast_program()'>
       <option>blastn</option>
       <option>tblastx</option>
       <option>blastz</option>
      </select>
   </TD>
 </TR>
   </Table>    
 <DIV id = "blast_options">
   <Table class=small>    
  <TR>
  <TD>Word Size (-W):</TD>
  <TD><input class="backbox" type="text" name="wordsize" id="wordsize" tabindex="1" size="3" value="7" /></TD>
 </TR>    
 <TR>
  <TD>Gap Open Penalty (-G): </TD>
  <TD><input class="backbox" type="text" name="gapopen" id="gapopen" tabindex="1" size="3" value="5" /></TD>
 </TR>    
 <TR>
  <TD>Gap Extension Penalty (-E): </TD>
  <TD><input class="backbox" type="text" name="gapextend" id="gapextend" tabindex="1" size="3" value="2" /></TD>
 </TR>    
 <TR>
  <TD>Mismatch Penalty (-q): </TD>
  <TD><input class="backbox" type="text" name="mismatch" id="mismatch" tabindex="1" size="3" value="-2" /></TD>
 </TR>    
 <TR>
  <TD>Expectation value (E) (-e): </TD>
  <TD><input class="backbox" type="text" name="eval" id="eval" tabindex="1" size="3" value="100" /></TD>
 </TR>    
 <TR>
  <TD>Other Blast Parameters: </TD>
  <TD><input class="backbox" type="text" name="blastparams" id="blastparams" tabindex="1" size="10" /></TD>
 </TR>         

</TABLE>
</DIV>
 <DIV id="blastzinfo" class="small">
Note: parameter options haven't been implemented for blastz (yet)
</DIV>

 <DIV id="tblastninfo" class="small">
 <font class="small">Hide HSPs with stop codons in a coding sequence?<label><input class="backbox" type="radio" name="show_hsps_with_stop_codon" id="show_hsps_with_stop_codon" tabindex="1" value="1" />Yes</label><label><input class="backbox" type="radio" name="show_hsps_with_stop_codon" id="show_hsps_with_stop_codon" tabindex="1" value="0" checked />No</label></font>
<br>Note: Word size limited to 3 for tblastx
</DIV> 
<td width="3" bgcolor="#99FF99">
<td> Select sequence to which all other sequences will be compared:<br>
<TMPL_LOOP NAME="REF_SEQ">
<font class ="small">Sequence <TMPL_VAR NAME=SEQ_NUM>: 
<label><input class="backbox" type="radio" name="ref_seq<TMPL_VAR NAME=SEQ_NUM>" id="ref_seq<TMPL_VAR NAME=SEQ_NUM>" tabindex="22" value="1" checked />On</label>
<label><input class="backbox" type="radio" name="ref_seq<TMPL_VAR NAME=SEQ_NUM>" id="ref_seq<TMPL_VAR NAME=SEQ_NUM>" tabindex="22" value="0" />Off</label><br>
</TMPL_LOOP>
<td width="3" bgcolor="#99FF99">
<td>
<TABLE >
 <TR align=left>
  <TH>
    <DIV class=small>
      Spike Sequence HSP Filter:
    </DIV>
  </TD>
  <TD>
      <label class=small><input class="backbox" type="radio" name="matchfilter" id="matchfilter" tabindex="15" value="1" checked />On</label>
      <label class=small><input class="backbox" type="radio" name="matchfilter" id="matchfilter" tabindex="15" value="0" />Off</label>
  <tr align=left>
  <th class=small>Spike sequence length:
  <td><TMPL_VAR NAME=SPIKE_LEN>
 </TR>
 <TR align=left>
  <TH class=small>
   Mask Exons:
  <TD class = small>
   <label><input class="backbox" type="radio" name="mask" id="mask" tabindex="22" value="1" <TMPL_VAR NAME=EXON_MASK_ON> />On</label>
    <label><input class="backbox" type="radio" name="mask" id="mask" tabindex="22" value="0" <TMPL_VAR NAME=EXON_MASK_OFF> />Off</label>
 </TR>
 <TR align=left>
  <TH class = small>
   Mask Non-coding Sequence:
  <TD class = small>
   <label><input class="backbox" type="radio" name="mask_ncs" id="mask_ncs" tabindex="22" value="1" />On</label>
   <label><input class="backbox" type="radio" name="mask_ncs" id="mask_ncs" tabindex="22" value="0" checked />Off</label>
 </TR>

        </TABLE>

     </table>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     </DIV>
  </DIV>
  </DIV>
 </TR>
	  
 </TR>
</TABLE>

<TABLE class="basic" width=100%>
 <TR>
  <TH colspan="2">
  <DIV class="mainDiv">
   <DIV id="ip" class="topItem" onMouseOver="Init(this);changeColor('ip','#000099'); " onMouseOut="changeColor('ip','#009900');" >Image Parameters:</DIV>
   <DIV class="dropMenu">
     <DIV class="subMenu" style="display:none;">
     <TABLE style="width: 100%;">
      <TR>
      <TD>

<table valign>
<td valign=top>
<TABLE class="basic">
 <TR>
  <TD>
    <DIV class="small">
      Image Width (Pixels):
    </DIV>
  </TD>
  <TD>
    <DIV class="small">
	<input class="backbox" type="text" name="iw" id="iw" tabindex="1"  size="10" value="1000" />
    </DIV>
  </TD>
 </TR>
 <TR>
  <Td>
    <DIV class="small">
      Image Height (Pixels):
    </DIV>
  </Td>
  <TD>
    <DIV class="small">
	<input class="backbox" type="text" name="ih" id="ih" tabindex="1"  size="10" value="100" />
    </DIV>
  </TD>

 </TR>
 <TR>
  <Td>
    <DIV class="small">
      Feature Height (Pixels):
    </DIV>
  </Td>
  <TD>
    <DIV class="small">
	<input class="backbox" type="text" name="feat_h" id="feat_h" tabindex="1"  size="10" value="15" />
    </DIV>
  </TD>

 </TR>
 <TR>
  <Td>
    <DIV class="small">
      Padding between tracks (Pixels):
    </DIV>
  </Td>
  <TD>
    <DIV class="small">
	<input class="backbox" type="text" name="padding" id="padding" tabindex="1"  size="10" value="5" />
    </DIV>
  </TD>

 </TR>
 <TR>
  <Td>
<font class="small">Color GC content: green=GC, orange=N? (SLOW)</font>
  <td>
<label class="small"><input class="backbox" type="radio" name="show_gc" id="show_gc" tabindex="1" value="1" />Yes</label>
<label class=small><input class="backbox" type="radio" name="show_gc" id="show_gc" tabindex="1" value="0" checked />No</label>
    </DIV>
  </TD>
 <TR>
  <Td>
<font class="small">Auto adjust overlapping features? </font>
  <td>
  <label class="small"><input class="backbox" type="radio" name="overlap_adjustment" id="overlap_adjustment" tabindex="1" value="0" />Yes</label>
  <label class="small"><input class="backbox" type="radio" name="overlap_adjustment" id="overlap_adjustment" tabindex="1" value="1"  checked />No</label>
    </DIV>
  </TD>
 <TR>
  <TD>
  <font class="small">Draw high-quality images? (~50% slower algorithm) </font>
  <td>
  <label class="small"><input class="backbox" type="radio" name="hiqual" id="hiqual" tabindex="1" value="1" />Yes</label>
  <label class="small"><input class="backbox" type="radio" name="hiqual" id="hiqual" tabindex="1" value="0" checked />No</label>
 </TR>
</TABLE>

<td width="3" bgcolor="#99FF99">
<td>
 <table>
 <Tr valign = top>
 <td>
 <table>
 <TR>
  <Td>
<font class="small">Color Matches in HSPs?</font>
 <td>
 <label class=small><input class="backbox" type="radio" name="color_hsp" id="color_hsp" tabindex="1" value="1" />Yes</label><label class=small><input class="backbox" type="radio" name="color_hsp" id="color_hsp" tabindex="1" value="0" checked />No</label>

 <TR>
  <Td>
<font class="small">HSP Label options: </font>
 <td>
<label class=small><input class="backbox" type="radio" name="hsp_labels" id="hsp_labels" tabindex="1" value="0" />Don't draw</label><br>
<label class=small><input class="backbox" type="radio" name="hsp_labels" id="hsp_labels" tabindex="1" value="staggered" checked />Draw Staggered</label><br>
<label class=small><input class="backbox" type="radio" name="hsp_labels" id="hsp_labels" tabindex="1" value="linear" />Draw Linear</label>
  </TD>
 <TR>
  <Td>
<font class="small">Limit HSP labels? </font>
 <td>
<font class=small>Show Top: <input class=backbox type=textbox size=3 id="hsp_limit_num" value="20"/></font><br>
 <label class="small"><input class="backbox" type="radio" name="hsp_limit" id="hsp_limit" tabindex="1" value="1" />Yes</label> 
<label class="small"><input class="backbox" type="radio" name="hsp_limit" id="hsp_limit" tabindex="1" value="0" checked />No</label> 

  </TD>
<!--  <tr>
   <TD> <font class="small">Preset colors: <label><input class="backbox" type="radio" name="hspcolor" onClick="set_hsp_colors('default');"/>Default</label><label><input class="backbox" type="radio" name="hspcolor" onClick="set_hsp_colors('cblind');"/>Color blind</label><label><input class="backbox" type="radio" name="hspcolor" onClick="set_hsp_colors('fire');"/>Fire</label><label><input class="backbox" type="radio" name="hspcolor" onClick="set_hsp_colors('rasta');"/>Rasta</label></font> -->
  </table>
<td width="3" bgcolor="#99FF99">
  <td class = "small">

   <TMPL_VAR NAME="HSP_COLOR">

  </table>
 </table>
</table>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     </DIV>
  </DIV>
  </DIV>
 </TR>
	  
 </TR>

</TABLE>

<TABLE class="basic" width=100%>
 <TR>
  <TH colspan="2">
  <DIV class="mainDiv">
   <DIV id="infor" class="topItem" onMouseOver="Init(this);changeColor('infor','#000099'); " onMouseOut="changeColor('infor','#009900');" >Information:</DIV>
   <DIV class="dropMenu">
     <DIV class="subMenu" style="display:none;">
     <TABLE style="width: 100%;">
      <TR>
      <TD>


<TABLE class="basic">
 <TR valign="top">
  <TH>
    <DIV>
	New:
    </DIV>
  </TD>
  <TD>
    <DIV>
	Looking for help?  Check out the <a href ="help/GEvo">GEvo help page</a>!
    </DIV>
  </TD>
 </TR>
        </TABLE>
     </table>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     </DIV>
  </DIV>
  </DIV>
 </TR>
	  
 </TR>

</TABLE>





</form>
</BODY>
</HTML>
</TMPL_IF>

<TMPL_IF NAME="RESULTS_DIV">
<DIV id="results" ></DIV>
</TMPL_IF>


<TMPL_IF NAME="COGE_SEQ_SELECT">
<TABLE style="width: 100%;">
      <TR valign="top">

      <TMPL_LOOP NAME="COGE_SEQ_SELECT_LOOP">

      <TD>       
      <TABLE>
       <TR valign="top">
        <TD>Name <TMPL_VAR NAME="SEQ_NUM">:
        <TD><input class="backbox" type="text" name="draccn<TMPL_VAR NAME="SEQ_NUM">" id="draccn<TMPL_VAR NAME="SEQ_NUM">" tabindex="1"  size="20" onBlur="dataset_search(['draccn<TMPL_VAR NAME="SEQ_NUM">','args__<TMPL_VAR NAME="SEQ_NUM">'],[feat_search_chain])" value="<TMPL_VAR NAME=DRACCN>" />
        <DIV id="source<TMPL_VAR NAME="SEQ_NUM">" nowrap><input type="hidden" id="dsid<TMPL_VAR NAME="SEQ_NUM">"></DIV>
        <DIV id="feat<TMPL_VAR NAME="SEQ_NUM">"><input type="hidden" id="featid<TMPL_VAR NAME="SEQ_NUM">"></DIV>
      <TR>
       <TD><DIV class="small">Left sequence:</DIV>
       <TD><DIV  id="up<TMPL_VAR NAME="SEQ_NUM">" ><input class="location" type="text" name="drup<TMPL_VAR NAME="SEQ_NUM">" id="drup<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" size="10" value="<TMPL_VAR NAME=DRUP>" /> </DIV>
      <TR>
       <TD><DIV class="small">Right sequence:</DIV>
       <TD><DIV  id="down<TMPL_VAR NAME="SEQ_NUM">"><input class="location" type="text" name="drdown<TMPL_VAR NAME="SEQ_NUM">" id="drdown<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" size="10"  value="<TMPL_VAR NAME=DRDOWN>" /></DIV>
      <TR>
	<TD colspan =2>
	<font class="small">Reverse complement: <label><input class="backbox" type="radio" name="drrev<TMPL_VAR NAME="SEQ_NUM">" id="drrev<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" value="1" <TMPL_VAR NAME=REV_YES> onclick='rev_locs("<TMPL_VAR NAME="SEQ_NUM">")' />Yes</label><label><input class="backbox" type="radio" name="drrev<TMPL_VAR NAME="SEQ_NUM">" id="drrev<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" value="0" <TMPL_VAR NAME=REV_NO> onclick='rev_locs("<TMPL_VAR NAME="SEQ_NUM">")' />No</label></font>
      </TABLE>

      </TMPL_LOOP>

     </table>

</TMPL_IF>

<TMPL_IF NAME="NCBI_SEQ_SELECT">
<TABLE style="width: 100%;">
      <TR valign="top">

      <TMPL_LOOP NAME="NCBI_SEQ_SELECT_LOOP">

      <TD>       
      <TABLE>
       <TR valign="top">
        <TD>Accession <TMPL_VAR NAME="SEQ_NUM">:
        <TD><input class="backbox" type="text" name="gbaccn<TMPL_VAR NAME="SEQ_NUM">" id="gbaccn<TMPL_VAR NAME="SEQ_NUM">" tabindex="1"  size="10" value="<TMPL_VAR NAME=GBACCN>" />
      <TR>
	<TD><DIV class="small">Start Position:</DIV>
      	<TD><input class="backbox" type="text" name="gbstart<TMPL_VAR NAME="SEQ_NUM">" id="gbstart<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" size="10" value="1" /></TD>
      <TR>
       <TD><DIV class="small">Left:</DIV>
       <TD><input class="backbox" type="text" name="gbup<TMPL_VAR NAME="SEQ_NUM">" id="gbup<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" size="10" value="0" />
      <TR>
       <TD><DIV class="small">Right:</DIV>
       <TD><input class="backbox" type="text" name="gbdown<TMPL_VAR NAME="SEQ_NUM">" id="gbdown<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" size="10"  value=""/>
      <TR>
       <TD colspan=2>
       <font class="small">Reverse Complement: <label><input class="backbox" type="radio" name="gbrev<TMPL_VAR NAME="SEQ_NUM">" id="gbrev<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" value="1" />Yes</label><label><input class="backbox" type="radio" name="gbrev<TMPL_VAR NAME="SEQ_NUM">" id="gbrev<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" value="0" checked />No</label><BR></font>
      </TABLE>

      </TMPL_LOOP>

     </table>

</TMPL_IF>
<TMPL_IF NAME="DIRECT_SEQ_SELECT">
<TABLE style="width: 100%;">
      <TR valign="top">

      <TMPL_LOOP NAME="DIRECT_SEQ_SELECT_LOOP">

      <TD>       
      <DIV>
     Sequence <TMPL_VAR NAME="SEQ_NUM">:<BR> <textarea class="backbox" name="dirseq<TMPL_VAR NAME="SEQ_NUM">" id="dirseq<TMPL_VAR NAME="SEQ_NUM">" tabindex="1"  rows="5" cols="30"></textarea><BR>
     <font class="small">Start: <input class="backbox" type="text" name="dirstart<TMPL_VAR NAME="SEQ_NUM">" id="dirstart<TMPL_VAR NAME="SEQ_NUM">" tabindex="1"  size="5" value="1" /></font>
     <font class="small">Stop: <input class="backbox" type="text" name="dirstop<TMPL_VAR NAME="SEQ_NUM">" id="dirstop<TMPL_VAR NAME="SEQ_NUM">" tabindex="1"  size="5" value=""  /></font><br>
     <font class="small">Reverse Complement: <label><input class="backbox" type="radio" name="dirrev<TMPL_VAR NAME="SEQ_NUM">" id="dirrev<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" value="1" />Yes</label><label><input class="backbox" type="radio" name="dirrev<TMPL_VAR NAME="SEQ_NUM">" id="dirrev<TMPL_VAR NAME="SEQ_NUM">" tabindex="1" value="0" checked />No</label><BR></font><br>

      </DIV>
      
      </TMPL_LOOP>

     </table>

</TMPL_IF>

<TMPL_IF NAME=HSP_COLOR_FORM>
 <table>
  <tr valign = top>
   <td>
 <TMPL_LOOP NAME="HSP_COLOR_LOOP">
  <table>

  <tr>
   <td class="small" nowrap>
     HSP <TMPL_VAR NAME="HSP_NUM"> color:
   <TD class="small" nowrap>
     R:<input class="backbox" type="text" name="r<TMPL_VAR NAME="HSP_NUM">" id="r<TMPL_VAR NAME="HSP_NUM">" tabindex="1"  size="3" value="<TMPL_VAR NAME="RED">" />
   <TD class="small" nowrap>
     G:<input class="backbox" type="text" name="g<TMPL_VAR NAME="HSP_NUM">" id="g<TMPL_VAR NAME="HSP_NUM">" tabindex="1"  size="3" value="<TMPL_VAR NAME="GREEN">" />
   <TD class="small" nowrap>
     B:<input class="backbox" type="text" name="b<TMPL_VAR NAME="HSP_NUM">" id="b<TMPL_VAR NAME="HSP_NUM">" tabindex="1"  size="3" value="<TMPL_VAR NAME="BLUE">" />
  </table>
 </TMPL_LOOP>
 </table>
</TMPL_IF>