<script src="/CoGe/gobe/static/swfobject/swfobject.js" ></script>
<script language="JavaScript">
function prepare_update()
 {
   var num_seqs = $("#num_seqs").val();
   var args;
   for (var i=1; i<=num_seqs; i++)
     {
       if (i > 1) {args = args+":"+$('#display-'+i).val()+"-"+$('#image-'+i).val();}
       else {args = $('#display-'+i).val()+"-"+$('#image-'+i).val();}
 //      args[i-1] = 'args__'+$('#display-'+i).val()+"-"+$('#image-'+i).val();
     }
   update(['sqlite','args__'+args],[]);
   window.location.reload();
 }
</script>

<TMPL_VAR NAME="STUFF">
<DIV id="flash_viewer"></DIV>
<SCRIPT language="JavaScript">
    var getQueryParamValue = swfobject.getQueryParamValue;
    var width = getQueryParamValue('w') || <TMPL_VAR NAME="WIDTH">; 
    var height = getQueryParamValue('h') || <TMPL_VAR NAME="HEIGHT">; 
    var params = {'bgcolor': '#FFFFFF'};
    var flashVars = {
            'n'        : getQueryParamValue('n') || <TMPL_VAR NAME="SEQ_NUM">,
            'freezable': getQueryParamValue('freezable') || 'false',
            'pad_gs'   : jQuery('#pad_gs') ? jQuery('#pad_gs').val()  : getQueryParamValue('pad_gs') || '0',
            'gsid'     : getQueryParamValue('gsid') || getQueryParamValue('genespace_id') || '0',
            'base_url' : getQueryParamValue('base_url')|| '/CoGe/',
            'img_url'  : getQueryParamValue('img_url')|| '/CoGe/tmp/GEvo/',
            'base_name': getQueryParamValue('base_name')|| '<TMPL_VAR NAME="BASE_NAME">'
        };
    swfobject.embedSWF("/CoGe/gobe/flash/gobe.swf?<TMPL_VAR NAME="GOBE_VERSION">", "flash_viewer", width, height, "9.0.0"
                , "/CoGe/gobe/static/swfobject/expresssinstall.swf", flashVars, params, {});

</script>