<script src="/CoGe/gobe/static/swfobject.js" ></script>
<script language="JavaScript">
function prepare_update()
 {
   var num_seqs = $("#num_seqs").val();
   var args;
   for (var i=1; i<=num_seqs; i++)
     {
       if (i > 1) {args = args+":"+$('#display-'+i).val()+"-"+$('#image-'+i).val();}
       else {args = $('#display-'+i).val()+"-"+$('#image-'+i).val();}
 //      args[i-1] = 'args__'+$('#display-'+i).val()+"-"+$('#image-'+i).val();
     }
   update(['sqlite','args__'+args],[]);
   window.location.reload();
 }
</script>

<TMPL_VAR NAME="STUFF">
<DIV id="flash_viewer"></DIV>
<SCRIPT language="JavaScript">
    var so = new SWFObject("/CoGe/gobe/flash/gobe.swf?<TMPL_VAR NAME="GOBE_VERSION">", "gobe", <TMPL_VAR NAME="WIDTH">, <TMPL_VAR NAME="HEIGHT">, "9", "#FFFFFF");
    so.useExpressInstall('/CoGe/gobe/flash/expressinstall.swf');
    so.addVariable('n', <TMPL_VAR NAME="SEQ_NUM">);
    so.addVariable('base_url', '/CoGe/');
    so.addVariable('img_url', '/CoGe/tmp/GEvo/');
    so.addVariable('base_name', '<TMPL_VAR NAME="BASE_NAME">');
    so.addVariable('freezable', getQueryParamValue('freezable') || 'false'); 
    so.addVariable('pad_gs', jQuery('#pad_gs') ? jQuery('#pad_gs').val()  : getQueryParamValue('pad_gs') || '0'); 
    so.addVariable('gsid', getQueryParamValue('gsid') || getQueryParamValue('genespace_id') || '0'); 
    so.write("flash_viewer");
</script>