
<TMPL_IF NAME=MAIN>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.2.0.3.js"></SCRIPT>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.pager.js"></SCRIPT>

<SCRIPT language="JavaScript">
$(document).ready(function(){
	$.ajaxSetup({
		type: "POST",
		url: "<TMPL_VAR NAME=PAGE_NAME>",
		dataType: "html",
		cache: false,
	});
	set_table();
	$(".dialog_box").dialog({autoOpen: <TMPL_VAR NAME=EDIT_BOX_OPEN>, width: 600});
	<TMPL_VAR ADDITIONAL_STUFF>
});

function set_table () {	 $('#group_table').tablesorter({widgets: ['zebra']});	 }

function run_get_groups_for_user(opts){
	if (!opts) { opts={}; }
	divid = opts.divid; //were results will be displayed in page
	// create a new closure who's scope does *not*
	// include the `divid` value so that callback will 
	// not clobber the `divid` variable 
	var create_callback = function(divid) {
		var local_divid = divid;
		return function (data) {
			$('#'+local_divid).html(data);
			set_table();
		};
	}; 

	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'get_groups_for_user',
		},
		success : create_callback(divid)
	});
	$('#ugid').val('');
	$('#new_ugid').val('');
}

function create_group (opts){
	name = $('#name').val();
	desc = $('#desc').val();
	rid = $('#role option:selected').attr('value');
	if (name)
 	{
		$.ajax({
			data: {
				jquery_ajax: 1,
				fname: 'create_group',
				name: name,
				desc: desc,
				rid: rid,
			},
			success : function(val) {
				if (val != 1) {alert(val);}
				run_get_groups_for_user({divid: 'groups'});
			},
		});
	}
	else { alert ('Error!  Must have a name!');}
}

function delete_group () {
	ugid = $('#group_delete_ugid').val();
	$.ajax({
        data: {
     	   jquery_ajax: 1,
			fname: 'delete_group',
			ugid: ugid,
        },
        success : function() {
			run_get_groups_for_user({divid: 'groups'});
		}
	});
	$("#group_delete_box").dialog('close');
}

function dialog_delete_group (opts) {
	$("#group_delete_box").dialog("option", "title", "Delete Group?");
	$("#group_delete_box").dialog("option", "width", "450");
	$("#group_delete_box").dialog('open');
	$('#group_delete_ugid').val(opts.ugid);
}

//function show_gadd(val) {
//  if(val==1) {
//    $('#remove_genome').hide(0);
//    $('#add_genome').show(0);
//  }
//  else {
//    $('#remove_genome').show(0);
//    $('#add_genome').hide(0);
//  }
//}
//
//function add_genome(opts) {
//     ugid = opts.ugid;
//     $('#new_dsgid > option:selected').each(function(){
//        var dsgid = $(this).attr("value");
//	var html = '<option value='+dsgid+ ' >'+$(this).text()+'</option>';
//	var item = $(this);
//        $.ajax({
//         data: {
//     	   jquery_ajax: 1,
//	   fname: 'add_genome_to_group',
//	   ugid: ugid,
//	   dsgid: dsgid
//          },
//         success : function(data) {
//          if (data != 1) {alert(data);}
//	  else {
//  	   $('#dsgid').append(html);
//	   item.remove();
//	  }
//	 },
//       });
//     });
//    run_get_groups_for_user({divid: 'groups'});
//};
//
//function remove_genome (opts) {
//     ugid = opts.ugid;
//     $('#dsgid > option:selected').each(function(){
//        var dsgid = $(this).attr("value");
//	var item = $(this);
//	var html = '<option value='+dsgid+ ' >'+$(this).text()+'</option>';
//	$.ajax({
//         data: {
//     	   jquery_ajax: 1,
//	   fname: 'remove_genome_from_group',
//	   ugid: ugid,
//	   dsgid: dsgid
//          },
//         success : function(data) {
//          if (data != 1) {alert(data);}
//	  else {
//	   $('#new_dsgid').append(html);
//	   item.remove();
//	  }
//	 },
//       });
//     });
//     run_get_groups_for_user({divid: 'groups'});
//}
</SCRIPT>

<div id="groups">
 <TMPL_VAR NAME=MAIN_TABLE>
</div>

<div>
 <table class="small">
  <tr>
   <td>Group Name:</td>
   <td><input type="textbox" size=8 name="name" id="name"></td>
   <td>Group Description:</td>
   <td><input type="textbox" size=16 name="desc" id="desc"></td>
   <td>Role:</td>
   <td><select id="role">
    <TMPL_LOOP NAME=ROLE_LOOP>
     <OPTION value=<TMPL_VAR NAME=RID>><TMPL_VAR NAME=NAME></OPTION>
    </TMPL_LOOP>
    </select>
   </td>
   <td>
    <span id="create_group" style="font-size: .75em" class='ui-button ui-button-go ui-corner-all' onClick="create_group();">Create new group</span>
   </td>
  </tr>
 </table>
</div>

<div id="group_delete_box" class="dialog_box" style='display:none;' align='center'>
Are you sure you want to permanently delete this group?<p>
 <div>
  <input type='hidden' id='group_delete_ugid'>
  <span style="font-size: .75em" class='ui-button ui-button-go ui-corner-all' onClick="delete_group();">Yes</span>
  <span style="font-size: .75em" class='ui-button ui-button-go ui-corner-all' onClick="$('#group_delete_box').dialog('close');">No</span>
 </div>
</div>

<div id="admin_stuff"></div>
</TMPL_IF> <!-- MAIN -->



<TMPL_IF NAME=GROUP_TABLE>
<table id="group_table" class="small ui-widget-content ui-corner-all">
 <thead align="left"> 
  <tr>
   <th>Name</th>
   <th>Group Description</th>
   <th>Role</th>
   <th>Current Members</th>
   <th>Lists</th>
   <TMPL_IF BUTTONS>
   <th>Edit</th>
   <th>Delete</th>
   </TMPL_IF>
  </tr>
 </thead>
 <tbody align="left" valign="top" id="genome_table_body" class="small">
  <TMPL_LOOP NAME=GROUPS_LOOP>
  <tr valign="middle">
   <td><TMPL_VAR NAME=NAME></td>
   <td><TMPL_VAR NAME=DESC></td>
   <td><TMPL_VAR NAME=ROLE></td>
   <td><TMPL_VAR NAME=MEMBERS></td>
   <td><TMPL_VAR NAME=LISTS></td>
   <TMPL_IF BUTTONS>
   <td align='center'><TMPL_VAR NAME=EDIT_BUTTON></td>
   <td align='center'><TMPL_VAR NAME=DELETE_BUTTON></td>
   </TMPL_IF>   
  </tr>
  </TMPL_LOOP>
 </tbody>
</table>
</TMPL_IF> <!-- GROUP_TABLE -->



<TMPL_IF NAME=ADMIN_AREA>
<hr>
Admin Functions:<br>
</TMPL_IF>