<TMPL_IF NAME=MAIN>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.2.0.3.js"></SCRIPT>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.pager.js"></SCRIPT>
<SCRIPT TYPE="text/javascript" SRC="./js/filterlist.js"></SCRIPT>

<SCRIPT language="JavaScript">
$(document).ready(function(){
	$.ajaxSetup({
		type: "POST",
		url: "<TMPL_VAR NAME=PAGE_NAME>",
		dataType: "html",
		cache: false,
	});
	//set_table();
	$(".dialog_box").dialog({autoOpen: false, width: 500, maxWidth: 600});
});

//function set_table () { $('#group_table').tablesorter({widgets: ['zebra']}); }

function format_box_info (data) {
	output = data.output;
	return output;
}

function edit_group_info (opts) {
	ugid = opts.ugid;
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'edit_group_info',
			ugid: ugid,
		},
		success : function(data) {
			data = eval('('+data+')');
			title = data.title;
			$("#group_info_edit_box").dialog("option", "title", title);
			$("#group_info_edit_box").html(format_box_info(data));
			$("#group_info_edit_box").dialog('open');
			//setup_button_states();
		},
	});
}

function update_group_info (opts){
	name = $('#edit_name').val();
	desc = $('#edit_desc').val();
	ugid = opts.ugid;
	if (name) {
		$.ajax({
			data: {
				jquery_ajax: 1,
				fname: 'update_group_info',
				ugid: ugid,
				name: name,
				desc: desc
			},
			success : function(val) {
				$("#group_info_edit_box").dialog('close');
				run_get_group_info({divid: 'group_info', ugid: ugid});
			},
		});
	}
	else { alert ('Error!  Must have a name!');}
}

function run_get_group_info(opts){
	if (!opts) { opts={}; }
	divid = opts.divid; //were results will be displayed in page
	// create a new closure who's scope does *not*
	// include the `divid` value so that callback will 
	// not clobber the `divid` variable 
	var create_callback = function(divid) {
		var local_divid = divid;
		return function (data) {
			$('#'+local_divid).html(data);
			//set_table();
		};
	}; 

	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'get_group_info',
			ugid: ugid
		},
		success : create_callback(divid)
	});
}

function modify_users (opts) {
	ugid = opts.ugid;
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'modify_users',
			ugid: ugid,
		},
		success : function(data) {
			data = eval('('+data+')');
			title = data.title;
			$("#group_users_edit_box").dialog("option", "title", title);
			$("#group_users_edit_box").html(format_box_info(data));
			$("#group_users_edit_box").dialog('open');
			//setup_button_states();
		},
	});
}

function show_add(val) {
	if (val==1) {
		$('#remove_user').hide(0);
		$('#add_user').show(0);
	}
	else {
		$('#remove_user').show(0);
		$('#add_user').hide(0);
	}
}

function add_user(opts) {
	ugid = opts.ugid;
	$('#new_ugid > option:selected').each( function(){
		var uid = $(this).attr("value");
		var html = '<option value='+uid+ ' >'+$(this).text()+'</option>';
		$('#ugid').append(html);
		$(this).remove();
		$.ajax({
			data: {
				jquery_ajax: 1,
				fname: 'add_user_to_group',
				ugid: ugid,
				uid: uid
			},
			success : function(data) {
				if (data != 1) { alert(data); }
				else {
					run_get_group_info({divid: 'group_info', ugid: ugid});
				}
			},
		});
	});
};

function remove_user (opts) {
	$('#ugid > option:selected').each(function(){
		var uid = $(this).attr("value");
		var item = $(this);
		var html = '<option value='+uid+ ' >'+$(this).text()+'</option>';
		$.ajax({
			data: {
				jquery_ajax: 1,
				fname: 'remove_user_from_group',
				ugid: ugid,
				uid: uid
			},
			success : function(data) {
				if (data != 1) { alert(data); }
				else {
					$('#new_ugid').append(html);
					item.remove();
					run_get_group_info({divid: 'group_info', ugid: ugid});
				}
			},
		});
	});
}

function show_ladd(val) {
	if(val==1) {
		$('#remove_list').hide(0);
		$('#add_list').show(0);
	}
	else {
		$('#remove_list').show(0);
		$('#add_list').hide(0);
	}
}

function add_lists (opts) {
	ugid = opts.ugid;
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'add_lists',
			ugid: ugid,
		},
		success : function(data) {
			data = eval('('+data+')');
			title = data.title;
			$("#group_lists_edit_box").dialog("option", "title", title);
			$("#group_lists_edit_box").html(format_box_info(data));
			$("#group_lists_edit_box").dialog('open');
			//setup_button_states();
		},
	});
}

function add_lists_to_group (opts) {
	ugid = opts.ugid;
	$('#select_list_items > option:selected').each(
		function() {
			var item_spec = $(this).attr("value");
			$(this).remove();
			$.ajax({
				data: {
					jquery_ajax: 1,
					fname: 'add_list_to_group',
					ugid: ugid,
					item_spec : item_spec,
				},
				success : 
					function(data) {
						if (data != 1) { alert(data); }
						else {
							run_get_group_info({divid: 'group_info', ugid: ugid}); // FIXME move outside loop
						}
					}
			});
		}
	);
	$("#group_lists_edit_box").dialog('close');
}

function remove_list_from_group (opts) {
	ugid = opts.ugid;
	lid = opts.lid;
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'remove_list_from_group',
			ugid: ugid,
			lid: lid,
		},
		success : function(val) {
			run_get_group_info({divid: 'group_info', ugid: ugid});
		},
	});
}

function get_list_preview (opts) {
	$('#list_preview').hide();
	$('#select_list_items > option:selected:last').each(
		function() {
			var item_spec = $(this).attr("value");
			$.ajax({
				data: {
					jquery_ajax: 1,
					fname: 'get_list_preview',
					item_spec: item_spec,
				},
				success : 
					function(data) {
						var width = $("#group_delete_box").dialog("option", "width");
						$("#select_list_items").width(width/2-30);
						$('#list_preview').width(width/2-30);
						$('#list_preview').html(data);
						$('#list_preview').fadeIn('fast');
					}
			});
		}
	);
}

function wait_to_search (search_func, ugid, search_term) {
	if (!search_term || search_term.length > 2) {
		pageObj.search_term = search_term;
		pageObj.ugid = ugid;
			
		if (pageObj.time) {
			clearTimeout(pageObj.time);
		}
		
		// FIXME: could generalize by passing select id instead of separate search_* functions
		pageObj.time = setTimeout(
			function() { 
				search_func(pageObj.ugid, pageObj.search_term); 
			}, 
			500
		);
	}
}

function search_lists (ugid, search_term) {
	$("#wait_list").animate({opacity:1});
	$("#select_list_items").html("<option disabled='disabled'>Searching...</option>");
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'search_lists',
			ugid: ugid,
			search_term: search_term,
			timestamp: new Date().getTime()
		},
		success : function(val) {
			var items = jQuery.parseJSON(val);
			if (!pageObj.timestamp_lists || items.timestamp > pageObj.timestamp_lists) {
				pageObj.timestamp_lists = items.timestamp;
				$('#list_preview').hide();
				$("#select_list_items").html(items.html);
				var width = $("#group_delete_box").dialog("option", "width");
				$("#select_list_items").width(width-40);
				$("#wait_list").animate({opacity:0});
			}
		},
	});
}

function dialog_delete_group (opts) {
	$("#group_delete_box").dialog("option", "title", "Delete Group");
	$("#group_delete_box").dialog("option", "width", "450");
	$("#group_delete_box").dialog('open');
}

function delete_group (opts) {
	ugid = opts.ugid;
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'delete_group',
			ugid: ugid,
		},
		success : function(val) {
			location.reload();
		},
	});
}
</SCRIPT>



<div id="group_info">
 <TMPL_VAR NAME=GROUP_INFO>
</div>

<div id="group_info_edit_box" class="dialog_box"></div>
<div id="group_users_edit_box" class="dialog_box"></div>
<div id="group_lists_edit_box" class="dialog_box"></div>

<div id="group_delete_box" class="dialog_box" style='display:none;' align='center'>
Are you sure you want to permanently delete this group?<p>
 <div>
  <span style="font-size: .75em" class='ui-button ui-button-go ui-corner-all' onClick="delete_group({ugid: '<TMPL_VAR NAME=UGID>'});">Yes</span>
  <span style="font-size: .75em" class='ui-button ui-button-go ui-corner-all' onClick="$('#group_delete_box').dialog('close');">No</span>
 </div>
</div>

<div id="admin_stuff"></div>
</TMPL_IF> <!-- MAIN -->



<TMPL_IF NAME=EDIT_GROUP_INFO>
<table class="small">
 <tr>
  <td>Name:</td>
  <td><input type="textbox" size=53 id="edit_name" value="<TMPL_VAR NAME=NAME>"></td>
 </TR>
 <tr>
  <td>Description:</td>
  <td><textarea id="edit_desc" rows=5 cols=50 ><TMPL_VAR NAME=DESC></textarea></td>
 </tr>
 <tr>
  <td>Role:</td>
  <td><select id="edit_role" style="max-width: 265px;">
   <TMPL_LOOP NAME=ROLE_LOOP>
    <OPTION <TMPL_VAR NAME=ROLE_SELECTED> value=<TMPL_VAR NAME=ROLE_ID>><TMPL_VAR NAME=ROLE_NAME></OPTION>
   </TMPL_LOOP>
   </select>
  </td>
 </tr> 
</table>
<span onClick="update_group_info({ugid: '<TMPL_VAR NAME=UGID>'});" class="ui-button ui-corner-all ui-button-go">Update Group Info</span>
</TMPL_IF>



<TMPL_IF NAME=MODIFY_USERS>
<table class="small">
 <tr>
  <td>Current Members:<br>
   <form name="current_users">
    <select multiple id="ugid" name="current_ugid" onclick="show_add()" ondblclick="remove_user({ugid: '<TMPL_VAR NAME=UGID>'})" size=10 >
     <TMPL_LOOP NAME=UGID_LOOP>
      <OPTION value=<TMPL_VAR NAME=UID>><TMPL_VAR NAME=UID_NAME></OPTION>
     </TMPL_LOOP>
    </select>
   </form>
   <SCRIPT TYPE="text/javascript"> 
    var current_user_filter = new filterlist(document.current_users.current_ugid);
   </SCRIPT>
   Filter: <INPUT NAME=regexp onKeyUp="current_user_filter.set(this.value)">
  </td> 
  <td>
   <span href="javascript:void(0)" onClick="remove_user({ugid: '<TMPL_VAR NAME=UGID>'});" style="display:none" id="remove_user" class='ui-button ui-button-go ui-button-icon-left ui-corner-all'><span class="ui-icon ui-icon-minus"></span>Remove</span>
   <span href="javascript:void(0)" onClick="add_user({ugid: '<TMPL_VAR NAME=UGID>'});" class='ui-button ui-button-go ui-button-icon-left ui-corner-all'><span class="ui-icon ui-icon-plus"></span>Add</span>
  </td>
  <td>
   CoGe Users:<br>
   <form name="new_users">
    <select multiple id="new_ugid" name="new_ugid" onclick="show_add(1)" ondblclick="add_user({ugid: '<TMPL_VAR NAME=UGID>'})" size=10>
     <TMPL_LOOP NAME=ALL_UGID_LOOP>
      <OPTION value=<TMPL_VAR NAME=UID>><TMPL_VAR NAME=UID_NAME></OPTION>
     </TMPL_LOOP>
    </select><br>
   </form>
   <SCRIPT TYPE="text/javascript"> 
    var new_user_filter = new filterlist(document.new_users.new_ugid);
   </SCRIPT>
   Filter: <INPUT name="regexp" onKeyUp="new_user_filter.set(this.value)">
  </td>
 </tr>
</table>
<span href="javascript:void(0)" onClick="modify_users({ugid: '<TMPL_VAR NAME=UGID>'});" id="refresh_modify_users" class='ui-button ui-button-icon-left ui-corner-all'><span class="ui-icon ui-icon-plus"></span>Refresh</span> <span class=small>(Displayed lists can get out of sync when filtering for names.)</small>
</TMPL_IF>



<TMPL_IF NAME=ADD_LISTS>
<SCRIPT language="JavaScript">
search_lists(<TMPL_VAR NAME=UGID>, '');
</SCRIPT>
<table class="small">
 <tr>
  <td colspan='2'>Search: <input type="textbox" size="53" id="edit_list_search" onkeyup="wait_to_search(search_lists, <TMPL_VAR NAME=UGID>, this.value);"><span class='ui-button ui-corner-all' onclick="search_lists(<TMPL_VAR NAME=LID>, $('#edit_list_search').attr('value'));"><span class="ui-icon ui-icon-arrowrefresh-1-w"></span></span></td>
 </tr>
 <tr>
  <td valign='top'>
   <select multiple id="select_list_items" size="10" style='width:460px;height:138px;' onClick="get_list_preview();">
   </select>
  </td>
  <td valign='top'>
   <div id="list_preview" style="display:none;color:Gray;height:131px;border:1px solid LightGray;padding: 1px 4px 4px 4px;font-family:Arial, Helvetica, sans-serif;font-size:0.8em;"></div>
  </td>
 </tr>
 <tr>
  <td colspan='2' style='color:gray;'><i>Hold down SHIFT or CTRL key to select multiple items</i></td>
 </tr>
</table>
<span href="javascript:void(0)" onClick="add_lists_to_group({ugid: '<TMPL_VAR NAME=UGID>'});" class='ui-button ui-button-go ui-corner-all'>Add Selected Items</span>
</TMPL_IF> <!-- ADD_LISTS -->



<TMPL_IF NAME=SET_GROUP_CREATOR>
<table class="small">
 <tr>
  <td>
   CoGe Users:<br>
   <form name="new_creator">
    <select id="new_creator_uid" name="new_creator_uid" ondblclick="add_user({ugid: '<TMPL_VAR NAME=UGID>'})" size=10>
     <TMPL_LOOP NAME=ALL_UGID_LOOP>
      <OPTION value=<TMPL_VAR NAME=UID>><TMPL_VAR NAME=UID_NAME></OPTION>
     </TMPL_LOOP>
    </select><br>
   </form>
   <SCRIPT TYPE="text/javascript"> 
    var new_user_filter = new filterlist(document.new_creator.new_creator_uid);
   </SCRIPT>
   Filter: <INPUT name="regexp" onKeyUp="new_user_filter.set(this.value)">
  </td>
 </tr>
</table>
<span href="javascript:void(0)" onClick="set_group_creator({ugid: '<TMPL_VAR NAME=UGID>'});" class='ui-button ui-button-go ui-corner-all'>Set Creator</span>
</TMPL_IF> <!-- SET_GROUP_CREATOR -->



<TMPL_IF NAME=ADMIN_AREA>
<SCRIPT language="JavaScript">
function dialog_set_group_creator (opts) {
	ugid = opts.ugid;
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'dialog_set_group_creator',
			ugid: ugid,
		},
		success : function(data) {
			data = eval('('+data+')');
			title = data.title;
			$("#group_creator_edit_box").dialog("option", "title", title);
			$("#group_creator_edit_box").html(format_box_info(data));
			$("#group_creator_edit_box").dialog('open');
			//setup_button_states();
		},
	});
}

function set_group_creator(opts) {
	ugid = opts.ugid;
	$('#new_creator_uid > option:selected').each( function(){
		var uid = $(this).attr("value");
		$.ajax({
			data: {
				jquery_ajax: 1,
				fname: 'set_group_creator',
				ugid: ugid,
				uid: uid
			},
			success : function(data) {
				if (data != 1) { alert(data); }
				else {
					$("#group_creator_edit_box").dialog('close');
					run_get_group_info({divid: 'group_info', ugid: ugid});
				}
			},
		});
	});
};
</SCRIPT>
<hr>
Admin Functions:<br>

<div>
 <TMPL_VAR NAME=ADMIN_BUTTONS>
</div>

<div id="group_creator_edit_box" class="dialog_box"></div>

</TMPL_IF> <!-- ADMIN_AREA -->