<script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.23.custom.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.7.2.custom.css" />
<link rel="stylesheet" type="text/css" href="css/jquery-ui-coge-supplement.css" />
<link rel="stylesheet" type="text/css" href="css/jquery.ui.autocomplete.css" />

<script type="text/javascript" src="js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/jquery.fileupload.js"></script>

<link rel="stylesheet" type="text/css" href="css/coge.css?version=2015.12.07" />