<HTML>
<HEAD>
<meta http-equiv="Pragma" content="no-cache">
 <TITLE>CoGe: <TMPL_VAR NAME=TITLE></TITLE>
 <link rel="stylesheet" type="text/css" href="/CoGe/css/styled.css" />

<TMPL_UNLESS NAME="NO_JQUERY">
 <link rel="stylesheet" type="text/css" href="/CoGe/css/jdMenu.css" />
 <link rel="stylesheet" type="text/css" href="/CoGe/css/jdMenu.slate.css" />
 <SCRIPT language="JavaScript" type="text/javascript" src="/CoGe/js/jquery-1.2.2.js"></SCRIPT>
 <!--<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.bgiframe.js"></SCRIPT>-->
 <SCRIPT language="JavaScript" type="text/javascript" src="/CoGe/js/jquery.dimensions.js"></SCRIPT>
 <SCRIPT language="JavaScript" type="text/javascript" src="/CoGe/js/jquery.jdMenu.js"></SCRIPT>
 <SCRIPT language="JavaScript" type="text/javascript" src="/CoGe/js/jquery.cookie.js"></SCRIPT>
<!-- <SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.jdMenu.packed.js"></SCRIPT>-->
</TMPL_UNLESS>


 <TMPL_VAR NAME=HEAD>

 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 <link rel="shortcut icon" href="/CoGe/picts/urlicon/favicon.ico">
</HEAD>

<BODY <TMPL_VAR NAME="BODY_ONLOAD">>
<TMPL_VAR NAME=JAVASCRIPT>
<SCRIPT language="JavaScript">

jQuery(document).ready(function(){ 
  var anim_speed = jQuery.cookie('anim_speed');
  if (! anim_speed){jQuery.cookie('anim_speed',600);}
  pageObj = new Object();
  pageObj.speed = jQuery.cookie('anim_speed') || 600;
  define_animation_speed(pageObj.speed)
  //alert(pageObj.speed);
  if (!jQuery.browser.mozilla)browserAlert();
});


jQuery(function(){
jQuery('ul.jd_menu').jdMenu();
});

function browserAlert()
{
 alert('Unfortunately, CoGe has been designed to work with the FireFox browser and may not function appropriately with your browser.  Please use FireFox, which can be downloaded from http://www.mozilla.com/en-US/firefox/');
}

function animate_section(name, style, speedy, show) {
  if (show) {alert (name+"::"+style)}
  if (speedy == undefined) speedy = pageObj.speed;
  //alert('speedy is '+speedy);
  if (!style) style = "toggle";
  if (!speedy) {
    if ((style == "show") || style == "slideDown" || style == "fadeIn") {jQuery(name).show();}
    else if ((style == "hide") || style == "slideUp" || style == "fadeOut") {jQuery(name).hide();}
    else {jQuery(name).toggle();}
   }
  else if (style == "toggle") {jQuery(name).toggle(speedy);}
  else if (style == "hide") {jQuery(name).hide(speedy);}
  else if (style == "show") {jQuery(name).show(speedy);}
  else if (style == "slideToggle") {jQuery(name).slideToggle(speedy);}
  else if (style == "slideUp") {jQuery(name).slideUp(speedy);}
  else if (style == "slideDown") {jQuery(name).slideDown(speedy);}
  else if (style == "fadeIn") {jQuery(name).fadeIn(speedy);}
  else if (style == "fadeOut") {jQuery(name).fadeOut(speedy);}
  return speedy;
 }
 
 function define_animation_speed(val){
   //alert(val);
   val *= 1;
   pageObj.speed = val;
   jQuery.cookie('anim_speed',val);
   var menu_html;
   
   if (val == 0){
     menu_html = '<li><a href="#" target="_self" onClick="define_animation_speed(0)">&radic; Off</a></li><li><a href="#" target="_self" onClick="define_animation_speed(600)">Slow</a></li><li><a href="#" target="_self" onClick="define_animation_speed(400)">Medium</a></li><li><a href="#" target="_self" onClick="define_animation_speed(200)">Fast</a></li>';}
   else{
     if (val == 600){
      menu_html = '<li><a href="#" target="_self" onClick="define_animation_speed(0)">Off</a></li><li><a href="#" target="_self" onClick="define_animation_speed(600)">&radic; Slow</a></li><li><a href="#" target="_self" onClick="define_animation_speed(400)">Medium</a></li><li><a href="#" target="_self" onClick="define_animation_speed(200)">Fast</a></li>';}
     else if (val == 400){
      menu_html = '<li><a href="#" target="_self" onClick="define_animation_speed(0)">Off</a></li><li><a href="#" target="_self" onClick="define_animation_speed(600)">Slow</a></li><li><a href="#" target="_self" onClick="define_animation_speed(400)">&radic; Medium</a></li><li><a href="#" target="_self" onClick="define_animation_speed(200)">Fast</a></li>';}
     else{
      menu_html = '<li><a href="#" target="_self" onClick="define_animation_speed(0)">Off</a></li><li><a href="#" target="_self" onClick="define_animation_speed(600)">Slow</a></li><li><a href="#" target="_self" onClick="define_animation_speed(400)">Medium</a></li><li><a href="#" target="_self" onClick="define_animation_speed(200)">&radic; Fast</a></li>';
     }
     }
     jQuery('.animations').html(menu_html);
}


</SCRIPT>

<TABLE width = 100%>
 <TR>
  <TD>
   <TABLE>
    <TR>
     <TD>
      <TMPL_IF NAME=LOGO_PNG><div id=home_icon><a href="/CoGe" border=0></div><img src='/CoGe/picts/<TMPL_VAR NAME=LOGO_PNG>' border=0></a></TMPL_IF>
     </TD>
     <TD>
      <font class="title1"><TMPL_VAR NAME=TITLE></font>
     </TD>
    </TR>
   </TABLE>
  </TD>
<TMPL_UNLESS NAME=MENU>
  <TD align=left>
	<ul class="jd_menu jd_menu_slate" style="position: absolute;right: 0px;top: 0px;">
	 <li><a href="/CoGe/" target="_self">Home</a></li>
	 <li>Applications
	  <ul>
	  <li><a href="/CoGe/GEvo.pl" target="_self">GEvo</a></li>
	  <li><a href="/CoGe/FeatView.pl" target="_self">FeatView</a></li>
	  <li><a href="/CoGe/MSAView.pl" target="_self">MSAView</a></li>
	  <li><a href="/CoGe/TreeView.pl" target="_self">TreeView</a></li>
	  <li><a href="/CoGe/GenomeView.pl" target="_self">GenomeView</a></li>
	  <li><a href="/CoGe/CoGeBlast.pl" target="_self">CoGeBlast</a></li>
      </ul>
	</li>
	<li>Downloads
	 <ul>	   
	  <li><a href="/CoGe/docs/help/Precomputed_menus_and_lists/CoGe_menus.html" target="_self">Syntenic gene sets</a></li>

<!--	  <li><a href="#" target="_self">My Page</a></li>
	  <li><a href="#" target="_self">Contacts</a></li>
	  <li><a href="#" target="_self">Saved Results</a></li>-->
	 </ul>
	</li>
	<li>Preferences
	 <ul>
	  <li><a href="#" target="_self">Animation &raquo; </a>
	    <ul class="animations">
	      <li><a href="#" target="_self" onClick="define_animation_speed(0)">Off</a></li>
	      <li><a href="#" target="_self" onClick="define_animation_speed(600)">&radic; Slow</a></li>
	      <li><a href="#" target="_self" onClick="define_animation_speed(400)">Medium</a></li>
	      <li><a href="#" target="_self" onClick="define_animation_speed(200)">Fast</a></li>
	     </ul>
	   </li>
	  </ul>
	 </li>
	<li>Help
	 <ul>
	      <li><a href="./docs/help/<TMPL_VAR NAME=HELP>" target="_blank">Page Docs</a></li>
	      <li><a href="/CoGe/docs/help/CoGe/Overview.html" target="_blank">About CoGe</a></li>
	      <li><a href="/CoGe/docs/help/Tutorials/Tutorials.html" target="_blank">Tutorials</a></li>
	      <li><a href="/CoGe/docs/help/Contact/Contact.html" target="_blank">Contact or Site Us</a></li>
	</ul>
	</li>
	</ul>
  </TD>
</TMPL_UNLESS>
  <!--<TD align=right>
   <TABLE>
    <TR>
     <TD align=right><TMPL_IF NAME="CLOSE"><INPUT type = 'button' value= 'Close Window' onClick='window.close()'></TMPL_IF>
     </TD>
     <TD align=right><TMPL_IF NAME="HELP"><a href="./docs/help/<TMPL_VAR NAME=HELP>"><img src="./picts/help-logo.png" border=0></a></TMPL_IF>
     </TD>
   </TR>
  </TABLE>
  </TD>-->
 </TR>
</TABLE>
<noscript>We have detected that your browser currently has JavaScript disabled. In order for CoGe to function properly, JavaScript must be enabled in your browser. For instruction on how to do so in Mozilla Firefox, please click <a href="http://www.mozilla.org/support/firefox/options#content" target="_blank">here</a>. After enabling JavaScript, simply refresh the page, or click <a href="javascript:location.reload(true);" target="_self">here</a>.</noscript>
