<HTML>
<HEAD>
<meta http-equiv="Pragma" content="no-cache">
 <TITLE>CoGe: <TMPL_VAR NAME=TITLE></TITLE>
 <link rel="stylesheet" type="text/css" href="/CoGe/css/styled.css" />

<TMPL_UNLESS NAME="NO_JQUERY">
 <!--<link rel="stylesheet" type="text/css" href="/CoGe/css/jdMenu.css" />
 <link rel="stylesheet" type="text/css" href="/CoGe/css/jdMenu.slate.css" />-->
<link rel="stylesheet" type="text/css" href="/CoGe/css/superfish.css" />

<!-- This is the implementation of jquery into the header of all CoGe pages -->
 <SCRIPT language="JavaScript" type="text/javascript" src="/CoGe/js/jquery-1.3.2.js"></SCRIPT>

<!-- Implementation of jQuery UI, first line javascript, second for css  -->
<SCRIPT language="JavaScript" type="text/javascript" src="/CoGe/js/jquery-ui-1.7.custom.min.js"></SCRIPT>
<link rel="stylesheet" type="text/css" href="/CoGe/css/jquery-ui-1.7.custom.css" />

 <!--<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.bgiframe.js"></SCRIPT>-->
<!--<SCRIPT language="JavaScript" type="text/javascript" src="/CoGe/js/jquery.dimensions1.2.js"></SCRIPT>
 <SCRIPT language="JavaScript" type="text/javascript" src="/CoGe/js/jquery.jdMenu1.4.1.js"></SCRIPT>-->
 <SCRIPT language="JavaScript" type="text/javascript" src="/CoGe/js/jquery.cookie.js"></SCRIPT>
<SCRIPT language="JavaScript" type="text/javascript" src="/CoGe/js/superfish.js"></SCRIPT>
<SCRIPT language="JavaScript" type="text/javascript" src="/CoGe/js/hoverIntent.js"></SCRIPT>
<!-- <SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.jdMenu.packed.js"></SCRIPT>-->
</TMPL_UNLESS>


 <TMPL_VAR NAME=HEAD>

 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 <link rel="shortcut icon" href="/CoGe/picts/urlicon/favicon.ico">
</HEAD>

<BODY <TMPL_VAR NAME="BODY_ONLOAD">>
<TMPL_VAR NAME=JAVASCRIPT>
<SCRIPT language="JavaScript">

jQuery(document).ready(function(){ 
  var anim_speed = jQuery.cookie('anim_speed');
  if (! anim_speed){jQuery.cookie('anim_speed',600);}
  pageObj = new Object();
  pageObj.speed = jQuery.cookie('anim_speed') || 600;
  define_animation_speed(pageObj.speed)
  //alert(pageObj.speed);
  if (jQuery.browser.msie)browserAlert();
  setup_button_states();
});

/*
jQuery(function(){
jQuery('ul.jd_menu').jdMenu();
});*/
function browserAlert()
{
 alert('Unfortunately, CoGe has been designed to work with the FireFox browser and may not function appropriately with your browser.  Please use FireFox, which can be downloaded from http://www.mozilla.com/en-US/firefox/');
}

/*
//Login related functions

function login_popup(){

var html = "<DIV class=large>Please log on: <font class='small'>(You will need make sure to set <a href='http://www.mozilla.com/firefox/'>Firefox</a> accept <a href='http://en.wikipedia.org/wiki/HTTP_cookie'>cookies</a>)</font></div>";
html = html+"<TABLE class='basic'><TR><TD>User Name:<TD><input class='backbox' type='text' name='uname' id='uname' size='10' onkeypress='onEnter(event);'>";
html = html+"<TR><TD>Password:<TD><input class='backbox' type='password' name='pwd' id='pwd' size='10' onkeypress='onEnter(event);'></TABLE>";
html = html+"<input type='hidden' id='url' value='<TMPL_VAR NAME=url>'><input type='submit' value='Log on' id='Login' onClick=login(['uname', 'pwd','url'],[place_cookie])><input type='submit' value='Cancel' id='Login' onClick=$('#signin_popup').hide(0);login(['args__public', 'args__none','url'],[place_cookie])>";

var pos = {};

$('#home').offset({ scroll: false }, pos);
//alert(pos.top);
var Top = pos.top+50;
var Left = pos.left-200;


$('#signin_popup').html(html).css({position: "absolute", top:''+Top, left:''+Left}).show(0);

}

function onEnter(e){
  if (!e){ 
   var e = window.event;}
  if(e.which == 13){
login(['uname', 'pwd','url'],[place_cookie]);
 }
}



//end of login related functions
*/

function sign_in(){
	var my_url = "&url=";
	my_url = my_url+location.href;
	my_url = my_url.replace(/http.+CoGe\//,"");
	my_url = my_url.replace(/#$/,"");
	my_url = my_url.replace(/;/g,":::");
	window.location = "/CoGe/index.pl?login=1"+my_url;
}
	
function animate_section(name, style, speedy, show) {
  if (show) {alert (name+"::"+style)}
  if (speedy == undefined) speedy = pageObj.speed;
  //alert('speedy is '+speedy);
  if (!style) style = "toggle";
  if (!speedy) {
    if ((style == "show") || style == "slideDown" || style == "fadeIn") {jQuery(name).show();}
    else if ((style == "hide") || style == "slideUp" || style == "fadeOut") {jQuery(name).hide();}
    else {jQuery(name).toggle();}
   }
  else if (style == "toggle") {jQuery(name).toggle(speedy);}
  else if (style == "hide") {jQuery(name).hide(speedy);}
  else if (style == "show") {jQuery(name).show(speedy);}
  else if (style == "slideToggle") {jQuery(name).slideToggle(speedy);}
  else if (style == "slideUp") {jQuery(name).slideUp(speedy);}
  else if (style == "slideDown") {jQuery(name).slideDown(speedy);}
  else if (style == "fadeIn") {jQuery(name).fadeIn(speedy);}
  else if (style == "fadeOut") {jQuery(name).fadeOut(speedy);}
  return speedy;
 }
 
 function define_animation_speed(val){
   //alert(val);
   val *= 1;
   pageObj.speed = val;
   jQuery.cookie('anim_speed',val);
   var menu_html;
   
   if (val == 0){
     menu_html = '<li><a href="#" target="_self" onClick="define_animation_speed(0)">&radic; Off</a></li><li><a href="#" target="_self" onClick="define_animation_speed(600)">Slow</a></li><li><a href="#" target="_self" onClick="define_animation_speed(400)">Medium</a></li><li><a href="#" target="_self" onClick="define_animation_speed(200)">Fast</a></li>';}
   else{
     if (val == 600){
      menu_html = '<li><a href="#" target="_self" onClick="define_animation_speed(0)">Off</a></li><li><a href="#" target="_self" onClick="define_animation_speed(600)">&radic; Slow</a></li><li><a href="#" target="_self" onClick="define_animation_speed(400)">Medium</a></li><li><a href="#" target="_self" onClick="define_animation_speed(200)">Fast</a></li>';}
     else if (val == 400){
      menu_html = '<li><a href="#" target="_self" onClick="define_animation_speed(0)">Off</a></li><li><a href="#" target="_self" onClick="define_animation_speed(600)">Slow</a></li><li><a href="#" target="_self" onClick="define_animation_speed(400)">&radic; Medium</a></li><li><a href="#" target="_self" onClick="define_animation_speed(200)">Fast</a></li>';}
     else{
      menu_html = '<li><a href="#" target="_self" onClick="define_animation_speed(0)">Off</a></li><li><a href="#" target="_self" onClick="define_animation_speed(600)">Slow</a></li><li><a href="#" target="_self" onClick="define_animation_speed(400)">Medium</a></li><li><a href="#" target="_self" onClick="define_animation_speed(200)">&radic; Fast</a></li>';
     }
     }
     jQuery('.animations').html(menu_html);
}

//set up the jquery ui button behavior
function setup_button_states (id) {
//$(function() {
	     //button effects on events
           var item;
            
           if (id) { item='#'+id; }
           else { item = '.ui-button'; }
	     $(item+':not(.ui-state-disabled)')
			.hover(	function(){
				$(this).addClass("ui-state-hover");
			},
				function(){
				$(this).removeClass("ui-state-hover");
			});
	     $(item+':not(.ui-button-toggle)') //buttons that aren't toggle-able
                        .mousedown(function(){
                        	$(this).addClass("ui-state-active");
                        })
			.mouseup(function(){
			        $(this).removeClass("ui-state-active");
                       	});
             $(item+'.ui-button-toggle') // buttons that are toggle-able
                       .click(function(){
				if( $(this).hasClass('ui-state-active') ){ 
				    $(this).removeClass("ui-state-active"); 
				    }
				else { $(this).addClass("ui-state-active"); 
				}
                        });

}

//add button behavior to new buttons, takes in array
function add_button_states (ids) {
    if(!ids) return;

    if(!(ids instanceof Array)) ids = [ids]; //check if ids is an array, if not, make it one

    for(var i=0; i<ids.length; i++)
    {
         setup_button_states(ids[i]);
    }
}
//}); 

//initialize superfish plugin (dropdown table)
$(function() {
	$('ul.sf-menu').superfish();
});

</SCRIPT>

<div id=signin_popup class="image_window" style="display:none"></div>
<TABLE width = 100%>
<TMPL_UNLESS NAME=MENU>
  
	<!-- <ul class="jd_menu jd_menu_slate" style="position: absolute;right: 0px;top: 0px;"> -->
	<table style="float: right";>
	 <tr>
	 <td>
	<TMPL_IF NAME=LOGON>
	<span class="small species">Welcome, <TMPL_VAR NAME=USER></span> <a href="/CoGe/index.pl?logout=1" class="small">Sign-out</a>
	<TMPL_ELSE>
	 <a href="#" onClick=sign_in() class="small">Sign-in</a> <!-- onclick="login_popup()"  -->
	</TMPL_IF>
	</td>
	<td>
	<ul class="sf-menu" >
	 <li><a id=home href="/CoGe/" target="_self">Home</a></li>
	 <li><a href='javascript:void(0)'>Applications</a>
	  <ul>
	  <li><a href="/CoGe/OrganismView.pl" target="_self">OrganismView</a></li>
	  <li><a href="/CoGe/CoGeBlast.pl" target="_self">CoGeBlast</a></li>
	  <li><a href="/CoGe/FeatView.pl" target="_self">FeatView</a></li>
	  <li><a href="/CoGe/SynMap.pl" target="_self">SynMap</a></li>
	  <li><a href="/CoGe/GEvo.pl" target="_self">GEvo</a></li>

<!--	  <li><a href="/CoGe/MSAView.pl" target="_self">MSAView</a></li>
	  <li><a href="/CoGe/TreeView.pl" target="_self">TreeView</a></li>-->
      </ul>
	</li>
	<li><a href='javascript:void(0)'>Downloads</a>
	 <ul>	   
	  <li><a href="/CoGe/docs/help/Precomputed_menus_and_lists/CoGe_menus.html" target="_self">Syntenic gene sets</a></li>
	  <li><a href="/CoGe/docs/help/Code/Code.html" target="_self">CoGe Source Code</a></li>

<!--	  <li><a href="#" target="_self">My Page</a></li>
	  <li><a href="#" target="_self">Contacts</a></li>
	  <li><a href="#" target="_self">Saved Results</a></li>-->
	 </ul>
	</li>
	<li><a href='javascript:void(0)'>Preferences</a>
	 <ul>
	   <li><a href="/CoGe/UserPage.pl" target="_self">User Profile</a></li>
	  <li><a href="#" target="_self">Animation</a>
	    <ul class="animations">
	      <li><a href="#" target="_self" onClick="define_animation_speed(0)">Off</a></li>
	      <li><a href="#" target="_self" onClick="define_animation_speed(600)">&radic; Slow</a></li>
	      <li><a href="#" target="_self" onClick="define_animation_speed(400)">Medium</a></li>
	      <li><a href="#" target="_self" onClick="define_animation_speed(200)">Fast</a></li>
	     </ul>
	   </li>
	  </ul>
	 </li>
	<li><a href='javascript:void(0)'>Help</a>
	 <ul>
	      <li><a href="./docs/help/<TMPL_VAR NAME=HELP>" target="_blank">Page Docs</a></li>
	      <li><a href="/CoGe/docs/help/CoGe/Overview.html" target="_blank">About CoGe</a></li>
	      <li><a href="/CoGe/docs/help/Tutorials/Tutorials.html" target="_blank">Tutorials</a></li>
	      <li><a href="/CoGe/docs/help/Contact/Contact.html" target="_blank">Contact or Cite Us</a></li>
	      <li><a href="/CoGe/docs/help/CoGe_System_Support/" target="_blank">System Support and Consulting</a></li>
	</ul>
	</li>
	</ul>
	</table>
</TMPL_UNLESS>
 <TR>
  <TD>
   <TABLE>
    <TR>
     <TD>
      <TMPL_IF NAME=LOGO_PNG><div id=home_icon><a href="/CoGe" border=0></div><img src='/CoGe/picts/<TMPL_VAR NAME=LOGO_PNG>' border=0></a></TMPL_IF>
     </TD>
     <TD>
      <font class="title1"><TMPL_VAR NAME=TITLE></font><br><span class=alert>WARNING: THIS IS A DEVELOPMENT SERVER</span><br>Software may not work, system may be down, etc.<br>Please use <a href="http://synteny.cnr.berkeley.edu/CoGe"> our production server: synteny.cnr.berkeley.edu/CoGe</a>
     </TD>
    </TR>
   </TABLE>
  </TD>
  </TR>
</TABLE>

  <!-- <TD align=left> -->
  <!-- <TMPL_VAR NAME=LOGON> -->
  
  <!--<TD align=right>
   <TABLE>
    <TR>
     <TD align=right><TMPL_IF NAME="CLOSE"><INPUT type = 'button' value= 'Close Window' onClick='window.close()'></TMPL_IF>
     </TD>
     <TD align=right><TMPL_IF NAME="HELP"><a href="./docs/help/<TMPL_VAR NAME=HELP>"><img src="./picts/help-logo.png" border=0></a></TMPL_IF>
     </TD>
   </TR>
  </TABLE>
  </TD>-->
<noscript>We have detected that your browser currently has JavaScript disabled. In order for CoGe to function properly, JavaScript must be enabled in your browser. For instruction on how to do so in Mozilla Firefox, please click <a href="http://www.mozilla.org/support/firefox/options#content" target="_blank">here</a>. After enabling JavaScript, simply refresh the page, or click <a href="javascript:location.reload(true);" target="_self">here</a>.</noscript>
