<TMPL_UNLESS NAME="NO_JQUERY">
<link rel="stylesheet" type="text/css" href="css/superfish.css" />

<SCRIPT language="JavaScript" type="text/javascript" src="js/jquery-1.8.0.min.js"></SCRIPT>
<SCRIPT language="JavaScript" type="text/javascript" src="js/jquery-ui-1.8.23.custom.min.js"></SCRIPT>

<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.7.2.custom.css" />
<link rel="stylesheet" type="text/css" href="css/jquery-ui-coge-supplement.css" />
<link rel="stylesheet" type="text/css" href="css/jquery.ui.autocomplete.css" />

<SCRIPT language="JavaScript" type="text/javascript" src="js/jquery.cookie.js"></SCRIPT>
<SCRIPT language="JavaScript" type="text/javascript" src="js/superfish.js"></SCRIPT>
<!-- The following javascript file is an addon for superfish - it is beta, so beware for bugs and updates -->
<SCRIPT language="JavaScript" type="text/javascript" src="./js/supersubs.js"></SCRIPT>
<SCRIPT language="JavaScript" type="text/javascript" src="js/hoverIntent.js"></SCRIPT>
<script type="text/javascript" src="./js/jquery.fileupload.js"></script>
</TMPL_UNLESS>
<link rel="stylesheet" type="text/css" href="css/coge.css?version=2015.12.07" />