<TMPL_IF NAME=MAIN>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.2.0.3.js"></SCRIPT>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.pager.js"></SCRIPT>

<SCRIPT language="JavaScript">
$(document).ready(function(){
	$.ajaxSetup({
		type: "POST",
		url: "<TMPL_VAR NAME=PAGE_NAME>",
		dataType: "html",
		cache: false,
	});
	
	set_table();
	
	$(".dialog_box").dialog({autoOpen: false, width: 600});

	// Create new case-insensitive "contains" selector function in jQuery
/*
	jQuery.expr[":"].icontains = jQuery.expr.createPseudo(function(arg) {
	    return function( elem ) {
	        return jQuery(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
	    };
	});
*/
	
	// Setup filter input
	$("#search_bar").keyup( function() { wait_to_filter( $(this).val() ); });
	$('#search_type').mouseup( function() { wait_to_filter( $('#search_bar').val() ); });
	filter_rows();
	
	// Reset dropdown default value
	$('#time_range option:contains(24)').attr('selected', 'selected');
});

function toggle_star(img) {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'toggle_star',
			log_id: img.id,
		},
		success :  function(val) {
			if (val == 0) { $(img).attr({src:"picts/star-hollow.png"}); }
			else { $(img).attr({src:"picts/star-full.png"}); }
		}
	});
}

function edit_comment(td) {
	var width = $(td).width();
	$(td).find('span').hide();
	$(td).find('input').width(width);
	$(td).find('input').show();
	$(td).find('input').focus();
}

function update_comment(td) {
	var old_comment = $(td).find('span').html();
	var new_comment = $(td).find('input').val();
	
	if (new_comment != old_comment) {
		$.ajax({
			data: {
				jquery_ajax: 1,
				fname: 'update_comment',
				log_id: td.id,
				comment: new_comment
			},
		});
	}
	
	$(td).find('input').hide();
	$(td).find('span').html(new_comment);
	$(td).find('span').show();
}

function set_table () {
	$('#history_table').tablesorter({widgets: ['zebra']});
}

function filter_busy(busy) {
	if (busy) {
		$('#filter_busy').fadeIn();
	}
	else {
		$('#filter_busy').fadeOut();
	}	
}

//Filters Rows for search_text - Case sensitive as of now, and searches hidden columns...
/*
function filter_rows (search_text) {
	filter_busy(1);
	
	if (!search_text) { 
		$("#history_table tr:hidden").show(0); 
	}
	else if (search_text.length >= 3) {
		$("#history_table_body tr:hidden").show(0);
		if( $('#search_type').val() == 1 ) { 
			$("#history_table_body tr:not(:icontains('"+search_text+"'))").hide(); 
		}
		else { 
			$("#history_table_body tr:icontains('"+search_text+"')").hide(); 
		}
	}
	
	filter_busy(0);
	$('#filter_count').html('Showing ' + $("#history_table_body tr:visible").length + ' of ' + $("#history_table_body tr").length + ' entries');
}
*/
function filter_rows (search_text) { // more code but much faster than old version
	var visible = 0;
	var total = 0;
	
	if (search_text && search_text.length < 3) { //>
		return;
	}
	
	filter_busy(1);
	
	if (!search_text) { 
		$("#history_table_body tr").each(
			function(index, element) {
				total++;
				visible++;
				$(element).show();
			}
		);
	}
	else {
		search_text = search_text.toLowerCase();
		
		$("#history_table_body tr").each(
			function(index, element) {
				total++;
				
				if (element.innerHTML.toLowerCase().indexOf(search_text) != -1) { // match
					if ( $('#search_type').val() == 1 ) { 
						$(element).show();
						visible++;
					}
					else {
						$(element).hide();
					}
				}
				else { // mismatch
					if ( $('#search_type').val() == 1 ) { 
						$(element).hide();
					}
					else {
						$(element).show();
						visible++;				
					}
				}
			}
		);
	}
	
	filter_busy(0);
	$('#filter_count').html('Showing ' + visible + ' of ' + total + ' entries');
}

function wait_to_filter (search_term) {
	if (!search_term || search_term.length > 2) {
		pageObj.search_term = search_term;
			
		if (pageObj.time) {
			clearTimeout(pageObj.time);
		}
		
		pageObj.time = setTimeout(
			function() { 
				filter_rows(pageObj.search_term); 
			},
			500
		);
	}
}

function run_get_history() {
	time_range = $('#time_range').val();
	search_term = $('#search_bar').val();
	
	filter_busy(1);
	
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'get_history_for_user',
			time_range: time_range,
		},
		success : function (data) {
			$('#history').html(data);
			set_table();
			filter_rows(search_term);
		}
	});
}
</SCRIPT>



<div class="small" style="padding-top:15px;padding-bottom:5px;height:27px;">
 <span style="padding-right:10px">
  Show: 
  <select id="time_range" onchange="run_get_history();">
   <option value="0">All</option>
   <option value="-3">Mine</option>
   <option value="-1">Starred</option>
   <option value="-2">Comments</option>
   <option value="1">Last hour</option>
   <option value="12">Last 12 hrs</option>
   <option selected='selected' value="24">Last 24 hrs</option>
   <option value="168">Last week</option>
   <option value="720">Last month</option>
  </select>
 </span>
 <span>
  Filter: 
  <input type="text" id="search_bar">
  <select id="search_type">
   <option value="1">Contains</option>
   <option value="0">Does NOT contain</option>
  </select>
  <!-- <span class=small>Tip: Use "*" for wildcards, and "!" to search for not containing</span> -->
  <span id='filter_count' style="margin-left:20px;color:darkgray;font-style:italic;"></span>
  <img id='filter_busy' src="picts/ajax-loader.gif" style="display:none;vertical-align:middle;" />
 </span>
</div>

<div id='history'>
 <TMPL_VAR NAME=HISTORY_CONTENTS>
</div>

</TMPL_IF> <!-- MAIN -->

<TMPL_IF NAME=HISTORY>
<SCRIPT language="JavaScript">
$(document).ready(function() {
	$('img.star').click(
		function() {
			toggle_star(this);
		}
	);
	$('td.comment').click(
		function() {
			edit_comment(this);
		}
	);
	$('td.comment').focusout(
		function() {
			update_comment(this);
		}
	);
	$('td input').bind('keypress', function(e) {
		if (e.keyCode==13) {
			update_comment(this);
			$(this).blur();
		}
	});
});
</SCRIPT>
<div id='history'>
<table id='history_table' class="small ui-widget-content ui-corner-all">
 <thead align="left"> 
  <tr>
   <th></th>
   <th>Date/Time</th>
   <th>User</th>
   <th>Page</th>
   <th>Description</th>
   <th>Link</th>
   <th>Comments <span style='color:gray;'>(click to edit)</span></th>
  </tr>
 </thead>
 <tbody id='history_table_body' align="left" valign="top" class="small">
  <TMPL_LOOP NAME=HISTORY_LOOP>
  <tr valign="top">
   <td align='center'><img id='<TMPL_VAR NAME=LOG_ID>' class='link star' src='<TMPL_VAR NAME=STAR_ICON>'></td>
   <td style="white-space:nowrap"><TMPL_VAR NAME=TIME></td>
   <td><TMPL_VAR NAME=USER></td>
   <td><TMPL_VAR NAME=PAGE></td>
   <td><TMPL_VAR NAME=DESCRIPTION></td>
   <td><TMPL_VAR NAME=LINK></td>
   <td id='<TMPL_VAR NAME=LOG_ID>' style='cursor:text' class='comment'>
    <input type='text' style='display:none;font-size:0.9em;font-style:italic;' maxlength='255' value='<TMPL_VAR NAME=COMMENT>'>
    <span style='font-style:italic;color:gray;'><TMPL_VAR NAME=COMMENT></span>
   </td>
  </tr>
  </TMPL_LOOP>
 </tbody>
</table>
</div>
</TMPL_IF> <!-- HISTORY -->



<TMPL_IF NAME=ADMIN_AREA>
<hr>
Admin Functions:<br>
</TMPL_IF> <!-- ADMIN_AREA -->
