<script src="js/coge/wikifeed.js"></script>
<script language="javascript">
$(document).ready(function(){
    var feed = new wikifeed("<tmpl_var name=wikifeed>", $("#wikifeed"));
    $('#uname').focus();
    pageObj = new Object();
    pageObj.index=0;//Math.floor(Math.random()*20);
    cross_fade(1);

    //$("#accordion").accordion({collapsible:true, active: false}).show();
    $("#accordion2").accordion({collapsible:true, active: false, disabled:true}).removeClass('invisible');
    $("#accordion3").accordion({collapsible:true, active: false, disabled:true}).removeClass('invisible');
    $("#accordion4").accordion({collapsible:false, active: true}).removeClass('invisible');

    $("#genome_dialog").dialog({
        title: "Latest Genomes",
        width: 450,
        autoOpen: false,
        position: {
            my: "center",
            at: "bottom",
            of: $("#stats")
        },
        show: {
            effect: "fade",
            duration: 800
        }
    });
});

function cross_fade(first_time) {
    var pause_time = 8000;
    var fade_time = 3000;
    var image = new Array(
        ["jbrowse-genome-view.png", "View your data in the new EPIC-CoGe browser built with JBrowse, including annotation, quantitative measurements, SNPs, and RNA-seq alignments!", "EPIC-CoGe"],
        ["500px-SynPlot-Chr1-At-v-Al.png","Syntenic dotplot of Arabidopsis thaliana versus Arabidopsis lyrata with synonymous mutations","Syntenic_comparison_of_Arabidopsis_thaliana_and_Arabidopsis_lyrata"],
        ["GenomeView-MG1655.png", "Visualizing a prophage insertion in E. coli K12 MG1655 by differences in genome structure", "Horizontal_Gene_Transfer"],
        ["Os-Sb-CNS-rich.png", "Syntenic MYB with many conserved non-coding-sequences(CNSs).  Purple were computationally predicted; pink with lines are emperically determined for proofing.", "CNS-rich_grass_MYB_gene"],
        ["600px-Maize-sorghum-cns.png", "Identifying fractionation and conserved non-coding sequences in maize and sorghum", "Maize_Sorghum_Syntenic_dotplot"],
        ["gevo-synteny.png", "High-resolution sequence analysis of syntenic regions of Arabidopsis derived from its most recent genome duplication event.", "Syntenic_comparison_of_Arabidopsis_thaliana_and_Arabidopsis_lyrata"],
        ["500px-3440_3441.CDS-CDS.blastn.dag_geneorder_D20_g10_A5.1-1.w800.png", "Shewanella baltica strains syntenic dotplot showing an x-alignment","X-alignment"],
        ["800px-Master_3068_8.CDS-CDS.blastn_geneorder_D20_g10_A5.w2000.ks.png","Syntenic dotplot of Arabidopsis thaliana vs lyrata","Syntenic_comparison_of_Arabidopsis_thaliana_and_Arabidopsis_lyrata"],
        ["Master_2361_2360.CDS-CDS.blastn_geneorder_D20_g10_A5.w500.png","Acidovorax syntenic dotplot showing an x-alignment","X-alignment"],
        ["600px-System_framework.png","CoGe's open-ended interconnected analysis network","CoGe_system_arcitecture"],
        ["600px-Syntenic_dotplot_medicago_truncatula_v2_vs_v3.png","Comparison of new and old genome assemblies of Medicago truncatula","Syntenic_dotplot_medicago_truncatula_version_3_versus_version_2"],
        ["800px-GenomeView_GEvo-links.png", "Visualizing variation in GC content and links for syntenic gene analyses", "GenomeView_examples#GEvo_Links"],

        ["500px-Reconstructingchromosomes.png", "Reconstruting maize chromosomes through syntenic dotplot comparisons to sorghum", "Splitting_maize_genome"],
        ["Grapevine-peach_K2_historgram.png","Historgram of synonymous mutation values between grape and peach","Syntenic_dotplot_of_peach_versus_grape"],
        //["k12-CDS-aa-usage.png","E. coli's amino acid usage as a function of CDS GC content","CodeOn"],
        ["600px-Plasmodium-codon-substitution-matirx.png", "Codon substitution matrix of two Plasmodia species","Plasmodia_comparative_genomics"],
        ["800px-Human-mouse-tandem-gene-duplication.png","Human-mouse syntenic comparison showing a conserved tandem gene cluster","Local_Gene_Duplication"],
        ["600px-SynPlot-Chr1-At-v-Al.png", "Synonymous mutation histogram of syntenic genes between two species of Arabidopsis showing orthologous pairs and those derived from a shared whole genome duplication event","Syntenic_comparison_of_Arabidopsis_thaliana_and_Arabidopsis_lyrata"],
        ["600px-CoGeBlast-At1g02120-eval.png", "CoGeBlast evaluating potential homologous hits", "Phylogenetics_in_CoGe#Evaluate_potential_homologs_in_CoGeBlast_and_select_the_.22good.22_ones"],
        ["Plasmodium_knowlesi_cds_gc_content_histogram.png", "GC content distribution for all protein sequences of a Plasmodium species","Plasmodia_comparative_genomics"],
        ["FeatMap-screenshot.png", "Identifying genomic distributions of gene families", "GenomeMap"],
        ["GEvo-ecoli-insertion-direct-repeats.png", "Identifying direct repeats flanking an insertion in E. coli", " Analysis_of_variations_found_in_genomes_of_Escherichia_coli_strain_K12_DH10B_and_strain_B_REL606_using_SynMap_and_GEvo_analysis#High-resolution_GEvo_analysis_of_an_insertion:_finding_direct_sequence_repeats"],
        ["800px-GeLo-nucleotides.png", "Visualizing individual nucleotides with GenomeView", "GenomeView_examples#Chromosome_Background"],
        ["600px-Phylogeny_fr_PhyML.png","Linking to phylogeny.fr for one-click phylogenetics","Phylogenetics_in_CoGe#Send_sequences_to_phylogeny.fr"]
    );
    var index = pageObj.index;
    link = "http://genomevolution.org/wiki/index.php/"+image[index][2];
    newStuff = "<div onclick=window.open('"+link+"') style='box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);text-align: center; border: solid 1px lightgray; margin-top: 50px; padding: 10px'><img style='width: 90%;' src='./picts/home_page/"+image[index][0]+"'><div style='width: 80%; margin: 0 auto; float: none;' class='padded'>"+image[index][1]+"</div></div>";

    if (first_time) {
        $('#crossfade').html(newStuff).show();
    }
    else {
        $('#crossfade').fadeOut(fade_time,
            function() {
                $('#crossfade').html(newStuff).fadeIn(fade_time)
            }
        );
    }

    index = Math.floor(Math.random()*image.length);
    if (index == image.length) { index=0; }
    pageObj.index = index;

    setTimeout("cross_fade();", pause_time);
}

function get_latest_genomes() {
    var limit = $('#limit').val();

    $('#latest_genomes').html('Loading...<img src="picts/ajax-loader.gif"/>');

    $.ajax({
        data: {
            jquery_ajax: 1,
            fname: 'get_latest_genomes',
            limit: limit
        },
        success : function(html) {
            $('#latest_genomes').fadeOut(
                function() {
                    $('#latest_genomes').html(html).slideDown();
                }
            );
        }
    });
}
</SCRIPT>

<TMPL_IF NAME="INTRO">
    <div id="stats" class="shaded">
        <ul class="horizontal small bold">
                <li>Organisms: <span style="color:darkgreen"><TMPL_VAR NAME="ORG_COUNT"></span></li>
                <li>Genomes: <span style="color:darkgreen"><TMPL_VAR NAME="GEN_COUNT"></span></li>
                <li>Features: <span style="color:darkgreen"><TMPL_VAR NAME="FEAT_COUNT"></span></li>
                <li>Annotations: <span style="color:darkgreen"><TMPL_VAR NAME="ANNOT_COUNT"></span></li>
                <li>Experiments: <span style="color:darkgreen"><TMPL_VAR NAME="EXP_COUNT"> (<TMPL_VAR NAME="QUANT_COUNT"> values)</span></li>
        </ul>
    </div>

<div id="wrapper">
    <aside class="sidebar_left">
        <div>
            <h4>New to CoGe?</h4>
            <div id="accordion2" class="invisible" style="font-size: 0.7em;">
                <h3 onclick='window.open("http://genomevolution.org/wiki/index.php/New_to_CoGe")'><a href="http://genomevolution.org/wiki/index.php/New_to_CoGe">How to get started</a></h3>
                <div></div>
                <h3 onclick='window.open("http://genomevolution.org/wiki/index.php/Tutorials")'><a href="http://genomevolution.org/wiki/index.php/Tutorials">Tutorials</a></h3>
                <div></div>
                <h3 onclick='window.open("http://genomevolution.org/wiki")'><a href="http://genomevolution.org/wiki">CoGePedia docs</a></h3>
                <div></div>
                <h3 onclick='window.open("http://genomevolution.org/wiki/index.php/FAQs")'><a href="http://genomevolution.org/wiki/index.php/FAQs">FAQs</a></h3>
                <div></div>
            </div>
        </div>
        <div>
            <h4 style="padding-top: 25px;">CoGe's Tools</h4>
            <div style="font-size: 0.7em;">
                <div id="accordion3" class="invisible">
                    <TMPL_LOOP NAME="ACTIONS">
                        <h3 onclick='window.open("<TMPL_VAR NAME=LINK>")'><a href="#"><TMPL_VAR NAME="ACTION"></a></h3>
                        <div><TMPL_VAR NAME="DESC"></div>
                    </TMPL_LOOP>
                    <h3 onClick="get_latest_genomes(); $('#genome_dialog').dialog('open');"><a href="#">Latest Genomes</a></h3>
                    <div style="min-height: 150px;">
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <section id="content" style="color:dimgray;" class="top">
        <span class="welcome">Welcome to CoGe</span>
        <p>The Place for Comparative Genomics</p>
        <div id="crossfade" class="link"></div>
    </section>

    <aside class="sidebar_right">
        <div id="wikifeed">
            <h4 style="text-align: center;">Latest News</h4>
        </div>
    </aside>
</div>
</TMPL_IF>

<div id="genome_dialog" style="display: none;">
    Number returned: <input id="limit" class="backbox" type="textbox" size="3" value="10">
    <span class='ui-button ui-corner-all' onClick="get_latest_genomes();">Go</span><br><br>
    <div id="latest_genomes"></div>
</div>
