
<SCRIPT language="JavaScript">

function place_cookie(valid, cookie, url)
  {
    if (valid) 
     {
       
       document.cookie = cookie;
       if (url)
        {
         window.location = url;
        }
       else {window.location.reload;}
     }
    else
     {
	kaj.GS('message','<font class="error">Invalid login</font>');       
     }
  }

function delete_cookie(cookie)
  {
    document.cookie=cookie;
  }
</SCRIPT>

<TMPL_IF NAME="LOGIN">
<DIV id="message"><TMPL_VAR NAME="MESSAGE"></DIV>
<DIV class=large>Please log on: <font class="small">(You will need make sure your browser is set to accept <a href="http://en.wikipedia.org/wiki/HTTP_cookie">cookies</a>)</font></div>
<TABLE class="basic">
 <TR>
  <TD>User Name:
  <TD><input class="backbox" type="text" name="uname" id="uname" size="10">
 <TR>
  <TD>Password:
  <TD><input class="backbox" type="password" name="pwd" id="pwd" size="10">
</TABLE>
<input type="hidden" id="url" value="<TMPL_VAR NAME="url">">
<input type="submit" value="Log on" id="Login" onClick="login(['uname', 'pwd','url'],[place_cookie])">
<input type="submit" value="Use Public Login" id="Login" onClick="login(['args__public', 'args__none','url'],[place_cookie])"><br>
<div class=small>Use "public login" if you don't have a registered CoGe account.</div>


<TMPL_ELSE>
<TABLE class="basic" width=100%>
 <TR>
  <TH>
    <DIV class = large>
      ACTION
    </DIV>
  </TH>
  <TH>
    <DIV class = large>
      DESCRIPTION
    </DIV>
  </TH>
 </TR>
<TMPL_LOOP NAME=ACTIONS>
 <TR>
  <TD WIDTH = 25%>
   <DIV>
     <TMPL_VAR NAME=ACTION>
   </DIV>
  </TD>
  <TD>
   <DIV>
     <TMPL_VAR NAME=DESC>
   </DIV>
  </TD>
 </TR>
 <TR>
  <TD COLSPAN=2>
    <HR>
  </TD>
 </TR>
</TMPL_LOOP>
</TABLE>
</TMPL_IF>

