<tmpl_if name="login">
	<tmpl_include name="widgets/Login.tmpl">
</tmpl_if>

<tmpl_if name="main">
<div class="small" style="padding-top:15px;padding-bottom:10px;height:27px;">
 Filter:
 <input type="text" id="search_bar">
 <select id="search_type">
  <option value="1">Contains</option>
  <option value="0">Does NOT contain</option>
 </select>
 <span id='filter_count' style="margin-left:20px;"></span>
 <!-- <img id='filter_busy' src="picts/ajax-loader.gif" style="display:none;" /> -->
<div style="display: inline;" class="ui-button ui-corner-all" onclick="cancel_job()">Cancel selected jobs</div>
</div>

<div id="jobs" style="max-width:95%; height: 900px; display:true; font-size: 0.9em;">
</div>


<link rel="stylesheet" href="js/slickgrid/slick.grid.css" type="text/css"/>
<link rel="stylesheet" href="js/slickgrid/controls/slick.pager.css" type="text/css"/>
<link rel="stylesheet" href="js/slickgrid/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css"/>
<link rel="stylesheet" href="js/slickgrid/controls/slick.columnpicker.css" type="text/css"/>
  <style>
    .cell-centered {
		text-align: center;
		vertical-align: middle;
		font-size: small;
    }
    .cell-normal {
		vertical-align: middle;
		font-size: small;
    }
    .slick-cell-checkbox-sel {
        background: #f0f0f0;
        border-right-color: silver,
        border-right-style: solid;
    }
  </style>
<script src="js/slickgrid/lib/jquery-ui-1.8.16.custom.min.js"></script>
<script src="js/slickgrid/lib/jquery.event.drag-2.0.min.js"></script>
<script src="js/slickgrid/slick.core.js"></script>
<script src="js/slickgrid/slick.formatters.js"></script>
<script src="js/slickgrid/slick.editors.js"></script>
<script src="js/slickgrid/plugins/slick.rowselectionmodel.js"></script>
<script src="js/slickgrid/plugins/slick.checkboxselectcolumn.js"></script>
<script src="js/slickgrid/slick.grid.js"></script>
<script src="js/slickgrid/slick.dataview.js"></script>
<script src="js/slickgrid/controls/slick.pager.js"></script>
<script src="js/slickgrid/controls/slick.columnpicker.js"></script>

<script src="js/coge/utils.js"></script>
<script src="js/coge/grid.js"></script>

<script language="javascript">
$(document).ready(function(){
	$.ajaxSetup({
		type: "POST",
		url: "<TMPL_VAR NAME=PAGE_NAME>",
		dataType: "html",
		cache: false,
	});

	$(".dialog_box").dialog({autoOpen: 0, width: 600});
	$("#search_bar").keyup( function() { filter_rows( $(this).val() ); });
	$('#search_type').mouseup( function() { filter_rows( $('#search_bar').val() ); });

    var options = {
        editable: true,
        enableCellNavigation: true,
        asyncEditorLoading: true,
        forceFitColumns: true,
        comparator: coge.ascending,
    };

    var checkbox = new Slick.CheckboxSelectColumn({
            cssClass: 'slick-cell-checkboxsel'
    });

    var columns = [
        checkbox.getColumnDefinition(),
        {id: 'id', name: 'Id', field: 'id', maxWidth: 50, sortable: true},
        {id: 'link', name: 'Link to Analysis', field: 'link', minWidth: 160,
            sortable: true},
        {id: 'tool', name: 'Tool', field: 'tool', minWidth: 30,
            sortable: true},
        {id: 'status', name: 'Status', field: 'status', minWidth: 30,
            sortable: true},
        {id: 'started', name: 'Started', field: 'started',
            sortable: true},
        {id: 'completed', name: 'Completed', field: 'completed',
            sortable: true},
    ];

<tmpl_if name="admin_area">
    columns.push({id: 'user', name: 'User', field: 'user', sortable: true});
</tmpl_if>

    jobs = new coge.Grid('#jobs', options, columns);
    jobs.grid.registerPlugin(checkbox);
    $.ajax({
        dataType: 'json',
        data: {
            jquery_ajax: 1,
            fname: 'get_jobs',
            time_range: 0,
        },
        success: function(data) { jobs.load(data); }
    });
});

function cancel_job() {
    var rows = $("#list_table_body input[type=checkbox]")
        .filter(":checked")
        .parent()
        .parent()
        .children()
        .filter("td:nth-child(5)")
        .filter(":contains('Running')")
        .parent();

    var checked = rows.children()
        .filter("td:nth-child(1)")
        .find("input");

    var status = rows.children()
        .filter("td:nth-child(5)");


    var jobs = rows.children()
        .filter("td:nth-child(2)")
        .each(function(index) {
            var argument_list =  {
                fname: 'cancel_job',
                job: $(this).text(),
            };

            $.ajax({
                type: "GET",
                dataType: "json",
                data: argument_list,
                success: function(data) {
                    if (data.status) {
                        var item = $(status.get(index));
                        item.text(data.status)
                            .fadeIn(2000);

                        checked.attr("checked", false);
                    }
                }
            });
        });
}
</script>
</tmpl_if>
