<tmpl_if name="login">
	<tmpl_include name="widgets/Login.tmpl">
</tmpl_if>

<tmpl_if name="main">
<div class="small" style="padding-top:15px;padding-bottom:10px;height:27px;">
 Filter:
 <input type="text" id="search_bar">
 <select id="search_type">
  <option value="1">Contains</option>
  <option value="0">Does NOT contain</option>
 </select>
 <span id='filter_count' style="margin-left:20px;"></span>
 <img id='filter_busy' src="picts/ajax-loader.gif" />
</div>

<!--
<span id="test" class="ui-button ui-corner-all" onclick="cancel_job()">Cancel selected jobs</span>
-->

<div id="jobs" style="max-width:95%; height: 900px; display:true; font-size: 0.8em; margin-top: 5px;">
</div>

<link rel="stylesheet" href="js/slickgrid/slick.grid.css" type="text/css"/>
<link rel="stylesheet" href="js/slickgrid/controls/slick.pager.css" type="text/css"/>
<!--<link rel="stylesheet" href="js/slickgrid/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css"/> -->
<link rel="stylesheet" href="js/slickgrid/controls/slick.columnpicker.css" type="text/css"/>
  <style>
    .cell-centered {
		text-align: center;
		vertical-align: middle;
		font-size: small;
    }
    .cell-normal {
		vertical-align: middle;
		font-size: small;
    }
    .slick-cell-checkbox-sel {
        background: #f0f0f0;
        border-right-color: silver,
        border-right-style: solid;
    }
  </style>
<script src="js/slickgrid/lib/jquery-ui-1.8.16.custom.min.js"></script>
<script src="js/slickgrid/lib/jquery.event.drag-2.0.min.js"></script>
<script src="js/slickgrid/slick.core.js"></script>
<script src="js/slickgrid/slick.formatters.js"></script>
<script src="js/slickgrid/slick.editors.js"></script>
<script src="js/slickgrid/plugins/slick.rowselectionmodel.js"></script>
<script src="js/slickgrid/plugins/slick.checkboxselectcolumn.js"></script>
<script src="js/slickgrid/slick.grid.js"></script>
<script src="js/slickgrid/slick.dataview.js"></script>
<script src="js/slickgrid/controls/slick.pager.js"></script>
<script src="js/slickgrid/controls/slick.columnpicker.js"></script>

<script src="js/coge/utils.js"></script>
<script src="js/coge/grid.js"></script>

<script language="javascript">
$(document).ready(function(){
	$.ajaxSetup({
		type: "POST",
		url: "<TMPL_VAR NAME=PAGE_NAME>",
		dataType: "html",
		cache: false,
	});

    var searchFilter = function(item, args) {
        var link = item['link'] ? item['link'].toLowerCase() : '',
            tool = item['tool'] ? item['tool'].toLowerCase() : '',
            status = item['status'] ? item['status'].toLowerCase() : '',
            started = item['started'] ? item['started'].toLowerCase() : '',
            completed = item['completed'] ? item['completed'].toLowerCase() : ''
<tmpl_if name="admin_area">
            ,user = item['user'] ? item['user'].toLowerCase() : ''
</tmpl_if>;

        if (args.searchType == 1) {
            if (args.searchString != "" &&
                link.indexOf(args.searchString) == -1 &&
                tool.indexOf(args.searchString) == -1 &&
                status.indexOf(args.searchString) == -1 &&
                started.indexOf(args.searchString) == -1 &&
                completed.indexOf(args.searchString) == -1
<tmpl_if name="admin_area">
                && user.indexOf(args.searchString) == -1
</tmpl_if>) {
                return false;
            }
        } else {
            if (args.searchString != "" &&
                link.indexOf(args.searchString) != -1 ||
                tool.indexOf(args.searchString) != -1 ||
                status.indexOf(args.searchString) != -1 ||
                started.indexOf(args.searchString) != -1 ||
                completed.indexOf(args.searchString) != -1
<tmpl_if name="admin_area">
                || user.indexOf(args.searchString) != -1
</tmpl_if>) {
                return false;
            }
        }

        return true;
    };

    var options = {
        editable: true,
        enableCellNavigation: true,
        asyncEditorLoading: true,
        forceFitColumns: true,
        filter: searchFilter,
        comparator: coge.ascending,
    };

    var checkbox = new Slick.CheckboxSelectColumn({
            cssClass: 'slick-cell-checkboxsel'
    });

    var linkformatter = function(row, cell, value, columnDef, dataContext) {
        return '<a href="' + dataContext['link'] + '" >'
        + dataContext['link'] + '</a>'
    }
    var columns = [
        checkbox.getColumnDefinition(),
        {id: 'id', name: 'Id', field: 'id', maxWidth: 50, sortable: true},
        {id: 'started', name: 'Started', field: 'started', minWidth: 75,
            sortable: true},
        {id: 'completed', name: 'Completed', field: 'completed', minWidth: 75,
            sortable: true},
        {id: 'elapsed', name: 'Elapsed', field: 'elapsed', minWidth: 55,
            sortable: true},
<tmpl_if name="admin_area">
        {id: 'user', name: 'User', field: 'user', sortable: true, minWidth: 75},
</tmpl_if>
        {id: 'tool', name: 'Tool', field: 'tool', minWidth: 75,
            sortable: true},
        {id: 'link', name: 'Link to Analysis', field: 'link', minWidth: 250,
            sortable: true, formatter: linkformatter },
        {id: 'status', name: 'Status', field: 'status', minWidth: 75,
            sortable: true}
    ];

    window.jobs = new coge.Grid('#jobs', options, columns);
    jobs.grid.registerPlugin(checkbox);
    $.ajax({
        dataType: 'json',
        data: {
            jquery_ajax: 1,
            fname: 'get_jobs',
            time_range: 0,
        },
        success: function(data) {
            jobs.load(data.jobs);
            entries = data.length;
            $("#filter_busy").hide();
        }
    });
});

$("#search_bar").keyup(function (e) {
    Slick.GlobalEditorLock.cancelCurrentEdit();

    if (e.which == 27) { // Clear on Esc
        this.value = "";
    }
    update_filter();
});

$("#show_select,#search_type").change(function(e) {
    update_filter();
});

function update_filter() {
    jobs.dataView.setFilterArgs({
        show: $('#show_select').val(),
        searchType: $('#search_type').val(),
        searchString: $('#search_bar').val().toLowerCase()
    });

    jobs.filter();
    $('#filter_count').html('Showing ' + jobs.dataView.getLength() + ' of ' + entries + ' results');
}

function cancel_job() {
    var selectedIndexes = window.jobs.grid.getSelectedRows();

    jQuery.each(selectedIndexes, function(index, value) {
        var row = window.jobs.dataView.getItem(value);

        if (row.status.toLowerCase() == 'running') {
            var argument_list =  {
                fname: 'cancel_job',
                job: row.id,
            };

            $.ajax({
                type: "GET",
                dataType: "json",
                data: argument_list,
                success: function(data) {
                    if (data.status) {
                        row.status = data.status;
                        window.jobs.dataView.updateItem(row.id, row);
                    }
                }
            });
        }
    });
}
</script>
</tmpl_if>
