<TMPL_IF NAME='MAIN'>
<script type="text/javascript" src="js/coge/utils.js"></script>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.fileupload.js"></SCRIPT>

<style type="text/css">

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.eot');
	src: url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./js/vendor/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.glyphicon-asterisk:before {
	content: "\2a";
}

.jstree li a ins { display:none !important; }
.jstree.jstree-focused { background:white; }
</style>

<script type="text/javascript">

const STATUS_URL = '<TMPL_VAR NAME="STATUS_URL">';
const PAGE_NAME = '<TMPL_VAR NAME="PAGE_NAME">';

var timestamps = new Array();
var load_id = '<TMPL_VAR NAME="LOAD_ID">'; // required by FileSelect.tmpl
var job_id = '<TMPL_VAR NAME="JOB_ID">';
var embed = '<TMPL_VAR NAME="EMBED">';
var experiment_id;
var notebook_id;
var pageObj = {};
var newLoad = false;

$(document).ready(function(){
	// Configure jQuery ajax
    $.ajaxSetup({
        type: "GET",
        url: PAGE_NAME,
        dataType: "html",
        cache: false,
    });

    pageObj.user = "<tmpl_var name=USER>";

    // Configure dialogs
    $(".dialog_box").dialog({autoOpen: false, width: 500});
    $('#load_dialog').dialog("widget").find('.ui-dialog-titlebar-close').hide();
    $('#load_dialog').dialog({modal: true, closeOnEscape: false})

    // Initialize drop-downs
    get_sources();

    $("#edit_genome").autocomplete({
        source:[],
        select: function(event, ui) {
            $('#edit_genome').val(ui.item.label);
            $('#gid').val(ui.item.value);
            return false; // Prevent the widget from inserting the value.
        },
        focus: function(event, ui) {
            //$("#edit_genome").val(ui.item.label);
            return false; // Prevent the widget from inserting the value.
        }
    });

    $("#file_type_selector").on("change", function() {
        if ($(this).val() === "fastq")
            $("#select_options").slideDown();
        else
            $("#select_options").slideUp();
    });

    // Open status dialog
    if (job_id) {
        $('#loading_msg').hide();
        $('#load_dialog').dialog('open');
        update_dialog(STATUS_URL + job_id, pageObj.user, "#load_dialog", progress_formatter);
    }
    
    <TMPL_IF NAME="ADMIN_AREA">
    $("#edit_user").autocomplete({
        source:[],
        focus: function() { return false; },
    });
    </TMPL_IF>
});

function file_selected(filename, url) {
	$('#no_files').hide();
	$('#file_select_dialog').dialog('close');
	$('#files_clear').removeClass('ui-state-disabled');
	$('#select_file_type')
		.removeClass('coge-disabled')
		.children()
		.prop('disabled', false);
}

function file_finished(size, url) {
    var files = get_selected_files(),
        exp = /(:?fastq|fq)/;
    var isFastq = exp.test.bind(exp);

    if (files.map(getPath).some(isFastq)) {
        $("#file_type_selector")
            .find("option[value=fastq]")
            .prop("selected", true)
            .change();
    }
    else {
    	$("#add_data").addClass("ui-state-disabled");
    }
}

function file_canceled() {
    var files = get_selected_files();
    if (!files.length) {
    	$('#select_file_type')
    		.addClass("coge-disabled")
    		.children()
    		.prop("disabled", true);
    	
        $('#select_file_type')
	        .find("option[value=autodetect")
	        .prop("selected", true)
	        .change();
    	
    	$("#add_data").removeClass("ui-state-disabled");
    }
}

function getPath(item) {
    return item.path;
}

function create_source() {
    var name = $('#edit_source_name').val();
    var desc = $('#edit_source_desc').val();
    var link = $('#edit_source_link').val();
    $.ajax({
        data: {
            fname: 'create_source',
            name: name,
            desc: desc,
            link: link,
        },
        success : function(name) {
            $('#create_new_source_dialog').dialog('close');
            if (name) {
                $('#edit_source').val(name);
            }
        }
    });
}

function reset_log() {
    $('#load_log').html('');
    $('#loading_msg').show();
    $('#ok_button,#error_msg,#finished_msg,#finish_load_experiment_button,#cancel_load_experiment_button,#logfile').hide();
}

function check_login() {
    var logged_in = false;

    $.ajax({
        async: false,
        data: {
            fname: 'check_login',
        },
        success : function(rc) {
            logged_in = rc;
        }
    });

    return logged_in;
}

var error_help_timeout;
function error_help(s) {
	$('#error_help_text')
		.html(s)
		.show();
	
	clearTimeout(error_help_timeout);
	error_help_timeout = setTimeout(function() {
		$('#error_help_text').fadeOut(1500);
	}, 15*1000);
}

function load_experiment() {
    var name = $('#edit_name').val();
    var description = $('#edit_description').val();
    var version = $('#edit_version').val();
    var restricted = $('#restricted').is(':checked');
    var genome = $('#edit_genome').val();
    var gid = $('#gid').val();
    var file_type = $("#select_file_type option:selected").val();
    var aligner = $("#aligner").find(":checked").val();
    var read_type = $("#read_type").find(":checked").val();
    var ignore_cb = $('#ignore_missing_chrs');
    var ignore_missing_chrs = ignore_cb.is(':checked');
    var trim_reads = $('#trim_reads').is(':checked');

    if (!name) {
    	error_help('Please specify an experiment name.');
        return;
    }
    if (!version) {
    	error_help('Please specify an experiment version.');
        return;
    }
    if (!genome || genome == 'Search') {
    	error_help('Please specify a genome.');
        return;
    }

    var source = $('#edit_source').val();
    if (!source || source == 'Search') {
    	error_help('Please specify a data source.');
        return;
    }

    var items = get_selected_files();
    if (items == null) {
    	error_help('Files are still being transferred, please wait.');
        return;
    }
    else if (items.length == 0) {
    	error_help('Please select a data file.');
        return;
    }
    var json = JSON.stringify(items);

    // Prevent concurrent executions - issue 101
    if ( $("#load_dialog").dialog( "isOpen" ) )
        return;

    // Make sure user is still logged-in - issue 206
    if (!check_login()) {
        alert('Your session has expired, please log in again.');
        location.reload(true)
        return;
    }

    // Open status dialog right away - issue 101
    reset_log();
    $('#load_dialog').dialog('open');
    $('#load_log').html('Initializing ...');
    newLoad = true;

    $.ajax({
        data: {
            fname: 'load_experiment',
            load_id: load_id,
            name: name,
            description: description,
            version: version,
            restricted: restricted,
            gid: gid,
            source_name: source,
            items: json,
            file_type: file_type,
            aligner: aligner,
            read_type: read_type,
            trim_reads: trim_reads,
            ignore_missing_chrs: ignore_missing_chrs,
            timestamp: new Date().getTime()
        },
        success : function(data) {
            var obj = jQuery.parseJSON(data);
            if (obj && obj.error) {
            	$('#load_log').html('<p>Error: ' + obj.error + '</p>');
            	load_failed();
                return;
            }

            // Set link in status dialog
            $('#loading_msg span a').attr('href', obj.link).html(obj.link);

            // Start status update
            if (obj.job_id) { // JEX status for load FASTQ
                job_id = obj.job_id;
                window.history.pushState({}, "Title", PAGE_NAME + "?job_id=" + obj.job_id); // Add job_id to browser URL
                update_dialog(STATUS_URL + obj.job_id, pageObj.user, "#load_dialog", progress_formatter);
            }
        }
        // TODO: handle ajax error, show in status dialog
    });
}

function get_load_log(callback) {
    $.ajax({
        data: {
            dataType: 'text',
            fname: 'get_load_log',
            workflow_id: job_id,
            timestamp: new Date().getTime()
        },
        success : function(data) {
            if (callback) {
            	var obj = jQuery.parseJSON(data);
                callback(obj);
                return;
            }
        }
    });
}

function load_failed(logfile) {
	// mdb added 6/24/14 - temporary message until JEX logging is improved
	var msg =
		'<div class="alert">' +
		'The CoGe Support Team has been notified of this error but please ' + 
		'feel free to contact us at <a href="mailto:<TMPL_VAR NAME=SUPPORT_EMAIL>"><TMPL_VAR NAME=SUPPORT_EMAIL></a> ' +
		'and we can help to determine the cause.' +
		'</div>';
	var log = $('#load_log');
	log.html( log.html() + msg );


    if (logfile) {
        $("#logfile a").attr("href", logfile);
        $('#logfile').fadeIn();
    }

    // Update dialog
    $('#loading_msg').hide();
    $('#error_msg,#cancel_load_experiment_button').fadeIn();

    if (newLoad) { // mdb added check to prevent redundant emails, 8/14/14 issue 458
	    $.ajax({
	        data: {
	            fname: "send_error_report",
	            load_id: load_id,
	            job_id: job_id
	        }
	    });
    }
}

function load_succeeded(obj) {
    // Update globals
    experiment_id = obj.experiment_id; // for continuing to ExperimentView
    notebook_id   = obj.notebook_id;   // for continuing to NotebookView

    // Update dialog
    $('#loading_msg').hide();
    $('#finished_msg,#ok_button').fadeIn();
    if (notebook_id) { // qTeller pipeline experiment load
        $('#finish_load_experiment_button')
            .html('NotebookView').fadeIn()
            .unbind().on('click', function() {
                window.location.href = "NotebookView.pl?nid=" + notebook_id;
        });
    }
    else { // normal experiment load
        $('#finish_load_experiment_button')
            .html('Continue to ExperimentView').fadeIn()
            .unbind().on('click', function() {
                window.location.href = "ExperimentView.pl?embed=" + embed + "&eid=" + experiment_id;
        });
    }
}

function reset_load() {
    window.history.pushState({}, "Title", PAGE_NAME);
    $('#load_dialog').dialog('close');

    // Reset file selector
    file_canceled();
    clear_list(); // in FileSelect.tmpl
}

function wait_to_search (search_func, search_obj) {
    var search_term = search_obj.value;
    if (!search_term || search_term.length >= 2) {
        if (pageObj.time) {
            clearTimeout(pageObj.time);
        }

        pageObj.time = setTimeout(
            function() {
                search_func(search_obj.value);
            },
            250
        );
    }
}

function search_genomes (search_term) {
    $.ajax({
        data: {
            fname: 'search_genomes',
            search_term: search_term,
            timestamp: new Date().getTime()
        },
        success : function(data) {
            var obj = jQuery.parseJSON(data);
            if (obj.items) {
                obj.items.forEach(function(element) {
                    element.label = element.label.replace(/&reg;/g, "\u00ae"); // (R)
                });
                $("#edit_genome").autocomplete({source: obj.items});
                $("#edit_genome").autocomplete("search");
            }
        },
    });
}

function search_users (search_term) {
    $.ajax({
        data: {
            fname: 'search_users',
            search_term: search_term,
            timestamp: new Date().getTime()
        },
        success : function(data) {
            var obj = jQuery.parseJSON(data);
            if (obj && obj.items) {
                $("#edit_user").autocomplete({source: obj.items});
                $("#edit_user").autocomplete("search");
            }
        },
    });
}

function get_sources () {
    $.ajax({
        data: {
            fname: 'get_sources',
        },
        success : function(data) {
            var obj = jQuery.parseJSON(data);
            if (obj) {
                $("#edit_source").autocomplete({source: obj});
            }
        },
    });
}

function progress_formatter(item) {
    var msg;
    var row = $('<li>'+ item.description + ' </li>');

    var job_status = $('<span></span>');

    if (item.status == 'scheduled')
        job_status.append(item.status).addClass('down bold');
    else if (item.status == 'completed')
        job_status.append(item.status).addClass('completed bold');
    else if (item.status == 'running')
        job_status.append(item.status).addClass('running bold');
    else if (item.status == 'skipped')
        job_status.append("already generated").addClass('skipped bold');
    else if (item.status == 'cancelled')
        job_status.append(item.status).addClass('alert bold');
    else if (item.status == 'failed')
        job_status.append(item.status).addClass('alert bold');
    else
        return;

    row.append(job_status);

    if (item.elapsed)  {
        row.append(" in " + coge.utils.toPrettyDuration(item.elapsed));
    }

    if (item.log) {
        var p = item.log.split("\n");

        var pElements = p.map(function(item) {
            var norm = item.replace(/\\t/g, " ").replace(/\\'/g, "'");
            return $("<div></div>").html(norm);
        });

        var log = $("<div></div>").html(pElements).addClass("padded");
        row.append(log);
    }

    return row;
}

function update_dialog(request, user, identifier, formatter) {
    var get_status = function () {
        $.ajax({
            type: 'GET',
            url: request,
            dataType: 'json',
            data: {
                username: user
            },
            success: update_callback,
            error: update_callback,
            xhrFields: {
                withCredentials: true
            }
        });
    };

    var update_callback = function(json) {
        var dialog = $(identifier);
        var workflow_status = $("<p></p>");
        var data = $("<ul></ul>");
        var results = [];
        var current_status;
        var timeout = 2000;

        var callback = function() {
            update_dialog(request, user, identifier, formatter);
        }

        if (json.error) {
        	console.log('json.error: '+json.error);
            pageObj.error++;
            if (pageObj.error > 3) {
                workflow_status.html('<span class=\"alert\">The job engine has failed.</span>');
                var logfile;

                if (json.results.length) {
                    logfile = json.results[0].path;
                }
                load_failed(logfile);
                return;
            }
        } else {
            pageObj.error = 0;
        }

        if (json.status) {
            current_status = json.status.toLowerCase();
            workflow_status
            	.html("Workflow status: ")
            	.append( $('<span></span>').html(json.status) )
            	.addClass('bold');
        } else {
            setTimeout(callback, timeout);
            return;
        }

        if (json.tasks) {
            var jobs = json.tasks;
            for (var index = 0; index < jobs.length; index++) {
                var item = formatter(jobs[index]);
                if (item) {
                    results.push(item);
                }
            }
        }

        if (!dialog.dialog('isOpen')) {
            return;
        }

        //FIXME Update when a workflow supports elapsed time
        if (current_status == "completed") {
            var total = json.tasks.reduce(function(a, b) {
                if (!b.elapsed) return a;

                return a + b.elapsed;
            }, 0);

            var duration = coge.utils.toPrettyDuration(total);

            workflow_status.append("<br>Finished in " + duration);
            workflow_status.find('span').addClass('completed');
            get_load_log(function(result) {
                load_succeeded(result);
            });

        }
        else if (current_status == "failed"
                || current_status == "error"
                || current_status == "terminated"
                || current_status == "cancelled")
        {
            workflow_status.find('span').addClass('alert');

            if (json.results.length) {
                logfile = json.results[0].path;
            }
            load_failed(logfile);
        }
        else if (current_status == "notfound") {
            setTimeout(callback, timeout);
            return;
        }
        else {
            workflow_status.find('span').addClass('running');
            setTimeout(callback, timeout);
        }

        results.push(workflow_status);
        data.append(results);
        dialog.find('#load_log').html(data);
    };

    get_status();
}
</script>

<div class="bold text" style="padding-top:1em;">1 - Describe the Experiment</div>
<div class="coge-bg inline padded ui-widget-content ui-corner-all">
	<div class="small info">
		Complete the form below to describe the experiment data.
		<div class="alert"><span class="small glyphicon glyphicon-asterisk"></span> denotes a required field</div>
	</div>

	<table class="small" style="padding-top:0.5em;">
	  <tr>
	    <td>Name:</td>
	    <td>
		    <input id="edit_name" type="textbox" size="50" value="<TMPL_VAR NAME='NAME'>" spellcheck="false" />
		    <span style="color: red; font-size: 0.75em" class="glyphicon glyphicon-asterisk"></span>
	    </td>
	  </tr>
	  <tr>
	    <td>Description:</td>
	    <td><textarea id="edit_description" rows="5" cols="50" ><TMPL_VAR NAME='DESC'></textarea></td>
	  </tr>
	  <tr>
	    <td>Version:</td>
	    <td>
	    	<input id="edit_version" type="textbox" size="10" value="<TMPL_VAR NAME='NAME'>" spellcheck="false" />
	    	<span style="color: red; font-size: 0.75em" class="glyphicon glyphicon-asterisk"></span>
	    </td>
	  </tr>
	  <tr>
	    <td>Source:</td>
	    <td>
	      <input id="edit_source" type="search" placeholder="Search" size="50" spellcheck="false" onclick='$(this).autocomplete("search");' />
	      <span id="new_source_button" onClick="$('#create_new_source_dialog').dialog('open'); activate_on_input('edit_source_name', 'create_source_button');" class='ui-button ui-corner-all'>New</span>
	      <span style="color: red; font-size: 0.75em" class="glyphicon glyphicon-asterisk"></span>
	    </td>
	  </tr>
	  <tr>
	    <td>Restricted?</td>
	    <td><input id="restricted" type="checkbox" checked></td>
	  </tr>
	  <tr>
	    <td>Genome:</td>
	    <td>
	      <input id="edit_genome" type="search" placeholder="Search" spellcheck="false" onclick='$(this).autocomplete("search");' onkeypress="wait_to_search(search_genomes, this);" size="50" value="<TMPL_VAR NAME='GENOME_NAME'>" />
	      <input id="gid" type="hidden" value="<TMPL_VAR NAME='GENOME_ID'>" />
	      <span style="color: red; font-size: 0.75em" class="glyphicon glyphicon-asterisk"></span>
	    </td>
	  </tr>
	</table>
</div>

<div class="bold text" style="padding-top:2em;">2 - Add Data</div>
<div class="coge-bg inline padded ui-widget-content ui-corner-all">
	<div class="small info" style="width:50em; padding-bottom:1em;">
	  Use the <b>Add Data</b> button to select the data items to be loaded from:<br>
	  <span class="indent">1) iPlant Data Store, 2) FTP/HTTP site, 3) Browser upload</span><br>
	  Currently only one data file may be added per load, except for FASTQ files.
	</div>
	<div class="l" style="padding-right:0.75em;">
		<span id="add_data" onClick="$('#file_select_dialog').dialog('open')" class='ui-button ui-corner-all coge-button'>Add Data</span><br>
		<span id="files_clear" onClick="clear_list(); $('#add_data').removeClass('ui-state-disabled');" class='ui-state-disabled ui-button ui-corner-all coge-button' style="margin-top:0.5em;">Clear List</span>
	</div>
	<div class="padded" style="background-color: white; overflow:hidden; width:auto; min-height:8em; border:1px solid lightgray; margin-right:5px; margin-bottom:5px;">
		<div class="small bold text">Files:</div>
		<div>
			<div id="no_files" class="indent small padded note">You haven't added any files yet, click "Add Data"</div>
			<table id='file_table' class="small padded"></table>
		</div>
	</div>
    <div id="select_file_type" class="small coge-disabled" style="padding-left:8em;">
		File type:
		<select id="file_type_selector" disabled>
	        <option value="autodetect">Detect from filename</option>
	        <optgroup label="Quantitative">
	          <option value="csv">Comma-separated value (CSV)</option>
	          <option value="tsv">Tab-separated value (TSV)</option>
	          <option value="bed">BED</option>
	          <option value="wig">WIG</option>
	        </optgroup>
	        <optgroup label="Marker">
	          <option value="gff">GFF/GTF</option>
	        </optgroup>
	        <optgroup label="Polymorphism">
	          <option value="vcf">VCF</option>
	        </optgroup>
	        <optgroup label="Alignment">
	          <option value="bam">BAM</option>
	        </optgroup>
	        <optgroup label="Sequence">
	          <option value="fastq">FASTQ, FQ</option>
	        </optgroup>
	    </select>
    </div>
</div>

<div id="select_options" class="hidden">
	<div class="bold text" style="padding-top:2em;">3 - Select Options</div>
	<div class="small coge-bg inline coge-padded ui-widget-content ui-corner-all">
	    <div id="fastq-pipeline" class="info">
	    	The data will be processed using CoGe's <a href="https://genomevolution.org/wiki/index.php?title=RNASeq_Pipeline">RNASeq Pipeline</a>.
	    </div>
		<div id="aligner" class="coge-padded-top">
		    Alignment Program:
		    <input name="aligner" type="radio" value="gsnap" checked>
		    <label for="gsnap">GSNAP</label>
		    <input name="aligner" type="radio" value="tophat">
		    <label for="gsnap">TopHat/Bowtie2</label>
		</div>
		<div id="read_type" class="coge-padded-top">
		    Read Type:
		    <input name="read_type" type="radio" value="single" checked>
		    <label for="single">Single-ended</label>
		    <input name="read_type" type="radio" value="paired">
		    <label for="paired">Paired-end</label>
	    </div>
	    <div class="coge-padded-top">
	    	Trim reads using cutadapt? <input id="trim_reads" type="checkbox" checked>
	    </div>
	    <div class="note coge-padded-top">
	    	Note: paired-end files must indicate mate-pair number at the end <br>
	    	of the filename (as is standard with Illumina-generated files).<br>
	    	Example:  XXXX_<b>R1</b>.fastq and XXXX_<b>R2</b>.fastq
	    </div>
	</div>
</div>

<div class="middle" style="padding-top:2em;">
	<span onClick="load_experiment();" style="font-size:1em;" class='ui-button ui-corner-all ui-button-go'>Load Experiment</span>
	<span id='error_help_text' class='indent alert italic'></span>
</div>

<div id="file_select_dialog" class="dialog_box" title="Select Data File ..." style="display:none;">
  <TMPL_INCLUDE NAME='widgets/FileSelect.tmpl'>
  <span onClick="$('#file_select_dialog').dialog('close');" style="float:right;" class="ui-button ui-corner-all">Done</span>
</div> <!-- file_select_dialog -->

<div id="load_dialog" class="dialog_box" title="Loading Experiment ..." style="display:none;">
  <div id="load_log" class="small padded ui-widget-content ui-corner-all" style="overflow-y:auto;width:450px;height:200px;color:dimgray;">
  </div>
  <br>
  <div id="loading_msg">
    <span class="small" style="float:right;">Link: <a></a></span>
    Please wait ... <img src="picts/ajax-loader.gif"/>
  </div>
  <div class="coge-buttonset">
	  <span id="finished_msg" style="display:none;">Finished! <img src="picts/thumbs_up.png"></span>
	  <span id="error_msg" style="display:none;">An error occurred <img src="picts/thumbs_down.png"></span>
	  <span id="ok_button" onClick="reset_load();" style="display:none;float:right;" class="ui-button ui-corner-all">Load Another</span>
	  <span id="finish_load_experiment_button" style="display:none;float:right;" class="ui-button ui-corner-all">ExperimentView</span>
	  <span id="cancel_load_experiment_button" onClick="reset_load();" style="display:none;float:right;" class="ui-button ui-corner-all ui-button-go">Cancel</span>
      <span id="logfile" class="hidden"><a href="">Logfile</a></span>
  </div>
</div>

<div id="create_new_source_dialog" class="dialog_box" title="Create New Source" style="display:none;">
  <table class="small">
    <tr>
      <td>Name:</td>
      <td><input id="edit_source_name" type="textbox" size="53" onkeyup="activate_on_input('edit_source_name', 'create_source_button');" /></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><textarea id="edit_source_desc" rows="5" cols="50" ></textarea></td>
    </tr>
    <tr>
      <td>Link:</td>
      <td><input id="edit_source_link" type="textbox" size="53" /></td>
    </tr>
  </table>
  <br>
  <span id="create_source_button" onClick="create_source();" class="ui-state-disabled ui-button ui-corner-all">Create</span>
</div>

<TMPL_IF NAME='ADMIN_AREA'>
	<br><br><hr>
	<div class="bold text">Admin Functions</div>
	<div class="small">
	    <div>
	        Assign to user:
	    	<input id="edit_user" type="search" placeholder="Search" spellcheck="false" onkeyup="wait_to_search(search_users, this.value);" size="20" />
	    </div>
	    <!--
	    <div>
	    	Ignore missing chromosomes?
	    	<input id="ignore_missing_chrs" type="checkbox" />
	    </div>
	    -->
    </div>
</TMPL_IF>

</TMPL_IF> <!-- MAIN -->

<TMPL_IF NAME='LOGIN'>
    <TMPL_INCLUDE NAME="widgets/Login.tmpl">
</TMPL_IF>
