<TMPL_IF NAME='MAIN'>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.2.0.3.js"></SCRIPT>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.pager.js"></SCRIPT>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.fileupload.js"></SCRIPT>

<SCRIPT language="JavaScript">
$(document).ready(function(){
	$.ajaxSetup({
		type: "GET",
		url: '<TMPL_VAR NAME="PAGE_NAME">',
		dataType: "html",
		cache: false,
	});
	
	$(".dialog_box").dialog({autoOpen: false, width: 500});
	
	$("#edit_genome").autocomplete({
		source:[],
		select: function(event, ui) {
			$('#edit_genome').val(ui.item.label);
			$('#gid').val(ui.item.value);
			return false; // Prevent the widget from inserting the value.
		},
		focus: function(event, ui) {
			//$("#edit_genome").val(ui.item.label);
			return false; // Prevent the widget from inserting the value.
		}
	});
});

function file_selected(filename, url) {
	$('#file_select_dialog').dialog('close');
}

function reset_log() {
	$('#load_experiment_log').html('');
	$('#loading_msg').show();
	$('#finished_msg').hide();
	$('#error_msg').hide();
	$('#finish_load_experiment_button').hide();
	$('#cancel_load_experiment_button').hide();
}

function load_experiment() {
	var items = get_selected_files();
	if (items == null) {
		alert('Files are still being transferred, please wait.');
		return;
	}
	else if (items.length == 0) {
		alert('Please select a data file.');
		return;
	}
	
	reset_log();
	
	var name = $('#edit_name').val();
	var description = $('#edit_description').val();
	var version = $('#edit_version').val();
	var restricted = $('#restricted').is(':checked');
	var gid = $('#gid').val();
	var json = JSON.stringify(items);
	
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'load_experiment',
			name: name,
			description: description,
			version: version,
			restricted: restricted,
			gid: gid,
			items: json,
			timestamp: new Date().getTime()
		},
		success : function(load_id) {
			$('#load_experiment_dialog').dialog('open'); 
			setTimeout(function() { get_load_experiment_log(load_id); }, 1000);
		}
	});
}

function get_load_experiment_log(load_id) {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'get_load_experiment_log',
			load_id: load_id,
			timestamp: new Date().getTime()
		},
		success : function(data) {
			var obj = jQuery.parseJSON(data);
			
			$('#load_experiment_log').html(obj.log);
			var height = $('#load_experiment_log')[0].scrollHeight;
    		$("#load_experiment_log").animate({ scrollTop: height}, 500);
    						
			if (obj.status == 1) {
				$('#experiment_id').val( obj.experiment_id );
				$('#loading_msg').hide();
				$('#finished_msg').fadeIn();
				$('#finish_load_experiment_button').fadeIn();
			}
			else if (obj.status == -1) {
				$('#loading_msg').hide();
				$('#error_msg').fadeIn();
				$('#cancel_load_experiment_button').fadeIn();
			}
			else {
				setTimeout(function() { get_load_experiment_log(load_id); }, 2000);
			}
		}
	});	
}

function continue_to_view() {
	var eid = $('#experiment_id').val();
	window.location.href = "ExperimentView.pl?eid=" + eid;
}

function wait_to_search (search_func, search_term) {
	if (!search_term || search_term.length > 2) {
		pageObj.search_term = search_term;
			
		if (pageObj.time) {
			clearTimeout(pageObj.time);
		}
		
		// FIXME: could generalize by passing select id instead of separate search_* functions
		pageObj.time = setTimeout(
			function() { 
				search_func(pageObj.search_term); 
			},
			500
		);
	}
}

function search_genomes (search_term) {
	if (search_term.length > 2) {
		$.ajax({
			data: {
				jquery_ajax: 1,
				fname: 'search_genomes',
				search_term: search_term,
				timestamp: new Date().getTime()
			},
			success : function(data) {
				var obj = jQuery.parseJSON(data);
				if (obj.items) {
					$("#edit_genome").autocomplete({source: obj.items});
					$("#edit_genome").autocomplete("search");
				}
			},
		});
	}
}
</SCRIPT>



<br>
<span style="color:dimgray;font-weight:bold;">Experiment Info</span><br>
<table class="small ui-widget-content ui-corner-all">
  <tr>
    <td>Name:</td>
    <td><input id="edit_name" type="textbox" size="58" value="<TMPL_VAR NAME=NAME>" /></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><textarea id="edit_description" rows=5 cols=50 ><TMPL_VAR NAME=DESC></textarea></td>
  </tr>
  <tr>
    <td>Version:</td>
    <td><input id="edit_version" type="textbox" size="10" value="<TMPL_VAR NAME=NAME>" /></td>
  </tr>
  <tr>
    <td>Restricted?</td>
    <td><input id="restricted" type="checkbox" checked></td>
  </tr>
  <tr>
    <td>Genome:</td>
    <td>
      <input id="edit_genome" onkeypress="wait_to_search(search_genomes, this.value);" size="58" />
      <input id="gid" type="hidden" />
    </td>
  </tr>
</table>

<br>
<span style="color:dimgray;font-weight:bold;">Experiment Data</span><br>
<table id='file_table' class="small ui-widget-content ui-corner-all"></table>
<span onClick="$('#file_select_dialog').dialog('open');" class='ui-button ui-corner-all ui-button-go'> Select Data File</span>
<br>
<br>
<span onClick="load_experiment();" class='ui-button ui-corner-all ui-button-go'>Load Experiment</span>



<div id="file_select_dialog" class="dialog_box" title="Select Data File ...">
  <TMPL_INCLUDE NAME='widgets/FileSelect.tmpl'>
</div> <!-- file_select_dialog -->



<div id="load_experiment_dialog" class="dialog_box" title="Loading Experiment ...">
  <div id="load_experiment_log" class="small ui-widget-content ui-corner-all" style="overflow-y:auto;width:450px;height:200px;color:dimgray;">
  </div>
  <br>
  <span id="loading_msg">Please wait ... <img src="picts/ajax-loader.gif"/></span>
  <span id="finished_msg" style="display:none;">Finished! <img src="picts/thumbs_up.png"></span>
  <span id="error_msg" style="display:none;">An error occurred <img src="picts/thumbs_down.png"></span>
  <input id="experiment_id" type="hidden" /> 
  <span id="finish_load_experiment_button" onClick="continue_to_view();" style="display:none;float:right;" class="ui-button ui-corner-all ui-button-go">Continue to ExperimentView</span>
  <span id="cancel_load_experiment_button" onClick="$('#load_experiment_dialog').dialog('close');" style="display:none;float:right;" class="ui-button ui-corner-all ui-button-go">Cancel</span>
</div> <!-- load_experiment_dialog -->


</TMPL_IF> <!-- MAIN -->
