<HTML>
<HEAD>
 <TITLE><TMPL_VAR NAME=TITLE></TITLE>
 <link rel="stylesheet" type="text/css" href="/CoGe/css/coge.css" />
 <link rel="stylesheet" type="text/css" href="/CoGe/css/sddm.css" />
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</HEAD>

<SCRIPT language="JavaScript" type="text/javascript" src="./js/kaj.stable.js"></SCRIPT>
<SCRIPT language="JavaScript">
kaj.pollute();
</SCRIPT>
<BODY>
<TABLE>
 <TR>
  <TD><a href="/CoGe" border=0><img src='/CoGe/picts/<TMPL_VAR NAME=LOGO_PNG>' border=0></a>
  <TD id="title"><font class="title"><TMPL_VAR NAME=TITLE></font></td>
 </TR>
</TABLE>
<DIV id="results" ></DIV>
<table width="100%" border="0" cellspacing="0" cellpadding="0" border=0>
 <tr>
  <td width="6"><img src="/CoGe/picts/table/table_bg_head_tl.png" width="6" height="23"></td>
  <td width="6"  background="/CoGe/picts/table/table_bg_head_t.png">&nbsp;</td>
  <td width="100%"  background="/CoGe/picts/table/table_bg_head_t.png"><font class="oblique"><TMPL_VAR NAME=TABLE_NAME1></font></td>
  <td width="6"  background="/CoGe/picts/table/table_bg_head_t.png">&nbsp;</td>
  <td width="6"><img src="/CoGe/picts/table/table_bg_head_tr.png" width="6" height="23"></td>
 </tr>
 <tr>
  <td height="9" valign="top" background="/CoGe/picts/table/table_bg_head_l.png"><img src="/CoGe/picts/table/spacer-1x1.png"></td>
  <td height="9" valign="top"><img src="/CoGe/picts/table/table_bg_body_tl.png" width="6" height="9"></td>
  <td height="9" valign="top" background="/CoGe/picts/table/table_bg_body_t.png"><img src="/CoGe/picts/table/spacer-1x1.png"></td>
  <td height="9" valign="top"><img src="/CoGe/picts/table/table_bg_body_tr.png" width="6" height="9"></td>
  <td height="9" valign="top" width="6" background="/CoGe/picts/table/table_bg_head_r.png"><img src="/CoGe/picts/table/spacer-1x1.png"></td>
 </tr>
 <tr>
  <td background="/CoGe/picts/table/table_bg_head_l.png">&nbsp;</td>
  <td background="/CoGe/picts/table/table_bg_body_l.png">&nbsp;</td>
  <td>
<!-- ########################################## -->
<!-- Main body of the central table goes in here-->
<!-- ########################################## -->
<TMPL_IF NAME="SEQ_NAMES">
<TABLE>
 <TR>
  <TD>
   <DIV class=prep><TMPL_VAR NAME=SEQ_NAMES></DIV>
  <TD>
<DIV class=prep><TMPL_VAR NAME=SEQS></DIV>
</TR>
</TABLE>
</TMPL_IF>
<TMPL_IF NAME="BODY"><TMPL_VAR NAME=BODY></TMPL_IF>
<!-- ########################################## -->
<!-- ############END MAIN BODY################# -->
<!-- ########################################## -->

 </td>
  <td  background="/CoGe/picts/table/table_bg_body_r.png">&nbsp;</td>
  <td  background="/CoGe/picts/table/table_bg_head_r.png">&nbsp;</td>
 </tr>
 <tr>
  <td height="9" valign="top" background="/CoGe/picts/table/table_bg_head_l.png"><img src="/CoGe/picts/table/spacer-1x1.png"></td>
  <td height="9" valign="top"><img src="/CoGe/picts/table/table_bg_body_bl.png" width="6" height="9"></td>
  <td height="9" valign="top" background="/CoGe/picts/table/table_bg_body_b.png"><img src="/CoGe/picts/table/spacer-1x1.png"></td>
  <td height="9" valign="top"><img src="/CoGe/picts/table/table_bg_body_br.png" width="6" height="9"></td>
  <td height="9" valign="top" width="6" background="/CoGe/picts/table/table_bg_head_r.png"><img src="/CoGe/picts/table/spacer-1x1.png"></td>
 </tr>
 <tr>
  <td height="9" valign="bottom"><img src="/CoGe/picts/table/table_bg_head_bl.png" width="6" height="9"></td>
  <td height="9" valign="bottom"><img src="/CoGe/picts/table/table_bg_head_b.png" width="6" height="9"></td>
  <td height="9" valign="bottom" background="/CoGe/picts/table/table_bg_head_b.png"><img src="/CoGe/picts/table/spacer-1x1.png"></td>
  <td height="9" valign="bottom"><img src="/CoGe/picts/table/table_bg_head_b.png" width="6" height="9"></td>
  <td height="9" valign="bottom"><img src="/CoGe/picts/table/table_bg_head_br.png" width="6" height="9"></td>
 </tr>
</table>

<br>
<HR>
<DIV>
<font class = "small">Currently logged in as: <TMPL_VAR NAME=USER> </font><font class="xsmall"><TMPL_VAR NAME=DATE></font>
</DIV>
<script language="JavaScript" type="text/javascript" src="/CoGe/js/menu.js"></script>
</form>
</BODY>
</HTML>
