<TMPL_IF NAME="MAIN">

<SCRIPT type="text/javascript" src="./js/jstree/jquery.jstree.js"></SCRIPT>

<SCRIPT type="text/javascript">
$(function() {
	// Initialize AJAX
	$.ajaxSetup({
		type: "POST",
		//url: "<TMPL_VAR NAME='PAGE_NAME'>",
		dataType: "json",
		cache: false
	});

	$("#tree")
		.jstree({
			"types" : {
				"types" : {
	            	"user" : {
	                	"icon" : {
	                    	"image" : "picts/user-icon-small.png"
	                	}
	            	},
	            	"group" : {
	                	"icon" : {
	                    	"image" : "picts/group-icon-small.png"
	                	}
	            	},
	            	"list" : {
	                	"icon" : {
	                    	"image" : "picts/notebook-icon-small.png"
	                	}
	            	},
	            	"genome" : {
	                	"icon" : {
	                    	"image" : "picts/dna-icon-small.png"
	                	}
	            	},
	            	"experiment" : {
	                	"icon" : {
	                    	"image" : "picts/testtube-icon-small.png"
	                	}
	            	},
	            	"default" : {
						"icon" : {
	                    	"image" : false
	                	}
					}
            	}
            },
            "plugins" : ["themes","html_data","dnd","ui","crrm","types"]
        })
		.bind("select_node.jstree",
			function (event, data) {
				var id = data.rslt.obj.attr("id");
				//var type = data.rslt.obj.attr("rel");
				get_node(id);
			}
		);
});

function get_node(id) {
	//console.log(id);

	var node = $("#"+id);
	var tree = $("#tree");

	// Close node if open.
	var is_open = tree.jstree("is_open", node);
	if (is_open) {
		tree.jstree("close_node", node);
		return;
	}

	// Remove any preexisting child nodes.
	var is_leaf = tree.jstree("is_leaf", node);
	if (!is_leaf) {
		$(node).find('ul').remove();
	}

	// Fetch children or url for this node
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'get_node',
			id: id,
		},
		success : function(obj) {
			if (obj) {
				if (obj.url) {
					window.open(obj.url, '_blank');
				}
				else if (obj.children.length) {
					obj.children.forEach(
						function(e) {
							console.log(e.name+' '+e.type);
							tree.jstree("create_node", node, "last", {attr: {id: e.id, name: e.name, rel: e.type}, data: e.info});
						}
					);
					tree.jstree("open_node", node);
				}
			}
		},
	});
}

</SCRIPT>

<div id="tree">
	<ul>
		<TMPL_LOOP NAME="USER_NODE_LOOP">
			<li id="<TMPL_VAR NAME=USER_NODE_ID>" name="<TMPL_VAR NAME=USER_NODE_NAME>" rel="user"><a href="#"><TMPL_VAR NAME="USER_NODE_NAME"></a></li>
		</TMPL_LOOP>
	</ul>
</div>

</TMPL_IF>
