
<TMPL_IF NAME="JS">
<SCRIPT language="JavaScript">

$(document).ready(function(){
$('#maketable').html('<div id ="annotation" style = "overflow: auto; height: 300px; width: auto;"></DIV>');
  var featid = <TMPL_VAR NAME=FEATID>;
  if (featid){
    myObj = new generate_seq_obj_with_featid(featid,'<TMPL_VAR NAME=FEATNAME>',<TMPL_VAR NAME=DSID>,'<TMPL_VAR NAME=CHR>','<TMPL_VAR NAME=FEAT_START>','<TMPL_VAR NAME=FEAT_STOP>');}
  else{
    myObj = new generate_seq_obj(<TMPL_VAR NAME=DSID>,'<TMPL_VAR NAME=CHR>');}

  redefine(<TMPL_VAR NAME=RC>);
//  get_sequence(<TMPL_VAR NAME=RC>);
});


function generate_seq_obj(dsid,chr){

  this.start=$('#upstream').val()*1;
  this.stop=$('#downstream').val()*1;
  this.orig_start=$('#upstream').val()*1;
  this.orig_stop=$('#downstream').val()*1;
  this.dsid=dsid;
  this.chr=chr;
  this.pro=0;
}

function generate_seq_obj_with_featid(featid,featname, dsid, chr, feat_start, feat_stop){
  this.featid=featid;
  this.start=feat_start*1;//-$('#upstream').val()*1;
  this.stop=feat_stop*1; //+$('#downstream').val()*1;
  this.orig_start=feat_start*1;
  this.orig_stop=feat_stop*1;
  this.featname=featname;
  this.dsid=dsid;
  this.chr=chr;
  this.pro=0;
}

function reset_updown() {
  $('#upstream').val(0);
  $('#downstream').val(0);
}

function dynamic_buttons(button){
 //alert(button);
 $('.seqview_button').hide(0);
 if (button == "dna_button"){
   $('#rc_button').show(0);
   $('#pro_button').show(0);}
 else if (button == "rc_button"){
   $('#dna_button').show(0);
   $('#pro_button').show(0);}
 else{
  $('#dna_button').show(0);
  $('#rc_button').show(0);
  }
}

function onEnter(e){
  if (!e){ 
   var e = window.event;}
  if(e.which == 13){
    redefine();}
}
function display_feat_info(html){
 $('#feature_info').html(html).show(pageObj.speed);
}

function display_gc_info(html){
 $('#gc_info').html(html).show(pageObj.speed);
}

function get_blast_info(){
  var url = location.href;
  parse_url(['args__url','args__'+url],[blastSeq]);
}

function blastSeq() {
 dsid = myObj.dsid || 0;
 chr=myObj.chr || 0;
 featid=myObj.featid || 0;
 up = $('#upstream').val() || 0;
 down = $('#downstream').val() || 0;
 rc = 0;
 if ($('.rc_button').is(':hidden')==true){
   rc = 1;}
 if (featid) {
 window.open('CoGeBlast.pl?featid='+featid+'&upstream='+up+'&downstream='+down+'&rc='+rc);}
 else {
 window.open('CoGeBlast.pl?chr='+chr+'&upstream='+up+'&downstream='+down+'&dsid='+dsid+'&rc='+rc);
 }
}

function RNAFold() {
 dsid = myObj.dsid || 0;
 chr=myObj.chr || 0;
 featid=myObj.featid || 0;
 start = $('#upstream').val() || 0;
 stop = $('#downstream').val() || 0;
 up = $('#addup').val() || 0;
 down = $('#adddown').val() || 0;
 rc = 0;
 if ($('.rc_button').is(':hidden')==true){
   rc = 1;}
 if (featid) {
 window.open('ViennaFold.pl?featid='+featid+'&upstream='+up+'&downstream='+down+'&rc='+rc);}
 else {
 window.open('ViennaFold.pl?chr='+chr+'&upstream='+up+'&downstream='+down+'&start='+start+'&stop='+stop+'&dsid='+dsid+'&rc='+rc);
 }
}

function AragornSeq() {
 dsid = myObj.dsid || 0;
 chr=myObj.chr || 0;
 featid=myObj.featid || 0;
 up = $('#upstream').val() || 0;
 down = $('#downstream').val() || 0;
 rc = 0;
 if ($('.rc_button').is(':hidden')==true){
   rc = 1;}
 if (featid) {
 window.open('tRNA.pl?featid='+featid+'&upstream='+up+'&downstream='+down+'&rc='+rc);}
 else {
 window.open('tRNA.pl?chr='+chr+'&upstream='+up+'&downstream='+down+'&dsid='+dsid+'&rc='+rc);
 }
}

/*
function waiting(tag,rc) {
  var seq_length;
  if (typeof rc == 'undefined'){
    rc = myObj.rc || 0;}
  if(myObj.featid){
      seq_length = ((myObj.stop)*1 - (myObj.start)*1);}
  else{
      seq_length = ((myObj.stop)*1 + (myObj.start)*1);}
  //else{
  //html = html.replace(/<.+>/g,"");
  //html = html.replace(/<\/pre>$/,"");
    //seq_length = html.length;}
  //alert(seq_length);
  if ((rc==2)&&(seq_length > 80000)){
     $('#'+tag).html('<font class="loading dna">Loading. . .</font>');}
  else if (seq_length > 400000){
  //alert(html+' is '+seq_length+' chars long'); 
  //if (
    $('#'+tag).html('<font class="loading dna">Loading. . .</font>');}
  else{
    return;}
}

*/
function redefine(rc){
  $('#gc_info').html('');

  var up;
  var down;
  myObj.rc=rc;
  if(! isNaN($('#addup').val())) {
   up = ($('#upstream').val()*1)-($('#addup').val()*1);
   down = ($('#downstream').val())*1+($('#adddown').val()*1);
   $('#upstream').val(up);
   $('#downstream').val(down);
   myObj.start=$('#upstream').val();
   myObj.stop=$('#downstream').val();

  }
  else {
   myObj.start = (myObj.orig_start*1) - ($('#upstream').val()*1);
   myObj.stop  = (myObj.orig_stop *1) + ($('#downstream').val()*1);
  }
  get_sequence(myObj.rc,myObj.pro,1);
  $('#addup').val(0);
  $('#adddown').val(0);
  find_feats(['args__dsid','args__'+myObj.dsid,'args__start','args__'+myObj.start,'args__stop','args__'+myObj.stop,'args__chr','args__'+myObj.chr],['find_feats_button','feat_type_list']);
}

function get_sequence(rc,pro,add){
  //waiting('seq_text',rc);
  if (typeof pro == 'undefined'){
  pro=myObj.pro || 0;}
  else{
  myObj.pro=pro;}
  if (typeof rc == 'undefined'){
  rc = myObj.rc || 0;}
  else{
  myObj.rc=rc;}
  if (rc) {
    $('#rc_button').hide(0);
    $('#dna_button').show(0);
   }	
  var nowrap = myObj.nowrap;
  //alert(rc);
  get_seq(['args__featid', 'args__'+myObj.featid, 'args__pro', 'args__'+pro, 'args__rc', 'args__'+rc, 'args__chr', 'args__'+myObj.chr, 'args__dsid', 'args__'+myObj.dsid, 'args__featname', 'args__'+myObj.featname, 'args__upstream', 'upstream', 'args__downstream', 'downstream', 'args__start', 'args__'+myObj.start,'args__stop', 'args__'+myObj.stop,'args__add', 'args__'+add, 'args__nowrap','args__'+nowrap],['seq_text']);
  //alert($('#seq_text').html());
}

function set_nowrap(){
	if($('#nowrap')[0].checked)
	{
		myObj.nowrap=1;
	}
	else{
		myObj.nowrap=0;
	}
}

function featlist (link) {
 var type = $('#feature_type').val();
 if (type) {
  link += ';ftid=';
  link += type;
 }
 window.open(link);

}


</SCRIPT>
</TMPL_IF>
<TMPL_IF NAME=SEQ_BOX>
     <DIV id="seq">
      <TABLE>
       <TR>
        <TD>
        <textarea id=seq_text name=seq_text class=backbox readonly ondblclick="this.select();" style="height: 400px; width: 750px; overflow: auto;"></textarea>
        <br>
	</TD>
        <td valign=top>
       <TMPL_VAR NAME=FEAT_INFO>
       <div id=feature_info style="display:none"></div>
       <br><br>
       <TMPL_VAR NAME=GC_INFO>
       <div id=gc_info style="display:none"></div>
       </TR>
      </TABLE>
 </div>
       <DIV class="seqview_button dna_button" style="display: none; float: left" id="dna_button"><input type=button value="DNA Sequence" onClick="dynamic_buttons('dna_button');get_sequence(0,0);gen_title(['args__rc','args__0','args__pro','args__0'],['box_name']);"></DIV>
      <DIV class="seqview_button rc_button" style="float: left" id="rc_button"><input type=button value="Reverse Complement" onClick="dynamic_buttons('rc_button');get_sequence(1,0);gen_title(['args__rc','args__1','args__pro','args__0'],['box_name']);"></DIV>
      <DIV class="seqview_button pro_button" style="float: left" id="pro_button"><input type=button value="<TMPL_VAR NAME=PROTEIN>" onClick="dynamic_buttons('pro_button');$('#seq_text').val('Loading. . .');get_sequence(0,1);gen_title(['args__rc','args__0','args__pro','args__1','args__sixframe','args__<TMPL_VAR NAME=SIXFRAME>'],['box_name']);"></DIV>
 <input type=checkbox id=nowrap onclick='set_nowrap()'> Check to disable sequence wrapping

</TMPL_IF>

<TMPL_IF NAME="ADDITION">
<DIV id="feat_annos" style="display: none" align=center>
<TABLE>
 <TR>
  <TD>
  <div id = "maketable"></div>
</Table>
</DIV>
<table>
 <TR>
  <TD>
   <TMPL_VAR NAME = "UPSTREAM">
   </td>
   <td>
   <INPUT type="text" id="upstream"  onkeypress="onEnter(event);" class="backbox" value= "<TMPL_VAR NAME="UPVALUE">" size=6>
   </td>
   <TD>
   <TMPL_VAR NAME="DOWNSTREAM">
   </td>
   <td>
   <INPUT type="text" id="downstream" onkeypress="onEnter(event);" class="backbox" value= "<TMPL_VAR NAME="DOWNVALUE">" size=6>
  </TD>
  </TR>
  <TMPL_IF NAME=ADD_EXTRA>
  <TR>
  </td>
   <TD>
     Add Upstream:
    </td>
   <td>
   <INPUT type="text" id="addup"  onkeypress="onEnter(event,1);" class="backbox" value= "<TMPL_VAR NAME="ADDUP">"  size=6>
     </td>
     <TD >
     Add Downstream: 
    </td>
   <td>
     <INPUT type="text" id="adddown" onkeypress="onEnter(event,1);" class="backbox" value= "<TMPL_VAR NAME="ADDDOWN">" size=6>
   </td>
  </tr>
  </TMPL_IF>


  <TR>
<tr><td><input type= button value ="Redefine Sequence" id = "add_to" onClick="redefine(myObj.rc);">
   <TMPL_IF NAME="FEATURE">
   <TD align>
   <input type = button value = "Reset" id="reset" onClick="reset_updown();get_sequence();">
   </TMPL_IF>
 </TABLE>
<table>
     <tr>
     <TD valign="top">
     <DIV id="find_feats_button" style="float:left"> <TMPL_VAR NAME=FEATLISTLINK></div> <div id="feat_type_list" style="float:left"> <TMPL_VAR NAME="FEAT_TYPE_LIST"></DIV>

     </TD>
     <TR>
     <TD align=right valign="top">
     <DIV id="blast_button" style="float: left" ><input type=button value="Blast Sequence" onClick="blastSeq()"></DIV>
     <DIV id="trna_button" style="float: left" ><input type=button value="Scan Sequence for tRNAs" onClick="AragornSeq()"></DIV>
     <DIV id="rnafold_button" style="float: left" ><input type=button value="RNA Fold" onClick="RNAFold()"></DIV>
    </TD>
   </TR>
</table>

</TMPL_IF>



<TMPL_IF NAME=BOTTOM_BUTTONS>
</TMPL_IF>

<TMPL_IF NAME="FEATUREBOX">
 <TABLE>
   <TR>
   <TD align=right valign="top">
    <TMPL_VAR NAME="LISTFEATURES">
   </TR>
 </TABLE>
</TMPL_IF>

