

<TMPL_IF NAME=SEQVIEW_JAVA>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.js"></SCRIPT>
<SCRIPT language="JavaScript">

function reset_updown() {
  $('#upstream').val(0);
  $('#downstream').val(0);
}

function makeTable() {
  $('#maketable').html('<div id ="annotation" style = "overflow: auto; height: 300px; width: auto;"></DIV>');
}

function blastSeq() {
 chr = $('#chr_blast').val() || 0;
 up = $('#upstream').val() || 0;
 down = $('#downstream').val() || 0;
 rc = $('#rc_blast').val();
 featid = $('#blast').val(); 
 dsid = $('#dsid_blast').val();
 featname = $('#featname_blast').val();
 if (featid) {
 alert('CoGeBlast.pl?featid='+featid+'&upstream='+up+'&downstream='+down+'&dsid='+dsid+'&featname='+featname+'&rc='+rc,'window');
 window.open('CoGeBlast.pl?featid='+featid+'&upstream='+up+'&downstream='+down+'&dsid='+dsid+'&featname='+featname+'&rc='+rc,'window');}
 else {
 alert('CoGeBlast.pl?chr='+chr+'&upstream='+up+'&downstream='+down+'&dsid='+dsid,'window');
 window.open('CoGeBlast.pl?chr='+chr+'&upstream='+up+'&downstream='+down+'&dsid='+dsid,'window');
 }
}

function waiting() {
  $('#annotation').html('<font class="loading">Loading Features . . .</font>');
}

function make_focus() {
  document.nt_stream.upstream.focus();
}

</SCRIPT>
</TMPL_IF>
<TMPL_IF NAME=BOTTOM_BUTTONS>
  <TABLE>
   <TR>
      <TMPL_LOOP NAME="BUTTON_LOOP">
      <TD align=right valign="top">
      <DIV id="button<TMPL_VAR NAME=BUTTON_NUM>"><input type=button value ="<TMPL_VAR NAME=BUTTON_NAME>" onClick="get_seq_and_button(['args__featid', 'args__<TMPL_VAR NAME=FEATID>', 'args__pro', 'args__<TMPL_VAR NAME=PRO>', 'args__rc', 'args__<TMPL_VAR NAME=RC>', 'args__chr', 'args__<TMPL_VAR NAME=CHR>', 'args__dsid', 'args__<TMPL_VAR NAME=DSID>', 'args__featname', 'args__<TMPL_VAR NAME=FEATNAME>', 'args__upstream', 'upstream', 'args__downstream', 'downstream', 'args__start', 'args__<TMPL_VAR NAME=START>','args__stop', 'args__<TMPL_VAR NAME=STOP>', 'args__strand', 'args__<TMPL_VAR NAME=STRAND>', 'args__add', 'args__<TMPL_VAR NAME=ADD>'],['seq', 'buttons','add_more']);gen_title(['args__rc', 'args__<TMPL_VAR NAME=RC>', 'args__pro', 'args__<TMPL_VAR NAME=PRO>'],['box_name']);make_focus();"></DIV>
      </TD>
      </TMPL_LOOP>
     <TMPL_IF NAME=FIND_FEATS>
     <TD align=right valign="top">
     <DIV id="annotation_button"> <input type=button value="Find Features in Sequence" onClick="makeTable();waiting();find_feats(['args__start', 'args__<TMPL_VAR NAME=START>', 'args__stop', 'args__<TMPL_VAR NAME=STOP>', 'args__chr', 'args__<TMPL_VAR NAME=CHR>', 'args__dsid', 'args__<TMPL_VAR NAME=DSID>'],['annotation'])"></DIV>
     </TMPL_IF>
     </TD>
     <TD align=right valign="top">
     <DIV id="blast_button"><input type=button value="Blast Sequence" onClick="blastSeq()"></DIV>
    </TD>
   </TR>
  </TABLE>
     <input type="hidden" id="blast" value="<TMPL_VAR NAME="BLAST">">
    <input type="hidden" id="dsid_blast" value="<TMPL_VAR NAME="DSID_BLAST">">
    <input type="hidden" id="featname_blast" value="<TMPL_VAR NAME="FEATNAME_BLAST">">
    <input type="hidden" id="chr_blast" value="<TMPL_VAR NAME="CHR_BLAST">">
    <input type="hidden" id="rc_blast" value="<TMPL_VAR NAME="RC_BLAST">">

</TMPL_IF>

<TMPL_IF NAME="ADDITION">
<TABLE>
 <TR>
  <TD>
  <div id = "maketable"></div>
</Table>
<Table>
 <TR>
  <TD align = left valign = "middle" class="seqbackbox">
   <font class="oblique"><TMPL_VAR NAME="EXTEND"></font>
  </TD>
 </TR>
 <TR> 
  <TD align = left valign = "middle">
   <form id="nt_stream" name="nt_stream">
   <TMPL_VAR NAME = "UPSTREAM"> <INPUT type="text" id="upstream"  style ="background-color: #F5F5DC" value= "<TMPL_VAR NAME="UPVALUE">">
   <TMPL_VAR NAME="DOWNSTREAM"><INPUT type="text" id="downstream" style ="background-color: #F5F5DC" value= "<TMPL_VAR NAME="DOWNVALUE">">
   </form>
  </TD>
  </TR>
   </TMPL_IF>
   <TMPL_IF NAME="FEATURE">

  <TR>
   <TD align = left valign = "middle">
   <input type = button value = "Reset" id="reset" onClick="reset_updown();get_seq(['args__featid', 'args__<TMPL_VAR NAME=FEATID>', 'args__pro', 'args__<TMPL_VAR NAME=PRO>', 'args__rc', 'args__<TMPL_VAR NAME=RC>', 'args__chr', 'args__<TMPL_VAR NAME=CHR>', 'args__dsid', 'args__<TMPL_VAR NAME=DSID>', 'args__featname', 'args__<TMPL_VAR NAME=FEATNAME>', 'args__upstream', 'upstream', 'args__downstream', 'downstream'],['seq'])">
   <!--<input type=button value="Select Sequence" id="select" onClick="selectText()">-->
      <input type= button value ="Add to Sequence" id = "add_to" onClick="get_seq(['args__featid', 'args__<TMPL_VAR NAME=FEATID>', 'args__pro', 'args__<TMPL_VAR NAME=PRO>', 'args__rc', 'args__<TMPL_VAR NAME=RC>', 'args__chr', 'args__<TMPL_VAR NAME=CHR>', 'args__dsid', 'args__<TMPL_VAR NAME=DSID>', 'args__featname', 'args__<TMPL_VAR NAME=FEATNAME>', 'args__upstream', 'upstream', 'args__downstream', 'downstream'],['seq'])"> 
   </TMPL_IF>
  </TR>
   <TMPL_IF NAME="RANGE">

    <TR>
     <TD>
      <input type= button value ="Redefine Sequence" id = "add_to" onClick="get_seq_and_button(['args__pro', 'args__<TMPL_VAR NAME=PRO>', 'args__rc', 'args__<TMPL_VAR NAME=RC>', 'args__chr', 'args__<TMPL_VAR NAME=CHR>', 'args__dsid', 'args__<TMPL_VAR NAME=DSID>', 'args__strand', 'args__<TMPL_VAR NAME=STRAND>', 'args__start', 'upstream', 'args__stop', 'downstream', 'args__add', 'args__1'],['seq','buttons','add_more'])"> 
   </TMPL_IF>
   </TR>
 </TABLE>


<TMPL_IF NAME="FEATUREBOX">
 <TABLE>
   <TR>
   <TD align=right valign="top">
    <TMPL_VAR NAME="LISTFEATURES">
   </TR>
 </TABLE>
</TMPL_IF>

