<TMPL_IF NAME=SEQ_RETRIEVAL>
<HTML>
<HEAD>
 <TITLE><TMPL_VAR NAME=TITLE></TITLE>
 <link rel="stylesheet" type="text/css" href="/CoGe/css/styled.css" />
 <link rel="stylesheet" type="text/css" href="/CoGe/css/sddm.css" />
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</HEAD>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/kaj.stable.js"></SCRIPT>
<script language="JavaScript" type="text/javascript" src="/CoGe/js/menu.js"></script>
<SCRIPT language="JavaScript">
function submitform() {
  document.main_form.submit();
}
function change( info ) {
        document.getElementById("info").innerHTML = info;        
}

function changeColor(id, color) {
  document.getElementById(id).style.color = color;
}

var txtboxes = ['dr1up','dr1down','dr2up','dr2down','dr3up','dr3down'];

function setup(){
   for(var k in txtboxes){
       k = txtboxes[k];
       var el = get(k);
       el.onkeyup = function(){
           var v = this.value;
	   if(get('apply_all').checked){
		   for(var k in txtboxes){
		       k = txtboxes[k];
		       get(k).value = v;
		   }
	   }
	  }
       }
  if (kaj.GS('accn1')) {dataset_search(['accn1','args__1'],[feat_search_chain]);}
  if (kaj.GS('accn2')) {dataset_search(['accn2','args__2'],[feat_search_chain]);}
  if (kaj.GS('accn3')) {dataset_search(['accn3','args__3'],[feat_search_chain]);}
}


function update_distance (check, val) {
  return;
  check = get(check);
  val = get(val);
//  alert (check, val);
  if (check.value == 0) { return; }
  else {
    alert(val);
  }
}

function get(id){
    return document.getElementById(id);
}

function feat_search_chain(val, num) {
 if (val) {
  kaj.GS('source'+num, val);
  feat_search(['accn'+num,'dsid'+num, 'args__'+num],['feat'+num]);
 }
// else {
 //  alert(num);
 //  kaj.GS('source'+num,'<input type="hidden" id="dsid'+num+'">');
 //  kaj.GS('feat'+num,'<input type="hidden" id="featid'+num+'">');
// }
}

</SCRIPT>


<input type="button" value="GO"
onClick="loading([], ['results']); run([
	'accn1',
	'featid1', 
	'dr1up', 
	'dr1down', 
	'dsid1',
	'rev_region1', 

	'accn2', 
	'featid2', 
	'dr2up', 
	'dr2down', 
	'dsid2',
	'rev_region2', 

	'accn3', 
	'featid3', 
	'dr3up', 
	'dr3down', 
	'dsid3',
	'rev_region3', 

	'gbaccn1', 
	'gb1start', 
	'gb1up', 
	'gb1down', 

	'gbaccn2', 
	'gb2start', 
	'gb2up', 
	'gb2down', 

	'gbaccn3', 
	'gb3start', 
	'gb3up', 
	'gb3down', 

	'seq1', 
	'comp1',
	'start1',
	'stop1',

	'seq2', 
	'comp2', 
	'start2',
	'stop2',

	'seq3', 
	'comp3', 
	'start3',
	'stop3',

	'matchfilter', 
	'spike', 
	'mask', 
	'mask_ncs', 
	'wordsize', 
	'gapopen', 
	'gapextend', 
	'mismatch',
	'eval', 
	'blastparams',
	'iw',
	'ih', 
	'feat_h',
        'show_gc',
	'color_hsp',
	'hsp_labels',
	'overlap_adjustment',
	'hsp_limit',
	'hsp_limit_num',
	'blast_program',
        'hsp1r',
        'hsp1g',
        'hsp1b',
        'hsp2r',
        'hsp2g',
        'hsp2b',
        'hsp3r',
        'hsp3g',
        'hsp3b',

  
],
['results'], 'POST');"
>   &nbsp;&nbsp;

<input type="button" value="Clear"
 onClick="rset([],['results'])">
<form method="post" enctype="multipart/form-data" name="main_form" onSubmit="">
<TABLE class="basic" width=100%>
 <TR>
  <TH>
    <DIV class = large>
      Sequence 1
    </DIV>
  </TH>
  <TH>
    <DIV class = large>
      Sequence 2
    </DIV>
  </TH>  <TH>
    <DIV class = large>
      Sequence 3
    </DIV>
  </TH>
 </TR>
 <TR>
  <TH colspan="3">
   <DIV class="mainDiv">
   <DIV id = "dr" class="topItem" onMouseOver="Init(this); changeColor('dr','#000099'); " onMouseOut="changeColor('dr','#009900');">CoGe Database Retrieval:</DIV>
   <DIV class="dropMenu">
     <DIV class="subMenu" style="display:inline;">
     <TABLE style="width: 100%;">
      <TR valign="top">
      <TD>
      <TABLE>
       <TR valign="top">
        <TD>Name:
        <TD><input class="backbox" type="text" name="accn1" id="accn1" tabindex="1"  size="20" onBlur="dataset_search(['accn1','args__1'],[feat_search_chain])" value="<TMPL_VAR NAME=ACCN1>" />
        <DIV id="source1" nowrap><input type="hidden" id="dsid1"></DIV>
        <DIV id="feat1"><input type="hidden" id="featid1"></DIV>
      <TR>
	<TD colspan =2>
	<font class="small">Reverse region display: <label><input class="backbox" type="radio" name="rev_region1" id="rev_region1" tabindex="1" value="1" <TMPL_VAR NAME=REV1_YES> />Yes</label><label><input class="backbox" type="radio" name="rev_region1" id="rev_region1" tabindex="1" value="0" <TMPL_VAR NAME=REV1_NO> />No</label></font>
      <TR>
       <TD><DIV class="small">Left sequence:</DIV>
       <TD><DIV  id="up1" ><input class="backbox" type="text" name="dr1up" id="dr1up" tabindex="1" size="10" value="<TMPL_VAR NAME=DR1UP>" /> </DIV>
      <TR>
       <TD><DIV class="small">Right sequence:</DIV>
       <TD><DIV  id="down1"><input class="backbox" type="text" name="dr1down" id="dr1down" tabindex="1" size="10"  value="<TMPL_VAR NAME=DR1DOWN>" /></DIV>
      <TR>
        <TD colspan =2><input type="checkbox" name="apply_all" id="apply_all" value="0" /><font class ="small" float>(Apply distance to all?)</font>
      </TABLE>
      <TD>
      <TABLE>
       <TR valign="top">
        <TD>Name:
        <TD><input class="backbox" type="text" name="accn2" id="accn2" tabindex="1"  size="20" onBlur="dataset_search(['accn2','args__2'],[feat_search_chain])" value="<TMPL_VAR NAME=ACCN2>" />
        <DIV id="source2" nowrap><input type="hidden" id="dsid2"></DIV>
        <DIV id="feat2"><input type="hidden" id="featid2"></DIV>
      <TR>
	<TD colspan =2>
	<font class="small">Reverse region display: <label><input class="backbox" type="radio" name="rev_region2" id="rev_region2" tabindex="1" value="1" <TMPL_VAR NAME=REV2_YES> />Yes</label><label><input class="backbox" type="radio" name="rev_region2" id="rev_region2" tabindex="1" value="0" <TMPL_VAR NAME=REV2_NO> />No</label></font>
       <TR>
       <TD><DIV class="small">Left sequence:</DIV>
       <TD><DIV  id="up2" ><input class="backbox" type="text" name="dr2up" id="dr2up" tabindex="1" size="10" value="<TMPL_VAR NAME=DR2UP>" /></DIV>
      <TR>
       <TD><DIV class="small">Right sequence:</DIV>
       <TD><DIV  id="down2" ><input class="backbox" type="text" name="dr2down" id="dr2down" tabindex="1" size="10"  value="<TMPL_VAR NAME=DR2DOWN>" /></DIV>
      </TABLE>
      <TD>
      <TABLE>
       <TR valign="top">
        <TD>Name:
        <TD><input class="backbox" type="text" name="accn3" id="accn3" tabindex="1"  size="20" onBlur="dataset_search(['accn3','args__3'],[feat_search_chain])" value="<TMPL_VAR NAME=ACCN3>" />
        <DIV id="source3" nowrap><input type="hidden" id="dsid3"></DIV>
        <DIV id="feat3"><input type="hidden" id="featid3"></DIV>
      <TR>
	<TD colspan =2>
	<font class="small">Reverse region display: <label><input class="backbox" type="radio" name="rev_region3" id="rev_region3" tabindex="1" value="1" <TMPL_VAR NAME=REV3_YES> />Yes</label><label><input class="backbox" type="radio" name="rev_region3" id="rev_region3" tabindex="1" value="0" <TMPL_VAR NAME=REV3_NO> />No</label></font>
       <TR>
       <TD><DIV class="small">Left sequence:</DIV>
       <TD><DIV  id="up3" ><input class="backbox" type="text" name="dr3up" id="dr3up" tabindex="1" size="10" value="<TMPL_VAR NAME=DR3UP>" /></DIV>
      <TR>
       <TD><DIV class="small">Right sequence:</DIV>
       <TD><DIV  id="down3" ><input class="backbox" type="text" name="dr3down" id="dr3down" tabindex="1" size="10"  value="<TMPL_VAR NAME=DR3DOWN>" /></DIV>
      </TABLE>
     </table>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     </DIV>
  </DIV>
  </DIV>
 </TR>

 <TR>
  <TH colspan="3">
   <DIV class="mainDiv" >
   <DIV id="isr" class="topItem" onMouseOver="Init(this);changeColor('isr','#000099'); " onMouseOut="changeColor('isr','#009900');" >Internet Sequence Retrieval:</DIV>
   <DIV class="dropMenu">
     <DIV class="subMenu" style="display:none;" >
     <TABLE style="width: 100%;">
      <TR>
      <TD>        
      <TABLE>
       <TR>
        <TD>GenBank Accession:
	<TD><input class="backbox" type="text" name="gbaccn1" id="gbaccn1" tabindex="1"  size="10" />
      <TR>
	<TD><DIV class="small">Start Position:</DIV>
      	<TD><input class="backbox" type="text" name="gb1start" id="gb1start" tabindex="1" size="10" value="1" /></TD>
      <TR>
       <TD><DIV class="small">Left:</DIV>
       <TD><input class="backbox" type="text" name="gb1up" id="gb1up" tabindex="1" size="10" value="0" />
      <TR>
       <TD><DIV class="small">Right:</DIV>
       <TD><input class="backbox" type="text" name="gb1down" id="gb1down" tabindex="1" size="10"  value=""/>
      </TABLE>
      <TD>
      <TABLE>
       <TR>
        <TD>GenBank Accession:
	<TD><input class="backbox" type="text" name="gbaccn2" id="gbaccn2" tabindex="1"  size="10" />
      <TR>
	<TD><DIV class="small">Start Position:</DIV>
      	<TD><input class="backbox" type="text" name="gb2start" id="gb2start" tabindex="1" size="10" value="1" /></TD>
      <TR>
       <TD><DIV class="small">Left:</DIV>
       <TD><input class="backbox" type="text" name="gb2up" id="gb2up" tabindex="1" size="10" value="0" />
      <TR>
       <TD><DIV class="small">Right:</DIV>
       <TD><input class="backbox" type="text" name="gb2down" id="gb2down" tabindex="1" size="10"  value=""/>
      </TABLE>
      <TD>
      <TABLE>
       <TR>
        <TD>GenBank Accession:
	<TD><input class="backbox" type="text" name="gbaccn3" id="gbaccn3" tabindex="1"  size="10" />
      <TR>
	<TD><DIV class="small">Start Position:</DIV>
      	<TD><input class="backbox" type="text" name="gb3start" id="gb3start" tabindex="1" size="10" value="1" /></TD>
      <TR>
       <TD><DIV class="small">Left:</DIV>
       <TD><input class="backbox" type="text" name="gb3up" id="gb3up" tabindex="1" size="10" value="0" />
      <TR>
       <TD><DIV class="small">Right:</DIV>
       <TD><input class="backbox" type="text" name="gb3down" id="gb3down" tabindex="1" size="10"  value=""/>
      </TABLE>
     </table>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     </DIV>
  </DIV>
  </DIV>		
 </TR>
 <TR>
  <TH colspan="3">
   <DIV class="mainDiv" >
   <DIV id="dss" class="topItem" onMouseOver="Init(this);  changeColor('dss','#000099'); " onMouseOut="changeColor('dss','#009900');" >Direct Sequence Submission:</DIV>
   <DIV class="dropMenu">
     <DIV class="subMenu" style="display:none;" >
     <TABLE style="width: 100%;">
      <TR>
      <TD>
      <DIV>
     Sequence:<BR> <textarea class="backbox" name="seq1" id="seq1" tabindex="1"  rows="5" cols="30"></textarea><BR>
     Reverse Complement: <label><input class="backbox" type="radio" name="comp1" id="comp1" tabindex="1" value="1" />On</label><label><input class="backbox" type="radio" name="comp1" id="comp1" tabindex="1" value="0" checked />Off</label><BR>
     Start: <input class="backbox" type="text" name="start1" id="start1" tabindex="1"  size="5" value="1" />
     Stop: <input class="backbox" type="text" name="stop1" id="stop1" tabindex="1"  size="5" value=""  />
      </DIV>
      <TD>
      <DIV>
     Sequence:<BR> <textarea class="backbox" name="seq2" id="seq2" tabindex="1"  rows="5" cols="30"></textarea><BR>
     Reverse Complement: <label><input class="backbox" type="radio" name="comp2" id="comp2" tabindex="1" value="1" />On</label><label><input class="backbox" type="radio" name="comp2" id="comp2" tabindex="1" value="0" checked />Off</label><BR>
     Start: <input class="backbox" type="text" name="start2" id="start2" tabindex="1"  size="5" value="1" />
     Stop: <input class="backbox" type="text" name="stop2" id="stop2" tabindex="1"  size="5" value=""  />
      </DIV>
      <TD>
      <DIV>
     Sequence:<BR> <textarea class="backbox" name="seq3" id="seq3" tabindex="1"  rows="5" cols="30"></textarea><BR>
     Reverse Complement: <label><input class="backbox" type="radio" name="comp3" id="comp3" tabindex="1" value="1" />On</label><label><input class="backbox" type="radio" name="comp3" id="comp3" tabindex="1" value="0" checked />Off</label><BR>
     Start: <input class="backbox" type="text" name="start3" id="start3" tabindex="1"  size="5" value="1" />
     Stop: <input class="backbox" type="text" name="stop3" id="stop3" tabindex="1"  size="5" value=""  />
      </DIV>
     </table>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     </DIV>
  </DIV>
  </DIV>		
 </TR>
</TABLE>
</TMPL_IF>

<TMPL_IF NAME=OPTIONS>
<TABLE class="basic" width=100%>
 <TR>
  <TH colspan="2">
  <DIV class="mainDiv">
   <DIV id="ao" class="topItem" onMouseOver="Init(this);changeColor('ao','#000099'); " onMouseOut="changeColor('ao','#009900');" >Algorithm Options:</DIV>
   <DIV class="dropMenu">
     <DIV class="subMenu" style="display:none;">
     <TABLE style="width: 100%;">
      <TR>
      <TD>


<TABLE class="basic" width=100%>
 <TR>
  <TH>
    <DIV>
      HSP Filter:
    </DIV>
  </TH>
  <TD>
    <DIV>
      <label><input class="backbox" type="radio" name="matchfilter" id="matchfilter" tabindex="15" value="1" checked />On</label><label><input class="backbox" type="radio" name="matchfilter" id="matchfilter" tabindex="15" value="0" />Off</label>
      <BR>Only show matches with e-values equal to or less than the e-value obtained from an exact match of:<BR>
      <!-- <label><input class="backbox" type="radio" name="spike" id="spike" value="13" tabindex="16" />13/13</label><label><input class="backbox" type="radio" name="spike" id="spike" value="14" tabindex="17" />14/14</label><label><input class="backbox" type="radio" name="spike" id="spike" value="15" checked tabindex="18" />15/15</label><label><input class="backbox" type="radio" name="spike" id="spike" value="16" tabindex="19" />16/16</label><label><input class="backbox" type="radio" name="spike" id="spike" value="17" tabindex="20" />17/17</label><label><input class="backbox" type="radio" name="spike" id="spike" value="18" tabindex="21" />18/18</label> nucleotides -->
      <TMPL_VAR NAME=SPIKE_LEN>
    </DIV>
  </TH>
 </TR>
 <TR>
  <TH>
   Mask Exons:<br><font class="small">(Exons Masked during bl2seq run)</font>
  <TD>
   <label><input class="backbox" type="radio" name="mask" id="mask" tabindex="22" value="1" />On</label><label><input class="backbox" type="radio" name="mask" id="mask" tabindex="22" value="0" checked />Off</label>
 </TR>
 <TR>
  <TH>
   Mask Non-coding Sequence:<br><font class="small">(Everything but exons masked during bl2seq run)</font>
  <TD>
   <label><input class="backbox" type="radio" name="mask_ncs" id="mask_ncs" tabindex="22" value="1" />On</label><label><input class="backbox" type="radio" name="mask_ncs" id="mask_ncs" tabindex="22" value="0" checked />Off</label>
 </TR>

        </TABLE>
     </table>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     </DIV>
  </DIV>
  </DIV>
 </TR>
	  
 </TR>

</TABLE>


<TABLE class="basic" width=100%>
 <TR>
  <TH colspan="2">
  <DIV class="mainDiv">
   <DIV id="bp" class="topItem" onMouseOver="Init(this);changeColor('bp','#000099'); " onMouseOut="changeColor('bp','#009900');" >Bl2Seq Parameters:</DIV>
   <DIV class="dropMenu">
     <DIV class="subMenu" style="display:none;">
     <TABLE style="width: 100%;">
      <TR>
      <TD>
      <TABLE>
  <TR>
  <TD>Blast Program: </TD>
  <TD><select class="backbox" id="blast_program" size="1">
       <option selected>blastn</option>
       <option>tblastx</option>
      </select>
   </TD>
 </TR>    
  <TR>
  <TD>Word Size (-W):<Br><font class="small">(limited to 3 if using tblastx)</font> </TD>
  <TD><input class="backbox" type="text" name="wordsize" id="wordsize" tabindex="1" size="3" value="7" /></TD>
 </TR>    
 <TR>
  <TD>Gap Open Penalty (-G): </TD>
  <TD><input class="backbox" type="text" name="gapopen" id="gapopen" tabindex="1" size="3" value="5" /></TD>
 </TR>    
 <TR>
  <TD>Gap Extension Penalty (-E): </TD>
  <TD><input class="backbox" type="text" name="gapextend" id="gapextend" tabindex="1" size="3" value="2" /></TD>
 </TR>    
 <TR>
  <TD>Mismatch Penalty (-q): </TD>
  <TD><input class="backbox" type="text" name="mismatch" id="mismatch" tabindex="1" size="3" value="-2" /></TD>
 </TR>    
 <TR>
  <TD>Expectation value (E) (-e): </TD>
  <TD><input class="backbox" type="text" name="eval" id="eval" tabindex="1" size="3" value="100" /></TD>
 </TR>    
 <TR>
  <TD>Other Blast Parameters: </TD>
  <TD><input class="backbox" type="text" name="blastparams" id="blastparams" tabindex="1" size="60" /></TD>
 </TR>         </TABLE>
     </table>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     </DIV>
  </DIV>
  </DIV>
 </TR>
	  
 </TR>

</TABLE>

<TABLE class="basic" width=100%>
 <TR>
  <TH colspan="2">
  <DIV class="mainDiv">
   <DIV id="ip" class="topItem" onMouseOver="Init(this);changeColor('ip','#000099'); " onMouseOut="changeColor('ip','#009900');" >Image Parameters:</DIV>
   <DIV class="dropMenu">
     <DIV class="subMenu" style="display:inline;">
     <TABLE style="width: 100%;">
      <TR>
      <TD>

<table valign>
<td valign=top>
<TABLE class="basic">
 <TR>
  <TD>
    <DIV class="small">
      Image Width (Pixels):
    </DIV>
  </TD>
  <TD>
    <DIV class="small">
	<input class="backbox" type="text" name="iw" id="iw" tabindex="1"  size="10" value="1000" />
    </DIV>
  </TD>
 </TR>
 <TR>
  <Td>
    <DIV class="small">
      Image Height (Pixels):
    </DIV>
  </Td>
  <TD>
    <DIV class="small">
	<input class="backbox" type="text" name="ih" id="ih" tabindex="1"  size="10" value="150" />
    </DIV>
  </TD>

 </TR>
 <TR>
  <Td>
    <DIV class="small">
      Feature Height (Pixels):
    </DIV>
  </Td>
  <TD>
    <DIV class="small">
	<input class="backbox" type="text" name="feat_h" id="feat_h" tabindex="1"  size="10" value="20" />
    </DIV>
  </TD>

 </TR>
 <TR>
  <Td>
<font class="small">Color GC content? (green=GC, orange=N) <label><input class="backbox" type="radio" name="show_gc" id="show_gc" tabindex="1" value="1" />Yes</label><label><input class="backbox" type="radio" name="show_gc" id="show_gc" tabindex="1" value="0" checked />No</label></font>
    </DIV>
  </TD>
 <TR>
  <Td>
<font class="small">Color Matches in HSPs?<label><input class="backbox" type="radio" name="color_hsp" id="color_hsp" tabindex="1" value="1" />Yes</label><label><input class="backbox" type="radio" name="color_hsp" id="color_hsp" tabindex="1" value="0" checked />No</label></font>
    </DIV>
  </TD>

 <TR>
  <Td>
<font class="small">HSP Label options: <label><input class="backbox" type="radio" name="hsp_labels" id="hsp_labels" tabindex="1" value="0" />Don't draw</label><label><input class="backbox" type="radio" name="hsp_labels" id="hsp_labels" tabindex="1" value="staggered" checked />Draw Staggered</label><label><input class="backbox" type="radio" name="hsp_labels" id="hsp_labels" tabindex="1" value="linear" />Draw Linear</label></font>
    </DIV>
  </TD>
 <TR>
  <Td>
<font class="small">Limit HSP labels? <label><input class="backbox" type="radio" name="hsp_limit" id="hsp_limit" tabindex="1" value="1" />Yes</label> <label><input class="backbox" type="radio" name="hsp_limit" id="hsp_limit" tabindex="1" value="0" checked />No</label> Show Top: <input class=backbox type=textbox size=3 id="hsp_limit_num" value="20"/></font>
    </DIV>
  </TD>
 <TR>
  <Td>
<font class="small">Auto adjust overlapping features? <label><input class="backbox" type="radio" name="overlap_adjustment" id="overlap_adjustment" tabindex="1" value="1" checked />Yes</label><label><input class="backbox" type="radio" name="overlap_adjustment" id="overlap_adjustment" tabindex="1" value="0" />No</label></font>
    </DIV>
  </TD>


 </TR>
</TABLE>
<td width="3" bgcolor="#99FF99">
<td valign =top>
 <table>
  <tr>
   <td class="small">
     HSP 1 color:
   <TD class="small">
     R:<input class="backbox" type="text" name="hsp1r" id="hsp1r" tabindex="1"  size="3" value="100" />
   <TD class="small">
     G:<input class="backbox" type="text" name="hsp1g" id="hsp1g" tabindex="1"  size="3" value="100" />
   <TD class="small">
     B:<input class="backbox" type="text" name="hsp1b" id="hsp1b" tabindex="1"  size="3" value="255" />
  <tr>
   <td class="small">
     HSP 2 color:
   <TD class="small">
     R:<input class="backbox" type="text" name="hsp2r" id="hsp2r" tabindex="1"  size="3" value="0" />
   <TD class="small">
     G:<input class="backbox" type="text" name="hsp2g" id="hsp2g" tabindex="1"  size="3" value="255" />
   <TD class="small">
     B:<input class="backbox" type="text" name="hsp2b" id="hsp2b" tabindex="1"  size="3" value="0" />
  <tr>
   <td class="small">
     HSP 3 color:
   <TD class="small">
     R:<input class="backbox" type="text" name="hsp3r" id="hsp3r" tabindex="1"  size="3" value="255" />
   <TD class="small">
     G:<input class="backbox" type="text" name="hsp3g" id="hsp3g" tabindex="1"  size="3" value="0" />
   <TD class="small">
     B:<input class="backbox" type="text" name="hsp3b" id="hsp3b" tabindex="1"  size="3" value="0" />
  </table>
 </table>
</table>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     </DIV>
  </DIV>
  </DIV>
 </TR>
	  
 </TR>

</TABLE>

<TABLE class="basic" width=100%>
 <TR>
  <TH colspan="2">
  <DIV class="mainDiv">
   <DIV id="infor" class="topItem" onMouseOver="Init(this);changeColor('infor','#000099'); " onMouseOut="changeColor('infor','#009900');" >Information:</DIV>
   <DIV class="dropMenu">
     <DIV class="subMenu" style="display:none;">
     <TABLE style="width: 100%;">
      <TR>
      <TD>


<TABLE class="basic">
 <TR valign="top">
  <TH>
    <DIV>
	New:
    </DIV>
  </TD>
  <TD>
    <DIV>
	Looking for help?  Check out the <a href ="help/SynView">SynView help page</a>!
    </DIV>
  </TD>
 </TR>
        </TABLE>
     </table>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     <span class="subItem"></span>
     </DIV>
  </DIV>
  </DIV>
 </TR>
	  
 </TR>

</TABLE>



<input type="button" value="GO"
onClick="loading([], ['results']);run([
	'accn1',
	'featid1', 
	'dr1up', 
	'dr1down', 
	'dsid1', 
	'rev_region1', 

	'accn2', 
	'featid2', 
	'dr2up', 
	'dr2down', 
	'dsid2',
	'rev_region2', 

	'accn3', 
	'featid3', 
	'dr3up', 
	'dr3down', 
	'dsid3',
	'rev_region3', 

	'gbaccn1', 
	'gb1start', 
	'gb1up', 
	'gb1down', 

	'gbaccn2', 
	'gb2start', 
	'gb2up', 
	'gb2down', 

	'gbaccn3', 
	'gb3start', 
	'gb3up', 
	'gb3down', 

	'seq1', 
	'comp1', 
	'start1',
	'stop1',

	'seq2', 
	'comp2', 
	'start2',
	'stop2',

	'seq3', 
	'comp3', 
	'start3',
	'stop3',

	'matchfilter', 
	'spike', 
	'mask', 
	'mask_ncs', 
	'wordsize', 
	'gapopen', 
	'gapextend', 
	'mismatch',
	'eval', 
	'blastparams',
	'iw',
	'ih', 
	'feat_h',
	'show_gc',
	'color_hsp',
	'hsp_labels',
	'overlap_adjustment',
	'hsp_limit',
	'hsp_limit_num',
	'blast_program',
        'hsp1r',
        'hsp1g',
        'hsp1b',
        'hsp2r',
        'hsp2g',
        'hsp2b',
        'hsp3r',
        'hsp3g',
        'hsp3b',

],
['results'], 'POST');"
>   &nbsp;&nbsp;

<input type="button" value="Clear"
 onClick="rset([],['results'])">
<font class="small">(Results appear at the top of this page)</font>
<br>
</form>
</BODY>
</HTML>
</TMPL_IF>

<TMPL_IF NAME="RESULTS_DIV">
<DIV id="results" ></DIV>
</TMPL_IF>
