<TMPL_IF NAME="JAVASCRIPT">
<link rel="stylesheet" type="text/css" href="/CoGe/css/ui.tabs.css" />
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery-ui-personalized-1.5.2.js"></SCRIPT>
<SCRIPT language="JavaScript">

$(document).ready(function(){
$('#org_text').val("Search").css({fontStyle: "italic"});
	pageObj = new Object();
});

$(document).ready(function(){
  $("#tab > ul").tabs({selected: <TMPL_VAR NAME=TAB_OPT>});
});

function search_bar(div_id){
  if($('#'+div_id).val() == "Search") $('#'+div_id).val("").css({fontStyle: "normal"});
}

function get_organism_name_chain(val) {
 get_orgs(['args__'+val], ['org_list']);
}

function restore_search_bar(div_id){
  if($('#'+div_id).val() == "") {
  var regex = /^Organism\scount:\s(\d+)$/;
  var count = regex.exec($('#org_count').html());

 //TODO - use javascript obj to update this value 4354 to current number of organisms!
   if (count[1] < 4353) get_organism_name_chain($('#org_text').val());
   $('#'+div_id).val("Search").css({fontStyle: "italic"});
 }
}

function run_search(input){
	$('#results').html('<center><span class=small style="text-align: center">Scanning for tRNAs. . .</span></center>');
	var orgid = $('#org_id').val();
	var search_type = $('#search_type').val();
	var gcode = $('#gcode').val();

	var dna_top;
	if($('#seq_top')[0].checked)
	{
		dna_top = "-l";
	}

	else{
		dna_top = "-c";
	}

	var strand = $('#strand').val();
	var pseudo;

	if($('#pseudo')[0].checked) {pseudo = "-rp";}

	var email;
	if($('#check_email')[0].checked) {email = $('#email').val();}

	var format = $('#format').val();

	var seq;

	if(input) seq = $('#fasta_seqs').val();

	run_aragorn([
		'args__orgid','args__'+orgid,
		'args__type','args__'+search_type,
		'args__gcode','args__'+gcode,
		'args__dna_top','args__'+dna_top,
		'args__strand','args__'+strand,
		'args__pseudo','args__'+pseudo,
		'args__format','args__'+format,
		'args__email','args__'+email,
		'args__seq','args__'+seq,
		],['results'],'POST');
	}

function timing(){
  if (pageObj.time){
   clearTimeout(pageObj.time);
  }
   pageObj.time = setTimeout("get_organism_name_chain($('#org_text').val())",500);
}

//Following 2 js functions take care of emailing results to user

function toggle_email_field(){
	if ($('#check_email')[0].checked)
	{
		$('#email_box').show(0);
	}
	else{
		$('#email_box').hide(0);
		$('#email').val('');
		$('#email_error').hide(0);
	}
}

function address_validity_check(validity){
	if (validity)
	{
		if(validity == 'invalid'){
		$('#email_error').show(0);
		}
		else{
		$('#email_error').hide(0);
		}
	}
	else{
	check_address_validity(['email'],[address_validity_check]);
	}
}

function adjust_search_opt(num){
	if(num == 1){
		$('#genome_opt').hide(0);
		$('#input_opt').show(0);
	}
	else{
		$('#input_opt').hide(0);
		$('#genome_opt').show(0);
	}
}

</SCRIPT>
</TMPL_IF>

<div id=tab>
   <ul class="ui-tabs-nav">
     <li class="ui-tabs-selected">
       <a href="#genome_opt" onclick="adjust_search_opt()">
        <span>Search Genomes</span>
       </a>
      </li>
      <li class="ui-tabs-selected">
       <a href="#input_opt" onclick="adjust_search_opt(1)">
        <span>Input Sequence</span>
       </a>
      </li>
     </ul>
    </div>
    <hr/>
<div id=genome_opt>
<DIV id="blah">Organism Name: <input type="text" size=11 onFocus="search_bar('org_text')" style="font-style:italic" value="Search" name="org_text" id="org_text" onKeyUp='timing();'></DIV>
<DIV id="org_list"><TMPL_VAR NAME="ORG_LIST"></DIV>
<span class='ui-button ui-corner-all' onClick="run_search()">Run Scan</span>
</div>

<div id=input_opt style="display:none">
Enter Sequence in FASTA Format:<br>
<textarea id="fasta_seqs" class="backbox" rows="15" cols="80" wrap="off" type=textarea><TMPL_VAR NAME=SEQ></textarea>
<br>
<span class='ui-button ui-corner-all' onClick="run_search(1)">Run Scan</span>

</div>

<table>
	<tr>
		<td>Search for:</td>
		<td><select id=search_type>
			<option value="-t">tRNAs Only</option>
			<option value="-m">tmRNAs Only</option>
			<option value="-m -t">tRNAs and mtRNAs</options>
			<option value="-mt">Metazoan Mitochondrial tRNAs</options>
			<option value="-mtmam">Mammalian Mitochondrial tRNAs</options>

			</select>
		</td>
	</tr>
	<tr>
		<td>Genetic code:</td>
		<td><select id="gcode">
			<option value="-gcstd">Standard</option>
			<option value="-gcmet">Composite Metazoan Mitochondrial</option>
			<option value="-gcvert">Vertebrate Mitochondrial</option>
			<option value="-gcinvert">Invertebrate Mitochondrial</option>
			<option value="-gcyeast">Yeast Mitochondrial</option>
			<option value="-gcprot">Mold/Protozoan/Coelenterate Mitochondrial</option>
			<option value="-gcciliate">Ciliate</option>
			<option value="-gcflatworm">Echinoderm/Flatworm Mitochondrial</option>
			<option value="-gceuplot">Euplotid</option>
			<option value="-gcbact">Bacterial/Plant Chloroplast</option>
			<option value="-gcaltyeast">alternative Yeast</option>
			<option value="-gcascid">Ascidian Mitochondrial</option>
			<option value="-gcaltflat">alternative Flatworm Mitochondrial</option>
			<option value="-gcblep">Blepharisma</option>
			<option value="-gcchloroph">Chlorophycean Mitochondrial</option>
			<option value="-gctrem">Trematode Mitochondrial</option>
			<option value="-gcscen">Scenedesmus obliquus Mitochondrial</option>
			<option value="-gcthraust">Thraustochytrium Mitochondrial</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>DNA Topology:</td>
		<td><label><input type=radio id=seq_top checked name=seq_top value="-l">Linear</label>
			<label><input type=radio id=seq_top name=seq_top value="-c">Circular</label>
		</td>
	</tr>
	<tr>
		<td>Which Strand:</td>
		<td><select id=strand>
			<option value="-d">Search both strands</option>
			<option value="-s">Search sense strand only</option>
			<option value="-sc -t">Search antisense strand only</options>
			</select>
		</td>
	</tr>
	<tr>
		<td>Report low scores as pseudogenes</td>
		<td><input type=checkbox value="-rp" id=pseudo></td>
	</tr>
</table>

<table>
	<tr>
		<td>Output Format</td>
		<td><select id=format>
			<option value="none">Standard</option>
			<option value="-w">Tab Deliminated (Excel)</option>
			</select>
		</td>
	</tr>
	<tr id=sort_row>
		<td>Sort Output by:</td>
		<td><select id=sort>
			<option value="num">Location (Default)</option>
			<option value="type">Amino Acid Carried</option>
			<option value="anticodon">Anticodon</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>E-mail results? <input type=checkbox id=check_email onclick="toggle_email_field()"></td>
		<td><div id=email_box style="display:none;">Your E-mail Address: <input type=text id=email onBlur='address_validity_check()'>
		<br>
		<font id=email_error class="small" style="display: none; color: red;">You have supplied an invalid e-mail address.</font></div></td>
	</tr>
</table>
<font class=small>We recommend using the email option for larger genomes</font>

<TMPL_IF NAME="RESULTS_DIV">
  <div id=results align=right></div>
</TMPL_IF>
