<TMPL_IF NAME=STARTUP>
<link rel="stylesheet" type="text/css" href="/CoGe/css/superfish-vertical.css" />
<link rel="stylesheet" type="text/css" href="/CoGe/css/jquery.treeTable.css" />

<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.2.0.3.js"></SCRIPT>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.treeTable.js"></SCRIPT>
<SCRIPT language="JavaScript">
$(document).ready(function(){
	$.ajaxSetup({
		type: "GET",
		url: "/CoGe/UserPage.pl",
		//dataType: "html",
		cache: false,
	});
	get_profile();
});

function get_profile() {
	 $.ajax({
		data: {fname: 'profile'},
		success: function(data) { $('#content').html(data);	 
			 $("#profile tr:even").addClass('even');
	 		 $("#profile tr:odd").addClass('odd');
//			 $("#profile td:odd").add('');
			 }
	});
}

function work_refresh_after_change (message) {
	 $.ajax({
		data: {fname: 'view_all_work',message: message},
		success: function(html) {
			 	    $('#worklist').html(html).ready( function() { 
				    				     	init_works_table(); 
									setTimeout("$('#work_message').fadeOut().remove()",2000);
								});
			},
		});
}

function view_work_dialog(data) {
	 var html = data.html
	 var name = data.work_name;
	 $('#work_dialog').hide(0)
			  .html(html)
			  .dialog({autoOpen: false,
			  	   title: 'Viewing Work: '+name,
				   height: 500,
				   width: 500,
				   close: function() { $(this).dialog('destroy'); }, 
			  })
			  .show(0)
			  .dialog('open');
}

function edit_work_dialog(data,wf_id) {
	 var name = data.work_name;
	 var work_id = data.work_id;
	 var html = data.html;
	 $('#work_dialog').hide(0)
			  .html(html)
			  .dialog({autoOpen: false,
			  	   title: 'Editing Work '+name,
				   height: 401,
				   width: 457,
				   buttons: { "Cancel": function() { $(this).dialog("close"); },
					      "Save": function() { update_work(work_id,wf_id);$(this).dialog('close') } },
				   close: function() { $(this).dialog('destroy'); }, 
			  })
			  .show(0)
			  .dialog('open');
}

function add_work_entry(wid) {
	  $.ajax({
		data: {fname: 'add_work_entry_to_workflow', work_id: wid, wf_id: $('#workflow_select').val()},
		success: function(data) { $('#workflow_choice').hide(); 
			 		  $('#save_message').html(data).show();
					  setTimeout("$('#save_message').fadeOut()",2000);
					},
	});
}

function get_workflow_header(wf_id) {
	 $.ajax({
		data: {fname: 'generate_workflow', args: wf_id},
		dataType: 'json',
		success: function(data) { 
			 		  $('#content').html(data.html).ready(function() { $('#workflow_select').val(data.wf_id);  } );
					  display_workflow(data.wf_id);
					  $('#wf_table').treeTable({ 
					  	initialState: "expanded",  
					  });
					},
	});
}

function delete_dialog_init(wf_id,wf_name) {
	 		 $('#delete_check').dialog({autoOpen: false,
			  	   	    title: 'Delete Current Workflow: '+wf_name,
					    height: 184,
					    buttons: { "Cancel": function() { $(this).dialog("close"); },
					    	      "Delete": function() { delete_workflow(wf_id);$(this).dialog('close') } },
					    modal: true,
					    close: function() { $(this).dialog('destroy');},
					    width: 412,
				   })
				   .show(0)
				   .dialog('open');
}

function edit_workflow_dialog_init(wf_id,wf_name) {
	 			 $('#workflow_editor').dialog({autoOpen: false,
			  	   	    title: 'Edit Current Workflow: '+wf_name,
					    height: 211,
					    buttons: { "Cancel": function() { $(this).dialog("close"); },
					    	      "Update": function() { $(this).dialog('close') } },
					    width: 335,
				   })
				   .show(0)
				   .dialog('open');
}

function display_workflow(wf_id,wid) {
	 //console.log(wf_id);
	 if ( wf_id == null || wf_id == 'undefined') { wf_id = $('#workflow_select')[0].value;}
	// console.log(wf_id);
	 $.ajax({
		data:  {fname: "show_workflow", args: wf_id},
		success: function(html) {
		 $('#view_workflow').hide(0).html(html).ready(function() {
		  /** Give Work Divs some style **/
	 	  $(".workflow-column").sortable({
			connectWith: '.workflow-column',
			containment: 'parent',
			axis: 'y'
			});

		//	$(".portlet").addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
			$(".portlet").addClass("ui-widget ui-widget-content ui-corner-all ui-helper-clearfix")
			  .find(".portlet-header")
		//	  .addClass("ui-widget-header ui-corner-all")
			  .addClass("ui-corner-all")
			  .prepend('<span class="ui-icon ui-icon-plusthick"></span>')
			  .end()
  			  .find(".portlet-content");

			$(".portlet-header .ui-icon").click(function() {
			  
			   if( $(this).hasClass('ui-icon-minusthick') ) { $(this).removeClass("ui-icon-minusthick").addClass('ui-icon-plusthick'); }
			   else{ $(this).removeClass("ui-icon-plusthick").addClass('ui-icon-minusthick');}
			   $(this).toggleClass("ui-icon-plus");
			   $(this).parents(".portlet:first").find(".portlet-content").toggle();
	         	});
		 })
		  .slideToggle();
		  setup_button_states();
		  if (wid) { $('#'+wid).siblings().children().click();}
		},
	});
}

function delete_workflow(wf_id) {
	 $.ajax({
		data: {fname: 'remove_workflow', args: wf_id},
		success: function(data) { get_workflow_header();}
	});
}

function check_new_workflow() {
	$.ajax({
		data: { fname: 'create_workflow',
		        name: $('#workflow_name').val(),
			desc: $('#workflow_desc').val(),
			entry: 1,
		      },
		success: function(data) {$('#content').html(data);}
	});
}

function init_works() {
	 $.ajax({
		data: {fname: 'generate_worklist_header'},
		success: function(data) {
			 		$('#content').html(data).ready( function() {
						init_works_table();
					});
			},
	});
}

function init_works_table() {
	 $('table.sort-table').tablesorter({		
	 					cssAsc: 'headerSortUp',		// Class name for ascending sorting action to header
						cssDesc: 'headerSortDown',	// Class name for descending sorting action to header
//						cssHeader: 'header',			// Class name for headers (th's)
						widgets: ['zebra'],
					        headers: {4: {sorter: false},
					      	          5: {sorter: false}, 
						          6: {sorter: false},},					
				 });
	$('table.sort-table tr').mouseover( function() {$(this).addClass('highlight');})
			        .mouseout( function() {$(this).removeClass('highlight');});
	setup_button_states();
	//$("#search_bar").keyup( function() { filter_rows( $(this).val() ); });
	//$('#search_type').mouseup( function() { filter_rows( $('#search_bar').val() ); });
}

function update_worklist(type) {
	 $('table.sort-table tr:hidden').show(0);
	 if (type != 'all')
	 { 
	    $('table.sort-table tr').each(function() {
	 		$('td:eq(2):not(:contains('+type+'))',this).parent().hide();
	    });
	}
}

function create_new_workflow() {
	 $.ajax({
		data: {fname: 'create_workflow'},
		success: function(data) { $('#content').html(data);}
	});
}

function get_work_entry(wid) {
			$.ajax({
				dataType: 'json',
				data: {fname: 'view_work_entry', work_id: wid },
				success: function(data) {view_work_dialog(data);},
			});
}

function edit_work_entry(wid) {
	 $.ajax({
		dataType: 'json',
		data: {fname: 'view_work_entry', work_id: wid, edit: 1 },
		success: function(data) {edit_work_dialog(data);},
	});
}

function delete_work_entry_from_checkbox() {
	 var wids = " ";
	 $('table.sort-table :checkbox').each(function(){
     	 	if (this.checked == true) {
		   		 wids += this.id+"-";
		}
	});
	$.ajax({
			data: {fname: 'remove_work_entry', args: wids, },
			success: function(data) {work_refresh_after_change(data);},
		});	 
}

function delete_work_entry(wid) {
	$.ajax({
			data: {fname: 'remove_work_entry', args: wid, },
			success: function(data) {work_refresh_after_change(data);},
		});	 
}

function update_work(wid,wf_id) {
	var wname = $('#workname').val();
	var wdesc = $('#workdesc').val();
	var wnote = $('#worknote').val();
	$.ajax({
			dataType: 'json',
			data: {fname: 'update_work_entry', work_id: wid, name: wname,desc: wdesc, note:wnote},
			success: function(data) {
				 		if(data.wf_id) { display_workflow(wf_id);} 
						else{ work_refresh_after_change(data.html);}
						},
		});	 
}

function archive_work(arch) {
	if ( arch == null) { arch = 0;}
	var wids = " ";
	 $('table.sort-table :checkbox').each(function(){
     	 	if (this.checked == true) {
		   		 wids += this.id+"-";
		}
	});
	$.ajax({
			data: {fname: 'archive_work_entry', work_ids: wids, archive: arch },
			success: function(data) {work_refresh_after_change(data);},
		});	 
}

function delete_work_from_workflow(wid,wfid){
	$.ajax({
		data: {fname: 'remove_work_entry_from_workflow', work_id: wid,wf_id: wfid },
		success: function(data) { 
			 		display_workflow(wfid);
					},
	});
}

function see_work_entry(wid,opt,wf_id) {
	if(opt == 2){
		$.ajax({
			data: {fname: 'remove_work_entry', args: wid, },
			success: function(data) { 
				 		if(wf_id) {display_workflow(wf_id);}
						else{ work_refresh_after_change(data);}
						},
		});
	}
	else if(opt == 1){
			$.ajax({
				dataType: 'json',
				data: {fname: 'view_work_entry', work_id: wid, edit: 1 },
				success: function(data) {edit_work_dialog(data,wf_id);},
			});
	}
	else{
			$.ajax({
				dataType: 'json',
				data: {fname: 'view_work_entry', work_id: wid },
				success: function(data) {view_work_dialog(data);},
			});
	}
}

//Filters Rows for search_text - Case sensitive as of now, and searches hidden columns...
function filter_rows (search_text){
	 if(! search_text) { $("#sort-table tr:hidden").show(0);}
	 else if (search_text.length >= 3) {
	 $("#sort-table-body tr:hidden").show(0);
	 if( $('#search-type').val() == 1 ) { $("#sort-table-body tr:not(:contains('"+search_text+"'))").hide(); }
	 else { $("#sort-table-body tr:contains('"+search_text+"')").hide(); }
}
         else return;
}

</SCRIPT>
</TMPL_IF>

<TMPL_IF NAME=MAIN>
<table><tr valign=top><td>
<div style="float:left; width:160px" class="ui-widget-content ui-corner-all">

<ul class="sf-menu sf-vertical">
  <li><a href="javascript:void(0)" onClick="get_profile()">Profile</a></li>
<!--
  <li><a href="javascript:void(0)">Application Settings</a>
    <ul>
	<li><a href="javascript:void(0)">OrganismView</a></li>
	<li><a href="javascript:void(0)">CoGeBlast</a></li>
	<li><a href="javascript:void(0)">FeatView</a></li>
	<li><a href="javascript:void(0)">SynMap</a></li>
	<li><a href="javascript:void(0)">GEvo</a></li>
    </ul>
  </li>
-->
  <li><a href="javascript:void(0)">My Notebooks</a>
  <ul>
	<li><a href="javascript:void(0)" onClick="get_workflow_header()">View Notebooks</a></li>
	<li><a href="javascript:void(0)" onClick="create_new_workflow()">Create New Notebook</a></li>
  </ul>
  </li>
  <li><a href="javascript:void(0)" onClick="init_works()">Work History</a></li>
</ul>
</div>
<td>
<div id=content class="ui-widget-content ui-corner-all" style="float:right"></div>
</table>
</TMPL_IF>

<TMPL_IF NAME=PROFILE>
<span style="color: black;font-weight: bold;"><TMPL_VAR NAME=REAL_NAME>'s Profile</span>
<dl style="clear:both;font-size:13px; margin-top: 2;">
<table id="profile" class="expt" border=0 class=small>
	<tr><td>User Name</td>
	<td><TMPL_VAR NAME=USER_NAME></td>
	<tr><td>Real Name</td>
	<td><TMPL_VAR NAME=REAL_NAME></td>
	<tr><td>E-mail Address</td>
	<td><TMPL_VAR NAME=EMAIL></td>
	<tr><td>Title</td>
	<td><TMPL_VAR NAME=DESC></td>
	<tr><td>Institute</td>
	<td><TMPL_VAR NAME=INSTITUTE></td>
	<tr><td>Website</td>
	<td><TMPL_VAR NAME=WEBSITE></td>
	<tr><td>My CoGe Groups</td>
	<td><TMPL_VAR NAME=GROUPS></td>
		<!-- Should probably have a loop here for all groups -->
	<tr><td>My Research Interests</td>
	<td><TMPL_VAR NAME=RESEARCH></td>
</table>
</dl>
</TMPL_IF>

<TMPL_IF NAME=WORK_TYPE_CHOICE>
<h3 class="profile-title">My Work Entries</h3>
Select Application Works to View:
<select id=work_type onChange="update_worklist(this.value)">
<option value=all>All</option>
<option value=FeatList>FeatList</option>
<option value=GEvo>GEvo</option>
</select>
<!--
or use custom filter:
<input type=text id=search_bar>
<select id=search_type>
<option value="1">Contains</option>
<option value="0">Does NOT contain</option>
</select>-->
</TMPL_IF>

<!-- Templates for Work List -->
<TMPL_IF NAME=WORK_LIST>
<TMPL_IF NAME=MESSAGE>
<div id=work_message class='<TMPL_VAR NAME=MESSAGE_CLASS>'>
<TMPL_VAR NAME=MESSAGE_CONTENT>
</div>
<br/>
</TMPL_IF>
<table class='sort-table tablesorter'>
<thead>
<!--	<th> </th> -->
	<th>Name</th>
	<th>Description</th>
<!--	<th>Archived?</th> -->
	<th>Tool</th>
	<th>Date</th>
	<th></th>
	<th></th>
	<th></th>
</thead>
<tbody id=sort-table-body>
<TMPL_LOOP NAME=WORKS_LOOP>
<tr>
<!--	<td><input type=checkbox id=<TMPL_VAR NAME=WORK_ID> value=<TMPL_VAR NAME=WORK_ID> ></td> -->
	<td><TMPL_VAR NAME=WORK_NAME></td>
	<td><TMPL_VAR NAME=WORK_DESC></td>
<!--	<td><TMPL_VAR NAME=WORK_ARCH></td> -->
	<td><TMPL_VAR NAME=WORK_TOOL></td>
	<td><TMPL_VAR NAME=WORK_DATE></td>
	<td><TMPL_VAR NAME=WORK_VIEW></td>
	<td><TMPL_VAR NAME=WORK_EDIT></td>
	<td><TMPL_VAR NAME=WORK_DELETE></td>
</tr>
</TMPL_LOOP>
</table>

<!--
<div class='ui-buttonset'>
<a href="javascript:void(0);" class='ui-button ui-corner-all ui-button-icon-left' onclick="$('table.sort-table :checkbox').attr('checked', true);"><span class="ui-icon ui-icon-check"></span>Check All</a>
<a href="javascript:void(0);" class='ui-button ui-corner-all ui-button-icon-left' onclick="$('table.sort-table :checkbox').attr('checked', false);"><span class="ui-icon ui-icon-minus"></span>Uncheck All</a>
<a href='javascript:void(0)' title='View Work' onClick="get_work_entry();" class='ui-button ui-button-icon-solo ui-corner-all'><span class='ui-icon ui-icon-info'></span></a>
<a href='javascript:void(0)' title='Edit Work' onClick="get_work_entry(1);" class='ui-button ui-button-icon-solo ui-corner-all'><span class='ui-icon ui-icon-pencil'></span></a>
<a href='javascript:void(0)' title='Archive Work' onClick="archive_work(1)" class='ui-button ui-button-icon-solo ui-corner-all'><span class='ui-icon ui-icon-locked'></span></a>
<a href='javascript:void(0)' title='Unarchive Work' onClick="archive_work(0)" class='ui-button ui-button-icon-solo ui-corner-all'><span class='ui-icon ui-icon-unlocked'></span></a>
<a href='javascript:void(0)' title='Delete Work' onClick="delete_work_entry_from_checkbox()" class='ui-button ui-button-icon-solo ui-corner-all'><span class='ui-icon ui-icon-trash'></span></a>
</div>
-->

<div id=work_dialog></div>
</TMPL_IF>

<!-- Template for Work Viewer -->
<TMPL_IF NAME=WORK_VIEW>
 <table>
<tbody style='vertical-align:top'>
     <tr>
	<td>Name: </td>
     	<td><TMPL_VAR NAME=WORK_NAME></td>
     </tr>
     <tr>
	<td>Description: </td>
     	<td><TMPL_VAR NAME=WORK_DESC></td>
     </tr>
     <tr>
	<td>Application: </td>
     	<td><TMPL_VAR NAME=WORK_APP></td>
     </tr>    
     <tr>
	<td>View: </td>
	<td><a href="<TMPL_VAR NAME=WORK_PARAM>" target='_blank'>View Data</a></tr>
     <tr>
	<td>Notes: </td>
	<td><p><TMPL_VAR NAME=WORK_NOTE></p></tr>
     <tr>
	<td>Notebooks: </td>
	<td><TMPL_VAR NAME=WORKFLOW_LIST></tr>
     <tr>
	<td>Date Created: </td>
	<td><TMPL_VAR NAME=WORK_DATE></tr>
     </table>
     <table>
     <tr><td><button class='ui-button ui-corner-all' onClick="$('#workflow_choice').slideToggle()">Add to Notebook</button></td><td><button class='ui-button ui-corner-all' onClick="edit_work_entry(<TMPL_VAR NAME=WORK_ID>);$('#work_dialog').dialog('close');">Edit</button></td><td><button class='ui-button ui-corner-all' onClick="delete_work_entry(<TMPL_VAR NAME=WORK_ID>);$('#work_dialog').dialog('close');">Delete</button></td>
     </table>
<div id='workflow_choice' style='display:none'>
<TMPL_IF WF_EXIST>
Please select a notebook to view: <select id=workflow_select>
<TMPL_LOOP NAME=WF_SELECT_LOOP>
<option value='<TMPL_VAR NAME=WF_ID>'><TMPL_VAR NAME=WF_NAME></option>
</TMPL_LOOP>
</select>
<button class='ui-button ui-corner-all' id=choose_workflow_button onClick=add_work_entry(<TMPL_VAR NAME=WORK_ID>)>Add</button>
<TMPL_ELSE>
<div class='ui-state-highlight ui-corner-all'>You have no notebooks. Please <a href="javascript:void(0)" onClick="create_new_workflow()">create</a> one </div>
</TMPL_IF>
</div>
<div id='save_message' style='display:block'></div>
</TMPL_IF>

<!-- Template for Work Editor-->
<TMPL_IF NAME=WORK_EDIT>
 <table>
 <tbody style='vertical-align:top'>
     <tr>
	<td>Name: </td>
     	<td><input type=text size=30 id=workname value="<TMPL_VAR NAME=WORK_NAME>" ></td>
     </tr>
     <tr>
	<td>Description: </td>
     	<td><input type=text size=50 id=workdesc value="<TMPL_VAR NAME=WORK_DESC>" ></td>
     </tr>
     <tr>
	<td>View: </td>
	<td><a href="<TMPL_VAR NAME=WORK_PARAM>" target='_blank'>View Data</a></tr>
     <tr>
	<td>Notes: </td>
	<td><textarea id="worknote" rows="12" cols="50"><TMPL_VAR NAME=WORK_NOTE></textarea></tr>
     <tr>
	<td>Date Created: </td>
	<td><TMPL_VAR NAME=WORK_DATE></tr>
     </table>
     <div style="float:right">
<!--      <button class='ui-button ui-corner-all' onClick="update_work(<TMPL_VAR NAME=WORK_ID>);$('#work_dialog').dialog('close')">Save</button>
      <button class='ui-button ui-corner-all' onClick="$('#work_dialog').dialog('close');">Cancel</button> -->
</div>
</TMPL_IF>


<!-- Templates for Work Flow -->

<!-- Workflow Header Template -->
<TMPL_IF NAME=WF_HEADER>
<TMPL_IF WF_EXIST>
<div id='workflow_table' style='float:right;padding-left:19px;'>
<table id="wf_table">
<thead>
<tr>
<th>My Notebooks</th>
</tr>
</thead>
<tbody>
<TMPL_VAR NAME=WF_TABLE>
</tbody>
</table>
</div>
<div id='workflow_data' style="float:left">
Please select a notebook to view: <select id=workflow_select onChange=display_workflow(this.value)>
<TMPL_LOOP NAME=WF_SELECT_LOOP>
<option value='<TMPL_VAR NAME=WF_ID>'><TMPL_VAR NAME=WF_NAME></option>
</TMPL_LOOP>
</select>
<!-- <button class='ui-button ui-corner-all' id=choose_workflow_button onClick='display_workflow()'>View</button> -->
<!-- <button class='ui-button ui-corner-all' id=choose_workflow_button onClick=show_workflow(['workflow_select'],[display_workflow]);>View</button> -->
<div id=view_workflow><TMPL_VAR NAME=PRELOAD_WORKFLOW></div>
</div>
<TMPL_ELSE>
<div class='ui-state-highlight ui-corner-all'>You have no notebooks. Please <a href="javascript:void(0)" onClick="create_new_workflow()">create</a> one </div>
</TMPL_IF>
</TMPL_IF>

<!-- Workflow Content Template -->
<TMPL_IF NAME=WF_CONTENT>
<!--<h2>Notebook <TMPL_VAR NAME=WF_NAME></h2>-->
<h3 class="profile-title">Notebook <TMPL_VAR NAME=WF_NAME></h3>
<p style="color:006400"><TMPL_VAR NAME=WF_DESC></p>
<p>Created on <TMPL_VAR NAME=WF_DATE></p>
<div class='small'>
<table><tr>
	<td><button class='ui-button ui-corner-all' onClick=create_new_workflow()>Create New Notebook</button></td>
	<td><button class='ui-button ui-corner-all' onClick='edit_workflow_dialog_init(<TMPL_VAR NAME=WF_ID>,"<TMPL_VAR NAME=WF_NAME>")'>Edit Current Notebook</button></td>
	<td><button class='ui-button ui-corner-all' onClick='delete_dialog_init(<TMPL_VAR NAME=WF_ID>,"<TMPL_VAR NAME=WF_NAME>")'> Delete Current Notebook </button>
</table>
</div>
<br/>
<TMPL_IF NAME=HAS_WORKS>
<div id=workflow_column class='workflow-column'>
<TMPL_LOOP NAME=WORKS_LOOP>
<div class='portlet'>
<div class='portlet-header'><TMPL_VAR NAME=WORK_NAME></div>
<div id="<TMPL_VAR NAME=WORK_ID>" class='portlet-content'>
     <table>
     <tr>
	<td>Description: </td>
     	<td><TMPL_VAR NAME=WORK_DESC></td>
     </tr>
     <tr>
	<td>View: </td>
	<td><a href="<TMPL_VAR NAME=WORK_PARAM>" target='_blank'>View Data</a></tr>
     <tr>
	<td style='vertical-align:top'>Notes: </td>
	<td><p><TMPL_VAR NAME=WORK_NOTE></p></tr>
     <tr>
	<td>Date Created: </td>
	<td><TMPL_VAR NAME=WORK_DATE></tr>
     </table>
<div class='portlet-footer ui-buttonset' style="float:right">
<!--<a href='javascript:void(0)' title='View Work' onClick="see_work_entry(<TMPL_VAR NAME=WORK_ID>);" class='ui-button ui-button-icon-solo ui-corner-all'><span class='ui-icon ui-icon-info'></span></a>-->
<a href='javascript:void(0)' title='Edit Work' onClick="see_work_entry(<TMPL_VAR NAME=WORK_ID>,1,<TMPL_VAR NAME=WF_ID>);" class='ui-button ui-button-icon-solo ui-corner-all'><span class='ui-icon ui-icon-pencil'></span></a>
<a href='javascript:void(0)' title='Delete Work' onClick="delete_work_from_workflow(<TMPL_VAR NAME=WORK_ID>,<TMPL_VAR NAME=WF_ID>)" class='ui-button ui-button-icon-solo ui-corner-all'><span class='ui-icon ui-icon-trash'></span></a>
</div>
</div>
</div>
</TMPL_LOOP>
</div>
<TMPL_ELSE>
Notebook <TMPL_VAR NAME=WF_NAME> contains no works. Click here to add works to this notebook.
</TMPL_IF>
<div id='workflow_editor' style='display:none'>
<p>Please edit the details of your Notebook</p>
<table>
<tr>
<td>Notebook Name:</td>
<td><input type=text value='<TMPL_VAR NAME=WF_NAME>' /></td>
</tr>
<tr>
<td>Notebook Description:</td>
<td><input type=text value='<TMPL_VAR NAME=WF_DESC>' /> </td>
</table>
</div>
<div id=delete_check style='display:none'>
<p>Are you sure you want to delete this notebook?</br>
<strong>Warning:</strong> this process is irreversible.</p>
<!--
<button class='ui-button ui-corner-all' style='float:right' onClick=$(this).dialog('close')>Cancel</button>
<button class='ui-button ui-corner-all' style='float:right' onClick="delete_workflow(<TMPL_VAR NAME=WF_ID>);$('#delete_check').dialog('close');">Delete</button> -->
</div>
<div id=work_dialog></div>
</TMPL_IF>

<!-- Workflow Creation Template -->
<TMPL_IF NAME=WF_CREATE>

<TMPL_IF NAME=MESSAGE>
<TMPL_IF NAME=SUCCESS>
<div class='ui-state-highlight ui-corner-all' style='height:3em'>
<p style='vertical-align:middle'>Notebook <TMPL_VAR NAME=WF_NAME> successfully created! View it <a href='javascript:void(0)' onClick="get_workflow_header(<TMPL_VAR NAME=WF_ID>)">here</a></p>
</div>
<TMPL_ELSE>
<div class='ui-state-error ui-corner-all'> Error in Notebook Creation. Please remember to fill in the following details:
<ul>
<TMPL_VAR NAME=WF_NAME>
<TMPL_VAR NAME=WF_DESC>
</ul>
</div>
<br/>
</TMPL_IF>
</TMPL_IF>
<TMPL_IF NAME=WF_FORM>
Please fill out the following details for your new notebook:<br/>
<table>
<tr>
<td>Notebook Name: </td>
<td><input type=text id=workflow_name></td>
</tr>
<tr>
<td>Notebook Description: </td>
<td><input type=text id=workflow_desc></td>
</tr>
</table>
<button class='ui-button ui-corner-all' onClick=check_new_workflow();>Create!</button>
</TMPL_IF>
</TMPL_IF>

