<TMPL_IF NAME="MAIN">
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.2.0.3.js"></SCRIPT>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.pager.js"></SCRIPT>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.fileupload.js"></SCRIPT>

<SCRIPT language="JavaScript">
$(document).ready(function(){
	pageObj.timestamp = new Array();
	pageObj.timers = new Array();
	
	$.ajaxSetup({
		type: "POST",
		url: "<TMPL_VAR NAME='PAGE_NAME'>",
		dataType: "html",
		cache: false,
	});
});

<TMPL_IF NAME="IS_USER">
$(function(){
	$('#input_upload_file').fileupload({
    	dataType: 'json',
    	formData: {
    		jquery_ajax: 1,
    		fname: 'upload_image_file',
    	},
       	add:
    		function(e, data) {
				if ( verify_image_file(data.files[0]) ) {
					$('#user_image').attr('src', 'picts/ajax-loader-large.gif');
					data.submit();
				}
    		}, 	
		done: 
			function(e, data) {
				if (data.result && data.result.link) {
					$('#user_image').attr('src', data.result.link);
				}
			},
	});
});
function show_recent_activity() {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'get_logs',
			type: 'recent'
		},
		success : function(data) {
			$('#logs').html(data);
			$('#recent').css('font-weight', 'bold');
			$('#important').css('font-weight', 'normal');
		}
	});
}
function show_important_activity() {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'get_logs',
			type: 'important'
		},
		success : function(data) {
			if (data) {
				$('#logs').html(data);
			}
			else {
				$('#logs').html("<span style='font-style:italic;color:gray;'>None ... click the <img src='picts/star-hollow.png'> icon  in your <a href='History.pl' target='_blank'>History</a> to mark items as important.</span>");
			}
			$('#recent').css('font-weight', 'normal');
			$('#important').css('font-weight', 'bold');
		}
	});
}
function select_image_file() {
	$('#input_upload_file').click();
}
function verify_image_file(file) {
	var ext = file.name.split('.').pop();
	if (ext != 'jpg' && ext != 'gif' && ext != 'png') {
		alert('Error: specified file is not an image');
		return 0;
	}
	
	if (file.size > 2*1024*1024) {
		alert('Error: image file is too large (>2MB)');
		return 0;
	}
	
	return 1;
}
function new_group() {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'new_group',
		},
		success : function(data) {
			var obj = jQuery.parseJSON(data);
			if (obj) {			
				$('#groups').html(obj.groups);
				window.open('GroupView.pl?ugid='+obj.ugid);
			}
		}
	});
}
function new_notebook() {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'new_notebook',
		},
		success : function(data) {
			var obj = jQuery.parseJSON(data);
			if (obj) {
				$('#notebooks').html(obj.notebooks);
				window.open('NotebookView.pl?nid='+obj.nid);
			}
		}
	});
}
</TMPL_IF>
</SCRIPT>

<table class="ui-widget-content ui-corner-all">
	<tr style="vertical-align:top">
		<td style="text-align:center">
			<div><img id='user_image' src="<TMPL_VAR NAME='USER_IMAGE'>" width='100' height='100' class="link" style="padding:1px;border:1px solid lightgray;" onclick="select_image_file();"/></div>
			<TMPL_IF NAME="IS_USER">
				<span onclick="select_image_file();" class="small link" >click to change</span>
				<input id="input_upload_file" name="input_upload_file" type="file" data-url='<TMPL_VAR NAME="PAGE_NAME">' style="display:none;"/>
			</TMPL_IF>
		</td>
		<td>
			<table style="white-space:nowrap;">
				<tr>
					<td style="font-weight:bold;color:dimgray;float:right;">User name</td>
					<td style="padding-left:10px;"><TMPL_VAR NAME='USER_NAME'></td>
				</tr>
				<tr>
					<td style="font-weight:bold;color:dimgray;float:right;">Full name</td>
					<td style="padding-left:10px;"><TMPL_VAR NAME='FULL_NAME'></td>
				</tr>
				<tr>
					<td></td>
					<td class="small" style="padding-left:10px;"><TMPL_VAR NAME='DESCRIPTION'></td>
				</tr>
				<tr>
					<td style="font-weight:bold;color:dimgray;float:right;">Email</td>
					<td style="padding-left:10px;"><a href="mailto:<TMPL_VAR NAME='EMAIL'>"><TMPL_VAR NAME='EMAIL'></a></td>
				</tr>
			</table>
		</td>
		<TMPL_IF NAME="IS_USER">
		<td style="padding-left:40px;">
			<span style="font-weight:bold;color:dimgray;">History</span> <span class='link ui-icon ui-icon-extlink' onclick="window.open('History.pl');"></span>
			<span style="padding-left:5px;">
				<span id='recent' class='small link' style="font-weight:bold;" onclick="show_recent_activity();">recent</span>
				<span id='important' class='small link' style="padding-left:5px;" onclick="show_important_activity();">important</span>
			</span>
			<div id='logs' class="small ui-widget-content ui-corner-all" style="width:350px;height:100px;overflow:auto">
				<TMPL_VAR NAME='LOGS'>
			</div>
		</td>
		</TMPL_IF> <!-- IS_USER -->
	</tr>
</table>

<br>

<table class="small" style="overflow:hidden;">
	<tr style="vertical-align:top;">
		<td>
			<span class="large" style="font-weight:bold;color:dimgray;"><img src="picts/group-icon.png" width='20' height='20'/> <TMPL_IF NAME="IS_USER">My </TMPL_IF>Groups</span> <span class='link ui-icon ui-icon-extlink' onclick="window.open('Groups.pl')"></span> <span class='link ui-icon ui-icon-plus' onclick="new_group();"></span>
			<div id="groups" class="small ui-widget-content ui-corner-all" style="width:500px;height:100px;overflow-y:auto">
			<TMPL_VAR NAME='GROUPS'>
			</div>
		</td>
		<td>
			<img src="picts/user-icon.png" width='20' height='20'/>
			<span class="large" style="font-weight:bold;color:dimgray;"> <TMPL_IF NAME="IS_USER">My </TMPL_IF> Collaborators</span>
			<div class="small ui-widget-content ui-corner-all" style="width:160px;height:100px;overflow-y:auto">
			<TMPL_VAR NAME='COLLABORATORS'>
			</div>
		</td>
	</tr>
</table>
<br>

<span class="large" style="font-weight:bold;color:dimgray;"><img src="picts/notebook-icon.png" width='20' height='20'/> <TMPL_IF NAME="IS_USER">My </TMPL_IF>Notebooks</span> <span class='link ui-icon ui-icon-extlink' onclick="window.open('Notebooks.pl')"></span> <span class='link ui-icon ui-icon-plus' onclick="new_notebook();"></span>
<div id="notebooks" class="small ui-widget-content ui-corner-all" style="width:670px;height:100px;overflow-y:auto;resize:both;">
<TMPL_VAR NAME='LISTS'>
</div>
<br>

<span class="large" style="font-weight:bold;color:dimgray;"><img src="picts/dna-icon.png" width='20' height='20'/> <TMPL_IF NAME="IS_USER">My </TMPL_IF>Genomes</span> <span class='link ui-icon ui-icon-extlink' onclick="window.open('Genomes.pl')"></span> <span class='link ui-icon ui-icon-plus' onclick="window.open('LoadGenome.pl')"></span>
<div class="small ui-widget-content ui-corner-all" style="width:670px;height:100px;overflow-y:auto;resize:both;">
<TMPL_VAR NAME='GENOMES'>
</div>
<br>

<span class="large" style="font-weight:bold;color:dimgray;"><img src="picts/testtube-icon.png" width='20' height='20'/> <TMPL_IF NAME="IS_USER">My </TMPL_IF>Experiments</span> <span class='link ui-icon ui-icon-extlink' onclick="window.open('Experiments.pl')"></span> <span class='link ui-icon ui-icon-plus' onclick="window.open('LoadExperiment.pl')"></span>
<div class="small ui-widget-content ui-corner-all" style="width:670px;height:100px;overflow-y:auto;resize:both;">
<TMPL_VAR NAME='EXPERIMENTS'>
</div>

</TMPL_IF> <!-- MAIN -->



<TMPL_IF NAME='GROUP_TABLE'>
	<table class="small">
		<TMPL_LOOP NAME="GROUP_LOOP">
		<tr valign="top">
			<td style="white-space:nowrap;"><TMPL_VAR NAME="GROUP_NAME"></td>
			<td style="white-space:nowrap;"><TMPL_VAR NAME="GROUP_ROLE"></td>
			<td><TMPL_VAR NAME="GROUP_DESC"></td>
		</tr>
		</TMPL_LOOP>
	</table>
</TMPL_IF> <!-- GROUPS_TABLE -->



<TMPL_IF NAME='COLLABORATOR_TABLE'>
	<TMPL_LOOP NAME="COLLABORATOR_LOOP">
		<TMPL_VAR NAME="COLLABORATOR_INFO"><br>
	</TMPL_LOOP>
</TMPL_IF> <!-- COLLABORATOR_TABLE -->



<TMPL_IF NAME='LIST_TABLE'>
	<TMPL_LOOP NAME="LIST_LOOP">
		<TMPL_VAR NAME="LIST_INFO"><br>
	</TMPL_LOOP>
</TMPL_IF> <!-- LIST_TABLE -->



<TMPL_IF NAME='GENOME_TABLE'>
	<TMPL_LOOP NAME="GENOME_LOOP">
		<TMPL_VAR NAME="GENOME_INFO"><br>
	</TMPL_LOOP>
</TMPL_IF> <!-- GENOME_TABLE -->



<TMPL_IF NAME='EXPERIMENT_TABLE'>
	<TMPL_LOOP NAME="EXPERIMENT_LOOP">
		<TMPL_VAR NAME="EXPERIMENT_INFO"><br>
	</TMPL_LOOP>
</TMPL_IF> <!-- EXPERIMENT_TABLE -->



<TMPL_IF NAME='LOG_TABLE'>
	<table class="small" style="border-collapse:collapse;">
		<TMPL_LOOP NAME="LOG_LOOP">
			<tr class="link" style="white-space:nowrap;" onclick="window.open('<TMPL_VAR NAME="LOG_LINK">')">
				<td><TMPL_VAR NAME="LOG_TIME"></td>
				<td><TMPL_VAR NAME="LOG_PAGE"></td>
				<td><TMPL_VAR NAME="LOG_DESC"></td>
			</tr>
		</TMPL_LOOP>
	</table>
</TMPL_IF> <!-- LOG_TABLE -->



<TMPL_IF NAME='ADMIN_AREA'>
<br>
<hr>
Admin Functions:<br>
- Add "make admin" function
</TMPL_IF> <!-- ADMIN_AREA -->
