<TMPL_IF NAME="MAIN">
<SCRIPT type="text/javascript" src="./js/jquery.fileupload.js"></SCRIPT>

<style>
div.deleted { display: none; }
</style>

<SCRIPT type="text/javascript">
var POLL_TIME = 30*1000; // polling rate when user is not idle
var IDLE_TIME = 30*1000; // stop polling after this lapse, then poll on next mousemove

var ITEM_TYPE_ALL 			= <TMPL_VAR NAME="ITEM_TYPE_ALL">;
var ITEM_TYPE_MINE 			= <TMPL_VAR NAME="ITEM_TYPE_MINE">;
var ITEM_TYPE_SHARED 		= <TMPL_VAR NAME="ITEM_TYPE_SHARED">;
var ITEM_TYPE_TRASH 		= <TMPL_VAR NAME="ITEM_TYPE_TRASH">;
var ITEM_TYPE_ACTIVITY 		= <TMPL_VAR NAME="ITEM_TYPE_ACTIVITY">;
var ITEM_TYPE_ACTIVITY_ANALYSES	= <TMPL_VAR NAME="ITEM_TYPE_ACTIVITY_ANALYSES">;
var ITEM_TYPE_ACTIVITY_VIZ	= <TMPL_VAR NAME="ITEM_TYPE_ACTIVITY_VIZ">;
var ITEM_TYPE_USER 			= <TMPL_VAR NAME="ITEM_TYPE_USER">;
var ITEM_TYPE_GROUP 		= <TMPL_VAR NAME="ITEM_TYPE_GROUP">;
var ITEM_TYPE_NOTEBOOK 		= <TMPL_VAR NAME="ITEM_TYPE_NOTEBOOK">;
var ITEM_TYPE_GENOME 		= <TMPL_VAR NAME="ITEM_TYPE_GENOME">;
var ITEM_TYPE_EXPERIMENT	= <TMPL_VAR NAME="ITEM_TYPE_EXPERIMENT">;

$(function() {
	// Initialize dialog boxes
	$(".dialog_box").dialog({autoOpen: false, resizable: false});

	// Initialize globals
	pageObj.timestamp = new Array();
	pageObj.timer = new Array();
	pageObj.timer['item'] = null;
	pageObj.timestamp['idle'] = new Date().getTime();
	
	// Initialize AJAX
	$.ajaxSetup({
		type: "GET",
		url: "<TMPL_VAR NAME='PAGE_NAME'>",
		dataType: "html",
		cache: false,
	});

	// Initialize fileupload plugin
	$('#input_upload_file').fileupload({
    	dataType: 'json',
    	formData: {
    		fname: 'upload_image_file',
    	},
       	add:
    		function(e, data) {
				if ( verify_image_file(data.files[0]) ) {
					$('#user_image').attr('src', 'picts/ajax-loader-large.gif');
					data.submit();
				}
    		}, 	
		done: 
			function(e, data) {
				if (data.result && data.result.link) {
					$('#user_image').attr('src', data.result.link);
				}
			},
	});

	// Initialize dropdown menus
	$("#create_menu").menu()
		.position({
			my: "left top",
			at: "left bottom",
			of: "#create_button"
		})
		.css({ position: 'absolute', width: '130px' });
	$("#send_menu").menu().css({ position: 'absolute', width: '90px' });

	// Get starting page from URL if set
	var toc_id = getURLParameter('p');
	if (!toc_id || toc_id == 'null') {
		toc_id = ITEM_TYPE_MINE;
	}
	
	// Initialize main panels
	exit_item(); // initialize info panel
	toc_select(toc_id); // initialize toc panel
	select_item(); // initialize content icon buttons

	// Setup idle timer
	$(document).mousemove(function() {
		var currentTime = new Date().getTime();
		var idleTime = currentTime - pageObj.timestamp['idle'];
		pageObj.timestamp['idle'] = currentTime;

		if (idleTime > IDLE_TIME) {
			// User was idle for a while, refresh page
			schedule_poll(1);
		}
	});

	// Initiate refresh loop
	schedule_poll();

	// Initialize add-to-notebo0k dialog
	setTimeout(search_notebooks, 1000);
});

function getURLParameter(name) {
    return decodeURI(
        (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
    );
}

function poll() {
	get_contents(1);
}

function schedule_poll(now) {
	cancel_poll();

	if (now) {
		pageObj.timer['poll'] = setTimeout(
			function() { poll(); },
			0
		);		
		return;
	}

	// Quit polling if page idle for too long
	var idleTime = new Date().getTime() - pageObj.timestamp['idle'];
	if (idleTime < IDLE_TIME) {
		pageObj.timer['poll'] = setTimeout(
			function() { poll(); },
			POLL_TIME
		);
	}
}

function cancel_poll() {
	clearTimeout(pageObj.timer['poll']);
}

function toc_toggle_children(toc_id, num_children) {
	//class="link ui-icon ui-icon-triangle-1-s"
//	$('#toc_'+toc_id)
//		.next()
//		.toggleClass('ui-icon-triangle-1-s ui-icon-triangle-1-e');
	$('#toc_'+toc_id)
	.next()
	.attr('src', function(idx, oldSrc) {
        return (oldSrc == 'picts/arrow-down-icon.png' ? 'picts/arrow-right-icon.png' : 'picts/arrow-down-icon.png');
    });
	$('#toc_'+toc_id)
		.parent()
		.nextAll().slice(0, num_children)
		.toggle();
}

function enter_item(obj) {
	if (pageObj.timer['item']) {
		clearTimeout(pageObj.timer['item']);
	}

	pageObj.timer['item'] = setTimeout(
		function() {
			$.ajax({
				data: {
					fname: 'get_item_info',
					item_spec: obj.id,
					timestamp: new Date().getTime()
				},
				success : function(data) {
					if (data) {
						var obj = jQuery.parseJSON(data);
						var myName = arguments.callee.toString();
						if (!pageObj.timestamp[myName] || obj.timestamp >= pageObj.timestamp[myName]) {
							pageObj.timestamp[myName] = obj.timestamp;
							$('#info_panel').html(obj.html);
						}
					}
				}
			});
		},
		500
	);
}

function default_info() {
	$('#info_panel').html("Hover over an item to view additional info.<br><br>Select one or more items to share, organize, delete, or send them to one of CoGe's tools.");
}

function exit_item(obj) {
	if (pageObj.timer['item']) {
		clearTimeout(pageObj.timer['item']);
	}
	pageObj.timer['item'] = setTimeout(
		default_info,
		500
	);
}

function get_selected_items() {
	return $('#contents_table input[type=checkbox]').filter(':checked').filter(':not(:hidden)');
}

function get_item_type(obj) {
	return obj.id.match(/content_\w+_(\w+)/)[1];
}

function select_item() {
	var selected = get_selected_items();
	var num_items = selected.length;

	if (num_items > 0) {
		$('.item-button').removeClass('ui-state-disabled');
		$('#info_panel').html(num_items + ' item' + (num_items > 1 ? 's' : '') + ' selected.<br><br>Click an action icon at the top to share, organize, delete, or analyze.');
	}
	else {
		$('.item-button').addClass('ui-state-disabled');
		default_info();
	}
}

function sync_items(html) {
	var content1 = $('#contents_table div');
	var content2 = $(html).filter('div');

	var insertIndex = 0;
	content2.each(
		function() {
			var match = document.getElementById(this.id);//content1.filter('#'+this.id).get(0);
			if (!match) { // item doesn't exist
				$(this).insertBefore( content1.get(insertIndex) );
			}
			else { // item exists
				var checked = $(match).children('input[type=checkbox]').is(':checked');
				$(this).children('input[type=checkbox]').prop('checked', checked);
				$(match).replaceWith(this);
				insertIndex++;
			}
		}
	);
}

function get_contents(sync) {
	var myName = arguments.callee.toString();
	pageObj.timestamp[myName] = new Date().getTime();
	
	var lastUpdate = (sync ? pageObj.timestamp['lastUpdate'] : 0);

	// Clear pending refresh
	cancel_poll();

	$.ajax({
		data: {
			fname: 'get_contents',
			last_update: lastUpdate,
			timestamp: pageObj.timestamp[myName]
		},
		success : function(data) {
			var obj = jQuery.parseJSON(data);
			if (obj) {
				if (!pageObj.timestamp[myName] || obj.timestamp >= pageObj.timestamp[myName]) {
					pageObj.timestamp[myName] = obj.timestamp;
					
					if (sync) { // merge with existing contents
						sync_items(obj.html);
					}
					else { // replace existing contents
						$('#contents_table').html(obj.html);
					}
					pageObj.timestamp['lastUpdate'] = obj.lastUpdate;
					filter_contents();
				}
			}

			// Setup next refresh
			schedule_poll();
		}
	});	
}

function filter_contents() {
	var search_term = $('#search_input').val();
	search_term = search_term.toLowerCase();

	$('#contents_table div').each(
		function() {
			var item_type = get_item_type(this);
			var show;

			if (pageObj.content_type == ITEM_TYPE_GROUP) {
				show = item_type == ITEM_TYPE_GROUP
						&& !$(this).hasClass('deleted');
			}
			else if (pageObj.content_type == ITEM_TYPE_MINE) {
				show = !$(this).hasClass('deleted') 
						&& !$(this).hasClass('shared') 
						&& item_type != ITEM_TYPE_ACTIVITY
						&& item_type != ITEM_TYPE_ACTIVITY_ANALYSES
						&& item_type != ITEM_TYPE_ACTIVITY_VIZ
						&& item_type != ITEM_TYPE_GROUP;
			}
			else if (pageObj.content_type == ITEM_TYPE_SHARED) {
				show = $(this).hasClass('shared') 
						&& !$(this).hasClass('deleted') 
						&& item_type != ITEM_TYPE_ACTIVITY
						&& item_type != ITEM_TYPE_ACTIVITY_ANALYSES
						&& item_type != ITEM_TYPE_ACTIVITY_VIZ;
			}
			else if (pageObj.content_type == ITEM_TYPE_TRASH) {
				show = $(this).hasClass('deleted');
			}
			else {
				show = (item_type == pageObj.content_type 
						&& !$(this).hasClass('deleted')
						&& !$(this).hasClass('shared'));
			}

			if (show && search_term) {
				show = (this.innerHTML.toLowerCase().indexOf(search_term) >= 0);
			}

			if (show) { $(this).show(); }
			else { $(this).hide(); }
		}
	);
}

function toc_select(toc_id) {
	pageObj.content_type = toc_id;

	// Show/hide action icons based on type of data
	if (toc_id == ITEM_TYPE_TRASH) {
		$('#share_button,#notebook_button,#group_button,#delete_button,#send_button,#cancel_button').hide();
		$('#undelete_button').show();
	}
	else if (toc_id == ITEM_TYPE_GROUP) {
		$('#notebook_button,#send_button,#share_button,#undelete_button,#cancel_button').hide();
		$('#group_button,#delete_button').show();
	}
	else if (toc_id == ITEM_TYPE_SHARED || toc_id == ITEM_TYPE_ACTIVITY || toc_id == ITEM_TYPE_ACTIVITY_VIZ) {
		$('#group_button,#delete_button,#send_button,#undelete_button,#cancel_button').hide();
		$('#share_button,#notebook_button').show();
	}
	else if (toc_id == ITEM_TYPE_ACTIVITY_ANALYSES) {
		$('#share_button,#notebook_button,#group_button,#delete_button,#send_button,#undelete_button').hide();
		$('#cancel_button').show();
	}
	else {
		$('#undelete_button,#group_button,#cancel_button').hide();
		$('#share_button,#notebook_button,#delete_button,#send_button').show();
	}
	
	// Icons are set to invisible on load
	$('.item-button').removeClass('invisible');

	$('#search_input').val('');
	filter_contents();
	select_item();

	$('#toc_'+toc_id)
		.parent()
		.css({'font-weight':'bold'})
		.siblings()
		.css({'font-weight':'normal'});

	var title = $('#toc_label_'+toc_id).html();
	$('#contents_title').html(title);
	
	// Update browser url
	window.history.pushState({}, "", "<TMPL_VAR NAME='PAGE_NAME'>?p="+toc_id);
}

function delete_items() {
	var selected = get_selected_items();
	if (selected.length) {
		selected.parent().fadeOut('fast', 
			function() {
				selected.parent().addClass('deleted');
				selected.prop('checked', false);
				select_item(); // reset button states
			}
		);

		var item_list = selected.map(function(){return this.parentNode.id;}).get().join(',');
		$.ajax({
			data: {
				fname: 'delete_items',
				item_list: item_list
			},
			success : function(data) {
			}
		});
	}
}

function undelete_items() {
	var selected = get_selected_items();
	if (selected.length) {
		selected.parent().fadeOut('fast', 
			function() {
				selected.parent().removeClass('deleted');
				selected.prop('checked', false);
				select_item(); // reset button states
			}
		);

		var item_list = selected.map(function(){return this.parentNode.id;}).get().join(',');
		$.ajax({
			data: {
				fname: 'undelete_items',
				item_list: item_list
			},
			success : function(data) {
			}
		});		
	}
}

function cancel_jobs() {
	var selected = get_selected_items();
	if (selected.length) {
		var item_list = selected.map(function(){return this.parentNode.id;}).get().join(',');
		$.ajax({
			data: {
				fname: 'cancel_jobs',
				item_list: item_list
			},
			success : function(rc) {
				if (rc) {
	            	poll();
	            }
			}
		});		
	}
}

function add_to_notebook_dialog() {
	var selected = get_selected_items();
	if (selected.length) {
		$('#add_to_notebook_dialog').dialog({width:500,height:250}).dialog('open');
	}
}

function wait_to_search (search_func, search_term) {
	if (!search_term || search_term.length > 2) {
		pageObj.search_term = search_term;
		if (pageObj.timer['search']) {
			clearTimeout(pageObj.timer['search']);
		}
		
		pageObj.timer['search'] = setTimeout(
			function() { 
				search_func(pageObj.search_term); 
			},
			500
		);
	}
}

function search_notebooks () {
	var search_term = $('#notebook_search_input').attr('value');
	
	$("#wait_notebook").animate({opacity:1});
	$("#notebook_select").html("<option disabled='disabled'>Searching...</option>");
	pageObj.timestamp['notebooks'] = new Date().getTime();
	
	$.ajax({
		data: {
			fname: 'search_notebooks',
			search_term: search_term,
			timestamp: pageObj.timestamp['notebooks']
		},
		success : function(data) {
			if (data) {
				var obj = jQuery.parseJSON(data);
				if (obj.timestamp >= pageObj.timestamp['notebooks']) {
					$("#notebook_select").html(obj.html);
					$("#wait_notebook").animate({opacity:0});
				}
			}
		},
	});
}

function add_items_to_notebook() {
	var selected = get_selected_items();
	var nid = $('#notebook_select').find('option:selected').val();
	if (nid && selected.length) {
		var item_list = selected.map(function(){return this.parentNode.id;}).get().join(',');
		$.ajax({
			data: {
				fname: 'add_items_to_notebook',
				nid: nid,
				item_list: item_list,
			},
			success : function(data) {
				$('#add_to_notebook_dialog').dialog('close');
			}
		});
	}
	else {
		$('#add_to_notebook_dialog').dialog('close');
	}
}

function share_dialog() {
	var selected = get_selected_items();
	if (selected.length) {
		var item_list = selected.map(function(){return this.parentNode.id;}).get().join(',');
		$.ajax({
			data: {
				fname: 'get_share_dialog',
				item_list: item_list,
			},
			success : function(data) {
				$('#share_dialog').html(data).dialog({width:500}).dialog('open');
			}
		});	
	}
}

function remove_items_from_user_or_group(target_item) {
	var selected = get_selected_items();
	if (target_item && selected.length) {
		var item_list = selected.map(function(){return this.parentNode.id;}).get().join(',');
		$.ajax({
			data: {
				fname: 'remove_items_from_user_or_group',
				target_item: target_item,
				item_list: item_list,
			},
			success : function(data) {
				if (data) {
					$('#share_dialog').html(data);
				}
			}
		});
	}
}

function add_items_to_user_or_group() {
	var selected = get_selected_items();
	var target_item = $('#share_input').data('select_id');
	var role_id = $('#share_role_select').val();
	if (target_item && selected.length) {
		var item_list = selected.map(function(){return this.parentNode.id;}).get().join(',');
		$.ajax({
			data: {
				fname: 'add_items_to_user_or_group',
				target_item: target_item,
				role_id: role_id,
				item_list: item_list,
			},
			success : function(data) {
				if (data) {
					$('#share_dialog').html(data);
				}
			}
		});
	}
}

function search_share () {
	var search_term = $('#share_input').attr('value');
	
	//$("#wait_notebook").animate({opacity:1});
	pageObj.timestamp['share'] = new Date().getTime();
	
	$.ajax({
		data: {
			fname: 'search_share',
			search_term: search_term,
			timestamp: pageObj.timestamp['share']
		},
		success : function(data) {
			var obj = jQuery.parseJSON(data);
			if (obj && obj.items) {
				$("#share_input").autocomplete({source: obj.items}).autocomplete("search");
				//$("#wait_notebook").animate({opacity:0});
			}
		},
	});
}

function search_group () { // FIXME dup of above routine but for group dialog
	var search_term = $('#group_input').attr('value');
	
	pageObj.timestamp['search_group'] = new Date().getTime();
	
	$.ajax({
		data: {
			fname: 'search_share',
			search_term: search_term,
			timestamp: pageObj.timestamp['search_group']
		},
		success : function(data) {
			var obj = jQuery.parseJSON(data);
			if (obj && obj.items) {
				$("#group_input").autocomplete({source: obj.items}).autocomplete("search");
			}
		},
	});
}

function group_dialog() {
	var selected = get_selected_items();
	if (selected.length) {
		var item_list = selected.map(function(){return this.parentNode.id;}).get().join(',');
		$.ajax({
			data: {
				fname: 'get_group_dialog',
				item_list: item_list,
			},
			success : function(data) {
				$('#group_dialog').html(data).dialog({width:500}).dialog('open');
			}
		});	
	}
}

function change_group_role() {
	var selected = get_selected_items();
	var role_id = $('#group_role_select').val();
	if (role_id && selected.length) {
		var target_items = selected.map(function(){return this.parentNode.id;}).get().join(',');
		$.ajax({
			data: {
				fname: 'change_group_role',
				target_items: target_items,
				role_id: role_id,
			},
			success : function(data) {
				if (data) {
					$('#group_dialog').html(data);
				}
			}
		});
	}
}

function add_users_to_group() {
	var selected = get_selected_items();
	var new_item = $('#group_input').data('select_id');
	if (new_item && selected.length) {
		var target_items = selected.map(function(){return this.parentNode.id;}).get().join(',');
		$.ajax({
			data: {
				fname: 'add_users_to_group',
				target_items: target_items,
				new_item: new_item,
			},
			success : function(data) {
				if (data) {
					$('#group_dialog').html(data);
				}
			}
		});
	}
}

function remove_user_from_group(user_id) {
	var selected = get_selected_items();
	if (user_id && selected.length) {
		var target_items = selected.map(function(){return this.parentNode.id;}).get().join(',');
		$.ajax({
			data: {
				fname: 'remove_user_from_group',
				target_items: target_items,
				user_id: user_id,
			},
			success : function(data) {
				if (data) {
					$('#group_dialog').html(data);
				}
			}
		});
	}
}

function hide_top_panel() {
	top_panel_height = $('#top_panel').height();
	$('#top_panel').slideUp('slow', 
		function() {
			$('#show_panel_button').show();
		}
	);
	var contents_panel_height = $('#contents_table').height() + top_panel_height;
	$('#contents_table').animate({height: contents_panel_height}, 'slow');
}

function show_top_panel() {
	$('#show_panel_button').hide();
	$('#top_panel').slideDown('slow');
	var contents_panel_height = $('#contents_table').height() - top_panel_height;
	$('#contents_table').animate({ height: contents_panel_height}, 'slow');
}

function show_recent_activity() {
	$.ajax({
		data: {
			fname: 'get_logs',
			type: 'recent'
		},
		success : function(data) {
			$('#logs').html(data);
			$('#recent').css('font-weight', 'bold');
			$('#important').css('font-weight', 'normal');
		}
	});
}

function show_important_activity() {
	$.ajax({
		data: {
			fname: 'get_logs',
			type: 'important'
		},
		success : function(data) {
			if (data) {
				$('#logs').html(data);
			}
			else {
				$('#logs').html("<span style='font-style:italic;color:gray;'>None ... click the <img src='picts/star-hollow.png'> icon  in your <a href='History.pl' target='_blank'>History</a> to mark items as important.</span>");
			}
			$('#recent').css('font-weight', 'normal');
			$('#important').css('font-weight', 'bold');
		}
	});
}

function select_image_file() {
	$('#input_upload_file').click();
}

function verify_image_file(file) {
	var ext = file.name.split('.').pop();
	if (ext != 'jpg' && ext != 'gif' && ext != 'png') {
		alert('Error: specified file is not an image');
		return 0;
	}
	
	if (file.size > 2*1024*1024) {
		alert('Error: image file is too large (>2MB)');
		return 0;
	}
	
	return 1;
}

function create_menu() {
	var menu = $("#create_menu");

	if (menu.is(":visible")) {
		menu.hide();
	}
	else {
		menu.show();
		menu.one("mouseleave", function() { menu.hide(); } );
	}
}

function create_group_dialog() {
	$('#edit_group_name,#edit_group_desc').val('');
	$('#create_group_dialog').dialog({width:400,height:220}).dialog('open');
	$('#create_menu').hide();
}

function create_notebook_dialog() {
	$('#edit_notebook_name,#edit_notebook_desc').val('');
	$('#create_notebook_dialog').dialog({width:400,height:220}).dialog('open');
	$('#create_menu').hide();
}

function create_new_group() {
	var name = $('#edit_group_name').val();
	if (!name) {
		alert('Please enter a group name.');
		return;
	}
	var desc = $('#edit_group_desc').val();
	var role_id = $('#edit_group_role').val();

    $.ajax({
        data: {
            fname: 'create_new_group',
            name: name,
            desc: desc,
            role_id: role_id
        },
        success: function(rc) {
            if (rc) {
            	poll();
            }
        },
        complete: function() {
        	$('#create_group_dialog').dialog('close');
        }
    });
}

function create_new_notebook() {
	var name = $('#edit_notebook_name').val();
	if (!name) {
		alert('Please enter a notebook name.');
		return;
	}
	var desc = $('#edit_notebook_desc').val();
	var type_id = $('#edit_notebook_type').val();

	var item_list;
	var selected = get_selected_items();
	if (selected.length) {
		item_list = selected.map(function(){return this.parentNode.id;}).get().join(',');
	}

    $.ajax({
        data: {
            fname: 'create_new_notebook',
            name: name,
            desc: desc,
            type_id: type_id,
            item_list: item_list,
        },
        success: function(rc) {
            if (rc) {
            	poll();
            }
        },
        complete: function() {
        	$('#create_notebook_dialog').dialog('close');
        }
    });
}

function send_menu() {
	var menu = $("#send_menu");

	// Positioning is done here instead of onload to work-around misplacement problem
	// due to contents title missing on page load.
	if (!pageObj.positionMenu) {
		menu.position({
			my: "left top",
			at: "left bottom",
			of: "#send_button"
		});
		pageObj.positionMenu = 1;
	}

	if (menu.is(":visible")) {
		menu.hide();
	}
	else {
		menu.show();
		menu.one("mouseleave", function() { menu.hide(); } );
	}
}

function send_items_to(page_name, format) {
	var selected = get_selected_items();
	if (selected.length) {
		var item_list = selected.map(function(){return this.parentNode.id;}).get().join(',');
		$.ajax({
			data: {
				fname: 'send_items_to',
				page_name: page_name,
				format: format,
				item_list: item_list,
			},
			success : function(url) {
				if (url) {
					window.open(url);
				}
			}
		});
	}	
}

function toggle_star(img) {
	$.ajax({
		data: {
			fname: 'toggle_star',
			log_id: img.id,
		},
		success :  function(val) {
			if (val == 0) { $(img).attr({src:"picts/star-hollow.png"}); }
			else { $(img).attr({src:"picts/star-full.png"}); }
		}
	});
}

</SCRIPT>

<div id="top_panel">
	<div style="width:100%;float:left;border-bottom:1px solid lightgray;">
		<span id="hide_panel_button" onClick="hide_top_panel();" class="link ui-icon ui-icon-minus" style="float:right;margin-left:20px;margin-right:5px;border:1px solid lightgray;"></span>

		<!--<div style="float:right;">
			<span style="font-weight:bold;color:dimgray;">History</span> 
			<span class='link ui-icon ui-icon-extlink' onclick="window.open('History.pl');"></span>
			<span style="padding-left:5px;">
				<span id='recent' class='small link' style="font-weight:bold;" onclick="show_recent_activity();">recent</span>
				<span id='important' class='small link' style="padding-left:5px;" onclick="show_important_activity();">important</span>
			</span>
			<div id='logs' class="small" style="min-width:350px;max-width:420px;height:100px;overflow:auto;border-top:1px solid lightgray;background:#f8f8f8">
				<TMPL_VAR NAME='LOGS'>
			</div>
		</div>-->

		<table style="float:left;white-space:nowrap;text-align:center;padding-right:15px;">
			<tr><td>
				<img id='user_image' src="<TMPL_VAR NAME='USER_IMAGE'>" width='55' height='55' class="link" style="padding:1px;border:1px solid lightgray;" onclick="select_image_file();" />
			</td></tr>
			<tr><td>
				<input id="input_upload_file" name="input_upload_file" type="file" data-url='<TMPL_VAR NAME="PAGE_NAME">' class="hidden" />
			</td></tr>
		</table>

		<div style="float:left;color:gray;padding-top:5px;">
			<div><b><TMPL_VAR NAME='FULL_NAME'></b></div>
			<div class="small">username <i><TMPL_VAR NAME='USER_NAME'></i>, id<TMPL_VAR NAME='USER_ID'></div>
			<div class="small"><TMPL_VAR NAME='EMAIL'></div>
		</div>
		<!--<table style="float:left;white-space:nowrap;padding-right:5px;">
			<tr>
				<td style="font-weight:bold;color:dimgray;float:right;">User name</td>
				<td style="padding-left:10px;color:dimgray;"><TMPL_VAR NAME='USER_NAME'></td>
			</tr>
			<tr>
				<td style="font-weight:bold;color:dimgray;float:right;">Full name</td>
				<td style="padding-left:10px;color:dimgray;"><TMPL_VAR NAME='FULL_NAME'></td>
			</tr>
			<tr>
				<td></td>
				<td class="small" style="padding-left:10px;color:dimgray;"><TMPL_VAR NAME='DESCRIPTION'></td>
			</tr>
			<tr>
				<td style="font-weight:bold;color:dimgray;float:right;">Email</td>
				<td style="padding-left:10px;color:dimgray;"><TMPL_VAR NAME='EMAIL'></td>
			</tr>
		</table>-->

		<!--<div class="small" style="float:left;padding-left:50px;color:gray;">
			News:
		</div>-->
	</div>
	<div style="clear:both;height:13px;"></div>
</div>

<div id="bottom-panel" style="width:100%;">
	<div style="float:right;width:200px;">
		<span id="show_panel_button" onClick="show_top_panel();" class="link ui-icon ui-icon-plus hidden" style="float:right;margin-right:5px;border:1px solid lightgray;"></span>

		<div id="info_panel" class="small panel" style="overflow:auto;margin-left:10px;margin-top:29px;border-top:1px solid lightgray;color:gray;">
		</div>
	</div>

	<div style="float:left;width:145px;float:left;margin-right:15px;">
		<div id="toc_panel" class="small panel" style="overflow:auto;padding-right:20px;border-right:1px solid lightgray;margin-bottom:20px;">
			<TMPL_VAR NAME='TOC'>
		</div>
		<span id="create_button" class='ui-button ui-corner-all ui-button-icon-right' style="font-size:0.85em;" onclick="create_menu();">CREATE<span class="ui-icon ui-icon-triangle-1-s"></span></span>
		<ul id="create_menu" class="small hidden">
			<li><a onclick="create_group_dialog();">New Group</a></li>
			<li><a onclick="create_notebook_dialog();">New Notebook</a></li>
			<li><a onclick="window.open('LoadGenome.pl');">Load Genome</a></li>
			<li><a onclick="window.open('LoadAnnotation.pl');">Load Annotation</a></li>
			<li><a onclick="window.open('LoadExperiment.pl');">Load Experiment</a></li>
		</ul>
	</div>

	<div style="height:24px;">
		<span id="contents_title" style="float:left;width:130px;font-weight:bold;"></span>
		<span id="share_button" onClick="share_dialog();" class="invisible item-button link ui-icon ui-icon-person ui-state-disabled" style="margin-left:20px;margin-right:5px;border:1px solid lightgray;"></span>
		<span id="notebook_button" onClick="add_to_notebook_dialog();" class="invisible item-button link ui-icon ui-icon-folder-collapsed ui-state-disabled" style="margin-right:5px;border:1px solid lightgray;"></span>
		<span id="group_button" onClick="group_dialog();" class="invisible item-button link ui-icon ui-icon-gear ui-state-disabled" style="margin-right:5px;border:1px solid lightgray;"></span>
		<span id="delete_button" onClick="delete_items();" class="invisible item-button link ui-icon ui-icon-trash ui-state-disabled" style="margin-right:5px;border:1px solid lightgray;"></span>
		<span id="send_button" onClick="send_menu();" class="invisible item-button link ui-icon ui-icon-arrowthick-1-e ui-state-disabled" style="margin-right:5px;border:1px solid lightgray;"></span>
		<ul id="send_menu" class="small hidden">
			<li><a onclick="send_items_to('CoGeBlast', 2);">CoGeBlast</a></li>
			<li><a onclick="send_items_to('SynFind');">SynFind</a></li>
			<li><a onclick="send_items_to('SynMap', 1);">SynMap</a></li>
			<li><a onclick="send_items_to('GEvo', 1);">GEvo</a></li>
		</ul>
		<span id="undelete_button" onClick="undelete_items();" class="invisible item-button link ui-icon ui-icon-cancel ui-state-disabled" style="margin-right:5px;border:1px solid lightgray;"></span>
		<span id="cancel_button" onClick="cancel_jobs();" class="invisible item-button link ui-icon ui-icon-cancel ui-state-disabled" style="margin-right:5px;border:1px solid lightgray;"></span>
		<input id="search_input" type="search" placeholder="Search" size="25" style="float:right;margin-right:15px;vertical-align:top;border:1px solid lightgray;" onkeyup="filter_contents();" />
	</div>

	<div id="contents_panel" class="small panel">
		<div id="contents_table" style="overflow:auto;height:70%;border-top:1px solid lightgray;">
			<TMPL_VAR NAME='CONTENTS'>
		</div>
	</div>
</div>

<div id="add_to_notebook_dialog" class="dialog_box hidden" title="Add Items to Notebook">
	<table class="small">
		<tr align='left'>
			<td>
				<span style="float:right;">
					<input type="textbox" size="53" id="notebook_search_input" onkeyup="wait_to_search(search_notebooks, this.value);" />
					<span class='ui-button ui-corner-all' onclick="search_notebooks();"><span class="ui-icon ui-icon-arrowrefresh-1-w"></span></span>
					<img id="wait_notebook" src="picts/ajax-loader.gif" style="opacity: 0;" />
				</span>
				<span style="float:left;font-weight:bold;">Notebooks</span>
			</td>  
		</tr>
		<tr>
			<td colspan='2'>
				<select id="notebook_select" size="10" style="width:450px;">
				</select>
			</td>
		</tr>
	</table>
	<br>
	<span href="javascript:void(0)" onClick="add_items_to_notebook();" class='ui-button ui-corner-all'>Add Items</span>
</div>

<div id="create_group_dialog" class="dialog_box hidden" title="Create New Group">
	<table class="small">
		<tr>
			<td>Name:</td>
			<td><input id="edit_group_name" type="textbox" size="53" value="" /></td>
		</tr>
		<tr>
			<td>Description:</td>
			<td><textarea id="edit_group_desc" rows="5" cols="50"></textarea></td>
		</tr>
		<tr>
			<td>Role:</td>
			<td>
				<select id="edit_group_role" style="max-width:265px;">
					<TMPL_VAR NAME="ROLES">
				</select>
			</td>
		</tr> 
	</table>
	<br><br>
	<span onClick="create_new_group();" class="ui-button ui-corner-all ui-button-go">Create Group</span>
</div>

<div id="create_notebook_dialog" class="dialog_box hidden" title="Create New Notebook">
	<table class="small">
		<tr>
			<td>Name:</td>
			<td><input id="edit_notebook_name" type="textbox" size="53" value="" /></td>
		</tr>
		<tr>
			<td>Description:</td>
			<td><textarea id="edit_notebook_desc" rows="5" cols="50"></textarea></td>
		</tr>
		<tr>
			<td>Type:</td>
			<td>
				<select id="edit_notebook_type" style="max-width:265px;">
					<TMPL_VAR NAME="NOTEBOOK_TYPES">
				</select>
			</td>
		</tr> 
	</table>
	<br><br>
	<span onClick="create_new_notebook();" class="ui-button ui-corner-all ui-button-go">Create Notebook</span>
</div>

<div id="share_dialog" class="dialog_box hidden" title="Share Items"></div>

<div id="group_dialog" class="dialog_box hidden" title="Edit Group"></div>

</TMPL_IF> <!-- MAIN -->



<TMPL_IF NAME="DO_TOC">
	<TMPL_LOOP NAME="TOC_ITEM_LOOP">
		<div style="padding-bottom:3px;padding-left:<TMPL_VAR NAME='TOC_ITEM_INDENT'>px;">
			<span id="toc_<TMPL_VAR NAME='TOC_ITEM_ID'>" class="link" onclick="toc_select(<TMPL_VAR NAME='TOC_ITEM_ID'>);">
				<TMPL_VAR NAME="TOC_ITEM_ICON">
				<span id="toc_label_<TMPL_VAR NAME='TOC_ITEM_ID'>">
					<TMPL_VAR NAME="TOC_ITEM_INFO">
				</span>
			</span>
			<TMPL_IF NAME="TOC_ITEM_CHILDREN">
				<!--<span onClick="toc_toggle_children(<TMPL_VAR NAME='TOC_ITEM_ID'>, <TMPL_VAR NAME='TOC_ITEM_CHILDREN'>);" class="link ui-icon ui-icon-triangle-1-s"></span>-->
				<img src="picts/arrow-down-icon.png" class="link" style="width:10px;height:10px;" onClick="toc_toggle_children(<TMPL_VAR NAME='TOC_ITEM_ID'>, <TMPL_VAR NAME='TOC_ITEM_CHILDREN'>);"/>
			</TMPL_IF>
		</div>
	</TMPL_LOOP>
</TMPL_IF>



<TMPL_IF NAME="DO_CONTENTS">
	<TMPL_LOOP NAME="CONTENTS_ITEM_LOOP">
		<div id="content_<TMPL_VAR NAME='CONTENTS_ITEM_ID'>_<TMPL_VAR NAME='CONTENTS_ITEM_TYPE'>" style="border-bottom:1px solid lightgray;padding:3px;padding-left:<TMPL_VAR NAME='CONTENTS_ITEM_INDENT'>px;" class="hidden <TMPL_IF NAME='CONTENTS_ITEM_DELETED'>deleted</TMPL_IF> <TMPL_IF NAME='CONTENTS_ITEM_SHARED'>shared</TMPL_IF>">
			<TMPL_IF NAME="CONTENTS_ITEM_SELECTABLE">
				<input type="checkbox" style="margin-right:8px;" onclick="select_item();" />
			</TMPL_IF>
			<TMPL_VAR NAME="CONTENTS_ITEM_ICON"> 
			<span class="link" onmouseover="enter_item(this.parentNode);" onmouseout="exit_item(this.parentNode);" <TMPL_IF NAME='CONTENTS_ITEM_LINK'>onclick="window.open('<TMPL_VAR NAME="CONTENTS_ITEM_LINK">');"</TMPL_IF>>
				<TMPL_VAR NAME="CONTENTS_ITEM_INFO">
			</span>
		</div>
	</TMPL_LOOP>
</TMPL_IF>


<!--
<TMPL_IF NAME='LOG_TABLE'>
	<table class="small" style="border-collapse:collapse;">
		<TMPL_LOOP NAME="LOG_LOOP">
			<tr class="link" style="white-space:nowrap;" onclick="window.open('<TMPL_VAR NAME="LOG_LINK">')">
				<td><TMPL_VAR NAME="LOG_TIME"></td>
				<td><TMPL_VAR NAME="LOG_PAGE"></td>
				<td><TMPL_VAR NAME="LOG_DESC"></td>
			</tr>
		</TMPL_LOOP>
	</table>
</TMPL_IF>
-->


<TMPL_IF NAME='SHARE_DIALOG'>
	<script>
	$(function(){
		$("#share_input").autocomplete({
			source: [],
			focus: function() { return false; },
			select:
		    	function(event, ui) {
		    		$("#share_input")
		    			.val( ui.item.label )
		    			.data('select_id', ui.item.value);
		    		if (ui.item.value.split(':')[1] == ITEM_TYPE_USER) {
		    			$('#share_role_select').show();
		    		}
		    		else {
		    			$('#share_role_select').hide();
		    		}
		    		return false;
		    	},
		});
	});
	</script>
	<div style="margin:20px;margin-left:5px;">
		<span class="small" style="font-weight:bold;color:dimgray;">Who Has Access</span>
		<div class="small" style="overflow:auto;max-height:120px;padding-left:30px;padding-bottom:10px;border-top:1px solid lightgray;">
			<div style="padding-top:10px;">
				<TMPL_LOOP NAME="USER_LOOP">
					<div>
						<img src="picts/user-icon.png" width="11" height="11"/>
						<span style="color:dimgray;"><TMPL_VAR NAME="USER_FULL_NAME"> (<TMPL_VAR NAME="USER_NAME">) - <TMPL_VAR NAME="USER_ROLE"><span>
						<TMPL_IF NAME="USER_DELETE">
							<span onClick="$(this.parentNode).fadeOut('slow'); remove_items_from_user_or_group('<TMPL_VAR NAME=USER_ITEM>');" class="link ui-icon ui-icon-close"></span>
						</TMPL_IF>
						<br>
					</div>
				</TMPL_LOOP>
				<TMPL_LOOP NAME="GROUP_LOOP">
					<div>
						<img src="picts/group-icon.png" width="11" height="11"/>
						<span style="color:dimgray;"><TMPL_VAR NAME="GROUP_NAME"> (group) - <TMPL_VAR NAME="GROUP_ROLE"></span>
						<TMPL_IF NAME="GROUP_DELETE">
							<span onClick="$(this.parentNode).fadeOut('slow'); remove_items_from_user_or_group('<TMPL_VAR NAME=GROUP_ITEM>');" class="link ui-icon ui-icon-close"></span>
						</TMPL_IF>
						<br>
						<TMPL_LOOP NAME="GROUP_USER_LOOP">
							<span style="color:dimgray;padding:5px;padding-left:20px;">
							<img src="picts/user-icon.png" width="11" height="11"/>
							<TMPL_VAR NAME="GROUP_USER_FULL_NAME"> (<TMPL_VAR NAME="GROUP_USER_NAME">)<span><br>
						</TMPL_LOOP>
					</div>
				</TMPL_LOOP>
				<TMPL_LOOP NAME="NOTEBOOK_LOOP">
					<div>
						<img src="picts/notebook-icon.png" width="11" height="11"/>
						<span style="color:dimgray;"><TMPL_VAR NAME="NOTEBOOK_NAME"> (notebook)</span>
						<br>
						<TMPL_LOOP NAME="NOTEBOOK_USER_LOOP">
							<span style="color:dimgray;padding:5px;padding-left:20px;">
							<img src="picts/user-icon.png" width="11" height="11"/>
							<TMPL_VAR NAME="NOTEBOOK_USER_FULL_NAME"> (<TMPL_VAR NAME="NOTEBOOK_USER_NAME">)<span><br>
						</TMPL_LOOP>
					</div>
				</TMPL_LOOP>				
				<TMPL_IF NAME="ACCESS_MSG">
					<div style="color:dimgray;font-style:italic;">
						<TMPL_VAR NAME="ACCESS_MSG">
					</div>
				</TMPL_IF>
			</div>
		</div>
		<br>
		<span class="small" style="font-weight:bold;color:dimgray;">Add Access</span>
		<div class="small" style="padding:20px;padding-left:30px;border-top:1px solid lightgray;">
			<TMPL_IF NAME="IS_EDITABLE">
				<span style="color:dimgray">Enter names or groups:</span><br>
				<input id="share_input" type="search" maxlength="40" spellcheck="false" style="width:270px;border:1px solid lightgray;" onkeyup="wait_to_search(search_share, this.value);" />
				<select id="share_role_select" class="hidden"><TMPL_VAR NAME="ROLES"></select>
				<span href="javascript:void(0)" onClick="add_items_to_user_or_group();" class='ui-button ui-corner-all'>Add</span>
			<TMPL_ELSE>
				<span style="color:dimgray">
					You don't have permission to modify the selected item(s).
				</span>
			</TMPL_IF>
		</div>
		<!--<br>
		<span href="javascript:void(0)" onClick="$('#share_dialog').dialog('close')" class='ui-button ui-corner-all'>Done</span>-->
	</div>
</TMPL_IF>



<TMPL_IF NAME='GROUP_DIALOG'>
<script>
$(function(){
	$("#group_input")
		.autocomplete({
			source: [],
			focus: function() { return false; },
			select:
		    	function(event, ui) {
		    		$("#group_input")
		    			.val( ui.item.label )
		    			.data('select_id', ui.item.value);
		    		return false;
		    	},
		});
	$("#group_input").focus(); // why no work!?
});
</script>
<div style="margin:20px;margin-left:5px;">
	<div style="padding-bottom:10px;">
		<span class="small" style="font-weight:bold;color:dimgray;">Group Role:</span>
		<select id="group_role_select" onchange="change_group_role();"><TMPL_VAR NAME="ROLES"></select>
	</div>
	<br>
	<span class="small" style="font-weight:bold;color:dimgray;">Group Members</span>
	<div class="small" style="overflow:auto;max-height:120px;padding-left:30px;padding-bottom:10px;border-top:1px solid lightgray;">
		<div style="padding-top:10px;">
			<TMPL_LOOP NAME="USER_LOOP">
				<div>
					<img src="picts/user-icon.png" width="11" height="11"/>
					<span style="color:dimgray;"><TMPL_VAR NAME="USER_FULL_NAME"> (<TMPL_VAR NAME="USER_NAME">) <TMPL_VAR NAME="USER_ROLE"><span>
					<TMPL_IF NAME="USER_DELETE">
						<span onClick="$(this.parentNode).fadeOut('slow'); remove_user_from_group('<TMPL_VAR NAME=USER_ITEM>');" class="link ui-icon ui-icon-close"></span>
					</TMPL_IF>
					<br>
				</div>
			</TMPL_LOOP>
			<TMPL_IF NAME="ACCESS_MSG">
				<div style="color:dimgray;font-style:italic;">
					<TMPL_VAR NAME="ACCESS_MSG">
				</div>
			</TMPL_IF>
		</div>
	</div>
	<br>
	<span class="small" style="font-weight:bold;color:dimgray;">Add Member</span>
	<div class="small" style="padding:20px;padding-left:30px;border-top:1px solid lightgray;">
		<TMPL_IF NAME="IS_EDITABLE">
			<span style="color:dimgray">Enter names or groups:</span><br>
			<input id="group_input" type="search" maxlength="40" spellcheck="false" style="width:270px;border:1px solid lightgray;" onkeyup="wait_to_search(search_group, this.value);" />
			<span href="javascript:void(0)" onClick="add_users_to_group();" class='ui-button ui-corner-all'>Add</span>
		<TMPL_ELSE>
			<span style="color:dimgray">
				You don't have permission to modify this group.
			</span>
		</TMPL_IF>
	</div>
	<!--<br>
	<span href="javascript:void(0)" onClick="$('#group_dialog').dialog('close');" class='ui-button ui-corner-all'>Done</span>-->
</div>
</TMPL_IF>



<TMPL_IF NAME='ERROR_DIALOG'>
<div class="small" align='center'>
	<br>
	<TMPL_VAR NAME='ERROR_MESSAGE'>
	<br>
	<br>
	<span style="font-size:.75em;" class='ui-button ui-corner-all' onClick="$(this.parentNode.parentNode).dialog('close');">&nbsp&nbsp;OK&nbsp&nbsp;</span>
</div>
</TMPL_IF>



<TMPL_IF NAME='LOGIN'>
	<TMPL_INCLUDE NAME="widgets/Login.tmpl">
</TMPL_IF>



<TMPL_IF NAME='ADMIN_AREA'>
<!--
<br>
<hr>
Admin Functions:<br>
-->
</TMPL_IF> <!-- ADMIN_AREA -->
