<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.2.0.3.js"></SCRIPT>
<SCRIPT language="JavaScript" type="text/javascript" src="./js/jquery.tablesorter.pager.js"></SCRIPT>
<SCRIPT language="JavaScript">

$(document).ready(function(){
	$('#genome_table').tablesorter({
		cssAsc: 'headerSortUp',		// Class name for ascending sorting action to header
		cssDesc: 'headerSortDown',	// Class name for descending sorting action to header
	//	cssHeader: 'header',			// Class name for headers (th's)
		widgets: ['zebra'],
		headers: {0: {sorter: false},},
	});
	$.ajaxSetup({
	               type: "POST",
	               url: "/CoGe/GenomeAlign.pl",
	               //dataType: "html",
	               cache: false,
	});
	$("#tabs").tabs();
	pageObj.tempurl = '<TMPL_VAR NAME="TEMPURL">';

});

//set up the jquery ui

function genome_checkboxes(){
  $('#results').html('<div id=monitor class="dna small" style="height:400px;width:800px;overflow:scroll;">Initializing alignment run. . .</div>');
  var action = $('#checked_action').val();
  var accn=",";
  $('#genome_table :checkbox').each(function(){
    if (this.checked == true) accn = accn + this.id+",";
  });
  if (accn == ",") {
   alert("Danger Will Robinson!\n1D-10T error!  You have not checked any genomes.");
   return;
  }
  run_alignment(accn);
}

function run_alignment(dsgids) {
	 var basename = pageObj.basename;
//	 var algo = $('#algo').value();
	 $.ajax({
            data: {
                   jquery_ajax: 1,
		   dsgids: dsgids,
		   basename: basename,
                   fname: 'run_alignment'
                  },
           success : function results(stuff) {$('#results').html(stuff);}
	});

}

function readlog() {
	 var basename = pageObj.basename;
	 $.ajax({
            data: {
                   jquery_ajax: 1,
		   logfile: basename,
		   prog: 'GenomeAlign',
                   fname: 'read_log'
                  },
            success : monitor_log
	});

}

function monitor_log (log)
{
  pageObj.finished =0;
  if (log.match(/root alignment length/))
   {
     pageObj.finished=1;
   }
  var waittime = pageObj.waittime;
  pageObj.waittime = waittime*2;
  var logfile = pageObj.tempurl+pageObj.basename+".log";
  var message = "Log file: <span class=link onclick=window.open('"+logfile+"');>Link to file</span><br>";
  message = message+"<br>Next updtae in "+waittime/1000+" seconds.<br><br>";
  message = message+"Log contents:<br><br>";
  message = message+log.replace(/\n/g,"<br>");
  if (!pageObj.finished)
   {
     $('#monitor').html(message);
     setTimeout("readlog(pageObj.logfile)", waittime);
   }
}

function populate_page_obj(basename)
 {
  if (!basename) {basename = rand()}
  pageObj.basename = basename;
  pageObj.nolog = 0;
  pageObj.waittime = 1000;
 }

function rand ()
{
  return ( Math.floor ( Math.random ( ) * 99999999 + 1 ) );
}

</SCRIPT>
  <div id=results class="ui-widget-content ui-corner-all"></div>
  <div id=tabs style='margin-top: 0.5em'>
   <ul>
     <li class="small">
        <a href="#tab1">
        <span>Configure Analysis</span>
	</a>
     </li>
     <li class="small">
        <a href="#tab2">
        <span>Genome List</span>
	</a>
     </li>
  </ul>

 <div id="tab1">
 </div> <!--close tab 1-->
 <div id="tab2">
	<div class ="small"> Genome Count: <TMPL_VAR NAME="GENOME_COUNT"> <div class="link" onclick=window.open('<TMPL_VAR NAME="GENOMELIST_LINK">');>Generate Genome List</div></div>
	<TABLE id='genome_table' class="ui-widget-content ui-corner-all">
	<THEAD align=left>
	 <tr>
	  <TH> </TH>
	  <TH >Genome Name</TH>
	  <TH >Description</TH>
	  <TH >Sequence Type</TH>
	  <TH >Version</TH>
	  <TH >ChrCount</TH>
	  <TH >Length (bp)</TH>
	</th>
	  </tr>
	</THEAD>
	<tbody align=left valign="top" id="genome_table_body" class=small>
	 <TMPL_LOOP NAME=INFO>
	   <TR>
	     <TD><input type=checkbox checked id='<TMPL_VAR NAME=DSGID>'><input type=hidden id='dsgid_<TMPL_VAR NAME=COUNT>' value='<TMPL_VAR NAME=DSGID>'></TD>
	     <TD><span class=link onclick=window.open('OrganismView.pl?dsgid=<TMPL_VAR NAME=DSGID>')> <TMPL_VAR NAME=NAME></span></TD>
	     <TD><TMPL_VAR NAME=DESC></TD>
	     <TD><TMPL_VAR NAME=TYPE></TD>
	     <TD align=center><TMPL_VAR NAME=VER></TD>
	     <TD align=center><TMPL_VAR NAME=CHR_COUNT></TD>
	     <TD align=right><TMPL_VAR NAME=LENGTH></TD>

	   </TR>
	  </TMPL_LOOP>
	 </tbody>
	</TABLE>
	</form>

	<span href="javascript:void(0);" class='ui-button ui-corner-all ui-button-icon-left' onclick="$('#genome_table tr :checkbox').attr('checked', true);"><span class="ui-icon ui-icon-check"></span>Check All</span>
	<span href="javascript:void(0);" class='ui-button ui-corner-all ui-button-icon-left' onclick="$('#genome_table tr :checkbox').attr('checked', false);"><span class="ui-icon ui-icon-minus"></span>Uncheck All</span>

 </div> <!--close tab 2-->
</div> <!--close all tabs-->
 <span style="font-size: 1em" class='ui-button ui-corner-all ui-button-go ' onclick="

  populate_page_obj();
  genome_checkboxes();setTimeout('readlog()',2000);

">Run Alignment</span><span id=retrieve_message class=alert></span>
