<SCRIPT language="JavaScript">
// Begin Widget API -----------------------------------------------------------
// callbacks:
//		add_annotation()
//		update_annotation()
// End Widget API -------------------------------------------------------------

function wait_to_search (search_func) {
	if (pageObj.time) {
		clearTimeout(pageObj.time);
	}

	pageObj.time = setTimeout(function() { search_func(); }, 500);
}

function search_annotation_types () {
	type_group  = $("#edit_annotation_type_group").val();
	search_term = $("#edit_annotation_type").val();
	if (search_term.length > 2) {
		$.ajax({
			data: {
				jquery_ajax: 1,
				fname: 'search_annotation_types',
				type_group: type_group,
				search_term: search_term,
			},
			success : function(val) {
				var items = jQuery.parseJSON(val);
				$("#edit_annotation_type").autocomplete("option", "source", items);
				$("#edit_annotation_type").autocomplete("search");
			},
		});
	}
}

function get_annotation_type_groups () {
	$.ajax({
		data: {
			jquery_ajax: 1,
			fname: 'get_annotation_type_groups'
		},
		success : function(val) {
			var items = jQuery.parseJSON(val);
			$("#edit_annotation_type_group").autocomplete("option", "source", items);
			$("#edit_annotation_type_group").autocomplete("search");
		},
	});
}

function verify_image_file(file) {
	ext = file.name.split('.').pop();
	if (ext != 'jpg' && ext != 'gif' && ext != 'png') {
		alert('Error: specified file is not an image');
		return 0;
	}
	
	if (file.size > 1*1024*1024) {
		alert('Error: image file is too large (>1MB)');
		return 0;
	}
	
	return 1;
}

$(function() {
	$("#edit_annotation_type").autocomplete({source:[]});
	$("#edit_annotation_type_group").autocomplete({source: function() { get_annotation_type_groups(); }});
	//get_annotation_type_groups();
});
</SCRIPT>
<table class="small">
 <tr valign='top'>
  <td>Annotation:</td>
  <td><textarea id="edit_annotation" rows=5 cols=50 ><TMPL_VAR NAME=ANNOTATION></textarea></td>
 </tr>
 <tr>
  <td>Link:</td>
  <td><input id="edit_link" type="textbox" size="53" value="<TMPL_VAR NAME=LINK>"></td>
 </tr>
 <tr>
  <td>Type:</td>
  <td><input id="edit_annotation_type" onkeypress="wait_to_search(search_annotation_types, 0, this.value);" size="53" value="<TMPL_VAR NAME=DEFAULT_TYPE>"></td>
 </tr> 
 <tr>
  <td>Type Group:</td>
  <td><input id="edit_annotation_type_group" size="53"> (optional)</td>
 </tr>
 <tr>
  <td valign='top'>Image:</td>
  <td>
   <input id="edit_annotation_image" name="edit_annotation_image" type="file">
  </td>
 </tr>
</table>
<span id='add_annotation_button' onClick="add_annotation();" class='ui-button ui-corner-all ui-button-go'>Add</span>
<span id='update_annotation_button' onClick="update_annotation();" style='display:none;' class='ui-button ui-corner-all ui-button-go'>Update</span>
<img id="wait_annotation" src="picts/ajax-loader.gif" style="opacity: 0;" />