<div class="small note" style="width:400px;border-top:1px solid lightgray;padding-top:5px;">
<a href='http://en.wikipedia.org/wiki/Beta_test#Beta'><img src='picts/beta-icon.png'></a>
Note: this feature is fairly new and still undergoing testing.<br>
Please let us know if you experience any problems or have suggestions at <a href="mailto:coge.genome@gmail.com">coge.genome@gmail.com</a>.
</div>
