<style>
.ui-resizable-helper {
	border: 1px solid gray;
    background-color: gray;
    opacity: .2;
}
</style>

<script id="fileselect-template" type="text/template">
	<div id='fileselect-tabs'>
	  <ul>
	    <li class="small"><a href="#fileselect-tab-1">CyVerse Data Store</a></li>
	    <li class="small"><a href="#fileselect-tab-2">FTP/HTTP</a></li>
	    <li class="small"><a href="#fileselect-tab-3">Upload</a></li>
	    <TMPL_IF NAME='ENABLE_NCBI'>
	    <li class="small"><a href="#fileselect-tab-4">NCBI</a></li>
	    </TMPL_IF>
	  </ul>
	
	  <div id="fileselect-tab-1" class="small">
		<div style="white-space:nowrap;border-bottom:1px solid gray;">
			<span id="ids_status" style="float:right;"></span>
			<input class="fileselect-filter" type="search" placeholder="Search" size="25" style="float:right;margin-right:15px;" />
			<span class='link fileselect-home'><span class='ui-icon ui-icon-home'></span>Home</span>&nbsp;&nbsp;
			<span class='link fileselect-shared'><span class='ui-icon ui-icon-folder-collapsed'></span>Community Data</span>&nbsp;&nbsp;
			<span class='link fileselect-up'><span class='ui-icon ui-icon-arrowreturnthick-1-n'></span>Go Up</span>&nbsp;&nbsp;
			<span class='link fileselect-refresh'><span class='ui-icon ui-icon-refresh'></span>Refresh</span>&nbsp;&nbsp;
			<TMPL_UNLESS NAME='DISABLE_IRODS_GET_ALL'>
			<span class='link fileselect-getall'><span class='ui-icon ui-icon-transferthick-e-w'></span>Get All Files</span>
			</TMPL_UNLESS>
		</div>
		<div id="ids_current_path" style="word-wrap:break-word; font-weight:bold; padding-top:10px;"></div>
	    <div id="ids_panel" style="overflow-y:auto;overflow-x:auto;height:154px;">
	    	<table id="ids_table" class="small" style="width:100%;"></table>
	    </div>
	  </div>
	
	  <div id="fileselect-tab-2" class="small" style="height:200px;">
	  	Enter the location of the file or directory to retrieve.<br><br>
	    URL: <input id="input_url" size="60" style="color:gray;"/>
	    <span id="ftp_get_button" class='ui-state-disabled ui-button ui-corner-all coge-button-sm'> Get </span><br>
	    <div class="link" onclick="$(this).hide(); $('#ftp_login').fadeIn();" style="padding-top:5px;">Login (optional)...</div>
	    <div id="ftp_login" style="display:none;padding-top:5px;">
	    	Username: <input id="input_username" size="15" style="color:gray;"/>
	    	Password: <input id="input_password" size="15" style="color:gray;"/>
	    </div>
	    <br>
	    <div id="ftp_status" class="note"></div>
	    <br>
	    <span class="note">Note: FTP/HTTP transfers, including login information, are not secure (encrypted).</span>
	  </div>
	
	  <div id="fileselect-tab-3" class="small" style="height:200px;">
		Select a file to upload from your computer.  This method is best for smaller files (less than 200MB, 2GB maximum).
		For larger files use the CyVerse Data Store. <br><br><br>
	    File: <input id="input_upload_file" name="input_upload_file" type="file" size="30" data-url='<TMPL_VAR NAME="PAGE_NAME">' />
	  </div>
	
	  <TMPL_IF NAME='ENABLE_NCBI'>
	  <div id="fileselect-tab-4" class="small" style="height:200px;">
	    Enter the NCBI accession number of the item to add.<br><br>
	    <div>
	      <span>Accession: <input id="input_accn" size="15" /></span>
	      <span id="ncbi_get_button" class='ui-state-disabled ui-button ui-corner-all coge-button-sm'> Get </span>
	      <span id="ncbi_status" class="note" style="padding-left:15px;min-height:50px;"></span>
	    </div>
	    <div class="note" style="padding-top:20px">
	    	Note: The organism, version, type, and source fields do not need to be specified.  The restricted option
	    	is ignored, all data from NCBI is made public.
	    </div>
	  </div>
	  </TMPL_IF>
	</div>
</script>