<!-- Methylation Analysis -->
<script id="methyl-template" type="text/template">
    <div class="form-section">
	    <h4>Methylation Analysis</h4>

	    <div class="form-field">
            <label class="col-md-2">Enable:</label>
            <input id="methyl" type="checkbox">
        </div>

        <div id="methyl-container" class="hidden"></div>
    </div>
</script>

<!-- Methylation Pipeline Templates -->
<script id="bismark-methyl-template" type="text/template">
        <div class="form-field">
            <label class="col-md-2">Bismark:</label>
            <div class="form-group">
                <div class="form-entry" title="Remove PCR duplicates with bismark_deduplicate.">
                    <label>Deduplicate</label>
                    <input id="bismark-deduplicate" type="checkbox"/>
                </div>
                <div class="form-entry" title="Filter output methylation summary for this minimum coverage level.">
                    <label>Minimum Coverage</label>
                    <input id="bismark-min_coverage" type="number" value="5"/>
                </div>
                <div class="form-entry" title="Ignore bisulfite mismatches within this many nucleotides of the 5' end.">
                    <label>--ignore</label>
                    <input id="--ignore" type="number" value="0"/>
                </div>
                <div class="form-entry" title="Ignore bisulfite mismatches within this many nucleotides of the 3' end.">
                    <label>--ignore_3prime</label>
                    <input id="--ignore_3prime" type="number" value="0"/>
                </div>
                <div class="form-entry" title="Ignore bisulfite mismatches within this many nucleotides of the 5' end of read two of paired end data (only active if paired end data is specified).">
                    <label>--ignore_r2</label>
                    <input id="--ignore_r2" type="number" value="0"/>
                </div>
                <div class="form-entry" title="Ignore bisulfite mismatches within this many nucleotides of the 3' end of read two of paired end data (only active if paired end data is specified).">
                    <label>--ignore_3prime_r2</label>
                    <input id="--ignore_3prime_r2" type="number" value="0"/>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="bwameth-methyl-template" type="text/template">
    <div id="bwameth">
        <div class="form-field">
            <label class="col-md-2">BWA-meth/PileOMeth:</label>
            <div class="form-group">
                <div class="form entry" title="Remove PCR duplicates with picard tools.">
                    <label>Deduplicate</label>
                    <input id="picard-deduplicate" type="checkbox"/>
                </div>
                <div class="form-entry" title="Filter output methylation summary for this minimum coverage level.">
                    <label>Minimum Coverage</label>
                    <input id="pileometh-min_coverage" type="number" value="5"/>
                </div>
                <div class="form-entry" title="Inclusion regions for methylation calls from original top strand (default: entire read '0,0,0,0') (see documentation).">
                    <label>--OT</label>
                    <input id="--OT" type="text" value="0,0,0,0"/>
                </div>
                <div class="form-entry" title="Inclusion regions for methylation calls from original top bottom (default: entire read '0,0,0,0') (see documentation).">
                    <label>--OB</label>
                    <input id="--OB" type="text" value="0,0,0,0"/>
                </div>
            </div>
        </div>
    </div>
</script>

<!-- SNP Analysis -->
<script id="snp-template" type="text/template">
    <div class="form-section">
        <h4>SNP Identification</h4>

        <div class="form-field">
            <label class="col-md-2">Enable:</label>
            <input id="snps" type="checkbox">
        </div>

        <div class="form-field">
            <label class="col-md-2">Method:</label>
            <select id="snp-method" disabled>
                <option value="coge">CoGe Basic</option>
                <option value="samtools">SAMtools</option>
                <option value="platypus">Platypus</option>
                <!--<option value="gatk" disabled>GATK -- coming soon!</option>-->
            </select>
        </div>

        <div id="snp-container" class="hidden"></div>
    </div>
</script>

<script id="snp-template2" type="text/template">
<div class="form-section">
    <div class="form-field">
        <label class="col-md-2">Method:</label>
        <select id="snp-method" disabled>
            <option value="coge" selected>CoGe Basic</option>
            <option value="samtools">SAMtools</option>
            <option value="platypus">Platypus</option>
            <!--<option value="gatk" disabled>GATK -- coming soon!</option>-->
        </select>
    </div>

    <div id="snp-container" class="hidden"></div>
</div>
</script>

<!-- SNP Finder Method Templates -->
<script id="coge-snp-template" type="text/template">
    <div id="coge">
        <div class="form-field">
            <label class="col-md-2">CoGe:</label>
            <div class="form-group">
                <div class="form-entry">
                    <label>minimum read depth:</label>
                    <input id="min-read-depth" type="number" value="10"/>
                </div>
                <div class="form-entry">
                    <label>minimum base quality:</label>
                    <input id="min-base-quality" type="number" value="20"/>
                </div>
                <div class="form-entry">
                    <label>minimum high-quality allele count:</label>
                    <input id="min-allele-count" type="number" value="4"/>
                </div>
                <div class="form-entry">
                    <label>minimum allele frequency:</label>
                    <input id="min-allele-freq" type="number" step="0.1" value="0.1"/>
                </div>
                <div class="form-entry">
                    <label>scale for FAST quality encoding:</label>
                    <input id="scale" type="number" value="32"/>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="samtools-snp-template" type="text/template">
    <div id="samtools" class="form-field">
        <label class="col-md-2">Samtools:</label>
        <div class="form-group">
            <div class="form-entry">
                <label>minimum read depth:</label>
                <input id="min-read-depth" type="number" value="6"/>
            </div>
            <div class="form-entry">
                <label>maximum read depth:</label>
                <input id="max-read-depth" type="number" value="10"/>
            </div>
        </div>
    </div>
</script>

<script id="platypus-snp-template" type="text/template">
    <div id="platypus" class="form-field">
        <label class="col-md-2">Platypus:</label>
        <div class="form-group italic">
        	No options
        </div>
    </div>
</script>

<script id="gatk-snp-template" type="text/template">
    <div id="gatk" class="form-field">
        <label class="col-md-2">GATK:</label>
        <!--
        <div class="form-group">
            <div class="form-entry">
                <label>-g:</label>
                <input type="number" value="5"/>
            </div>
            <div class="form-entry">
                <label>-g:</label>
                <input type="number" value="5"/>
            </div>
        </div>
        -->
    </div>
</script>

<script id="expression-template" type="text/template">
	<div class="form-section">
	    <h4>Expression Analysis</h4>
	    <div class="form-field">
	        <label class="col-md-2">Enable:</label>
	        <input id="expression" type="checkbox">
	    </div>
	
	    <div id="expression-container" class="form-field hidden">
	        <label class="col-md-2">Options:</label>
	        <div class="form-group">
	            <label>-q:</label>
	            <input id="-q" type="number" title="base quality threshold (samtools depth)" value="20">
	        </div>
	    </div>
	</div>
</script>
