<script id="progress-template" type="text/template">
    <div class="log">
    </div>
    <br>
    <div class="status">
        <span class="small progress-link r"></span>
        <span class="msg">Please wait ... <img src="picts/ajax-loader.gif"/></span>
        <div class="small hidden alert"></div>
    </div>
    <div class="coge-buttonset">
        <span class="finished hidden">Finished! <img src="picts/thumbs_up.png"></span>
        <span class="error hidden">An error occurred <img style="vertical-align:text-top" src="picts/thumbs_down.png"></span>
        <span class="buttons"></span>
        <span class="ok ui-button ui-corner-all hidden r">OK</span>
    	<span class="cancel ui-button ui-corner-all ui-button-go hidden r">Cancel</span>
        <span class="logfile hidden">... <a href="">Log file</a></span>
    </div>
</script>