<script id="wizard-template" type="text/template">
	<div id="wizard" class="wizard wizard-coge">
	    <div class="header">
	        <div class="sections">
	        </div>
	        <div class="r small link">Need help?</div>
	    </div>
	    <div id='error_help_text' class='alert-box alert-box-warn hidden'></div>
	    <div id="step-container"></div>
	
	    <div class="nav-control coge-buttonset">
	        <button class="done ui-button ui-corner-all r">Start Loading</button>
	        <button class="next ui-button ui-corner-all r">Next</button>
	        <button class="prev ui-button ui-corner-all" disabled>Previous</button>
	    </div>
	</div
</script>